#page-cv{
	width: 1072px;
	float: left;
}
#form-cv{
	width: 900px;
	min-height: 1273px;	
	float: left;
	position: relative;
	font-size: 15px;
	line-height: 24px;
	color:#434748;
	border: solid 3px #f9ad81;
	font-weight: 450;
	border-left: solid 50px #f9ad81;
			
}
#form-cv p{
	margin-top: 0;
	margin-bottom: 6px
}
#sortable .cvo-block{
	margin-bottom: 25px;
	margin-top: 20px;
}


#cv-main{
	display: table;
}
#cv-top{	
	width: 35.6%;
	float: left;

}
#cv-content{
	width: 54.6%;
	min-height: 1273px;
	float: right;
	position: relative;
	padding-right: 15px;
}
#cv-right{
	width: 35.6%;
	min-height: 863px;
	float: left;	
	position: relative;
	padding: 0px 15px;
}

p.skill-name input{
	color: #434748!important;
}

#cv-right .cvo-block span{
	color: #434748;

}

#cv-right .ctbx {
	padding-bottom: 0;
	margin:0;
}
.skill{
	margin-top: 15px
}


#cv-top h1{
	font-size: 27px;	
	padding:5px 30px 5px 30px;
	line-height: normal;
	text-transform: uppercase;
	text-align: center;
    font-weight: 700;
    margin-bottom: 0px;
    letter-spacing: 2px;
    color: #000000;
    margin-left: 0px
}

#cv-top h1 span{
	padding: 0px 15px;
}

#cv-top h2{
	font-size: 16px;
	font-weight: 500;
	text-align: center;
	    margin-bottom: 1px;

}
.box-01 p{		
    overflow: hidden;
}
.box-01{		
	overflow: hidden
}
#cv-content .ir{
	
}
#cv-content p{
	margin-bottom: 5px
}
#cv-content .ir a{
	color: #2ebb2f
}
#cv-right .h3, #cv-content .head{
	font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    text-transform: uppercase;
    text-align: center;
    border-bottom:dotted 2px #f9ad81;
    text-align: right;
    
    color: #000000;
}
#cv-content .head{

}

#cv-content .head span{
	border-right: solid 5px #f9ad81;
	padding: 3px 15px;
	margin: 5px 0px;
}

#cv-right .h3 span{
	
	padding: 3px 15px;
	margin: 3px 0px;
	
}
#cv-content h3{	
    font-size: 15px;
}

#cv-content .head{	
	
}

#cv-content .cvo-block {
    padding: unset;
}




#cv-right .h3{	
    border-bottom:dotted 2px #f9ad81;
    text-align: right;
    color: #f9ad81;  
}

#cv-content span{
	display: inline-block;
	padding-right: 10px;
	padding-left: 10px;
	z-index: 9999;
}

#cv-right .h3:first-child{
	margin-top: 0
}
.ctbx{
	margin-bottom: 25px;
	position: relative;
}
.ctbx .r5 .h3{
	text-transform: uppercase;
}
.ctbx:hover {
	box-shadow: 0 0 1px #999;
}
.ctbx:hover .fieldgroup_controls{
	display: block;
}
[cvo-form-field] {
    cursor: text;
}
#cvo-profile-avatar-wraper{	
	padding:15px 0px 0px;
	text-align: left;
	padding: 40px 40px 0px;
	display: inline-block;
	float: left;


	/*margin-bottom: 10px*/
}
#cvo-profile-avatar-wraper #cvo-profile-avatar{
	border:0;
	height: 250px;
	width: 300px;

	border:solid 10px #f9ad81;

}
#line-seperate {
    height: 25px;
    /*background-color: #e3ecec;*/
}
.bar-exp span {
    float: left;
    height: 8px;
    background: #f9ad81;
    
}
.bar-exp{
	background: #e1e1e1;
	border: solid 1px #434748;
}
.icoweb label{
	display: block;
	color:#627e88;

}
#cv-right .icoweb span{
	display: block;
	color: #ffffff;
	border:solid 2px #f9ad81;
		background:#f9ad81;
		border-radius: 10px 10px 10px 10px;

}

.box-contact{
	padding:0px 15px 15px 15px!important;
	font-size: 15px;
}

#sortable .icoweb i.fa{
	width: 40px;
    height: 28px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    display: inline-block;
    text-align: center;
    font-size: 13px;
    line-height: 20px;
    margin-right: 12px;
    margin-top: 2px;
    color:#f9ad81!important;
border:solid 2px #ffffff

 
}
.exp-content{
	padding-left: 15px;
}

.head i.fa, .h3 i.fa{
	font-size: 12px;
	border: solid 1px #7c7a79;
	border-radius: 50%;
	width: 12px;
	color: #7c7a79;
	/*background: white;*/
	margin-bottom: 5px;
	text-align: center;
	padding: 4px;


}






