#form-letter{
	width: 100%;
	height: 1130px;
	float: left;	
	color:#000000;
	position: relative;
	background:url(bg-4.png)no-repeat;
	background-size: 100% 100%;
}
#lt-right {
    margin: 0;
    width: 75%;
    position: relative;
    float: left;
    padding: 20px 0 20px 15px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color: #bf5e3b;
    margin-left: 50px;
}
#lt-top h1 {
    width: 40%;
    text-transform: uppercase;
    display: block;
    font-size: 25px;
    line-height: 24px;
    font-weight: bold;
    text-align: center;
    color: #bf5e3b;
    margin-bottom: 60px;
    margin-top: 30px;
    padding: 15px;
}
.icf .fa {
    font-size: 18px;
    color: #bf5e3b;
    font-weight: normal;
    margin-top: 0;
    float: left;
}
#title-job {
    margin: 0;
    padding: 10px;
    background: #bf5e3b;
    clear: both;
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-left: 25px;
}