/* l */
#cvo-profile-info {background-color: #e37a12!important;}
#cv-content .head {color: #e37a12!important;}
#cvo-profile-info {border-color:#e37a12!important;}
#cv-top {border-bottom-color:#e37a12!important;}
#cv-content .head:before {border-right-color: #e37a12!important;}
#cv-content .head:after {border-left-color: #e37a12!important;}
#cvo-profile:before {border-top-color: #e37a12!important}

/* r */
.bar-exp span,.bar-exp span:after,#cv-top {background-color: #a34122!important;}
#cv-top:after {border-right-color: #a34122!important}
#cv-top:before {border-top-color: #a34122!important}
#cv-right .icoweb span.cv-hi i {color: #a34122!important;}

/* b */
#cv-top {border-left-color:#e2a86d!important;}
#cv-center {background-color: #e2a86d!important;}
#cvo-profile:after {border-right-color: #e2a86d!important;}
#cv-content .ir{border-color: #e2a86d!important;}


#page-cv{
    width: 1072px;
    float: left;
}
#form-cv {
    width: 900px;
    min-height: 1273px;
    float: left;
    position: relative;
    font-size: 15px;
    line-height: 25px;
    overflow: hidden;
    color: #333;
    box-sizing: border-box;
}

/* Dan trang */
#cv-main {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
#cv-center {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 300px;
    color: #111;
}
#cv-content {
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
    width: calc(100% - 300px);
}
#cv-content h3 {
    line-height: 25px;
}
#cv-right {
    padding: 10px;
    margin: 40px 0 0;
}
/* Code top */
#cv-top {
    position: relative;
    margin: 0px;
    border-bottom: 5px solid;
    border-left: 5px solid;
}

#cvo-profile:before, #cvo-profile:after, #cv-top:after,
#cv-top:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
}
#cv-top:after {
    top: 50%;
    margin-top:-30px;
    left:-30px;
    border-top:30px solid transparent!important;
    border-bottom:30px solid transparent!important;
    border-right: 30px solid #ccc;
    z-index: 10;
}

#cv-top:before {
    bottom:-30px;
    left:50%;
    margin-left:-30px;
    border-top:30px solid #ccc;
    border-left:30px solid transparent!important;
    border-right: 30px solid transparent!important;
    z-index: 11;
}

#cvo-profile {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
}
#cvo-profile:after {
    top: 50%;
    margin-top:-30px;
    left:-35px;
    border-top:30px solid transparent!important;
    border-bottom:30px solid transparent!important;
    border-right: 30px solid rgba(0, 0, 0, 0.29);
    z-index: 1;
}
#cvo-profile:before {
    bottom:-35px;
    left:50%;
    margin-left:-30px;
    border-top:30px solid;
    border-left:30px solid transparent!important;
    border-right: 30px solid transparent!important;
    z-index: 2;
}

.box-01 {
    padding: 0;
    margin: 0;
}
#cvo-profile-avatar-wraper {
    padding: 0;
    width:200px;
    height: 200px;
    display:flex;
    justify-content:center;
    align-items: center;
    margin: 20px auto;
    overflow: hidden;
}

#cvo-profile-avatar-wraper #cvo-profile-avatar {
    padding: 0;
    width: 200px;
    height: 200px;
    border: none;
}
#cvo-profile-info {
    margin: 0;
    padding: 10px 35px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-transform: uppercase;
}

#form-cv h1 {
    font-size: 40px;
    font-weight: 700;
    margin: 0;
    line-height: 40px;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    margin-bottom: 10px;
}

#form-cv h2 {
    font-size: 17px;
    line-height: 23px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    color: #cccccc;
}
/* CV Right */

#cv-right .block {
    margin: 0;
    padding: 0;
}
#cv-right .ctbx {
    padding-bottom: 0;
    margin:0;
}
#cv-content .cvo-block {
    padding: 0;
}
#cv-right #sortable .cvo-block {
    padding: 0;
    margin: 0 0 25px;
}
/* Code chung h3 cv-right */
#cv-content .head {
    line-height: 25px;
    font-weight: 700;
    letter-spacing: 4px;
    text-align: left;
    text-transform: uppercase;
    padding: 0;
    margin: 0 0 7px;
    position: relative;
    font-size: 25px;
}

#cv-content .head:after,
#cv-content .head:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    margin-top:-12px;
    border-top:12px solid transparent!important;
    border-bottom:12px solid transparent!important;
}

#cv-content .head:after{
    left:-16px;
    border-left:12px solid;
}
#cv-content .head:before{
    left: -28px;
    border-right: 12px solid;
}

#cv-right .h3 {
    padding: 5px;
    margin: 0 0 7px;
    line-height: 27px;
    font-size: 23px;
    font-weight: 500;
    text-transform: unset;
    color: #111;
    border-bottom: 2px solid #111;
}

#cv-right .h3 span, #cv-content .head span {
    padding: 0;
}
/* Ico web */

#cv-right .hasclass {
    display: flex;
    flex-direction: column;
    padding: 0 0 0 5px;
}
#cv-right .icoweb {
    display: flex;
    margin: 0 0 3px;
    align-items: center;
}


#cv-right .icoweb span.cv-ico-center {
    display: none!important;
}
#cv-right .icoweb span.cv-hi i {
    width: 28px;
    height: 28px;
    margin: 0;
    text-align: center;
    line-height: 29px;
    font-size: 17px;
}

#cv-right .icoweb span.cv-hi {
    margin: 0 8px 0 0;
}



/* Content */
#cv-content .ctbx{position: relative;padding: 0 0 15px;}
#cv-content p{
    /*margin-bottom: 5px*/
}
#cv-content .ir  {
    margin: 30px 0 0 11px;
    padding: 0px 15px 15px;
    border-left: 2px solid;
}

#cv-content .ir a{
    color: #2ebb2f
}

#cv-content .h3{
    margin-bottom: 0;
    font-weight: 500;
}


#experience-table{padding: 0 5px;}

/* content 2*/

/*#cv-content .head:after {
    content: "";
    position: absolute;
    top: 50%;left: 0;
    margin-top: -5px;
    width: 80%;
    height: 10px;
    background-color: #34444c;
    z-index: -1;
}*/
/*#cv-content .head span:before {
    font-family: 'FontAwesome';
    font-size: 22px;
    line-height: 44px;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 3px;
    left: 0;
    border: 2px solid white;
    border-radius: 50%;
}

#cv-content #block01 .head span:before {
    content:"\f19d";
}
#cv-content #block02 .head span:before {
    content:"\f00c";
}
#cv-content #block03 .head span:before {
    content:"\f206";
}
#cv-content #block04 .head span:before {
    content:"\f0c0";
}
#cv-content #block05 .head span:before {
    content:"\f067";
}
#cv-content .head span {
    margin: 0;
    padding: 0;
}
*/

#cv-content span.exp-date {
    display: block;
    float: none;
    font-size: 14px;
    font-weight: normal;
}

#cv-content .exp-title {
    margin: 0 0 5px;
    font-size: 17px;
    font-weight: 500;
    display: block;
    position: relative;
    padding: 0;
}

#cv-content .exp-subtitle {
    margin: 0;
    display: block;
    font-size: 15px;
    font-weight: 400;
    padding: 0;
}
#cv-content .exp-content {
    text-align: left;
    font-weight: 400;
    font-size: 15px;
    padding: 0;
}

/* Module */
.box-content, .skill {
    padding: 0;
    display: block;
}
/* code Chung */
.bar-exp span {
    float: left;
    height: 10px;
    position: relative;
}

.bar-exp span:after {
    content: "";
    position: absolute;
    top: -3px;
    right: 0px;
    width: 8px;
    height: 16px;
    box-shadow: 0 0 4px rgb(0, 0, 0)!important;
}

.bar-exp {
    margin: 0px 0px 10px;
    height: 10px!important;
    background-color: #ffffff;
}

.bar-value-exp{
    width: 50%
}
.skill-name{
    display: block;
    line-height: 23px;
}
.skill-name input{
    font-weight: 500;
    color: #fff;
}

#line-seperate {
    height: 25px;
    background-color: #e3ecec;
}

.cv-head{
    width: 100%;
    padding: 0px;
    margin: 0px;
    height: 45px;
}
.box-content{
}

/*css cvh */
[cvo-form-field] {
    cursor: text;
}
.ctbx:hover {
    box-shadow: 0 0 1px #999;
}
.ctbx:hover .fieldgroup_controls{
    display: block;
}
.ctbx .r5 .h3{
    text-transform: uppercase;
}
/* fix vi tri trinh dieu khien css cvh */
.ctbx {
    position: relative;
}
#cv-right .fieldgroup_controls {
    top: -33px!important;
    right: 1px;
}

#cv-content .fieldgroup_controls {
    top: -34px!important;
    right: 0;
}