.all {
    padding-left: 20px;
    padding-right: 20px;
    background: url(main2.png)no-repeat;
    background-size: 100% 100%;
}
#cv-top {
    width: 100%;
    height: 285px;
    background: url(hd2.png)no-repeat;
    background-size: 100% 100%;
}
.footer{
  width: 100%;
  height: 50px;
  background: url(ft2.png)no-repeat;
  background-size: 100% 100%;
}
#cv-content .head {
    height: 35px;
    text-align: center;
    width: 100%;
    line-height: 35px;
    margin-bottom: 0;
    background: #9cc4d9;
}
#cv-top h1 {
    font-size: 30px;
    font-family: "Roboto";
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 0;
    margin: 0 auto;
    color: #9cc4d9;
    font-weight: bold;
    text-align: center;
    width: 100%;
    border-bottom:1px solid #000;
}
.bar-exp {
    background: #9cc4d9;
    height: 10px;
    float: none;
    margin-top: 0;
    margin-bottom: 0px;
    padding: 0px;
    border:1px solid #000;
    border-radius: 5px;
}