#form-cv {
    background-color: #f8f8fa;
    width: 100%;
    float: left;
    position: relative;
    font-size: 14px;
    line-height: 24px;
    color: #467481;
}

#form-cv p {
    margin-top: 0;
    /* margin-bottom: 6px */
}


/* #sortable .box-content{
	padding-top: 10px;
} */

#sortable .cvo-block {
    margin-bottom: 15px;
    margin-top: 8px;
}

#cv-content .head {
    border-bottom: solid 1px #c1c1c1;
}

#cv-content #prof {
    color: #fff;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 95%;
    border-radius: 4px;
    background-color: #e97856;
}

#prof span {
    z-index: 998;
    width: 355px;
    display: inherit;
}

#cv-content #prof .icoweb {
    padding-left: 5px;
}

#cv-content #prof h3 {
    font-size: 20px;
    font-weight: bold;
}

#cv-content .info {
    background-image: url(bgicon.png);
    background-size: 100% auto;
    background-position: bottom;
    padding-bottom: 36px;
    background-repeat: no-repeat;
    padding-left: 15px;
}

#cv-main {
    background-image: url(bgform.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% auto;
    padding-bottom: 80px;
    display: table;
    width: 100%;
}

#cv-top {
    text-align: center;
}

#cv-content {
    width: 58.99%;
    float: right;
    position: relative;
    /* padding-top: 10px; */
    background: #f8f8fa;
    min-height: 800px;
}

#cv-right {
    width: 41%;
    min-height: 800px;
    float: left;
    position: relative;
    background: #f8f8fa;
    /* padding-top: 50px; */
}

#cv-right h3 {
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0px;
    color: #467481;
    line-height: normal;
    background-color: #dcc9a8;
}

#cv-right .coverright {
    margin-bottom: 10px;
    padding-top: 20px;
    padding-bottom: 15px;
    border-top: 1px solid #467481;
    border-bottom: 1px solid #467481;
    width: 100%;
    ;
}

#cv-right .ir {
    padding: 10px 10px 0px 15px;
}

p.skill-name input {
    color: #070000!important;
}

#cv-right .ctbx {
    padding: 0;
    margin: 0;
    border: 0;
}

.skill {
    margin-top: 15px
}

#cv-top h1 {
    font-size: 32px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin: 10px 0;
    color: #000;
}

#box-hvt {
    display: inline-block;
}

#cv-top h2 {
    font-size: 18px;
    text-align: center;
    margin-bottom: 1px;
    display: inline-block;
    color: #000000;
    font-weight: normal;
}

.box-01 p {
    overflow: hidden;
}

#cv-content .ir {
    margin: 0 15px;
}


/* #cv-content p{
	margin-bottom: 5px
} */

#cv-content .ir a {
    color: #2ebb2f
}


/* #cv-right h3, #cv-content .head{
	font-size: 18px;
    margin-top: 0;
    /* margin-bottom: 10px; */


/* text-transform: uppercase;
    font-weight: bold; */


/* }  */

.bar-value-exp input[type="text"] {
    color: #000;
}

#cv-content .head {
    color: #e3645d;
    background-color: #dcc9a8;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    float: right;
    width: 70%;
    padding-top: 5px;
    padding-left: 10px;
    margin-bottom: 0px;
    /* padding-bottom: 5px; */
    /* height: 30px;
	line-height: 30px; */
}

#cv-content .tester {
    border-bottom: 1px solid #cc3300;
    padding-bottom: 10px;
    margin-bottom: 0px;
    width: 100%;
    min-height: 30px;
    clear: both;
}


/* #cv-content .head span{

width: 260px;
float: right;
line-height: 37px;
min-height: 37px;

text-align: left;
padding-left: 10px;
	color: #e3645d;
} */

#cv-content h3 {
    margin-top: 0px;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
}

#cv-content .cvo-block {
    margin-bottom: 10px;
    /* display: unset; */
}

.ctbx {
    padding-left: 0;
    padding-right: 0
}

#cv-content span {
    display: inline-block;
    z-index: 9999;
}

.ctbx {
    position: relative;
}

.ctbx .r5 .h3 {
    text-transform: uppercase;
}

.ctbx:hover {
    box-shadow: 0 0 1px #999;
}

.ctbx:hover .fieldgroup_controls {
    display: block;
}

[cvo-form-field] {
    cursor: text;
}

#box-hvt {
    color: #fff;
    background-image: url(bgright.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 151px;
    text-align: left;
    padding-top: 43px;
    /* float: right; */
    width: 100%
}

#cvo-profile {
    padding-top: 30px;
}

#experience-table .ctbx {
    margin-top: 10px;
}


/* .cvo-block .blockControls{
	font-family: arial, sans-serif;
/* position: absolute; */


/* z-index: 998; */


/* height: 36px; */


/* top: -36px; */


/* left: 0; */


/* text-align: center;
padding: 0 8px; */


/* text-shadow: none; */


/* display: none;
background-color: #ccc; */


/* opacity: 1; */


/* border-radius: 4px 4px 0 0;
-moz-border-radius: 4px 4px 0 0;
-webkit-border-radius: 4px 4px 0 0; */


/* } */

#cvo-profile-avatar-wraper {
    padding-left: 1px;
    padding-top: 24px;
    background-image: url(bgleft.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 225px;
    /* float: right; */
    /* background-color: red; */
    width: 100%;
    /* border: solid 4px #fcb617; */
    /* margin-bottom: -50px;     */
    /* margin-top: 25px; */
    position: relative;
    /* z-index: 100; */
}

#cvo-profile-avatar-wraper .wimg {
    width: 195px;
    height: 195px;
    margin-left: 26px;
    border: 3px solid #fff;
    border-radius: 3px;
    /* display: table;
	padding:4px; */
    /* margin:auto; */
}

#cvo-profile-avatar-wraper img {
    /* width:132px;
  	height: 140px; */
    display: inline-block;
    float: none
}

#line-seperate {
    height: 25px;
    /*background-color: #e3ecec;*/
}

.bar-exp div {
    border-radius: 4px;
    float: left;
    height: 8px;
    background: #668790;
}

.bar-exp {
    border-radius: 4px;
    width: 100%;
    background: #dcc9a8;
    height: 8px;
    float: right;
    margin-bottom: 12px;
}

.icoweb label {
    display: block;
    color: #627e88;
}

#cv-right .icoweb span {
    color: #070000;
}

#sortable .icoweb {
    height: 30px;
    float: left;
    padding-left: 10px;
    margin-bottom: 0
}

.ic {
    margin-bottom: 7px;
    float: left;
    width: 100%
}

#form-cv .icf {
    float: left;
    line-height: 25px;
    font-size: 12px;
    margin-bottom: 0;
    width: 25px;
    border-radius: 4px;
    background: #9cc2cf;
    text-align: center;
}

.ic .icoweb {
    float: left
}

.icf .fa {
    font-size: 12px;
    color: #fff;
    font-weight: normal;
    margin-top: 0;
    float: none
}

#box-hvt h1 {
    text-transform: capitalize;
    font-weight: bold;
    color: unset;
    color: white;
}

#box-hvt h2 {
    font-size: 18px;
}

.blog-cv .head,
.blog-hd .head {
    margin-bottom: 0;
}


/* #exp1 {
	background-color: red;
} */

#cv-profile-birthday::before {
    color: #fff;
}

#cv-profile-sex::before {
    color: #fff;
}

#cv-profile-phone::before {
    color: #fff;
}

#cv-profile-email::before {
    color: #fff;
}

#cv-profile-address::before {
    color: #fff;
}

#cv-profile-face::before {
    color: #fff;
}

.watermark {
    float: left;
    width: 100%;
    height: 22px;
    color: #999;
    text-align: right;
    padding-right: 22px;
    font-size: 15px;
    font-family: Courier;
}