/* 2 */

:root {
    --sex: url(sex2.png) no-repeat;
    --phone: url(phone2.png) no-repeat;
    --date: url(date2.png) no-repeat;
    --email: url(mail2.png) no-repeat;
    --add: url(add2.png) no-repeat;
    --kn: url(kn2.png) no-repeat;
    --top: url(top-2.png) no-repeat;
    --foot: url(foot2.png) no-repeat;
    --page: url(page2.png) no-repeat;
    --fake: url(fake2.png) no-repeat;
    --ifo: url(ifo1_2.png) no-repeat, url(ifo3_2.png) no-repeat;
    --box-hvt: url(ifo2_2.png) no-repeat, url(ifo3_2.png) no-repeat;
    --icon: url(icon2.png) no-repeat;
    --x1: url(icon-x.png) no-repeat;
    --color: #6cc6aa;
    --color2: #f3fffb;
  }