/* 3 */

:root {
    --sex: url(sex3.png) no-repeat;
    --phone: url(phone3.png) no-repeat;
    --date: url(date3.png) no-repeat;
    --email: url(mail3.png) no-repeat;
    --add: url(add3.png) no-repeat;
    --kn: url(kn3.png) no-repeat;
    --top: url(top-3.png) no-repeat;
    --foot: url(foot3.png) no-repeat;
    --page: url(page3.png) no-repeat;
    --fake: url(fake3.png) no-repeat;
    --ifo: url(ifo1_3.png) no-repeat, url(ifo3_3.png) no-repeat;
    --box-hvt: url(ifo2_3.png) no-repeat, url(ifo3_3.png) no-repeat;
    --icon: url(icon3.png) no-repeat;
    --x1: url(icon-x2.png) no-repeat;
    --color: #f28788;
    --color2: #fff5f6;
  }