#form-letter {
    width: 100%;
    min-height: 1117px;
	float: left;	
	color:#000;
	background: url(form3.png)no-repeat;
	background-size: 100% 100%;
}
#lt-top{		
	color: #bf244e;
	padding-top: 150px;
	text-align: center;
	font-size: 18px;
	line-height: 30px;
	position: relative;
	z-index: 99;
}
#lt-top h1{	
	text-transform: uppercase;
	font-weight:500;
	font-size: 18px;
	color:#bf244e;
	margin: 0px
}
.text{
	text-align: center;
	color: #bf244e;
}