/* 3 */

:root {
  --sex: url(sex3.png) no-repeat;
  --phone: url(phone3.png) no-repeat;
  --date: url(date3.png) no-repeat;
  --email: url(mail3.png) no-repeat;
  --add: url(add3.png) no-repeat;
  --ifo: url(ifo3.png) no-repeat;
  --main1: url(main_t2.png) no-repeat, url(main_f2.png) no-repeat;
  --main0: url(main_t2.png) no-repeat, url(  main_b2.png) no-repeat, url(main_f2.png) no-repeat;
  /* --main2: url(main_b2.png) no-repeat, url(main_f2.png) no-repeat;
  --main3: url(main_f2.png) no-repeat; */
  --color: #691e06;
  --color2: #fbba72;
  --kinang: url(kinang3.png) no-repeat;
  --giaithuong: url(giaithuong3.png) no-repeat;
  --chungchi: url(chungchi3.png) no-repeat;
  --sothich: url(sothich3.png) no-repeat;
  --nguoiTC: url(nguoiTC3.png) no-repeat;
  --hocvan: url(hocvan3.png) no-repeat;
  --kinhnghiem: url(kinhnghiem3.png) no-repeat;
  --hoatdong: url(hoatdong3.png) no-repeat;
  --duan: url(duan3.png) no-repeat;
  --TTthem: url(TTthem3.png) no-repeat;
  --box-content: url(box-content3.png) no-repeat;
  --page: url(page-3.png) no-repeat;
}