#cv-top {
    width: 100%;
    height: 245px;
    background-image: url(top03.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}

#box-hvt h1 {
    margin: 0;
    padding: 0;
    font-size: 38px;
    font-family: "Roboto";
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 0;
    color: #038c65;
    font-weight: bold;
    text-align: center;
    width: 100%;
    padding-top: 10px;
}
#box-hvt h2 {
    text-transform: uppercase;
    width: 100%;
    font-size: 18px;
    font-family: "Roboto";
    color: #038c65;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 0;
    float: left;
    padding-bottom: 10px;
}
#cv-content h3 {
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #038c65;
}
.all {
    background: url(main03.png)no-repeat;
    background-size: 100% 100%;
    float: left;
    width: 100%;
    clear: both;
}
#cvo-profile-avatar-wraper .wimg {
    width: 175px;
    height: 175px;
    padding: 0px;
    border: 5px solid #038c65;
    border-radius: 10px;
    float: right;
    margin-right: 35px;
    
}
.bar-exp {
    background: #038c65;
    height: 10px;
    float: none;
    margin-top: 0;
    margin-bottom: 0px;
    padding: 0px;
    border-radius: 10px;
    border: 1px solid #fff;
}
#cv-content .head {
    height: 35px;
    width: 94%;
    line-height: 35px;
    border: 2px solid #038c65;

}
#cv-content .head #cvo-experience-blocktitle {
    color: #038c65;
    background-color: #fff;
    width: 55%;
}
.icright1 {
    background: url(ic02_01.png);
    width: 55px;
    height: 30px;
    float: left;
    background-position: center left;
    background-repeat: no-repeat;
    margin-left:15px;
}
.icright2 {
    background: url(ic02_02.png);
    width: 55px;
    height: 30px;
    float: left;
    background-position: center left;
    background-repeat: no-repeat;
    margin-left:15px;

}
.icright3 {
    background: url(ic02_03.png);
    width: 55px;
    height: 30px;
    float: left;
    background-position: center left;
    background-repeat: no-repeat;
    margin-left:15px;

}
.icright4 {
    background: url(ic02_04.png);
    width: 55px;
    height: 30px;
    float: left;
    background-position: center left;
    background-repeat: no-repeat;
    margin-left:15px;
}
.icright5 {
    background: url(ic02_05.png);
    width: 55px;
    height: 30px;
    float: left;
    background-position: center left;
    background-repeat: no-repeat;
    margin-left:15px;
}

.footer {
    float: left;
    width: 100%;
    height: 125px;
    background: url(bot03.png)no-repeat;
    background-size: 100% 100%;

}