/* 3 */

:root {
    --sex: url(sex3.png) no-repeat;
    --phone: url(phone3.png) no-repeat;
    --date: url(date3.png) no-repeat;
    --email: url(email3.png) no-repeat;
    --add: url(add3.png) no-repeat;
    --top: url(top3.png) no-repeat;
    --avt: url(avt3.png) no-repeat;
    --page: url(page3.png) no-repeat;
    --name: url(name3.png) no-repeat;
    --left: url(left3.png) no-repeat;
    --right1: url(right3-1.png) no-repeat;
    --right2: url(right3-2.png) no-repeat;
    --skill: url(skill3.png) no-repeat;
    --hocvan: url(hocvan3.png) no-repeat;
    --kinhnghiem: url(kinhnghiem3.png) no-repeat;
    --hoatdong: url(hoatdong3.png) no-repeat;
    --duan: url(duan3.png) no-repeat;
    --them: url(them3.png) no-repeat;
    --color-j: #1b4965;
}