#form-cv {
    font-family: "Roboto", sans-serif;
    width: 100%;
    float: left;
    position: relative;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    /*background-color: #000;*/
    /* background:#fff; */
}


/* #form-cv p{
margin-top: 0;
margin-bottom: 6px
} */

#sortable .cvo-block {
    margin-bottom: 25px;
    padding: 0 3px;
}

#cv-right .block {
    padding: 10px;
    /* margin: 10px; */
}

#sortable .cvo-block .box-content {
    /* padding: 0; */
    padding-top: 15px;
    margin: 0;
    /* padding-top: 15px; */
    padding-left: 25px;
    /* padding-bottom: 15px; */
    background: url(line1.png) no-repeat;
    background-position: 6px 0px;
    background-size: 3% 100%;
}

#cvo-profile {
    display: block;
}


/* .exp .ctbx{
padding-left: 30px;
} */

#cv-content {
    width: 56%;
    text-align: justify;
    float: right;
    position: relative;
    padding: 0;
    margin: 0;
    /*padding-top: 20px;*/
}

#cv-content .ir {
    padding: 11px 20px 0 15px;
    border-top: 3px solid #f37;
    margin-top: 10px;
}

#cv-main {
    text-align: justify;
    margin: 0;
    padding: 0;
    /*padding-top: 20px;*/
    position: relative;
    float: left;
    width: 41.9%;
    background: url(mai.png)no-repeat;
    background-size: 100% 100%;
    /*border-right: 2px solid #d5b88f;*/
    /* border-left: 2px dashed black;*/
}

#cv-right .ir {
    padding: 10px 10px -1px 5px;
}

p.skill-name input {
    color: #fff !important;
}

#cv-right #box03 .ctbx {
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

#cv-top {
    width: 100%;
    height: 500px;
    background-image: url(header.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}

#cv-top h1 {
    font-size: 30px;
    font-family: "Roboto";
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 0;
    color: #fff;
    margin-top: 10px;
    font-weight: bold;
    text-align: left;
}

#cv-top h1 span {
    /*border-bottom: 1px solid #fff;*/
    letter-spacing: 5px;
}

#box-hvt {
    float: right;
    width: 60%;
    padding: 0;
    padding-top: 33px;
    margin: 0;
    padding-left: 25px;
}

#sortable #box01 {
    margin-top: 0;
    padding-top: 0px;
    margin-bottom: 0px;
    display: none;
}

#sortable #box01 #prof {
    padding: 0;
    margin: 0;
    padding-top: 10px;
}

#box01 ul {
    list-style: none;
    padding-left: 20px
}

#cv-right .cvo-block .head div {
    color: #fff;
}

.innertext {
    margin: 0px;
    padding: 0px;
    width: 29%;
    float: left;
    color: white;
}

#cv-top h2 {
    text-transform: uppercase;
    width: 100%;
    font-size: 16px;
    font-family: "Roboto";
    color: #fff;
    text-align: left;
    /*font-weight: normal;*/
    margin: 0;
    padding: 0;
    margin-top: 10px;
    text-align: right;
    margin-bottom: 0
}

.box-01 p {
    overflow: hidden;
}

#cv-content p {
    margin-bottom: 5px
}

#cv-content .ir a {
    color: #2ebb2f
}

#cv-right h3,
#cv-content .head {
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    text-align: left;
    /*  margin: 0px auto 10px;*/
    line-height: 20px;
    padding-top: 0px;
}

#cv-content h3 {
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #000;
}

#cv-content #block02 .exp-content {
    margin: 0;
    padding: 0;
    padding-left: 10px;
}

#cv-content #block03 h3 {
    font-weight: bold;
}

#cv-content #block04 h3 {
    font-weight: bold;
}

#cv-content .exp-date {
    float: none;
}

#cv-content #block01 .exp-date {
    display: none;
}

#cv-content #block03 .exp-date {
    display: none;
}

#cv-content #block04 .exp-date {
    display: none;
}

#cv-content #block05 .exp-date {
    display: none;
}

#cv-content p.h3 {
    margin: 0px;
    padding: 0px;
}

#cv-content .cvo-block {
    padding: 0px;
}

.ctbx {
    padding-left: 10px;
    padding-right: 10px
}

#cv-content span {
    display: inline-block;
    z-index: 9999;
}

#cv-content #block02 h3 {
    font-weight: bold;
}

.ctbx {
    /* margin-bottom: 5px; */
    padding-left: 0;
    padding-right: 0;
    position: relative;
}

.ctbx:hover {
    box-shadow: 0 0 1px #999;
}

.ctbx:hover .fieldgroup_controls {
    display: block;
}

[cvo-form-field] {
    cursor: text;
}

#cvo-profile-avatar-wraper {
    height: 200px;
    width: 25%;
    padding: 0;
    margin: 0;
    float: left;
    padding-top: 155px;
    padding-left: 70px
    /* margin: auto;*/
}

#cvo-profile-avatar-wraper .wimg {
    width: 190px;
    height: 190px;
    border: 3px solid #fff;
    /*  border-radius: 13px;*/
    padding: 0px;
    margin: 0px;
    margin-top: 0px;
}

#cvo-profile-avatar-wraper img {
    width: 190px;
    height: 190px;
    /*  border-radius: 10px;*/
    float: none;
    display: inline-block;
}

#line-seperate {
    height: 25px;
}

.bar-exp div {
    float: left;
    height: 11px;
    background: #000;
    margin-top: -1px;
    margin-left: -1px;
    border-radius: 8px;
}

.ctbx .skill-name {
    margin: 0px;
    padding: 0px;
}

.bar-exp {
    background: #f6e768;
    height: 10px;
    float: none;
    margin-top: 0;
    margin-bottom: 0px;
    padding: 0px;
    border: 1px solid #000;
    border-radius: 5px;
}

.bar-value-exp {
    width: 100%
}

.bar-value-exp input[type="text"] {
    color: #000;
    width: 95%
}

.icoweb label {
    display: block;
}


/*#sortable .icoweb {
width: 87%;
height: 30px;
line-height: 30px;
float: right;
padding-left: 5px;
margin-bottom: 0
}*/

#sortable .ic {
    margin-bottom: 0px;
    padding: 3px 0px;
}

.ic .icoweb {
    width: 85%;
    text-align: left;
    padding-left: 5px;
    float: left;
}

.ic {
    width: 100%;
    float: left;
}

#page-cv #cv-content span {
    width: 100%;
}

#prof [contentEditable=true] {
    width: 100%;
    float: left;
}

#prof .icoweb,
#prof .icoweb span {
    height: auto;
}

#form-cv .icf {
    float: left;
    border-radius: 5px;
    line-height: 30px;
    margin-bottom: 0;
    width: 28px;
    text-align: center;
}

.icf .fa {
    font-size: 20px;
    color: #000;
    margin-top: 0;
    float: none
}

.footer {
    display: block;
    height: 18px;
    width: 100%;
    background: url("footer.png");
    background-repeat: no-repeat;
    background-size: 100% auto
}

.container {
    width: 100%;
}

.sum {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 30px;
}

#cv-content .head {
    width: 100%;
    height: 34px;
    margin: 0;
    padding: 0;
    /* border-bottom: 2px solid #fbe535; */
    /*  border-radius: 15px;*/
    text-align: left;
    /* float: left;*/
    line-height: 34px;
}

#experience-table .ctbx {
    padding-top: 20px;
    padding-bottom: 20px;
}

.ifo {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 30px;
}

.ski {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 30px;
}

#cv-right h3 {
    width: 85%;
    /* height: 34px; */
    margin: 0;
    padding: 0;
    text-align: left;
    /*border-bottom: 2px solid #d5b88f;*/
    /*border-radius: 15px;
*/
    float: left;
    line-height: 38px;
    padding-left: 30px;
}

.head .sumic1 {
    background: url("iconhv.png");
    background-repeat: no-repeat;
    /*  background: red;*/
    width: 10%;
    height: 20px;
    float: right;
    margin-top: 6px
}

.head .sumic2 {
    background: url("iconkn.png");
    background-repeat: no-repeat;
    width: 10%;
    height: 20px;
    float: right;
    margin-top: 6px
}

.head .sumic3 {
    background: url("iconhd.png");
    background-repeat: no-repeat;
    width: 10%;
    height: 20px;
    float: right;
    margin-top: 6px
}

.head .sumic4 {
    background: url("iconda.png");
    background-repeat: no-repeat;
    width: 10%;
    height: 20px;
    float: right;
    margin-top: 6px
}

.head .sumic5 {
    background: url("iconthem.png");
    background-repeat: no-repeat;
    width: 10%;
    height: 20px;
    float: right;
    margin-top: 6px
}

#cv-content .head #cvo-experience-blocktitle {
    color: #f37;
    border-bottom: 1px solid #f37;
    width: 80%;
}

#experience-table #exp2 {
    /* margin-top: 10px; */
}

.ifo .ico-1 {
    width: 10%;
    height: 32px;
    float: right;
    background: url(icon1.png)no-repeat;
    background-position: right;
}

.cum .ico-2 {
    width: 14%;
    height: 32px;
    float: right;
    background: url(icon2.png)no-repeat;
    background-position: right;
}

.ski .ico-3 {
    width: 17%;
    height: 36px;
    float: right;
    background: url(icon3.png)no-repeat;
    background-position: right;
}

.cum .ico-4 {
    width: 15%;
    height: 32px;
    float: right;
    background: url(icon4.png)no-repeat;
    background-position: right;
}

#cv-right .cum .ico-5 {
    width: 15%;
    height: 30px;
    float: right;
    background: url(icon5.png)no-repeat;
    background-position: right;
}

.cum .ico-6 {
    width: 15%;
    height: 30px;
    float: right;
    background: url(icon6.png)no-repeat;
    background-position: right;
}

.cum .ico-7 {
    width: 14%;
    height: 36px;
    float: right;
    background: url(icon7.png)no-repeat;
    background-position: right;
}

.head .icn-1 {
    width: 12%;
    height: 32px;
    float: left;
    background: url(icon8.png)no-repeat;
}

.head .icn-2 {
    width: 12%;
    height: 32px;
    float: left;
    background: url(icon9.png)no-repeat;
}

.head .icn-3 {
    width: 12%;
    height: 34px;
    float: left;
    background: url(icon10.png)no-repeat;
}

.head .icn-4 {
    width: 12%;
    height: 34px;
    float: left;
    background: url(icon11.png)no-repeat;
}

#cv-content .ir #experience-table {
    padding: 0;
    margin: 0;
    /*padding-left: 30px;*/
    border-bottom: 1px solid #f37;
    margin-bottom: 20px;
}

#cv-top h1 {
    margin: 0;
    padding: 0;
    font-size: 32px;
    line-height: 32px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #f37;
    font-weight: bold;
}

#cv-content .exp-title {
    width: 100%;
    float: right;
    color: #f37;
}

#cvo-profile-avatar-wraper {
    float: left;
    /* width: 100%; */
    padding: 0px;
    margin-top: -150px;
    margin-left: 30px;
    height: 190px;
    border: 3px solid #f37;
    border-radius: 5px;
}

.bar-exp div {
    float: left;
    height: 8px;
    /* background-image: url(exp.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;*/
    background-color: #f37;
}

.bar-exp {
    width: 100%;
    background: #f8f8fa;
    height: 8px;
    float: right;
    margin-top: 3px;
    border: 1px solid #f37;
    margin-bottom: 0px;
    border-radius: 5px;
}

.icf .fa {
    color: #f37;
    margin-top: 0;
    float: none
}

#cv-content .head {
    width: 75%;
    height: 30px;
    color: #f37;
    line-height: 30px;
    /* border-bottom: 1px solid #f37; */
    float: left;
}

.cum {
    width: 100%;
    height: 30px;
    text-align: left;
    background: #f37;
    border-radius: 20px;
}

.funk {
    width: 100%;
    height: 30px;
    background: #f37;
    text-align: left;
    border-radius: 20px;
}

#page-cv #cv-content span {}

#footer {
    width: 100%;
    height: 48px;
    border: none;
    clear: both;
    margin: 0;
    padding: 0;
    background: #f37;
}

.sum .icon-1 {
    width: 40px;
    height: 30px;
    float: left;
    background: url(icon7.png)no-repeat;
    background-position: left center;
    background-size: contain;
}

.sum .icon-2 {
    width: 40px;
    height: 30px;
    float: left;
    background: url(icon8.png)no-repeat;
    background-position: left center;
    background-size: contain;
}

.sum .icon-3 {
    width: 40px;
    height: 30px;
    float: left;
    background: url(icon9.png)no-repeat;
    background-position: left center;
    background-size: contain;
}

.sum .icon-4 {
    width: 40px;
    height: 30px;
    float: left;
    background: url(icon10.png)no-repeat;
    background-position: left center;
    background-size: contain;
}

.sum .icon-5 {
    width: 40px;
    height: 30px;
    float: left;
    background: url(icon11.png)no-repeat;
    background-position: left center;
    background-size: contain;
}

#cv-top {
    width: 100%;
    height: 260px;
    background-image: url(hd2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /*padding-bottom: 20px;*/
}

span#cv-profile-job {
    padding-right: 10px;
}

span#cvo-experience-blocktitle {
    border-bottom: 1px solid #f37;
}

.head .icn-5 {
    width: 12%;
    height: 32px;
    float: left;
    background: url(icon12.png)no-repeat;
}

#cv-right h3 .ico-1 #cv-boxtitle {
    width: 87%;
    float: left;
}

.cu-2 {
    background: url(icon1.png) no-repeat;
    background-position: left center;
    /* z-index: 999; */
}

.exp.content-edit.skill {
    padding-left: 25px;
    background: url(line1.png) no-repeat;
    background-size: 3% 97%;
    background-position: 1px 7px;
}

.watermark {
    float: left;
    width: 100%;
    height: 22px;
    color: #999;
    text-align: right;
    padding-right: 22px;
    font-size: 15px;
    font-family: Courier;
}

div#prof {
    width: 100%;
    float: right;
    /* padding-top: 22px; */
    position: relative;
}

div#box01 {
    width: 67%;
    float: right;
}

.ic1, .ic2, .ic3, .ic4{
    width: 40%;
    float: left;
}