#form-cv {
    font-family: "Roboto", sans-serif;
    width: 100%;
    float: left;
    position: relative;
    line-height: 24px;
    color: #000;
}

.cv_page {
    padding: 0;
}

#sortable .cvo-block .box-content {
    color: #000;
}

#sortable #box03 .box-content {
    padding: 10px 0px 0px 8px;
    width: 315px;
}

#sortable #box04 .box-content {
    float: left;
    padding: 0px 0px 0px 8px;
    margin-top: 10px;
    width: 99%;
}

#sortable #box05 .box-content {
    padding: 0px 0px 0px 8px;
    margin-top: 10px;
    width: 99%;
    float: left;
}

#sortable #box06 .box-content {
    padding: 0px 0px 0px 8px;
    margin-top: 10px;
    width: 99%;
    float: left;
}

#sortable #box07 .box-content {
    padding: 0px 0px 0px 8px;
    margin-top: 10px;
    width: 100%;
    float: left;
}

.exp.content-edit.skill {
    float: left;
}

#cvo-profile {
    display: block;
}

#cv-content {
    width: 58%;
    text-align: justify;
    float: left;
    position: relative;
    /* padding: 0;
    margin: 0; */
    padding-left: 10px;
    margin-top: 20px;
}

#cv-profile-sex:before {
    color: #fff;
}

#cv-profile-birthday:before {
    color: #fff;
}

#cv-main {
    text-align: justify;
    margin: 0;
    padding: 0;
    float: left;
    width: 37%;
    margin-left: 30px;
    margin-top: 20px;
}

.chu {
    float: left;
    width: 100%;
    padding-bottom: 15px;
    padding-top: 8px;
    padding-left: 5px;
    background: url(chu1-1.png) no-repeat;
    background-position: 0px 0px;
    background-size: 100% 100%;
}

.anh {
    float: right;
    width: 29%;
    height: 271px;
    position: relative;
    z-index: 2;
}

#cv-right .ir {
    float: left;
    padding: 0;
    margin: 0;
}

#cv-main #cv-right {
    float: left;
    padding: 0;
    width: 100%;
}

#cv-main #cv-right .ir #sortable {
    padding: 0;
    margin: 0;
}

div#box02 {
    width: 100%;
    border-left: solid 3px #000;
}

#cv-right .ir #sortable .block {
    padding: 0;
    float: left;
    margin-bottom: 25px;
    display: block;
}

div#box03 {
    width: 100%;
}

div#box04 {
    width: 100%;
}

div#box05 {
    width: 100%;
}

div#box06 {
    width: 100%;
}

div#box07 {
    width: 100%;
}

p.skill-name input {
    color: #fff !important;
}

#cv-right #box03 .ctbx {
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    float: left;
    margin-top: 10px;
}

#cv-content #box01 {
    padding: 0;
    margin: 0;
}

#box03 .exp {
    float: left;
    padding: 10px 0px 0px 8px;
    width: 100%;
}

#cv-top {
    width: 100%;
    float: left;
    background: url(top1.png) no-repeat;
    background-position: right 0px;
}

.all {
    float: left;
    clear: both;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
}

#cv-top h1 {
    padding: 0;
    margin: 0;
    font-size: 36px;
    font-family: "Roboto";
    text-transform: uppercase;
    margin-bottom: 0;
    font-weight: bold;
    width: 75%;
    float: left;
    padding-top: 10px;
    margin-left: 50px;
    position: relative;
    right: 20px;
    line-height: 1.5;
    color: #000;
}

#cv-top h1 span {
    ;
    width: 100%;
    line-height: 1.2;
}

div#box01 {
    float: right;
    width: 38.6%;
    margin-right: 10px;
    background: url(thongtin1.png) no-repeat;
    background-size: 29px 100%;
}

#box-hvt {
    float: left;
    width: 100%;
    margin-top: -61px;
    position: relative;
    z-index: 3;
}

#cv-right .cvo-block .head div {
    color: #fff;
}

.innertext {
    margin: 0px;
    padding: 0px;
    width: 29%;
    float: left;
    color: white;
}

#cv-profile-fullname::before {
    color: #000;
}

#cv-top h2 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    width: 68%;
    font-size: 20px;
    line-height: 1.5;
    float: left;
    font-weight: bold;
    margin-left: 79px;
    position: relative;
    right: 20px;
    color: #000;
}

.box-01 p {
    overflow: hidden;
}

#cv-content p {
    margin-bottom: 5px
}

#cv-content .ir a {
    color: #2ebb2f
}

#cv-content h3 {
    float: left;
    width: 100%;
    font-weight: unset;
    font-size: 14px;
    line-height: 24px;
    margin: 0px;
    padding: 0px;
    color: #000;
    display: inline;
    padding-bottom: 6px;
}

#cv-content #block03 h3 {
    font-weight: unset;
    float: right;
    width: 74%;
}

#cv-content p.h3 {
    float: left;
    width: 100%;
    margin: 0px;
    padding: 0px;
    padding-left: 102px;
}

#cv-content .cvo-block {
    float: left;
}

#cv-content .ir .cvo-block {
    float: left;
    padding: 0;
    margin-bottom: 0px;
    /* padding-left: 20px; */
    background: url(dg-ke.png) no-repeat;
    background-position: 12px bottom;
    background-size: 1.5px 100%;
}

.ctbx {
    padding-left: 10px;
    padding-right: 10px
}

.ctbx:hover {
    box-shadow: 0 0 1px #999;
}

.ctbx:hover .fieldgroup_controls {
    display: block;
}

[cvo-form-field] {
    cursor: text;
}

#cvo-profile-avatar-wraper {
    width: 100%;
    height: 278px;
    padding: 0;
    margin: 0;
    background: url(fake1.png) no-repeat;
    background-position: 4px 33px;
}

#cvo-profile-avatar-wraper .wimg {
    width: 181px;
    height: 244px;
    margin-left: 18px;
    padding-top: 63px;
}

#cvo-profile-avatar-wraper img {
    width: 181px;
    height: 178px;
    float: left;
    border-radius: 99em;
}

.box-01 {
    float: left;
    width: 100%;
}

#cvo-profile {
    float: left;
    padding-bottom: 30px;
    background: url(all.png) no-repeat;
    background-size: 100% 3px;
    background-position: 0px bottom;
}

#line-seperate {
    height: 25px;
}

.bar-exp div {
    float: left;
    height: 20px;
    background: url(kn1.png) no-repeat;
    margin-top: 0px;
}

.ctbx .skill-name {
    margin: 0px;
    padding: 0px;
    color: #000;
    float: left;
    width: 100%;
}

.bar-exp {
    background: url(skill1.png) no-repeat;
    height: 22px;
    margin-top: 5px;
    margin-bottom: 0px;
    padding: 0px;
    float: left;
    width: 265px;
}

.bar-value-exp {
    width: 100%
}

.bar-value-exp input[type="text"] {
    color: #000;
    width: 95%
}

.icoweb label {
    display: block;
}

.ic .icoweb {
    width: calc(100% - 30px);
    text-align: left;
    padding-left: 5px;
    float: left;
    color: #000;
}

.ic {
    width: 100%;
    float: left;
    color: #000;
    padding-bottom: 10px;
}

#prof [contentEditable=true] {
    width: 100%;
    float: left;
}

#prof .icoweb,
#prof .icoweb span {
    height: auto;
    text-align: left;
    width: 100%;
    float: left;
}

div#prof {
    float: left;
    width: 100%;
    padding: 7px 0px 7px 0px;
}

#form-cv .icf {
    float: left;
    line-height: 20px;
    margin-bottom: 0;
    width: 26px;
    height: 20px;
    text-align: left;
    display: none;
}

.ic02 {
    float: right;
    width: 64%;
}

.ic03 {
    float: left;
    width: 35%;
}

.icf .fa {
    font-size: 20px;
    line-height: 1.5;
    color: #000;
    margin-top: 0;
    float: left;
}

.container {
    width: 100%;
}

.sum {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 30px;
}

#cv-right .block {
    position: relative;
}

#experience-table .ctbx {
    float: left;
    width: 100%;
    padding-bottom: 15px;
}

#experience-table .ctbx {
    padding-left: 20px;
}

#cv-right h3 {
    width: 100%;
    height: 30px;
    margin: 0;
    color: #ffffff;
    padding: 0;
    float: left;
    line-height: 30px;
    text-align: center;
    background: #b82731;
}

#cv-content .head #cvo-experience-blocktitle {
    position: relative;
    z-index: 990;
    width: 100%;
    padding-right: 8px;
    padding-left: 35px;
    padding-bottom: 5px;
}

#cv-content #block05 .head #cvo-experience-blocktitle {
    background: url(cham.png) no-repeat;
    background-position: 0px center;
}

#cv-content #block04 .head #cvo-experience-blocktitle {
    background: url(cham.png) no-repeat;
    background-position: 0px center;
}

#cv-content #block03 .head #cvo-experience-blocktitle {
    background: url(cham.png) no-repeat;
    background-position: 0px center;
}

#cv-content #block01 .head #cvo-experience-blocktitle {
    background: url(cham.png) no-repeat;
    background-position: 0px center;
}

#cv-content #block02 .head #cvo-experience-blocktitle {
    background: url(cham.png) no-repeat;
    background-position: 0px center;
}

#cv-content .head #block02 #cvo-experience-blocktitle {
    background: url(cham.png) no-repeat;
    background-position: 0px center;
}

#bg {
    background: #F58284;
    text-align: left;
}

div#experience-table {
    float: left;
    width: 100%;
}

div#cv-boxtitle {
    font-family: 'Roboto', sans-serif;
    float: left;
    overflow-wrap: break-word;
    margin: 0;
    font-size: 20px;
    line-height: 30px;
    border-bottom: solid 2px #f4b183;
    outline: 0;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    font-weight: bold;
    text-transform: uppercase;
    width: max-content;
}

.ski {
    float: left;
    padding: 0;
    margin: 0 auto;
    width: 100%;
    line-height: 20px;
    text-align: left;
}

.cum {
    float: left;
    padding: 0;
    margin: 0 auto;
    width: 100%;
    line-height: 20px;
    text-align: left;
}

div#sort_block {
    padding: 0;
    margin: 0;
    float: left;
    width: 100%;
}

.cvo-block .blockControls {
    margin: 0px;
    padding: 0px;
}

#cv-profile-job::before {
    color: #000;
}

.footer {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
}

.watermark {
    float: left;
    width: 100%;
    color: #000;
    text-align: right;
    padding-right: 22px;
    /* padding-bottom: 20px; */
    font-size: 15px;
    font-family: Courier;
    z-index: 10;
    position: relative;
    line-height: 1.5;
    background: url(foot1.png) no-repeat;
    background-size: 114px 9px;
    background-position: left bottom;
}

#prof .ic:nth-child(1),
#prof .ic:nth-child(3) {
    width: 35%;
    float: left;
}

#prof .ic:nth-child(2) {
    width: 30%;
}

#box02 div#cv-boxtitle {
    background-position: left;
    text-align: center;
    padding-top: 10px;
}

#cv-content .cvo-block .head {
    float: left;
    width: 100%;
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 30px;
}

.ic1,
.ic2,
.ic3,
.ic4,
.ic5 {
    width: 100%;
    float: left;
}

.ic4 {
    width: 100%;
    background: url(email.png) no-repeat;
    background-position: 0px center;
}

.icoweb {
    /* padding-top: 5px; */
    float: right;
}

.fake_img {
    display: none;
}

.ic2 {
    width: 34%;
    background: url(sex.png) no-repeat;
    background-position: 0px center;
}

.ic1 {
    width: 44%;
    background: url(date.png) no-repeat;
    background-position: 0px center;
}

.ic3 {
    width: 54%;
    background: url(phone.png) no-repeat;
    background-position: 0px center;
}

#sortable #box02 .box-content {
    float: left;
    width: 95%;
    margin: 10px 5px 5px 5px;
    color: #000;
}

#box02 .cum {
    display: none;
}

#cv-content .exp-date {
    float: left;
    width: 24%;
    padding: 0;
    display: inline;
    text-align: center;
    border-bottom: solid 2px #f4b183;
}

.exp-title {
    float: right;
    width: 74%;
    font-weight: bold;
}

.bar-exp div p {
    color: #F44336;
    display: block;
    position: absolute;
    font-size: 20px;
    line-height: 1.5;
    z-index: 99999;
}

span.exp-subtitle {
    width: 100%;
}

.ifo {
    float: left;
    width: 80%;
    height: max-content;
    position: relative;
    margin-left: 44px;
    margin-top: -203px;
    padding-bottom: 74px;
    background: url(chu2-1.png) no-repeat;
    background-position: 60px bottom;
    background-size: 250px 75px;
}

.ic5 {
    width: 100%;
    background: url(add.png) no-repeat;
    background-position: 0px center;
}

#prof .icoweb {
    width: 66%;
    margin-left: 40px;
}

.ic_t {
    float: left;
    width: 97%;
    /* height: 40px; */
    display: grid;
    margin: 0px 0 0px 6px;
}

.icright1,
.icright2,
.icright3,
.icright4,
.icright5 {
    display: none;
}

#block03 .exp-title {
    width: 100%;
    font-weight: unset;
}

.exp-content {
    float: left;
    width: 74%;
    margin: 0;
    margin-left: 102px;
}

.ic_b {
    float: left;
    width: 97%;
    margin-left: 6px;
}

#cv-right .ir #sortable #box01 {
    display: none;
}