#cv-top {
    width: 100%;
    height: 420px;
    background: url(hd3.png)no-repeat;
    background-position: left;
    background-size: 100% 100%;
    overflow: hidden;
    position: relative;
}
.all {
    float: left;
    clear: both;
    width: 100%;
    background: url(main3.png)no-repeat;
    background-size: 100% 100%;
}
.footer {
    background: url(ft3.png) no-repeat;
    background-size: 100% 100%;
    height: 18px;
    float: left;
    width: 100%;
}
#box01 #cv-boxtitle {
    color: #605ca8;
    font-size: 20px;
}
#cvo-experience-blocktitle {
    color: #605ca8;
    text-align: center;
    float: left;
    text-transform: uppercase;
    font-weight: bold;
    width: 100%;
    font-size: 20px;
    z-index: 1;
}
#box01 .cum{
 height: 28px;
    width: 100%;
    float: left;
    padding-top: 47px;
    background: url(ic3_03.png)no-repeat;
    background-position: 30px 4px;
    margin-bottom: 15px;

}
#block01 .head{
   /* height: 28px; */
   width: 100%;
   float: left;
   padding-top: 47px;
   background: url(ic3_07.png)no-repeat;
   background-position: 30px 4px;
   /* margin-bottom: 15px; */
}
#block02 .head{
 /* height: 28px; */
 width: 100%;
 float: left;
 padding-top: 47px;
 background: url(ic3_09.png)no-repeat;
 background-position: 30px 4px;
 /* margin-bottom: 15px; */
}
#block03 .head{
    /* height: 28px; */
    width: 100%;
    float: left;
    padding-top: 47px;
    background: url(ic3_11.png)no-repeat;
    background-position: 30px 4px;
    /* margin-bottom: 15px; */
}
#block04 .head{
   /* height: 28px; */
   width: 100%;
   float: left;
   padding-top: 47px;
   background: url(ic3_13.png)no-repeat;
   background-position: 30px 4px;
   /* margin-bottom: 15px; */
}
#block05 .head{
 /* height: 28px; */
 width: 100%;
 float: left;
 padding-top: 47px;
 background: url(ic3_15.png)no-repeat;
 background-position: 30px 4px;
 /* margin-bottom: 15px; */
}
.box-dm {
    width: 223px;
    height: 223px;
    padding: 0;
    margin: 0;
    display: table;
    background: url(avata3.png)no-repeat;
    background-size: 100% 100%;
    clear: both;
    z-index: 1;
    margin-top: -225px;
    margin-left: 69px;
    top: -800px;
    position: absolute;
}