@font-face {
	font-family: utm;
	src: url('/public/fonts/UTMAndrogyne.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.watermark {
	float: left;
	width: 100%;
	height: 22px;
	color: #999;
	text-align: right;
	padding-right: 22px;
	font-size: 15px;
	font-family: Courier;
	background: #fff;
}

#form-cv {
	font-family: 'Roboto', sans-serif;
	width: 100%;
	float: left;
	position: relative;
	font-size: 14px;
	line-height: 24px;
	color: #000;
}

#sortable .cvo-block .box-content {
	margin: 0;
	width: 100%;
	color: #000;
	padding-bottom: 25px;
	margin-left: 0px;
	float: left;
	width: 100%;
}

#box03 .exp {
	float: left;
	padding: 0px 0;
	padding-bottom: 25px;
}

#cvo-profile {
	display: block;
}

#cv-profile-phone:before {
	color: #000;
}

#cv-profile-email:before {
	color: #000;
}

#cv-profile-address:before {
	color: #000;
}

#cv-profile-sex:before {
	color: #000;
}

#cv-profile-birthday:before {
	color: #000;
}

#cv-content {
	width: 43.4%;
	text-align: justify;
	float: right;
	position: relative;
	padding: 0;
	margin: 0;
	margin-right: 16px;
	padding-top: 20px;
}

#cv-main {
	text-align: justify;
	margin: 0;
	padding: 0;
	position: relative;
	float: left;
	width: 52.5%;
}

#cv-right .ir {
	padding: 0;
	margin: 0;
	float: left;
	width: 135%;
}

#cv-main #cv-right {
	padding: 0;
	margin: 0;
	float: left;
	padding-left: 72px;
	width: 65%;
}

#cv-main #cv-right .ir #sortable {
	padding: 0;
	margin: 0;
}

#cv-right .ir #sortable .block {
	padding: 0;
	margin: 0;
	float: left;
	width: 100%;
}

p.skill-name input {
	color: #fff !important;
}

#cv-right #box03 .ctbx {
	width: 100%;
	padding: 0;
	margin: 0;
	border: 0;
	padding-top: 5px;
	padding-bottom: 0px;
	float: left;
}

#cv-top {
	width: 414.9px;
	float: left;
	position: relative;
}

#dm {
	width: 100%;
	float: left;
	background: url(hd.png);
	background-position: top;
	background-size: 100% 100%;
}

.all {
	float: left;
	clear: both;
	width: 100%;
	background: url(main.png) no-repeat;
	background-size: 100% 100%;
}

#cv-top h1 {
	padding: 0;
	margin: 0;
	font-size: 28px;
	font-family: 'Roboto';
	line-height: 35px;
	text-transform: uppercase;
	margin-bottom: 0;
	color: #000;
	font-weight: bold;
	text-align: center;
	width: 100%;
	float: left;
}

#cv-top h1 span {
	/*letter-spacing: 2px;*/
	font-weight: bold;
}

#box-hvt {
	float: left;
	width: 74%;
	margin-top: 5px;
	padding-left: 53px;
	position: relative;
	right: -30px;
}

#sortable #box01 #prof {
	padding: 0;
	margin: 0;
	padding-bottom: 20px;
	float: left;
	width: 100%;
}

#box01 ul {
	list-style: none;
	padding-left: 20px;
}

#cv-right .cvo-block .head div {
	color: #fff;
}

.innertext {
	margin: 0px;
	padding: 0px;
	width: 29%;
	float: left;
	color: white;
}

.anh-ftt {
	float: left;
	width: 100%;
	height: 20px;
	background: url(tn.png) no-repeat;
	background-position: bottom;
	margin-bottom: 20px;
}

#cv-top h2 {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	width: 100%;
	font-weight: unset;
	font-size: 18px;
	color: #000;
	text-align: center;
	padding-top: 5px;
	float: left;
}

#cv-top h2 span {
	/*font-style: oblique;*/
}

.box-01 p {
	overflow: hidden;
}

#cv-content p {
	margin-bottom: 5px;
}

#cv-content .ir a {
	color: #2ebb2f;
}

#cv-right h3 {
	font-size: 20px;
	text-transform: uppercase;
	color: #000;
	font-weight: bold;
	text-align: left;
	line-height: 20px;
	padding-top: 0px;
}

#cv-content h3 {
	font-weight: unset;
	font-size: 14px;
	line-height: 24px;
	margin: 0px;
	padding: 0px;
	color: #fff;
}

#cv-content #block01 h3 {
	font-weight: bold;
	text-transform: uppercase;
	background: url(ic.png) no-repeat;
	background-position: left;
	padding-left: 35px;
}

#cv-content #block02 h3 {
	background: url(ic.png) no-repeat;
	background-position: left;
	padding-left: 35px;
}

#cv-content #block04 h3 {
	font-weight: bold;
}

#cv-content #block01 p.h3 {
	padding-left: 35px;
}

#cv-content #block02 p.h3 {
	padding-left: 35px;
}

#block01 .exp-content {
	padding-left: 35px;
}

#block02 .exp-content {
	padding-left: 35px;
}

#cv-content #block03 h3 {
	font-weight: unset;
}

#cv-content .exp-date {
	float: none;
}

#cv-content #block01 .exp-date {
	display: none;
}

#cv-content #block03 .exp-date {
	display: none;
}

#cv-content #block04 .exp-date {
	display: none;
}

#cv-content #block05 .exp-date {
	display: none;
}

#cv-content p.h3 {
	margin: 0px;
	padding: 0px;
}

#cv-content .cvo-block {
	margin: 0;
	padding: 0 !important;
	float: left;
	width: 100%;
}

#cv-content #block01 {
	margin-top: 0 !important;
}

#cv-content .ir .cvo-block {
	padding: 0;
}

.ctbx {
	padding-left: 10px;
	padding-right: 10px;
}

#cv-content span {
	display: inline-block;
	z-index: 9999;
}

.ctbx {
	padding-left: 0;
	padding-right: 0;
	position: relative;
}

.ctbx:hover {
	box-shadow: 0 0 1px #999;
}

.ctbx:hover .fieldgroup_controls {
	display: block;
}

[cvo-form-field] {
	cursor: text;
}

#cvo-profile-avatar-wraper {
	width: 72%;
	padding: 0;
	margin: 0;
	float: left;
	display: table;
	padding-top: 54px;
	margin-left: 117px;
}

#cvo-profile-avatar-wraper .wimg {
	width: 181px;
	height: 181px;
	float: left;
	display: unset !important;
	border: 3px solid #6d8f63;
	border-radius: 400px;
}

#cvo-profile-avatar-wraper img {
	width: 181px;
	height: 175px;
	float: left;
	border-radius: 400px;
}

.box-01 {
	float: left;
	width: 100%;
	/* height: 250px; */
}

#cvo-profile {
	display: block;
	float: left;
	width: 100%;
	height: auto;
}

#line-seperate {
	height: 25px;
}

.bar-exp div {
	float: left;
	height: 13px;
	background: #6f9367;
	margin-top: 0px;
}

.ctbx .skill-name {
	margin: 0px;
	padding: 0px;
	color: #000;
	float: left;
	width: 83%;
}

.bar-exp {
	background: #000;
	height: 13px;
	float: left;
	margin-bottom: 0px;
	padding: 0px;
	border-radius: 10px;
	float: left;
	width: 85%;
}

.exp-fake {
	float: left;
	width: 86%;
	height: 14px;
	background: url(bar.png) no-repeat;
	background-size: 100% 100%;
	margin-top: -13.2px;
	margin-left: -1px;
	z-index: 1;
}

.box01-fake {
	margin: 0;
	padding: 0;
	float: left;
	width: 220px;
	height: 192px;
	background: url(anh.png) no-repeat;
	background-position: left;
	background-size: 100% 100%;
	margin-top: -190px;
	margin-left: 103px;
	position: absolute;
	top: -999px;
	z-index: 1;
}

.over-hiden {
	float: left;
	width: 100%;
	overflow: hidden;
}

.bar-value-exp {
	width: 100%;
}

.bar-value-exp input[type='text'] {
	color: #000;
	width: 95%;
	height: 40px;
}

.icoweb label {
	display: block;
}

#cv-right .block {
	position: relative !important;
	padding: 0;
	margin: 0;
}

.ic .icoweb {
	width: 86%;
	text-align: left;
	float: left;
	color: #000;
	padding-left: 10px;
}

.ic {
	width: 100%;
	float: left;
	color: #000;
	padding-bottom: 10px;
}

#prof span {
}

#prof [contentEditable='true'] {
	width: 100%;
	float: left;
}

#prof .icoweb,
#prof .icoweb span {
	height: auto;
}

#sortable .ic {
	margin: 0px;
	padding-top: 0px;
}

div#prof {
	float: right;
	width: 100%;
}

#form-cv .icf {
	float: left;
	line-height: 26px;
	margin-bottom: 0;
	width: 26px;
	height: 26px;
	/* text-align: center; */
}

.icf .fa {
	font-size: 18px;
	color: #6f9367;
	margin-top: 0;
}

div#box01 .fa {
	font-size: 14px;
}

.container {
	width: 100%;
}

.sum {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 30px;
}

#cv-right .block {
	margin-bottom: 10px;
	position: relative;
	padding: 0;
	padding-bottom: 20px;
}

#cv-content .head {
	padding: 0;
	margin: 0 auto;
	/* height: 36px; */
	line-height: 36px;
	float: left;
	width: 100%;
}

#experience-table .ctbx {
	margin-bottom: 10px !important;
	position: relative;
}

.ifo {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 30px;
}

#cv-right h3 {
	width: 100%;
	height: 30px;
	margin: 0;
	color: #ffffff;
	padding: 0;
	float: left;
	line-height: 30px;
	text-align: center;
	background: #b82731;
}

#cvo-experience-blocktitle {
	padding-left: 0px;
	text-align: left;
	float: left;
	width: 100%;
	padding-left: 45px;
	font-size: 19px;
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
}

#experience-table #exp2 {
	margin-top: 0;
	margin-bottom: 0;
}

#exp1 .exp-content {
}

#bg {
	background: #f58284;
	text-align: left;
}

div#experience-table {
	margin: 0px;
	width: 100%;
	padding-top: 10px;
	float: left;
	color: #fff;
	padding-bottom: 20px;
}

h2 [contenteditable='true']:empty:before {
	font-size: 16px;
}

.tt-box1 {
	padding: 0;
	margin: 0 auto;
	height: 30px;
	width: 100%;
	float: left;
	line-height: 30px;
}

div#cv-boxtitle {
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000;
	float: left;
	width: 100%;
	text-align: left;
	padding-right: 50px;
}

.ski {
	padding: 0;
	margin: 0 auto;
	width: 100%;
	float: left;
	line-height: 35px;
}

#box02 .cum {
	padding: 0;
	margin: 0 auto;
	/* height: 35px; */
	width: 100%;
	float: left;
	line-height: 35px;
}

#box04 .cum {
	padding: 0;
	margin: 0 auto;
	/* height: 40px; */
	width: 100%;
	float: left;
	line-height: 35px;
}

#box05 .cum {
	padding: 0;
	margin: 0 auto;
	/* height: 35px; */
	width: 100%;
	float: left;
	line-height: 35px;
}

#box06 .cum {
	padding: 0;
	margin: 0 auto;
	/* height: 35px; */
	width: 100%;
	float: left;
	line-height: 35px;
}

#box07 .cum {
	padding: 0;
	margin: 0 auto;
	/* height: 35px; */
	width: 100%;
	float: left;
	line-height: 35px;
}

.footer {
	background: url(ft.png) no-repeat;
	background-position: left;
	background-size: 100% 100%;
	height: 80px;
	float: left;
	width: 100%;
}

div#sort_block {
	padding: 0;
	margin: 0;
}

.cvo-block .blockControls {
	margin: 0px;
	padding: 0px 5px;
	padding-bottom: 2px;
}

#box01 div#cv-boxtitle {
	width: 70%;
	background: url(t.png) no-repeat;
	background-position: right bottom;
}

#box02 div#cv-boxtitle {
	width: 100%;
	background: url(t.png) no-repeat;
	background-position: right center;
}

#box03 div#cv-boxtitle {
	width: 100%;
	background: url(t.png) no-repeat;
	background-position: right center;
}

#box04 div#cv-boxtitle {
	width: 100%;
	background: url(t.png) no-repeat;
	background-position: right center;
}

#box05 div#cv-boxtitle {
	width: 100%;
	background: url(t.png) no-repeat;
	background-position: right center;
}

#box06 div#cv-boxtitle {
	width: 100%;
	background: url(t.png) no-repeat;
	background-position: right center;
}

#box07 div#cv-boxtitle {
	width: 100%;
	background: url(t.png) no-repeat;
	background-position: right center;
}

.icright1 {
	float: left;
	width: 12%;
	height: 36px;
	background: url(icr_03.png) no-repeat;
	background-position: left;
}

.icright2 {
	float: left;
	width: 12%;
	height: 36px;
	background: url(icr_06.png) no-repeat;
	background-position: left;
}

.icright3 {
	float: left;
	width: 12%;
	height: 36px;
	background: url(icr_08.png) no-repeat;
	background-position: left;
}

.icright4 {
	float: left;
	width: 12%;
	height: 36px;
	background: url(icr_10.png) no-repeat;
	background-position: left;
}

.icright5 {
	float: left;
	width: 12%;
	height: 36px;
	background: url(icr_12.png) no-repeat;
	background-position: left;
}

.icright1,
.icright2,
.icright3,
.icright4,
.icright5 {
	display: none;
}

#block01 #cvo-experience-blocktitle {
	background: url(tt_10.png) no-repeat;
	background-position: 325px center;
	padding-right: 20px;
}

#block02 #cvo-experience-blocktitle {
	background: url(tt_07.png) no-repeat;
	background-position: right;
	padding-right: 60px;
}

#block03 #cvo-experience-blocktitle {
	background: url(tt_10.png) no-repeat;
	background-position: right;
	padding-right: 151px;
}

#block04 #cvo-experience-blocktitle {
	background: url(tt_14.png) no-repeat;
	background-position: 265px;
	padding-right: 80px;
}

#block05 #cvo-experience-blocktitle {
	background: url(tt_16.png) no-repeat;
	background-position: 316px center;
	padding-right: 30px;
}

#cv-profile-fullname {
	width: 100%;
}

#block01 .head {
	background: url(icr_03.png) no-repeat;
	background-position: left;
}
#block02 .head {
	background: url(icr_06.png) no-repeat;
	background-position: left;
}
#block03 .head {
	background: url(icr_08.png) no-repeat;
	background-position: left;
}
#block04 .head {
	background: url(icr_10.png) no-repeat;
	background-position: left;
}
#block05 .head {
	background: url(icr_12.png) no-repeat;
	background-position: left;
}
