#cv-top {
    width: 100%;
    height: 529px;
    background-image: url(hd3.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}
.all{
  float: left;
  clear: both;/*
  height: 879px;*/
  background: url(bd3.png)no-repeat;
  background-size: 100% 100%;
  width: 100%;
  padding-bottom: 50px;
}
.footer{
    float: left;
  width: 100%;
    background-image: url(ft3.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative; 
    height:70px;
}
.ski {
    padding: 0;
    margin: 0 auto;
    height: 40px;
    width: 100%;
    line-height: 40px;
    text-align: left;
    border-top: 5px solid #000;
    background-color: #ffeda2;
}
.cum {
    padding: 0;
    margin: 0 auto;
    height: 40px;
    width: 100%;
    line-height: 40px;
    text-align: left;
    border-top: 5px solid #000;
    background-color: #ffeda2;
}