#cv-top{	


	 background-position: 15% 75%;
	
	border-bottom: solid 15px #52575d;

}
#cv-right .h3, #cv-content .head{

    color: #52575d;    

}

#cv-content h3{	
    color:#52575d;    

}
.bar-exp span {
    background: #52575d;
}
#cv-right .box-contact{

		border-bottom: solid 15px #52575d;
}