    .bar-exp div {
        float: left;
        height: 8px;
        background: #45d4b7;
    }
    .bar-exp {
        width: 100%;
        background: #fff;
        height: 8px;
        float: left;
        margin-bottom: 12px;
        border:1px solid #45d4b7;
    }
    #cv-content .head1 {
        font-size: 23px;
        padding: 0;
        background: url(ic_03.png)no-repeat;
        background-position: right center;
        text-align: left;
        color: #45d4b7;
        font-weight: bold;
        height: 40px;
        float: right;
        width: 97%;
        line-height: 40px;
        text-transform: uppercase;
        border-bottom: 2px solid #000;
        margin-bottom: 0px;

    }
    #cv-content .head2 {
        font-size: 23px;
        padding: 0;
        background: url(ic_06.png)no-repeat;
        background-position: right center;
        text-align: left;
        color: #45d4b7;
        font-weight: bold;
        height: 40px;
        float: right;
        width: 97%;
        line-height: 40px;
        text-transform: uppercase;
        border-bottom: 2px solid #000;
        margin-bottom: 0px;
    }
    #cv-content .head3 {
        font-size: 23px;
        padding: 0;
        background: url(ic_08.png)no-repeat;
        background-position: right center;
        text-align: left;
        color: #45d4b7;
        font-weight: bold;
        height: 40px;
        float: right;
        width: 97%;
        line-height: 40px;
        text-transform: uppercase;
        border-bottom: 2px solid #000;
        margin-bottom: 0px;
    }
    #cv-content .head4 {
        font-size: 23px;
        padding: 0;
        background: url(ic_11.png)no-repeat;
        background-position: right center;
        text-align: left;
        color: #45d4b7;
        font-weight: bold;
        height: 40px;
        float: right;
        width: 97%;
        line-height: 40px;
        text-transform: uppercase;
        border-bottom: 2px solid #000;
        margin-bottom: 0px;
    }
    #cv-content .head5 {
        font-size: 23px;
        padding: 0;
        background: url(ic_14.png)no-repeat;
        background-position: right center;
        text-align: left;
        color: #45d4b7;
        font-weight: bold;
        height: 40px;
        float: right;
        width: 97%;
        line-height: 40px;
        text-transform: uppercase;
        border-bottom: 2px solid #000;
        margin-bottom: 0px;
    }
    #cv-right .block h3 {
    font-size: 23px;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 2px solid #fff;
    color: #45d4b7;
    margin-left: 15px;
    padding: 0;
}
    #box-hvt {
        float: right;
        height: 115px;
        width: 100%;
        padding: 0px;
        margin: 0px;
        background: #45d4b7;
    }
   .ft {
    width: 100%;
    height: 50px;
    padding: 0px;
    margin: auto;
    z-index: 2;
    background: #45d4b7;
    position: relative;
}

    #prof {
        clear: both;
        padding-left: 12px;
        background: url(hd1.png)no-repeat;
        background-size: 100% 100%;
    }