#cv-top {
    background-image: url(hd2.png);
    background-repeat: no-repeat;
}

.all {
    background-image: url(bd2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#cv-top h2 {
    background-color: #688b45;
}

#form-cv .icf {
    background: #688b45;
}

.bar-exp {
    background: #688b45;
    border: solid 1px #688b45;
}

#block01 h3 .exp-title {
    background-color: #688b45;
    color: #fff;
}

#block02 h3 .exp-title {
    background-color: #688b45;
    color: #fff;
}

.box-dm {
    width: 207px;
    height: 207px;
    clear: both;
    z-index: 1;
    padding: 0;
    margin: 0;
    display: table;
    position: absolute;
    float: left;
    background: url(ava2.png)no-repeat;
    background-size: 100% 100%;
    margin-top: -188px;
    margin-left: -17px;
    top: -900px;
}

.footer {
    background: url(ft2.png)no-repeat;
    background-size: 100% 100%;
    height: 66px;
}