/* MÃƒÂ u top */
#cv-content .head:before,.bg-right {
    background-color: #7986CB!important;
}
#cvo-profile-avatar-wraper,.bar-exp span,.bg-top {
    background-color: #363a55!important;
}
.color-right {
    color: #7986CB!important;
}

#page-cv{
    width: 1072px;
    float: left;
}
#form-cv {
    width: 900px;
    min-height: 1273px;
    float: left;
    position: relative;
    font-size: 15px;
    overflow: hidden;
    color: #111;
}
#form-cv, #cv-content h3 {
    line-height: 25px;
}
/* Dan trang */
#cv-main {
    padding: 0; 
    display: flex;
    flex-wrap: wrap;
}

#cv-center {
    width: 280px;
    display: flex;
    margin: 0 20px 0 0;
    flex-direction: column;
    background-color: #ccc;
    position: relative;
    z-index: 999;
    color: #fff;
}
#cv-content {
    width: calc(100% - 300px);
    padding: 0;
    margin: 0;
    z-index: 987;
}

#cv-content .ir {
    margin: 260px 0 0;
    padding: 0 20px 20px;
}
/* Code top */
#cv-top{
    position: relative;
}

.box-01 p{}
.box-01 {
    padding: 0;
    flex-direction: column;
    margin: 0;
    position: relative;
}


#cvo-profile-avatar-wraper {
    padding: 0;
    height: 220px;
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 120px;
    margin: 20px auto;
}
#cvo-profile-avatar-wraper #cvo-profile-avatar {
    padding: 0;
    width: 200px;
    height: 200px;
    border: none;
    border-radius: 100px;
    overflow: hidden;
}
#cvo-profile-info {
    position: absolute;
    z-index: 998;
    width: 100%;
    height: 200px;
    margin: 30px 0 0;
    background-color: #555;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hewifew {
    width: calc(100% - 300px);
    margin: 0 auto 0 0;
    text-align: center;
}

#cvo-profile-info h1 {
    font-size: 38px;
    font-weight: 700;
    margin: 0px 0 5px;
    line-height: 44px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

#cvo-profile-info h2 {
    font-size: 21px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}
/* CV Right */
#cv-right {
    padding: 0 17px;
    margin: 0;
}

#cv-right .block {
    margin: 0;
    padding: 0;
}
#sortable .cvo-block {
    margin: 0px;
}

#cv-right .hasclass, .box-content, .skill {
    padding: 0;
    margin: 0 0 20px;
}

/* Code chung h3 cv-center + cv-content */
#cv-center .h3, #cv-content .head {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 18px;
    margin: 0;
    padding: 0;
    width: 100%;
}
#cv-content .head {
    padding: 7px 10px 5px;
    color: #fff;
    box-sizing: border-box;
    position: relative;
}
#cv-center .h3 span {
    padding: 10px 0 7px;
    width: 100%;
    text-align: center;
}
#cv-content .head:before {
    font-family: 'FontAwesome';
    font-size: 22px;
    line-height: 48px;
    width: 46px;
    height: 46px;
    position: absolute;
    top: -9px;
    right: 10px;
    border-radius: 40px;
    text-align: center;
}
#cv-content #block01 .head:before {
    content:"\f19d";
}
#cv-content #block02 .head:before {
    content:"\f00c";
}
#cv-content #block03 .head:before {
    content:"\f206";
}
#cv-content #block04 .head:before {
    content:"\f0c0";
}
#cv-content #block05 .head:before {
    content:"\f067";
}

#cv-center .h3 {
    text-align: center;
    margin: 0 0 8px;
}

#cv-center .h3 span {}
/* Ico web */

#cv-right .hasclass {
    display: flex;
    flex-direction: column;
}
#cv-right .icoweb {
    display: flex;
    margin: 0 0 3px;
    flex-wrap: wrap;
    align-items: center;
}

#cv-right .icoweb span{
    /*display: inline-block;*/
}

#cv-right .icoweb span.cv-ico-center {
    margin-right: 30px;
    display: none!important;
}
#cv-right .icoweb span.cv-hi i {
    width: 25px;
    height: 25px;
    margin: 0;
    text-align: center;
    line-height: 25px;
    font-size: 17px;
    color: #FFF;
}

#cv-right .icoweb span.cv-hi {
    margin: 0 5px 0 0;
}



/* Content */
#cv-content .cvo-block {
    padding: 0;
    margin: 0;
}
#cv-content .ctbx {
    margin: 0;
    padding: 10px 0;
}
#cv-content p{
    /*margin-bottom: 5px*/
}
#cv-content .ir a{
    color: #2ebb2f
}

#cv-content .h3{
    margin-bottom: 0;
    font-weight: 500;
}


#experience-table{
    padding: 0;
}

/* content 2*/

#cv-content h3 {
    font-weight: 500;
    margin-bottom: 0px;
}


#cv-content span.exp-date {
    display: block;
    float: none;
    font-size: 14px;
    font-weight: normal;
}

#cv-content .exp-title {
    margin: 0;
    font-size: 17px;
    font-weight: 400;
    display: block;
    text-transform: uppercase;
    padding: 0;
}

#cv-content .exp-subtitle {
    margin: 0;
    display: block;
    font-size: 16px;
    font-weight: 400;
    padding: 0;
}
#cv-content .exp-content {
    text-align: left;
    font-weight: 400;
    font-size: 15px;
    padding: 0;
    color: #333;
    display: block;
}

/* code Chung */
.bar-exp span {
    float: left;
    height: 10px;
}
.bar-exp {
    margin: 0px 0px 10px;
    height: 10px!important;
    background-color: #fff;
}
.bar-value-exp{
    width: 50%
}
.skill-name{
    display: block;
}
.skill-name input{
    font-weight: 500;
    color: #fff;
}

p.skill-name input {
    font-size: 15px;
}

#line-seperate {
    height: 25px;
    background-color: #e3ecec;
}

.cv-head{
    width: 100%;
    padding: 0px;
    margin: 0px;
    height: 45px;
}
.box-content{
}

/*css cvh */
[cvo-form-field] {
    cursor: text;
}
.ctbx:hover {
    box-shadow: 0 0 1px #999;
}
.ctbx:hover .fieldgroup_controls{
    display: block;
}
.ctbx .r5 .h3{
    text-transform: uppercase;
}
/* fix vi tri trinh dieu khien css cvh */
#cv-right .fieldgroup_controls {
    top: 34px!important;
    right: 1px;
}

#cv-content .fieldgroup_controls {
    top: -34px!important;
    right: 65px;
}

.ctbx:hover {
    box-shadow: 0 0 1px #999;
}
.ctbx:hover .fieldgroup_controls{
    display: block;
}
.ctbx .r5 .h3{
    text-transform: uppercase;
}
/* fix vi tri trinh dieu khien css cvh */
#cv-content .ctbx,
#cv-right .ctbx {
    position: relative;

}

#cv-right .fieldgroup_controls {
    top: -34px!important;
    right: 0px;
}

#cv-content .fieldgroup_controls {
    top: -34px!important;
    right: 0;
}