#cv-top {
    width: 100%;
    height: 305px;
    background-image: url(hd3.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}
#cv-content #block02 h3 {
  font-weight: bold;
  color: #fff568;
  text-transform: unset;
  float: left;
  width: 100%;
  font-size: 15px;
}
.bar-exp div {
    float: left;
    height: 8px;
    background: #fff568;
    margin-top: 0px;
    border-radius: 10px;
}
.bar-exp {
    background: #fff;
    height: 8px;
    margin-top: 5px;
    margin-bottom: 0px;
    border: 2px solid #fff568;
    border-radius: 10px;
    padding: 0px;
    float: right;
    width: 100%;
}
.icf .fa {
    font-size: 20px;
    color: #fff568;
    margin: 0;
}
#block01 .head{
  background: url(t3.png)no-repeat;
  background-size: 50% 3%;
  background-position: center right;
}
#block02 .head{
  background: url(t3.png)no-repeat;
  background-size: 40% 3%;
  background-position: center right;
}
#block03 .head{
  background: url(t3.png)no-repeat;
  background-size: 68% 3%;
  background-position: center right;
}
#block04 .head{
  background: url(t3.png)no-repeat;
  background-size: 56% 3%;
  background-position: center right;
}
#block05 .head{
  background: url(t3.png)no-repeat;
  background-size: 54% 3%;
  background-position: center right;
}
#box01 .tt-box1{
	background: url(t3.png)no-repeat;
	background-size: 41% 3%;
	background-position: left center;
}
#box02 .cum{
	background: url(t3.png)no-repeat;
	background-size: 28% 3%;
	background-position: left center;
}
#box03 .ski{
	background: url(t3.png)no-repeat;
	background-size: 70% 3%;
	background-position: left center;
}
#box04 .cum{
	background: url(t3.png)no-repeat;
	background-size: 58% 3%;
	background-position: left center;
}
#box05 .cum{
	background: url(t3.png)no-repeat;
	background-size: 65% 3%;
	background-position: left center;
}
#box06 .cum{
	background: url(t3.png)no-repeat;
	background-size: 70% 3%;
	background-position: left center;
}
#box07 .cum{
	background: url(t3.png)no-repeat;
	background-size: 40% 3%;
	background-position: left center;
}
.footer {
  /*background: #edb0b0;*/
  background:url(ft3.png)no-repeat;
  background-size: 100% 100%;
  height:120px; 
  float: right;
  width: 100%;
}