#cv-right{	
	background: #ffffff;	
}

#form-cv{
	background: #fff;
}
#cv-top{	
	background: #ff2d2d94;
}

#cv-right .h3{
	background-color:#f9cdcd;
	color: #000000;
}
#cv-right .h3 span{
	background:#fdacac;
}

#cv-content .head{
	background: #f9cdcd;
	color: #000000;
}
#cv-content .head span{
	background: #fdacac;
}
.bar-exp span {
	background:#ff5605d4;
}
.bar-exp{
		border:1px solid #ffbe05ad;
}
#cv-top h1{
	color: #000000;
}
#cv-top h2{
	color: #000000;
}
