#form-letter{
		
	background: url('../../nendep1115.jpg') #fff left top repeat-y;
	background-position: -35px -50px;
	background-size: 100% 100%; 
	border:solid 1px #adada9;
	color:#000;
	position: relative;
}