#form-cv{
	border:4px solid #348a8c;
}
#cv-top h1, #cv-top h2{
	color:#348a8c;
}
#cv-right h3, #cv-content .head{
	color:#348a8c;
	border-bottom: 4px solid #348a8c
}
#form-cv .icf, .bar-exp div{
	background:#348a8c
}