#form-cv{
	border:4px solid #da5441;
}
#cv-top h1, #cv-top h2{
	color:#da5441;
}
#cv-right h3, #cv-content .head{
	color:#da5441;
	border-bottom: 4px solid #da5441
}
#form-cv .icf, .bar-exp div{
	background:#da5441
}