/* 2 */

:root {
    --sex: url(sex.png) no-repeat;
    --phone: url(phone.png) no-repeat;
    --date: url(date.png) no-repeat;
    --email: url(email.png) no-repeat;
    --add: url(add.png) no-repeat;
    --avt: url(avt.png) no-repeat;
    --dot: url(dot.png) no-repeat;
    --top: url(top2.png) no-repeat;
    --page: url(page2.png) no-repeat;
    --tt: url(tt2.png) no-repeat;
    --soc: url(soc2.png) no-repeat;
}