#cv-top {
    width: 100%;
    height: 279px;
    background-image: url(hd2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}
.all {
    float: left;
    clear: both;
    width: 100%;
    background: url(main2.png)no-repeat;
    background-size: 100% 100%;
}
.footer {
    background: url(ft2.png)no-repeat;
    background-size: 100% 100%;
    float: left;
    height: 89px;
    width: 100%;
}

#cv-top h1 {
    padding: 0;
    margin: 0;
    font-size: 35px;
    font-family: "Roboto";
    line-height: 30px;
    text-transform: uppercase;
    color: #00a99d;
    padding-top: 19px;
    padding-bottom: 10px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    float: left;
}
div#cv-boxtitle {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #00a99d;
}
#cv-content .head #cvo-experience-blocktitle {
    color: #00a99d;
    float: left;
    padding-right: 55px;
}
#box02{
      border-bottom: solid 2px #00a99d; 
}

#box03{
      border-bottom: solid 2px #00a99d; 
}

#box04{
      border-bottom: solid 2px #00a99d; 
}

#box05{
      border-bottom: solid 2px #00a99d; 
}

#box06{
      border-bottom: solid 2px #00a99d; 
}

#box07{
      border-bottom: solid 2px #00a99d; 
}
#block01 .head{
  background: url(ic2_03.png)no-repeat;
    background-position: 80px 20px;
    background-size: 79%;
}
#block02 .head{
  background: url(ic2_06.png)no-repeat;
    background-position: 40px 20px;
    background-size: 90% 40%;
}
#block03 .head{
background: url(ic2_08.png)no-repeat;
    background-position: 94px 20px;
    background-size: 76% 29%;
}
#block04 .head{
background: url(ic2_11.png)no-repeat;
    background-position: 153px 14px;
    background-size: 59% 48%;
}
#block05 .head{
  background: url(ic2_14.png)no-repeat;
    background-position: 80px 20px;
    background-size: 79%;
}
#cvo-profile .box-dm {
   width: 219px;
    height: 218px;
    padding: 0;
    margin: 0;
    float: right;
    display: table;
    background: url(avata2.png)no-repeat;
    background-size: 100% 100%;
    clear: both;
    z-index: 1;
    margin-top: -225px;
    margin-right: 69px;
    position: absolute;
    top: -800px;
}