/* 3 */

:root {
  --sex: url(sex-3.png) no-repeat;
  --phone: url(phone-3.png) no-repeat;
  --date: url(date-3.png) no-repeat;
  --email: url(mail-3.png) no-repeat;
  --add: url(add-3.png) no-repeat;
  --top: url(top3.png) no-repeat;
  --page: url(page3.png) no-repeat;
  --ngang: url(ngang3.png) no-repeat;
  --skill: url(skill3.png) no-repeat;
  --kn: url(dot3.png) no-repeat, url(kn3.png) no-repeat;
  --color: #026d77;
  --color-h2: #03afb9;
}