#footer {
    background-color: unset;
    background-image: url(ft3.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
}
#box02 h3 {
    color: #000;
    background: url(ic1_06.jpg)no-repeat;
    background-position: 5px 4px;
}
#box03 h3 {
    color: #000;
    background: url(ic1_10.jpg)no-repeat;
    background-position: 5px 4px;
}
#box04 h3{
    color: #000;
    background: url(ic1_12.jpg)no-repeat;
    background-position: 5px 4px;
}
#box05 h3{
    color: #000;
    background: url(ic1_16.jpg)no-repeat;
    background-position: 5px 4px;
}
#box06 h3{
    color: #000;
    background: url(ic1_18.jpg)no-repeat;
    background-position: 5px 4px;
}
#box07 h3{
    color: #000;
    background: url(ic1_20.jpg)no-repeat;
    background-position: 5px 4px;
}
#cv-content .head {
    color: #00bafa;
}
#block02 h3 {
    background: url(ic1_03.jpg)no-repeat;
    background-position: 0px 6px;
}
.bar-exp div {
    background: #00bafa;
}
.exp-fake {
    background: url(kynang.png)no-repeat;
    background-size: 100% 100%;
}
.icf .fa {
    color: #00bafa;
}

#cvo-profile-avatar-wraper {
    background: url(hd3_02.png) no-repeat;
    background-size: 100% 100%;
}

#box-hvt {
    background: url(hd3_03.png) no-repeat;
    background-size: 28% 100%;
}