#footer {
    background-color: unset;
    background-image: url(ft2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#box02 h3 {
    color: #000;
    background: url(ic2_06.jpg)no-repeat;
    background-position: 5px 4px;
}
#box03 h3 {
    color: #000;
    background: url(ic2_10.jpg)no-repeat;
    background-position: 5px 4px;
}
#box04 h3{
    color: #000;
    background: url(ic2_12.jpg)no-repeat;
    background-position: 5px 4px;
}
#box05 h3{
    color: #000;
    background: url(ic2_14.jpg)no-repeat;
    background-position: 5px 4px;
}
#box06 h3{
    color: #000;
    background: url(ic2_16.jpg)no-repeat;
    background-position: 5px 4px;
}
#box07 h3{
    color: #000;
    background: url(ic2_18.jpg)no-repeat;
    background-position: 5px 4px;
}
#cv-content .head {
    color: #ff9900;
}
#block02 h3 {
    background: url(ic2_03.jpg)no-repeat;
    background-position: 0px 6px;
}
.bar-exp div {
    background: #fea600;
}
.exp-fake {
    background: url(kynang.png)no-repeat;
    background-size: 100% 100%;
}
.icf .fa {
    color: #ffda5d;
}

#cvo-profile-avatar-wraper {
    background: url(hd2_02.png) no-repeat;
    background-size: 100% 100%;
}

#box-hvt {
    background: url(hd2_03.png) no-repeat;
    background-size: 28% 100%;
}