#form-letter {
    width: 100%;
	height: 1130px;
	float: left;	
	background: url(form2.png);
	background-size: 100% 100%;
	color:#000;
	position: relative;
}
#lt-top{		
	color: #cd82ff;
	padding-top: 150px;
	text-align: center;
	font-size: 18px;
	line-height: 30px;
	position: relative;
	z-index: 99;
	font-weight: bold;
}
#lt-top h1{	
	text-transform: uppercase;
	font-weight:bold;
	font-size: 18px;
	color:#cd82ff;
	margin: 0px
}
.text{
	text-align: center;
	color: #cd82ff;
	font-weight: bold;
}