#cv-content .head, .bar-exp div{
	background: #a9ac77
}
#cvo-profile-avatar-wraper{
	border:5px solid #a9ac77;
}
#cv-top h1, #cv-top h2, .icf .fa{
	color:#a9ac77;
}
#cv-right h3{
	color: #a9ac77;
    border: 2px solid #a9ac77;
}
.bar-exp{
	border: 2px solid #a9ac77;	
}