#cv-content .head, .bar-exp div{
	background: #ff5964
}
#cvo-profile-avatar-wraper{
	border:5px solid #ff5964;
}
#cv-top h1, #cv-top h2, .icf .fa{
	color:#ff5964;
}
#cv-right h3{
	color: #ff5964;
    border: 2px solid #ff5964;
}
.bar-exp{
	border: 2px solid #ff5964;	
}
