#form-cv{
	border: solid 3px #4daec5;
	font-weight: 450;
	border-left: solid 50px #4daec5;	
}
#cv-right .h3, #cv-content .head{
    border-bottom:dotted 2px #4daec5;  
    color: #000000;
}
#cv-content .head span{
	border-right: solid 5px #4daec5;
}
#cv-right .h3{	
    border-bottom:dotted 2px #4daec5;
    color: #4daec5;  
}

#cvo-profile-avatar-wraper #cvo-profile-avatar{
	border:solid 10px #4daec5;
}

#cv-right .icoweb span{

	border:solid 2px #4daec5;
		background:#4daec5;

}

#sortable .icoweb i.fa{
    color:#4daec5!important;
	border:solid 2px #ffffff

 }

 #cv-right .icoweb span{
	border:solid 2px #4daec5;
	background:#4daec5;
	border-radius: 10px 10px 10px 10px;

}

.bar-exp span {

    background: #4daec5;
    
}