#form-cv{
	border: solid 3px #f1455d;
	font-weight: 450;
	border-left: solid 50px #f1455d;	
}
#cv-right .h3, #cv-content .head{
    border-bottom:dotted 2px #f1455d;  
    color: #000000;
}
#cv-content .head span{
	border-right: solid 5px #f1455d;
}
#cv-right .h3{	
    border-bottom:dotted 2px #f1455d;
    color: #f1455d;  
}

#cvo-profile-avatar-wraper #cvo-profile-avatar{
	border:solid 10px #f1455d;
}

#cv-right .icoweb span{

	border:solid 2px #f1455d;
		background:#f1455d;

}

#sortable .icoweb i.fa{
    color:#f1455d!important;
	border:solid 2px #ffffff

 }

 #cv-right .icoweb span{
	border:solid 2px #f1455d;
	background:#f1455d;
	border-radius: 10px 10px 10px 10px;

}

.bar-exp span {

    background: #f1455d;
    
}