#box-hvt{
    background-image: url('../bg4.png');
    background-size: 100% 100%;
}

#box-hvt h1{
    color: #3f4c4a;
}

#box-hvt h2{
    color: #3f4c4a;
}

.box-contact p{
    border: solid 1px #6a807d;
    background-color: #00ccca;
}

#cv-content h3{
	border: solid 1px #00ccca;
}