#form-letter{
	
	background: url('../../nen34.png') #fff left top repeat-y;
		background-position: 55% 150%;
	background-size: 100% 100%; 
	border-bottom: solid 15px #baa6cf;
	border-right: solid 15px #baa6cf;
	border-top: solid 1px #baa6cf;
	border-left: solid 1px #baa6cf;

}