#form-cv {
	font-size: 13px
}

#cv-content .head {
	font-size: 19px
}

.cum,
.ski {
	font-size: 19px;
}

#cv-content h3 {
	font-size: 13px
}

.chu h2 {
	font-size: 18px
}

.chu h1 {
	font-size: 35px;
}