div#cv-boxtitle,
#cvo-experience-blocktitle {
    color: #0005a1;
}

#cv-top::after {
    border-top: 148px solid #001136;
}

#cv-top::before {
    border-top: 296px solid #44a1fa;
}

div#prof {
    background: linear-gradient(to right, #44a1fa, #2ebff8);
}

.all {
    background-image: url(all_background_mau2.png);
}

.footer,
.footer-background {
    background-color: #44a1fa;
}

#block01 .icright1,
#block02 .icright2,
#block03 .icright3,
#block04 .icright4,
#block05 .icright5,
#box03 .cumicc3,
#box04 .cumicc4,
#box05 .cumicc5,
#box06 .cumicc6,
#box07 .cumicc7 {
    border-bottom: 10px solid #44a1fa;
    border-right: 10px solid #44a1fa;
}

.bar-exp {
    border: 2px solid #44a1fa;
}

.bar-exp div {
    background: #44a1fa;
}