#cv-top {
    background-image: url(hd3.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.all {
    background-image: url(main3.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#cv-content .head #cvo-experience-blocktitle {
    color: #cc9999;
}

div#cv-boxtitle {
    color: #cc9999;
}

.icf .fa {
    color: #cc9999;
}

.box-dm {
    background: url(avata3.png)no-repeat;
    background-size: 100% 100%;
}