#form-letter{
	width: 100%;
	height: 1130px;
	float: left;	
	color:#000000;
	position: relative;
	background:url(bg-4.png)no-repeat;
	background-size: 100% 100%;
}
#lt-top {
    color: #000000;
    position: relative;
    float: left;
    width: 100%;
    text-align: left;
    padding-bottom: 25px;
    border-bottom: 4px solid #32384d;
}
#lt-top h1 {
    width: 100%;
    text-transform: uppercase;
    display: block;
    font-size: 30px;
    line-height: 24px;
    font-weight: bold;
    text-align: center;
    color: #32384d;
    padding: 25px 0;
}
.icf .fa {
    font-size: 18px;
    color: #32384d;
    font-weight: normal;
    margin-top: 0;
    float: left;
}