#boxx-img {
    background: url(cv-2.png);
    background-repeat: no-repeat;
}
.footer {

    background: url(ft2.png);

}

#cv-right h3 {
    background: #c49071;
}

.bar-exp div {
    background: #f95a04;
}
#sortable .cvo-block {
    border: 2px solid #f95a04;
}
#cv-content .head {
    background: #abb2d9;
}

#block01 .head #cvo-experience-blocktitle {
    border-bottom: 2px solid #f95a04;
}
#block02 .head #cvo-experience-blocktitle {
    border-bottom: 2px solid #f95a04;
}
#block03 .head #cvo-experience-blocktitle {
    border-bottom: 2px solid #f95a04;
}
#block04 .head #cvo-experience-blocktitle {
    border-bottom: 2px solid #f95a04;
}
#block05 .head #cvo-experience-blocktitle {
    border-bottom: 2px solid #f95a04;
}
#cv-content .head {
    background: #dcbca9;
    color: #f95a04;
}
#cv-content #block01 .head {
    color: #f95a04;
}
#cv-top h1 {
    font-family: "Roboto";
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 0;
    color: #f95a04;
    margin-top: 0;
    font-weight: bold;
    text-align: center;
    font-size: 36px;
    letter-spacing: 5px;
}
#cv-right #box01 {
    margin-top: 0;
    padding-top: 10px;
    border: 2px solid #f95a04;
    margin-bottom: 15px;
}
#sortable #box01 h3 {
    color: #fff;
    text-transform: uppercase;
    background: #c49071;
    width: 96%;
}
.icf .fa {
    font-size: 14px;
    color: #f95a04;
    margin-top: 0;
    float: none;
}