/* 3 */

:root {
    --sex: url(sex3.png) no-repeat;
    --date: url(date3.png) no-repeat;
    --phone: url(phone3.png) no-repeat;
    --email: url(email3.png) no-repeat;
    --add: url(add3.png) no-repeat;
    --avt: url(avt3-2.png) no-repeat;
    --page: url(page3-1.png) no-repeat, url(soc3.png) no-repeat;
    --cv-top: url(top3.png) no-repeat;
    --job: url(job3.png) no-repeat;
    --tt: url(tt3.png) no-repeat;
    --all: url(all3.png) no-repeat;
    --kn: url(kn3.png) no-repeat;
    --foot: url(foot3.png) no-repeat;
    --title: #1572a1;
}