/* 3 */

:root {
    --form: url(form3.png) no-repeat;
    --sex: url(sex3.png) no-repeat;
    --phone: url(phone3.png) no-repeat;
    --date: url(date3.png) no-repeat;
    --email: url(mail3.png) no-repeat;
    --add: url(add3.png) no-repeat;
    --fake: url(fake1-3.png) no-repeat;
    --cum-ski: url(cum-ski3.png) no-repeat;
    --dot: url(dot3.png) no-repeat;
    --dot-kn: url(dot-kn3.png) no-repeat;
    --doc: url(doc3.png) no-repeat;
    --ngang: url(ngang3.png) no-repeat;
    --h1: #1f4037;
    --color: #1f4037;
    --bg-muctieu: #fff;
    --kn: url(kn3.png) no-repeat;
    --skill: url(skill3.png) no-repeat;
    --bg-tt-main: url(bg-tt-main3.png) no-repeat;
    --color-boxtitle:  #204138, #97eec5;
  }