/* 2 */

:root {
    --form: url(form2.png) no-repeat;
    --sex: url(sex2.png) no-repeat;
    --phone: url(phone2.png) no-repeat;
    --date: url(date2.png) no-repeat;
    --email: url(mail2.png) no-repeat;
    --add: url(add2.png) no-repeat;
    --fake: url(fake1-2.png) no-repeat;
    --cum-ski: url(cum-ski2.png) no-repeat;
    --dot: url(dot2.png) no-repeat;
    --dot-kn: url(dot-kn2.png) no-repeat;
    --doc: url(doc2.png) no-repeat;
    --ngang: url(ngang2.png) no-repeat;
    --h1: #000;
    --color: #fc4a1a;
    --bg-muctieu: #f7b733;
    --kn: url(kn2.png) no-repeat;
    --skill: url(skill2.png) no-repeat;
    --bg-tt-main: url(bg-tt-main2.png) no-repeat;
    --color-boxtitle:  #fc4b1a, #f7b533;
  }