#cv-right h3, #cv-content .head {
  font-size: 20px;
  text-transform: unset;
  color: #dd22c5;
  font-weight: bold;
  text-align: left;
  margin: 0px auto 10px;
  line-height: 20px;
  padding-top: 0px;
}
.bar-exp div {
  float: left;
  height: 10px;
  background: #dd22c5;
  border-radius: 5px;
  margin-top: 0px;
}
.bar-exp {
  background: #fff;
  height: 10px;
  border: 1px solid #dd22c5;
  border-radius: 5px;
  float: none;
  margin-top: 0;
  margin-bottom: 0px;
  padding: 0px;
}
