#cv-top {
    width: 100%;
    height: 320px;
    background-image: url(bg-3.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}
.all {
    padding-left: 20px;
    padding-right: 15px;
    background: url(bg3.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 50px;
}
#cv-content h3 {
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #c12668;
}
.bar-exp div {
    float: left;
    height: 10px;
    background: #c12668;
    margin-top: 0px;
}
.bar-exp {
    background: #ffffff;
    height: 10px;
    float: none;
    margin-top: 0;
    margin-bottom: 0px;
    padding: 0px;
    border-radius: 5px;
    border: 1px solid #c12668;
}
.icf .fa {
    font-size: 20px;
    color: #c12668;
    margin-top: 0;
    float: left;
}
#cv-content .head {
    height: 35px;
    width: 100%;
    line-height: 35px;
    margin-bottom: 0;
    border-top: 2px solid #c12668;
    border-bottom: 2px solid #c12668;
    text-align: center;
}
#cv-content .head #cvo-experience-blocktitle {
    color: #c12668;
}
.tt-box1 {
    height: 35px;
    width: 100%;
    line-height: 35px;
    border-top: 2px solid #c12668;
    border-bottom: 2px solid #c12668;
    text-align: center;
}
.ski {
    height: 35px;
    width: 100%;
    line-height: 35px;
    border-top: 2px solid #c12668;
    border-bottom: 2px solid #c12668;
    text-align: center;
}
.cum {
    height: 35px;
    width: 100%;
    line-height: 35px;
    border-top: 2px solid #c12668;
    border-bottom: 2px solid #c12668;
    text-align: center;
}
div#cv-boxtitle {
    font-size: 19px;
    font-weight: bold;
    text-transform: uppercase;
    color: #c12668;
    margin-left: 20px;
}