#cv-top {
    background: url(top3.png) no-repeat;
    /* background-size: 87px 87px; */
    background-position: 2% 8%;
    position: relative;
}
#cv-content .ir .cvo-block {
    padding: 0;
    background: url(border_bot3.png) no-repeat;
    background-position: top;
    margin-top: 10px;
}
#box02 div#cv-boxtitle {
    padding: 0 20px;
    background: url(ttb3.png) no-repeat;
    background-position: left;
}
.bar-exp div {
    float: left;
    height: 25px;
    background: url(kn3.png) no-repeat;
    background-position: right;
    margin-top: -7px;
    border-radius: 10px;
    position: absolute;
    /* top: 22px; */
}

#cv-content .exp-date {
    border-bottom: solid 2px #98afdd;
}