#form-cv {
  width: 100%;
  float: left;
  position: relative;
  font-size: 17px;
  line-height: 25px;
  color: #484848;
  border-bottom: 40px solid #025159;
}
#cv-main {
  margin: 0;
  padding: 0;
  width: 40.99%;
  text-align: justify;
  float: left;
  position: relative;
  padding-left: 20px;
  border-right: 10px solid #025159;
}

#box-hvt h1 {
  margin: 0;
  padding: 0;
  font-size: 32px;
  line-height: 32px;
  text-transform: uppercase;
  color: #025159;
  text-align: center;
  font-weight: bold;
}

.avt {
  width: 100%;
  padding: 0;
  margin: 0;
  border-bottom: 15px solid #025159;
}
  #box-hvt h2 {
    padding: 0;
    margin: 0;
    font-size: 16px;
    color: #025159;
    line-height: 24px;
    text-transform: uppercase;
    margin-top: 15px;
    text-align: right;
    padding-right: 6px;
    padding-bottom: 2px;
  }

  #cvo-profile-avatar-wraper .wimg {
    padding: 0;
    margin: 0;
    float: left;
    width: 170px;
    height: 170px;
    border: #025159 solid 4px;
  }

  .bar-exp div {
    float: left;
    height: 8px;
    background: #025159;
  }

  .icf .fa {
    color: #025159;
    margin-top: 0;
    float: none
  }

  #cv-content .head {
    width: 100%;
    height: 30px;
    line-height: 45px;
    background-position: left center;
    float: left;
    padding-bottom: 10px;
    color: #fff;
    padding-left: 10px;
    background: #025159;
    margin-bottom: 20px;
    margin-left: -10px;
    position: relative;
    left: 10px;
  }

  .cum {
    width: 100%;
    height: 36px;
    text-align: left;
    border-bottom: 5px solid #025159;
  }

  #cv-right h3 {
    color: #025159;
    width: 76%;
    height: 40px;
    line-height: 45px;
    float: left;
  }

  .funk {
    width: 100%;
    height: 40px;
    text-align: left;
    border-bottom: 5px solid #025159;
  }
.cumic2 {
  width: 40px;
  height: 40px;
  background: url(icon6_a.png)no-repeat;
  background-position: center;
  float: left
}
  .funic {
    width: 40px;
    height: 40px;
    background: url(icon7_a.png)no-repeat;
    background-position: center;
    float: left
  }

  .cumic4 {
    width: 40px;
    height: 40px;
    background: url(icon8_a.png)no-repeat;
    background-position: center;
    float: left
  }

  .cumic5 {
    width: 40px;
    height: 40px;
    background: url(icon9_a.png)no-repeat;
    background-position: center;
    float: left
  }

  .cumic6 {
    width: 40px;
    height: 40px;
    background: url(icon10_a.png)no-repeat;
    background-position: center;
    float: left
  }

  .cumic7 {
    width: 40px;
    height: 40px;
    background: url(icon11_a.png)no-repeat;
    background-position: center;
    float: left
  }