#form-cv{
	border: solid 2px #b3abab;
	border-top: solid 30px #02b5e1;
	border-bottom: solid 30px #02b5e1;
}
#cv-right .h3, #cv-content .head{
	border-top: dotted 2px #02b5e1;
    color: #000000;
    border-bottom:dotted 2px #02b5e1;
}
#cv-content .head span{
	border:solid 2px #02b5e1;
	border-radius: 10px 10px 10px 10px;
	color: #02b5e1;
}
#cv-right .h3 span{
	background:#02b5e1;
	color: #ffffff;
}
#cvo-profile-avatar-wraper #cvo-profile-avatar{
	border-bottom:double 5px #02b5e1;
	border-left:double 5px #02b5e1;

}
.box-contact{
	border-top: solid 1px #959595;
	background:#02b5e1;
	border:double 2px #f1e272;
}
.bar-exp span {

    background: #c5f0fb;
    
}