div#cv-main {
    float: left;
    width: 100%;
	background: url(bd_f26c4f.png) no-repeat;
	background-size: 100% 100%;
}
#cv-top{		
	width: 100%;
    background-image: url(hd_f26c4f.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    height: 234px!important;
}
.footer{
    background: url(ft_f26c4f.png) no-repeat;
    background-size: 100% 100%;
    height: 46px;
    float: left;
    width: 100%;
}
.bar-exp {
    width: 98%;
    background: #f9b6a7;
    height: 6px;
    float: right;
    margin-bottom: 12px;
}   
.icright1 {
    width: 45px;
    height:44px;
    float: left;
    background: url(icon_ora_03.gif);
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 10px;
  }
.icright2 {
    width: 45px;
    height:44px;
    float: left;
    background: url(icon_ora_06.gif);
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 10px;
}
.icright3 {
    width: 45px;
    height:44px;
    float: left;
    background: url(icon_ora_08.gif);
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 10px;
}
.icright4 {
    width: 45px;
    height:44px;
    float: left;
    background: url(icon_ora_10.gif);
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 10px;
}
.icright5 {
    width: 45px;
    height:44px;
    float: left;
    background: url(icon_ora_12.gif);
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 10px;
}
#cv-content .head{
    font-size: 20px;
    color: #f26c4f;
    text-transform: uppercase;
    font-weight: bold;
    /* padding: 5px 0; */
    margin: 0 auto 15px;
    line-height: 35px;
    margin-top: 25px;
    text-align: left;

 }
 #experience-table {
    color: #000;
    font-weight: 600;
    font-size: 16px;
    border-left: 2px solid #f26c4f;
    /* margin-left: 20px; */
    padding-left: 20px;
    margin-left: 20px;
}
.box-dm {
    width: 205px;
    height: 205px;
    padding: 0;
    margin: 0;
    float: left;
    display: table;
    background: url(ava2.png)no-repeat;
    background-size: 100% 100%;
    clear: both;
    z-index: 1;
    margin-top: -195px;
    position: absolute;
    top: -1200px;
}