#cv-top {
    background-image: url(hd3.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}
.all{
  background: url(main3.png)no-repeat;
  background-size: 100% 100%;
}
#cv-top h2 {
    color: #daa76c;
}
#cv-right h3, #cv-content .head {
  color: #daa76c;
}
#cv-content h3 {
    color: #daa76c;
}
#cv-content #block02 h3 {
  color: #daa76c;
}
.bar-exp div {
    background: #daa76c;
}
.bar-exp {
    background: #fff;
    border: 1px solid #daa76c;
}
.icf .fa {
    color: #daa76c;
}
#cv-content .head #cvo-experience-blocktitle {
    color: #daa76c;
}
div#cv-boxtitle {
    color: #daa76c;
}

.ski {
    background: url(bg3_03.png)no-repeat;
    background-size: 100% 100%;
}
.cum {
    background: url(bg3_03.png)no-repeat;
    background-size: 100% 100%;
}
.footer{
  background: url(ft3.png)no-repeat;
  background-size: 100% 100%;
}
#block01 .head{
  background: url(bg3_05.png)no-repeat;
  background-size: 100% 100%;
}
#block02 .head{
  background: url(bg3_09.png)no-repeat;
  background-size: 100% 100%;
}
#block03 .head{
  background: url(bg3_11.png)no-repeat;
  background-size: 100% 100%;
}
#block04 .head{
  background: url(bg3_13.png)no-repeat;
  background-size: 100% 100%;
}
#block05 .head{
  background: url(bg3_15.png)no-repeat;
  background-size: 100% 100%;
}