#form-letter {
    width: 790px;
    min-height: 1117px;
    background: url(form3.png)no-repeat;
    background-size: 100% 100%;
	float: left;	
	color:#000;
}
#lt-top{		
	color: #216eb6;
	padding-top: 150px;
	text-align: center;
	font-size: 18px;
	line-height: 30px;
	position: relative;
	z-index: 99;
}
#lt-top h1{	
	background: #fff;
	text-transform: uppercase;
	font-weight:500;
	font-size: 18px;
	color:#216eb6;
	margin: 0px
}
.text{
	text-align: center;
	color: #216eb6;
}