.ifo {
    background: url(../icon/bg_a1.png) no-repeat;
    background-size: 100% 100%;
}
.chu {
    background: url(../icon/bg_a7.png) no-repeat;
}
.anh {
    background: url(../vien.png) no-repeat, url(../icon/bg_a3.png) no-repeat;
    background-position: 4px 37px, right;
}
div#box-hvt {
    background: url(../icon/bg_a8.png) no-repeat,url(../icon/bg_a2.png) no-repeat;
    background-position: 411px,0px;
    background-size: auto, cover;
}
.ic1 #cv-profile-birthday {
    background: url(../icon/ngaysinh_a.png) no-repeat;
    background-position: 2px 5px;
}
.ic2 #cv-profile-sex {
    background: url(../icon/gioitinh_a.png) no-repeat;
    background-position: 2px 9px;
}
.ic3 #cv-profile-phone {
    background: url(../icon/phone_a.png) no-repeat;
    background-position: 0px 5px;
}
.ic4 #cv-profile-email {
    background: url(../icon/gmail_a.png) no-repeat;
    background-position: 0px 8px;
}
.ic5 #cv-profile-address {
    background: url(../icon/diachi_a.png) no-repeat;
    background-position: 0px 5px;
}
.all {
    background: url(../icon/bg_a4.png) no-repeat,url(../icon/bg_a5.png) no-repeat,url(../icon/bg_a6.png) no-repeat;
    background-position: 120px 50px ,369px 70px,left bottom;
}
#block01 .head {
    background: url(../icon/hocvan_a.png) no-repeat;
    background-position: left center;
}
#block02 .head {
    background: url(../icon/kinhnghiem_a.png) no-repeat;
    background-position: left center;
}
#block03 .head {
    background: url(../icon/hoatdong_a.png) no-repeat;
    background-position: left center;
}
#block04 .head {
    background: url(../icon/du_an_a.png) no-repeat;
    background-position: left center;
}
#block05 .head {
    background: url(../icon/thongtinthem_a.png) no-repeat;
    background-position: left center;
}
#box02 div#cv-boxtitle {
    background: url(../icon/muctieu_a.png) no-repeat;
    background-position: left center;
}
#box03 div#cv-boxtitle {
    background: url(../icon/kynang_a.png) no-repeat;
    background-position: left center;
}
#box04 div#cv-boxtitle {
    background: url(../icon/giaithuong_a.png) no-repeat;
    background-position: left center;
}
#box05 div#cv-boxtitle {
    background: url(../icon/chungchi_a.png) no-repeat;
    background-position: left center;
}
#box06 div#cv-boxtitle {
    background: url(../icon/sothich_a.png) no-repeat;
    background-position: left center;
}
#box07 div#cv-boxtitle {
    background: url(../icon/cuoi_a.png) no-repeat;
    background-position: left center;
}
.bar-exp div {
    background: #2295d8;
}
.bar-exp {
    background: #a7d5ef;
}