#form-cv {
    width: 100%;
    float: left;
    position: relative;
    font-size: 14px;
    line-height: 24px;
    color: #232323;
    border: solid 1px #e1e1e1;
}

#form-cv p {
    margin-top: 0;
    margin-bottom: 6px
}

#sortable .cvo-block {
    margin-bottom: 25px
}

#cv-main {
    display: table;
}

#cv-top {
    width: 37.6%;
    float: left;
    padding-bottom: 25px;
}

#cv-content {
    width: 60%;
    /* min-height: 800px; */
    float: right;
    position: relative;
}

#cv-right {
    width: 39%;
    /* min-height: 750px; */
    float: left;
    position: relative;
}

p.skill-name input {
    color: #434748!important;
}

#block02 {
    background: #adaeb4;
    color: white;
    border: 2px solid #85adad;
    border-radius: 25px 0px 0px 25px;
}

#cv-right .ctbx {
    padding-bottom: 0;
    margin: 0;
}

#cv-top h1 {
    font-size: 25px;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}

#cv-top h1 span {
    padding: 0px 15px;
    color: #232323;
}

#cv-top h2 {
    font-size: 16px;
    font-weight: normal;
    color: #434748;
    text-align: center;
    margin-bottom: 15px;
    font-style: italic
}

.box-01 p {
    overflow: hidden;
}

.box-01 {
    overflow: hidden
}

#cv-content .ir {
    padding: 0 0 10px
}

#cv-content p {
    margin-bottom: 5px
}

#cv-content .ir a {
    color: #2ebb2f
}

#cv-right h3,
#cv-content .head {
    font-size: 16px;
    font-weight: bold;
    margin-top: 0;
    line-height: 30px;
    margin-bottom: 5px;
    text-transform: uppercase;
    color: #ab9531;
}

.bar-value-exp input[type="text"] {
    color: #252525;
}

#cv-content h3 {
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 0;
    margin-top: 0
}

#block01 {
    background: #f0eed6;
    border: 2px solid #53c68c;
    border-radius: 25px 0px 0px 25px;
}

#cv-content .cvo-block {
    margin-bottom: 10px;
    margin-top: 10px;
}

#cv-content span {
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
    z-index: 9999;
}

.ctbx {
    margin-bottom: 25px;
    position: relative;
}

.ctbx .r5 .h3 {
    text-transform: uppercase;
}

.ctbx:hover {
    box-shadow: 0 0 1px #999;
}

.ctbx:hover .fieldgroup_controls {
    display: block;
}

[cvo-form-field] {
    cursor: text;
}

#cvo-profile-avatar-wraper {
    padding: 5px;
    width: 200px;
    margin: auto;
}

#cvo-profile-avatar-wraper img {
    width: 200px;
    height: 200px;
    float: none;
    display: inline-block;
}

#line-seperate {
    height: 25px;
    /*background-color: #e3ecec;*/
}

.bar-exp div {
    float: left;
    height: 8px;
    background: #ab9531;
}

.bar-exp {
    width: 100%;
    background: #e1e1e1;
    height: 8px;
    float: right;
    margin-bottom: 12px;
}

.icoweb label {
    display: block;
    color: #627e88;
}

#cv-right .icoweb span {
    display: block;
    color: #434748;
}

#cv-right .ir {
    padding-left: 10px
}

.exp-content {
    padding-left: 10px;
}

#sortable .icoweb {
    height: 32px;
    line-height: 32px;
    display: table;
    margin-bottom: 0
}

.ic {
    float: left;
    width: 100%
}

#form-cv .icf {
    float: left;
    padding-right: 5px;
    line-height: 32px;
    margin-bottom: 0;
    width: 28px;
    text-align: center;
}

.ic .icoweb {
    float: left
}

.icf .fa {
    font-size: 14px;
    color: #ab9531;
    margin-top: 0;
    float: none
}

div#box01 span {
    width: 230px;
}

.box-content {
    width: 290px;
}

.exp-content,
.exp-subtitle,
span.exp-title {
    width: 420px;
}

.watermark {
    float: left;
    width: 100%;
    height: 22px;
    color: #999;
    text-align: right;
    padding-right: 22px;
    font-size: 15px;
    font-family: Courier;
    padding-top: 20px;
}