/* 3 */

:root {
    --sex: url(sex.png) no-repeat;
    --phone: url(phone.png) no-repeat;
    --date: url(date.png) no-repeat;
    --email: url(email.png) no-repeat;
    --add: url(add.png) no-repeat;
    --avt: url(avt.png) no-repeat;
    --fake: url(fake3.png) no-repeat;
    --page: url(page3.png) no-repeat;
    --top: url(top3.png) no-repeat;
    --all: url(all3.png) no-repeat;
    --hocvan: url(hocvan.png) no-repeat;
    --kinhnghiem: url(kinhnghiem.png) no-repeat;
    --hoatdong: url(hoatdong.png) no-repeat;
    --duan: url(duan.png) no-repeat;
    --them: url(them.png) no-repeat;
    --muctieu: url(muctieu.png) no-repeat;
    --kynang: url(kynang.png) no-repeat;
    --giaithuong: url(giaithuong.png) no-repeat;
    --sothich: url(sothich.png) no-repeat;
    --chungchi: url(chungchi.png) no-repeat;
    --thamchieu: url(thamchieu.png) no-repeat;
    --skill: url(skill3.png) no-repeat;
    --kn: url(kn3.png) no-repeat;
    --color-i: #fcfaf5;
}