:root {
  --sex: url(sex3.png) no-repeat;
  --phone: url(phone3.png) no-repeat;
  --date: url(date3.png) no-repeat;
  --email: url(email3.png) no-repeat;
  --add: url(add3.png) no-repeat;
  --top: url(top3.png) no-repeat;
  --avt: url(avt3.png) no-repeat;
  --job: url(job3.png) no-repeat;
  --title: #9bc2f7;
  --foot: url(foot3.png) no-repeat;
  --kn: url(kn3.png) no-repeat;
  --time: #b2e1f8;
}