:root {
    --sex: url(sex2.png) no-repeat;
    --phone: url(phone2.png) no-repeat;
    --date: url(date2.png) no-repeat;
    --email: url(email2.png) no-repeat;
    --add: url(add2.png) no-repeat;
    --top: url(top2.png) no-repeat;
    --avt: url(avt2.png) no-repeat;
    --job: url(job2.png) no-repeat;
    --title: #eb8572;
    --foot: url(foot2.png) no-repeat;
    --kn: url(kn2.png) no-repeat;
    --time: #f9bcc8;
}