#form-cv {
    width: 100%;
    float: left;
    position: relative;
    font-size: 14px;
    line-height: 24px;
    color: #484848;
    background: url(bg3.png)no-repeat;
    background-size: 100% 100%;
}
  .avt {
width: 100%;
    padding: 0;
    margin: 0;
    background: url(hd3.png)no-repeat;
    background-size: 100% 100%;
    min-height: 485px;
  }
  .cum2{
float: left;
  width: 100%;
  background: url(icon1_c.png)no-repeat;
  background-size: 100%;
}
.cum3{
float: left;
  width: 100%;
  background: url(icon2_c.png)no-repeat;
  background-size: 100%;
}
.cum4{
float: left;
  width: 100%;
  background: url(icon3_c.png)no-repeat;
  background-size: 100%;
}
.cum5{
float: left;
  width: 100%;
  background: url(icon4_c.png)no-repeat;
  background-size: 100%;
}
.cum6{
float: left;
  width: 100%;
  background: url(icon5_c.png)no-repeat;
  background-size: 100%;
}
.cum7{
float: left;
  width: 100%;
  background: url(icon6_c.png)no-repeat;
  background-size: 100%;
}
.text1{
    float: left;
    width: 35px;
    height: 35px;
    background: url(icon7_c.png)no-repeat;
    padding-left: 15px;
    background-position: left center;
}
.text2{
    float: left;
    width: 35px;
    height: 35px;
    background: url(icon8_c.png)no-repeat;
    padding-left: 15px;
    background-position: left center;
}
.text3{
    float: left;
    width: 35px;
    height: 35px;
    background: url(icon9_c.png)no-repeat;
    padding-left: 15px;
    background-position: left center;
}
.text4{
    float: left;
    width: 35px;
    height: 35px;
    background: url(icon10_c.png)no-repeat;
    padding-left: 15px;
    background-position: left center;
}
.text5{
    float: left;
    width: 35px;
    height: 35px;
    background: url(icon11_c.png)no-repeat;
    padding-left: 15px;
    background-position: left center;
}
#box-hvt h1 {
  margin: 0;
  padding: 0;
  font-size: 32px;
  line-height: 32px;
  text-transform: uppercase;
  color: #f27294;
  text-align: center;
  font-weight: bold;
}
  #box-hvt h2 {
    padding: 0;
    margin: 0;
    font-size: 16px;
    color: #f27294;
    line-height: 24px;
    text-transform: uppercase;
    margin-top: 15px;
    text-align: center;
  }

  #cv-content h3 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    color: #f27294;
    line-height: 18px;
    display: table;
    width: 95%;
    margin-bottom: 5px;
    padding-top: 10px;
  }
    .icf .fa {
    color: #f27294;
    margin-top: 0;
    float: none
  }
  #cv-content .head {
    width: 100%;
    height: 40px;
    background-position: left center;
    float: left;
    color: #f27294;
    line-height: 40px;
    border-bottom: 2px solid #f27294;
    }