/* 3 */

:root {
  --top: url(cv-top3.png) no-repeat;
  --page: url(page1-3.png) no-repeat;
  --chu: url(chu3.png) no-repeat;
  --tg: url(tg3.png) no-repeat;
  --ngang: url(ngang3.png) no-repeat;
  --doc: url(doc3.png) no-repeat;
  --kn: url(kn3.png) no-repeat;
  --vaitro1: url(vaitro1-3.png) no-repeat;
  --vaitro2: url(vaitro2-3.png) no-repeat;
  --block1: url(block1-3.png) no-repeat;
  --block2: url(block2-3.png) no-repeat;
  --color: #c3bcaf;
  --color-c: #3d3d3f;
  --color-t: #f3f2ef;
}