#cv-top h1,#cv-content .xyz{color: #0063c5!important;}
#cv-right .h3:after,.bar-exp span {background-color: #0063c5!important;}
#cvo-profile-avatar-wraper,#cv-content .head { border-color:#0063c5!important;}

.bar-exp span:after{background-color: #014385!important;}

#cv-right .icoweb:nth-child(1) {
    background-color: #73b9ff
}
#cv-right .icoweb:nth-child(2) {
    background-color: #3a9dff
}
#cv-right .icoweb:nth-child(3) {
    background-color: #0683ff
}
#cv-right .icoweb:nth-child(4) {
    background-color: #0072e3
}
#cv-right .icoweb:nth-child(5) {
    background-color: #0063c5
}
#cv-right .icoweb:nth-child(6) {
    background-color: #00478d;
}
