#cv-top h1,#cv-content .xyz,.color {color: #00c082!important;}
#cv-right .h3:after,.bar-exp span {background-color: #00c082!important;}
#cvo-profile-avatar-wraper,#cv-content .head { border-color:#00c082!important;}


.bar-exp span:after{background-color: #007c54!important;}
#cv-right .icoweb:nth-child(1) {
    background-color: #3ef3b9;
}
#cv-right .icoweb:nth-child(2) {
    background-color: #01e199;
}
#cv-right .icoweb:nth-child(3) {
    background-color: #00c082;
}
#cv-right .icoweb:nth-child(4) {
    background-color: #009b69;
}
#cv-right .icoweb:nth-child(5) {
    background-color: #007c54;
}
#cv-right .icoweb:nth-child(6) {
    background-color: #006444;
}
