#form-cv{
	width: 100%;	
	float: left;
	position: relative;
	font-size: 14px;
	line-height: 24px;
	color:#000;	
	background:#fff;
}
#form-cv p{
	margin-top: 0;
	margin-bottom: 6px
}
#sortable .cvo-block{
	margin-bottom: 0;
	margin-top: 0;	
	padding:0;
}

#cv-top{		
    text-align: center;     
}
#cv-content{
	width: 56%;	
	float: right;
	position: relative;			
}
#cv-main{
	width: 43%;	
	float: left;	
	position: relative;		
}
#cv-right .box-content, #cv-right .skill, #cvo-profile{
	padding:10px 10px 15px;
	background: #f2f2f2;
	margin-left: 15px;
	display: block;
}
#cv-right .ir{
	padding: 0;
}
p.skill-name input{
	color: #fff!important;
}

#cv-right .ctbx {
	padding: 0;
	margin:0;
	border:0;
}

#cv-top h1{
	font-size: 28px;
    padding: 15px 5px 15px 5px;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0px;    
    margin-left: 0px;
    color: #494812;
    margin-top: 0;
    font-weight: bold	
}


#cv-top h1 span{
	padding: 0px 10px;
}

#cv-top h2{
	font-size: 16px;
	margin-top: 0;
	font-weight: normal;
    text-align: center;
    text-transform: uppercase;        
    color: #000    
}

#cv-content p{
	margin-bottom: 5px
}
#cv-content .ir a{
	color: #2ebb2f
}
#cv-right h3, #cv-content .head, #cv-top h3{
	font-size: 18px;	
    text-transform: uppercase;
    font-weight: normal;
    text-align: center;        
    margin: 0 auto;    
    line-height: 24px;
    padding:8px 20px 24px;
    background-color: #f2ef7e;
	color:#494812;
    text-align: left;
}
#cv-right h3, #cv-top h3{	
	background-image: url(bg-tit.png);   
	background-position: left bottom;
	background-repeat: no-repeat; 
}
#cv-right h3 div{	

}
#cv-content .head{	
	background-image: url(bg-titr.png);   
	background-position: right bottom;
	background-repeat: no-repeat;
}
#cv-content .head div{		
	
}
.bar-value-exp input[type="text"]{
	color:#000;
}
#cv-right .h3{
	height: 45px;
	text-align: center;
	width: 100%;
}
#cv-content .exp-date{
	float: none;
	margin-bottom: 4px;
}
#cv-content h3{	
    font-size: 15px;    
    text-transform: uppercase;
    font-weight: normal;    
    margin-top: 0;
    margin-bottom: 5px
}
p.h3{
	font-weight: bold;
}
#experience-table{
	padding-top: 0;
	margin-right: 15px;
	background: #f2f2f2;
}
#cv-right #prof{
	background: #f2f2f2;
	margin-left: 15px;
	padding: 0 10px
}
#form-cv #cv-content .cvo-block {   
	padding:0;	
}
.ctbx{
	padding-left: 10px;
	padding-right: 10px
}

#cv-content span{
	display: inline-block;	
	z-index: 9999;
}

.ctbx{
	margin-bottom: 0;
	padding-bottom: 20px;
	position: relative;
}
.ctbx:hover {
	box-shadow: 0 0 1px #999;
}
.ctbx:hover .fieldgroup_controls{
	display: block;
}
[cvo-form-field] {
    cursor: text;
}

#cvo-profile-avatar-wraper{	    
    display: table;    
    border:1px solid #fff;
    width:180px;            
    margin:10px auto 0;
}
#cvo-profile-avatar-wraper img{
	width: 180px;  	
  	height: 180px;
  	float:none;  
  	display: inline-block;
}
#line-seperate {
    height: 25px;    
}
.bar-exp div {
    float: left;
    height: 8px;
    background: #494812;  
}
.bar-exp {
  	width: 100%;
  	background: #e1e1e1;
  	padding: 1px;
  	height: 8px;
  	float: right;
  	margin-bottom: 12px;
}      
.icoweb label{
	display: block;
	color:#fff;
}
#cv-right .icoweb span{
	color: #000;
}


.icoweb{
	height: 30px;
	line-height: 30px;
	float: left;
	padding-left: 0;
	margin-bottom: 0
}
.ic{
	float: left;width: 100%
}
#form-cv .icf{
	float: left;	
	border-radius: 20px;
	line-height: 28px;
	margin-bottom: 0;
	width: 28px;	
	text-align: center;
}
.ic .icoweb{
	float: left	
}
.icf .fa{
	font-size: 14px;	
	color:#494812;	
	margin-top: 0;	
	float: none
}
#prof .ic{
	width: 100%
}