:root {
  --sex: url(gender.png) no-repeat;
  --phone: url(phone.png) no-repeat;
  --date: url(birthday.png) no-repeat;
  --email: url(mail.png) no-repeat;
  --add: url(add.png) no-repeat;
  --top: url(bg_top3.png) no-repeat;
  --avt: url(border_avatar.png) no-repeat;
  --title: 1px solid #ff9500;
  --foot: url(footer3.png) no-repeat;
  --kn: url(rating3.png) no-repeat;
  --bg-icon: url(bg_icon3.png) no-repeat -1px 0px;
  --border-bot: url(border_bot3.png) no-repeat 115px 50px;
  --bg-ava: url(bg_avatar3.png) no-repeat 1px 4px;
  --rating:  url(rating_empty3.png) no-repeat;
  --body: url(body_main3.png) no-repeat;
}