#form-cv{	
	font-size: 13px;
}
div#cvo-experience-blocktitle {
	font-size: 19px;
}
#cv-right #cv-boxtitle{
	font-size: 19px;
}
#cv-content h3{
	font-size: 14px;
}
/* #cv-content .h3 {
	font-size: 13px;
} */
/* #cv-content .exp-content {
	font-size: 13px;
} */
#cv-top h2{
	font-size: 15px;
}
#cv-top h1{
	font-size:25px;
}