/* 3 */

:root {
  --sex: url(sex3.png) no-repeat;
  --phone: url(phone-3.png) no-repeat;
  --date: url(date3.png) no-repeat;
  --email: url(mail-3.png) no-repeat;
  --add: url(add-3.png) no-repeat;
  --top: url(top3.png) no-repeat;
  --main: url(main_t3.png) no-repeat, url(main_b3.png) no-repeat, url(main_f3.png) no-repeat;
  --head: url(head-t3.png) no-repeat, url(head_b3.png) no-repeat, url(head-f3.png) no-repeat;
}