#form-cv{
	width: 100%;
	float: left;
	font-size: 14px;
	line-height: 24px;
	color:#3c3c3c;	
	padding: 0px;
	margin: 0px;

}
.cv_tt{
    float: left;
    width: 92%;
    padding: 25px 4%;
    background-image: url('bg.png');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% 100%;
}
#cv-main{
	float: left;
	margin: 0px;
	padding: 0px;
    background-image: url('bg2.png');
    background-repeat: no-repeat;
    background-position: top center;
    border: solid 1px #737373;
    background-size: 100% 100%;
}
#cv-content{
    width: 48%;
    float: left;
    padding: 0px;
    margin: 0px;
    padding-left: 1%;
    padding-right: 2%;
}
#cv-right{
	width: 46.999%;
	float: left;	
	padding: 0px;
    margin: 0px;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 10px;
}
#cv-top{
    float: left;
    width: 100%;
    padding-bottom: 20px;
    margin-top: -14px;
}
.box-01{
    padding-top: 20px;
}

#sort_block,
.cv-right .ir,
#sortable{
	float: left;	
	padding: 0px;
    margin: 0px;
    width: 100%;
}
#cv-content .cvo-block,
#cv-right .block{
    margin-bottom: 5px;
    margin-top: 0px;
    float: left;
    width: 100%;
}
#cv-content .head,
#cv-right h3,
#cv-right .cvo-block p{
	float: left;	
	padding: 0px;
    margin: 0px;
    width: 100%;
}
#cv-content #experience-table{
	float: left;	
	padding: 0px;
    margin: 0px;
    padding: 0px 5px;
}
#cv-content #experience-table .ctbx{
	float: left;	
	padding: 0px;
    margin: 0px;
    width: 100%;
}
#cv-content h3{
	float: left;	
	padding: 0px;
    margin: 0px;
    font-weight: bold;
    border: solid 1px #3c3c3c;
    text-align: center;
    line-height: 30px;
    width: 98%;
}
#cv-content .h3{
	float: left;	
	padding: 0px;
    margin: 0px;
    width: 100%;	
}
#cv-content .exp-content{
	float: left;	
	padding: 4px;
    margin: 0px;	
}
div{
	margin: 0px;
	padding: 0px;
}
.ctbx{
    position: relative;
}
.ctbx:hover {
	box-shadow: 0 0 1px #999;
}
.ctbx:hover .fieldgroup_controls{
	display: block;
}
.bar-exp {
    height: 8px;
    margin-top: 8px;
    margin-bottom: 0px;
}
.bar-exp{
    height: 8px;
    float: left;
    margin: 8px 0px;
}
.bar-exp div {
    float: left;
    height: 8px;
    background: #e6c371;
}
#cv-title {
    padding: 5px 0;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    margin-bottom: 8px;
    font-size: 20px
}
.exp .ctbx{
    display: table;
    width:100%;
}
.edit-content .bar-value-exp {
    display: block;
}
.bar-value-exp {
    display: none;
}
.bar-exp{
    width: 100%;
    background: #555656;
    height: 8px;    
    float: left;
    margin-bottom: 12px
}
.bar-value-exp{
    width:100%;
    float: right;
}
p.skill-name input{
    border-bottom: 0;
    font-size: 14px;
    border:0
}
.bar-value-exp input[type="text"]{
    width: 100%;
    padding: 5px;
    border-radius: 4px;
    color: #000;
}
#cv-right .h3, #cv-content .head{
    background: none;
    text-align: left;
    color: #3c3c3c;
    border-radius: 5px;
}

#cv-content .head{
    /* height: 38px; */
    line-height: 30px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 0px;
}
#cv-content h3{
    font-size: 14px;
}
#page-cv{
    max-width: 790px
}
.ava{
    float: left;
    width: 20%;
    padding:30px 40% 0px;
    display: none;
}
#cvo-profile-avatar-wraper{
    float: left;
    width: 100%;
    border: solid 4px #ff824c; 
    border-radius: 5px;
    display: none;
}
#box-hvt{
    float: left;
    width: 70%;
    margin: 0px 15%;
    padding: 0px;
    height: 105px;
    background-image: url(hd.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: top center;
        padding-top: 35px;
}

#box-hvt h1{
    color: #fff;
    font-size: 30px;
        padding: 0px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    margin: 0px;
    float: left;
    width: 100%;
    letter-spacing: 4px;
}

#box-hvt h2{
    color: #fff;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    font-weight: bold;
    float: left;
    width: 100%;
    padding: 0px;
    margin: 0px;
    margin-top: 5px;
    padding-bottom: 15px;
    background-image: url(line.png);
    background-repeat: no-repeat;
    background-position: bottom center;
}
.box-contact p .fa{
    color: #f0d692;
    font-size: 19px;
}
#cv-right .block{
    margin-top: 0px;
    margin-bottom: 20px;
    float: left;
    width: 100%;
}
#cv-right .box-contact{
	display: none;
}
#cv-right .block h3{
    font-size: 20px;
    line-height: 24px;
    padding: 0px;
    margin: 0px;
    font-weight: bold;
}
#cv-right .cvo-block p{
    border-top:0px;
    padding: 0px;
    margin: 0px;
    margin-top: 10px;
}
#cv-right .cvo-block p.skill-name{
    border: none;
}
#cv-right {
    color: #374d59;
}
#cv-right p {
    text-align: justify;
}
#cv-right .icoweb i.fa{
    margin-top: 6px;
    font-size: 15px;
    width: 25px;
    color: #fff;
}

.box-contact p{
    height: 35px;
    line-height: 35px;
    padding: 0px;
    margin: 0px;
    text-indent: 10px!important;
    float: left;
    width: 25%;
    font-weight: bold;
}
.box-contact p.cvi-map-marker{
  width: 50%;  
}

#sortable .box-contact p.icoweb{
    margin-bottom: 7px;
}

.box-contact p.cvi-envelope-square{
  width: 50%;  
}

.box-info .box-contact{
    float: left;
    width: 95%;
    margin-left: 3%;
    box-sizing: border-box;
    margin-top: 10px;
}
.box-info{
    float: left;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.cv_body{
    float: left;
    width: 100%;
    margin-top: -20px;
}
.cv_bg{
    float: left;
    width: 92%;
    padding: 0px 3%;
}
#form-cv .clr, #form-cv .cl{
    display: none;
}

span.box-content {
    width: 300px;
}
.exp-content,.exp-subtitle,span.exp-title {
    width: 300px;
}
span#cv-profile-address,span#cv-profile-email {
    width: 300px;
}
#cv-profile-birthday::before{
    color: #fff;
}
#cv-profile-sex::before{
    color: #fff;
}
#cv-profile-phone::before{
    color: #fff;
}
#cv-profile-email::before{
    color: #fff;
}
#cv-profile-address::before{
    color: #fff;
}
#cv-profile-face::before{
    color: #fff;
}
.watermark {
    float: left;
    width: 100%;
    height: 22px;
    color: #999;
    text-align: right;
    padding-right: 22px;
    font-size: 15px;
    font-family: Courier;
}