#cv-top h1 {
    color: #11a627;
}

#cv-profile-fullname::before {
    color: #11a627;
}

.all {
    padding-bottom: 50px;
}

#cv-top h2 {
    color: #11a627;
}

.bar-exp div {
    background: #11a627;
}

.bar-exp {
    border: 2px solid #11a627;
}

#cv-content .head #cvo-experience-blocktitle {
    color: #11a627;
}

div#cv-boxtitle {
    color: #11a627;
}

#cv-profile-job::before {
    color: #11a627;
}

.footer {
    background: url(ft3.png)no-repeat;
    background-size: 100% 100%;
}

#box02 .cum {
    background: url(bg3_03.png)no-repeat;
    background-position: left bottom;
}

#box03 .ski {
    background: url(bg3_11.png)no-repeat;
    background-position: left bottom;
}

#box04 .cum {
    background: url(bg3_15.png)no-repeat;
    background-position: left bottom;
}

#box05 .cum {
    background: url(bg3_17.png)no-repeat;
    background-position: left bottom;
}

#box06 .cum {
    background: url(bg3_21.png)no-repeat;
    background-position: left bottom;
}

#box07 .cum {
    background: url(bg3_23.png)no-repeat;
    background-position: left bottom;
}

#block01 .head {
    background: url(bg3_05.png)no-repeat;
    background-position: left bottom;
}

#block02 .head {
    background: url(bg3_09.png)no-repeat;
    background-position: left bottom;
}

#block03 .head {
    background: url(bg3_13.png)no-repeat;
    background-position: left bottom;
}

#block04 .head {
    background: url(bg3_19.png)no-repeat;
    background-position: left bottom;
}

#block05 .head {
    background: url(bg3_24.png)no-repeat;
    background-position: left bottom;
}

#cvo-profile-avatar-wraper {
    background: url(ava1.png) no-repeat;
}

#cvo-profile-avatar-wraper {
    background: url(ava3.png) no-repeat;
}

#cvo-profile-avatar-wraper .wimg {
    margin-left: -55px;
    margin-top: -17px;
}

#box-hvt {
    background: url(ifo3.png) no-repeat;
    background-size: 100% 102%;
}