#cv-top h1 {
    color: #d95f00;
}

#cv-profile-fullname::before {
    color: #d95f00;
}

#cv-top h2 {
    color: #d95f00;
}

.bar-exp div {
    background: #d95f00;
}

.bar-exp {
    border: 2px solid #d95f00;
}

#cv-content .head #cvo-experience-blocktitle {
    color: #d95f00;
}

div#cv-boxtitle {
    color: #d95f00;
}

#cv-profile-job::before {
    color: #d95f00;
}

.footer {
    background: url(ft1.png)no-repeat;
    background-size: 100% 100%;
}

#box02 .cum {
    background: url(bgg_03.png)no-repeat;
    background-size: 100% 100%;
    background-position: left bottom;
}

#box03 .ski {
    background: url(bgg_11.png)no-repeat;
    background-size: 100% 100%;
    background-position: left bottom;
}

#box04 .cum {
    background: url(bgg_15.png)no-repeat;
    background-size: 100% 100%;
    background-position: left bottom;
}

#box05 .cum {
    background: url(bgg_17.png)no-repeat;
    background-size: 100% 100%;
    background-position: left bottom;
}

#box06 .cum {
    background: url(bgg_21.png)no-repeat;
    background-size: 100% 100%;
    background-position: left bottom;
}

#box07 .cum {
    background: url(bgg_23.png)no-repeat;
    background-size: 100% 100%;
    background-position: left bottom;
}

#block01 .head {
    background: url(bgg_05.png)no-repeat;
    background-size: 100% 100%;
    background-position: left bottom;
}

#block02 .head {
    background: url(bgg_09.png)no-repeat;
    background-size: 100% 100%;
    background-position: left bottom;
}

#block03 .head {
    background: url(bgg_13.png)no-repeat;
    background-size: 100% 100%;
    background-position: left bottom;
}

#block04 .head {
    background: url(bgg_19.png)no-repeat;
    background-size: 100% 100%;
    background-position: left bottom;
}

#block05 .head {
    background: url(bgg_24.png)no-repeat;
    background-size: 100% 100%;
    background-position: left bottom;
}

#cvo-profile-avatar-wraper {
    background: url(ava1.png) no-repeat;
}

#cvo-profile-avatar-wraper .wimg {
    margin-left: -55px;
    margin-top: -17px;
}

#box-hvt {
    background: url(ifo1.png) no-repeat;
    background-size: 100% 102%;
}