
#cv-top{		
    background-image: url(hd3.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#cv-top h1{
	color: #000;
    
}
#cv-top h2{
	color: #000;
}
div#block02 {
    background: #d9bdad;
}
#block01 div#cvo-experience-blocktitle{
    background: url(ic_31.png)no-repeat;
    background-position: center;
    background-size: 100% 100% ;
}
#block02 div#cvo-experience-blocktitle{
    background: url(ic_32.png)no-repeat;
    background-position: center;
    background-size: 100% 100% ;
}
#block03 div#cvo-experience-blocktitle{
    background: url(ic_33.png)no-repeat;
    background-position: center;
    background-size: 100% 100% ;
}
#block04 div#cvo-experience-blocktitle{
    background: url(ic_33.png)no-repeat;
    background-position: center;
    background-size: 100% 100% ;
}
#block05 div#cvo-experience-blocktitle{
    background: url(ic_32.png)no-repeat;
    background-position: center;
    background-size: 100% 100% ;
}
.bar-exp div {
    background: #d9653b;
}