#form-cv {
    width: 100%;
    float: left;
    font-size: 14px;
    line-height: 24px;
    color: #565656;
    padding: 0px;
    margin: 0px;
}

.cv_tt {
    float: left;
    width: 100%;
}

#cv-top {
    float: left;
    width: 100%;
    padding: 0px;
    margin: 0px;
    height: 125px;
    padding-top: 10px;
}

#cv-main {
    float: left;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background: #fff;
    /* padding-bottom: 500px; */
}

#cv-content {
    width: 57.8%;
    float: left;
    padding: 0px;
    margin: 0px;
}

#cv-right {
    width: 42%;
    float: left;
    padding: 0px;
    margin: 0px;
}

#clr {
    clear: both;
}

.cv-right .ir {
    float: left;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

#sortable {
    float: left;
    padding: 0px;
    margin: 0px;
    width: 100%;
    /* padding-bottom: 450px; */
}

#sort_block {
    width: 98%;
    float: left;
}

#cv-content .cvo-block {
    float: left;
    padding: 0px!important;
    margin: 0px;
    width: 100%;
    color: #000;
}

#cv-right .block {
    float: left;
    padding: 0px!important;
    margin: 0px;
    width: 100%;
    color: #fff;
}

#cv-content #experience-table {
    float: right;
    padding: 0px;
    margin: 0px;
    width: 97%;
    clear: both;
}

#cv-content #experience-table .ctbx {
    float: left;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

#cv-content h3 {
    float: left;
    padding: 0px;
    margin: 0px;
    width: 100%;
    clear: both;
}

#cv-content .h3 {
    float: left;
    padding: 0px;
    margin: 0px;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
}

#cv-content .exp-content {
    float: left;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

.ctbx:hover {
    box-shadow: 0 0 1px #999;
}

.ctbx:hover .fieldgroup_controls {
    display: block;
}

.bar-exp {
    height: 8px;
    margin-top: 8px;
    margin-bottom: 0px;
}

.bar-exp {
    height: 8px;
    float: left;
    margin: 8px 0px;
}

.bar-exp div {
    float: left;
    height: 8px;
    background: #66b3dc;
}

#cv-title {
    padding: 5px 0;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    margin-bottom: 8px;
    font-size: 20px
}

.exp .ctbx {
    display: table;
    width: 91%;
    padding-left: 14px;
}

.edit-content .bar-value-exp {
    display: block;
}

.bar-value-exp {
    display: none;
}

.bar-exp {
    width: 100%;
    background: #fff;
    height: 8px;
    float: left;
    margin-bottom: 12px;
    border: 1px solid #66b3dc;
}

.bar-value-exp {
    width: 100%;
    float: right;
}

p.skill-name input {
    border-bottom: 0;
    font-size: 15px;
    border: 0
}

.bar-value-exp input[type="text"] {
    width: 100%;
    padding: 5px;
    border-radius: 4px;
    color: #fff;
}

#cv-content .head1 {
    font-size: 23px;
    padding: 0;
    background: url(ic_03.png)no-repeat;
    background-position: right center;
    text-align: left;
    color: #66b3dc;
    font-weight: bold;
    height: 40px;
    float: right;
    width: 97%;
    line-height: 40px;
    text-transform: uppercase;
    border-bottom: 2px solid #000;
    margin-bottom: 0px;
}

#cv-content .head2 {
    font-size: 23px;
    padding: 0;
    background: url(ic_06.png)no-repeat;
    background-position: right center;
    text-align: left;
    color: #66b3dc;
    font-weight: bold;
    height: 40px;
    float: right;
    width: 97%;
    line-height: 40px;
    text-transform: uppercase;
    border-bottom: 2px solid #000;
    margin-bottom: 0px;
}

#cv-content .head3 {
    font-size: 23px;
    padding: 0;
    background: url(ic_08.png)no-repeat;
    background-position: right center;
    text-align: left;
    color: #66b3dc;
    font-weight: bold;
    height: 40px;
    float: right;
    width: 97%;
    line-height: 40px;
    text-transform: uppercase;
    border-bottom: 2px solid #000;
    margin-bottom: 0px;
}

#cv-content .head4 {
    font-size: 23px;
    padding: 0;
    background: url(ic_11.png)no-repeat;
    background-position: right center;
    text-align: left;
    color: #66b3dc;
    font-weight: bold;
    height: 40px;
    float: right;
    width: 97%;
    line-height: 40px;
    text-transform: uppercase;
    border-bottom: 2px solid #000;
    margin-bottom: 0px;
}

#cv-content .head5 {
    font-size: 23px;
    padding: 0;
    background: url(ic_14.png)no-repeat;
    background-position: right center;
    text-align: left;
    color: #66b3dc;
    font-weight: bold;
    height: 40px;
    float: right;
    width: 97%;
    line-height: 40px;
    text-transform: uppercase;
    border-bottom: 2px solid #000;
    margin-bottom: 0px;
}

#cv-content h3 {
    font-size: 16px;
    color: #485a56;
    font-weight: normal;
}

#page-cv {
    max-width: 790px
}

#cvo-profile-avatar-wraper {
    width: 100%;
    float: left;
    padding: 0px;
    margin: 0px;
}

#cvo-profile-avatar-wraper img {
    width: 332px;
    height: 280px;
}

#cvo-profile-avatar {
    width: 332px;
    height: 280px;
}

#box-hvt h1 {
    padding: 0;
    margin: 0;
    color: #fff;
    font-size: 32px;
    line-height: 32px;
    text-transform: uppercase;
    padding-top: 25px;
    text-align: center;
    font-weight: bold;
    z-index: 999;
    position: relative;
}

#box-hvt h2 {
    padding: 0 !important;
    margin: 0 !important;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    float: left;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

#cv-right .block h3 {
    font-size: 23px;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 2px solid #fff;
    color: #66b3dc;
    margin-left: 15px;
    padding: 0;
}

#cv-right {
    background: #000;
    /* padding-bottom: 20px; */
}

#cv-right p {
    text-align: justify;
    width: 91%;
    padding-left: 15px;
    padding-bottom: 20px;
    padding-top: 15px;
}

.box-contact {
    color: #346155;
    font-size: 15px;
}

.box-contact p {
    float: left;
    width: 33%;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.box-01 {
    float: left;
    width: 100%;
    padding: 0px;
    margin: 0px;
    /* height: 280px; */
}

#box-hvt {
    float: right;
    width: 100%;
    padding: 0px;
    margin: 0px;
    height: 115px;
    background: #66b3dc;
}

.ft {
    width: 100%;
    height: 50px;
    padding: 0px;
    margin: auto;
    /* z-index: 2; */
    float: left;
    background: #66b3dc;
    position: relative;
}

#sortable .icoweb span {
    float: right;
    /* padding-left: 80px; */
}

#sortable .ic .icf {
    width: 10%;
    float: left;
}

#sortable .icoweb {
    display: block;
    float: left;
    margin-bottom: 5px;
}

#sortable .ic {
    width: 100%;
    height: auto;
    clear: both;
}

#box01 .cvo-block {
    color: #000;
    padding: 0;
    margin: 0;
}

#cv-right .cvo-block .skill-name {
    margin: 0;
    padding: 0;
    padding-top: 10px;
}

#cv-content .exp-date {
    float: unset;
}

.time {
    width: 100%;
    float: left;
    padding-top: 10px;
}

.time .exp-title {
    font-size: 15px;
    font-family: "Roboto";
    color: #000;
    font-weight: bold;
}

.exp-subtitle {
    font-size: 15px;
    font-family: "Roboto";
    color: rgb(0, 0, 0);
}

.time .exp-date {
    font-size: 15px;
    font-family: "Roboto";
    color: rgb(0, 0, 0);
}


/* fix width */


/* fix width */

#sortable .icoweb,
#sortable .icoweb span {
    width: 210px;
}

#cv-right h3 {
    width: 90%;
}

#prof {
    padding: 0;
    margin: 0;
    padding-left: 12px;
    background: url(hd.png)no-repeat;
    background-size: 100% 100%;
    /*     padding-bottom: 25px;*/
    float: left;
    width: 95%;
}

.icf {
    padding: 0;
    margin: 0;
    width: 5%;
    float: left;
    text-align: left;
}

.icbirthday {
    padding: 0;
    margin: 0;
    width: 100%;
    float: left;
    padding-top: 10px;
}

.icsex {
    padding: 0;
    margin: 0;
    width: 100%;
    float: left;
    padding-top: 10px;
}

.icphone {
    padding: 0;
    margin: 0;
    width: 100%;
    float: left;
    padding-top: 10px;
}

.icemail {
    padding: 0;
    margin: 0;
    width: 100%;
    float: left;
    padding-top: 10px;
}

.icaddress {
    padding: 0;
    margin: 0;
    width: 100%;
    float: left;
    padding-top: 10px;
}

.icoweb {
    padding: 0;
    margin: 0;
    width: 85%;
    float: left;
    text-align: left;
}

#sortable #box02 {
    /* background: #1f1f1f; */
    /* padding-top: 10px; */
    margin-top: 20px;
}

#sortable {
    /* background: #000; */
}

.blog-cv .head,
.blog-hd .head {
    margin: 0;
    padding: 0;
}

h3 {
    margin: 0;
}

.ir .head {
    padding: 0;
    margin: 0;
}

.ir {
    padding: 0;
    margin: 0;
}

#cv-content #block01 {
    margin: 0;
    padding: 0;
    margin-top: 23px;
}

#cv-content #block02 {
    margin: 0;
    padding: 0;
}

#cv-content #block03 {
    margin: 0;
    padding: 0;
}

#cv-content #block04 {
    margin: 0;
    padding: 0;
}

#cv-content #block05 {
    margin: 0;
    padding: 0;
}

#cv-profile-fullname::before {
    color: #fff;
}

.watermark {
    float: left;
    width: 100%;
    height: 22px;
    color: #000;
    text-align: right;
    padding-right: 22px;
    font-size: 15px;
    font-family: Courier;
    padding-top: 5px;
}