/* 3 */
#form-cv {
    background-color: #ece7e6;
}

#cv-top {
    background: url(../top3.png) no-repeat;
}

.fake_img {
    background: url(../fake3.png) no-repeat;
    background-size: 100% 100%;
}

#cv-top h1 {
    color: #f58f87;
}

.ic1 {
    background: url(../date3.png) no-repeat;
    background-position: 1px center;
}

.ic2 {
    background: url(../sex3.png) no-repeat;
    background-position: 1px center;
}

.ic3 {
    background: url(../phone3.png) no-repeat;
    background-position: 1px center;
}

.ic4 {
    background: url(../email3.png) no-repeat;
    background-position: 1px center;
}

.ic5 {
    background: url(../add3.png) no-repeat;
    background-position: 1px center;
}

#box02 div#cv-boxtitle {
    background: url(../muctieu3.png) no-repeat;
    background-position: left center;
}

#box03 div#cv-boxtitle {
    background: url(../kynang3.png) no-repeat;
    background-position: left center;
}

#box04 div#cv-boxtitle {
    background: url(../giaithuong3.png) no-repeat;
    background-position: left center;
}

#box05 div#cv-boxtitle {
    background: url(../chungchi3.png) no-repeat;
    background-position: left center;
}

#box06 div#cv-boxtitle {
    background: url(../sothich3.png) no-repeat;
    background-position: left center;
}

#box07 div#cv-boxtitle {
    background: url(../thamchieu3.png) no-repeat;
    background-position: left center;
}

.bar-exp div {
    background: url(../kn3.png) no-repeat;
}

#cv-content {
    background: url(../soc3.png) no-repeat;
    background-size: 1.5% 100%;
    background-position: 18px 10px;
}

#cv-content #block01 .head #cvo-experience-blocktitle {
    background: url(../trinhdo3.png) no-repeat;
    background-position: left center;
}

#cv-content #block02 .head #cvo-experience-blocktitle {
    background: url(../kinhnghiem3.png) no-repeat;
    background-position: left center;
}

#cv-content #block03 .head #cvo-experience-blocktitle {
    background: url(../hoatdong3.png) no-repeat;
    background-position: left center;
}

#cv-content #block04 .head #cvo-experience-blocktitle {
    background: url(../duan3.png) no-repeat;
    background-position: left center;
}

#cv-content #block05 .head #cvo-experience-blocktitle {
    background: url(../them3.png) no-repeat;
    background-position: left center;
}

#cv-content h3 {
    background: url(../dot3.png) no-repeat;
    background-position: 4px 5px;
}

#cv-content .exp-date {
    color: #f58f87;
}

.footer {
    background: url(../foot3-3.png) no-repeat;
}