#cv-top {
    width: 100%;
    height: 326px;
    background-image: url(hd3.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}
.footer {
    width: 100%;
    height: 36px;
    background: url(ft3.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.all {
    background: url(main3.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-bottom: 45px;
}
div#cv-boxtitle {
    font-size: 20px;
    text-transform: uppercase;
    line-height: 30px;
    font-weight: bold;
    color: #6600cc;
    margin-left: 10px;
}
#box02 .cum {
    margin: 0;
    width: 100%;
    height: 30px;
    padding-bottom: 5px;
    background: url(xanh1.png)no-repeat;

}

#box03 .ski {
    margin: 0;
    width: 100%;
    height: 30px;
    padding-bottom: 5px;
    background: url(xanh2.png)no-repeat;

}
#box04 .cum {
    margin: 0;
    width: 100%;
    height: 30px;
    padding-bottom: 5px;
    background: url(xanh3.png)no-repeat;

}
#box05 .cum {
    margin: 0;
    width: 100%;
    height: 30px;
    padding-bottom: 5px;
    background: url(xanh4.png)no-repeat;

}
#box06 .cum {
    margin: 0;
    width: 100%;
    height: 30px;
    padding-bottom: 5px;
    background: url(xanh5.png)no-repeat;

}
#box07 .cum {
    margin: 0;
    width: 100%;
    height: 30px;
    padding-bottom: 5px;
    background: url(xanh6.png)no-repeat;

}
.bar-exp div {
    float: left;
    height: 10px;
    background: #6600cc;
    margin-top: 0px;
}
.bar-exp {
    background: #6666cc;
    height: 10px;
    float: none;
    margin-top: 0;
    margin-bottom: 0px;
    padding: 0px;
}
#cv-content .head #cvo-experience-blocktitle {
    color: #6600cc;
}
#cv-content #block01 .head {
    width: 100%;
    height: 45px;
    margin: 0;
    padding: 0;
    text-align: left;
    line-height: 45px;
    margin-left: 25px;
    background: url(xanh7.png)no-repeat;
    background-size: 90%;
    background-position: 2px;
}
#cv-content #block02 .head {
    width: 100%;
    height: 45px;
    margin: 0;
    padding: 0;
    text-align: left;
    line-height: 45px;
    margin-left: 25px;
    background: url(xanh8.png)no-repeat;
      background-size: 90%;
    background-position: 2px;
}
#cv-content #block03 .head {
    width: 100%;
    height: 45px;
    margin: 0;
    padding: 0;
    text-align: left;
    line-height: 45px;
    margin-left: 25px;
    background: url(xanh9.png)no-repeat;
      background-size: 90%;
    background-position: 2px;
}
#cv-content #block04 .head {
    width: 100%;
    height: 45px;
    margin: 0;
    padding: 0;
    text-align: left;
    line-height: 45px;
    margin-left: 25px;
    background: url(xanh10.png)no-repeat;
      background-size: 90%;
    background-position: 2px;
}
#experience-table .ctbx {
    padding-right: 40px;
    padding-left: 25px;
        padding-top: 15px;
}
#cv-content #block05 .head {
    width: 100%;
    height: 45px;
    margin: 0;
    padding: 0;
    text-align: left;
    line-height: 45px;
    margin-left: 25px;
    background: url(xanh11.png)no-repeat;
      background-size: 90%;
    background-position: 2px;
}
#cvo-profile-avatar{
      width: 198px;
    height: 200px;
}