.cr {
	color: #28a745!important;
}
.bg {
	background-color: #28a745!important;
}

.bd {
	border-color: #28a745!important;
}

#page-cv{
	width: 1072px;
	float: left;
}
#form-cv{
	width: 900px;
	min-height: 1273px;	
	float: left;
	background: #fff;
	position: relative;
	font-size: 15px;
	line-height: 24px;
	color:#000;
	border:solid 2px;
	box-sizing: border-box;
}

h1{
	color:#fff;
}
#cv-main{
	width: 100%;
	display: table;
}
#cv-content{
	width: 100%;
	height: auto;
	display: block;
	position: relative;
}

#cv-right .ctbx {
	padding-bottom: 0;
	margin:0;
}
.skill{
	margin-top: 15px
}

#cv-content .ir{
	
}
#cv-content p{
	margin-bottom: 5px
}
#cv-content .ir a{
	color: #2ebb2f
}

/* Top */
#cv-top h1 {
    font-size: 43px;
    font-weight: 500;
    text-transform: capitalize;
    color: #ffffff;
    padding: 5px 0 5px 10px;
    margin: 0;
    text-shadow: 1px 1px 2px #00000042;
}

#cv-top h2{
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
	color: #eee;
	padding: 5px 0 5px 10px;
	margin: 0px
}

#cv-top{	
	width: 100%;
	color: #fff;		
	position: relative;	
}

#cvo-profile {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.box-01 p{	
	
}
.box-01 {
    overflow: hidden;
    width: calc(100% - 530px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#cvo-profile-avatar-wraper {
    border: 6px solid #FFF;
    padding: 0;
    margin: 20px 10px;
}

#cvo-profile-avatar-wraper #cvo-profile-avatar{
	padding: 0;
	border:0;
	display: table;
	width: 200px;
	height: 200px;
}
/* Hết top */

/* icoweb */
#cv-right .block.box-contact {
    background: transparent;
    padding: 0!important;
    margin: 0;
    width: 280px;
    position: absolute !important;
    top: 15px!important;
    right: 10px!important;
    left: unset!important;
    border: none!important;
}
.icoweb {
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 3px;
    padding: 3px;
    background: #ffffff4d;
    border-radius: 20px;
}

#cv-right .icoweb span {
    width: calc(100% - 35px);
}

#cv-right .icoweb i {
    width: 28px;
    height: 28px;
    font-size: 17px!important;
    margin: 0 7px 0 0!important;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff!important;
}

/* Hết icoweb */
#line-seperate {
    height: 25px;
    background-color: #e3ecec;
}
.bar-exp span {
    float: left;
    height: 8px;
    background: #3f8bb1;
}
.bar-exp{
	background: #cecece;
	width: 50%;
	margin-top: 8px
}
.bar-value-exp{
	width: 50%
}
.skill-name{
	float: left;
}
/* main */
span.box-content {
	padding: 10px;
}
.ctbx.experience{
	padding: 10px 10px 10px 170px;
}

#cv-content h3{	
	font-weight: normal;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 0;
}

#cv-right .h3, #cv-content .head{
	font-size: 20px;
	text-transform: uppercase;  
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
}
#cv-content span.exp-date {
    padding: 0px 10px;
    margin: 0 0 0 11px;
    font-size: 14px;
    font-weight: 500;
    position: absolute;
    left: 0;
    top: 13px;
    border-left: 2px solid;
}
#cv-content span.exp-date:before {
    content: "";
    width: 0;
    height: 0;
    border: 9px solid #28a745;/* Cần đổi màu */
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    position: absolute;
    top: 5px;
    right: -17px;
}

#cv-content span.exp-title {
	font-weight: 500;
    font-size: 17px;
}
#cv-content span.exp-subtitle {
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 1.05px;
}


#cv-right .block {
/*	margin-bottom: 30px;*/
} 
#cv-right .cvo-block {
    padding: 30px 0 10px;
    margin: 0 70px 20px;
    border-bottom: 2px dashed #CCC;
}

.cvo-block.ui-sortable-handle{
	padding: 0;
	margin: 0;

}
#cv-content .cvo-block {
    padding: 0 0 10px!important;
    margin: 0 70px 20px!important;
    border-bottom: dashed 2px #CCC;
}
#cv-content .cvo-block:last-child {
	border: none!important;
}

#cv-content .cvo-block:last-child .ctbx.experience {
	padding: 10px;
} 	

#cv-content .h3{
	color:#333;
	text-transform: uppercase;
	font-weight: 500;
	margin-bottom: 0
}
#cv-content span {
    background: #fff;
    padding-right: 8px;
    margin: 3px 0 0;
}

#cv-right .h3:first-child{
	margin-top: 0
}
.ctbx{
	position: relative;
}
.ctbx .r5 .h3{
	text-transform: uppercase;
}
.ctbx:hover {
	box-shadow: 0 0 1px #999;
}
.ctbx:hover .fieldgroup_controls{
	display: block;
}
[cvo-form-field] {
    cursor: text;
}

#cv-boxtitle, .block-title{
	padding: 10px;

}

.cvo-block .h3 i , .cvo-block  .head i{
    /*font-size: 16px;
    line-height: 24px;
    color: #3f8bb1;
    width: 26px;
    height: 26px;
    text-align: center;
    vertical-align: bottom;
    border: 2px solid #3f8bb1;
    position: absolute;
    top:12px;
    background: white;
    left: 201px;
    z-index: 9999;
    border-radius: 50%;*/
    display: none;
}

/* Hết main */

.h3 span , .head span{
	font-weight: bold;
}


#experience-table{
	position: relative;
}
.exp-content{
	padding-bottom: 2px;
}