#cv-top {
    width: 100%;
    height: 325px;
    background-image: url(hd3.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}
.all {
    float: left;
    clear: both;
    width: 100%;
    background-image: url(main3.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#cvo-profile-avatar-wraper {
    width: 64%;
    padding: 0;
    margin: 0;
    float: left;
    display: table;
    padding-top: 46px;
    margin-left: -28px;
}
#cvo-profile-avatar-wraper .wimg {
    width: 216px;
    height: 239px;
    float: right;
    display: unset !important;
    border-radius: 50%;
}
#cvo-profile-avatar{
      width: 220px;
    height: 220px;
    }
#cvo-profile-avatar-wraper img {
    width: 231px;
    height: 233px;
    float: none;
    border-radius: 50%;
}
#cvo-profile .box-dm{
     width: 245px;
    height: 250px;
    padding: 0;
    margin: 0;
    float: left;
    display: table;
    background: url(avata3.png)no-repeat;
    background-size: 100% 100%;
    clear: both;
    z-index: 1;
    margin-top: -244px;
    margin-left: 243px;
    top: -800px;
    position: absolute;
    
    }