#cv-top {
    background: url(../bg_top2.png) no-repeat;
}
#form-cv {
    background: url(../main2.png) repeat-y;
}
.fake_img {
    background: url(../fake_img_2.png) no-repeat;
}
.infor_title {
    background: url(../bg_title2.png) no-repeat;
}
#cv-content .cvo-block .head {
    background: url(../bg_title2.png) no-repeat;
}
#cv-top h2 {
    background: url(../bg_jop2.png) no-repeat;
    background-position: bottom;
}
.cum {
    border-bottom: 2px solid #a8bce0;
}
.ski {
    border-bottom: 2px solid #a8bce0;
}
.bar-exp {
    background: unset;
    border: 1px solid #30425d;
}
.bar-exp div {
    background-color: #8faef5;
}
#cv-top h1 {
    color: #30425d;
}
.ic1 .icf {
    background: url(../date2.png) no-repeat;
}

.ic2 .icf {
    background: url(../sex2.png) no-repeat;
}

.ic3 .icf {
    background: url(../phone2.png) no-repeat;
}

.ic4 .icf {
    background: url(../mail2.png) no-repeat;
}

.ic5 .icf {
    background: url(../add2.png) no-repeat;
}