#cv-top {
    width: 100%;
    background-image: url(hd3.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    height: 292px;
}

div#cv-main {
    float: left;
    width: 100%;
    background-color: #fff;
    background: url(bd3.png) no-repeat;
    background-size: 100% 100%;
}

.footer {
    background: url(ft3.png) no-repeat;
    background-size: 100% 100%;
}

#cv-right h3 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 auto 15px;
    line-height: 40px;
    text-align: left;
    height: 40px;
    margin-bottom: 0px;
    color: #d63d3d;
    padding-left: 45px;
}

#cv-content .head {
    width: 100%;
    float: left;
    font-size: 20px;
    color: #d63d3d;
    text-transform: uppercase;
    font-weight: bold;
    text-align: left;
    margin-bottom: 0px;
    line-height: 40px;
}

.cumic2 {
    width: 12%;
    height: 35px;
    float: left;
    background: url(ic3_07.png)no-repeat;
    background-position: center;
    background-size: 100% 100%;
}


/* #form-cv {
    line-height: 24px;
} */


/* .cumic3 {
    width: 35px;
    height: 35px;
    float: left;
    background: url(ic3_03.png)no-repeat;
    background-position: center;
    background-size: 100% 100%;
} */

.cumic4 {
    width: 12%;
    height: 35px;
    float: left;
    background: url(ic3_33.png)no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.cumic5 {
    width: 12%;
    height: 35px;
    float: left;
    background: url(ic3_48.png)no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.cumic6 {
    width: 12%;
    height: 35px;
    float: left;
    background: url(ic3_57.png)no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.cumic7 {
    width: 12%;
    height: 35px;
    float: left;
    background: url(ic64.png)no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.skiic {
    width: 12%;
    height: 35px;
    float: left;
    background: url(ic3_28.png)no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.icright1 {
    width: 9%;
    height: 35px;
    float: left;
    background: url(ic3_09.png)no-repeat;
    background-position: left;
    background-size: 100% 100%;
}

.icright2 {
    width: 9%;
    height: 35px;
    float: left;
    background: url(ic3_18.png)no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.icright3 {
    width: 9%;
    height: 35px;
    float: left;
    background: url(ic3_43.png)no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.icright4 {
    width: 9%;
    height: 35px;
    float: left;
    background: url(ic3_53.png)no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.icright5 {
    width: 9%;
    height: 35px;
    float: left;
    background: url(ic3_70.png)no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

#block02 p.h3 {
    background: url(ic3_21.png)no-repeat;
    background-size: 3%;
    background-position: 0 5px;
}

#block02 .exp-content {
    background: url(ic3_21.png)no-repeat;
    background-size: 3%;
    background-position: 0 5px;
}