#cv-top{
	background-image: url(532100.png);
    background-position: center center;
    background-repeat: repeat-x;    
}
#cv-top h1, .icf .fa, #cv-right h3, #cv-content .head{
	color: #532100
}
.bar-exp div {  
    background: #532100;    
}