#cv-top{
	background-image: url(9e0b0f.png);
    background-position: center center;
    background-repeat: repeat-x;    
}
#cv-top h1, .icf .fa, #cv-right h3, #cv-content .head{
	color: #9e0b0f
}
.bar-exp div {  
    background: #9e0b0f;    
}