#cv-top{
	background-image: url(ea7a78.png);
    background-position: center center;
    background-repeat: repeat-x;    
}
#cv-top h1, .icf .fa, #cv-right h3, #cv-content .head{
	color: #ea7a78
}
.bar-exp div {  
    background: #ea7a78;    
}