.fake_img {
  background: url(../fake3.png) no-repeat;
  background-size: 100% 100%;
}

.chu {
  background: url(../name3.png) no-repeat;
  background-size: 100% 100%;
}

.ic1 {
  background: url(../date3.png) no-repeat;
  background-position: 1px 4px;
}

.ic2 {
  background: url(../sex3.png) no-repeat;
  background-position: 1px 6px;
}

.ic3 {
  background: url(../phone3.png) no-repeat;
  background-position: 1px 6px;
}

.ic4 {
  background: url(../email3.png) no-repeat;
  background-position: 1px 8px;
}

.ic5 {
  background: url(../add3.png) no-repeat;
  background-position: 1px 6px;
}

.cum,
.ski {
  background: url(../tt3.png) no-repeat;
  background-position: left center;
}

#cv-content .cvo-block .head {
  background: url(../tt3.png) no-repeat;
  background-position: left center;
}

#cv-right #box03 .ctbx {
  background: url(../dot3.png) no-repeat;
  background-position: 1px 6px;
}

.exp-title {
  background: url(../muiten3.png) no-repeat;
  background-position: 1px 5px;
}

#experience-table .ctbx {
  background: url(../soc3.png) repeat-y;
  background-position: 12px 0px;
}

#cv-content .exp-date {
  color: #659adb;
}

.bar-exp {
  background: url(../skill3.png) no-repeat;
}

.bar-exp div {
  background: url(../kn3.png) no-repeat;
}

.footer {
  background: url(../foot3.png) no-repeat;
}