.cv_page::after {
    background-image: url(decor2.svg);
}

#cvo-profile {
    background-color: #a3d1c9;
}

.cumicc2 {
    background-image: url(target2.svg);
}

.cumicc3 {
    background-image: url(skill2.svg);
}

.cumicc4 {
    background-image: url(award2.svg);
}

.cumicc5 {
    background-image: url(certificate2.svg);
}

.cumicc6 {
    background-image: url(hobby2.svg);
}

.cumicc7 {
    background-image: url(reference2.svg);
}

#form-cv .icf1 {
    background-image: url(sex2.svg);
}

#form-cv .icf2 {
    background-image: url(birthday2.svg);
}

#form-cv .icf3 {
    background-image: url(phone2.svg);
}

#form-cv .icf4 {
    background-image: url(email2.svg);
}

#form-cv .icf5 {
    background-image: url(address2.svg);
}

.icright1 {
    background-image: url(graduate2.svg);
}

.icright2 {
    background-image: url(experience2.svg);
}

.icright3 {
    background-image: url(activity2.svg);
}

.icright4 {
    background-image: url(project2.svg);
}

.icright5 {
    background-image: url(more2.svg);
}