.cv_page::after {
  background-image: url(decor3.svg);
}

#cvo-profile {
  background-color: #ffc785;
}

.cumicc2 {
  background-image: url(target3.svg);
}

.cumicc3 {
  background-image: url(skill3.svg);
}

.cumicc4 {
  background-image: url(award3.svg);
}

.cumicc5 {
  background-image: url(certificate3.svg);
}

.cumicc6 {
  background-image: url(hobby3.svg);
}

.cumicc7 {
  background-image: url(reference3.svg);
}

#form-cv .icf1 {
  background-image: url(sex3.svg);
}

#form-cv .icf2 {
  background-image: url(birthday3.svg);
}

#form-cv .icf3 {
  background-image: url(phone3.svg);
}

#form-cv .icf4 {
  background-image: url(email3.svg);
}

#form-cv .icf5 {
  background-image: url(address3.svg);
}

.icright1 {
  background-image: url(graduate3.svg);
}

.icright2 {
  background-image: url(experience3.svg);
}

.icright3 {
  background-image: url(activity3.svg);
}

.icright4 {
  background-image: url(project3.svg);
}

.icright5 {
  background-image: url(more3.svg);
}