#cv-content h3,
#form-cv {font-size: 16px;}
#cv-top h1 {font-size: 40px;}
#cv-content .exp-title,
#cv-top h2 {font-size: 18px;}
#cv-content .head, 
#cv-right .h3 {font-size: 21px;}
#cv-content span.exp-date {font-size: 15px;}