#cv-content h3,
#form-cv {font-size: 14px;}
#cv-top h1 {font-size: 36px;}
#cv-content .exp-title,
#cv-top h2 {font-size: 16px;}
#cv-content .head, 
#cv-right .h3 {font-size: 19px;}
#cv-content span.exp-date {font-size: 13px;}