#cv-top h1 {
    color: #f93801;
}

#cv-top {
    background-image: url(hd3.png);
}

.all {
    background: url(main3.png)no-repeat;
}

.tt-box1 {
    color: #f93801;
}

.cum {
    color: #f93801;
}

.ski {
    color: #f93801;
}

#cvo-experience-blocktitle {
    color: #f93801;
}

.footer {
    background: url(footer3.png)no-repeat;
}

.bar-exp {
    border: 2px solid #f93801;
}

.bar-exp div {
    background: #f93801;
}

#cvo-profile .box-dm {
    background: url(avata2.png)no-repeat;
}