.box-dm {
    width: 300px;
    height: 300px;
    clear: both;
    z-index: 1;
    padding: 0;
    margin: 0;
    display: table;
     position: absolute; 
    float: left;
    background: url(1.png)no-repeat;
    background-size: 100% 100%;
    margin-top: -295px;
    top: -900px;
}
#cvo-profile-avatar-wraper img {
    width: 290px;
    height: 290px;
    float: none;
    border: 5px solid #95b63d;
}
.cum{
    background-color: #95b63d;
}
#cv-right .ir #sortable .block{
    border: 3px solid #95b63d;
}
#cv-content .head{
    background-color: #95b63d;
}
#cv-content .cvo-block{
    border: 3px solid #95b63d;
}
.ski{
    background-color: #95b63d;
}
#cv-top h2{
    color: #95b63d;
}