/* 2 */

:root {
  --sex: url(sex2.png) no-repeat;
  --phone: url(phone-2.png) no-repeat;
  --date: url(date2.png) no-repeat;
  --email: url(mail2.png) no-repeat;
  --add: url(add-2.png) no-repeat;
  --hocvan: url(hocvan2.png) no-repeat;
  --kinhnghiem: url(kinhnghiem2.png) no-repeat;
  --hoatdong: url(hoatdong2.png) no-repeat;
  --duan: url(duan2.png) no-repeat;
  --TTthem: url(TTthem2.png) no-repeat;
  --muctieu: url(muctieu-t2.png) no-repeat, url(muctieu-b2.png) no-repeat, url(muctieu-f2.png) no-repeat;
  --job: url(job-l2.png) no-repeat, url(job-r2.png) no-repeat;
  --ic: url(ic2.png) no-repeat;
  --content: url(ct-t2.png) no-repeat, url(ct-b2.png) no-repeat, url(ct-f2.png) no-repeat;
  --color: #3c857d;
}