#cv-top h2 {
  color: #6a9cfd;
  background: url(../line3.png) no-repeat;
  background-position: 50% 100%;
}

#cvo-profile {
  background: url(../top3.png) no-repeat;
  background-position: 30px 15px;
}

.box-dm {
  background: url(../fake3.png) no-repeat;
}

.ic1 .icf {
  background: url(../date3.png) no-repeat;
}

.ic2 .icf {
  background: url(../sex3.png) no-repeat;
}

.ic3 .icf {
  background: url(../phone3.png) no-repeat;
}

.ic4 .icf {
  background: url(../mail3.png) no-repeat;
}

.ic5 .icf {
  background: url(../add3.png) no-repeat;
}
#cv-content .head {
  border: 2px solid #6a9cfd;
}
div#cv-boxtitle {
  border: 2px solid #6a9cfd;
}
.bar-exp {
  background: url(../bar-exp3.png) no-repeat;
}
.bar-exp div {
  background: url(../skill_new3.png) no-repeat;
}