#cv-top {

    background-image: url(bg-4.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}
#cvo-profile-avatar-wraper .wimg {

    border: 9px solid #246176;
    border-radius: 10px;
}
#cv-top h1 {

    color: #246176;

}
#cv-top h2 {

    color: #246176;

}
div#cv-right {
    background: #246176;
}
.tt-box1 {

    background: url(tt-41.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;

}
.ski {

    background: url(tt-43.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;

}
.cum2 {

    background: url(tt-42.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;

}
.cum3{

    background: url(tt-44.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;

}
.cum4 {

    background: url(tt-45.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;

}
.cum5 {

    background: url(tt-44.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;

}
.cum6 {

    background: url(tt-46.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;

}
.cum7 {

    background: url(tt-47.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;

}
#cv-content .head {

    background: url(tt4.png);
    background-repeat: no-repeat;

    background-size: 100% 100%;
}
#cv-content .head #cvo-experience-blocktitle {
    color: #246176;
}
#cv-content h3 {

    color: #246176;
}
.bar-exp {
    background: #246176;

    border: 1px solid #ffffff;

}
#cv-main{
    background: #246176;
}

.footer {
    background: url(ft4.png);

    background-size: 100% 100%;
    background-repeat: no-repeat;
}