#cv-top {

    background-image: url(bg-3.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}
#cvo-profile-avatar-wraper .wimg {
    border: 9px solid #599135;

}
#cv-top h1 {

    color: #599135;

}
#cv-top h2 {

    color: #599135;

}
div#cv-right {
    background: #599135;
}
#cv-main{
    background: #599135;
}
.tt-box1 {

    background: url(tt-31.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;

}
.ski {

    background: url(tt-33.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}
.cum2 {

    background: url(tt-32.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;

}
.cum3{

    background: url(tt-34.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;

}
.cum4 {

    background: url(tt-35.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;

}
.cum5 {

    background: url(tt-34.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;

}
.cum6 {

    background: url(tt-36.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;

}
.cum7 {

    background: url(tt-37.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;

}
#cv-content .head {

    background: url(tt3.png);
    background-repeat: no-repeat;
    margin-left: -10px;
    background-size: 100% 100%;
}
#cv-content .head #cvo-experience-blocktitle {
    color: #599135;
}
#cv-content h3 {

    color: #599135;
}
.bar-exp {
    background: #599135;

}

.footer {
    background: url(ft3.png);

    background-size: 100% 100%;
    background-repeat: no-repeat;

}