#cv-top {
    width: 100%;
    height: 452px;
    background-image: url(hd3.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}
span#cv-profile-job {
    background: #3cd3ff;
}
#block01 .head {
    background: url(block01.png)no-repeat;
    background-position: left;
    background-size: 80%;
	z-index: 1;
	margin-left: -4px;
	padding-left: 65px;
}
#block02 .head {
    background: url(block1.png)no-repeat;
    background-position: left;
    background-size: 80%;
	margin-left: 42px;
	z-index: 1;
	padding-left: 20px;
}
#block03{
	background-color: #3cd3ff;
	border-left: 2px solid #000;
}
#block04{
	border-left: 2px solid #000;
	background-color: #3cd3ff;
}
#block05{
	background-color: #3cd3ff;
}