#form-letter{
	width: 900px;
	min-height: 1269px;
	float: left;	
	background: url('../../nendep353.png') #fff top center repeat-y;
	background-size: cover;
	background-position: 0px -25px;
	color:#000;
	position: relative;
	border: solid 2px #babebf;
}