#lt-top h1{	
	width: 65%;
	text-transform: uppercase;
	display: block;
	font-size: 24px;
	line-height: 24px;
	font-weight: bold;
	margin-top: -20px;
	text-align: left;
	color: #f5bd42;
	float: left;
	padding-left: 20px;
}
#cvo-profile-avatar-wraper {
    padding: 0;
    margin: 0;
    float: right;
    width: 160px;
    height: 165px;
    cursor: pointer;
    z-index: 99;
    border: 4px solid #f5bd42;
    border-radius: 5px;
    margin-left: 15px;
    margin-bottom: -1px;
    margin-right: 60px;
}
.icf .fa{
	font-size: 18px;	
	color:#f5bd42;	
	font-weight: normal;
	margin-top: 0;	
	float: left
}
#form-letter{
	width: 100%;
	height: 1130px;
	float: left;	
	color:#000000;
	position: relative;
	background:url(bg-2.png)no-repeat;
	background-size: 100% 100%;
}
.lto-day {
    margin: 0;
    padding: 0px 0px;
    padding-top: 10px;
    position: relative;
    clear: both;
    text-align: left;
    padding-bottom: 5px;
    background: url(tt-2.png) no-repeat;
    background-size: 100% 100%;
    background-position: right;
    color: #fff;
    float: left;
    width: 100%;
    margin-top: -35px;
    padding-left: 25px;
    margin-left: -45px;
    padding-right: 20px;
}