#form-cv{
	width: 100%;	
	float: left;
	position: relative;
	font-size: 14px;
	line-height: 24px;
	color:#494949;	
	background:#fff;
	outline: 1px solid #e1e1e1
}
#form-cv p{
	margin-top: 0;
	margin-bottom: 6px
}
#sortable .cvo-block{
	margin-bottom: 20px;
	margin-top: 8px;	
}
#cvo-profile{	
	display: block;
}
#box05{
	background: #666666;
}
#block02{
	background: #cccccc;
	border-left: solid 60px #cc6633;
}
#block05{
	background: #cccccc;
	border-left: solid 60px #cc6633;
}
#cv-content{
	width: 63%;
	float: right;
	position: relative;	
	padding-top: 10px;			
}
#cv-content .ir{
	padding:0 10px;
}
#cv-main{
	padding:0;
	position: relative;			
	float: left;
	width: 35.8%;
	background: #000;
}
#cv-right .ir{
	padding: 0 10px;
}
p.skill-name input{
	color: #fff!important;
}

#cv-right .ctbx {
	padding: 0;
	margin:0;
	border:0;
}
#block01{
	width: 50%;
    margin-top: -135px;
}
#cv-content .head{
	font-size: 25px;
    text-transform: capitalize;
    color: #000;
    font-weight: bold;
    margin: 0 auto 10px;
    line-height: 24px;}
#cv-top{
	background:url(hd1.png)no-repeat;
	background-size: 100% 100%;
	width: 100%;
	height: 233px;
}
.all {
    float: left;
    clear: both;
    width: 100%;
    background:url(main2.png)no-repeat;
    background-size: 100% 100%;
}


#cv-top h1{
	font-size: 35px;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 10px;
    margin-left: 30px;
    color: #fff;
    margin-top: 0;
    font-weight: bold;
    text-align: right;
    margin-right: 19px;
    font-family: 'Roboto';
	
}
#box-hvt{
	float: left;
	width: 36%;	
	padding-top: 75px
}


#sortable #box01{	
	margin-top: -50px;
	padding-top: 10px;
	padding-bottom: 10px
}
#box01 ul{
	list-style: none;
	padding-left: 20px
}
#cv-right .cvo-block .head div{
	color:#fff;
}
#cv-top h2{
	font-size: 20px;
    color: #fff;
    font-weight: normal;
    margin-left: 30px;
    margin-top: -54px;
    margin-bottom: 10px;
    width: 22%;
    border: solid 1px #fff;
    border-radius: 10px;
    /* background: url(gach1.png)no-repeat; */
}
.box-01 p{		
    overflow: hidden;
}

#cv-content p{
	margin-bottom: 5px
}
#cv-content .ir a{
	color: #2ebb2f
}
#cv-right h3{
	font-size: 25px;        
    text-transform: capitalize;
    color:#fff;
    font-weight: normal;    
    margin: 0 auto 10px;    
    line-height: 24px;  
    text-align: right;      
}
#cv-content #block01 .head{
	
    padding-top: 30px;
    margin-right: 7px;
    text-align: left;
}

#cv-content h3{	
    font-size: 15px;
    /* color: #000; */
    font-weight: unset;
    margin-top: 0;    
    margin-bottom: 5px;    
}
.ctbx{
	padding-left: 10px;
	padding-right: 10px
}

#cv-content span{
	display: inline-block;	
	z-index: 9999;
}

.ctbx{
	margin-bottom: 20px;
	padding-left: 0;
	padding-right: 0;
	position: relative;
}
.ctbx:hover {
	box-shadow: 0 0 1px #999;
}
.ctbx:hover .fieldgroup_controls{
	display: block;
}
[cvo-form-field] {
    cursor: text;
}
#cvo-profile-avatar-wraper{
	float: right;
    width: 30%;
    height: 200px;
    padding-top: 28px;
    margin-right: 7px;
}

#cvo-profile-avatar-wraper .wimg{	    
    float: none;
    width: 208px;
    height: 237px;
    margin: auto;
}
#cvo-profile-avatar-wraper img{
	width: 208px;
    height: 236px;
    float: none;
}
#cvo-profile-avatar{
	width: 208px;
    height: 236px;
}
#line-seperate {
    height: 25px;    
}
.bar-exp div {
    float: left;
    height: 8px;
    background: #000;    
}
.ctbx .skill-name{
	color: #fff;
    width: 37%;
    float: right;
}
.bar-exp {  	
  	background: #fff;
    height: 8px;
    margin-top: 7px;
    margin-bottom: 12px;
    width: 60%;
        float: left;
}      
.bar-value-exp{	
}
.bar-value-exp input[type="text"]{
	color:#000;
	width: 95%
}
.icoweb label{
	display: block;
}
#sortable .icoweb{
	line-height: 30px;
	padding-left: 5px;
	margin-bottom: 0;
	color: #fff;
	width: 86%;
}
.ic{
	float: left;
	width: 100%
}
#form-cv .icf{
float: right;
    border-radius: 20px;
    line-height: 28px;
    margin-bottom: 0;
    width: 28px;
    /* padding-left: 20px; */
}
.ic .icoweb{
	float: left	
}
.icf .fa{
	font-size: 14px;	
	color:#fff;	
	margin-top: 0;	
	float: none
}
div#box01 span {
    width: 217px;
}
#sortable .ic {
    margin-bottom: 8px;
    float: right;
    text-align: right;
}
span.box-content {
    width: 255px;
    color: #fff;
    text-align: right;
}
.exp-content,.exp-subtitle,span.exp-title {
    width: 100%;
}
#cv-profile-fullname::before{
  color: #fff;
}