#form-letter{

	background: url('../../nen36.png') #fff left top repeat-y;
	background-position: 55% 150%;
	background-size: 100% 100%; 
	border-bottom: solid 15px #9cb8c7;
	border-right: solid 15px #9cb8c7;
	border-top: solid 1px #9cb8c7;
	border-left: solid 1px #9cb8c7;
	color:#000;
	position: relative
}