/* 2 */

:root {
  --kn: url(kn2.png) no-repeat;
  --skill: url(skill2.png) no-repeat;
  --color: #fefbf5;
  --doc: url(doc2.png) no-repeat;
  --foot: url(foot2.png) no-repeat;
  --wing: url(fake2.png) no-repeat;
  --page: url(page-2.png) no-repeat;
  --top: url(top2.png) no-repeat;
}