#form-letter{
	width: 900px;
	min-height: 1271px;
	float: left;	
	background: url('../../nendep218.png') #fff left top repeat-y;
	background-size: cover; 
	background-position: -15px -50px;
	color:#000;
	border:solid 1px #ff7647;
	position: relative
}