#cv-top {
    background-image: url(hd3.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.all{
  background-image: url(bd3.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.footer {
    background: url(ft3.png)no-repeat;
    background-size: 100% 100%;
}
#cv-top h2 {
    background-color: #1bd59e  ;
    color: #fff;
}
div#cv-boxtitle {
    color: #111c49;
}
div#cv-boxtitle {
    color: #111c49;
}
#sortable .cvo-block .box-content {
    color: #fff;
}
#cv-content .head #cvo-experience-blocktitle {
    color: #000;
}
.ctbx .skill-name {
    color: #fff;
}
.box-dm{
      background: url(ava3.png)no-repeat;
      background-size: 100% 100%;
  }
  #block01 .head{
    background: url(icr3_03.png)no-repeat;
    background-position: center;
    background-size: 100%;
  }
  #block02 .head{
    background: url(icr3_06.png)no-repeat;
    background-position: center;
    background-size: 100%;
  }
  #block03 .head{
    background: url(icr3_08.png)no-repeat;
    background-position: center;
    background-size: 100%;
  }
  #block04 .head{
    background: url(icr3_10.png)no-repeat;
    background-position: left center;
    background-size: 132% 100%;
  }
  #block05 .head{
    background: url(icr3_12.png)no-repeat;
    background-position: left center;
    background-size: 132% 100%;
  }
  #cv-content #block02 h3 {
    background: url(giotnuoc.png)no-repeat;
    background-position: left;
    background-size: 10%;
}