/* 2 */

:root {
    --page: url(page2.png) no-repeat;
    --name: url(name2.png) no-repeat;
    --f-name: url(f-name2.png) no-repeat;
    --skill: url(skill2.png) no-repeat;
    --right: url(right2.png) no-repeat;
    --title5: #acb1d6;
    --title-n: #000;
}