/* 3 */

:root {
    --page: url(page3.png) no-repeat;
    --name: url(name3.png) no-repeat;
    --f-name: url(f-name3.png) no-repeat;
    --skill: url(skill3.png) no-repeat;
    --right: url(right3.png) no-repeat;
    --title5: #000;
    --title-n: #000;
}