#cv-top {
    background-image: url(header2.png);
}

.decor {
    background-image: url(decor2.svg);
}

.cv_page.page_more .all {
    background-image: url(bg2.png);
}

.all {
    background-image: url(main2.png);
}

#form-cv {
    color: #34b289;
}

#form-cv .icf1 {
    background: url(gioitinh2.svg) center no-repeat;
}

#form-cv .icf2 {
    background: url(ngaysinh2.svg) center no-repeat;
}

#form-cv .icf3 {
    background: url(dienthoai2.svg) center no-repeat;
}

#form-cv .icf4 {
    background: url(mail2.svg) center no-repeat;
}

#form-cv .icf5 {
    background: url(diachi2.svg) center no-repeat;
}

#cv-top h1 {
    color: #2daf85;
}

#cv-top h2 {
    color: #0b2d41;
}

.page_more {
    background: none;
}