#cv-top {
    background-image: url(header3.png);
    background-size: 100% 100%;
}

.decor {
    background-image: url(decor3.svg);
}

.cv_page.page_more .all {
    background-image: url(bg3.png);
}

.all {
    background-image: url(main3.png);
    background-size: 100% 100%;
}

#form-cv {
    color: #3f9acd;
}

#form-cv .icf1 {
    background: url(gioitinh3.svg) center no-repeat;
}

#form-cv .icf2 {
    background: url(ngaysinh3.svg) center no-repeat;
}

#form-cv .icf3 {
    background: url(dienthoai3.svg) center no-repeat;
}

#form-cv .icf4 {
    background: url(mail3.svg) center no-repeat;
}

#form-cv .icf5 {
    background: url(diachi3.svg) center no-repeat;
}

#cv-top h1 {
    color: #3997cb;
}

#cv-top h2 {
    color: #333236;
}

.page_more {
    background: none;
}