#form-cv {font-size: 14px;}
#cv-top h1 {font-size: 26px;}
#cv-right .h3,
#cv-top h2 {font-size: 17px;}
#cv-content .head {font-size: 19px;}
#cv-content .xyz {font-size: 16px;}
#cv-content .node {font-size: 18px;}
#cv-content .exp-subtitle {font-size: 15px;}