#form-cv{
	width: 100%;	
	float: left;
	position: relative;
	font-size: 14px;
	line-height: 24px;	
	color:#fff;
	outline: 1px solid #ccc
}
#form-cv p{
	margin-top: 0;
	margin-bottom: 6px
}
#sortable .cvo-block{
	margin-bottom: 20px;
	margin-top: 8px;
	padding:0;
}

#cv-top{		
    text-align: center;
    background-image: url(bg_bot.png);
    background-position:  right bottom;
    background-repeat: no-repeat;
    background-color:  #acacac;
    height: 240px
}
#cv-main{
	background: #fff;
	display: table;
	width: 100%
}
#cv-content{
	width: 59%;
	background: #1f2835;
	float: right;
	position: relative;		
	/* min-height: 800px;	 */
}
#cv-content .ir{
	padding:0 10px;
}
#cv-right{
	width: 40%;
	/* min-height: 1100px; */
	float: left;
	background: #fff;
	position: relative;		
	color:#070000;
}
#cv-right .ir{	
	padding-left: 15px
}
p.skill-name input{
	color: #070000!important;
}

#cv-right .cvo-block span{
	color: #070000;
}
#cv-right .ctbx {
	padding: 0;
	margin:0;
	border:0;
}
.skill{
	margin-top: 15px
}

#cv-top h1{
	font-size: 30px;
	padding-top: 60px;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;    
    margin-left: 0px;
    color: #fff;
    margin-top: 0;
    font-weight: bold;
	
}
#cv-top h1 span{
	padding: 0px 10px;
}

#cv-top h2{
	font-size: 16px;
    text-align: center;        
    color: #fff;
    margin-top: 0;
    font-weight: bold;
    margin-bottom: 10px
}
.box-01 p{		
    overflow: hidden;
}

#cv-content p{
	margin-bottom: 5px
}

#cv-content .ir a{
	color: #2ebb2f
}
#cv-right h3, #cv-content .head{
	font-size: 18px;    
    color: #f70000;   
    text-transform: uppercase;
    font-weight: bold;        
    margin: 0 auto 5px;    
    line-height: 24px
}

#cv-content .head{
	color:#fcb617;
	padding: 8px 10px;
	margin-top: 7px
}
#cv-right h3{	    
    color:#404041;
    border-left: solid 5px #404041;
    line-height: 30px;
    margin-bottom: 15px;
    margin-top: 15px;
    padding-left: 10px;
    text-align: left   
}

#cv-content h3{	
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    color:#fff;
}
p.h3{
	font-weight: bold;
}
#cv-content .cvo-block {    
	padding:5px 0;
}
.ctbx{
	padding-left: 10px;
	padding-right: 10px
}

#cv-content span{
	display: inline-block;	
	z-index: 9999;
}
.ctbx{
	margin-bottom: 20px;
	position: relative;
}
.ctbx:hover {
	box-shadow: 0 0 1px #999;
}
.ctbx:hover .fieldgroup_controls{
	display: block;
}
[cvo-form-field] {
    cursor: text;
}
.bar-value-exp input[type="text"]{
	color:#252525;
	width: 95%
}
#cvo-profile-avatar-wraper{	        
    width:41%;    
    height: 200px;
    padding-top: 40px;
    float: left;   
    background: #fcb617; 
}
#box-hvt{
	float: left;
	width: 58%;
	height: 240px
}
#cvo-profile-avatar-wraper .wimg{	
  	width: 150px;	
  	margin:auto;
  	float: none
    
}
#cvo-profile-avatar-wraper .wimg img{	
	width: 150px;
	height: 150px;
	display: table;
	float: none
}
#line-seperate {
    height: 25px;
    /*background-color: #e3ecec;*/
}
.bar-exp div {
    float: left;
    height: 10px;
    background: #3c4353;
    
}
.bar-exp {
  	width: 95%;
  	background: #ccc;
  	height: 10px;
  	float: left;
  	margin-bottom: 12px;
}      
.icoweb label{
	display: block;
	color:#fff;
}
#cv-right .icoweb span{
	color: #070000;
}

.box-contact{
	font-size: 15px;
}
#sortable .icoweb{
	padding-left: 24px;
	line-height: 32px;	
	margin-bottom: 0
}
#sortable .cvi-date{
	background: url('fa-1.png') left center no-repeat;	
}
#sortable .cvi-user{
	background: url('fa-2.png') left center no-repeat;	
}
#sortable .cvi-phone{
	background: url('fa-3.png') left center no-repeat;	
}
#sortable .cvi-envelope-square{
	background: url('fa-4.png') left center no-repeat;	
}
#sortable .cvi-map-marker{
	background: url('fa-5.png') left center no-repeat;	
}
#sortable .cvi-info{
	background: url('fa-6.png') left center no-repeat;	
}

div#box01 .box-content, div#box02 .box-content, div#box03 .box-content, div#box04 .box-content, div#box05 .box-content, div#box06 .box-content, div#box07 .box-content {
    width: 300px;
}
div#box01 span {
    width: 230px;
}
#cv-profile-birthday::before{
    color: #000;
}
#cv-profile-sex::before{
    color: #000;
}
#cv-profile-phone::before{
    color: #000;
}
#cv-profile-email::before{
    color: #000;
}
#cv-profile-address::before{
    color: #000;
}
#cv-profile-face::before{
    color: #000;
}
#cv-profile-fullname::before{
  color: #fff;
}
#cv-profile-job::before{
  color: #fff;
}

.watermark {
    float: left;
    width: 100%;
    height: 22px;
    color: #999;
    text-align: right;
    padding-right: 22px;
    font-size: 15px;
    font-family: Courier;
}