#form-cv {
  width: 100%;
  float: left;
  font-size: 14px;
  line-height: 24px;
  padding: 0px;
  margin: 0px;
}

.cv_tt {
  float: left;
  width: 100%;
}

#cv-main {
  float: right;
  width: 45%;
  margin: 0px;
  padding: 0px;
  padding-top: 30px;
}

#cv-content {
  width: 50%;
  float: left;
  padding: 0px;
  margin: 0px;
  padding-top: 27px;
  margin-top: -90px;
  position: relative;
}

#cv-right {
  width: 100%;
  float: left;
  padding: 0px;
  margin: 0px;
}

#cv-top {
  float: left;
  width: 100%;
  background: url(top_new1.png) no-repeat;
  background-size: 100%;
  clear: both;
  padding-bottom: 52px;
}

div#cvo-profile {
  width: 100%;
  float: left;
}

.all {
  float: left;
  clear: both;
  width: 100%;
  margin: 0;
  padding: 0;
}

.ir {
  float: left;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

#cv-right .box-contact {
  display: none;
}

#sort_block,
.cv-right .ir,
#sortable {
  float: left;
  padding: 0px;
  margin: 0px;
  width: 100%;
}

#cv-content .cvo-block,
#cv-right .block {
  float: left;
  padding: 0px;
  margin: 0px;
  width: 100%;
}

#cv-content .head,
#cv-right h3,
#cv-right .cvo-block p {
  float: left;
  padding: 0px;
  margin: 0px;
  width: 100%;
}

#cv-content .cvo-block {
  width: 100%;
  padding-bottom: 0;
}

#cv-content #experience-table {
  float: left;
  margin: 0px;
  text-align: justify;
}

#cv-content #experience-table .ctbx {
  float: left;
  padding: 0px;
  margin: 0px;
  width: 100%;
  margin-bottom: 15px !important;
}

#cv-content h3 {
  float: left;
  padding: 0px;
  margin: 0px;
  width: auto;
  font-weight: unset;
}

#cv-content .h3 {
  float: left;
  padding: 0px;
  margin: 0px;
  width: 100%;
  margin-bottom: 5px;
}

#cv-content .exp-content {
  padding: 0px;
  margin: 0px;
  width: 100%;
}

div {
  margin: 0px;
  padding: 0px;
}

.ctbx {
  /* position: relative; */
  margin-bottom: 15px !important;
}

.ctbx:hover {
  box-shadow: 0 0 1px #999;
}

.ctbx:hover .fieldgroup_controls {
  display: block;
}


.bar-exp {
  float: left;
  margin: 0;
  margin-top: 8px;
  margin-bottom: 12px;
  width: 258px;
  background: #ffd4e3;
  height: 10px;
}

.bar-exp div {
  float: left;
  height: 10px;
  background: #000000;
}

#cv-title {
  padding: 5px 0;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  margin-bottom: 8px;
  font-size: 20px
}

.exp .ctbx {
  display: table;
  width: 100%;
}

.edit-content .bar-value-exp {
  display: block;
}

.bar-value-exp {
  display: none;
}

.bar-value-exp {
  width: 100%;
  float: right;
}

p.skill-name input {
  border-bottom: 0;
  font-size: 14px;
  border: 0
}

.bar-value-exp input[type="text"] {
  width: 94%;
  padding: 5px;
  border-radius: 4px;
}

#cv-right .h3,
#cv-content .head {
  background: none;
  text-align: left;
}

#cv-content .head {
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;
  border-bottom: 2px solid #ffb8d0;
  margin-bottom: 10px;
}

#cv-content h3 {
  width: 100%;
  font-size: 16px;
  float: left;
}

#page-cv {
  max-width: 790px
}

.ava {
  position: relative;
}

#bg-avata #cvo-profile-avatar-wraper {
  width: 240px;
  height: 240px;
}

#bg-avata #cvo-profile-avatar-wraper #cvo-profile-avatar {
  width: 205px;
  height: 225px;
  display: unset !important;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

.wimg {
  position: relative;
  z-index: 0;
}

#cvo-profile-avatar {
  /* margin-left: -50px; */
  width: 221px;
  height: 250px;
  /* margin-top: 15px; */
  position: relative;
  /* top: -8px; */
  /* left: 50px; */
  /* box-shadow: 1px 1px 12px #ccc; */
}

#box-hvt {
  float: left;
  width: 51%;
  margin: 0px;
  padding: 0px;
  margin-left: 75px;
  padding-top: 20px;
  position: relative;
  margin-bottom: 20px;
  /* z-index: 99; */
}

.box-01 {
  background-size: 100% auto;
  float: left;
  width: 100%;
}

#box-hvt h1 {
  padding: 0px;
  margin: 0px;
  text-align: center;
  margin-top: 10px;
  float: left;
  width: 164px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: normal;
  text-transform: uppercase;
}

#box-hvt h2 {
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  float: left;
  width: 100%;
  padding: 0px;
  margin: 0px;
  font-family: Roboto;
  font-weight: bold;
  text-transform: uppercase;
}

#cv-right .block {
  margin-top: 0px;
  margin-bottom: 25px;
  padding: 0px;
  margin: 0px;
}

#cv-right .block h3 {
  float: left;
  height: 35px;
  font-size: 18px;
  line-height: 35px;
  padding: 0px;
  margin: 0px;
  font-weight: bold;

}

#cv-right .text {
  width: 100%;
  height: 30px;
  float: left;
  text-align: center;
  border-top: 1px solid #fff;
  padding-top: 5px;
}

#cv-right .block h3 span {
  font-family: Roboto;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
  height: 30px;
  line-height: 30px;
  color: #fff;
}

#cv-right .cvo-block p {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

#cv-right .cvo-block p.skill-name {
  border: none;
  width: 100%;
}

#cv-right .block {
  margin-bottom: 25px;
}

#cv-right p {
  text-align: justify;
}

#cv-right .icoweb i.fa {
  margin-top: 6px;
  font-size: 15px;
  width: 25px;
  color: #fff;
}

.box-contact p .fa {
  color: #fff;
}

.box-contact p.cvi-date {
  background: #919191;
}

#sortable .box-contact p.icoweb {
  margin-bottom: 7px;
}

.box-info .box-contact {
  float: left;
  width: 100%;
}

.box-info {
  float: left;
  width: 30%;
}

#infor-left {
  width: 33%;
  float: left;
}

#infor-right {
  width: 33%;
  float: right;
}

#infor-left .ic {
  width: 100%;
  float: left;
}

#infor-left .icoweb {
  width: 100%;
  float: left;
  z-index: 2;
  text-align: center;
  position: relative;
  height: 25px;
}

#infor-left .icf {
  width: 27px;
  height: 28px;
  text-align: center;
  float: left;
  padding-top: 4px;
  display: none;
}

#infor-right .ic {
  padding-right: 5px;
  float: left;
  width: 100%;
}

.box-contact p {
  padding: 0px;
  margin: 0px;
}

#infor-right .icoweb {
  text-align: center;
  width: 100%;
  float: right;
  height: 25px;
}

#infor-right .icf {
  float: right;
  width: 27px;
  height: 28px;
  text-align: center;
  padding-top: 4px;
  display: none;
}

#bg-avata {
  width: 28%;
  float: left;
}

#cv-content .text {
  text-align: center;
  height: 30px;
}

.image {
  display: none;
}

.image .fa {
  font-size: 18px;
  color: #fff;
  margin-top: 16px
}

#infor-right .icoweb,
#infor-right .icoweb span {
  padding-right: 5px;
  width: 90%;
  z-index: 2;
  position: relative;
}


.image .bgic-2,
.image .bgic-4,
.image .icon-skikll,
.image .bgic-5,
.image .bgic-6,
.image .bgic-7 {
  height: 24px;
  background-repeat: no-repeat;
  background-size: 70% 90%;
  margin-top: 13px;
  margin-left: 11px
}



.image .bgic-right-1,
.image .bgic-right-2,
.image .bgic-right-3,
.image .bgic-right-4,
.image .bgic-right-5 {
  height: 24px;
  background-repeat: no-repeat;
  background-size: 70% 90%;
  margin-top: 13px;
  margin-left: 11px
}


#cv-right .block #bg-content {
  width: 100%;
  float: left;
}

#cv-right .block .exp {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
}

#page-cv #cv-content #cvo-experience-blocktitle,
#cv-boxtitle {
  font-family: Roboto;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 20px;
  color: #d56188;
  width: 100%;
}

#experience-table {
  width: 100%;
  height: auto;
  float: right;
  clear: both;
  text-align: justify;
}

#cv-profile-fullname::before {
  color: #fff;
}

.watermark {
  float: left;
  width: 100%;
  color: #000;
  text-align: right;
  padding-right: 22px;
  font-size: 15px;
  font-family: Courier;
}

.chu {
  float: left;
  width: 44%;
  padding-top: 30px;
  margin-left: 89px;
  position: relative;
  /* z-index: 49; */
}

.anh {
  float: right;
  margin-right: 40px;
  width: 28%;
  padding-top: 37px;
  z-index: 9;
  position: relative;
  left: 7px;
  text-align: right;
}

.cum,
.ski {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 30px;
  border-bottom: 2px solid #ffb8d0;
  margin-bottom: 10px;
}

.chu h1 {
  width: 100%;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: bold;
  color: #000;
  margin-bottom: 0;
  line-height: 42px;
  font-family: 'Dancing Script';
}

span#cv-profile-fullname {
  margin: 0;
  padding: 0;
  padding-right: 5px;
  width: 100%;
  font-family: 'Dancing Script' !important;
}

.chu h2 {
  padding-top: 20px;
  font-size: 18px;
  color: #d56188;
  border-bottom: 1px solid #ffb8d0;
}

.ic1 .icf {
  background: url(date_new.png) no-repeat;
  background-position: 0% 50%;
  width: 34px;
  height: 30px;
  float: left;
}

.ic2 .icf {
  background: url(sex_new.png) no-repeat;
  background-position: 0% 50%;
  width: 34px;
  height: 30px;
  float: left;
}

.ic3 .icf {
  background: url(phone_new.png) no-repeat;
  background-position: 0% 50%;
  width: 34px;
  height: 30px;
  float: left;
}

.ic4 .icf {
  background: url(mail_new.png) no-repeat;
  background-position: 0% 50%;
  width: 34px;
  height: 30px;
  float: left;
}

.ic5 .icf {
  background: url(addd_new.png) no-repeat;
  background-position: 0% 50%;
  width: 34px;
  height: 30px;
  float: left;
}

.icoweb {
  padding-left: 25px;
}

.anh img {
  object-fit: cover;
}

.fake_img {
  display: none;
  background: url(fake-img1.png) no-repeat;
  width: 230px;
  height: 230px;
  position: absolute;
  top: -9999px;
  margin-top: -210px;
  margin-right: -600px;
  z-index: 2;
  background-size: 100% 100%;
}

.exp-date {
  float: right !important;
  padding: 3px 3px;
  width: 88px;
  color: #ffffff;
  text-align: center;
  line-height: 19px;
  /* background: url(bg_date1.png) no-repeat;
  background-position: 100% 50%; */
  border-radius: 15px;
  background: #ffb8d0;
}


.ic1 {
  float: left;
  width: 33%;
  padding-bottom: 10px;
}

.ic2 {
  float: left;
  width: 25%;
}

.ic3 {
  float: left;
  width: 30%;
}

.ic4 {
  clear: both;
  width: 100%;
  padding-bottom: 10px;
}

.ic5 {
  width: 100%;
}

.ski {
  font-size: 20px;
  font-weight: bold;
}

.exp-title {
  width: 65%;
  font-weight: bold;
  float: left;
}

.box-content {
  width: 100%;
  margin-top: 5px;
}

#block03 .exp-date {
  display: none;
}

.blog-cv .head,
.blog-hd .head {
  color: #000;
}

.footer {
  float: left;
  width: 100%;
  background: url(footer1.png) no-repeat;
  background-size: 100%;
  padding-top: 72px;
  margin-top: -60px;
}

span#cv-profile-job {
  text-transform: capitalize;
  width: 100%;
}
.icoweb span {
    color: #d86f92;
    width: 100%;
    margin-top: 5px;
    padding-left: 1px;
}
div#sort_block {
  padding-left: 20px;
}

div#sortable {
  padding-right: 30px;
}
span#cv-profile-birthday {
  width: 80%;
}

span#cv-profile-sex {
  width: 80%;
}

span#cv-profile-phone {
  width: 90%;
}
span#cv-profile-email {
  width: 90%;
}
span#cv-profile-address {
  width: 90%;
}
#block01 .h3, #block01 .exp-content{
  /* padding-left: 30px !important; */
}
span.exp-subtitle {
    width: 100%;
}

#block03 .exp-title, #block05 .exp-title {
  width: 100%;
}
#block05 .exp-title{
  display: none;
}
.box-content {
  text-align: justify;
}