#sortable .cvo-block{
	border: dashed 1px #6dc9c8;
}
#cv-main{
	border-left: solid 1px #6dc9c8;
	border-right: solid 1px #6dc9c8;
}

.ftlx{
	background: url('../ft2.png') bottom center no-repeat #fff;
	border-left: solid 1px #6dc9c8;
	border-right: solid 1px #6dc9c8;

}
#cv-top{		  
    background: url('../hd2.png') top center no-repeat #fff;
    border-left: solid 1px #6dc9c8;
	border-right: solid 1px #6dc9c8;
}

#cv-content{
	border-left: solid 2px #6dc9c8;
}
.bar-exp div {
    background: #6dc9c8;
}