#sortable .cvo-block{
	border: dashed 1px #a1c45a;
}
#cv-main{
	border-left: solid 1px #a1c45a;
	border-right: solid 1px #a1c45a;
}

.ftlx{
	background: url('../ft1.png') bottom center no-repeat #fff;
	border-left: solid 1px #a1c45a;
	border-right: solid 1px #a1c45a;

}
#cv-top{		  
    background: url('../hd1.png') top center no-repeat #fff;
    border-left: solid 1px #a1c45a;
	border-right: solid 1px #a1c45a;
}

#cv-content{
	border-left: solid 2px #a1c45a;
}
.bar-exp div {
    background: #a1c45a;
}