#cv-top h1 {
  color: #5823af;
}

#cv-top {
  background-image: url(hd2.png);
}

.all {
  background-image: url(main2.png);
}

#cv-content .cvo-block#block01 {
  background-color: #ede6f8;
}

.tt-box1 {
  color: #5823af;
}

.cum {
  color: #5823af;
}

.ski {
  color: #5823af;
}

#cvo-experience-blocktitle {
  color: #5823af;
}

.footer {
  background: url(footer2.png) no-repeat;
}

.bar-exp {
  border: 2px solid #834fcc;
}

.bar-exp div {
  background: #5823af;
}

#cvo-profile .box-dm {
  background: url(avata2.png) no-repeat;
}