#form-letter{
	width: 100%;
	height: 1130px;
	float: left;	
	color:#000000;
	position: relative;
	background:url(bg-4.png)no-repeat;
	background-size: 100% 100%;
}
#lt-right {
    margin: 0;
    width: 75%;
    position: relative;
    float: left;
    padding: 20px 0 20px 15px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color: #73384e;
    margin-left: 100px;
}
#lt-top h1 {
    width: 100%;
    text-transform: uppercase;
    display: block;
    font-size: 25px;
    line-height: 24px;
    font-weight: bold;
    text-align: center;
    color: #73384e;
    margin-bottom: 30px;
    margin-top: 35px;
}
#lt-top h2{
	font-size: 14px;
	line-height: 18px;
	text-transform: capitalize;
	color: #73384e;
	font-weight: bold;
	text-align: center;
	margin-bottom: 10px;
	margin-top: 0
}
.box-01{
	padding-top: 10px;
	font-size: 14px;
	width:100%;
	float: left;
	color: #73384e;
}
.icf .fa {
    font-size: 18px;
    color: #73384efff;
    font-weight: normal;
    margin-top: 0;
    float: left;
}