.cv_page {
  background: url(bg2.svg) bottom no-repeat;
}

#cvo-profile-avatar-wraper {
  border: 10px solid #7bbddb;
}

div#prof {
  background-color: #7bbddb;
}

.cumicc2 {
  background-color: #7bbddb;
}

.cumicc3 {
  background-color: #7bbddb;
}

.cumicc4 {
  background-color: #7bbddb;
}

.cumicc5 {
  background-color: #7bbddb;
}

.cumicc6 {
  background-color: #7bbddb;
}

.cumicc7 {
  background-color: #7bbddb;
}

.icright1 {
  background-color: #7bbddb;
}

.icright2 {
  background-color: #7bbddb;
}

.icright3 {
  background-color: #7bbddb;
}

.icright4 {
  background-color: #7bbddb;
}

.icright5 {
  background-color: #7bbddb;
}