.cv_page {
    background: url(bg3.svg) bottom no-repeat;
}

#cvo-profile-avatar-wraper {
    border: 10px solid #7f887f;
}

div#prof {
    background-color: #7f887f;
}

.cumicc2 {
    background-color: #7f887f;
}

.cumicc3 {
    background-color: #7f887f;
}

.cumicc4 {
    background-color: #7f887f;
}

.cumicc5 {
    background-color: #7f887f;
}

.cumicc6 {
    background-color: #7f887f;
}

.cumicc7 {
    background-color: #7f887f;
}

.icright1 {
    background-color: #7f887f;
}

.icright2 {
    background-color: #7f887f;
}

.icright3 {
    background-color: #7f887f;
}

.icright4 {
    background-color: #7f887f;
}

.icright5 {
    background-color: #7f887f;
}