#cv-top h1 {
    font-size: 40px;
    font-family: "Roboto";
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 0;
    color: #cb5201;
    font-weight: bold;
    text-align: center;
    width: 100%;
    background: #fff;
}
.icf .fa {
    font-size: 20px;
    color: #cb5201;
    margin-top: 0;
    float: left;
}
div#cv-boxtitle {
    font-size: 19px;
    font-weight: bold;
    text-transform: uppercase;
    color: #cb5201;
}
#cv-content .head #cvo-experience-blocktitle {
    color: #cb5201;
}
.icright1 {
  width: 15%;
  height: 35px;
  float: left;
  background: url(icn_03.png) no-repeat;
  background-position: center;
  z-index: 1;
}
.icright2 {
    width: 15%;
  height: 35px;
  float: left;
  background: url(icn_06.png) no-repeat;
  background-position: center;
}
.icright3 {
     width: 15%;
  height: 35px;
  float: left;
  background: url(icn_09.png) no-repeat;
  background-position: center;
}
.icright4 {
     width: 15%;
  height: 35px;
  float: left;
  background: url(icn_12.png) no-repeat;
  background-position: center;
}
.icright5 {
     width: 15%;
  height: 35px;
  float: left;
  background: url(icn_15.png) no-repeat;
  background-position: center;
}
.footer{
    width: 100%;
    height: 25px;
    background: #cb5201;
}
#cv-content h3 {
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #cb5201;
}
.bar-exp div {
    float: left;
    height: 10px;
    background: #cb5201;
    margin-top: 0px;
}
#cvo-profile-avatar-wraper .wimg {
    width: 175px;
    height: 175px;
    padding: 0px;
    margin: 0px;
    margin-top: 0px;
    border:5px solid #cb5201;
}