#cv-top, #sortable #box01, .bar-exp div{
    background: #b10357;
}
#cv-right h3 .wfa, #cv-content .head .wfa{
	border:1px solid #b10357;
	color:#b10357;
}
#cv-right h3, #cv-content .head{
	color:#b10357;
}