#page-cv{
	width: 1072px;
	float: left;
}
#form-cv {
    width: 900px;
    min-height: 1273px;
    float: left;
    position: relative;
    font-size: 17px;
    line-height: 28px;
    color: #333;
    border: 1px solid #ccc;
}

.text-i {
	color: #0065d1!important;
}
.bar-exp span,.bg {
	background-color: #0065d1!important;
}
.br {
	border-color: #0065d1!important;
}
.bg-light {
	background-color: #d7e2ef!important;
}

#cv-main{
	display: table;
}

#cv-right{
	width: 100%;
	position: relative;
}

#cv-content .ir a{
	color: #0065d1;
}

p.skill-name input{
	color: #000000!important;
}


#cv-right .ctbx {
	padding-bottom: 0;
	margin:0;
}



/* Top */

#cv-top{	
	width: 100%;
}
#cv-top h1 {
    line-height: normal;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center;
    font-size: 50px;
    padding: 10px 25px 10px 250px;
    margin-bottom: 10px;
    color: white;
}
#cv-top h2{
	text-align: center;
	font-weight: 500;
    font-size: 25px;
    padding: 10px 0 10px 250px;
    color:white;
    text-transform: uppercase;
}
#cv-top h1 span{
	padding: 0px 15px;
}

.box-01 p{		
    overflow: hidden;
}
.box-01 {
    padding: 45px 0;
    position: relative;
}

#cvo-profile-avatar-wraper {
    position: absolute;
    top: 50%;
    margin-top: -100px;
    left: 25px;
    padding: 0;
    width: 200px;
    height: 200px;
}

#cvo-profile-avatar-wraper #cvo-profile-avatar {
    padding: 0;
    border: 0;
    width: 200px;
    height: 200px;
}
/* Chung */
#cv-right .block {
    padding: 5px 25px 10px;
    margin: 0;
    position: relative;
}

#cv-right .block:before {
	content: "";
	position: absolute;
	top: 24px;
	left: 0;
	height: 10px;
	width: 100%;
	background-image: url(images/stripe.png);
	background-repeat: repeat-x;
}
#cv-right .block:first-child:before{
	display: none;
}
/* icoweb */
.box-contact {
    padding: 0 25px 25px!important;
    margin: 0 0 10px;
    font-size: 15px;
}

.has {
	display: flex;
	flex-wrap: wrap;
	position: relative;
}
.has:after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	background-color: #ccc;
	width: 2px;
	height: 81%;
	transform: translate(-50%,-50%);
}

.icoweb{
	width: calc((100% - 30px) / 2);
	padding: 5px 0;
	display: flex;
	flex-wrap: wrap;
}

.icoweb:nth-child(odd) {
    margin-right: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    text-align: right;
}

.icoweb:nth-child(even) {
	margin-left: 15px;
}

.icoweb label{
	display: block;
	color:#627e88;
}
#cv-right .icoweb span{
	display: block;
	color: #000000;
}
#sortable .icoweb i.fa {
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 16px;
}
.icoweb:nth-child(even) i {
	margin: 0 15px 0 0;
}

.icoweb:nth-child(odd) i{
	margin:0 0 0 15px;
}
.head i.fa, .h3 i.fa{
}


.name_box{
	display: inline-block;
	padding: 20px 30px;
	background: #c69c6d;

}

/* CV content */

#cv-content {
    width: 100%;
    position: relative;
    margin: 0;
}

#cv-content .ir{
	
}
#cv-content p {
    margin-bottom: 5px;
    font-weight: 500;
}

#cv-right .h3, #cv-content .head {
    font-size: 28px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
}

#cv-content .head span{
	
	padding: 10px;
	margin: 3px 0px;
	background-color: white;
}

#cv-right .h3 span {
    padding: 10px;
    margin: 0 0 3px;
    background-color: white;
}

#cv-content h3 {
    font-size: 19px;
    font-weight: 500;
}

#cv-content .head{	
	
}

#cv-content .cvo-block {
    position: relative;
    padding: 5px 25px 10px;
}

#cv-content .cvo-block:before{
	content: "";
	position: absolute;
	top: 26px;
	left: 0;
	height: 10px;
	width: 100%;
	background-image: url(https://lh3.googleusercontent.com/-bUoUUalhsYE2uWciCQGux-iTu12VPfo5GiE2AfoX1tRPs3Wi9R8p9XcAmdIOlobNy5TGJHw2m3-6NAAc8JEpgnaJWmE9wdMkHxY1G5GfEki_AdhxQRtFA6J47bRNo3nKcG7oc6gziBJCQhW0P8ViKoLtHGQTvMLAtOxSK511rRnGMC_RMpgxNVsVVedC7kZKZohhtREeEgYpLy9KPL-NBTL3f8fO5azJovWbkSWT7NIKpCZXweT3OXMABCx-XC8J7LQrhD1WPvF6j_GEf4OqjItzyKhrzpP8NusB3opXtTzKGjcRkWzm1OYKjwxrGp4Z7x4BUO7vgSQ7snqrtH86SKZy_rTsO1K8xiN17BlUQ8mUt7kOQd0OWdTZ7MBG06bXPiDJ9M3wnI_bPkzN5wQCQeaNj3SQBYN-e4leSQgQI_GVEpNcFn58Y4vop9-TvPmJUBtQF0cV0MQ6lMX3ltWWfZ6dDXFZPikFlLqIxfUar4wj0QxKS5QXPx3R437SQVcB6lz50_kEjUyWuZwjdeBoRr1MnX3C9gEtiAQXBmrydU3e-pBpR0M7kNYx8Sp1t7O80OH8wcHsHJkCxY12NVyiYOOo7wD0eph2WsXG-7OcCllRvtrFdLGPO0Sa6eESm_fPyY_GwZb10omPhfJeSQz5e5dO79H2-LAdS3Spvt6PyWT=w12-h14-no);
	background-repeat: repeat-x;
}


#cv-content .cvo-block:last-child:after {
	display: none;
}
#cv-content span{
	display: inline-block;
	z-index: 9999;
}

#cv-right .h3:first-child{
	margin-top: 0
}
.ctbx {
    margin-bottom: 15px;
    position: relative;
}
.ctbx .r5 .h3{
	text-transform: uppercase;
}
.ctbx:hover {
	box-shadow: 0 0 1px #999;
}
.ctbx:hover .fieldgroup_controls{
	display: block;
}
[cvo-form-field] {
    cursor: text;
}
#line-seperate {
    height: 25px;
    /*background-color: #e3ecec;*/
}
.bar-exp span {
    float: left;
    height: 8px;
    
}
.bar-exp{
	background: #e1e1e1;
}



.bottom {
    height: 70px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.bg-bottom {
	height: 12px;
	width: 100%;
}
