#cv-top {
    background: url(../top3.png) no-repeat;
}

.fake_img {
    background: url(../fake3.png) no-repeat;
    background-size: 100% 100%;
}

.ic1 {
    background: url(../date3.png) no-repeat;
    background-position: 1px 1px;
}

.ic2 {
    background: url(../sex3.png) no-repeat;
    background-position: 1px 1px;
}

.ic3 {
    background: url(../phone3.png) no-repeat;
    background-position: 1px 1px;
}

.ic4 {
    background: url(../email3.png) no-repeat;
    background-position: 1px 1px;
}

.ic5 {
    background: url(../add3.png) no-repeat;
    background-position: 1px 1px;
}

#cv-top h2 {
    background: url(../job3.png) no-repeat;
    background-size: 100% 100%;
    color: #7a9fb2;
}

.all {
    background: url(../all3.png) no-repeat, url(../page3.png) no-repeat;
    background-size: 43% 100%, 382px 142px;
    background-position: top right, left bottom;
}
#block01 .head {
    background: url(../hocvan3.png) no-repeat;
    background-position: left center;
}

#block02 .head {
    background: url(../kinhnghiem3.png) no-repeat;
    background-position: left center;
}

#block03 .head {
    background: url(../hoatdong3.png) no-repeat;
    background-position: left center;
}

#block04 .head {
    background: url(../duan3.png) no-repeat;
    background-position: left center;
}

#block05 .head {
    background: url(../them3.png) no-repeat;
    background-position: left center;
}

.bar-exp {
    background: url(../skill3.png) no-repeat;
}

.bar-exp div {
    background: url(../kn3.png) no-repeat;
    background-position: right;
}

#cv-content .head #cvo-experience-blocktitle {
    color: #7a9fb2;
    background: url(../title3.png) no-repeat;
    background-size: 100% 4%;
    background-position: left bottom;
}

.cum, .ski {
    background: url(../title3-1.png) no-repeat;
    background-position: center bottom;
}

div#cv-boxtitle {
    color: #7a9fb2;
}

/* .footer {
    background: url(../page3.png) no-repeat;
} */