#cv-top {
    background: url(../top2.png) no-repeat;
}

.fake_img {
    background: url(../fake2.png) no-repeat;
    background-size: 100% 100%;
}

.ic1 {
    background: url(../date2.png) no-repeat;
    background-position: 1px 1px;
}

.ic2 {
    background: url(../sex2.png) no-repeat;
    background-position: 1px 1px;
}

.ic3 {
    background: url(../phone2.png) no-repeat;
    background-position: 1px 1px;
}

.ic4 {
    background: url(../email2.png) no-repeat;
    background-position: 1px 1px;
}

.ic5 {
    background: url(../add2.png) no-repeat;
    background-position: 1px 1px;
}

#cv-top h2 {
    background: url(../job2.png) no-repeat;
    background-size: 100% 100%;
    color: #e29f91;
}

.all {
    background: url(../all2.png) no-repeat, url(../page2.png) no-repeat;
    background-size: 43% 100%, 382px 142px;
    background-position: top right, left bottom;
}

#block01 .head {
    background: url(../hocvan2.png) no-repeat;
    background-position: left center;
}

#block02 .head {
    background: url(../kinhnghiem2.png) no-repeat;
    background-position: left center;
}

#block03 .head {
    background: url(../hoatdong2.png) no-repeat;
    background-position: left center;
}

#block04 .head {
    background: url(../duan2.png) no-repeat;
    background-position: left center;
}

#block05 .head {
    background: url(../them2.png) no-repeat;
    background-position: left center;
}

.bar-exp {
    background: url(../skill2.png) no-repeat;
}

.bar-exp div {
    background: url(../kn2.png) no-repeat;
    background-position: right;
}

#cv-content .head #cvo-experience-blocktitle {
    color: #e29f91;
    background: url(../title2.png) no-repeat;
    background-size: 100% 4%;
    background-position: left bottom;
}

.cum, .ski {
    background: url(../title2-1.png) no-repeat;
    background-position: center bottom;
}

div#cv-boxtitle {
    color: #e29f91;
}

/* .footer {
    background: url(../page2.png) no-repeat;
} */