#form-cv {
    width: 100%;
    float: left;
    position: relative;
    font-size: 14px;
    line-height: 24px;
    /* color:#000;	 */
    /* background:url(main.png)no-repeat; */
    background-size: 100% 100%;
}

.watermark {
    float: left;
    width: 100%;
    height: 22px;
    color: #999;
    text-align: right;
    padding-right: 22px;
    font-size: 15px;
    font-family: Courier;
    background: #fff;
}

#form-cv p {
    margin-top: 0;
    margin-bottom: 6px
}

#sortable .cvo-block {
    margin-bottom: 30px;
    margin-top: 8px;
}

#cv-top {
    width: 100%;
    height: 390px;
    background-image: url(hd1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}

#cvo-profile {
    display: block;
}

#cv-content {
    width: 48%;
    float: right;
    position: relative;
    margin-top: -265px;
}

#cv-main {
    width: 50%;
    /* min-height: 1100px; */
    float: left;
    position: relative;
}

div#prof {
    float: right;
    width: 100%;
}

.all {
    float: left;
    clear: both;
    width: 100%;
    background: url(main1.png)no-repeat;
    background-size: 100% 100%;
}

.box-01 {
    width: 50%;
    margin-top: 20px;
}

#cv-right .ir {
    padding: 30px 10px 0px 10px;
}

p.skill-name {
    width: 100%;
}

p.skill-name input {
    color: #fff!important;
}


/*
fuck
#cv-right .cvo-block span{
	color: #ccc;
}*/

#cv-right .ctbx {
    padding: 0;
    margin: 0;
    border: 0;
}

.skill {
    margin-top: 15px
}

#cv-top h1 {
    font-size: 40px;
    padding: 15px 5px 5px 5px;
    line-height: normal;
    text-transform: uppercase;
    text-align: right;
    margin-bottom: 0px;
    margin-left: 0px;
    color: #333333;
    margin-top: 0;
    font-weight: bold
}

#cv-top h1 span {
    padding: 0px 10px;
}

#cv-top h2 {
    font-size: 25px;
    margin-top: 0;
    font-weight: bold;
    text-align: right;
    color: #96905e;
}

.box-01 p {
    overflow: hidden;
}

#cv-content p {
    margin-bottom: 5px
}

#cv-content .ir {
    margin: 10px;
}

#cv-content .ir a {
    color: #2ebb2f
}

#cv-right h3,
#cv-content .head {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: left;
    margin: 0 0 15px;
    line-height: 24px;
    /* padding:5px 10px;     */
}

#cv-right h3 {
    color: #96905e;
    border-radius: 6px;
}

#cv-content .head {
    border-radius: 6px;
    color: #96905e;
    width: 85%
}

#cv-content .head div {}

#cv-right .h3 {
    height: 45px;
    text-align: center;
    width: 100%;
}

#cv-content .head {
    font-size: 20px;
    text-align: left;
}

#cv-content h3 {
    font-size: 15px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: unset;
    color: none;
}

#form-cv #cv-content .cvo-block {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
}

.ctbx {
    padding-left: 10px;
    padding-right: 10px
}

#cv-content span {
    display: inline-block;
    z-index: 9999;
}

#cv-right .h3:first-child {
    margin-top: 0
}

.ctbx {
    margin-bottom: 20px;
    position: relative;
}

.ctbx:hover {
    box-shadow: 0 0 1px #999;
}

.ctbx:hover .fieldgroup_controls {
    display: block;
}

[cvo-form-field] {
    cursor: text;
}

#cvo-profile-avatar-wraper {
    display: table;
    width: 50%;
    margin: auto;
    margin-left: 190px;
    float: left;
    margin-top: 50px;
}

#cvo-profile-avatar-wraper img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    float: none;
    display: inline-block;
}

.box-dm {
    width: 200px;
    height: 200px;
    padding: 0;
    margin: 0;
    float: left;
    display: table;
    background: url(avata1.png)no-repeat;
    background-size: 100% 100%;
    clear: both;
    z-index: 1;
    margin-top: -200px;
    margin-left: 190px;
    position: absolute;
    top: -500px;
}

#box-hvt {
    float: left;
    width: 100%;
}

#line-seperate {
    height: 25px;
}

.bar-exp div {
    float: left;
    height: 6px;
    background: #96905e
}

.bar-exp {
    width: 90%;
    background: #cccccc;
    height: 6px;
    margin-top: 8px;
    margin-right: 35px;
    margin-bottom: 0;
}

.bar-value-exp {
    width: 50%
}

.icoweb label {
    display: block;
    color: #fff;
}


/*#sortable .icoweb{	
	float: left;
	padding-left: 0;
	margin-bottom: 0
}*/

#cv-right .block {
    position: relative !important;
}

.ic .icoweb {
    width: 85%;
    text-align: left;
    padding-left: 5px;
    float: left;
}

.ic {
    width: 100%;
    float: right;
}

#prof span {
    width: 260px;
}

#prof [contentEditable=true] {
    width: 100%;
    float: left;
}

#prof .icoweb,
#prof .icoweb span {
    height: auto;
    float: left;
    /* text-align: right; */
}

#form-cv .icf {
    float: left;
    line-height: 22px;
    font-size: 14px;
    margin-bottom: 0;
    width: 22px;
}

.ic .icoweb {}

.icf .fa {
    font-size: 14px;
    color: #000;
    font-weight: normal;
    margin-top: 0;
    float: left
}

.exp-content {
    width: 340px;
}

#box02 span,
#box032 span,
#box04 span,
#box05 span,
#box06 span,
#box07 span {
    width: 347px;
    /* float: right; */
}