#sortable .cvo-block .box-content {
  border: solid 2px #cabfab;
}

#form-cv .cv_page.height_page {
  border: solid 10px #cabfab;
}

#box05 .box-content.err_cv_content {
    border: solid 2px #cabfab;
}

#box06 .box-content.err_cv_content {
    border: solid 2px #cabfab;
}

#box07 .box-content.err_cv_content {
    border: solid 2px #cabfab;
}

#box04 .box-content.err_cv_content {
    border: solid 2px #cabfab;
}

#sortable #box02 .box-content {
    background: url(../muctieu3.png) no-repeat;
    background-size: 100% 100%;
}

.chu {
  background: url(../chu3.png) no-repeat;
  background-size: 100% 100%;
}

#box03 .exp {
  border: solid 2px #cabfab;
}

.cv_page height_page {
    border: solid 8px #cabfab;
}

.bar-exp div {
  background: url(../kn3.png) no-repeat;
  background-size: 248.5px 11px;
}

div#cv-boxtitle {
  background-color: #dfd8c8;
}

#cv-content .cvo-block .head {
  background: url(../bg-ct3.png) no-repeat;
  background-size: 100% 100%;
}

.fake_img {
  background: url(../fake3.png) no-repeat;
}

#box03 .ski {
    background: url(../cv-boxtitle1-1.png) no-repeat, url(../main3-1.png) no-repeat;
    background-size: 88% 1.5px, 100% 100%;
    background-position: 20px center,0px 100%;
}

#box04 .cum {background: url(../cv-boxtitle1-1.png) no-repeat, url(../main3-1.png) no-repeat;background-size: 88% 1.5px, 100% 100%;background-position: 20px center,0px 100%;}

#box05 .cum {background: url(../cv-boxtitle1-1.png) no-repeat, url(../main3-1.png) no-repeat;background-size: 88% 1.5px, 100% 100%;background-position: 20px center,0px 100%;}

#box06 .cum {
    background: url(../cv-boxtitle1-1.png) no-repeat, url(../main3-1.png) no-repeat;
    background-size: 88% 1.5px, 100% 100%;
    background-position: 20px center,0px 100%;
}

#box07 .cum {
    background: url(../cv-boxtitle1-1.png) no-repeat, url(../main3-1.png) no-repeat;
    background-size: 88% 1.5px, 100% 100%;
    background-position: 20px center,0px 100%;
}


.ic1 .icf {
  background: url(../date3.png) no-repeat;
}

.ic2 .icf {
  background: url(../sex3.png) no-repeat;
}

.ic3 .icf {
  background: url(../phone3.png) no-repeat;
}

.ic4 .icf {
  background: url(../mail3.png) no-repeat;
}

.ic5 .icf {
  background: url(../add3.png) no-repeat;
}