/* 2 */

:root {
  --page: url(page2.png) no-repeat;
  --fake: url(fake2.png) no-repeat;
  --skill: url(skill2.png) no-repeat;
  --hocvan: url(hocvan2.png) no-repeat;
  --kinhnghiem: url(kinhnghiem2.png) no-repeat;
  --hoatdong: url(hoatdong2.png) no-repeat;
  --duan: url(duan2.png) no-repeat;
  --TTthem: url(TTthem2.png) no-repeat;
  --name: url(name2.png) no-repeat;
  --job: url(job2.png) no-repeat;
  --tt: url(tt-t2.png) no-repeat, url(tt-b2.png) no-repeat, url(tt-f2.png) no-repeat;
  --title-m: url(title-m2.png) no-repeat;
  --title-c: url(title-c2.png) no-repeat;
}