#cv-top {
 background: url(hd1.png)no-repeat;
 background-position: left;
 background-size: 100% 100%;
}
.all{
 background: url(main1.png)no-repeat;
 background-position: left;
 background-size: 100% 100%;
}
.bar-exp div {
 background: #1a272d;
 margin-top: 0px;
}
 .bar-exp {

   background: #d5fbc9;
 }
.ski {
 background:url(t1.png)no-repeat;
 background-position: left bottom;
}
.cum {
 line-height: 35px;
 background:url(t1.png)no-repeat;
 background-position: left bottom;
}
#block02{
  background: url(bg1.png)no-repeat right;
}
.footer{
  background: url(ft1.png)no-repeat;
  background-size: 100% 100%;
}