#form-cv{
	width: 100%;
	float: left;
	position: relative;
	font-size: 14px;
	line-height: 25px;
	color:#4d4b48;
}
#form-cv p{
	margin-top: 0;
	margin-bottom: 6px
}
#sortable .cvo-block{
	margin-bottom: 10px;
	margin-top: 5px;	
}

#sortable .icoweb i.fa{
	float: left;
}
#cv-main{
	display: table;
	width: 100%;
	float: left;
}
.cv_tt{
	float: left;
	width: 100%;
	background-color: #f4e5c7;
}
#prof [contentEditable=true] {
    width: 200px;
    display: inline-block;
}
span#cv-profile-address {
    width: 315px;
    display: inline-block;
}

#cvo-profile{	
	display: block;
}
#cv-content{
	width: 58.99%;
	float: right;
	position: relative;	
	padding-top: 15px;	
	background: #f4e5c7;
}
#cv-right{
	width: 41%;
	float: left;	
	position: relative;	
	background:#f4e5c7;
}
#cv-right .ir{
	padding: 10px 0px 0px 10px;
}
p.skill-name input{
	color: #070000!important;
}

#cv-right .ctbx {
	padding: 0;
	margin:0;
	border:0;
}
.box-info{
    float: left;
    width: 63%;
    margin: 0px;
    padding: 0px;
    padding-top: 15px;
    font-size: 14px;
    padding-left: 2%
}
.bg_ic{
	background-image: url(arr.png);
	background-repeat: no-repeat;
	background-position: left center;	
	height: 20px;
	width: 100%;
	float: left;
}

#cv-top h1{
	font-size: 32px;
    text-transform: uppercase;
    margin-bottom: 6px;    
    margin-left: 0px;
    color: #323e3a;
    font-weight: bold;
    margin-top: 0;
    line-height: 34px;
}

#box-hvt{
	padding-left: 18px;
}

#cv-top h1 span{	
}

#cv-top h2{
	font-size: 18px;
    margin-bottom: 0;
    margin-top: 5px;    
    color: #4d4b48;
    border: dashed 2px #4d4b48;
    padding: 7px;
    text-transform: uppercase;
    float: left;
    width: 94%;
}


.bg_w{
	float: left;
	width: 100%;
	height: 23px;
	}
.box-01 p{		
    overflow: hidden;
}
.box-01{
	background-color: #edd7b2;
	background-image: url(line2.png);
	padding: 13px;
}
.box_bg2{
	background-color: #edd7b2;
	padding: 5px;
}

#cv-content .ir{
	margin:0 10px;
}
#cv-content p{
	margin-bottom: 5px;
	color: #58585a;
	font-weight: bold;
}
#cv-content .ir a{
	color: #2ebb2f
}
#cv-right h3, #cv-content .head{
	font-size: 18px;    
    margin-top: 0;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 5px;
    color: #58585a;
    background-color: #edd7b2;
}

#cv-content .head{
	height: 30px;
	line-height: 30px;
}


#cv-right .h3{
	height: 45px;
	text-align: center;
	width: 100%;
}

#cv-right .h3 span{
	margin: 3px 0px;
	color: #000000;
	line-height: 43px;
}
#cv-content h3{	
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 0px;
}

#cv-content .cvo-block {    
	padding-left: 15px;
}
.ctbx{
	padding-left: 10px;
	padding-right: 10px
}

#cv-content span{
	display: inline-block;	
	z-index: 9999;
}

#cv-right .h3:first-child{
	margin-top: 0
}
.ctbx{
	margin-bottom: 10px;
	position: relative;
}
.ctbx .r5 .h3{
	text-transform: uppercase;
}
.ctbx:hover {
	box-shadow: 0 0 1px #999;
}
.ctbx:hover .fieldgroup_controls{
	display: block;
}
[cvo-form-field] {
    cursor: text;
}
#box-hvt{
	float: left;
	width:100%;
	padding: 15px 0px 7px;
	padding-left: 18px;
}
#cvo-profile-avatar-wraper{
    float: right;   
    width: 34% 
}
#cvo-profile-avatar-wraper .wimg{
	width:170px;    	
    border: solid 4px #f9ab2c;
    border-radius: 5px;
}
#cvo-profile-avatar-wraper img{
	width: 170px;  	
  	height: 170px;
  	float:none;  
}


#line-seperate {
    height: 25px;    
}
.bar-exp div {
    float: left;
    height: 8px;
    background: #f9ab2c;
    
}
.bar-exp {
  	width: 100%;
  	background: #5e5d5a;
  	height: 8px;
  	float: right;
  	margin-bottom: 12px;
}      
.icoweb label{
	display: block;
	color:#627e88;
}
#cv-right .icoweb span{
	color: #070000;
}
.icoweb{	
	float: left;
	padding-left: 2px;
	margin-bottom: 0
}
.ic{
	float: left;width: 100%;
	margin-bottom: 8px;
	line-height: 22px;
}

.iw2{
	width: 50%;
}

#form-cv .icf{
	float: left;		
	line-height: 22px;
	margin-bottom: 0;
	font-size:12px;
	border-radius: 5px;
	background: #4d4b48;
	width: 22px;	
	text-align: center;
}
#form-cv .ic .icoweb{
	float: left;
	margin-bottom: 0;
	padding-left: 7px;
	font-weight: bold;
	text-align: left;
}
.icf .fa{
	font-size: 12px;	
	color:#f2d8a7;	
	margin-top: 0;	
	float: none
}

.bar-value-exp input[type="text"]{
	color: #000;
}
.watermark {
    float: left;
    width: 100%;
    /* height: 22px; */
    color: #999;
    text-align: right;
    padding-right: 22px;
    font-size: 15px;
    font-family: Courier;
}