div#cvo-profile {
    background: url(../name2.png) no-repeat;
    background-position: 485px 0px;
}

.cum,
.ski,
#cv-content .head {
    color: #f1712b;
}

.chu h1 {
    background: url(../dt_name2.png) no-repeat;
    background-position: center bottom;
}

.cum, .ski {
    background: url(../left2.png) no-repeat;
    background-size: 100% 100%;
    background-position: left center;
}

#cv-content .head {
    background: url(../right2.png) no-repeat;
    background-size: 100% 100%;
    background-position: left center;
}

#cv-right .cvo-block p.skill-name {
    background: url(../dot2.png) no-repeat;
    background-position: 0% 50%;
}

.exp-date {
    background: url(../time2.png) no-repeat;
    background-position: left bottom;
}

.bar-exp div {
    background: url(../kn2.png) no-repeat;
    background-position: right;
}

.ic1 .icf {
    background: url(../date2.png) no-repeat;
    background-position: 0% 50%;
}

.ic2 .icf {
    background: url(../sex2.png) no-repeat;
    background-position: 0% 50%;
}

.ic3 .icf {
    background: url(../phone2.png) no-repeat;
    background-position: 0% 50%;
}

.ic4 .icf {
    background: url(../email2.png) no-repeat;
    background-position: 0% 50%;
}

.ic5 .icf {
    background: url(../add2.png) no-repeat;
    background-position: 0% 50%;
}

.fake_img {
    background: url(../fake2.png) no-repeat;
}