#cv-top {
    width: 100%;
    height: 340px;
    background-image: url(hd2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}
.all{
  float: left;
  clear: both;
  background: url(main1.png)no-repeat;
  background-size: 100% 100%;
  width: 100%;
  /*padding-bottom: 50px;*/
}
.footer {
    float: left;
    height: 70px;
    background: url(ft2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
}
#cv-top h1 {
    padding: 0;
    margin: 0;
    font-size: 40px;
    font-family: "Roboto";
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #f26c4f;
    font-weight: bold;
    text-align: left;
    width: 100%;
    float: left;
    margin-left: 39px;
    margin-top: 30px;
}
#box01 #cv-boxtitle {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #f26c4f;
    float: left;
}
#cv-content .head #cvo-experience-blocktitle {
    color: #f26c4f;
    text-align: left;
    float: left;
    padding-top: 10px;
}
.cumicc2 {
    width: 7%;
    height: 35px;
    float: left;
    background: url(ic2_06.png);
    background-position: left;
    background-repeat: no-repeat;
    padding-right: 20px;
    z-index: 1;
}
.cumicc3 {
    width: 7%;
    height: 35px;
    float: left;
    background: url(ic2_06.png);
    background-position: left;
    background-repeat: no-repeat;
    padding-right: 20px;
    z-index: 1;
}
.cumicc4 {
    width: 7%;
    height: 35px;
    float: left;
    background: url(ic2_06.png);
    background-position: left;
    background-repeat: no-repeat;
    padding-right: 20px;
    z-index: 1;
}
.cumicc5 {
     width: 7%;
    height: 35px;
    float: left;
    background: url(ic2_06.png);
    background-position: left;
    background-repeat: no-repeat;
    padding-right: 20px;
    z-index: 1;
}
.cumicc6 {
     width: 7%;
    height: 35px;
    float: left;
    background: url(ic2_06.png);
    background-position: left;
    background-repeat: no-repeat;
    padding-right: 20px;
    z-index: 1;
}
.cumicc7 {
     width: 7%;
    height: 35px;
    float: left;
    background: url(ic2_06.png);
    background-position: left;
    background-repeat: no-repeat;
    padding-right: 20px;
    z-index: 1;
}
#box01 .cumicc1{
   width: 40px;
    height: 40px;
    float: left;
    background: url(ic2_03.png);
    background-position: center;
    background-repeat: no-repeat;
    margin-left: -40px;
    z-index: 1;
}
.icright1 {
  width: 10%;
  height: 40px;
  float: left;
     background: url(ic2_09.png);
  background-position: 5%;
  background-repeat: no-repeat;
  margin-left: 18px;
  z-index: 1;
}
.icright2 {
  width: 10%;
  height: 40px;
  float: left;
  background: url(ic2_12.png);
  background-position: 5%;
  background-repeat: no-repeat;
  margin-left: 18px;
  z-index: 1;
}
.icright3 {
  width: 40px;
  height: 40px;
  float: left;
  background: url(ic2_14.png);
   background-position: 5%;
  background-repeat: no-repeat;
  margin-left: 18px;
  z-index: 1;
}
.icright4 {
  width: 10%;
  height: 40px;
  float: left;
  background: url(ic2_16.png);
  background-position: 5%;
  background-repeat: no-repeat;
  margin-left: 18px;
  z-index: 1;
}
.icright5 {
  width: 10%;
  height: 40px;
  float: left;
  background: url(ic2_20.png);
  background-position: 5%;
  background-repeat: no-repeat;
  margin-left: 18px;
  z-index: 1;
}
.box-dm {
padding: 0;
    margin: 0;
    float: left;
    display: table;
    background: url(avata2.png)no-repeat;
    background-size: 100% 100%;
    clear: both;
    z-index: 1;
    top: -900px;
    position: absolute;
  width: 295px;
    height: 290px;
    margin-top: -290px;
    margin-left: 34px;

}
#cvo-profile-avatar{
    width: 283px;
    height: 285px;
}