#box-hvt{
	height: 200px;
	/* padding-top: 40px; */
	background-repeat: no-repeat;
	background-image: url(headerc.png);
	background-size: 100% auto;
	text-align: left;
    /* background: #fff; */
    /* border-bottom: 48px solid #eddab8; */
    /* padding: 40px 0 10px 30px; */
    clear: both;
    width: 100%;
}
#cv-right {
	padding: 0px 7px;
	background-color: #eebd4d;
}
#cv-right h3{
	margin-bottom: 10px;
	border-bottom: 1px solid #444;
	width: 100%;
    color: #444;
	}
	.box-content {
		padding-bottom: 5px;
	    color: rgb(0, 0, 0);
	}
	.icoweb span {
		padding-left: 5px;
	 color: #fff;
	}
	.ctbx .skill-name {
	    color: rgb(0, 0, 0);
	}
	.bar-exp div {
	    float: left;
	    height: 8px;
	    background:#dcc9a8;
	}
	#form-cv .icf {
	    float: left;
	    line-height: 22px;
	    font-size: 12px;
	    margin-bottom: 0;
	    background: #fff;
	    border-radius: 5px;
	    width: 22px;
	    text-align: center;
	}
	#sortable .icoweb {
    color: #fff;
    height: 30px;
    float: left;
    padding-left: 8px;
}
#form-cv {
    padding-bottom: 80px;
    background-image: url(footerc.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: bottom;
    width: 100%;
    float: left;
    position: relative;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    /* background: #fcf8e0; */
}
.icf .fa {
    font-size: 12px;
    color: #eebd4d;
    font-weight: normal;
    margin-top: 0;
    float: none;
}
.bar-exp {
  	background: #f7f7f7;
  	height: 8px;
  	margin-top: 0;
  	padding:1px;
  	width: 99%;
  	margin-bottom: 12px;
}
#form-cv #box-hvt h2 {
    font-size: 15px;
    font-weight: bold;
    color: #444;
    margin: 0;
}
