#cv-top {
    background-image: url(hd3.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.box-dm {
    background: url(fake3.png)no-repeat;
    background-size: 100% 100%;
}
.icf .fa{
    color: #f49c73;
}
.all {
    background-image: url(main3.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}
.exp-fake {
    background: url(ski3.png)no-repeat;
    background-size: 100% 100%;
}
.bar-exp div{
    background: #f49c73;
}
.footer {
    background: #f9eae4;
}
.watermark {
  background: #f9eae5;
}
div#box02{
    background: url(career3.png)no-repeat;
    background-size: 100% 100%;
    background-position: left;
  }
  div#box03{
    background: url(skill3.png)no-repeat;
    background-size: 100% 100%;
    background-position: left;
  }
  div#box04{
    background: url(certificate3.png)no-repeat;
    background-size: 100% 100%;
    background-position: left;
  }
  div#box05{
    background: url(prize3.png)no-repeat;
    background-size: 100% 100%;
    background-position: left;
  }
  div#box06{
    background: url(reference3.png)no-repeat;
    background-size: 100% 100%;
    background-position: left;
  }
  div#block01{
    background: url(education3.png)no-repeat;
    background-size: 100% 100%;
    background-position: left;
  }
  div#block02{
    background: url(job3.png)no-repeat;
    background-size: 100% 100%;
    background-position: left;
  }
  div#block03{
    background: url(work3.png)no-repeat;
    background-size: 100% 100%;
    background-position: left;
  }
  div#block04{
    background: url(project3.png)no-repeat;
    background-size: 100% 100%;
    background-position: left;
  }
  div#block05{
    background: url(more3.png)no-repeat;
    background-size: 100% 100%;
    background-position: left;
  }