    #cv-top {
        width: 100%;
        height: 280px;
        background-image: url(hd2.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        /* margin-bottom: 20px; */
        position: relative;
    }
    
    div#cv-boxtitle {
        color: #267f84;
    }
    
    #cvo-profile-avatar-wraper .wimg {
        border: 3px solid #267f84;
    }
    
    .footer {
        background: url(ft2.png)no-repeat
    }
    
    #cv-top h1 {
        color: #267f84;
    }
    
    #cv-top h2 {
        color: #267f84;
    }
    
    #cv-content h3 {
        color: #267f84;
    }
    
    .bar-exp div {
        background: #267f84;
    }
    
    .icf .fa {
        color: #267f84;
    }
    
    #cv-content .head {
        border: 2px solid #267f84;
    }
    
    #cv-right h3 {
        border: 2px solid #267f84;
    }
    
    #cv-content .head #cvo-experience-blocktitle {
        color: #267f84;
    }
    
    .cumic2 {
        background: url(icon1_a.png)no-repeat;
        float: right;
        background-position: right center;
    }
    
    .skic {
        background: url(icon2_a.png)no-repeat;
        float: right;
        background-position: right center;
    }
    
    .cumic4 {
        background: url(icon3_a.png)no-repeat;
        float: right;
        background-position: right center;
    }
    
    .cumic5 {
        background: url(icon4_a.png)no-repeat;
        float: right;
        background-position: right center;
    }
    
    .cumic6 {
        background: url(icon5_a.png)no-repeat;
        float: right;
        background-position: right center;
    }
    
    .cumic7 {
        background: url(icon6_a.png)no-repeat;
        float: right;
        background-position: right center;
    }
    
    .icon1 {
        background: url(icon7_a.png)no-repeat;
        float: right;
        background-position: right center;
    }
    
    .icon2 {
        background: url(icon8_a.png)no-repeat;
        float: right;
        background-position: right center;
    }
    
    .icon3 {
        background: url(icon9_a.png)no-repeat;
        float: right;
        background-position: right center;
    }
    
    .icon4 {
        background: url(icon10_a.png)no-repeat;
        float: right;
        background-position: right center;
    }
    
    .icon5 {
        background: url(icon11_a.png)no-repeat;
        float: right;
        background-position: right center;
    }
    
    #cv-content {
        background: #97dbc6;
    }