/* Xanh nền trời */
.text-i {
	color: #0065d1!important;
}
.bar-exp span,.bg {
	background-color: #0065d1!important;
}
.br {
	border-color: #0065d1!important;
}

.bg-light {
	background-color: #b0cae8!important;
}