/* Xanh lá cây */
.text-i {
	color: #28a745!important;
}
.bar-exp span,.bg {
	background-color: #28a745!important;
}
.br {
	border-color: #28a745!important;
}

.bg-light {
	background-color: #a8e4b5!important;
}