/* Màu tím */
.text-i {
	color: #56008a!important;
}
.bar-exp span,.bg {
	background-color: #56008a!important;
}
.br {
	border-color: #56008a!important;
}

.bg-light {
	background-color: #bd84e0!important;
}