/* Màu đỏ */
.text-i {
	color: #ea0404!important;
}
.bar-exp span,.bg {
	background-color: #ea0404!important;
}
.br {
	border-color: #ea0404!important;
}

.bg-light {
	background-color: #ea9696!important;
}