/* Màu vàng */
.text-i {
	color: #f6c500!important;
}
.bar-exp span,.bg {
	background-color: #f6c500!important;
}
.br {
	border-color: #f6c500!important;
}

.bg-light {
	background-color: #eed778!important;
}