#form-cv{
	width: 100%;
	float: left;
	font-size: 14px;
	line-height: 24px;
	color:#3c3c3c;	
	padding: 0px;
	margin: 0px;

}
.cv_tt{
    float: left;
    width: 100%;
}
#cv-main{
	float: left;
	margin: 0px;
	padding: 0px;
    background: #fcfcfc;
}
#cv-content{
    width: 48%;
    float: left;
    padding: 0px;
    margin: 0px;
    padding-left: 1%;
    padding-right: 2%;
}
#cv-right{
	width: 46.999%;
	float: left;	
	padding: 0px;
    margin: 0px;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 10px;
}
#cv-top{
    float: left;
    width: 100%;
    padding-bottom: 20px;
}

#sort_block,
.cv-right .ir,
#sortable{
	float: left;	
	padding: 0px;
    margin: 0px;
    width: 100%;
}
#cv-content .cvo-block,
#cv-right .block{
    margin-top: 0px;
    float: left;
    width: 100%;
}
#cv-content .head,
#cv-right h3,
#cv-right .cvo-block p{
	float: left;	
	padding: 0px;
    margin: 0px;
    width: 100%;
}
#cv-content #experience-table{
	float: left;	
	padding: 0px;
    margin: 0px;
    padding: 0px 5px;
}
#cv-content #experience-table .ctbx{
	float: left;	
	padding: 0px;
    margin: 0px;
    width: 100%;
}
#cv-content h3{
	float: left;	
	padding: 0px;
    margin: 0px;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
    width: 98%;
    background-color: #eabd68;
    border-radius: 3px;
    color: #fff;
}
#cv-content .h3{
	float: left;	
	padding: 0px;
    margin: 0px;
    width: 100%;	
}
#cv-content .exp-content{
	float: left;	
	padding: 4px;
    margin: 0px;	
}
div{
	margin: 0px;
	padding: 0px;
}
.ctbx{
    position: relative;
}
.ctbx:hover {
	box-shadow: 0 0 1px #999;
}
.ctbx:hover .fieldgroup_controls{
	display: block;
}
.bar-exp {
    height: 8px;
    margin-top: 8px;
    margin-bottom: 0px;
}
.bar-exp{
    height: 8px;
    float: left;
    margin: 8px 0px;
}
.bar-exp div {
    float: left;
    height: 8px;
    background: #e6c371;
}
#cv-title {
    padding: 5px 0;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    margin-bottom: 8px;
    font-size: 20px
}
.exp .ctbx{
    display: table;
    width:100%;
}
.edit-content .bar-value-exp {
    display: block;
}
.bar-value-exp {
    display: none;
}
.bar-exp{
    width: 100%;
    background: #555656;
    height: 8px;    
    float: left;
    margin-bottom: 12px
}
.bar-value-exp{
    width:100%;
    float: right;
}
p.skill-name input{
    border-bottom: 0;
    font-size: 14px;
    border:0
}
.bar-value-exp input[type="text"]{
    width: 100%;
    padding: 5px;
    border-radius: 4px;
    color: #000;
}
#cv-right .h3, #cv-content .head{
    background: none;
    text-align: left;
    color: #3c3c3c;
    border-radius: 5px;
}

#cv-content .head{
    height: 38px;
    line-height: 38px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 0px;
    padding-left: 5px;
}
#cv-content h3{
    font-size: 14px;
}
#page-cv{
    max-width: 790px
}
.ava{
    float: left;
    width: 20%;
    padding:30px 40% 0px;
    display: none;
}
#cvo-profile-avatar-wraper{
    float: left;
    width: 100%;
    border: solid 4px #ff824c; 
    border-radius: 5px;
    display: none;
}
#box-hvt{
    float: left;
    width: 90%;
    padding: 0px;
    height: 235px;
    background-image: url('bg.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-left: 10%;
}

#box-hvt h1{
    color: #ffffb3;
    font-size: 34px;
        padding: 0px;
    line-height: 36px;
    text-transform: uppercase;
    margin: 0px;
    float: left;
    width: 100%;
    letter-spacing: 4px;
    font-weight: bold;
}

#box-hvt h2{
    color: #ffffb3;
    font-size: 16px;
    line-height: 26px;
    font-weight: bold;
    width: 100%;
    padding: 0px;
    margin: 0px;
    padding-top: 145px;

}
#cv-right .block{
    margin-top: 0px;
    margin-bottom: 20px;
    float: left;
    width: 100%;
}
#cv-right .box-contact{
	display: none;
}
#cv-right .block h3{
    font-size: 20px;
    line-height: 24px;
    padding: 0px;
    margin: 0px;
    font-weight: bold;
    text-align: right;
    border-left: solid 1px #eabd68;
    border-bottom: solid 1px #eabd68;
}

#cv-content h3 .exp-date, #cv-content h3 .exp-title {
    float: left;
    width: 100%;
}

#cv-right .cvo-block p{
    border-top:0px;
    padding: 0px;
    margin: 0px;
    margin-top: 10px;
}
#cv-right .cvo-block p.skill-name{
    border: none;
}
#cv-right {
    color: #374d59;
}
#cv-right p {
    text-align: justify;
}
#cv-right .icoweb i.fa{
    margin-top: 6px;
    font-size: 15px;
    width: 25px;
    color: #fff;
}

.box-contact p.cvi-map-marker{
  width: 50%;  
}

#sortable .box-contact p.icoweb{
    margin-bottom: 7px;
}

.box-contact p.cvi-envelope-square{
  width: 50%;  
}

.box-info .box-contact{
    float: left;
    width: 100%;
    box-sizing: border-box;
    margin-top: 10px;
}
.box-info{
    float: left;
    width: 90%;
    margin: 0px;
    padding: 0 5%;
}
.cv_body{
    float: left;
    width: 100%;
}
.cv_bg{
    float: left;
    width: 92%;
    padding: 0px 3%;
}
#form-cv .clr, #form-cv .cl{
    display: none;
}

.ic {
    float: right;
    width: 32%;
    margin-bottom: 8px;
    line-height: 22px;
    color: #fff;
    padding: 7px;
    border-radius: 3px;
}
#form-cv .ic .icoweb span{
    width: 100%;
}

.iw2{
    width: 57%;
    float: left;
}

.ic .icoweb{
    width: 190px;
}
.iw2 .icoweb{
    width: 370px;
}

#form-cv .box-contact .icf {
    float: left;
    line-height: 22px;
    margin: 0px;
    margin-bottom: 0;
    font-size: 12px;
    border-radius: 5px;
    width: 22px;
    text-align: center;
    border: solid 1px #fff;
}

#form-cv .ic .icoweb {
    float: left;
    margin-bottom: 0;
    padding-left: 7px;
    font-weight: bold;
    text-align: left;
    margin-top: 0px;

}

.icf .fa {
    font-size: 12px;
    color: #fff;
    margin-top: 0;
    float: none;
}

.icc1{
    background: #eabd68;
}
.icc2{
    background: #68717a;
}
.icc3{
    background: #c4b39f;
}
.icc4{
    background: #327482;
}
.exp-content,.exp-subtitle,span.exp-title {
    width: 300px;
}
span.box-content {
    width: 350px;
}
#cv-profile-birthday::before{
    color: #fff;
}
#cv-profile-sex::before{
    color: #fff;
}
#cv-profile-phone::before{
    color: #fff;
}
#cv-profile-email::before{
    color: #fff;
}
#cv-profile-address::before{
    color: #fff;
}
#cv-profile-face::before{
    color: #fff;
}
.watermark {
    float: left;
    width: 100%;
    height: 22px;
    color: #999;
    text-align: right;
    padding-right: 22px;
    font-size: 15px;
    font-family: Courier;
}