.watermark {
    background: url(../foot2-1.png) no-repeat;
    background-position: 0px 100%;
}

#cv-top {
    background: url(../top2-1.png) no-repeat;
    border-bottom: solid 10px #ffb400;
}


.bar-exp div {
    background: url(../kn2-1.png) no-repeat;
}
