.img-footer {
    background: #5e9d6e;
}

#form-cv .icf1 {
    background-color: #5e9d6e;
}

#form-cv .icf2 {
    background-color: #5e9d6e;
}

#form-cv .icf3 {
    background-color: #5e9d6e;
}

#form-cv .icf4 {
    background-color: #5e9d6e;
}

#form-cv .icf5 {
    background-color: #5e9d6e;
}

.cumicc2 {
    background-color: #5e9d6e;
}

.cumicc3 {
    background-color: #5e9d6e;
}

.cumicc4 {
    background-color: #5e9d6e;
}

.cumicc5 {
    background-color: #5e9d6e;
}

.cumicc6 {
    background-color: #5e9d6e;
}

.cumicc7 {
    background-color: #5e9d6e;
}