.img-footer {
  background: #7bc9e3;
}

#form-cv .icf1 {
  background-color: #7bc9e3;
}

#form-cv .icf2 {
  background-color: #7bc9e3;
}

#form-cv .icf3 {
  background-color: #7bc9e3;
}

#form-cv .icf4 {
  background-color: #7bc9e3;
}

#form-cv .icf5 {
  background-color: #7bc9e3;
}

.cumicc2 {
  background-color: #7bc9e3;
}

.cumicc3 {
  background-color: #7bc9e3;
}

.cumicc4 {
  background-color: #7bc9e3;
}

.cumicc5 {
  background-color: #7bc9e3;
}

.cumicc6 {
  background-color: #7bc9e3;
}

.cumicc7 {
  background-color: #7bc9e3;
}