/* 3 */

:root {
    --sex: url(sex3.png) no-repeat;
    --phone: url(phone3.png) no-repeat;
    --date: url(date3.png) no-repeat;
    --email: url(email3.png) no-repeat;
    --add: url(add3.png) no-repeat;
    --avt: url(avt3.png) no-repeat;
    --name: url(name3.png) no-repeat;
    --page: url(page3.png) no-repeat;
    --doc: url(doc.png) no-repeat;
    --muctieu: url(muctieu3.png) no-repeat;
    --hocvan: url(hocvan3.png) no-repeat;
    --kinhnghiem: url(kinhnghiem3.png) no-repeat;
    --hoatdong: url(hoatdong3.png) no-repeat;
    --duan: url(duan3.png) no-repeat;
    --them: url(them3.png) no-repeat;
    --color: #8983da;
    --color-tt: #f4a7ad;
    --color-sk: #a19dda;
}