/* 3 */

:root {
  --sex: url(sex3.png) no-repeat;
  --phone: url(phone3.png) no-repeat;
  --date: url(date3.png) no-repeat;
  --email: url(email3.png) no-repeat;
  --add: url(add3.png) no-repeat;
  --bg_cv: url(bg_cv3.png) no-repeat;
  --ke_giua: url(line_center3.png) no-repeat;
  --kn: url(bar_ski03.png) no-repeat;
  --color-title: #289185;
  --color-ski: #ffdfc7;
  --color-name: #ffdfc7;
}