/* 2 */

:root {
    --sex: url(sex2.png) no-repeat;
    --phone: url(phone2.png) no-repeat;
    --date: url(date2.png) no-repeat;
    --email: url(email2.png) no-repeat;
    --add: url(add2.png) no-repeat;
    --avt: url(avt2.png) no-repeat;
    --name: #fb6477;
    --hocvan: url(hocvan2.png) no-repeat;
    --kinhnghiem: url(kinhnghiem2.png) no-repeat;
    --duan: url(duan2.png) no-repeat;
    --hoatdong: url(hoatdong2.png) no-repeat;
    --kn: url(kn2.png) no-repeat;
}