#cv-top h1, #cv-content h3, #cv-content p.h3{
	color:#9966ff;
}
#cv-right h3 div, #cv-content .head div, .bar-exp div{
	background: #9966ff		
}
#cv-right h3, #cv-content .head{
	background: url(line9966ff.png) left center repeat-x;
}
#form-cv .icf{
	border:1px solid #9966ff;
}
.icf .fa{
	color:#9966ff;
}