#form-letter{
	width: 790px;
	height: 1117px;
	float: left;	
	background: url('../../nendep23.jpg') #fff left top repeat-y;
	background-position: ;
	background-size: cover; 
	border:solid 1px #fee4fc;
	color:#000;
	position: relative;
}