#cvo-profile-avatar-wraper .wimg{
	border:3px solid #a9ac77;
}
#cvo-profile #box01{
	border-top:3px solid #a9ac77; 	
}
#cv-top h1, #cv-right h3, #cv-content .head, #cv-content h3{
	color:#a9ac77;
}
.bar-exp div{
	background: #a9ac77
}