.all {
    background-image: url(main2-1.png);
    /* background-size: 100% 100%; */
}
.footer {
    background: url(ft2-1.png)no-repeat;
    background-size: 100% 100%;
}
.bar-exp div {
    background: #c6ddef;
}

div#cv-boxtitle {
    border-bottom:solid 1px #c6ddef;
}

.bar-exp {
    border: solid 1px #c6ddef;
}

.bar-exp div {
    background: #c6ddef;
}

#cvo-experience-blocktitle {
    border-bottom: solid 1px #c6ddef;
}