#cvo-profile-avatar-wraper #cvo-profile-avatar{
	border-color:#1a596e;
}
#cv-top h1{
	color:#1a596e;
}
#cv-top h2{
	color:#1a596e;
}
#cv-right h3{
	color:#1a596e;		
}
#cvo-profile-avatar{
	border:3px solid #1a596e;	
}
.bar-exp span {   
    background: #1a596e;
}
.bar-exp {  	
  	border:2px solid #1a596e;
} 
.bar-exp div {   
    background: #1a596e;    
}
.icf .fa{	
	color:#1a596e;		
}
#cv-content .head span{       
    color: #1a596e;  
}