#cvo-profile-avatar-wraper #cvo-profile-avatar{
	border-color:#237a5f;
}
#cv-top h1{
	color:#237a5f;
}
#cv-top h2{
	color:#237a5f;
}
#cv-right h3{
	color:#237a5f;		
}
#cvo-profile-avatar{ 
	border:3px solid #237a5f;	
}
.bar-exp span {   
    background: #237a5f;
}
.bar-exp {  	
  	border:2px solid #237a5f;
} 
.bar-exp div {   
    background: #237a5f;    
}
.icf .fa{	
	color:#237a5f;		
}
#cv-content .head span{      
    color: #237a5f;  
}