#cv-top {
    width: 100%;
    background: url(../top2.png) no-repeat;
    background-size: 100%;
    float: left;
    padding-top: 31px;
}
#cv-top h1 {
    padding: 0;
    margin: 0;
    font-size: 37px;
    font-family: "Roboto";
    line-height: 43px;
    text-transform: uppercase;
    margin-bottom: 0;
    color: #000;
    font-weight: bold;
    text-align: left;
    width: 98%;
    float: left;
    padding: 15px 10px 0;
    background: url(../bg_chu2.png) no-repeat;
}
#cv-top h2 {
    text-transform: uppercase;
    width: 100%;
    font-size: 18px;
    font-family: "Roboto";
    text-align: left;
    margin: 0;
    padding: 0;
    float: left;
    margin-bottom: 0;
    line-height: 30px;
    padding: 15px 10px;
    background: url(../bg_chu2.png) no-repeat;
    background-position: 0 100%;
}
.fake_img {
    width: 159px;
    height: 149px;
    z-index: 1;
    /* padding: 0;
    margin: 0; */
    position: absolute !important;
    background: url(../fake2_new.png)no-repeat;
    background-size: 100% 100%;
    margin-top: -152px;
    top: 9999px;
    left: 9px;
}
#cvo-profile {
    display: block;
    float: left;
    width: 100%;
    padding-bottom: 15px;
    background: url(../border_new2.png) no-repeat;
    background-position: 25px 7px;
    border-bottom: 3px solid #b582b6;
    background-color: #e3cfe3;
}

#block01 .head {
    background: url(../hocvan2.png) no-repeat;
    width: 100%;
    height: 45px;
    padding-left: 45px;
    padding-top: 5px;
}

#block02 .head {
    background: url(../kinhnghiem2.png) no-repeat;
    width: 100%;
    height: 45px;
    padding-left: 45px;
    padding-top: 10px;
}

#block03 .head {
    background: url(../hoatdong2.png) no-repeat;
    width: 100%;
    height: 45px;
    padding-left: 45px;
    padding-top: 5px;
}

#block04 .head {
    background: url(../duan2.png) no-repeat;
    width: 100%;
    height: 45px;
    padding-left: 45px;
    padding-top: 5px;
}

div#block05 .head {
    background: url(../thongtin2.png) no-repeat;
    width: 100%;
    height: 45px;
    padding-left: 45px;
    padding-top: 5px;
}
#box02 .cum{
    background: url(../muctieu2.png) no-repeat;
    width: 100%;
    height: 45px;
    padding-left: 45px;
    padding-top: 5px;
}
#box03 .ski{
    background: url(../kynang2.png) no-repeat;
    width: 100%;
    height: 45px;
    padding-left: 45px;
    margin-bottom: 10px;
    padding-top: 5px;
}
#box04 .cum{
    background: url(../chungchi2.png) no-repeat;
    width: 100%;
    height: 45px;
    padding-left: 45px;
    padding-top: 5px;
}
#box05 .cum{
    background: url(../giaithuong2.png) no-repeat;
    width: 100%;
    height: 45px;
    padding-left: 45px;
    padding-top: 5px;
}
#box06 .cum{
    background: url(../sothich2.png) no-repeat;
    width: 100%;
    height: 45px;
    padding-left: 45px;
    padding-top: 5px;
}
#box07 .cum{
    background: url(../people2.png) no-repeat;
    width: 100%;
    height: 45px;
    padding-left: 45px;
    padding-top: 5px;
}
.footer{
    float: left;
    background: url(../footer2.png) no-repeat;
    background-size: 100%;
    width: 790px;
    height: 17px;
}

div#block02, div#block01 {
    background: url(../ke2.png) repeat-y;
    background-position: 18px 0;
}

#block02 h3,#block01 h3{
    background: url(../dot2.png) no-repeat;
    background-position: 12px 5px;
}
.bar-exp div {
    float: left;
    height: 23px;
    background: #b582b6;
    margin-top: 0px;
    /* border-radius: 5px; */
    position: relative;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}
.ic1, .ic2, .ic3, .ic4, .ic5 {
    float: left;
    width: 100%;
    padding: 0;
    /* margin-bottom: 2px; */
    background: url(../line2.png) no-repeat;
    background-position: 0px 100%;
    background-size: 123%;
    padding-bottom: 3px;
}
.ic5 {
    background: none !important;
}
