#form-cv {
    font-family: "Roboto", sans-serif;
    width: 100%;
    float: left;
    position: relative;
    font-size: 14px;
    line-height: 24px;
    color: #484848;
    background-color: #ffffff;
    /* background:#fff; */
}


/* #form-cv p{
margin-top: 0;
margin-bottom: 6px
} */

#sortable .cvo-block {
    margin-bottom: 15px;
    margin-top: 8px;
    padding: 0 10px;
}

#sortable .cvo-block .box-content {
    padding: 0;
    margin: 0;
    padding-top: 10px;
}

#cvo-profile {
    display: block;
}


/* .exp .ctbx{
padding-left: 30px;
} */

#cv-content {
    width: 52.99%;
    text-align: justify;
    float: left;
    position: relative;
    padding: 0;
    margin: 0;
    padding-top: 20px;
}

#cv-content .ir {
    padding: 0 20px 0 20px;
}

#cv-main {
    text-align: justify;
    margin: 0;
    padding: 0;
    padding-top: 20px;
    position: relative;
    float: left;
    width: 47%;
    /*border-left: 2px dashed black;*/
}

#cv-right .ir {
    padding: 0 10px 0 20px;
}

p.skill-name input {
    color: #fff !important;
}

#cv-right #box03 .ctbx {
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    padding-top: 10px;
}

#cv-top {
    width: 100%;
    height: 350px;
    background-image: url(headerp.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    position: relative;
}

#cv-top h1 {
    padding-top: 20px;
    font-size: 36px;
    font-family: "Roboto";
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 0;
    color: #fff;
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
}

#cv-top h1 span {
    /*border-bottom: 1px solid #fff;*/
}

#box-hvt {
    float: right;
    width: 100%;
    padding: 0;
    margin: 0;
}

#sortable #box01 {
    margin-top: 0;
    padding-top: 0px;
    margin-bottom: 0px;
}

#sortable #box01 #prof {
    padding: 0;
    margin: 0;
    padding-top: 10px;
}

#box01 ul {
    list-style: none;
    padding-left: 20px
}

#cv-right .cvo-block .head div {
    color: #fff;
}

.innertext {
    margin: 0px;
    padding: 0px;
    width: 29%;
    float: left;
    color: white;
}

#cv-top h2 {
    width: 100%;
    font-size: 16px;
    font-family: "Roboto";
    color: #fff;
    text-align: center;
    font-weight: normal;
    margin: 0;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 30px
}

.box-01 p {
    overflow: hidden;
}

#cv-content p {
    margin-bottom: 5px
}

#cv-content .ir a {
    color: #2ebb2f
}

#cv-right h3,
#cv-content .head {
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    text-align: left;
    margin: 0px auto 10px;
    line-height: 20px;
    padding-top: 0px;
}

#cv-content h3 {
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #d56077;
}

#cv-content #block02 .exp-content {
    margin: 0;
    padding: 0;
    padding-left: 10px;
}

#cv-content #block03 h3 {
    font-weight: bold;
}

#cv-content #block04 h3 {
    font-weight: bold;
}

#cv-content .exp-date {
    float: none;
}

#cv-content #block01 .exp-date {
    display: none;
}

#cv-content #block03 .exp-date {
    display: none;
}

#cv-content #block04 .exp-date {
    display: none;
}

#cv-content #block05 .exp-date {
    display: none;
}

#cv-content p.h3 {
    margin: 0px;
    padding: 0px;
}

#cv-content .cvo-block {
    padding: 0px;
}

.ctbx {
    padding-left: 10px;
    padding-right: 10px
}

#cv-content span {
    display: inline-block;
    z-index: 9999;
}

#cv-content #block02 h3 {
    font-weight: bold;
}

.ctbx {
    margin-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
    position: relative;
}

.ctbx:hover {
    box-shadow: 0 0 1px #999;
}

.ctbx:hover .fieldgroup_controls {
    display: block;
}

[cvo-form-field] {
    cursor: text;
}

#cvo-profile-avatar-wraper {
    height: 180px;
    width: 25%;
    padding: 0;
    margin: 0;
    margin: auto;
}

#cvo-profile-avatar-wraper .wimg {
    width: 180px;
    height: 180px;
    /*border: 3px solid #fff;
border-radius: 13px;*/
    padding: 0px;
    margin: 0px;
    margin-top: 0px;
}

#cvo-profile-avatar-wraper img {
    width: 180px;
    height: 180px;
    border: 3px solid #fff;
    border-radius: 10px;
    float: none;
    display: inline-block;
}

#line-seperate {
    height: 25px;
}

.bar-exp div {
    float: left;
    height: 10px;
    background: #cd5871;
    margin-top: 0px;
    border-radius: 5px;
}

.ctbx .skill-name {
    margin: 0px;
    padding: 0px;
}

.bar-exp {
    background: #b3b3b4;
    height: 10px;
    float: none;
    margin-top: 0;
    margin-bottom: 0px;
    padding: 0px;
    /*border: 1px solid #000000;*/
    border-radius: 5px;
}

.bar-value-exp {
    width: 100%
}

.bar-value-exp input[type="text"] {
    color: #000;
    width: 95%
}

.icoweb label {
    display: block;
}


/*#sortable .icoweb {
width: 87%;
height: 30px;
line-height: 30px;
float: right;
padding-left: 5px;
margin-bottom: 0
}*/

#cv-right .block {
    position: relative !important;
}

.ic .icoweb {
    width: 85%;
    text-align: left;
    padding-left: 5px;
    float: left;
}

.ic {
    width: 100%;
    float: left;
}

#prof span {
    width: 350px;
}

#prof [contentEditable=true] {
    width: 350px;
    float: left;
}

#prof .icoweb,
#prof .icoweb span {
    height: auto;
}

#sortable .ic {
    margin-bottom: 0px;
    padding: 3px 0px;
}

#form-cv .icf {
    float: left;
    border-radius: 5px;
    line-height: 30px;
    margin-bottom: 0;
    width: 28px;
    text-align: center;
}

.icf .fa {
    font-size: 20px;
    color: #cd5871;
    margin-top: 0;
    float: none
}

.footer {
    display: block;
    height: 125px;
    width: 100%;
    background: url("footer.png");
    background-repeat: no-repeat;
    background-size: 100% auto
}

.container {
    width: 100%;
}

.sum {
    margin: 0;
    padding: 0;
    width: 100%;
    /* height: 30px; */
    padding-top: 5px;
}

#cv-content .head {
    width: 70%;
    /* height: 30px; */
    margin: 0;
    padding: 0;
    background: url("icon.png")no-repeat;
    background-size: 100% 100%;
    /*  border: 2px solid #d45e77;*/
    /*  border-radius: 15px;*/
    /*  background: #d45e77;*/
    text-align: center;
    /*  float: right;*/
    line-height: 33px;
}

#experience-table .ctbx {
    padding-top: 10px;
}

.ifo {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 30px;
}

.ski {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 30px;
}

.cum {
    margin: 0;
    padding: 0;
    width: 100%;
    /* height: 30px; */
    padding-top: 5px;
}

#cv-right h3 {
    width: 80%;
    /* height: 30px; */
    margin: 0;
    padding: 0;
    text-align: center;
    background: url("icon.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    float: left;
    /*  background: #d45e77;*/
    line-height: 33px;
}

#box01 {
    margin-left: 20px
}

#prof {
    margin-top: 15px
}

#cv-profile-fullname::before {
    color: #fff;
}

.watermark {
    float: left;
    width: 100%;
    height: 22px;
    color: #000;
    text-align: right;
    padding-right: 22px;
    font-size: 15px;
    font-family: Courier;
    padding-top: 93px;
}