/* 2 */

:root {
    --sex: url(sex2.png) no-repeat;
    --date: url(date2.png) no-repeat;
    --phone: url(phone2.png) no-repeat;
    --email: url(email2.png) no-repeat;
    --add: url(add2.png) no-repeat;
    --cv-top: url(top2.png) no-repeat;
    --name: #9faa95;
    --all: url(page2.png) no-repeat;
    --cv-main: url(left2.png) no-repeat;
    --skill: url(skill2.png) no-repeat;
    --kn: url(kn2.png) no-repeat;
    --foot: url(foot2.png) no-repeat;
    --title: #485b2e;
    --fake: url(fake2-1.png) no-repeat, url(fake2-2.png) no-repeat;
}