:root {
    --sex: url(sex3.png) no-repeat;
    --phone: url(phone3.png) no-repeat;
    --date: url(date3.png) no-repeat;
    --email: url(mail3.png) no-repeat;
    --add: url(add3.png) no-repeat;
    --skill: url(skill3.png) no-repeat;
    --kn: url(kn3.png) no-repeat;
    --tt-r: url(tt-r3.png) no-repeat;
    --foot: url(foot3.png) no-repeat;
    --dot: url(dot3.png) no-repeat;
    --doc: url(doc3.png) no-repeat;
    --chu: url(chu3.png) no-repeat;
    --h2: url(h2-3.png) no-repeat;
    --muctieu: url(top-mt3-1.png) no-repeat, url(foot-mt3-1.png) no-repeat, url(form-mt3.png) no-repeat;
    --color: #236665;
    --color2: #99e2dd;
  }