:root {
    --sex: url(sex2.png) no-repeat;
    --phone: url(phone2.png) no-repeat;
    --date: url(date2.png) no-repeat;
    --email: url(mail2.png) no-repeat;
    --add: url(add2.png) no-repeat;
    --skill: url(skill2.png) no-repeat;
    --kn: url(kn2.png) no-repeat;
    --tt-r: url(tt-r2.png) no-repeat;
    --foot: url(foot2.png) no-repeat;
    --dot: url(dot2.png) no-repeat;
    --doc: url(doc2.png) no-repeat;
    --chu: url(chu2.png) no-repeat;
    --h2: url(h2-2.png) no-repeat;
    --muctieu: url(top-mt2-1.png) no-repeat, url(foot-mt2-1.png) no-repeat, url(form-mt2.png) no-repeat;
    --color: #676152;
    --color2: #d5cebc;
  }