#cv-top {
    width: 100%;
    height: 380px;
    background-image: url(hd3.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-bottom: 20px;
}
.all {
    float: left;
    clear: both;
    width: 100%;
    background: url(main3.png)no-repeat;
    background-size: 100% 100%;
}
#box02 .cum {
    width: 100%;
    height: 30px;
    text-align: center;
    border-radius: 10px;
    background: #ff6633;
    margin-top: -15px;
    position: relative;
    z-index: 1;
}
#box03 .funk {
    width: 45%;
    height: 30px;
    /* background: #ff6633; */
    border-radius: 10px;
    text-align: center;
    /* margin-top: -15px; */
    position: relative;
    z-index: 1!important;
}
#block01 .head {
    background: #ff6633;
    border-radius: 10px;
    width: 30%;
    height: 30px;
    margin-top: -17px;
    position: relative;
    z-index: 1;
}
#block05 .sum {
    width: 30%;
    height: 30px;
    text-align: center;
    background: #ff6633;
    margin-top: -15px;
    z-index: 1;
}
#box04 {
    background: url(ic3.png)no-repeat;
    background-size: 100% 25%;
    background-position: 3px -3px;
}
#box05 {
    background: url(carot3.png)no-repeat;
    background-size: 100% 30%;
    background-position: 3px -1px;
}
#box06 {
    background: url(icon3.png)no-repeat;
    background-size: 100% 33%;
    background-position: 3px -3px;
}
#box07 {
    background: url(tao3.png)no-repeat;
    background-size: 100% 42%;
}
#block02 {
    background: url(3.png)no-repeat;
    background-size: 9% 100%;
    background-position: left;
}
.box-dm {
   width: 260px;
    height: 287px;
    clear: both;
    z-index: 1;
    padding: 0;
    margin: 0;
    display: table;
    position: absolute;
    float: left;
    background: url(avata3.png)no-repeat;
    background-size: 100% 100%;
    margin-top: -287px;
    margin-left: -14px;
    top: -900px;
}