#form-letter{
	width: 790px;
	min-height: 1114px;
	float: left;	
	background: url('../bg.png') #fff left top repeat-y;
	color:#000;
	position: relative
}
#form-letter .w{
	position: relative;	
	width: 172px;
	height: 173px;
	float: left;	
	margin-right: 30px
}
.bar-tool{
	z-index: 1;
}
#lt-top{		
	padding-top: 40px;
	text-align: center;
	font-size: 15px;
	line-height: 30px;
	position: relative;
	z-index: 99
}
#form-letter:before{
	position: absolute;
	content:"";
	height: 159px;
	width:100%;
	left:0;
	top:0
}
#lt-content{	
	margin-bottom: 60px;
	position: relative;
	font-size: 14px;
	text-align: justify;
	line-height: 24px
}
.end_write{
	float:right;	
	text-align: center;
	position: relative;
	z-index: 9;	
	width: 50%;
	padding-bottom: 40px;
}
#lt-top p{
	margin:0;
	padding:0;
}
#lt-right{
	position: relative;
}
#lt-right ul{		
	color:#fff;		
	position: relative
}
#lt-right .ir{
	line-height: 35px;
}
#lt-top h1{	
	text-transform: uppercase;
	font-weight:500;
	font-size: 18px;
	color:#000;
	margin-bottom: 0;
	margin-top: 10px
}
#lt-top h2{
	font-size: 18px;
	text-transform: capitalize
}
.box-01{
	padding-top: 10px;
	font-size: 12px;
	width:575px;
	float: left
}

#lt-content .ir{
	padding:30px 60px 30px 90px;
}
#lt-content p{
	margin-bottom: 10px
}
#lt-content .ir a{
	color: #323033
}
#lt-right .ir{
	padding:0 60px
}
#lt-right .info{
	background: #898989
}
#lt-right .box-02{
	padding-top: 20px;
	color:#005563;
}
.box-02 .left{
	width: 70%;
	float: left;
}
.box-02 .left span{
	width: 450px;
    display: inline-block;
    vertical-align: top
}
.box-02 .right{
	float: right;	
}
#lt-right ul li{
	display: inline-block;
	padding:10px 20px;	
}
#lt-right ul li:first-child{
	padding-left: 0
}
#lt-right ul li:last-child{
	padding-right: 0
}
#lt-right ul li strong{
	text-transform: uppercase;
}