#cvo-profile-avatar-wraper .wimg{
	border:3px solid #1fbc89;
}
#cv-top h1, #cv-right h3, #cv-content .head, #cv-content h3{
	color:#1fbc89;
}
#form-cv .icf{
	background: #1fbc89;
}
#form-cv .wfa{
	color:#1fbc89;
	border:2px solid #1fbc89;
}
#cv-main, #cv-content{
	background: url(1fbc89.png) 190px top repeat-y
}