#cvo-profile-avatar-wraper .wimg{
	border:3px solid #9f224e;
}
#cv-top h1, #cv-right h3, #cv-content .head, #cv-content h3{
	color:#9f224e;
}
#form-cv .icf{
	background: #9f224e;
}
#form-cv .wfa{
	color:#9f224e;
	border:2px solid #9f224e;
}
#cv-main, #cv-content{
	background: url(9f224e.png) 190px top repeat-y
}