#cvo-profile-avatar-wraper .wimg{
	border:3px solid #a9ac77;
}
#cv-top h1, #cv-right h3, #cv-content .head, #cv-content h3{
	color:#a9ac77;
}
#form-cv .icf{
	background: #a9ac77;
}
#form-cv .wfa{
	color:#a9ac77;
	border:2px solid #a9ac77;
}
#cv-main, #cv-content{
	background: url(a9ac77.png) 190px top repeat-y
}