#form-cv {
    font-family: "Roboto", sans-serif;
    width: 100%;
    float: left;
    position: relative;
    font-size: 15px;
    line-height: 27px;
    color: #000000;
}

.watermark {
    float: right;
    width: 98.2%;
    height: 22px;
    color: #aca8a8;
    text-align: right;
    font-size: 15px;
    font-family: Courier;
    /* padding-top: 45px; */
    background: #444445;
    border-bottom: 10px solid #ffc53b;
}

#sortable .cvo-block .box-content {
    margin: 0;
    width: 94%;
    margin-top: 5px;
    line-height: 35px;
    /* color: #000000; */
    margin-bottom: 5px;
    /* padding-left: 37px; */
}

.exp.content-edit.skill {
    float: left;
}

#cvo-profile {
    display: block;
}

#cv-content {
    width: 40%;
    text-align: left;
    float: left;
    position: relative;
    padding: 0;
    margin: 0;
    margin-left: 90px;
    margin-top: 20px;
}

#cv-profile-phone:before {
    color: #fff;
}

#cv-profile-email:before {
    color: #fff;
}

#cv-profile-address:before {
    color: #fff;
}

#cv-profile-sex:before {
    color: #fff;
}

#cv-profile-birthday:before {
    color: #fff;
}

#cv-main {
    text-align: justify;
    margin: 0;
    padding: 0;
    position: relative;
    float: right;
    width: 36%;
    margin-right: 60px;
    margin-top: -35px;
}

.chuu-right {
    float: left;
    width: 49.5%;
    padding-left: 85px;
}

.chu {
    float: left;
    width: 100%;
}

.anh {
    float: right;
    width: 39%;
}

#cv-right .ir {
    padding: 0;
    margin: 0;
}

#cv-main #cv-right {
    padding: 0;
    margin: 0;
}

#cv-main #cv-right .ir #sortable {
    padding: 0;
    margin: 0;
}

#cv-right .ir #sortable .block {
    padding: 0;
    margin: 0;
    float: left;
    width: 100%;
    padding-left: 10px;
}

p.skill-name input {
    color: #fff !important;
}

#cv-right #box03 .ctbx {
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    padding-bottom: 10px;
    float: left;
}

#cv-content #box01 {
    /*background:#000000;*/
    padding: 0;
    margin: 0;
}

#block05 div#experience-table {
    padding-bottom: 0;
}

#box07 #sortable .cvo-block .box-content {
    padding-bottom: 0;
}

#box03 .exp {
    float: left;
    padding-top: 18px;
    width: 94%;
    /* padding-left: 40px; */
    padding-bottom: 20px;
}

#cv-top {
    width: 100%;
    height: 356px;
    background-image: url(hd.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}

.all {
    float: left;
    clear: both;
    width: 100%;
    background: url(main.png)no-repeat;
    background-size: 100% 100%;
}

#cv-top h1 {
    padding: 0;
    margin: 0;
    font-size: 30px;
    font-family: "Roboto";
    line-height: 30px;
    text-transform: uppercase;
    color: black;
    padding-top: 65px;
    /* padding-bottom: 10px; */
    font-weight: bold;
    text-align: left;
    width: 74%;
    float: left;
    border-bottom: 6px solid #ffc53b;
}

#cv-top h1 span {
    ;
}

div#box01 {
    float: right;
    width: 100%;
}

#box-hvt {
    float: left;
    width: 95.5%;
    padding: 0;
    margin: 0;
    padding-top: 22px;
    /* padding-left: 37px; */
}

#cv-right .cvo-block .head div {
    color: #fff;
}

.innertext {
    margin: 0px;
    padding: 0px;
    width: 29%;
    float: left;
    color: white;
}

#cv-profile-fullname::before {
    color: #214ca3;
}

#cv-top h2 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    width: 100%;
    font-size: 20px;
    line-height: 20px;
    color: black;
    float: left;
    text-align: left;
    padding-top: 10px;
}

.box-01 p {
    overflow: hidden;
}

#cv-content p {
    margin-bottom: 5px
}

#cv-content .ir a {
    color: #2ebb2f
}

#cv-right h3,
#cv-content .head {
    font-size: 20px;
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    text-align: left;
    line-height: 20px;
    padding-top: 0px;
}

#cv-content h3 {
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    margin: 0px;
    padding: 0px;
    color: #000000;
}

#cv-content #block02 .exp-content {
    margin: 0;
    padding: 0;
}

#cv-content #block03 h3 {
    font-weight: unset;
}

#cv-content .exp-date {
    float: none;
}

#cv-content #block01 .exp-date {
    display: none;
}

#cv-content #block03 .exp-date {
    display: none;
}

#cv-content #block04 .exp-date {
    display: none;
}

#cv-content #block05 .exp-date {
    display: none;
}

#cv-content p.h3 {
    margin: 0px;
    padding: 0px;
}

#cv-content .cvo-block {
    padding: 0 !important;
    float: left;
    width: 100%;
}

#cv-content .ir .cvo-block {
    padding: 0;
    background: none;
}

.ctbx {
    padding-left: 10px;
    padding-right: 10px
}

#cv-content span {
    display: inline-block;
    z-index: 9999;
    padding-top: 0px;
}

#cv-content #block02 h3 {
    font-weight: bold;
    color: #000000;
    float: left;
    width: 100%;
    text-transform: unset;
    font-size: 15px;
}

#block02 #experience-table #exp2 {}

.ctbx {
    margin-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
    position: relative;
}

.ctbx:hover {
    box-shadow: 0 0 1px #999;
}

.ctbx:hover .fieldgroup_controls {
    display: block;
}

[cvo-form-field] {
    cursor: text;
}

#cvo-profile-avatar-wraper {
    width: 92%;
    height: 223px;
    padding: 0;
    margin: 0;
    float: right;
    display: table;
    padding-top: 77px;
    padding-left: 0px;
}

#cvo-profile-avatar-wraper .wimg {
    width: 158px;
    height: 241px;
    float: left;
    display: unset !important;
    margin-left: 4px;
    position: relative;
    left: -4px;
}

#cvo-profile #cvo-profile-avatar-wraper img {
    width: 158px;
    /* height: 241px; */
    float: none;
    /* object-fit: cover; */
}

.box-01 {
    float: left;
    width: 100%;
    height: 356px;
}

#cvo-profile {
    display: block;
    float: left;
    width: 100%;
    height: 356px;
}

#line-seperate {
    height: 25px;
}

.bar-exp div {
    float: left;
    height: 11px;
    background: #ffc53b;
    margin-top: -1.4px;
    margin-left: -2px;
    /* z-index: 99; */
    /* border-radius: 3px; */
}

.ctbx .skill-name {
    margin: 0px;
    padding: 0px;
    color: #000000;
    float: left;
    width: 100%;
    margin-left: 6px;
}

.bar-exp {
    background: #fff;
    height: 11px;
    float: none;
    margin-top: 6px;
    margin-left: 0px;
    padding: 0px;
    border: 1px dashed black;
    float: left;
    width: 100%;
    border-radius: 3px;
    margin-left: 8px;
}

.bar-value-exp {
    width: 100%
}

.bar-value-exp input[type="text"] {
    color: #000000;
    width: 95%
}

.icoweb label {
    display: block;
}

#cv-right .block {
    position: relative !important;
    padding: 0;
    margin: 0;
}

.ic .icoweb {
    width: 80%;
    text-align: left;
    padding-left: 5px;
    float: left;
    color: black;
}

.ic {
    float: left;
    padding-top: 2px;
    color: #ffffff;
    padding-bottom: 5px;
}

.ic1 {
    width: 95%;
}

.ic1 .icoweb {
    width: 70%;
}

.ic2 {
    width: 95%;
}

.ic2 .icoweb {
    width: 87%;
}

.ic3 {
    width: 95%;
}

#prof span {}

#prof [contentEditable=true] {
    width: 100%;
    float: left;
}

#prof .icoweb,
#prof .icoweb span {
    height: auto;
}

div#prof {
    float: left;
    width: 100%;
}

#form-cv .icf {
    float: left;
    line-height: 20px;
    margin-bottom: 0;
    width: 26px;
    height: 20px;
    text-align: left;
}

.ic02 {
    float: right;
    width: 64%;
}

.ic03 {
    float: left;
    width: 35%;
}

.icf .fa {
    font-size: 20px;
    color: black;
    margin-top: 0;
    float: left;
}

.container {
    width: 100%;
}

.sum {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 30px;
}

#cv-right .block {
    /* margin-bottom: 10px; */
    position: relative;
    padding: 0;
    padding-bottom: 20px;
    padding-top: 15px;
}

#cv-content .head {
    padding: 0;
    margin: 0;
    height: 36px;
    text-align: left;
    line-height: 36px;
    width: 80%;
    float: left;
}

#experience-table .ctbx {
    margin-bottom: 5px;
    margin-top: 5px;
}

.ifo {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 30px;
}

#cv-right h3 {
    width: 100%;
    height: 30px;
    margin: 0;
    color: #ffffff;
    padding: 0;
    float: left;
    line-height: 30px;
    text-align: center;
    background: #b82731;
}

#cv-content .head #cvo-experience-blocktitle {
    color: black;
    float: left;
    /* padding-left: 40px; */
    border-bottom: 6px solid #ffc53b;
}

#experience-table #exp2 {
    margin-top: 10px;
}

#exp1 .exp-content {
    padding-top: 0px;
}

#bg {
    background: #F58284;
    text-align: left;
}

div#experience-table {
    margin: 0px;
    width: 95%;
    margin-top: 5px;
    margin-bottom: 5px;
    /* margin-left: 40px; */
    float: left;
    color: #000000;
}

div#cv-boxtitle {
    float: left;
    font-size: 19px;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
    border-bottom: 6px solid #ffc53b;
    /* padding-left: 37px; */
}

.ski {
    padding: 0;
    margin: 0;
    height: 36px;
    width: 35%;
    line-height: 36px;
    text-align: left;
    margin-left: 7px;
}

.cum {
    padding: 0;
    margin: 0;
    height: 36px;
    width: 80%;
    line-height: 36px;
    text-align: left;
}

div#sort_block {
    padding: 0;
    margin: 0;
}

.cvo-block .blockControls {
    margin: 0px;
    padding: 0px;
}

#cv-profile-job::before {
    color: #214ca3;
}

.footer {
    /* background: url(ft.png)no-repeat; */
    /* background-size: 100% 100%; */
    /* height: 66px; */
    float: left;
    width: 100%;
}

.box-dm {
    /* padding: 0; */
    /* margin: 0; */
    /* float: left; */
    /* display: table; */
    /* background: url(fake.png)no-repeat; */
    /* background-size: 100% 100%; */
    /* clear: both; */
    /* z-index: 1; */
    /* top: -900px; */
    /* position: absolute; */
    /* width: 322px; */
    /* height: 341px; */
    /* margin-top: -295px; */
    /* margin-left: 27px; */
}

div#box06 {
    background: #5c5d5d;
    border-right: 12px solid #ffc53b;
}

#box06 #cv-boxtitle {
    float: left;
    font-size: 19px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    border-bottom: 6px solid #ffc53b;
    /* padding-left: 37px; */
}

#box06 .box-content {
    color: #fff;
}

div#box07 {
    background: #5c5d5d;
    border-right: 12px solid #ffc53b;
    border-bottom: 12px solid #ffc53b;
}

#box07 #cv-boxtitle {
    float: left;
    font-size: 19px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    border-bottom: 6px solid #ffc53b;
    /* padding-left: 37px; */
}

#box07 .box-content {
    color: #fff;
}

div#box03 {
    border: 2px dashed #5c5d5d;
}

#cvo-profile-avatar {
    width: 150px;
    height: 195px;
    object-fit: cover;
}

#block04 h3,
#block05 h3 {
    font-weight: unset;
}