#form-letter {
	width: 100%;
	height: 1130px;
	float: left;
	color: #000000;
	position: relative;
	background: url(bg4.png)no-repeat;
	background-size: 100% 100%;
}

#lt-right {
	margin: 0;
	padding: 0;
	width: 71%;
	position: relative;
	float: left;
	padding-left: 20px;
	padding-bottom: 0px;
	top: 20px;
	padding-bottom: 40px;
	/* padding-top: 27px; */
	border-bottom: 2px solid #f54336;
}

#lt-top h1 {
	width: 65%;
	text-transform: uppercase;
	display: block;
	font-size: 24px;
	line-height: 24px;
	font-weight: bold;
	margin-top: 10px;
	text-align: left;
	color: #f54336;
	float: left;
	padding-left: 20px;
}

#cvo-profile-avatar-wraper {
	padding: 0;
	margin: 0;
	float: left;
	width: 160px;
	height: 165px;
	cursor: pointer;
	z-index: 99;
	border: 4px solid #f54336;
	border-radius: 5px;
	margin-left: 15px;
	margin-top: 10px;
}

.icf .fa {
	font-size: 18px;
	color: #f54336;
	font-weight: normal;
	margin-top: 0;
	float: left
}