#cv-top {
    background-image: url(hd2.png);
    background-size: 100% 100%;
}
.all {
    background: url(main2.png)no-repeat;
    background-size: 100% 100%;
}
.footer {
    background: #fef16f;
    height: 90px;
}
div#cv-boxtitle {
    color: #fef16f;
}
#cv-content .head #cvo-experience-blocktitle {
    color: #fef16f;
}
.bar-exp div {
    background: #fef16f;
}
#cv-main {
    border-right: 2px solid #fef16f;
}
#cv-content {
    border-bottom: 2px solid #fef16f;
}