#form-letter {
	width: 100%;
	height: 1130px;
	float: left;
	color: #000000;
	position: relative;
	background: url(bg2.png)no-repeat;
	background-size: 100% 100%;
}

#lto-name {
	background: #fff;
	color: #038c8c;
}

#cvo-profile-avatar-wraper {
	padding: 0;
	margin: 0;
	width: 160px;
	height: 190px;
	float: left;
	cursor: pointer;
	margin-left: 45px;
	margin-top: 5px;
	border: 2px solid #038c8c;
	border-radius: 5px;
}

.icf .fa {
	font-size: 18px;
	color: #038c8c;
	font-weight: normal;
	margin-top: 0;
	float: left
}