    #form-cv {
        font-family: "Roboto", sans-serif;
        width: 100%;
        float: left;
        position: relative;
        font-size: 14px;
        line-height: 24px;
        /*color: #484848;*/
       /* background-color: red;*/
        /* background:#fff; */
       /* background: url(ha.png)no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: 80% auto;*/
    }
    /* #form-cv p{
	margin-top: 0;
	margin-bottom: 6px
} */
#clr img{
	width: 100%;

}
    
    #sortable .cvo-block {
        margin-bottom: 0px;
        padding-bottom: 0px;
        margin-top: 0px;
        padding-right: 0;
        clear: both;
    }
    
    #sortable .cvo-block .box-content {
        width: 95%;
        padding: 8px 0 10px 10px;
        margin: 0;
        text-align: justify;
    }
    
    #cvo-profile {
        display: block;
    }
    /* .exp .ctbx{
	padding-left: 30px;
} */
    
    #cv-content {
         width: 58%;
    text-align: justify;
    float: right;
    position: relative;
    padding: 0;
    margin: 0;
    color: #000;
    padding-left: 0;

    }
    
    #cv-content .ir {
    	margin-right: 25px;
        padding: 0;
        /*border-right: 25px #fff solid;*/
   		/*border-left: 40px #fff solid;*/
        margin-bottom: 10px;
        margin-left: 25px;
    }

    #cv-main {
        text-align: justify;
        margin: 0;
        padding: 0;
         padding-top: 10px; 
        position: relative;
        float: left;
        width: 40.99%;
        color: #000;
    }
    
 /*   #cv-right .ir {
        padding-left: 10px;
    }*/
    
    p.skill-name input {
        color: #fff !important;
    }
    
    #cv-right #box03 .ctbx {
        width: 100%;
        padding: 0;
        margin: 0;
        border: 0;
        padding-top: 10px;
    }
    
    .exp {
        width: 96%;
        padding: 0px 0px 20px 10px;
    }
    
    #cv-top {
        width: 100%;
        height: 231px;
        background: url(hd1.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        position: relative;
        margin-bottom: 10px;
    }
    
    #cv-top h1 {

   
        font-family: "Roboto";
        line-height: normal;
        text-transform: uppercase;
        margin-bottom: 0;
        color: #fff;
        margin-top: 0;
        font-weight: bold;
        text-align: center;
         font-size: 36px;
         letter-spacing: 5px;


    }
    
    #box-hvt {
     float: right;
    width: 63%;
    padding: 0;
    margin: 0;
    padding-right: 28px;
    padding-top: 75px;
    }
    
    #cv-right #box01 {
        margin-top: 0;
    /*padding-top: 10px;*/
    /*background: #05ac9e;
    height: 270px;*/
    }
    
    #sortable #box01 #prof {
        padding: 0;
        margin: 0;
        padding-top: 10px;

    }
    
    #box01 ul {
        list-style: none;
        padding-left: 20px
    }
    
    #cv-right .cvo-block .head div {
        color: #fff;
    }
    
    .innertext {
        margin: 0px;
        padding: 0px;
        width: 29%;
        float: left;
        color: white;
    }
    
    #cv-top h2 {

        color: #fff;
        text-align: center;
        padding-right: 45px;
         font-size: 14px;
		tetx-transform: uppercase;
    }
    
    .box-01 p {
        overflow: hidden;
    }
    
    #cv-content p {
        margin-bottom: 5px
    }
    
    #cv-content .ir a {
        color: #2ebb2f
    }
    
    #cv-right h3,
    #cv-content .head {
    	width: 300px;
    	margin: auto;
        font-size: 18px;
		background:#ca8f3c;
        text-transform: unset;
        color: #fff;
        font-weight: bold;
        text-align: left;

    }
    
    #cv-content h3 {
        font-size: 16px;
        line-height: 24px;
        font-weight: unset;
        padding: 0px;
        margin-bottom: 0;
        color: #081b0d;
    }
    
    #cv-content #block04 h3 {
        font-weight: bold;
    }
    
    #cv-content .exp-date {
        float: none;
    }
    
    #cv-content #block01 .exp-date {
        display: none;
    }
    
    #cv-content #block03 .exp-date {
        display: none;
    }
    
    #cv-content #block04 .exp-date {
        display: none;
    }
    
    #cv-content #block05 .exp-date {
        display: none;
    }
    
    #cv-content p.h3 {
        margin: 0px;
        /*padding-left: 10px;*/
        /*padding: 0px;*/
    }
    
    #cv-content .cvo-block {
        padding: 0px;
       margin: 0;
       margin-bottom: 15px;
  
    }
    
    .ctbx {
        padding-left: 10px;
        padding-right: 10px
    }
    
    #cv-content span {
        display: inline-block;
        z-index: 9999;
    }
    
    #cv-content #block02 h3 {
        font-weight: bold;
    }
    
    .ctbx {
        margin-bottom: 0px;
        padding-left: 0;
        padding-right: 0;
        position: relative;
    }
    
    .ctbx:hover {
        box-shadow: 0 0 1px #999;
    }
    
    .ctbx:hover .fieldgroup_controls {
        display: block;
    }
    
    [cvo-form-field] {
        cursor: text;
    }
    
    #cvo-profile-avatar-wraper {
        float: left;
       /* height: 204px;*/
        width: 23%;
        padding: 30px 20px 0 60px;
        margin: 0;
    }
    
    #cvo-profile-avatar-wraper .wimg {
        width: 170px;
        border-radius: 3px;
        padding: 0px;
        margin: 0px;
        margin-top: 0px;
        border: 3px solid #fff;
        border-radius: 5px;
    }
    
    #cvo-profile-avatar-wraper img {
        width: 170px;
        height: 170px;
        float: none;
        display: inline-block;
    }
    
    #line-seperate {
        height: 25px;
    }
    
    .bar-exp div {
        float: left;
        height: 10px;
        background: #ca8f3c;
        margin-top: 0px;
        /*border: 1px solid #fff;*/
    }
    
    .ctbx .skill-name {
        margin: 0px;
        padding: 0px;
		width: 90%;
    }
    
    .bar-exp {
        background: #000;
        height: 10px;
        float: none;
        margin-top: 0;
        margin-bottom: 0px;
        padding: 0px;
       /* border: #05ac9e 1px solid;*/
    }
    
    .bar-value-exp {
        width: 100%
    }
    
    .bar-value-exp input[type="text"] {
        color: #000;
        width: 95%
    }
    
    .icoweb label {
        display: block;
    }
    
    #sortable .icoweb {
        width: 87%;
        height: 30px;
        line-height: 30px;
        float: right;
        padding-left: 5px;
        margin-bottom: 0
    }
    
    #sortable .ic {
        margin-bottom: 0px;
        padding: 3px 0px;
        height: auto
    }
    
    .ic {
        /* background-color: grey; */
        height: 30px;
        float: left;
        width: 100%
    }
    
    #form-cv .icf {
        float: left;
        border-radius: 5px;
        line-height: 30px;
        margin-bottom: 0;
        width: 28px;
        text-align: center;
    }
    
    .ic .icoweb {
        float: left
    }
    
    .icf .fa {
        font-size: 14px;
        color: #ca8f3c;
        margin-top: 0;
        float: none
    }
    
    .footer {
        display: inline-block;
        height: 137px;
        width: 100%;
        border: none;
    }
    
    .container {
        width: 100%;
    }
    
    #cv-content .head {
      width: 100%;
        height: 27px;
        text-align: center;
        text-transform: uppercase;
        line-height: 29px;
        margin: 0;
        padding: 0;
        padding: 3px;
        background: #ca8f3c;
        background-size: 100% auto
     
    }
    
    #experience-table .ctbx {
        margin: 0;
        padding: 0;
        padding-left: 10px;
margin-top: 10px;
    }
    
    #cv-right h3 {
        width: 98%;
        height: 27px;
        margin: 0;
        padding: 0;
        line-height: 29px;
         text-transform: uppercase;
    	text-align: center;
        padding: 3px;
        background:#ca8f3c ;
    }
    
    #cv-right {
        color: #000;

    }
    
 /*   #sortable {
        padding-top: 40px;
    }*/
    
  #cv-content #block01  #experience-table {
      /*  padding: 20px 20px;*/
       /* padding-left: 10px;*/
        clear: both;
        padding-bottom: 0px;
    }

 #cv-top h1 span {
 	/*border-bottom: 2px solid #FFF;
 	*/padding-bottom: 5px;
 }
    /* Fix width */
    
    #prof .icoweb,
    #prof .icoweb span {
        height: auto;
        float: left;
        color: #000
    }
    
/*    #cv-top h1,
    #cv-top h2 {
        margin-left: 43px
    }*/
    
    .exp-title {
        font-weight: bold;
        color: #ca8f3c;
    }
    #cv-content #block01 {
        /*background: #05ac9e;
        height: 270px;*/
        padding-top: 10px;
    }
#sortable #box01 h3 {
    color: #fff;
    text-transform: uppercase;
	background:#ca8f3c;
}
#cv-content #block01 .head {
     color: #fff;
     text-transform: uppercase;

}

#cv-right .block {
    position: unset;
}
#block01 .head #cvo-experience-blocktitle{
	/*width: 60%;*/
	margin-left: -15px;

}
#block02 .head #cvo-experience-blocktitle{

	margin-left: -24px;

}
#exp1 .exp-content{
	/*padding-left: 10px;*/
}

#exp2 .exp-content{
	padding-left: 10px;
}

#box02 .cum{
	text-transform: uppercase;
}
#cv-profile-fullname::before{
  color: white;
}
#cv-profile-job::before{
  color: white;
}
