#cv-top {
    background: url(../top2_new.png) no-repeat;
    background-position: 0px 0px;
    background-size: 100%;
}
.fake_img {
    background: url(../fake_avt2.png) no-repeat;
}
.bar-exp div {  
    background: url(../skill2.png) no-repeat;
    background-position: right;
}
div#cv-boxtitle {
    font-size: 19px;
    font-weight: bold;
    text-transform: uppercase;
    float: left;
    width: 83%;
    text-align: left;
    background-color: #e99c2f;
    color: #fff;
    padding: 0 15px;
}
#cv-content .head #cvo-experience-blocktitle {
    color: #fff;
    float: left;
    width: 100%;
    text-align: left;
    background: #e99c2f;
    padding: 0 15px;
}
.footer {
    background: url(../footer2.png) no-repeat;
    background-size: 100%;
}