/*color 3*/

.color {
    color: #e6da16!important;
}
.bar-exp span {
    background-color: #e6da16!important;
}

#form-cv {
    background-image: url(../images/3.png);
}

/* Dan trang */
#cv-main {
    background-image: url(../images/333.png);
}

#cv-content .head, #cv-right .h3 {
    background-image: url(../images/33.png);
}
#cv-right .icoweb {
    background-image: url(../images/33.png);
    background-repeat: no-repeat;
    background-position: center center;
}