/*color 2*/

.color {
    color: #ff0000!important;
}
.bar-exp span {
    background-color: #ff0000!important;
}

#form-cv {
    background-image: url(../images/2.png);
}

/* Dan trang */
#cv-main {
    background-image: url(../images/222.png);
}

#cv-content .head, #cv-right .h3 {
    background-image: url(../images/22.png);
}
#cv-right .icoweb {
    background-image: url(../images/22.png);
    background-repeat: no-repeat;
    background-position: center center;
}