/* 2 */

:root {
    --sex: url(sex2.png) no-repeat;
    --phone: url(phone2.png) no-repeat;
    --date: url(date2.png) no-repeat;
    --email: url(email2.png) no-repeat;
    --add: url(add2.png) no-repeat;
    --avt: url(avt2.png) no-repeat;
    --all-top: url(all-top.png) no-repeat;
    --all-center: url(all-center.png) no-repeat;
    --all-bottom: url(all-bottom.png) no-repeat;
    --color-j: #29a290;
    --ngang: url(ngang2.png) no-repeat;
    --soc: url(soc2.png) no-repeat;
    --page: url(page.png) no-repeat;
}