/* 3 */

:root {
    --sex: url(sex3.png) no-repeat;
    --phone: url(phone3.png) no-repeat;
    --date: url(date3.png) no-repeat;
    --email: url(email3.png) no-repeat;
    --add: url(add3.png) no-repeat;
    --avt: url(avt3.png) no-repeat;
    --all-top: url(all-top.png) no-repeat;
    --all-center: url(all-center.png) no-repeat;
    --all-bottom: url(all-bottom.png) no-repeat;
    --color-j: #3f50a2;
    --ngang: url(ngang3.png) no-repeat;
    --soc: url(soc3.png) no-repeat;
    --page: url(page.png) no-repeat;
}