#cv-top {
    width: 100%;
    height: 285px;
    background-image: url(bg-4.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}

#form-cv {
    font-family: "Roboto", sans-serif;
    width: 100%;
    float: left;
    position: relative;
    font-size: 14px;
    line-height: 23px;
}

.footer {
    float: left;
    width: 100%;
    height: 80px;
    background: url(ft4.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: -5px;
}

#cv-top h1 {
    font-size: 25px;
    font-family: "Roboto";
    text-transform: uppercase;
    margin-bottom: 0;
    color: #bf5b04;
    font-weight: bold;
    text-align: left;
    width: 90%;
    padding-left: 15px;
    background: url(tt-4.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    line-height: 55px;
    background-position: center bottom;
}

#cv-top h2 {
    text-transform: uppercase;
    width: 91%;
    font-size: 14px;
    font-family: "Roboto";
    color: #bf5b04;
    text-align: left;
    margin: 0;
    padding: 0;
    margin-top: 0px;
    margin-bottom: 0;
    padding-left: 15px;
    background: url(tt-4.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center bottom;
    line-height: 45px;
}

.cumicc1 {
    background: url(ic-41.png);
    width: 45px;
    height: 45px;
    float: left;
    background-position: center left;
    background-repeat: no-repeat;
}

.cumic2 {
    background: url(ic-42.png);
    width: 45px;
    height: 45px;
    float: left;
    background-position: center left;
    background-repeat: no-repeat;
}

.cumicc3 {
    background: url(ic-43.png);
    width: 45px;
    height: 45px;
    float: left;
    background-position: center left;
    background-repeat: no-repeat;
}

.cumic4 {
    background: url(ic-44.png);
    width: 45px;
    height: 45px;
    float: left;
    background-position: center left;
    background-repeat: no-repeat;
}

.cumic5 {
    background: url(ic-45.png);
    width: 45px;
    height: 45px;
    float: left;
    background-position: center left;
    background-repeat: no-repeat;
}

.cumic6 {
    background: url(ic-46.png);
    width: 45px;
    height: 45px;
    float: left;
    background-position: center left;
    background-repeat: no-repeat;
}

.cumic7 {
    background: url(ic-47.png);
    width: 45px;
    height: 45px;
    float: left;
    background-position: center left;
    background-repeat: no-repeat;
}

#cv-content .head1 {
    height: 35px;
    width: 100%;
    line-height: 35px;
    margin-bottom: 0;
    background: url(ic-48.png);
    background-position: center left;
    background-repeat: no-repeat;
    background-size: 93% auto;
    margin-left: -21px;
}

#cv-content .head2 {
    height: 35px;
    width: 100%;
    line-height: 35px;
    margin-bottom: 0;
    background: url(ic-49.png);
    background-position: center left;
    background-repeat: no-repeat;
    background-size: 93% auto;
    margin-left: -21px;
}

#cv-content .head3 {
    height: 35px;
    width: 100%;
    line-height: 35px;
    margin-bottom: 0;
    background: url(ic-410.png);
    background-position: center left;
    background-repeat: no-repeat;
    background-size: 93% auto;
    margin-left: -21px;
}

#cv-content .head4 {
    height: 35px;
    width: 100%;
    line-height: 35px;
    margin-bottom: 0;
    background: url(ic-411.png);
    background-position: center left;
    background-repeat: no-repeat;
    background-size: 93% auto;
    margin-left: -21px;
}

#cv-content .head5 {
    height: 35px;
    width: 100%;
    line-height: 35px;
    margin-bottom: 0;
    background: url(ic-412.png);
    background-position: center left;
    background-repeat: no-repeat;
    background-size: 93% auto;
    margin-left: -21px;
}

div#cv-right .ir {
    border-right: 2px solid #bf5b04;
}

#cvo-profile-avatar-wraper .wimg {
    width: 200px;
    height: 210px;
    padding: 0px;
    margin: 0px;
    margin-top: 0px;
    border: 5px solid #bf5b04;
}

.bar-exp div {
    float: left;
    height: 10px;
    background: #bf5b04;
    margin-top: 0px;
}

div#sort_block {
    padding: 10px;
    border-left: 2px solid #bf5b04;
    margin-left: -8px;
    padding-top: 0;
}

.icf .fa {
    font-size: 20px;
    color: #bf5b04;
    margin-top: 0;
    float: left;
}

div#cvo-experience-blocktitle {
    font-size: 19px;
    font-weight: bold;
    text-transform: uppercase;
    color: #bf5b04;
    padding-left: 65px;
}

div#cv-boxtitle {
    font-size: 19px;
    font-weight: bold;
    text-transform: uppercase;
    color: #bf5b04;
}

.footer {
    float: left;
    width: 100%;
    height: 80px;
    background: url(ft4.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: -5px;
}