#form-cv {
    font-family: "Roboto", sans-serif;
    width: 100%;
    float: left;
    position: relative;
    font-size: 14px;
    line-height: 24px;
    /* color:#808080; */
    background: #fff;
}


/* #form-cv p{
	margin-top: 0;
	margin-bottom: 6px
} */

#sortable .cvo-block {
    margin-bottom: 20px;
    margin-top: 8px;
    padding: 0 10px;
}

#cvo-profile {
    display: block;
}

.container {
    width: 52.99%;
    text-align: justify;
    float: left;
    position: relative;
    background-color: #cf4c34;
    /* padding-top: 10px; */
    padding-left: 0px;
}


/* #cv-content{
	background-image: url(main03.png);
	background-size: 100% auto;
	background-position: top;
	background-repeat: no-repeat;
} */

#cv-content .ir {
    width: 100%;
    color: #ffe6c2;
    padding: 0px;
    margin: 0px;
}

#cv-main {
    text-align: justify;
    padding: 0;
    position: relative;
    float: right;
    width: 46%;
}

#cv-right {
    color: #656565;
    padding-left: 20px;
}

#cv-right .ir {
    padding: 0 10px 0 0px;
}

p.skill-name input {
    color: #fff!important;
}

#cv-right .ctbx {
    padding: 0;
    margin: 0;
    border: 0;
}

#cv-top {
    width: 100%;
    height: 380px;
    background-image: url(header04.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
}

#cv-top #cvo-profile {
    width: 100%;
    height: 300px;
}

#box-hvt h1 {
    font-size: 30px;
    font-family: "Roboto";
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 0;
    color: rgb(231, 86, 59);
    margin-top: 0px;
    font-weight: bold;
    text-align: left;
}

#box-hvt #cv-profile-fullname {
    width: 120%;
}

#box-hvt {
    display: inline-block;
    float: right;
    height: 70px;
    width: 90%;
    padding-top: 0px;
    padding-left: 28px;
    padding-bottom: 10px;
    margin: 0px;
}

#cv-content #block02 h3 {
    font-weight: bold;
}

#cv-content {
    width: 100%;
    padding: 0px;
    margin: 0px;
}

#sortable #box01 {
    margin-top: 0;
    padding-top: 0px;
    padding-bottom: 10px
}


/* #sortable #box01 h3{
	color: #808080;
} */


/* #box01 ul{
	list-style: none;
	padding-left: 20px
} */

#cv-right .cvo-block .head div {
    color: #fff;
}

.innertext {
    margin: 0px;
    padding: 0px;
    width: 29%;
    float: left;
    color: white;
}

#box-hvt h2 {
    width: 100%;
    font-size: 18px;
    font-family: "Roboto";
    color: rgb(43, 43, 43);
    /* text-transform: ; */
    text-align: left;
    margin: 0px;
    padding: 0px;
}

#box-hvt h2 span {
    margin: 0px;
    padding: 0px;
    font-weight: bold;
}

.box-01 p {
    overflow: hidden;
}

#cv-content p {
    margin-bottom: 5px
}


/* #cv-content .ir a{
	color: #2ebb2f
} */

#cv-right h3,
#cv-content .head {
    font-size: 20px;
    text-transform: unset;
    /* color:#1c5fa2; */
    font-weight: bold;
    text-align: left;
    margin: 0px 0px 10px 0px;
    line-height: 20px;
    padding-top: 0px;
}

#cv-content .head {
    width: 82%;
    /* float: left; */
    background-color: #fed69d;
    padding: 10px 0 10px 50px;
    border-radius: 3px;
    color: #5a5a5a;
}

#cv-right h3 {
    color: #4f4f4f;
}

#cv-content h3 {
    font-size: 16px;
    font-weight: unset;
    margin: 0px;
    padding: 0px;
    color: #ffe6c2;
}

#cv-content p.h3 {
    margin: 0px;
    padding: 0px;
}

#cv-content .cvo-block {
    position: unset;
    width: 100%;
    margin: 0px;
    padding: 0px;
}


/* .ctbx{
	padding-left: 0px;
	padding-right: 10px
} */

#cv-content span {
    display: inline-block;
    z-index: 9999;
}

.ctbx {
    margin-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    margin-left: 0px;
}

.ctbx:hover {
    box-shadow: 0 0 1px #999;
}

.ctbx:hover .fieldgroup_controls {
    display: block;
}

[cvo-form-field] {
    cursor: text;
}

#cvo-profile-avatar-wraper {
    float: right;
    height: 220px;
    width: 74%;
    /* background-color: red; */
    padding: 25px 0 0 0;
}

#cvo-profile-avatar-wraper .wimg {
    width: 210px;
    height: 210px;
    /* border:3px solid #fff; */
    border-radius: 3px;
    padding: 0px;
    margin: 0px;
    margin-top: 0px;
}

#cvo-profile-avatar-wraper img {
    border-radius: 3px;
    width: 210px;
    height: 210px;
    float: none;
    display: inline-block;
}

#line-seperate {
    height: 25px;
}

.bar-exp div {
    float: left;
    height: 8px;
    background: #e7563b;
    border-radius: 4px;
    margin-top: 0px;
}

.ctbx .skill-name {
    margin: 0px;
    padding: 0px;
}

.bar-exp {
    background: #fed69d;
    border: 1px solid #e7563b;
    border-radius: 4px;
    height: 8px;
    margin-top: 0;
    margin-bottom: 12px;
    padding: 0px;
}

.bar-value-exp {
    width: 100%
}

.bar-value-exp input[type="text"] {
    color: #000;
    width: 95%
}

.icoweb label {
    display: block;
}

#sortable .ic {
    margin-bottom: 0px;
    padding: 5px 0px;
}

#form-cv .icf {
    background-color: #ea6b54;
    float: left;
    border-radius: 5px;
    line-height: 28px;
    margin-bottom: 0;
    width: 28px;
    text-align: center;
}

#cv-right .block {
    position: relative !important;
}

.ic .icoweb {
    width: 85%;
    text-align: left;
    padding-left: 5px;
    float: left;
}

.ic {
    width: 100%;
    float: left;
}

#prof span {
    width: 280px;
}

#prof [contentEditable=true] {
    width: 280px;
    float: left;
}

#prof .icoweb,
#prof .icoweb span {
    height: auto;
}

.icf .fa {
    font-size: 14px;
    color: #fff;
    margin-top: 0;
    float: none
}

.footer {
    display: inline-block;
    height: 77px;
    width: 100%;
    background-color: #111224;
}

.ftext {
    font-size: 16px;
    line-height: 77px;
    color: #fff;
    width: 90%;
    text-align: right;
}

#cv-content #experience-table {
    padding-left: 50px;
    padding-right: 23px;
}

.watermark {
    float: left;
    width: 100%;
    height: 22px;
    color: #999;
    text-align: right;
    padding-right: 22px;
    font-size: 15px;
    font-family: Courier;
}