#cv-top {
    width: 100%;
    height: 375px;
    background-image: url(hd1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}
.all{
  float: left;
  clear: both;
  width: 100%;
  background: url(main1.png)no-repeat;
  background-size: 100% 100%;
}
#cvo-profile-avatar-wraper .wimg {
    width: 190px;
    height: 190px;
    float: right;
    display: unset !important;
    /*border-radius: 10px;*/
    border: 2px solid #f0cfd5;
}
.bar-exp div {
    float: left;
    height: 7px;
    background: #f0cfd5;
    margin-top: 0px;
    border-radius: 10px;
}
.bar-exp {
    background: #fff;
    height: 7px;
    margin-top: 5px;
    margin-bottom: 0px;
    border: 1px solid #f0cfd5;
    border-radius: 10px;
    padding: 0px;
    float: right;
    width: 100%;
}
#cv-content .head {
    padding: 0;
    margin: 0 auto;
    height: 50px;
    line-height:50px;
    text-align: center;
    width: 100%;
    background:#f0cfd5;
}
.tt-box1 {
    padding: 0;
    margin: 0 auto;
    height: 50px;
    width: 100%;
    line-height: 50px;
    text-align: center;
    background:#f0cfd5;
}
.ski {
    padding: 0;
    margin: 0 auto;
    height: 50px;
    width: 100%;
    line-height: 50px;
    text-align: center;
    background:#f0cfd5;
}
.cum {
    padding: 0;
    margin: 0 auto;
    height: 50px;
    width: 100%;
    line-height: 50px;
    text-align: center;
    background:#f0cfd5;
}