#form-letter{
	color:#459e78;
	background-size: 100%;
}

#lt-top h1{	
	color: #459e78;
}

#lt-right .box-02{
	color:#459e78;
		border-top: dashed 1px #459e78;
	border-bottom: dashed 1px #459e78;
}

.box-02 i.fa{
	color: #459e78;
}

div#ffoo{
    background : linear-gradient(0deg, #459e78, #a89a36);
    background : -moz-linear-gradient(0deg, #459e78, #a89a36);
    background : -webkit-linear-gradient(0deg, #459e78, #a89a36);
    background : -o-linear-gradient(0deg, #459e78, #a89a36);
}

#cvo-profile-avatar-wraper::before{
	content: url('../../arr1.png');
}
