#form-cv{

	line-height: 26px;

}
#cv-top h1{
	   
    line-height: 41px;

}
#cv-right .h3{

    line-height: 34px;

}
#cv-right .h3 span{

    line-height: 24px;

}
 #cv-content .head{
  
    line-height: 34px;

}

#cv-content .head span{

	line-height: 24px;

}

#cv-right .icoweb i.fa{

    line-height: 19px;

}