#form-cv{

	line-height: 22px;

}
#cv-top h1{
	   
    line-height: 37px;

}
#cv-right .h3{

    line-height: 30px;

}
#cv-right .h3 span{

    line-height: 20px;

}
 #cv-content .head{
  
    line-height: 30px;

}

#cv-content .head span{

	line-height: 20px;

}

#cv-right .icoweb i.fa{

    line-height: 15px;

}