/* 2 */

#cv-top {
    background: url(../top2.png) no-repeat;
    background-size: 100%;
}

#box-hvt {
    background: url(../info2.png) no-repeat;
    background-size: 1% 100%;
    background-position: left center;
}

.ic1 {
    width: 35%;
    background: url(../date2.png) no-repeat;
    background-position: 1px center;
}

.ic2 {
    width: 22%;
    background: url(../sex2.png) no-repeat;
    background-position: 1px center;
}

.ic3 {
    width: 40%;
    background: url(../phone2.png) no-repeat;
    background-position: 1px center;
}

.ic4 {
    width: 92%;
    background: url(../email2.png) no-repeat;
    background-position: 1px center;
}

.ic5 {
    width: 92%;
    background: url(../add2.png) no-repeat;
    background-position: 1px center;
}

.all {
    background: url(../soc2.png) no-repeat;
    background-size: 0.6% 100%;
    background-position: 355px 0px;
}

div#cv-boxtitle {
    background: url(../left2.png) no-repeat;
    background-position: left center;
}

.bar-exp {
    background: url(../skill2.png) no-repeat;
}

.bar-exp div {
    background: url(../kn2.png) no-repeat;
}

#cv-content #block01 .head {
    background: url(../hocvan2.png) no-repeat;
    background-position: left center;
}

#cv-content #block02 .head {
    background: url(../kinhnghiem2.png) no-repeat;
    background-position: left center;
}

#cv-content #block03 .head {
    background: url(../hoatdong2.png) no-repeat;
    background-position: left center;
}

#cv-content #block04 .head {
    background: url(../duan2.png) no-repeat;
    background-position: left center;
}

#cv-content #block05 .head {
    background: url(../them2.png) no-repeat;
    background-position: left center;
}

#cv-content .head #cvo-experience-blocktitle {
    color: #7a4b9b;
}

.footer {
    background: url(../foot2.png) no-repeat;
}