p.skill-name input,
#cv-content .exp-content,
#form-cv {font-size: 16px;}
#cvo-profile-info h1 {font-size: 40px;}
#cvo-profile-info h2 {font-size: 22px;}
#cv-content .head,
#cv-right .h3 {font-size: 19px;}
#cv-content span.exp-date {font-size: 15px;}
#cv-content .exp-title {font-size: 18px;}
#cv-content .exp-subtitle {font-size: 17px;}
#cv-content .head:before {font-size: 23px;}
