p.skill-name input,
#cv-content .exp-content,
#form-cv {font-size: 14px;}
#cvo-profile-info h1 {font-size: 36px;}
#cvo-profile-info h2 {font-size: 20px;}
#cv-content .head,
#cv-right .h3 {font-size: 17px;}
#cv-content span.exp-date {font-size: 13px;}
#cv-content .exp-title {font-size: 16px;}
#cv-content .exp-subtitle {font-size: 15px;}
#cv-content .head:before {font-size: 21px;}