#cv-top h1 {
  color: #027368;
}
#cv-top h2 {
  color: #027368;
}
#cv-content h3 {
  color: #027368;
}
.icf .fa {
  color: #027368;
}
#cv-content .head {
  color: #027368;
}
div#cv-boxtitle {
  color: #027368;
  border-bottom: 4px solid #027368;
}
.bar-exp div {
  background: #027368;
}
.bar-exp {
  border: 1px solid #027368;
}
.all {
  border-bottom: 25px solid #027368;
}
#cv-top {
  background-image: url(hd1-2.png);
}
.cumicc1{
  background: url(ic1-2.png)no-repeat;
}
.cumicc2{
 background: url(ic2-2.png)no-repeat;
}
.cumicc3{
 background: url(ic3-2.png)no-repeat;
}
.cumicc4{
 background: url(ic5-2.png)no-repeat;
}
.cumicc5{
 background: url(ic4-2.png)no-repeat;
}
.cumicc6{
 background: url(ic6-2.png)no-repeat;
}
.cumicc7{
 background: url(ic7-2.png)no-repeat;
}
.icright1 {
  background: url(ict1-2.png)no-repeat;
}
.icright2 {
  background: url(ict2-2.png)no-repeat;
}
.icright3 {
  background: url(ict3-2.png)no-repeat;
}
.icright4 {
  background: url(ict4-2.png)no-repeat;
}
.icright5 {
  background: url(ict5-2.png)no-repeat;
}
