/* 2 */
:root {
  --time: url(small_round2.png) no-repeat;
  --border-info: url(border_info2.png) no-repeat;
  --avatar-shadow: url(avatar_shadow2.png) no-repeat;
  --short-line: url(short_line2.png) no-repeat;
  --long-line: url(long_line2.png) no-repeat;
  --big-round: url(big_round2.png) no-repeat 0px 4px;
  --rating: url(rate2.png) no-repeat;
  --border-title: url(border_title2.png) no-repeat -1px 17px;
  --plus-round: url(round_plus2.png) no-repeat;
  --date: url(date2.png) no-repeat;
}