#form-letter {
	width: 100%;
	height: 1130px;
	float: left;
	color: #000000;
	position: relative;
	background: url(ft2.png)no-repeat bottom center;
	background-size: contain;
}

#content {
	padding-right: 20px;
	padding-left: 55px;
	padding-top: 20px;
	background: url(hd2.png)no-repeat;
	background-size: 100% 100%;
}

#lt-right {
	position: relative;
	float: right;
	width: 100%;
	margin-top: 30px;
	padding: 20px 0 20px 0;
	border-top: 2px solid #004d47;
	border-bottom: #004d47 2px solid;
}
#lt-top h1 {
	text-transform: uppercase;
	display: block;
	font-size: 24px;
	line-height: 24px;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 15px;
	text-align: center;
	color: #004d47;
	width: 70%;
	float: right;
}

#lt-top h2 {
	font-size: 14px;
	line-height: 18px;
	text-transform: capitalize;
	color: #004d47;
	font-weight: bold;
	text-align: center;
	margin-bottom: 10px;
	margin-top: 0
}

#lt-right .box-02 {
	margin-bottom: 0;
	margin-left: 0;
	width: 70%;
	float: right;
	color: #004d47;
}

.icf .fa {
	font-size: 18px;
	color: #004d47;
	font-weight: normal;
	margin-top: 0;
	float: left
}