#form-cv {
    font-family: "Roboto", sans-serif;
    width: 100%;
    float: left;
    font-size: 14px;
    line-height: 24px;
    color: #565656;
    padding: 0px;
    margin: 0px;
}

.cv_tt {
    float: left;
    width: 100%;
    /* background: #3a93a5;
    padding-right: 3%; */
}

#box01 p [contentEditable=true] {
    width: 240px;
    display: inline-block;
}

#cv-main {
    background-image: url(bgsummer.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    float: left;
    width: 100%;
    margin: 0px;
    padding: 0px;
    /* background: #fff */
}

#cv-content {
    text-align: justify;
    width: 46%;
    float: left;
    padding: 0px;
    margin: 0px;
    padding-left: 3%;
    padding-right: 2%;
}

#cv-right {
    text-align: justify;
    width: 43.999%;
    float: left;
    padding: 0px;
    margin: 0px;
    /* padding-left: 4%; */
}

#cv-top {
    height: 237px;
    float: left;
    width: 100%;
    /* background: url('bghead.png') top left red no-repeat; */
}

#box-hvt {
    font-family: "Roboto";
    padding-top: 23px;
    padding-left: 5px;
}

#sort_block,
.cv-right .ir,
#sortable {
    float: left;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

#cv-content .cvo-block,
#cv-right .block {
    float: left;
    padding: 0px !important;
    margin: 0px;
    width: 100%;
    margin-top: 15px;
}

#cv-content .head,
#cv-right h3,
#cv-right .cvo-block p {
    float: left;
    /* padding: 0px; */
    margin: 0px;
    width: 100%;
}

#cv-content #experience-table {
    float: left;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

#cv-content #experience-table .ctbx {
    float: left;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

#cv-content h3 {
    float: left;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

#cv-content .h3 {
    float: left;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

#cv-content .exp-content {
    float: left;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

div {
    margin: 0px;
    padding: 0px;
}

.ctbx {
    position: relative;
}

.ctbx:hover {
    box-shadow: 0 0 1px #999;
}

.ctbx:hover .fieldgroup_controls {
    display: block;
}

.bar-exp {
    height: 8px;
    margin-top: 8px;
    margin-bottom: 0px;
}

.bar-exp {
    height: 8px;
    float: left;
    margin: 8px 0px;
}

.bar-exp div {
    float: left;
    height: 8px;
    background: #ff824c;
}

#cv-title {
    padding: 5px 0;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    margin-bottom: 8px;
    font-size: 20px
}

.exp .ctbx {
    margin: 5px 0px;
    display: table;
    width: 98%;
}

.edit-content .bar-value-exp {
    display: block;
}

.bar-value-exp {
    display: none;
}

.bar-exp {
    width: 100%;
    background: #959595;
    height: 8px;
    float: left;
    margin-bottom: 12px
}

.bar-value-exp {
    width: 100%;
    float: right;
}

p.skill-name input {
    border-bottom: 0;
    font-size: 14px;
    border: 0
}

.bar-value-exp input[type="text"] {
    width: 100%;
    padding: 5px;
    border-radius: 4px;
    color: #fff;
}

#cv-right .h3,
#cv-content .head {
    background: none;
    text-align: left;
    /* color: #374d59; */
    border-radius: 5px;
}

#cv-content .head {
    text-transform: uppercase;
    color: #13989e;
    border: 5px;
    height: 38px;
    line-height: 38px;
    font-size: 20px;
    text-indent: 5px;
    font-weight: bold;
}

#cv-content h3 {
    font-weight: bold;
    font-size: 16px;
    /* color: #ff824c */
}

#page-cv {
    max-width: 790px
}

.ava {
    float: left;
    width: 20%;
    padding: 30px 40% 0px;
}

#cvo-profile-avatar-wraper {
    float: left;
    width: 100%;
    border: solid 4px #ff824c;
    border-radius: 5px;
}

#box-hvt h1 {
    color: #3bd1d8;
    font-size: 47px;
    line-height: 43px;
    text-align: center;
    text-transform: uppercase;
    margin: 7px 0px;
    font-weight: bold;
    float: left;
    width: 100%;
}

#box-hvt h2 {
    color: #fff;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    float: left;
    width: 100%;
    /* background-image: url('bg_h1.png');
    background-position: center center;
    background-repeat: no-repeat; */
    /* background-color: #fff */
}

#cv-right .block h3 {
    text-transform: uppercase;
    color: #13989e;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 12px;
    font-weight: bold;
}

#cv-right {
    color: #374d59;
    /* background-color: #fff; */
}

#cv-right #box02 {
    color: #565656;
}

#cv-right p {
    text-align: justify;
}

#cv-right .icoweb i.fa {
    margin-top: 6px;
    font-size: 15px;
    width: 25px;
    color: #fff;
}

.box-contact p {
    line-height: 32px;
    margin-bottom: 7px !important;
    text-indent: 10px !important;
}


/* .box-contact p.cvi-date{
    background: #919191;
}

.box-contact p.cvi-phone{
    background: #3a93a5;
}

.box-contact p.cvi-envelope-square{
    background: #ff824c;
}

.box-contact p.cvi-map-marker{
    background: #baddd6;
}

.box-contact p.cvi-user{
    background: #c6c6c6;
} */

#sortable .box-contact p.icoweb {
    margin-bottom: 7px;
}

.ft {
    background: url('footer.png') bottom center;
    background-repeat: no-repeat;
    height: 130px;
    float: left;
    width: 100%;
}

.skill-name {
    padding: 0px 5px;
    background-color: #d4d4d4;
}

#exp2 .exp-title {
    color: #fff;
}

#block02 #exp1 .exp-title {
    color: #fff;
}

#block02 #exp1 h3 {
    margin: 5px 0px;
    font-weight: normal;
    height: 30px;
    width: 88%;
    background-color: #3bd1d8;
    padding: 0px 5px;
}

#block02 #exp2 h3 {
    margin: 5px 0px;
    font-weight: normal;
    height: 30px;
    width: 88%;
    background-color: #3bd1d8;
    padding: 0px 5px;
}

.outsite {
    width: 100%;
    height: 39px;
}

.ctnexp {
    height: 39px;
    width: 87%;
    float: right;
}

.inside1 {
    float: left;
    width: 39px;
    height: 39px;
    background-image: url(inside1.png);
}

.inside2 {
    float: left;
    width: 39px;
    height: 39px;
    background-image: url(inside1.png);
}

.inside3 {
    float: left;
    width: 39px;
    height: 39px;
    background-image: url(inside1.png);
}

.inside4 {
    float: left;
    width: 39px;
    height: 39px;
    background-image: url(inside1.png);
}

.inside5 {
    float: left;
    width: 39px;
    height: 39px;
    background-image: url(inside1.png);
}

#cv-content #block02 #exp1 .h3 {
    font-weight: bold;
}

#cv-content #block02 #exp2 .h3 {
    font-weight: bold;
}

.watermark {
    float: left;
    width: 100%;
    height: 22px;
    color: #999;
    text-align: right;
    padding-right: 22px;
    font-size: 15px;
    font-family: Courier;
}