#cv-top h1 {
    color: #9d6604;
}

#cv-top h2 {
    color: #9d6604;
}

#cv-content h3 {
    color: #9d6604;
}

#form-cv {
    line-height: 20px;
}

.bar-exp {
    border: 1px solid #9d6604
}

#cv-content .head {
    color: #9d6604;
}

.tt-box1,
.cum2,
.ski,
.cum4,
.cum5,
.cum6,
.cum7 {
    background: #9d6604;
}

.bar-exp div {
    background: #9d6604;
}

.icf .fa {
    color: #9d6604;
}

div#block01 {
    border-top: 2px solid #9d6604;
}

#experience-table .ctbx {
    line-height: 33px;
    width: 430px;
}

div#block01,
div#block02,
div#block03,
div#block04,
div#block05 {
    border-left: 2px solid #9d6604;
    border-bottom: 2px solid #9d6604;
}

.all {
    border-bottom: 30px solid #9d6604;
}

#cv-top {
    background-image: url(hd-3.png);
}

.cumicc1 {
    background: url(ic1-3.png)no-repeat;
    background-position: 2px 5px;
}

.cumicc2 {
    background: url(ic2-3.png)no-repeat;
    background-position: 2px 3px;
}

.cumicc3 {
    background: url(ic3-3.png)no-repeat;
    background-position: 5px 6px;
}

.cumicc4 {
    background: url(ic5-3.png)no-repeat;
    background-position: 5px 4px;
}

.cumicc5 {
    background: url(ic7-3.png)no-repeat;
    background-position: 5px 4px;
}

.cumicc6 {
    background: url(ic6-3.png)no-repeat;
    background-position: 5px 4px;
}

.cumicc7 {
    background: url(ic7-3.png)no-repeat;
    background-position: 5px 4px;
}

.icright1 {
    background: url(ict1-3.png)no-repeat;
}

.icright2 {
    background: url(ict2-3.png)no-repeat;
}

.icright3 {
    background: url(ict3-3.png)no-repeat;
}

.icright4 {
    background: url(ict4-3.png)no-repeat;
}

.icright5 {
    background: url(ict5-3.png)no-repeat;
}