#cv-content .head:before,.bg-right {
    background-color: #607D8B!important;
}

.color-right {
    color: #607D8B!important;
}

#cvo-profile-avatar-wraper,.bar-exp span,.bg-top {
    background-color: #314048!important;
}