#cv-content .head:before,.bg-right {
    background-color: #7986CB!important;
}
#cvo-profile-avatar-wraper,.bar-exp span,.bg-top {
    background-color: #363a55!important;
}
.color-right {
    color: #7986CB!important;
}