#cv-content .head:before,.bg-right {
    background-color: #9CCC65!important;
}

.color-right {
    color: #9CCC65!important;
}

#cvo-profile-avatar-wraper,.bar-exp span,.bg-top {
    background-color: #424e35!important;
}