#cv-content .head:before,.bg-right {
    background-color: #e57373!important;
}

.color-right {
    color: #e57373!important;
}

#cvo-profile-avatar-wraper,.bar-exp span,.bg-top {
    background-color: #3d2929!important;
}