#form-letter{
	
	background: url('../../nendep94.jpg') #fff left top repeat-y;
	background-size: cover; 
	background-position: 20% 110%;
	color:#000;
	border-top:solid 25px #c5f2eb;
	border-right:solid 25px #c5f2eb;
	border-left:solid 2px #c5f2eb;
	border-bottom:solid 2px #c5f2eb;
	position: relative
}