        #cv-top {
    /* width: 100%; */
    background: url(hd3.png);
    background-size: 100% 100%;
    /* background-repeat: no-repeat;
    height: 580px; */
}
.all {
    /* float: left;
    clear: both;
    width: 100%; */
    background: url(main3.png)no-repeat;
    background-size: 100% 100%;
}
#cv-top h1 {
    /* font-family: "Roboto";
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 0; */
    color: #4bdfff;
    /* margin-top: 0;
    text-align: center;
    font-size: 50px;
    font-weight: bold; */
}
#cv-right h3, #cv-content .head {
    /* width: 300px;
    margin: auto;
    font-size: 20px;
    text-transform: unset; */
    color: #4bdfff;
    /* font-weight: bold;
    text-align: left;
    margin-left: 0px;
    text-transform: uppercase; */
}
.icf .fa {
    /* font-size: 25px; */
    color: #4bdfff;
    /* margin-top: 0;
    float: none; */
}
#cvo-experience-blocktitle {
    /* height: 35px; */
    color: #4bdfff;
    /* width: 68%;
    text-transform: uppercase; */
}
.bar-exp div {
    /* float: left;
    height: 10px;
    border-radius: 10px; */
    background: #4bdfff;
    /* margin-top: 0px; */
}
.bar-exp {
    /* background: none;
    height: 10px;
    float: none;
    margin-top: 0;
    margin-bottom: 0px;
    padding: 0px;
    width: 60%;
    border-radius: 10px;
    margin-left: 25px; */
    border: #4bdfff solid 1px;
}
.box-dm {
    /* clear: both;
    z-index: 1;
    margin-top: -336px;
    margin-left: 247px;
    position: absolute;
    width: 299px;
    height: 299px;
    float: left; */
    background: url(avata3.png)no-repeat;
    background-size: 100% 100%;
    /* top: -900px; */
} 
/* #cvo-profile-avatar{
      width: 294px;
        height: 296px;
} */