#form-cv {
  width: 100%;
  float: left;
  position: relative;
  font-size: 14px;
  line-height: 24px;
  color: #484848;
  background: url(bg3.png)no-repeat;
  background-size: 100% 100%;

}

.ico-1 {
  width: 30px;
  height: 30px;
  float: right;
  background: url(icon1b.png)no-repeat;
  background-position: right center;
}

.ico-2 {
  width: 35px;
  height: 30px;
  float: right;
  background: url(icon2b.png)no-repeat;
  background-position: right center;
}

.ico-3 {
  width: 30px;
  height: 30px;
  float: right;
  background: url(icon3b.png)no-repeat;
  background-position: right center;
}

.ico-4 {
  width: 30px;
  height: 30px;
  float: right;
  background: url(icon4b.png)no-repeat;
  background-position: right center;
}

.ico-5 {
  width: 30px;
  height: 30px;
  float: right;
  background: url(icon5b.png)no-repeat;
  background-position: right center;
}

#cv-content .head {
  width: 88%;
  height: 30px;
  line-height: 30px;
  background-position: left center;
  margin-left: 25px;
  float: left;
  margin-bottom: 10px;
  border-bottom: 2px solid #9f4066;
}

#cv-content .head span {
  color: #9f4066;
}

#cv-right {
  float: left;
  width: 92%;
  /* background-color: #424242; */
  color: #000;
  padding-top: 35px;
  background: #9f4066;
  margin-left: 15px;
}