
#sortable #box02.cvo-block span.box-content, .cr {
    color: #ff7d00!important;
}
.bar-exp span,.bg {
    background-color: #ff7d00!important;
}
.bd {
    border-color: #ff7d00!important;
}
#page-cv{
    width: 1072px;
    float: left;
}
#form-cv {
    width: 900px;
    min-height: 1273px;
    float: left;
    background: #fff;
    position: relative;
    font-size: 15px;
    line-height: 33px;
    color: #333;
    overflow: hidden;
    border: 1px solid #333;
}


#cv-main{
    width: 100%;
    display: table;
    margin:0 auto;
}

#cv-center {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: transparent;
    padding: 20px 33px 20px 0px;
    margin-left: 120px;
}

#cv-right{
    padding: 0;
    margin-top: 15px;
}

/* Code top */
#cv-top{
    position: relative;
    color: white!important;
    background-image: url(images/f99882c4e33610c93bb5429d8553e246.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.box-01 p{}
.box-01 {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
}

#cvo-profile-info {
    width: calc(100% - 245px);
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#cvo-profile-info:after {
    width: 60%;
    height: 3px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    background-color: #fff;
    transform: translateX(-50%);
}


#cvo-profile-avatar-wraper {
    padding: 0;
    margin-right: 30px;
    width: 214px;
    height: 214px;
}

#cvo-profile-avatar-wraper #cvo-profile-avatar {
    padding: 0;
    width: 200px;
    height: 200px;
    border: 7px solid #b5f7dc17;
}

#cv-top h1 {
    color: #b5f7dc;
    font-size: 62px;
    font-weight: normal;
    margin-bottom: 10px;
    line-height: 70px;
    text-transform: capitalize;
    text-shadow: 1px 1px 0px #000;
    position: relative;
}
#cv-top h1:after,
#cv-top h1:before {
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: white;
    z-index: 0;
}
#cv-top h1:after {
    top: 42%;
}
#cv-top h1:before {
    bottom: 42%;
}

#cv-top h1 span {
    z-index: 99;
}

#cv-top h2 {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    text-shadow: 1px 1px 0px #000;
    color: #d9d9d9;
}
/* CV Right */
#cv-right .ctbx {
    padding-bottom: 0;
    margin:0;
    position: relative;
}
#cv-right .block {
    padding: 0;
}


#cv-content #experience-table , #sortable .cvo-block {
    box-sizing: border-box;
    padding: 5px 0 10px 120px;
    margin: 0px;
    border-left: 3px solid #0070ff;
    position: relative;
}
/* Box 1 */


/* Box 2 */
/*#sortable #box02.cvo-block {
    position: absolute;
    top: 142px;
    left: 0;
    width: calc(100% - 280px);
    margin: 0;
    box-sizing: border-box;
    padding: 0 10px 10px;
    text-shadow: 1px 1px 0px #000;
    border: none;
}
#sortable #box02.cvo-block:hover .blockControls{
    display: none;
}*/


#sortable #box02.cvo-block span.box-content {
    line-height: 23px;
    font-weight: 500;
    font-size: 105%;
}

/* Code chung h3 tiÃƒÆ’Ã‚Âªu Ãƒâ€žÃ¢â‚¬ËœÃƒÂ¡Ã‚Â»Ã‚Â cv-right */
#cv-content .head ,#cv-right .h3 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    overflow: hidden;
    line-height: 25px;
    display: inline-block;
    position: absolute;
    top: 6px;
    left: 0;
    transform: translateX(-50%);
    width: 188px;
    text-align: center;
    padding: 5px 0;
    background-color: #FFF!important;
    margin: 0px;
    z-index: 9990;
    color: #0070ff;
}

#cv-right .h3:nth-child(1){
    top: 0px;
}
#cv-right .h3 span {
}

/* Ico web */
.box-contact {
    /*box-sizing: border-box!important;
    width: 100%;
    position: absolute !important;
    top: 236px;
    left: 0;
    right: unset;
    display: flex;
    flex-wrap: wrap;
    padding: 0 15px!important;*/
}

/*.icoweb:nth-child(odd) {
    margin-right: 5px;
}*/

/*.icoweb label{
    width: 35%;
    margin-right: 0;
    float: left;
}*/
#cv-right .icoweb span{
    display: inline-block;
}

#cv-right .icoweb span.cv-ico-center {
    margin-right: 30px;
}

#cv-right .icoweb span.cv-hi {
    text-transform: capitalize;
    min-width: 100px;
}



/* Content */
#cv-content .cvo-block {
    padding: 0
}
#cv-content .ir{
}
#cv-content p{
    /*margin-bottom: 5px*/
}
#cv-content .ir a{
    color: #2ebb2f
}

#cv-content .h3{
    margin-bottom: 0;
    font-weight: 500;
}

#experience-table{padding: 0;}

/* content 2*/

#cv-content .head span {}

#cv-content h3 {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 0px;
}

#cv-content span.exp-date {
    display: block;
    float: none;
    padding: 5px 10px;
    font-size: 16px;
    color: #fff;
}

#cv-content .exp-title {
    display: block;
    margin: 12px 0 0;
}

#cv-content .exp-subtitle {
    margin: 0;
    display: block;
}
#cv-content .exp-content {
    /*padding: 0 0 0 15px;*/
    display: block
}

/* Module KÃƒÂ¡Ã‚Â»Ã‚Â¹ nÃƒâ€žÃ†â€™ng */
.box-content, .skill {
    padding: 10px;
    display: block;
}/* code Chung */

.bar-exp span {
    float: left;
    height: 10px;
    background: #f8cb4e;
}
.bar-exp {
    background: #cecece;
    margin-top: 10px;
    height: 10px!important;
}

.bar-value-exp{
    width: 50%
}
.skill-name{
    display: block;
}
.skill-name input{
    font-weight: 500;
    color: #303440;
}

#line-seperate {
    height: 25px;
    background-color: #e3ecec;
}

.cv-head{
    width: 100%;
    padding: 0px;
    margin: 0px;
    height: 45px;
}
.box-content{
}

/*css cvh */
[cvo-form-field] {
    cursor: text;
}
.ctbx:hover {
    box-shadow: 0 0 1px #999;
}

#cv-content .ctbx {
    position: relative;
}

div#exp1 {}
.ctbx:hover .fieldgroup_controls{
    display: block;
}
.ctbx .r5 .h3{
    text-transform: uppercase;
}
/* ChÃƒÂ¡Ã‚Â»Ã¢â‚¬Â°nh sÃƒÂ¡Ã‚Â»Ã‚Â­a lÃƒÂ¡Ã‚Â»Ã¢â‚¬â€i bÃƒÆ’Ã‚Âªn css cvh */
#cv-right .fieldgroup_controls {
    top: -19px!important;
    right: 9px;
}

#cv-content .fieldgroup_controls {
    top: -33px!important;
    right: 0;
}
