#form-cv {
  font-family: "Roboto", sans-serif;
  width: 100%;
  float: left;
  position: relative;
  font-size: 14px;
  line-height: 24px;
  color: #000;
}

#sortable .cvo-block .box-content {
  margin: 0;
  width: 100%;
  color: #000;
  padding: 0 15px 0 18px;
  text-align: justify;
}

.exp.content-edit.skill {
  float: left;
}


#cvo-profile {
  display: block;
}

#cv-content {
  width: 45%;
  text-align: justify;
  float: left;
  position: relative;
  z-index: 2;
  padding: 0;
  margin: 0 0px 0 19px;
}

#cv-profile-sex:before {
  color: #fff;
}

#cv-profile-birthday:before {
  color: #fff;
}

#cv-main {
  text-align: justify;
  margin: 0px;
  width: 50%;
  padding: 0px 0px 0 0px;
  /* background: url(border_content1.png) no-repeat; */
  /* background-position: 392px 14px; */
  float: left;
}

.chu {
  float: right;
  width: 100%;
}

.anh {
  float: left;
  width: 33%;
  padding-top: 25px;
  position: relative;
  background: #fff;
  /* background-position: 80px 36px; */
}

#cv-right .ir {
  padding: 0;
  margin: 0;
}

#cv-main #cv-right {
  padding: 0;
  margin: 0;
  float: left;
  width: 100%;
}

#cv-main #cv-right .ir #sortable {
  padding: 0;
  margin: 0;
  width: 100%;
}

#cv-right .ir #sortable .block {
  padding: 0;
  margin: 0;
  float: left;
  width: 100%;
  margin-bottom: 25px;
  text-align: center;

}

p.skill-name input {
  color: #fff !important;
}

#cv-right #box03 .ctbx {
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  padding-bottom: 5px;
  float: left;
}

#cv-content #box01 {
  padding: 0;
  margin: 0;
}

#box03 .exp {
  float: left;
  padding: 0px 10px;
  width: 100%;
}

#cv-top {
  width: 100%;
  float: left;
  margin-bottom: 10px;
}

.all {
  float: left;
  clear: both;
  width: 100%;
  /* margin: -19px 0 0 0; */
  padding: 0;
  background: url(border_content1.png) no-repeat;
  background-position: 392px 24px;
  background-size: 2px 100%;
  padding-top: 10px;
}

#cv-top h1 {
  padding: 0;
  margin: 0;
  font-size: 35px;
  font-family: "Roboto";
  text-transform: uppercase;
  margin-bottom: 0;
  color: #000;
  font-weight: bold;
  width: 95%;
  float: left;
  padding-top: 20px;
  padding-bottom: 5px;
  position: relative;
  line-height: 45px;
}

#cv-top h1 span {
  letter-spacing: 1px;
  width: 100%;
  line-height: 45px;
}

div#box01 {
  float: right;
  width: 92%;
  margin-right: 55px;
}

#box-hvt {
  float: right;
  width: 60%;
  padding: 0;
  /* margin: 0 0 0 11px; */
  padding-top: 15px;
}

#cv-right .cvo-block .head div {
  color: #fff;
}

.innertext {
  margin: 0px;
  padding: 0px;
  width: 29%;
  float: left;
  color: white;
}

#cv-profile-fullname::before {
  color: #000;
}

#cv-top h2 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  width: 95%;
  font-size: 21px;
  float: left;
  font-weight: bold;
  position: relative;
}

.box-01 p {
  overflow: hidden;
}

#cv-content p {
  margin-bottom: 5px
}

#cv-content .ir a {
  color: #2ebb2f
}

#cv-content h3 {
  float: left;
  width: 100%;
  font-weight: unset;
  font-size: 14px;
  line-height: 24px;
  margin: 0px;
  padding: 0px;
  color: #000;
  display: inline;
}

#cv-content #block03 h3 {
  font-weight: unset;
  float: left;
}

#cv-content p.h3 {
  float: left;
  width: 100%;
  margin: 0px;
}

#cv-content .cvo-block {
  float: left;
  width: 100%;
}

#cv-content .ir .cvo-block {
  padding: 0;
  background-position: top;
  margin-bottom: 25px;
}

.ctbx {
  padding-left: 10px;
  padding-right: 10px
}

#experience-table .ctbx {
  padding-left: 0;
  padding-right: 0;
  position: relative;
}


.ctbx:hover {
  box-shadow: 0 0 1px #999;
}

.ctbx:hover .fieldgroup_controls {
  display: block;
}

[cvo-form-field] {
  cursor: text;
}

#cvo-profile-avatar-wraper {
  width: 100%;
  padding: 0;
  margin: 0;
}

#cvo-profile-avatar-wraper .wimg {
  width: 190px;
  height: 190px;
  margin-left: 35px;
  /* padding-top: 17px; */
  border: solid 1px #000;
  border-radius: 99em;
}

#cvo-profile-avatar-wraper img {
  width: 187px;
  height: 187px;
  float: left;
  border: solid 5px #fff;
  border-radius: 99em;
}

.box-01 {
  float: left;
  width: 100%;
  padding-bottom: 20px;
}

#cvo-profile {
  float: left;
  background: url(ngang1.png) no-repeat, url(dg-ke1.png) no-repeat, url(dg-ke1.png) no-repeat;
  background-position: 127px bottom, 127px 43px, 768px 0px;
  background-size: 643px 2px, 2px 100%, 2px 100%;
  display: block;
}

#line-seperate {
  height: 25px;
}

.bar-exp div {
  float: left;
  height: 21px;
  background: url(rating1.png) no-repeat;
  background-position: left top;
}

.ctbx .skill-name {
  margin: 0px;
  padding: 0px;
  color: #000;
  float: left;
  width: 360px;
  padding-left: 10px;
  text-align: left;
}

.bar-exp {
  height: 21px;
  margin-bottom: 0px;
  padding: 0px;
  float: left;
  width: 360px;
  background: url(rating_empty.png) no-repeat;
}

.bar-value-exp {
  width: 100%
}

.bar-value-exp input[type="text"] {
  color: #000;
  width: 95%
}

.icoweb label {
  display: block;
}

#cv-right .block {
  position: relative;
  padding: 0;
  margin: 0;
}

.ic .icoweb {
  width: calc(100% - 30px);
  text-align: left;
  padding-left: 5px;
  float: left;
  color: #000;
}

.ic {
  width: 100%;
  float: left;
  color: #000;
  padding-bottom: 10px;
}

#prof [contentEditable=true] {
  width: 100%;
  float: left;
}

#prof .icoweb,
#prof .icoweb span {
  height: auto;
  text-align: left;
  width: 100%;
  float: left;
}

div#prof {
  float: right;
  width: 100%;
}

#form-cv .icf {
  float: left;
  line-height: 20px;
  margin-bottom: 0;
  width: 26px;
  height: 20px;
  text-align: left;
  display: none;
}

.ic02 {
  float: right;
  width: 64%;
}

.ic03 {
  float: left;
  width: 35%;
}

.icf .fa {
  font-size: 20px;
  color: #000;
  margin-top: 0;
  float: left;
}

.container {
  width: 100%;
}

.sum {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 30px;
}

#cv-right .block {
  margin-bottom: 10px;
  position: relative;
  padding: 0;
  padding-bottom: 20px;
}

#experience-table .ctbx {
  float: left;
  width: 100%;
  margin-top: 10px;
  margin-top: 15px;
  margin-bottom: 0px;
}

#cv-right h3 {
  width: 100%;
  height: 30px;
  margin: 0;
  color: #ffffff;
  padding: 0;
  float: left;
  line-height: 30px;
  text-align: center;
  background: #b82731;
}

#cv-content .head #cvo-experience-blocktitle {
  color: #000;
  z-index: 990;
  width: 86%;
  padding: 0px 10px;
  margin-left: 25px;
  float: left;
  text-align: center;
  border: solid 1px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

#bg {
  background: #F58284;
  text-align: left;
}

div#experience-table {
  float: left;
  border-radius: 10px;
}

#cv-boxtitle {
  width: 75.5%;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
  padding: 0px 0px 0px 31px;
  border-bottom: solid 1px;
  border-top: solid 1px;
  border-right: solid 1px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

.ski {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  line-height: 30px;
  text-align: left;
}

.cum {
  width: 100%;
  line-height: 30px;
}

div#sort_block {
  padding: 0;
  margin: 0;
  float: left;
  width: 100%;
}

.cvo-block .blockControls {
  margin: 0px;
  padding: 0px;
}

#cv-profile-job::before {
  color: #000;
}

.footer {
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
}

.watermark {
  float: left;
  width: 100%;
  color: #000;
  text-align: right;
  padding-right: 22px;
  padding-top: 1px;
  font-size: 15px;
  font-family: Courier;
}

#prof .ic:nth-child(1),
#prof .ic:nth-child(3) {
  width: 35%;
  float: left;
}

#prof .ic:nth-child(2) {
  width: 30%;
}

#box02 div#cv-boxtitle {
  background-position: left;
}

#cv-content .cvo-block .head {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  float: left;
  line-height: 30px;
  background: url(title_content1-1.png) no-repeat;
  background-position: 0px center;
  background-size: 100% 11px;
  margin-bottom: 10px;
  text-align: center;
  padding: 1px 0 0 0px;
}

.ic1,
.ic2,
.ic3,
.ic4,
.ic5 {
  width: 100%;
  float: left;
  line-height: 30px;
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
}

.ic1 {
  float: right;
  width: 40%;
  background: url(birthday1.png) no-repeat;
  background-position: 0px 1px;
}

.ic2 {
  float: left;
  width: 25%;
  background: url(gender1.png) no-repeat;
  background-position: 0px 3px;
}

.ic3 {
  background: url(phone1.png) no-repeat;
  background-position: 0px 3px;
  width: 35%;
  float: left;
}

.ic4 {
  width: 100%;
  background: url(mail1.png) no-repeat;
  background-position: 0px 1px;
}

.ic5 {
  width: 100%;
  background: url(add1.png) no-repeat;
  background-position: 0px 3px;
}

.icoweb {
  float: right;
}

.fake_img {
  width: 198px;
  height: 200px;
  position: absolute;
  top: 230px;
  margin-top: -195px;
  z-index: 99;
  background: url(fake11.png) no-repeat;
  background-size: 100% 100%;
  left: 0px;
  margin-left: 27px;
  display: none;
}

#box02 .box-content {
  color: #000;
  padding: 10px;
}

.cum,
.ski {
  font-size: 20px;
  margin-bottom: 10px;
  border-top-right-radius: inherit;
  background: url(dot1-1.png) no-repeat;
  text-align: left;
  background-position: 292px center;
}

#cv-content .exp-date {
  float: left;
  margin: 0;
  padding: 0;
  color: #000;
  text-align: center;
}

.exp-title {
  float: left;
  font-weight: bold;
  width: 100%;
}

.bar-exp div p {
  color: #F44336;
  display: block;
  position: absolute;
  font-size: 20px;
  z-index: 99999;
}

#block03 h3 {
  display: none;
}

span.exp-subtitle {
  width: 100%;
}

.ifo {
  float: left;
  width: 64%;
  height: max-content;
  position: relative;
  padding-top: 5px;
  background-position: left bottom;
  padding-right: 17px;
}

#prof .icoweb {
  width: 77%;
  margin-left: 35px;
}

.icright1,
.icright2,
.icright3,
.icright4,
.icright5 {
  display: none;
}

#block05 h3,
#block05 .exp-content {
  display: none;
}

.exp-content {
  float: left;
  width: 100%;
}

#prof .ic2 .icoweb {
  width: 60%;
}

#experience-table #exp1 {
  margin: 0;
}

#cv-right .ir #sortable #box03 {
  margin: 0;
}

#cv-content #block05 p.h3 {
  padding: 0;
}

#cv-right .ir #sortable #box01 {
  display: none;
}

div#cv-profile-job {
  background: url(role_line1.png) no-repeat;
  background-position: 226px center;
  padding-right: 241px;
  width: 100%;
}