    #cv-right #box01 { 			/*main 1*/
    margin-top: 0;
    border:2px solid #fff;
    border-radius:15px 15px 0 0!important;
    background: #963d01;
    border-bottom: none;
    padding-bottom: 30px;
    }
         #cv-right #box02 { 			/*main 1*/
    /* margin-top: 0; */
    border:2px solid #fff;
    border-radius:15px 15px 0 0;
    background: #a44200;
    margin-top: -33px;
    border-bottom: none;
    padding-bottom: 30px;
    top:-33px;
    }
        #cv-right #box03 { 			/*main 1*/
    margin-top: 0;
    border:2px solid #fff;
    border-radius:15px 15px 0 0;
    background: #b14700;
    margin-top: -20px;
    padding-bottom: 30px;
    border-bottom: none;
    top:-33px;
    }
            #cv-right #box04 { 			/*main 1*/
    margin-top: 0;
    border:2px solid #fff;
    border-radius:15px 15px 0 0;
    background: #c24e00;
    margin-top: -20px;
    padding-bottom: 30px;
    border-bottom: none;
    top:-33px;
    }
                #cv-right #box04 { 			/*main 1*/
    margin-top: 0;
    border:2px solid #fff;
    border-radius:15px 15px 0 0;
    background: #c24e00;
    margin-top: -20px;
    padding-bottom: 30px;
    border-bottom: none;
    top:-33px;
    }
                    #cv-right #box05 { 			/*main 1*/
    margin-top: 0;
    border:2px solid #fff;
    border-radius:15px 15px 0 0;
    background: #d25400;
    margin-top: -20px;
    padding-bottom: 30px;
    border-bottom: none;
    top:-33px;
    }
                        #cv-right #box06 { 			/*main 1*/
    margin-top: 0;
    border:2px solid #fff;
    border-radius:15px 15px 0 0;
    background: #ee5f00;
    margin-top: -20px;
    padding-bottom: 30px;
    border-bottom: none;
    top:-33px;
    }
                            #cv-right #box07 { 			/*main 1*/
    margin-top: 0;
    border:2px solid #fff;
    border-radius:15px 15px 0 0;
    background: #ff6600;
    margin-top: -20px;
    padding-bottom: 30px;
    top:-33px;
    }
    .exp-title {
        font-weight: bold;
        color: #ff6600;
    }
    #cvo-experience-blocktitle{
	background-repeat: no-repeat;
	background-size: 100% 100%;
	text-align: left;	
	height: 35px;
    width: 68%;
    color:#ff6600;
	text-transform: uppercase;
}
.head .id-1{
    width: 12%;
    height: 35px;
    float: left;
    background: url(icon1b.png)no-repeat;
    background-position: left;
}
.head .id-2{
    width: 10%;
    height: 35px;
    float: left;
    background: url(icon2b.png)no-repeat;
    background-position: left;
}

 .head .id-3{
    width: 7%;
    height: 35px;
    float: left;
    padding-right: 10px;
    background: url(icon3b.png)no-repeat;
    background-position: left;
}

.head .id-4{
    width: 7%;
    height: 35px;
    float: left;
    padding-right: 10px;
    background: url(icon4b.png)no-repeat;
    background-position: left;

}
.head .id-5{
    width: 10%;
    height: 35px;
    float: left;
    padding-right: 10px;
    background: url(icon5b.png)no-repeat;
    background-position: left;

}
    .bar-exp {
        background: #b14700;
        height: 10px;
        float: none;
        margin-top: 0;
        margin-bottom: 0px;
        padding: 0px;
        border-radius: 5px;
        border: #fff 1px solid;
    }
    
#cv-content #block01 .head {		/* content 1*/
border-bottom: 2px solid #b14700}
    #cv-top h1 {
    font-family: "Roboto";
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 0;
    color: #b14700;
    margin-top: 0;
    text-align: lè;
    font-size: 14pt;
    padding-left: 58px;
    letter-spacing: 5px;
    /* margin-left: 50px; */

    }
        #cvo-profile-avatar-wraper img {
        width: 200px;
        height: 200px;
        border: 3px solid #b14700;
        border-radius: 10px;
		/*padding-left: 20px;*/
       /* padding-top: 15px;*/
        /*margin-left: 285px;*/

}
    #cv-content .head {
      width: 100%;
        line-height: 35px;
        margin: 0;
        padding: 0;     
        border-bottom: 2px solid #b14700;

    }