/* 2 */

:root {
  --sex: url(sex2.png) no-repeat;
  --phone: url(phone2.png) no-repeat;
  --date: url(date2.png) no-repeat;
  --email: url(mail2.png) no-repeat;
  --add: url(add2.png) no-repeat;
  --page: url(page2.png) no-repeat;
  --fake: url(fake2.png) no-repeat;
  --chu: url(chu2.png) no-repeat;
  --main: url(main2.png) no-repeat;
  --content: url(content2.png) no-repeat;
  --all: url(all2.png) repeat-y;
  --tt2: url(tt2-2.png) no-repeat;
  --tt1: url(tt1-2.png) no-repeat;
  --ngang: url(ngang2.png) no-repeat;
  --dot: url(dot2.png) no-repeat;
  --dn: url(dot2.png) no-repeat, url(ngang2.png) no-repeat;
  --hocvan: url(hocvan2.png) no-repeat;
  --kinhnghiem: url(kinhnghiem2.png) no-repeat;
  --hoatdong: url(hoatdong2.png) no-repeat;
  --duan: url(duan2.png) no-repeat;
  --TTthem: url(TTthem2.png) no-repeat;
  --muctieu: url(muctieu2.png) no-repeat;
  --kinang: url(kinang2.png) no-repeat;
  --giaithuong: url(giaithuong2.png) no-repeat;
  --chungchi: url(chungchi2.png) no-repeat;
  --sothich: url(sothich2.png) no-repeat;
  --nguoiTC: url(nguoiTC2.png) no-repeat;
  --color: #e08f62;
  --color-n: #fcddb0;
}