/* right */
#cv-right .h3 span,#cv-center{background-color: #5c3680!important;}
#cv-content .head span:before {color: #5c3680!important;}

/* left */
#cv-right .h3:before, #cv-content, .bar-exp span,.bar-exp span:after,#cvo-profile-avatar-wraper,#cv-top {background-color: #ccc9cf!important;}
#cv-right .icoweb span.cv-hi i,#cv-right, #cv-right .h3 {color: #ccc9cf!important;}

/* bongMo */
.background-cv {background-color: rgba(92, 54, 128, 0.59)!important}
.box-01:before {border-left-color:rgba(92, 54, 128, 0.59)!important}