/* right */
#cv-right .h3 span,#cv-center{background-color: #c86f18!important;}
#cv-content .head span:before {color: #c86f18!important;}

/* left */
#cv-right .h3:before, #cv-content, .bar-exp span,.bar-exp span:after,#cvo-profile-avatar-wraper,#cv-top {background-color: #eed4bb!important;}
#cv-right .icoweb span.cv-hi i,#cv-right, #cv-right .h3 {color: #eed4bb!important;}

/* bongMo */
.background-cv {background-color: rgba(156, 82, 9, 0.59)!important}
.box-01:before {border-left-color: rgba(144, 91, 38, 0.59)!important}