#cv-top h1 {
    font-size: 28px;
    font-family: "Roboto";
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 0;
    color: #068149;
    font-weight: bold;
    text-align: left;
    margin-left: 10px;
}
#cv-top h2 {
    text-transform: uppercase;
    width: 100%;
    font-size: 14px;
    font-family: "Roboto";
    color: #068149;
    text-align: left;
    margin: 0;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 0;
    margin-left: 10px;
}
#cv-content h3 {
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #068149;
}
#cvo-profile-avatar-wraper .wimg {
    width: 155px;
    height: 165px;
    padding: 0px;
    margin: 0px;
    margin-top: 0px;
    border: 3px solid #068149;
}
.bar-exp div {
    float: left;
    height: 10px;
    background: #068149;
    margin-top: 0px;
}
.bar-exp {
    background: #fff;
    height: 10px;
    float: none;
    margin-top: 0;
    margin-bottom: 0px;
    padding: 0px;
    border: 1px solid #068149;
    border-radius: 5px;
}
.icf .fa {
    font-size: 20px;
    color: #068149;
    margin-top: 0;
    float: none;
}
#cv-content .head #cvo-experience-blocktitle {
    color: #068149;
}
div#cv-boxtitle {
    font-size: 19px;
    font-weight: bold;
    text-transform: uppercase;
    color: #068149;
}
#cv-content .head {
    height: 50px;
    width: 100%;
    line-height: 50px;
    margin-bottom: 10px;
    background: url(tt2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
}
.tt-box1 {
    height: 50px;
    width: 95%;
    line-height: 50px;
    background: url(tt2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    text-align: center;
}
.ski {
    height: 50px;
    width: 95%;
    line-height: 50px;
    background: url(tt2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    text-align: center;
}
.cum {
    height: 50px;
    width: 95%;
    line-height: 50px;
    background: url(tt2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    text-align: center;
}
#cv-content .head {
    height: 50px;
    width: 100%;
    line-height: 50px;
    margin-bottom: 10px;
    background: url(tt2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
}
#cv-top {
    width: 100%;
    height: 285px;
    background-image: url(bg-2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}
.footer {
    float: left;
    width: 100%;
    height: 70px;
    background: url(ft2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 15px;
}