#form-cv {
	font-size: 15px;
}

#cv-top h1 {
	font-size: 29px;
}

#cv-top h2 {
	font-size: 19px;
}

#cv-content #cvo-experience-blocktitle{
	font-size: 20px;
}

#cv-right #cv-boxtitle {
	font-size: 19px;
}

#cv-content h3 {
	font-size: 15px;
}