#form-cv {
	font-size: 13px;
}

#cv-top h1 {
	font-size: 27px;
}

#cv-top h2 {
	font-size: 17px;
}

#cv-content #cvo-experience-blocktitle{
	font-size: 18px;
}

#cv-right #cv-boxtitle {
	font-size: 17px;
}

#cv-content h3 {
	font-size: 13px;
}