#cv-top {
    float: left;
    width: 100%;
    height: 626px;
    background: url(hd2.png)no-repeat;
    background-size: 100% 100%;
    clear: both;
}
.all {
    float: left;
    clear: both;
    background: url(bd2.png)no-repeat;
    background-size: 100% 100%;
    width: 100%;
}
.box-dm {
    width: 306px;
    height: 306px;
    padding: 0;
    margin: 0;
    float: left;
    display: table;
    background: url(av2.png)no-repeat;
    background-size: 100% 100%;
    clear: both;
    z-index: 1;
    margin-top: -278px;
    margin-left: 234px;
    position: absolute;
    top: -900px;
}