#content {
	padding-left: 20px;
	padding-top: 20px;
	background: url(hd2.png)no-repeat;
	background-size: 100%;
}

#ic1 {
	background: url(icon1_a.png)no-repeat;
}

#ic2 {
	background: url(icon2_a.png)no-repeat;
}

#ic3 {
	background: url(icon3_a.png)no-repeat;
}
#lt-right .box-02 {
	margin-bottom: 0;
	padding-top: 20px;
	border-top: 2px solid #f2c53d;
	border-bottom: 2px solid #f2c53d;
}

#lto-name {
	background: #fff;
	color: #f2c53d;
}

#form-letter {
	width: 100%;
	height: 1130px;
	float: left;
	color: #000000;
	position: relative;
	background: url(ft2.png)no-repeat bottom center;
	background-size: contain;
}