#form-cv {
	font-family: "Roboto", sans-serif;
	width: 100%;
	float: left;
	position: relative;
	font-size: 14px;
	line-height: 24px;
	color: #000;

}


#sortable .cvo-block .box-content{
 margin: 0;
 width: 97%;
 margin-top: 10px;
 color: #000;
 margin-bottom: 20px;
}
#box03 .exp{
 float: left;
 margin: 0;
 width: 100%;
 padding-bottom: 20px;
 padding-top: 5px;
}


#cvo-profile {
 display: block;
}
.chu {
  float: right;
  width: 100%;
}
#cv-content {
  width: 50%;
  text-align: justify;
  float: right;
  position: relative;
  padding: 0;
  margin: 0;
  margin-right: 35px;
  margin-left: -1px;
}


#cv-main {
  text-align: justify;
  margin: 0;
  padding: 0;
  position: relative;
  float: left;
  width: 37.5%;
  margin-left: 35px;
  padding-top: 5px;
}

#cv-right .ir {
 padding: 0;
 margin: 0;
}
#cv-main #cv-right{
 padding: 0;
 margin: 0;
 float: left;
 width: 100%;
}
#cv-main #cv-right .ir #sortable{
 padding: 0;
 margin: 0;
}
#cv-right .ir #sortable .block{
 padding: 0;
 margin: 0;
 float: left;
 width: 100%;
}
p.skill-name input {
 color: #fff !important;
}

#cv-right #box03 .ctbx {
 width: 100%;
 padding: 0;
 margin: 0;
 border: 0;
 padding-bottom: 15px;
 float:left;
}

#cv-top {
 width: 100%;
 height: 505px;
 background: url(hd.png)no-repeat;
 background-position: left;
 background-size: 100% 100%;
 overflow: hidden;
 position: relative;
}
.all{
 float: left;
 clear: both;
 width: 100%;
 background: url(main.png) no-repeat;
 background-size: 100% 100%;
}
#cv-top h1 {
 padding: 0;
 margin: 0;
 font-size: 45px;
 font-family: "Roboto";
 line-height: 35px;
 text-transform: uppercase;
 margin-bottom: 0;
 color: #fff;
 font-weight: bold;
 text-align: center;
 width:100%;
 float: left;
 padding-bottom: 5px;
 padding-top: 10px;
}
#cv-top h1 span {
 letter-spacing: 1px;
}
#box-hvt {
  float: left;
  width: 59.5%;
  padding: 0;
  margin: 0;
  margin-left: 265px;
  padding-top: 57px;
}
.chu1{
  float: left;
  width: 100%;
}
#cv-right .cvo-block .head div {
 color: #fff;
}

.innertext {
 margin: 0px;
 padding: 0px;
 width: 29%;
 float: left;
 color: white;
}

#cv-top h2 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  width: 75%;
  font-weight: unset;
  font-size: 24px;
  color: #fff;
  text-align: left;
  float: right;
  /* padding-bottom: 10px; */
  padding-top: 40px;
}

.box-01 p {
 overflow: hidden;
}

#cv-content p {
 margin-bottom: 5px
}

#cv-content .ir a {
 color: #2ebb2f
}

#cv-right h3, #cv-content .head {
 font-size: 20px;
 text-transform: uppercase;
 color: #000;
 font-weight: bold;
 text-align: left;
 line-height: 20px;
 padding-top: 0px;
}
#cv-content h3 {
 font-size: 14px;
 line-height: 24px;
 font-weight: unset;
 text-transform: unset;
 margin: 0px;
 padding: 0px;
 padding-left: 25px;
 color: #292929;
}

#cv-content #block01 h3{
 font-weight: bold;
 text-transform: uppercase;
 padding-left: 25px
}
#cv-content #block02 h3{
 /* background: url(icr.png)no-repeat; */
 background-position: left;
 padding-left: 25px;
 font-weight: bold;
 text-transform: uppercase;
}
#cv-content #block04 h3{
 font-weight: bold;
 text-transform: unset;
 padding-left: 25px;
}

#cv-content .exp-content{
 margin: 0;
 padding: 0;
 padding-left: 25px;
}
#cv-content #block03 h3{
 font-weight: unset;
 text-transform: unset;
}
#cv-content .exp-date {
 float: none;
}

#cv-content #block01 .exp-date {
 display: none;
}

#cv-content #block03 .exp-date {
 display: none;
}

#cv-content #block04 .exp-date {
 display: none;
}

#cv-content #block05 .exp-date {
 display: none;
}

#cv-content p.h3 {
 margin: 0px;
 padding: 0px;
 padding-left: 25px;
}
#cv-content #block02 p.h3 {
 margin: 0px;
 padding: 0px;
 padding-left: 25px;
}
#cv-content #block02 .exp-content{
  padding-left: 25px;
}
#cv-content .cvo-block {
 padding: 0 !important;
 float: left;
 width: 100%;
}
#cv-content .ir .cvo-block{
 padding: 0;
}
.ctbx {

}


#cv-content span {
 display: inline-block;
}


.ctbx {
 margin-bottom: 10px;
 padding-left: 0;
 padding-right: 0;
 position: relative;
}


.ctbx:hover {
 box-shadow: 0 0 1px #999;
}

.ctbx:hover .fieldgroup_controls {
 display: block;
}

[cvo-form-field] {
 cursor: text;
}
#anh{
  width: 48%;
  float: left;
}
#cvo-profile-avatar-wraper {
 width: 100%;
 padding: 0;
 margin: 0;
 float: left;
 display: table;
 margin-top: -60px;
}

#cv-profile-sex::before{
 color: #000;
}
#cv-profile-birthday::before{
 color: #000;
}
#cv-profile-address::before{
 color: #000;
}
#cv-profile-email::before{
 color: #000;
}
#cv-profile-phone::before{
 color: #000;
}

#cvo-profile-avatar-wraper .wimg {
  width: 360px;
  height: 360px;
 float: left;
 display: table;
 overflow: hidden;
}
#cvo-profile-avatar-wraper img {
 width: 360px;
 height: 360px;
 float: left;
 display: unset!important;
}
#cvo-profile-avatar{
  width: 361px;
  height: 360px;
}

#cvo-profile {
 display: block;
 float: left;
 width: 100%;
}
#line-seperate {
 height: 25px;
}

.bar-exp div {
  float: left;
  height: 11px;
  background: url(kn.png)no-repeat;
  background-position: right;
  margin-top: -1px;
}

.ctbx .skill-name {
 margin: 0px;
 padding: 0px;
 color: #000;
 float: left;
 width: 100%;
 padding-top: 5px;
}

.bar-exp {
  margin: 0px;
  padding: 0px;
  background: url(kn_01.png)no-repeat;
  background-position: left;
  float: left;
  margin-top: 5px;
  position: relative;
  float: left;
  width: 100%;
}

.bar-value-exp {
 width: 100%
}

.bar-value-exp input[type="text"] {
 color: #000;
 width: 95%;
 height:70px;
}

.icoweb label {
 display: block;
}

#cv-right .block {
 position: relative !important;
 padding: 0;
 margin: 0;
}
.ic-sex {
  width: 95%;
  float: left;
  color: #000;
  margin: 0;
  padding-bottom:10px;
}
.ic-birthday {
  width: 95%;
  float: left;
  color: #000;
  margin: 0;
  padding-bottom:10px;
}
.ic-phone {
  width: 95%;
  float: left;
  color: #000;
  margin: 0;
  padding-bottom:10px;
}
.ic-email {
  width: 95%;
  float: left;
  color: #000;
  margin: 0;
  padding-bottom:10px;
}
.ic-address {
  width: 95%;
  float: left;
  color: #000;
  margin: 0;
  padding-bottom:10px;
}

.ic-sex .icoweb {
  margin: 0 !important;
  width: 53%;
  text-align: left;
  float: left;
  color: #000;
}
.ic-birthday .icoweb {
  margin: 0 !important;
  width: 67%;
  text-align: left;
  float: left;
  color: #000;
}
.ic-phone .icoweb {
  margin: 0 !important;
  width: 67%;
  text-align: left;
  float: left;
  color: #000;
}
.ic-email .icoweb {
  margin: 0 !important;
  width: 89%;
  text-align: left;
  float: left;
  color: #000;
}
.ic-address .icoweb {
  margin: 0 !important;
  width: 89%;
  text-align: left;
  float: left;
  color: #000;
}
#sortable .ic {
 margin: 0;
}
.ic {
 width: 100%;
 float: left;
 color: #000;
 margin:0;
 padding-bottom: 0px;
}
#prof [contentEditable=true] {
 width: 100%;
 float: left;
 margin: 0 !important;
}
#prof .icoweb, #prof .icoweb span {
 height: auto;
 padding-left: 5px;
}
div#prof {
  float: left;
  width: 97%;
  padding-top: 70px;
  /* padding-left: 10px; */
  /* background: url(bg2.png)no-repeat; */
  background-position: left;
  background-size: 100% 100%;
  padding-bottom: 10px;
}
#form-cv .icf{
  margin: 0 !important;
  float: left;
  margin-bottom: 0;
}

.icf .fa {
 font-size: 18px;
 color: #00c9dd;
 margin: 0;
 display: none;
}

.fa{
  font-size: 14px;
}

.container {
 width: 100%;
}

.sum {
 margin: 0;
 padding: 0;
 width: 100%;
 height: 30px;
}
#cv-right .block {
 margin-bottom: 10px;
 position: relative;
 padding: 0;
 padding-bottom: 20px;
}
#cv-content .head {
 padding: 0;
 margin: 0 auto;
 float: left;
 width: 100%;

}
#experience-table .ctbx {
 padding-left: 14px;
}

.ifo {
 margin: 0;
 padding: 0;
 width: 100%;
 height: 30px;
}


#cv-right h3 {
 width: 100%;
 height: 30px;
 margin: 0;
 color: #ffffff;
 padding: 0;
 float: left;
 line-height: 30px;
 text-align: center;
 background: #b82731;
}

#cvo-experience-blocktitle {
 color: #026014;
 text-align: left;
 float: left;
 text-transform: uppercase;
 font-weight: bold;
 width: 100%;
 font-size: 18px;
 /* display: none;*/
 padding-left: 35px;
}

#bg{
 background: #F58284;
 text-align: left;
}

div#experience-table {
 margin: 0px;
 width: 96%;
 float: right;
 color: #000;
 padding-right: 16px;
 padding-top: 10px;
 padding-bottom: 15px;
}
#box01 #cv-boxtitle {
  color: #026014;
  padding-bottom: 10px;
}

.tt-box1 {
 padding: 0;
 margin: 0 auto;
 height: 31px;
 width: 100%;
 float: left;
 line-height: 35px;
 /* background:url(t_03.png)no-repeat; */
 background-position: left;
 background-size: 100% 100%;
}
div#cv-boxtitle {
 font-size: 20px;
 font-weight: bold;
 text-transform: uppercase;
 color: #000;
 text-align: center;
 float: left;
 width: 100%;
 /*display: none;*/
}

.ski {
 padding: 0;
 margin: 0 auto;
 height: 35px;
 width: 94%;
 float: left;
 line-height: 35px;
}
#box02 .cum {
  padding: 0;
  margin: 0 auto;
  height: 35px;
  width: 100%;
  float: left;
  line-height: 35px;
  margin-top: 15px;
}
#box04 .cum {
  padding: 0;
  margin: 0 auto;
  height: 35px;
  width: 100%;
  float: left;
  line-height: 35px;
  margin-top: 15px;
}
#box05 .cum {
  padding: 0;
  margin: 0 auto;
  height: 35px;
  width: 100%;
  float: left;
  line-height: 35px;
  margin-top: 15px;
}
#box06 .cum {
  padding: 0;
  margin: 0 auto;
  height: 35px;
  width: 100%;
  float: left;
  line-height: 35px;
  margin-top: 15px;
}
#box07 .cum {
  padding: 0;
  margin: 0 auto;
  height: 35px;
  width: 100%;
  float: left;
  line-height: 35px;
  margin-top: 15px;
}


div#box01 {
 float: right;
 width:50%;
 padding-top: 12px;
}
 div#sort_block {
   padding: 0;
   margin: 0;
 }
 .cvo-block .blockControls{
   margin: 0px;
   padding: 0px 5px;
 }



.ic-sex .icf {
  background: url(icon_03.png) no-repeat;

  width: 20px;
  height: 20px;
}
.ic-birthday .icf {
  background: url(icon_06.png) no-repeat;

  width: 20px;
  height: 20px;
}
.ic-phone .icf {
  background: url(icon_08.png) no-repeat;
  width: 20px;
  height: 20px;
}
.ic-email .icf {
  background: url(icon_10.png) no-repeat;
  width: 20px;
  height: 20px;
}.ic-address .icf {
  background: url(icon_12.png) no-repeat;
  width: 20px;
  height: 20px;
}
#prof h3 {
  font-size: 20px;
  /* padding-bottom: 15px; */
  margin: 0;
  padding: 0;
  line-height: normal;
}
.box-01 h3 #cv-boxtitle {
  text-align: left;
}
.footer{
  width: 100%;
  background: url(ft.png) no-repeat;
  background-size: 100% 100%;
  height: 52px;
  float: left;
}
.watermark {
  float: left;
  width: 100%;
  /* height: 22px; */
  color: #999;
  text-align: right;
  padding-right: 22px;
  font-size: 15px;
  font-family: Courier;
  padding-top: 30px;
}