#cv-top {
    width: 100%;
    height: 350px;
    background-image: url(hd3.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}
.all{
  float: left;
  clear: both;
  width: 100%;
  background: url(main3.png)no-repeat;
  background-size: 100% 100%;
}
#cv-top h1 {
    padding: 0;
    margin: 0;
    height: 35px;
    font-size: 32px;
    font-family: "Roboto";
    line-height: 35px;
    text-transform: uppercase;
    margin-bottom: 0;
    color: #39b54a;
    font-weight: bold;
    text-align: center;
    width: 100%;
    float: left;
}
#cv-top h2 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    width: 100%;
    font-size: 14px;
    color: #39b54a;
    text-align: center;
    font-weight: unset;
    float: left;
}
#block02 #experience-table #exp1 .exp-title{
  float: left;
  color: #39b54a;
}
#block02 #experience-table #exp2 .exp-title{
  float: left;
  color: #39b54a;
}
#block02 #experience-table #exp3 .exp-title{
  float: left;
  color: #39b54a;
}
#cvo-profile-avatar-wraper .wimg {
    width: 165px;
    height: 165px;
    float: left;
    display: unset !important;
    border:3px solid #39b54a;
}
.bar-exp div {
    float: left;
    height: 7px;
    background: #39b54a;
    margin-top: 0px;
    border-radius: 10px;
}
.bar-exp {
    background: #fff;
    height: 7px;
    float: none;
    margin-top: 5px;
    margin-bottom: 0px;
    border: 1px solid #39b54a;
    border-radius: 10px;
    padding: 0px;
    float: right;
    width: 100%;
}
.icf .fa {
    font-size: 20px;
    color: #39b54a;
    margin-top: 0;
    float: left;
}
#cv-content .head {
    padding: 0;
    margin: 0;
    height: 35px;
    line-height: 35px;
    text-align: left;
    width: 100%;
    float: left;
    background:url(tt3.png)no-repeat;
    background-size: 100% 100%;
}
.cumicc2 {
    width: 37px;
    height: 35px;
    float: left;
    background: url(icccc_03.png);
    background-position: center;
    background-repeat: no-repeat;
}
.cumicc3 {
    width: 37px;
    height: 35px;
    float: left;
    background: url(icccc_14.png);
    background-position: center;
    background-repeat: no-repeat;
}
.cumicc4 {
    width: 37px;
    height: 35px;
    float: left;
    background: url(icccc_18.png);
    background-position: center;
    background-repeat: no-repeat;
}
.cumicc5 {
    width: 37px;
    height: 35px;
    float: left;
    background: url(icccc_20.png);
    background-position: center;
    background-repeat: no-repeat;
}
.cumicc6 {
    width: 37px;
    height: 35px;
    float: left;
    background: url(icccc_27.png);
    background-position: center;
    background-repeat: no-repeat;
}
.cumicc7 {
    width: 37px;
    height: 35px;
    float: left;
    background: url(icccc_29.png);
    background-position: center;
    background-repeat: no-repeat;
}
div#cv-boxtitle {
    font-size: 19px;
    font-weight: bold;
    text-transform: uppercase;
    color: #39b54a;
    float: left;
    padding-left: 15px;
}
#box02 .cum{
  background: url(mn3.png)no-repeat;
  background-size: 15% 10%;
  background-position: right center;
}
#box03 .ski{
  background: url(mn3.png)no-repeat;
  background-size: 50% 10%;
  background-position: right center;
}
#box04 .cum{
  background: url(mn3.png)no-repeat;
  background-size: 40% 10%;
  background-position: right center;
}
#box05 .cum{
  background: url(mn3.png)no-repeat;
  background-size: 45% 10%;
  background-position: right center;
}
#box06 .cum{
  background: url(mn3.png)no-repeat;
  background-size: 50% 10%;
  background-position: right center;
}
#box07 .cum{
  background: url(mn3.png)no-repeat;
  background-size: 23% 10%;
  background-position: right center;
}
.ski {
    padding: 0;
    margin: 0 auto;
    height: 35px;
    width: 100%;
    line-height: 35px;
    text-align: left;
    border-left: 5px solid #39b54a;
}
.cum {
    padding: 0;
    margin: 0 auto;
    height: 35px;
    width: 100%;
    line-height: 35px;
    text-align: left;
    border-left: 5px solid #39b54a;
}
.icright1 {
    width: 40px;
    height: 35px;
    float:left;
    background: url(icccc_06.png);
    background-position: right;
    background-repeat: no-repeat;
  }
.icright2 {
    width: 40px;
    height: 35px;
    float:left;
    background: url(icccc_11.png);
    background-position: right;
    background-repeat: no-repeat;
}
.icright3 {
    width: 40px;
    height: 35px;
    float:left;
    background: url(icccc_24.png);
    background-position: right;
    background-repeat: no-repeat;
}
.icright4 {
    width: 40px;
    height: 35px;
    float:left;
    background: url(icccc_24.png);
    background-position: right;
    background-repeat: no-repeat;
}
.icright5 {
    width: 40px;
    height: 35px;
    float:left;
    background: url(icccc_32.png);
    background-position: right;
    background-repeat: no-repeat;
}
.footer {
  background:url(ft3.png)no-repeat;
  background-size: 100% 100%;
  height:85px; 
    float: left;
    width: 100%;
}