
#form-cv{
	width: 100%;	
	float: left;	
	position: relative;
	font-size: 14px;
	line-height: 24px;
	color:#494949;
	outline: 1px solid #e1e1e1
}
#form-cv p{
	margin-top: 0;
	margin-bottom: 12px
}
#sortable .cvo-block{
	margin-bottom: 30px
}

#cv-main{
	margin:10px;
	display: table;	
}
#cv-top{	
	color: #494949;	
	text-align: center;
	position: relative;
	margin:10px 10px 30px;
}
#cv-content{
	width: 54.99%;
	height: auto;
	float: left;	
	position: relative;
	text-align: justify;
}
#cv-content .ir{
	padding-left: 10px;
}
#cv-right{
	width: 45%;
	float: left;	
	position: relative;
	height: auto;
	text-align: justify;
}
p.skill-name input{
	font-weight: 500
}
.skill .skill-name{
	width: 50%;
	float: left;
}
.skill .bar-exp{
	width: 48%;
	float: right;
}
.bar-value-exp input[type="text"]{
	color:#494949;
}
#cv-right .ctbx {
	padding-bottom: 0;
	margin:0;
}

#cv-top h1{
    font-size: 30px;    
    text-transform: capitalize;
    color:#b04242;
    font-weight: normal;	
	margin-bottom: 10px;
	margin-top: 0px;	
	text-align: center;
}
#cv-top h2{	
    font-size: 18px;
    text-transform: capitalize;
    color: #777;
    padding: 0;
	margin: 0;
	font-weight: normal;
	margin-top: 0px;
	font-style: italic;    
}
.box-01 p{		
    overflow: hidden;
}
.box-01{	
	margin:auto;	
	overflow: hidden;
	margin: 0px;
	padding:0px;
}
#cv-content .ir{
	
}
#cv-content p{
	margin-bottom: 5px
}
#cv-content .ir a{
	color: #2ebb2f
}
#cv-right h3{
    margin: 0 0 15px;
    font-size: 22px;    
    color: #b04242    
}

#cv-right h3 span{
    background: #fff;
    padding-right: 10px
}
#cv-right h3, #cv-content .head{
    background: url('lineddd.png') center center repeat-x;
}
#cv-content .head{
    position: relative;
}
#cv-content .head span{    
    font-size: 22px;
    color: #b04242;
    font-weight: normal;
    background: #fff
}
#cv-content h3{	
	font-weight: bold;
    font-size: 14px; 
    margin-bottom: 5px;  
}

#cv-content .h3{
	color:#479b9d	
}
#cv-content span{
	display: inline-block;
	color:#494949;	
	padding-right: 8px;
	z-index: 9999	
}

.ctbx{
	margin-bottom: 10px;
	position: relative;
}
.ctbx .r5 .h3{
	text-transform: uppercase;
}
.ctbx:hover {
	box-shadow: 0 0 1px #999;
}
.ctbx:hover .fieldgroup_controls{
	display: block;
}
[cvo-form-field] {
    cursor: text;
}
#cvo-profile{
	padding: 0;
	margin: 0;
}
#cvo-profile-avatar-wraper{	
	float: left;
	width: 100%;    
    margin-bottom: 20px;
    padding-top: 30px;

}

#cvo-profile-avatar-wraper #cvo-profile-avatar{
	padding: 0;	
	width: 150px;
    overflow: hidden;    
    display: table;
	margin:0 auto;	
}


#cvo-profile-avatar-wraper img{
	width: 150px;  	
  	height: 150px;
  	float:none;  
  	display: inline-block;
}
#cvo-profile-avatar{
	padding: 0;
    width:150px; 
	border:3px solid #b04242;
	margin-top: 0px;


}
#line-seperate {
    height: 25px;
    background-color: #e3ecec;
}
.bar-exp span {
    float: left;
    height: 8px;
    background: #b04242;
}
.bar-exp {  	
  	background: #cecece;
  	height: 6px;  	
  	margin-top: 8px;
  	margin-bottom: 0;
  	border:2px solid #b04242;
} 
.bar-exp div {
    float: left;
    height: 6px;
    background: #b04242;    
}
.bar-value-exp{
	width: 145px
}

#sortable .icoweb{
	height: 30px;
	line-height: 30px;
	float: left;
	padding-left: 5px;
	margin-bottom: 0
}
.ic{
	float: left;width: 100%
}
#form-cv .icf{
	float: left;	
	border-radius: 20px;
	line-height: 28px;
	margin-bottom: 0;
	width: 28px;	
	text-align: center;
}
.ic .icoweb{
	float: left	
}
.icf .fa{
	font-size: 14px;	
	color:#b04242;	
	margin-top: 0;	
	float: none
}