#form-cv{
	width: 100%;	
	float: left;
	position: relative;
	font-size: 14px;
	line-height: 24px;
	color:#494949;	
	outline: 1px solid #e1e1e1
}

.watermark {
    float: left;
    width: 100%;
    /* height: 22px; */
    color: #999;
    text-align: right;
    padding-right: 22px;
    font-size: 15px;
    font-family: Courier;
    padding-top: 136px;
    /* background: #fff; */
}

#form-cv p{
	margin-top: 0;
    margin-bottom: 6px;
    /* font-size: 16px; */
    color: #000;
    font-weight: bold;
}

.skill-name {
    font-size: 16px;
}

.icoweb span {
    display: block;
}

#sortable .cvo-block{
	margin-bottom: 20px;
	margin-top: 5px;	
	padding: 0;
}

#cv-content h3 .exp-title{
	float: left;
	width: 100%;
    color:  #000;
}

#cv-content h3 .exp-date {
    float: left;
    text-align: left;
    width: 100%;
    font-weight: bold;
}

div#cv-main {
    float: left;
    width: 100%;
	background: url(bd1.png) no-repeat;
	background-size: 100% 100%;
}
#cv-top{		
	width: 100%;
    background-image: url(hd1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    height: 544px;
}
#cvo-profile{
	display: block;
    float: left;
    width: 100%;
}
.box-01{
	float: left;
    width: 100%;
}
#cv-content{
	width: 53%;
    float: left;
    position: relative;
    margin-left: 35px;
}
#sortable .box-contact{
	margin:0;
}
#cv-right2{   
	width: 34%;
    float: right;
    position: relative;
    margin-right: 50px;
}
#cv-right {
    margin-top: -100px;
}


p.skill-name input{
	color: #070000!important;
}


#cv-top h1{
	margin: 0;
	padding: 0;
	color: #003e42;
	font-size: 35px;
	line-height: normal;
	margin-top: 0;
	font-weight: bold;
	text-transform: uppercase;
}
#cv-top h2{
    padding: 0;
    margin: 0;
    font-size: 25px;
    color: #003e42;
    font-weight: 500;
    margin-bottom: 10px;
    line-height: 1.1;
}

#cv-content p{
	margin-bottom: 5px
}


#cv-content .ir a{
	color: #2ebb2f
}
#cv-right h3{
	font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 auto 15px;
    line-height: 40px;
    text-align: left;
    height: 40px;
    margin-bottom: 0px;
    color: #000;
}
 #cv-content .head{
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 35px;
    text-align: left;
    margin-bottom: 0px;

 }
#cv-content h3{	
	font-size: 16px;
    margin-bottom: 5px;
    margin-top: 0;
    color: #000;
    font-weight: bold;
}
.bar-value-exp input[type="text"]{
	color:#292929;
	height: 30px;
}
#cv-content .exp-date{
	font-weight: normal;
}

#cv-content span{
	display: inline-block;	
	z-index: 9999;
}

.ctbx{
	margin-bottom: 10px;
	position: relative;
    font-weight: bold!important  ;
}
.ctbx:hover {
	box-shadow: 0 0 1px #999;
}
.ctbx:hover .fieldgroup_controls{
	display: block;
}
[cvo-form-field] {
    cursor: text;
}

#cvo-profile-avatar-wraper{
    float: right;
    width: 45%;
    padding-top: 65px;
}
#cvo-profile-avatar{
    width: 320px;
    height: 320px;

}
#box-hvt{
    float: left;
    width: 47%;
    padding-top: 126px;
    position: relative;
    margin-left: 30px;
}
#cvo-profile .box-contact{
    float: left;
    width: 50%;
    margin-left: 31px;
    padding-top: 20px;
    position: absolute !important;
    top: 250px;
    margin-top: 80px;
}
#cvo-profile-avatar-wraper .wimg img{	
  	width: 320px;
  	height: 320px;
  	display: inline-block;  	  
  	margin:auto;
  	float: none;
    
}
.wimg{
    width: 320px;
    height: 320px;
    float: left;
    display: unset !important;
}
#line-seperate {
    height: 25px;
}
.bar-exp div {
	float: left;
    height: 10px;
    background: #ffc22c;
    
}
.bar-exp {
	width: 99%;
    background: #fff;
    height: 10px;
    float: left;
    margin-bottom: 12px;
}      
.icoweb label{
	display: block;
	color:#fff;
}

.icoweb{	
	float: left;
	padding-left: 2px;
	margin-bottom: 0
}
.ic{
	float: left;
    width: 100%;
}
#form-cv .icf{
	float: left;		
	line-height: 28px;
	margin-bottom: 0;
	font-size:12px;
	
	width: 22px;	
	text-align: center;
}
.ic .icoweb{
	width: 91%;
    text-align: left;
    padding-left: 5px;
    float: left;
    color: #fff;
    padding-top: 2px;
}
.ic .fa{
	font-size: 20px;	
	color:#fff;	
	margin-top: 0;	
	float: none;
}
.box-content {
	font-size: 16px;
    font-weight: bold;
    color: #000;
}
.exp-content,.exp-subtitle,span.exp-title {
    width: 100%;
	font-size: 16px;
	font-weight: bold;
	color: #000;
}
.ic .icf1 {
    float: left;
    margin-bottom: 0;
    width: 30px;
    line-height: 30px;
    height: 30px;
    text-align: center;
}
.ic .icf2 {
    float: left;
    margin-bottom: 0;
    width: 30px;
    line-height: 30px;
    height: 30px;
    text-align: center;
}
.ic .icf3 {
    float: left;
    margin-bottom: 0;
    width: 30px;
    line-height: 30px;
    height: 30px;
    text-align: center;
}
.ic .icf4 {
    float: left;
    margin-bottom: 0;
    width: 30px;
    line-height: 30px;
    height: 30px;
    text-align: center;
}
.ic .icf5 {
    float: left;
    margin-bottom: 0;
    width: 30px;
    line-height: 30px;
    height: 30px;
    text-align: center;
}
#cv-content .cvo-block{
	padding: 0;
}

#experience-table{
    width: 97%;
	color: #000;
    font-weight: 600;
    font-size: 16px;
}
.icright1 {
    width: 45px;
    height: 45px;
    float: right;
    background: url(ic_03.png)no-repeat;
    background-position: right;
    background-size: 100% 100% ;
    display: none;
  }

#prof{
    width: 100%;
}
.footer{
	background: url(ft1.png) no-repeat;
	background-size: 100% 100%;
	height: 161px;
	float: left;
	width: 100%;
}
.box-dm {
    width: 205px;
    height: 205px;
    padding: 0;
    margin: 0;
    float: left;
    display: table;
    background: url(ava1.png)no-repeat;
    background-size: 100% 100%;
    clear: both;
    z-index: 1;
    margin-top: -195px;
    position: absolute;
    top: -700px;
    display: none;
}
#block01 div#cvo-experience-blocktitle{
    background: url(ic_11.png)no-repeat;
    background-position: center;
    background-size: 100% 100% ;
    color: #000;
    padding: 8px;
}
#block02 div#cvo-experience-blocktitle{
    background: url(ic_12.png)no-repeat;
    background-position: center;
    background-size: 100% 100% ;
    padding: 8px;
}
#block03 div#cvo-experience-blocktitle{
    background: url(ic_13.png)no-repeat;
    background-position: center;
    background-size: 100% 100% ;
    padding: 8px;
}
#block04 div#cvo-experience-blocktitle{
    background: url(ic_13.png)no-repeat;
    background-position: center;
    background-size: 100% 100% ;
    padding: 8px;
}
#block05 div#cvo-experience-blocktitle{
    background: url(ic_12.png)no-repeat;
    background-position: center;
    background-size: 100% 100% ;
    padding: 8px;
}
div#block02 {
    background: #ffc22c;
}
.tt-box1{
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 35px;
    text-align: left;
    margin-bottom: 0px;
}

#cv-main .ctbx, #cv-main .cvo-block {
    text-align: justify;
}