.hd{
    background-color: #fb9179;
}

#cv-top h2{
    background-color: #fb9179;
}

#cv-right h3, #cv-content .head{
    border-top: solid 4px #fb9179;
}
.bar-exp div {
    float: left;
    height: 8px;
    background: #df2e07;
    
}

