/* 2 */

:root {
  --sex: url(sex2.png) no-repeat;
  --phone: url(phone2.png) no-repeat;
  --date: url(date2.png) no-repeat;
  --email: url(mail2.png) no-repeat;
  --add: url(add2.png) no-repeat;
  --ngang: url(ngang2.png) no-repeat; 
  --duan: url(duan.png) no-repeat;
  --kn: url(kn2.png) no-repeat;
  --page: url(page2.png) no-repeat;
  --top: url(top2.png) no-repeat;
  --bg-t: url(bg-t2.png) no-repeat;
  --color: #515a90;
  --color-b: #8385af;
  --color-d: #4c65af;
}