/* 3 */

:root {
  --sex: url(sex3.png) no-repeat;
  --phone: url(phone3.png) no-repeat;
  --date: url(date3.png) no-repeat;
  --email: url(mail3.png) no-repeat;
  --add: url(add3.png) no-repeat;
  --ngang: url(ngang3.png) no-repeat; 
  --duan: url(duan.png) no-repeat;
  --kn: url(kn3.png) no-repeat;
  --page: url(page3.png) no-repeat;
  --top: url(top3.png) no-repeat;
  --bg-t: url(bg-t3.png) no-repeat;
  --color: #73404b;
  --color-b: #e9a18f;
  --color-d: #e9a18f;
}