#cv-top {
    width: 100%;
    height: 564px;
    background-image: url(hd_f7f6e7.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}
.all{
  float: left;
  clear: both;
  background: url(bd_f7f6e7.png)no-repeat;
  background-size: 100% 100%;
  width: 100%;
}
.footer{
  background:url(ft_f7f6e7.png)no-repeat;
  background-size: 100% 100%;
  height: 124px;
  float: left;
  width: 100%;
}
.box-dm {
    width: 285px;
    height: 285px;
    clear: both;
    z-index: 1;
    padding: 0;
    margin: 0;
    display: table;
    position: absolute;
    float: left;
    background: url(2.png)no-repeat;
    background-size: 100% 100%;
    margin-top: -273.5px;
    margin-left: 253px;
    top: -900px;
}
#cv-top h2 {
    margin: 0;
    padding: 0;
    text-transform: unset;
    width: 100%;
    font-size: 20px;
    color: #f7444e;
    float: left;
    text-align: center;
    padding-top: 8px;
}
div#cv-boxtitle {
    font-size: 19px;
    font-weight: bold;
    text-transform: uppercase;
    color: #f7444e;
    float: right;
    line-height: 44px;
}
#cv-content .head #cvo-experience-blocktitle {
    color: #f7444e;
    text-align: left;
    float: left;
    padding-left: 25px;
}
div#experience-table {
    margin: 0px;
    width: 83%;
    /* padding-top: 20px; */
    padding-bottom: 10px;
    float: left;
    color: #002c3e;
    margin-left: 45px;
    border-bottom: 3px solid #78bcc4;
}
.bar-exp div {
    float: left;
    height: 16px;
    background: #f7444e;
    margin-top: -2px;
    border-radius: 4px;
    margin-left: -2px;
}
.bar-exp {
    background: #f7f6e7;
    height: 12px;
    margin-top: 5px;
    margin-bottom: 0px;
    padding: 0px;
    float: right;
    width: 100%;
    border-radius: 4px;
    border: 2px solid #f7444e;
}
#cvo-profile-avatar-wraper img {
    width: 250px;
    height: 250px;
    float: left;
    border-radius: 50%;
    border: 8px solid #f7f6e7;
}
.icf .fa {
    font-size: 20px;
    color: #f7444e;
    margin-top: 0;
    float: left;
}
div#prof {
    float: left;
    width: 100%;
    color: #002c3e;
    /* padding: 58px 0px 15px 0px; */
}
#sortable .cvo-block .box-content {
    margin: 0;
    width: 92%;
    color: #002c3e;
    margin-left: 0px;
    padding-bottom: 15px;
    float: right;
    border-bottom: 3px solid #78bcc4;
}
#cv-top h1 {
    padding: 0;
    margin: 0;
    font-size: 40px;
    font-family: "Roboto";
    line-height: 35px;
    text-transform: uppercase;
    margin-bottom: 0;
    color: #002c3e;
    font-weight: bold;
    text-align: center;
    width: 100%;
    float: left;
}
#cv-content {
    width: 54%;
    text-align: justify;
    float: right;
    position: relative;
    padding: 0;
    margin: 0;
    border-left: 3px solid #78bcc4;
}
.ctbx .skill-name {
    margin: 0px;
    padding: 0px;
    color: #002c3e;
    float: left;
    width: 100%;
}