#cv-top h1 {
  color: #a34b5d;
}
#cv-top h2 {
  color: #a34b5d;
}
#cv-content h3 {
  color: #a34b5d;
}
.bar-exp {
  border: 1px solid #a34b5d
}
#cv-content .head {
  color: #a34b5d;
}
.tt-box1, .cum2, .ski, .cum4, .cum5, .cum6, .cum7 {
  background: #a34b5d;
}
.bar-exp div{
 background: #a34b5d;
}
.icf .fa{
  color: #a34b5d;
}
div#block01 {
    border-top: 2px solid #a34b5d;
  }
div#block01, div#block02, div#block03, div#block04, div#block05 {
    border-left: 2px solid #a34b5d;
    border-bottom: 2px solid #a34b5d;
}
.all {
    border-bottom: 60px solid #a34b5d;
}
#cv-top {
  background-image: url(hd-2.png);
}
.cumicc1{
  background: url(ic1-2.png)no-repeat;
  background-position: 2px 5px;
}
.cumicc2{
  background: url(ic2-2.png)no-repeat;
  background-position: 2px 3px;
}
.cumicc3{
  background: url(ic3-2.png)no-repeat;
  background-position: 5px 6px;
}
.cumicc4{
  background: url(ic5-2.png)no-repeat;
  background-position: 5px 4px;
}
.cumicc5{
  background: url(ic7-2.png)no-repeat;
  background-position: 5px 4px;
}
.cumicc6{
  background: url(ic6-2.png)no-repeat;    
  background-position: 5px 4px;
}
.cumicc7{
  background: url(ic7-2.png)no-repeat;
  background-position: 5px 4px;
}
.icright1 {
  background: url(ict1-2.png)no-repeat;
}
.icright2 {
  background: url(ict2-2.png)no-repeat;
}
.icright3 {
  background: url(ict3-2.png)no-repeat;
}
.icright4 {
  background: url(ict4-2.png)no-repeat;
}
.icright5 {
  background: url(ict5-2.png)no-repeat;
}