#cv-top {
    background-image: url(hd2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}

#cvo-profile .box-dm {
    background: url(fake2.png)no-repeat;
    background-size: 100% 100%;
    width: 289px;
    height: 289px;
    margin-top: -273.5px;
    margin-left: 158px;
}

.bar-exp div {
    background: #21a0a8;
}
div#cv-boxtitle{
    color: #21a0a8;
}
#block01 .head {
    background: url(ic2.1.png)no-repeat;
    /* background-position: left; */
}

#block02 .head {
    background: url(ic2.2.png)no-repeat;
    background-position: left;
}

#block03 .head {
    background: url(ic2.3.png)no-repeat;
    background-position: left;
}

#block04 .head {
    background: url(ic2.4.png)no-repeat;
    background-position: left;
}

#block05 .head {
    background: url(ic2.5.png)no-repeat;
    /* background-position: left; */
}
.all {
    background-image: url(../bg_main2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}
#block01, #block02, #block03, #block04 {
    background: url(../line2.png) no-repeat;
    background-size: 6px 100%;
    background-position: 4%;
}
