#cv-top {
    background-image: url(bg_top3.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}

#cvo-profile .box-dm {
    background: url(fake3.png)no-repeat;
    background-size: 100% 100%;
    width: 268px;
    height: 265px;
    margin-top: -253px;
    margin-left: 167px;
}

.bar-exp div {
    background: #96c244;
}
div#cv-boxtitle{
    color: #96c244;
}
#block01 .head {
    background: url(ic3.1.png)no-repeat;
    /* background-position: left; */
}

#block02 .head {
    background: url(ic3.2.png)no-repeat;
    background-position: left;
}

#block03 .head {
    background: url(ic3.3.png)no-repeat;
    background-position: left;
}

#block04 .head {
    background: url(ic3.4.png)no-repeat;
    background-position: left;
}

#block05 .head {
    background: url(ic3.5.png)no-repeat;
    /* background-position: left; */
}
.all {
    background-image: url(../bg_main3.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}
#block01, #block02, #block03, #block04 {
    background: url(../line3.png) no-repeat;
    background-size: 6px 100%;
    background-position: 4%;
}