#cv-top{		
    width: 100%;
    height: 390px;
    background-image: url(hd3.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}
#cv-main{
    width: 50%;
    min-height: 1100px;
    float: left;
    position: relative;
    
}
.all{
     float: left;
    clear: both;
    width: 100%;
    background: url(main3.png)no-repeat;
    background-size: 100% 100%;
}
#cv-top h2 {
    font-size: 25px;
    margin-top: 0;
    font-weight: bold;
    text-align: right;
    color: #ffb7c5;
}
#cv-right h3 {
    color: #ffb7c5;
    border-radius: 6px;
}
#cv-content .head {
    border-radius: 6px;
    color: #ffb7c5;
    width: 85%;
}
.bar-exp div {
    float: left;
    height: 6px;
    background: #ffb7c5;
}
.box-dm {
    width: 200px;
    height: 200px;
    padding: 0;
    margin: 0;
    float: left;
    display: table;
    background: url(avata3.png)no-repeat;
    background-size: 100% 100%;
    clear: both;
    z-index: 1;
    margin-top: -200px;
    margin-left: 190px;
    position: absolute;
    top: -500px;
}