#cvo-profile-avatar-wraper .wimg{
	border:3px solid #ff5964;
}
#cvo-profile #box01{
	border-top:3px solid #ff5964; 	
}

#cv-top h1, #cv-right h3, #cv-content .head, #cv-content h3{
	color:#ff5964;
}
.bar-exp div{
	background: #ff5964
}