/* Xanh lá cây */
.cr {
	color: #28a745!important;
}
.bg {
	background-color: #28a745!important;
}

.bd {
	border-color: #28a745!important;
}

#cv-content span.exp-date:before {
	border: 9px solid #28a745;
}