/* Màu Cam */
.cr {
	color: #ff5722!important;
}
.bg {
	background-color: #ff5722!important;
}

.bd {
	border-color: #ff5722!important;
}

#cv-content span.exp-date:before {
	border: 9px solid #ff5722;
}