#form-letter{
	width: 900px;
	min-height: 1273px;
	float: left;	
	background: url('../../nendep1111.png') #fff left top repeat-y;
	background-size: cover; 
	background-position: 0px 0px;
	color:#000;
	border:solid 1px #9e7581;
	position: relative
}