/* 2 */

:root {
  --sex: url(sex2.png) no-repeat;
  --phone: url(phone2.png) no-repeat;
  --date: url(date2.png) no-repeat;
  --email: url(mail2.png) no-repeat;
  --add: url(add2.png) no-repeat;
  --fake: url(fake-2.png) no-repeat;
  --top: url(top1-2.png) no-repeat, url(top2-2.png) no-repeat;
  --skill: url(skill2.png) no-repeat;
  --kn: url(kn2.png) no-repeat;
  --content: url(content-t2.png) no-repeat, url(content-b2.png) no-repeat, url(content-f2.png) no-repeat;
  --color: #73a9ad;
  --color-j: #f4f0ba;
  --color-t: #72a9ac;
}