
.box-dm {
    background: url(fake2.png)no-repeat;
    background-size: 100% 100%;
}
#cv-top {
    background-image: url(hd2.png);
    background-size: 100% 100%;
}

.all {
    background: url(main2.png)no-repeat;
    background-size: 100% 100%;
}
.footer {
    background: url(ft2.png);
    background-size: 100% 100%;
}
#cv-top h2 {
    background: #706538;
}
#cv-top h1 {
    color: #706538;
}
.icf .fa {
    color: #706538;
}
.cumicc5 {
    float: left;
    width: 29%;
    height: 32px;
    background: url(head-cc2.png)no-repeat;
}