/* 2 */

:root {
  --sex: url(sex2.png) no-repeat;
  --phone: url(phone2.png) no-repeat;
  --date: url(date2.png) no-repeat;
  --email: url(mail2.png) no-repeat;
  --add: url(add2.png) no-repeat;
  --skill: url(skill-2.png) no-repeat;
  --kn: url(dot2.png) no-repeat;
  --fake: url(fake2.png) no-repeat;
  --top: url(top2.png) no-repeat;
  --box-content1: url(content-t2.png) no-repeat, url(content-f2.png) no-repeat;
  --box-content2: url(content-b2.png) no-repeat, url(content-f2.png) no-repeat;
  --box-content3: url(content-f2.png) no-repeat;
  --table: url(box-t2.png) no-repeat, url(box-b2.png) no-repeat, url(box-f2.png) no-repeat;
  --ngang: url(ngang2.png) no-repeat;
  --name: url(name2.png) no-repeat;
  --color: #76264d;
  --color2: #c74a4b;
  --color3: #c94b4b;
}