#cv-top {background-image: url(hd2.png);background-size: 100% 100%;}
.all{  background:url(main2.png)no-repeat;background-size: 100% 100%;}
.footer{background: #204969;}
#cv-content .head #cvo-experience-blocktitle {border-bottom: 7px solid #dc7878;}