/* dam */
#cv-content .head, .bar-exp span, #cv-right .h3 {background-color: #1c5599!important;}
#cv-right .h3:after {border-left-color: #1c5599!important;}
#cv-right .icoweb span.cv-hi i {color: #1c5599!important;}

/* damhon */
.bar-exp span:after {background-color: #123259!important;}
#cv-right .h3:before {border-left-color: #123259!important;}

/* nhat */
#cv-center {background-color: #91a7c2!important;}

/* titleContent */
#cv-content .head span {background-image: -webkit-linear-gradient(-90deg, #f9f9f9 10%, #91a7c2 90%);}

/* nen */
#form-cv {background-color: #5d6f85!important;}
#form-cv {border-color: #5d6f85!important;}