/* dam */
#cv-content .head, .bar-exp span, #cv-right .h3 {background-color: #7d3f8d!important;}
#cv-right .h3:after {border-left-color: #7d3f8d!important;}
#cv-right .icoweb span.cv-hi i {color: #7d3f8d!important;}

/* damhon */
.bar-exp span:after {background-color: #46354a!important;}
#cv-right .h3:before {border-left-color: #46354a!important;}

/* nhat */
#cv-center {background-color: #bbb7bc!important;}

/* titleContent */
#cv-content .head span {background-image: -webkit-linear-gradient(-90deg, #f9f9f9 10%, #bbb7bc 90%);}

/* nen */
#form-cv {background-color: #7b6680!important;}
#form-cv {border-color: #7b6680!important;}