/* dam */
#cv-content .head, .bar-exp span, #cv-right .h3 {background-color: #cc4900!important;}
#cv-right .h3:after {border-left-color: #cc4900!important;}
#cv-right .icoweb span.cv-hi i {color: #cc4900!important;}

/* damhon */
.bar-exp span:after {background-color: #5d2f15!important;}
#cv-right .h3:before {border-left-color: #5d2f15!important;}

/* nhat */
#cv-center {background-color: #d6b29e!important;}

/* titleContent */
#cv-content .head span {background-image: -webkit-linear-gradient(-90deg, #f9f9f9 10%, #d6b29e 90%);}

/* nen */
#form-cv {background-color: #7f5f4d!important;}
#form-cv {border-color: #7f5f4d!important;}