#cv-top {
    width: 100%;
    background: url(../bg_top2.png) no-repeat;
    position: relative;
}
#cv-top h1 {
    padding: 0;
    margin: 0;
    font-size: 25px;
    font-family: "Roboto";
    text-transform: uppercase;
    margin-bottom: 0;
    color: #583101;
    font-weight: bold;
    text-align: left;
    width: 100%;
    float: left;
    background-color: #e7bc91;
    padding-top: 45px;
    padding-bottom: 20px;
    padding-left: 180px;
    border-top-right-radius: 80px;
}
#cv-top h2 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    width: 100%;
    font-size: 16px;
    color: #583101;
    float: left;
    text-align: left;
    background-color: #e7bc91;
    padding-bottom: 56px;
    border-bottom-right-radius: 80px;
    margin-top: -1px;
    padding-left: 180px;
}
#box02 .box-content {
    border: 1px solid #583101;
    background: #e7bc91;
}
.cum, .ski {
    background-color: #e7bc91 !important;
    border-left: 10px solid #583101;
    padding-left: 20px !important;
}
.bar-exp {
    background-color: #e7bc91;
    height: 10px;
    margin-top: 5px;
    margin-bottom: 0px;
    padding: 0px;
    float: right;
    width: 100%;
}
.bar-exp div {
    float: left;
    height: 10px;
    background-color: #583101;
}
#cv-content .cvo-block .head {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #e7bc91;
    line-height: 40px;
    border-left: 10px solid #583101;
    padding-left: 20px;
    width: 70%;
    margin-left: 15px;
    margin-bottom: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
div#experience-table {
    background-color: #fff4e8;
    padding: 10px 15px 10px 25px;
    border-radius: 10px;
}

.footer{
    background: url(../foot2.png) no-repeat;
    background-size: 100% 60%;
    background-position: left bottom;
}