#cv-top {
    width: 100%;
    height: 285px;
    background-image: url(bg-4.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}

#cv-content .head {
    height: 35px;
    width: 100%;
    line-height: 35px;
    background: url(bg-14.png);
    background-position: center;
}

.cumicc1 {
    background: url(ic-41.png);
    width: 45px;
    height: 45px;
    float: left;
    background-position: center left;
    background-repeat: no-repeat;
    margin-left: 10px;
}

.cumic2 {
    background: url(ic-42.png);
    width: 45px;
    height: 45px;
    float: left;
    background-position: center left;
    background-repeat: no-repeat;
}

.cumicc3 {
    background: url(ic-43.png);
    width: 45px;
    height: 45px;
    float: left;
    background-position: center left;
    background-repeat: no-repeat;
}

.cumic4 {
    background: url(ic-44.png);
    width: 45px;
    height: 45px;
    float: left;
    background-position: center left;
    background-repeat: no-repeat;
}

.cumic5 {
    background: url(ic-45.png);
    width: 45px;
    height: 45px;
    float: left;
    background-position: center left;
    background-repeat: no-repeat;
}

.cumic6 {
    background: url(ic-46.png);
    width: 45px;
    height: 45px;
    float: left;
    background-position: center left;
    background-repeat: no-repeat;
}

.cumic7 {
    background: url(ic-47.png);
    width: 45px;
    height: 45px;
    float: left;
    background-position: center left;
    background-repeat: no-repeat;
}

.icright1 {
    background: url(ic-48.png);
    width: 55px;
    height: 30px;
    float: left;
    background-position: center left;
    background-repeat: no-repeat;
    background-color: #3a4c70;
}

.icright2 {
    background: url(ic-49.png);
    width: 55px;
    height: 30px;
    float: left;
    background-position: center left;
    background-repeat: no-repeat;
    background-color: #3a4c70;
}

.icright3 {
    background: url(ic-410.png);
    width: 55px;
    height: 30px;
    float: left;
    background-position: center left;
    background-repeat: no-repeat;
    background-color: #3a4c70;
}

.icright4 {
    background: url(ic-411.png);
    width: 55px;
    height: 30px;
    float: left;
    background-position: center left;
    background-repeat: no-repeat;
    background-color: #3a4c70;
}

.icright5 {
    background: url(ic-412.png);
    width: 55px;
    height: 30px;
    float: left;
    background-position: center left;
    background-repeat: no-repeat;
    background-color: #3a4c70;
}

.footer {
    float: left;
    width: 100%;
    height: 40px;
    /* margin-top: 10px; */
    background-color: #3a4c70;
}

#cv-content {
    width: 57.57%;
    text-align: justify;
    float: right;
    position: relative;
    padding: 0;
    margin: 0;
    border-bottom: none;
    border-right: none;
    background-color: #3a4c70;
    color: #fff;
}

#cvo-profile-avatar-wraper .wimg {
    width: 175px;
    height: 183px;
    padding: 0px;
    margin: 0px;
    margin-top: 0px;
    border: 5px solid #3a4c70;
}

.bar-exp div {
    float: left;
    height: 10px;
    background: #3a4c70;
    margin-top: 0px;
}

#cv-content .head #cvo-experience-blocktitle {
    color: #fff;
    background-color: #3a4c70;
    padding: 0px 15px;
    width: 55%;
}

.tt-box1 {
    height: 45px;
    width: 100%;
    line-height: 48px;
    background-color: #3a4c70;
}

.ski {
    height: 48px;
    width: 100%;
    line-height: 45px;
    background-color: #3a4c70;
}

.cum {
    height: 48px;
    width: 100%;
    line-height: 45px;
    background-color: #3a4c70;
}

.icf .fa {
    font-size: 20px;
    color: #3a4c70;
    margin-top: 0;
    float: left;
}