#form-cv {
  font-family: "Roboto", sans-serif;
  width: 100%;
  float: left;
  position: relative;
  font-size: 14px;
  line-height: 24px;
  color: #000;
}

.cv_page {
  padding: 0;
  background: var(--page), var(--all);
  background-position: right bottom, right top;
  background-size: 100% 830px, 340px 100%;
}

#sortable .cvo-block .box-content {
  margin: 0;
  width: 95%;
  float: right;
  color: #000;
  padding: 0;
  text-align: left;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 10px;
  margin-top: 0px !important;
}

.exp.content-edit.skill {
  float: left;
}


#cvo-profile {
  display: block;
}

#cv-content {
  width: 55%;
  text-align: justify;
  float: left;
  position: relative;
  z-index: 2;
  margin: 0;
  padding-left: 35px;
  padding-right: 40px;
}

#cv-profile-sex:before {
  color: #fff;
}

#cv-profile-birthday:before {
  color: #fff;
}

#cv-main {
  text-align: justify;
  margin: 0;
  padding: 0;
  float: left;
  width: 45%;
}

.chu {
  float: left;
  width: 55%;
  text-align: left;
  background: var(--chu);
  background-position: left bottom, left 20px;
  background-size: 100% 40px, 100% 100%;
}

.anh {
  float: right;
  width: 43%;
  padding-top: 15px;
  position: relative;
}

#cv-right .ir {
  padding: 0;
  margin: 0;
}

#cv-main #cv-right {
  padding: 0;
  margin: 0;
  float: left;
  width: 100%;
}

#cv-main #cv-right .ir #sortable {
  padding: 0;
  margin: 0;
}

#cv-right .ir #sortable .block {
  padding: 0;
  margin: 0;
  float: left;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 5px;
  text-align: center;
  margin-top: 0px !important;
}

p.skill-name input {
  color: #fff !important;
}

#cv-right #box03 .ctbx {
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  padding-bottom: 15px;
  float: left;
}

#cv-content #box01 {
  padding: 0;
  margin: 0;
}

#box03 .exp {
  float: right;
  width: 95%;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
  padding-top: 0;
  margin-top: 0px !important;
  border-radius: 20px;
}

#cv-top {
  width: 100%;
  float: left;
  background: var(--top);
  background-position: left top;
  background-size: 100% 150px;
}

.all {
  padding-top: 0px !important;
  float: left;
  clear: both;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

#cv-top h1 {
  padding: 0;
  margin: 0;
  font-size: 35px;
  font-family: "Roboto";
  text-transform: uppercase;
  color: #000;
  margin-bottom: 0;
  font-weight: bold;
  width: 100%;
  float: left;
  padding-bottom: 3px;
  padding-left: 25px;
  padding-right: 170px;
  position: relative;
  line-height: 45px;
  background: var(--h1);
  background-position: left 10px;
  background-size: 100% 40px;
}

#cv-top h1 span {
  ;
  width: 100%;
  line-height: 45px;
  text-align: left;
}

div#box01 {
  float: left;
  width: 100%;
  padding-top: 10px;
  padding-left: 50px;
  background: var(--color);
}

#box-hvt {
  float: left;
  width: 57%;
  padding: 0;
  margin: 0;
  padding-bottom: 10px;
  padding-top: 10px;
}

#cv-right .cvo-block .head div {
  color: #fff;
}

.innertext {
  margin: 0px;
  padding: 0px;
  width: 29%;
  float: left;
  color: white;
}

#cv-profile-fullname::before {
  color: #000;
}

#cv-top h2 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  width: 100%;
  font-size: 18px;
  float: left;
  font-weight: bold;
  position: relative;
  color: #000;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 25px;
  padding-right: 25px;
}

#cv-profile-job {
  width: 100%;
  text-align: left;
  padding: 5px 0px 2px 0px;
}

#block05 #experience-table {}

.box-01 p {
  overflow: hidden;
}

#cv-content p {
  margin-bottom: 5px
}

#cv-content .ir a {
  color: #2ebb2f
}

#cv-content h3 {
  float: left;
  width: 100%;
  /* font-weight: bold; */
  font-size: 14px;
  line-height: 24px;
  margin: 0px;
  padding: 0px;
  color: #000;
  display: flex;
  flex-direction: column;
}

#cv-content #block03 h3 {
  font-weight: unset;
  float: left;
}

#cv-content p.h3 {
  float: left;
  width: 100%;
  margin: 0px;
}

#cv-content .cvo-block {
  float: left;
  width: 100%;
}

#cv-content .ir .cvo-block {
  margin-top: 0 !important;
  padding: 0;
  background-position: top;
  padding-bottom: 5px;
  padding-top: 5px;
}

.ctbx {
  padding-left: 10px;
  padding-right: 10px
}

#experience-table .ctbx {
  padding-left: 0;
  padding-right: 0;
  position: relative;
}


.ctbx:hover {
  box-shadow: 0 0 1px #999;
}

.ctbx:hover .fieldgroup_controls {
  display: block;
}

[cvo-form-field] {
  cursor: text;
}

#cvo-profile-avatar-wraper {
  width: 218px;
  float: left;
  height: 240px;
  margin-left: 60px;
  padding: 0;
  /* margin: 0; */
  background: var(--img);
  background-position: left top;
  border-bottom: solid 1px #f5f0bb;
}

#cvo-profile-avatar-wraper .wimg {
  float: left;
  width: 210px;
  height: 230px;
  margin-left: 7px;
  margin-top: 7px;
  background: var(--fake);
}

#cvo-profile-avatar-wraper img {
  width: 194px;
  height: 195px;
  margin-left: 4px;
  margin-top: 4px;
  float: left;
  border-radius: 99em;
}

.box-01 {
  float: left;
  width: 100%;
  padding-top: 30px;
}

#cvo-profile {
  float: left;
  display: block;
  width: 100%;
}

#line-seperate {
  height: 25px;
}

.bar-exp div {
  float: left;
  height: 16px;
  background: var(--kn);
  background-position: left center;
}

.ctbx .skill-name {
  margin: 0px;
  padding: 0px;
  color: #000;
  float: left;
  width: 100%;
  text-align: left;
}

.bar-exp {
  height: 16px;
  margin-bottom: 0px;
  padding: 0px;
  float: left;
  width: 285px;
  margin-top: 3px;
  background: var(--skill);
  background-position: left center;
}

.bar-value-exp {
  width: 100%
}

.bar-value-exp input[type="text"] {
  color: #000;
  width: 95%
}

.icoweb label {
  display: block;
}

#cv-right .block {
  position: relative;
  padding: 0;
  margin: 0;
}

.ic .icoweb {
  width: calc(100% - 30px);
  text-align: left;
  padding-left: 5px;
  float: left;
  color: #000;
}

.ic {
  width: 100%;
  float: left;
  color: #000;
  padding-bottom: 10px;
}

#prof [contentEditable=true] {
  width: 100%;
  float: left;
}

#prof .icoweb,
#prof .icoweb span {
  height: auto;
  text-align: left;
  width: 100%;
  float: left;
}

div#prof {
  float: left;
  width: 100%;
  padding-bottom: 3px;
}

#form-cv .icf {
  float: left;
  line-height: 20px;
  margin-bottom: 0;
  width: 26px;
  height: 20px;
  text-align: left;
  display: none;
}

.ic02 {
  float: right;
  width: 64%;
}

.ic03 {
  float: left;
  width: 35%;
}

.icf .fa {
  font-size: 20px;
  color: #000;
  margin-top: 0;
  float: left;
}

.container {
  width: 100%;
}

.sum {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 30px;
}

#cv-right .block {
  margin-bottom: 10px;
  position: relative;
  padding: 0;
  padding-bottom: 10px;
}

#experience-table .ctbx {
  float: left;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 0px;
  padding-left: 20px;
  padding-right: 10px;
  padding-bottom: 10px;
}

#cv-right h3 {
  width: 100%;
  height: 30px;
  margin: 0;
  color: #ffffff;
  padding: 0;
  float: left;
  line-height: 30px;
  text-align: center;
  background: #b82731;
}

#cv-content .head #cvo-experience-blocktitle {
  color: #fff;
  position: relative;
  z-index: 990;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 6px;
}

#cv-content #block01 .head {
  background: var(--hocvan), var(--head);
  background-position: 290px center, 0 center;
  background-size: 51px 50px, 100% 30px;
}

#cv-content #block02 .head {
  background: var(--kinhnghiem), var(--head);
  background-position: 290px center, 0 center;
  background-size: 51px 50px, 100% 30px;
}

#cv-content #block03 .head {
  background: var(--hoatdong), var(--head);
  background-position: 290px center, 0 center;
  background-size: 51px 50px, 100% 30px;
}

#cv-content #block04 .head {
  background: var(--duan), var(--head);
  background-position: 290px center, 0 center;
  background-size: 51px 50px, 100% 30px;
}

#cv-content #block05 .head {
  background: var(--TTthem), var(--head);
  background-position: 290px center, 0 center;
  background-size: 51px 50px, 100% 30px;
}

#bg {
  background: #F58284;
  text-align: left;
}

div#experience-table {
  float: right;
  width: 100%;
}

#cv-boxtitle {
  text-align: left;
  font-weight: bold;
  width: 100%;
  text-transform: uppercase;
  color: #fff;
  padding-top: 3px;
  padding-left: 54px;
  padding-right: 20px;
  padding-bottom: 10px;
  background: var(--title);
  background-position: left top;
  background-size: 100% 100%;
}

.ski {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  line-height: 30px;
  text-align: left;
}

.cum {
  margin: 0 auto;
  line-height: 30px;
}

div#sort_block {
  padding: 0;
  margin: 0;
  float: left;
  width: 100%;
}

.cvo-block .blockControls {
  margin: 0px;
  padding: 0px;
}

#cv-profile-job::before {
  color: #000;
}

.footer {
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
}

.watermark {
  float: left;
  width: 100%;
  color: #000;
  text-align: right;
  padding-right: 22px;
  padding-top: 1px;
  font-size: 15px;
  font-family: Courier;
}

#prof .ic:nth-child(1),
#prof .ic:nth-child(3) {
  width: 35%;
  float: left;
}

#prof .ic:nth-child(2) {
  width: 30%;
}

#cv-content .cvo-block .head {
  margin: 0;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 30px;
  padding: 0px 75px 1px 20px;
}

.ic1,
.ic2,
.ic3,
.ic4,
.ic5 {
  width: 100%;
  float: left;
  line-height: 30px;
  margin-bottom: 5px;
}

.ic1 {
  width: 34%;
  background: var(--date);
  background-position: 0px 6px;
}

.ic2 {
  width: 23%;
  background: var(--sex);
  background-position: 0px 6px;
}

.ic3 {
  width: 40%;
  background: var(--phone);
  background-position: 0px 6px;
}

.ic4 {
  width: 100%;
  background: var(--email);
  background-position: 0px 9px;
}

.ic5 {
  width: 100%;
  background: var(--add);
  background-position: 0px 7px;
}

.icoweb {
  float: right;
}

.fake_img {
  width: 300px;
  height: 300px;
  position: absolute;
  z-index: 99;
  top: -5px;
  right: 31px;
  display: none;
}

#cv-right .ir #sortable #box02 {
  padding: 0 10px 10px 25px;
}

#cv-right .ir #sortable #box02 .box-content {
  padding-right: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 100%;
  background-color: #fff;
  border-radius: 20px;
  padding-left: 10px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -3px 15px 0px inset, rgba(0, 0, 0, 0.15) 0px 1px 2px 0px inset, rgba(0, 0, 0, 0.1) 0px 3px 16px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px -5px 4px, rgba(0, 0, 0, 0.09) 0px -5px 8px, rgba(0, 0, 0, 0.09) 0px 6px 16px;
}

.cum,
.ski {
  float: left;
  text-align: left;
  font-size: 20px;
  padding-right: 25px;
  width: 95%;
  position: relative;
  z-index: 2;
  background: var(--cum);
  background-position: 4px bottom;
}

#box02 .cum {
  display: none;
}

#cv-content .exp-date {
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
  display: inline;
  color: #000;
}

#block04 .exp-date {
  display: none;
}

.exp-title {
  float: left;
  width: 100%;
  font-weight: bold;
}

.bar-exp div p {
  color: #F44336;
  display: block;
  position: absolute;
  font-size: 20px;
  z-index: 99999;
}

#block03 h3 {
  display: none;
}

span.exp-subtitle {
  width: 100%;
}

.ifo {
  float: left;
  width: 56%;
  position: relative;
  padding-top: 20px;
  padding-left: 35px;
}

#prof .icoweb {
  width: 87%;
  margin-left: 25px;
}

#prof .ic3 .icoweb {
  width: 80%;
}

#prof .ic1 .icoweb {
  width: 65%;
}

.icright1,
.icright2,
.icright3,
.icright4,
.icright5 {
  display: none;
}

#block05 h3,
#block05 .exp-content {
  display: none;
}

.exp-content {
  float: left;
  width: 100%;
}

#prof .ic2 .icoweb {
  width: 46%;
}

#experience-table #exp1 {
  margin-top: 0 !important;
  padding-top: 5px;
}

#cv-right .ir #sortable #box03 {
  margin: 0;
}

#cv-content #block05 p.h3 {
  padding: 0;
}

#cv-right .ir #sortable #box01 {
  display: none;
}

.infor_title {
  display: none;
}

:root {
  --sex: url(sex1.png) no-repeat;
  --phone: url(phone1.png) no-repeat;
  --date: url(date1.png) no-repeat;
  --email: url(mail1.png) no-repeat;
  --add: url(add1.png) no-repeat;
  --skill: url(skill1.png) no-repeat;
  --kn: url(kn1.png) no-repeat;
  --all: url(page2-1.png) no-repeat;
  --fake: url(fake.png) no-repeat;
  --img: url(fake1.png) no-repeat;
  --page: url(page1-1.png) no-repeat;
  --muctieu: url(muctieu-t.png) no-repeat, url(muctieu-b.png) no-repeat, url(muctieu-f.png) no-repeat;
  --hocvan: url(hocvan1.png) no-repeat;
  --kinhnghiem: url(kinhnghiem1.png) no-repeat;
  --hoatdong: url(hoatdong1.png) no-repeat;
  --duan: url(duan1.png) no-repeat;
  --TTthem: url(TTthem1.png) no-repeat;
  --top: url(top1.png) no-repeat;
  --chu: url(chu-b1.png) no-repeat, url(chu-f1.png) no-repeat;
  --h1: url(chu-t1.png) no-repeat;
  --title: url(title1.png) no-repeat;
  --cum: url(cum1.png) no-repeat;
  --head: url(head1.png) no-repeat;
  --color: #f5f0bb;
}