#cv-right {
    width: 300px;
    float: left;
    color: #070000;
    padding-bottom: 70px;
    background-color: #cde6be;
}
#cv-content .head {
    background: #cde6be;
    margin-top: 7px;
}
#cvo-profile-avatar-wraper {
    float: left;
    width: 38%;
    background: #cde6be;
    height: 240px;
    float: left;
}