#cv-right {
    width: 300px;
    float: left;
    color: #070000;
    padding-bottom: 70px;
    background-color: #ebdada;
}
#cv-content .head {
    background: #ebdada;
    margin-top: 7px;
}
#cvo-profile-avatar-wraper {
    float: left;
    width: 38%;
    background: #ebdada;
    height: 240px;
    float: left;
}