#form-cv {
    width: 100%;
    float: left;
    position: relative;
    line-height: 24px;
    color: #42376a;
}

#form-cv p {
    margin-top: 0;
    margin-bottom: 6px;
    font-size: 16px;
    color: #42376a;
}
#box03 p {
    margin-top: 0;
    margin-bottom: 6px;
    font-size: 16px;
    color: #fff;
}
#cv-content h3 .exp-title {
    float: left;
    width: 100%;
    color: #42376a;
    font-weight: bold;
}
div#cv-main {
    float: left;
    width: 100%;
    background: url(bd2.png)no-repeat;
    background-size: 100% 100%;
}

#cv-top {
    width: 100%;
    background-image: url(hd2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    height: 438px;
}
#cv-top h1 {
    margin: 0;
    padding: 0;
    color: #42376a;
    font-size: 40px;
    line-height: 48px;
    margin-top: 0;
    font-weight: bold;
    font-family: 'Roboto';
}

#cv-top h2 {
    padding: 0;
    margin: 0;
    font-size: 25px;
    color: #42376a;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 10px;
    line-height: 30px;
}
#cv-right h3 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 auto 15px;
    line-height: 40px;
    text-align: center;
    height: 40px;
    margin-bottom: 0px;
    color: #fff;
    background: url(ic2.png)no-repeat;  
    background-size: 42% 100%;
    background-position: center;
}

#cv-content .head {
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 35px;
    text-align: left;
    margin-bottom: 0px;
}
#cvo-profile .box-contact {
    float: right;
    width: 40%;
    background: #b46088;
    border-radius: 20px;
    margin-top: 20px;
    margin-right: 20px;

}

div#cvo-experience-blocktitle {
    background: #b46088;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px #999;
    padding: 0 5px 0 5px;
}
.box-dm {
    width: 324px;
    height: 324px;
    padding: 0;
    margin: 0;
    float: left;
    display: table;
    background: url(ava2.png)no-repeat;
    background-size: 100% 100%;
    clear: both;
    z-index: 1;
    margin-top: -290px;
    margin-left: 54px;
    position: absolute;
    top: -900px;
    
}
.bar-exp div {
    float: left;
    height: 12px;
    background: #fcc25a;
    border-radius: 2px 5px 5px 2px;
}
.ic .fa {
    font-size: 22px;
    color: #fcc25a;
    margin-top: 0;
    float: none;
}

.box-content {
    font-size: 16px;
    color: #fff;
    width: 94%;
    margin-left: 10px;
}
#experience-table {
    color: #42376a;
    font-size: 16px;
    width: 100%;
    margin-top: 10px;
}
.footer {
    background: url(ft2.png) no-repeat;
    background-size: 100% 100%;
    height: 120px;
    float: left;
    width: 100%;
}
#sortable .cvo-block {
    margin-bottom: 20px;
    margin-top: 5px;
    padding: 0;
    background: #b46088;
    border-radius: 20px;
}
.ic .icoweb{
    width: 86%;
    text-align: left;
    padding-left: 5px;
    float: left;
    color: #fff;
}