#form-cv{
	outline: 1px solid #3f8bb1;
}
#cv-top{
	background: #3f8bb1
}
#cv-right h3, #cv-content .head{
	color:#3f8bb1;
}
#form-cv .wfa{
	color:#3f8bb1;
	border:2px solid #3f8bb1;
}
#cv-content h3{
	color:#3f8bb1;
}
#cv-main, #cv-content{
	background: url(3f8bb1.png) 190px top repeat-y;
}