#form-cv{
    outline: 1px solid #9f224e;
}
#cv-top{
    background: #9f224e
}
#cv-right h3, #cv-content .head{
    color:#9f224e;
}
#form-cv .wfa{
    color:#9f224e;
    border:2px solid #9f224e;
}
#cv-content h3{
    color:#9f224e;
}
#cv-main, #cv-content{
    background: url(9f224e.png) 190px top repeat-y;
}