#cv-top{	
    background-image: url(../bg3.png);
    background-color: #edc9c7
}
#cv-content .head{
	background:#edc9c7;
}
#cv-right{
	background: url('edc9c7.png') right top repeat-y
}
.bar-exp{
	background: #e1e1e1
}