#form-cv {
    width: 100%;
    float: left;
    position: relative;
    font-size: 14px;
    line-height: 23px;
    color: #494949;
    /* outline: 1px solid #e1e1e1; */
}

.watermark {
    float: right;
    width: 100%;
    height: 22px;
    color: #999;
    text-align: right;
    padding-right: 51px;
    font-size: 15px;
    font-family: Courier;
    padding-top: 15px;
}

#form-cv p {
    margin-top: 0;
    margin-bottom: 6px;
    font-size: 15px;
    color: black;
    font-weight: normal;
}

.icoweb span {
    display: block;
}

#sortable .cvo-block {
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 0;
}

#cv-content h3 .exp-title {
    float: left;
    width: 100%;
    color: black;
}

#cv-content h3 .exp-date {
    float: right;
    text-align: right;
    width: 27.99%
}

div#cv-main {
    float: left;
    width: 100%;
    background: url(main.png)no-repeat;
    background-size: 100% 100%;
    padding-top: 10px;
}

#cv-top {
    width: 100%;
    background-image: url(hd.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    height: 328px;
}

#cvo-profile {
    display: block;
    float: left;
    width: 100%;
    /* margin-top: 50px; */
    height: 323px;
}

.box-01 {
    float: left;
    width: 100%;
    /* padding-top: 50px; */
}

#cv-content {
    width: 55%;
    float: right;
    position: relative;
    margin-right: 35px;
}

#sortable .box-contact {
    margin: 0;
}

#cv-right {
    width: 30%;
    float: left;
    position: relative;
    margin-left: 50px;
}

p.skill-name input {
    color: #070000!important;
}

#cv-top h1 {
    margin: 0;
    padding: 0;
    color: #4b3b82;
    font-size: 40px;
    line-height: 48px;
    /* margin-top: 54px; */
    font-weight: bold;
}

#cv-top h2 {
    padding: 0;
    margin: 0;
    font-size: 25px;
    color: black;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 10px;
}

#cv-content p {
    margin-bottom: 5px
}

#cv-content .ir a {
    color: #2ebb2f
}

#cv-right h3 {
    font-size: 20px;
    text-transform: uppercase;
    /* font-weight: bold; */
    margin: 0 auto 15px;
    line-height: 25px;
    text-align: left;
    height: 30px;
    margin-bottom: 0px;
    color: #4b3b82;
}

#cv-content .head {
    padding: 0;
    width: 100%;
    float: left;
    font-size: 20px;
    background: url(bg.png)no-repeat;
    background-size: 100% 100%;
    color: #fff;
    padding: 8px 13px 15px 13px;
}

#cv-content h3 {
    font-size: 16px;
    margin-bottom: 5px;
    margin-top: 0;
    color: #fff;
    font-weight: normal;
    text-transform: uppercase;
}

.bar-value-exp input[type="text"] {
    color: #000;
    height: 30px;
}

.bar-value-exp {
    width: 91%;
    float: right;
}

#cv-content .exp-date {
    font-weight: normal;
}

#cv-content span {
    display: inline-block;
    z-index: 9999;
}

.ctbx {
    /* margin-bottom: 10px; */
    position: relative;
    font-weight: bold!important;
}

.ctbx:hover {
    box-shadow: 0 0 1px #999;
}

.ctbx:hover .fieldgroup_controls {
    display: block;
}

[cvo-form-field] {
    cursor: text;
}

#cvo-profile-avatar-wraper {
    float: left;
    width: 37%;
    /* padding-top: 48px; */
    padding-left: 53px;
}

#box-hvt {
    float: right;
    width: 56%;
    padding-top: 54px;
    position: relative;
}

#cvo-profile .box-contact {
    float: left;
    width: 56%;
    /*
margin-top: 20px;*/
}

#cvo-profile-avatar-wraper .wimg img {
    width: 182px;
    height: 182px;
    margin: auto;
    float: none;
    border: 5px solid #fff;
    position: relative;
    top: 1px;
}

.wimg {
    width: 190px;
    height: 187px;
    float: left;
    padding-top: 48px;
    display: unset !important;
}

#cvo-profile-avatar {
    width: 280px;
    height: 280px;
}

.box-dm {
    width: 255px;
    height: 250px;
    padding: 0;
    margin: 0;
    float: left;
    display: table;
    background: url(fake.png)no-repeat;
    background-size: 100% 100%;
    clear: both;
    z-index: 1;
    margin-top: -238px;
    position: absolute;
    top: -900px;
    margin-left: 1px;
}

#line-seperate {
    height: 25px;
}

.bar-exp div {
    float: left;
    height: 10px;
    background: #4b3b82;
}

.bar-exp {
    width: 100%;
    background: #959595;
    height: 10px;
    float: right;
    margin-bottom: 12px;
}

.icoweb label {
    display: block;
    color: #fff;
}

.icoweb {
    float: left;
    padding-left: 2px;
    margin-bottom: 0
}

.ic {
    float: left;
    width: 100%;
    margin-bottom: 5px;
}

#form-cv .icf {
    float: left;
    line-height: 28px;
    margin-bottom: 0;
    font-size: 12px;
    width: 22px;
    text-align: center;
}

.ic .icoweb {
    width: 86%;
    text-align: left;
    padding-left: 5px;
    float: left;
    color: #fff;
}

.ic .fa {
    font-size: 22px;
    color: #ffb638;
    margin-top: 0;
    float: none;
}

.box-content {
    font-size: 16px;
    /* font-weight: bold; */
    color: black;
    width: 93%;
    /* padding-left: 20px; */
}

.exp.content-edit.skill {
    z-index: 10;
    position: relative;
}



.exp-content,
.exp-subtitle,
span.exp-title {
    width: 100%;
    font-size: 16px;
    font-weight: normal;
    color: black;
}

.ic .icf1 {
    float: left;
    margin-bottom: 0;
    width: 30px;
    line-height: 30px;
    height: 30px;
    text-align: center;
}

.ic .icf2 {
    float: left;
    margin-bottom: 0;
    width: 30px;
    line-height: 30px;
    height: 30px;
    text-align: center;
}

.ic .icf3 {
    float: left;
    margin-bottom: 0;
    width: 30px;
    line-height: 30px;
    height: 30px;
    text-align: center;
}

.ic .icf4 {
    float: left;
    margin-bottom: 0;
    width: 30px;
    line-height: 30px;
    height: 30px;
    text-align: center;
}

.ic .icf5 {
    float: left;
    margin-bottom: 0;
    width: 30px;
    line-height: 30px;
    height: 30px;
    text-align: center;
}

#cv-content .cvo-block {
    padding: 0px;
}

#experience-table {
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    width: 85%;
    padding-left: 65px;
}

#prof {
    width: 100%;
}

.footer {
    background: url(ft.png) no-repeat;
    background-size: 100% 100%;
    height: 38px;
    float: left;
    width: 100%;
}

#box02 .box-content {
}
#block01 div#experience-table {
}

p.skill-name {
    width: 93%;
}


.blog-cv .head, .blog-hd .head {
    background-color: #f7f7f7;
    color: #3a4c56;
    margin-bottom: 0px;
}