/* 2 */

:root {
  --sex: url(sex2.png) no-repeat;
  --phone: url(phone2.png) no-repeat;
  --date: url(date2.png) no-repeat;
  --email: url(email2.png) no-repeat;
  --add: url(add2.png) no-repeat;
  --fake: url(fake_avt.png) no-repeat;
  --top-top: url(cv_top_topNew2.png) no-repeat;
  --bg-top: url(bg_topNew2.png) repeat-y;
  --top-bot: url(cv_top_bot2.png) no-repeat;
  --bg-work: url(bg_work2.png) no-repeat;
  --bg-title-left: url(bg_title_left2.png) no-repeat;
  --bg-title-right: url(bg_title_right2.png) no-repeat;
  --footer: url(footer2.png) no-repeat;
  --bg-all: url(all_top2.png) no-repeat;
  --skill: url(bg_skill2.png) no-repeat;
  --bg-exp: url(bg_exp2.png) no-repeat;
  --color-title: #016a70;
}