.bar-exp span,#cv-content .head, #cv-right .h3 {background-color: #dde934!important;}
.background-top-fix,.bar-exp span:after {background-color: #98a20c!important;}
#cv-content span.exp-date,#cv-right .icoweb span.cv-hi i,#cv-top h1,#cv-top h2 {color: #98a20c!important;}

#page-cv{
    width: 1072px;
    float: left;
}
#form-cv {
    width: 900px;
    min-height: 1273px;
    float: left;
    position: relative;
    font-size: 15px;
    line-height: 30px;
    overflow: hidden;
    color: #222;
    box-sizing: border-box;
    padding: 0;
}

/* Dan trang */
#cv-main {
    margin: 0;
    padding: 0;
}
#cv-center {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    border: 3px solid #555;
    border-top: none;
    box-sizing: border-box;
}
#cv-content {
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
    width: calc(100% - 290px);
    border: 3px solid #555;
    border-right:none;
    border-bottom:none;
    border-top:none;
}

#cv-right {
    padding: 0;
    width: 290px;
    margin: 0;
}

/* Code top */
#cv-top {
    position: relative;
    margin: 0; 
}

.box-01 {
    padding: 10px 0 0;
    margin: 0;
}
.box-01:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 148px;
    box-sizing: border-box;
    background-color: transparent;
    border: 3px solid #444;
    border-bottom: 0px;
}
.background-top-fix {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: 60px;
    border: 3px solid #444;
    box-sizing: border-box;
    z-index: 0;
}

#cvo-profile-avatar-wraper {
    position: relative;
    z-index: 99;
    padding: 0;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    overflow: hidden;
    background: #fff;
}

#cvo-profile-avatar-wraper #cvo-profile-avatar {
    padding: 0;
    width: 190px;
    height: 190px;
    border: none;
    border-radius: 95px;
}

#cvo-profile-info {
    margin: 0;
    padding: 10px 10px 20px;
    box-sizing: border-box;
}
#cv-top h1 {
    font-size: 38px;
    font-weight: 700;
    margin: 0;
    line-height: 40px;
    text-transform: uppercase;
    text-align: center;
    color: #222;
    margin-bottom: 10px;
}
#cv-top h2 {
    font-size: 17px;
    line-height: 23px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    color: #222;
}
/* CV Right */

#cv-right .block {
    margin: 0;
    padding: 0;
}
#cv-right .ctbx {
    padding-bottom: 0;
    margin:0;
}
#cv-content .cvo-block {
    padding: 0;
}

/* Code chung h3 cv-right */
#cv-content .head, #cv-right .h3 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 27px;
    padding: 12px 5px;
    background: transparent;
    letter-spacing: 1.2px;
    min-height: 28px;
    color: #222;
    border-top: 3px solid #444;
    border-bottom: 3px solid #444;
}
#cv-right .h3 {
    text-align: center;
    letter-spacing: 0px;
}
#cv-content .head{
    text-align: center;
    margin: 0;
}
#cv-right .h3 span {}
#cv-content .head span {}

/* Ico web */

#cv-right .hasclass {
    display: flex;
    flex-direction: column;
    color: #222;
}

#cv-right .icoweb {
    display: flex;
    margin: 0;
    align-items: center;
    line-height: 22px;
}


#cv-right .icoweb span.cv-ico-center {
    display: none!important;
}
#cv-right .icoweb span.cv-hi i {
    width: 40px;
    height: 36px;
    text-align: center;
    line-height: 35px;
    font-size: 25px;
    color: #222;
    border: 1px solid #ccc;
    margin: 0 0 3px;
}

#cv-right .icoweb span.cv-hi {
    margin: 0 8px 0 0;
}


#experience-table,
.box-content, 
.skill,
.hasclass {
    padding: 10px;
}
/* Content */
#cv-content .ctbx{position: relative;margin: 0 0 20px;}
#cv-content p{
    /*margin-bottom: 5px*/
}
#cv-content .ir a{
    color: #2ebb2f
}

#cv-content .h3{
    margin-bottom: 0;
    font-weight: 500;
}

/* content 2*/
#cv-content h3 {font-size: 15px;}
#cv-content span.exp-date {
    display: block;
    float: none;
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    top: 0;
    right: 0;
    font-style: italic;
}
#cv-content .exp-title {
    margin: 0 0 5px;
    font-size: 17px;
    font-weight: 500;
    display: block;
    position: relative;
    padding: 0;
    color: #222;
}

#cv-content .exp-subtitle {
    margin: 0;
    display: block;
    font-weight: 400;
    padding: 0;
    color: #111;
}
#cv-content .exp-content {
    text-align: left;
    font-weight: 400;
    padding: 0;
}

/* code Chung */
.bar-exp span {
    float: left;
    height: 10px;
    position: relative;
}

.bar-exp span:after {
    content: "";
    position: absolute;
    top: -2px;
    right: 0px;
    width: 14px;
    height: 14px;
}
.bar-exp {
    margin: 0px 0px 10px;
    height: 10px!important;
    background-color: #ccc;
}

.bar-value-exp{
    width: 50%
}
.skill-name{
    display: block;
    line-height: 23px;
}
.skill-name input{
    font-weight: 500;
    color: #fff;
}

#line-seperate {
    height: 25px;
    background-color: #e3ecec;
}

.cv-head{
    width: 100%;
    padding: 0px;
    margin: 0px;
    height: 45px;
}
.box-content{
}

/*css cvh */
[cvo-form-field] {
    cursor: text;
}
.ctbx:hover {
    box-shadow: 0 0 1px #999;
}
.ctbx:hover .fieldgroup_controls{
    display: block;
}
.ctbx .r5 .h3{
    text-transform: uppercase;
}
/* fix vi tri trinh dieu khien css cvh */
.ctbx {
    position: relative;
}
#cv-right .fieldgroup_controls {
    top: -33px!important;
    right: 1px;
}

#cv-content .fieldgroup_controls {
    top: -34px!important;
    right: 0;
}