#lt-right .box-02{
	border-top:dashed 1px #ed1f24;
	border-bottom:dashed 1px #ed1f24;
}
.box-02 i.fa{
	color: #ed1f24;
}
div#ffoo{
	background: url('../../bot2.png') center center no-repeat;
	background-size: 100%;

}
#lt-top #bg_head{		
	background: url('../../bh2.png') top center no-repeat;
	background-size: 100%;

}