
.box-dm {
    background: url(fake3.png)no-repeat;
    background-size: 100% 100%;
}
#cv-top {
    background-image: url(top3.png);
    background-size: 100% 100%;
}

.all {
    background: url(main3.png)no-repeat;
    background-size: 100% 100%;
}
#cv-top h1 span {
    color: #e84ef6;
}
#cv-top h2,div#prof,#cv-content .head #cvo-experience-blocktitle,div#cv-boxtitle {
    color: #602f9d;
}
.bar-exp {
    background: #e0a8e5;
}
.bar-exp div {
    background: #e84ef6;
}
#cv-top h2,div#prof {
    background: url(bl3.png) no-repeat;
    background-position: bottom;
}