#cv-top {
    background-image: url(hd2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#form-cv {
    line-height: 21px;
}

.all {
    background: url(bd2.png)no-repeat;
    background-size: 100% 100%;
}

.footer {
    background: url(ft2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
}

#cv-top h1 {
    color: #fcc200;
}

#cv-content .head #cvo-experience-blocktitle {
    color: #fcc200;
}

div#cv-boxtitle {
    color: #fcc200;
    /*padding-left: 12px;*/
}

.icright1 {
    background: url(iconn_01.gif);
    background-position: center;
    background-repeat: no-repeat;
}

.icright2 {
    background: url(iconn_02.gif);
    background-position: center;
    background-repeat: no-repeat;
}

.icright3 {
    background: url(iconn_03.gif);
    background-position: center;
    background-repeat: no-repeat;
}

.icright4 {
    background: url(iconn_04.gif);
    background-position: center;
    background-repeat: no-repeat;
}

.icright5 {
    background: url(iconn_05.gif);
    background-position: center;
    background-repeat: no-repeat;
}

#block01 .head {
    background-position: -4px 15px;
    background: url(gach_mau1.png)no-repeat;
    background-position: 305px;
}

#block02 .head {
    background-position: 0px 17px;
    background: url(gach_mau2.png)no-repeat;
    background-position: 305px;
}

#block03 .head {
    background-position: 0px 18px;
    background: url(gach_mau4.png)no-repeat;
    background-position: 305px;
}

#block04 .head {
    background-position: 0px 17px;
    background: url(gach_mau3.png)no-repeat;
    background-position: 305px;
}

#block05 .head {
    background-position: 0px 17px;
    background: url(gach_mau5.png)no-repeat;
    background-position: 305px;
}

#sortable .cvo-block .box-content {
    border-bottom: 3px solid #fcc200;
}

.exp.content-edit.skill {
    border-bottom: 3px solid #fcc200;
}

.box-dm {
    padding: 0;
    margin: 0;
    float: left;
    display: table;
    background: url(avt2.png)no-repeat;
    background-size: 100% 100%;
    clear: both;
    z-index: 1;
    top: -900px;
    position: absolute;
    width: 222px;
    height: 222px;
    margin-top: -223px;
    margin-left: 70px;
}