/* 3 */

:root {
  --ngang: url(ngang3.png) no-repeat;
  --muctieu: url(muctieu3.png) no-repeat;
  --kinang: url(kinang3.png) no-repeat;
  --giaithuong: url(giaithuong3.png) no-repeat;
  --chungchi: url(chungchi3.png) no-repeat;
  --sothich: url(sothich3.png) no-repeat;
  --nguoiTC: url(nguoiTC3.png) no-repeat;
  --skill: url(skill3.png) no-repeat;
  --kn: url(kn3.png) no-repeat;
  --vuong: url(vuong3.png) no-repeat;
  --fake: url(fake3.png) no-repeat;
  --page: url(page_3.png) no-repeat;
  --top: url(top3.png) no-repeat;
  --chu: url(chu-f3.png) no-repeat;
  --ifo: url(chu-t3.png) no-repeat, url(chu-b3.png) no-repeat;
  --tt: url(tt-t3.png) no-repeat, url(tt-b3.png) no-repeat, url(tt-f3.png) no-repeat;
  --ct-t: url(ct3.png) no-repeat;
  --color: #0e526d;
}