#form-cv #box-hvt h2 {
color: #3177b4;

}

.logo {
background-image: url(../3177b4.png);
}

#sortable .box-contact {
background: #3177b4;
}


#cv-right h3 {
    color: #3177b4;
    border-bottom: 1px solid #3177b4;
}
#sortable {
    border-left: 1px solid #3177b4;
}
.bar-exp div {
    background: #3177b4;
}
.icf .fa {
	color: #3177b4;
}