#form-cv #box-hvt h2 {
	color: #e35d50;

}
.logo {
	background-image: url(../e35d50.png);
}

#sortable .box-contact {
	background: #e35d50;
}


#cv-right h3 {
	color: #e35d50;
	border-bottom: 1px solid #e35d50;
}
#sortable {
	border-left: 1px solid #e35d50;
}
.bar-exp div {
	background: #e35d50;
}
.icf .fa {
	color: #e35d50;
}