.bar-exp span, #cvo-profile-info,#cv-content .head span {background-color: #3e97b3!important;}
#cvo-profile-avatar-wraper, #cv-right .h3 {border-color: #3e97b3!important;}
#cv-right .h3 {color: #3e97b3!important;}
#page-cv{
    width: 1072px;
    float: left;
}
#form-cv {
    width: 900px;
    min-height: 1273px;
    float: left;
    position: relative;
    font-size: 15px;
    line-height: 25px;
    overflow: hidden;
    color: #222;
    box-sizing: border-box;
    background-color: #20292e;
}

/* Dan trang */
#cv-main {
    margin: 0;
    padding: 0;
}
#cv-center {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}
#cv-content {
    padding: 0;
    margin: 0px 20px 30px 0;
    box-sizing: border-box;
    width: calc(100% - 340px);
    color: #fff;
    position: relative;
    z-index: 9;
}
#cv-right {
    padding: 0;
    width: 300px;
    background-color: white;
    margin: 99px 0px 99px 20px;
    border-radius: 30px;
    position: relative;
    z-index: 99;
}
/* Code top */
#cv-top {
    margin: 30px 0;
}

.box-01 {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#cvo-profile-avatar-wraper {
    padding: 0;
    width: 210px;
    height: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 110px;
    overflow: hidden;
    border: 1px solid;
}

#cvo-profile-avatar-wraper #cvo-profile-avatar {
    padding: 0;
    width: 200px;
    height: 200px;
    border: none;
    border-radius: 100px;
}

#cvo-profile-info {
    padding: 0;
    margin: 23px 0 0 -320px;
    text-align: center;
    position: relative;
    width: 900px;
    height: 165px;
    border-bottom: 7px solid #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
#cvo-profile-info .float {
    width: calc(100% - 340px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#cvo-profile-info h1 {
    font-size: 33px;
    font-weight: 500;
    margin: 0;
    line-height: 40px;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #fff;
}
#cvo-profile-info h2 {
    font-size: 17px;
    line-height: 23px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
}
/* CV Right */

#cv-right .block {
    margin: 0 0 10px;
    padding: 0;
}
#cv-right .ctbx {
    padding-bottom: 0;
    margin:0 0 7px;
}
#cv-content .cvo-block {
    padding: 0;
}

/* Code chung h3 cv-right */
#cv-content .head{
    font-size: 19px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 27px;
    margin: 0 0 7px;
    padding:0px;
    letter-spacing: 2px;
    min-height: 28px;
    color: #fff;
}
#cv-content .head span {
    padding: 7px 20px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

#cv-right .h3 {
    font-size: 19px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 27px;
    margin: 0 0 7px;
    padding:5px 10px;
    border-bottom: 1px solid;
}
#cv-right .h3 span {
    padding: 0;
}
#cv-right .hasclass {
    display: flex;
    flex-direction: column;
}

#cv-right .icoweb {
    display: flex;
    margin: 0;
    align-items: center;
}


#cv-right .icoweb span.cv-ico-center {
    display: none!important;
}
#cv-right .icoweb span.cv-hi i {
    width: 28px;
    height: 28px;
    margin: 0;
    text-align: center;
    line-height: 29px;
    font-size: 16px;
    color: #333;

}

#cv-right .icoweb span.cv-hi {
    margin: 0 8px 0 0;
}



/* Content */
#cv-content .ir {
    padding-top: 36px;
}
#cv-content .ctbx{position: relative;margin: 0 0 15px;}
#cv-content p{
    /*margin-bottom: 5px*/
}
#cv-content .ir a{
    color: #2ebb2f
}

#cv-content .h3{
    margin-bottom: 0;
    font-weight: 500;
}


#experience-table {
    padding: 0 20px;
    margin: 0 0 30px;
}
/* content 2*/
#cv-content h3 { line-height: 25px; }
#cv-content span.exp-date {
    display: block;
    float: none;
    font-size: 14px;
    font-weight: normal;
    color: #e6e6e6;
}
#cv-content .ctbx .exp-title {
    margin: 0 0 5px;
    font-size: 17px;
    font-weight: 400;
    display: block;
    padding: 0;
    text-transform: uppercase;
}
#cv-content .exp-subtitle {
    margin: 0;
    display: block;
    font-size: 15px;
    font-weight: 400;
    padding: 0;
    text-transform: uppercase;
}
#cv-content .exp-content {
    text-align: left;
    font-weight: 400;
    font-size: 15px;
    padding: 0;
    color: #e6e6e6;
}

/* Module */
.box-content, .skill,.hasclass {
    padding: 0px 10px 15px;
}
/* code Chung */
.bar-exp span {
    float: left;
    height: 10px;
    position: relative;
}
.bar-exp {
    margin: 0px 0px 10px;
    height: 10px!important;
    background-color: #ccc;
}

.bar-value-exp{
    width: 50%
}
.skill-name{
    display: block;
    line-height: 23px;
}
.skill-name input{
    font-weight: 500;
    color: #fff;
}

#line-seperate {
    height: 25px;
    background-color: #e3ecec;
}

.cv-head{
    width: 100%;
    padding: 0px;
    margin: 0px;
    height: 45px;
}
.box-content{
}

/*css cvh */
[cvo-form-field] {
    cursor: text;
}
.ctbx:hover {
    box-shadow: 0 0 1px #999;
}
.ctbx:hover .fieldgroup_controls{
    display: block;
}
.ctbx .r5 .h3{
    text-transform: uppercase;
}
/* fix vi tri trinh dieu khien css cvh */
.ctbx {
    position: relative;
}
#cv-right .fieldgroup_controls {
    top: -33px!important;
    right: 1px;
}

#cv-content .fieldgroup_controls {
    top: -34px!important;
    right: 0;
}