#cv-top {
    width: 100%;
    height: 285px;
    background-image: url(bg-3.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}
.footer {
    float: left;
    width: 100%;
    height: 115px;
    background: url(ft3.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.cumicc1 {
    width: 50px;
    height: 37px;
    float: right;
    background: url(ic-31.png);
    background-position: center right;
    background-repeat: no-repeat;
    margin-right: 5px;
    margin-left: 5px;
}
.cumic2 {
    width: 50px;
    height: 35px;
    float: right;
    background: url(ic-32.png);
    background-position: center right;
    background-repeat: no-repeat;
    margin-right: 5px;
    margin-left: 5px;
}
.cumicc3 {
    width: 50px;
    height: 35px;
    float: right;
    background: url(ic-33.png);
    background-position: center right;
    background-repeat: no-repeat;
    margin-right: 5px;
    margin-left: 5px;
}
.cumic4 {
    width: 50px;
    height: 37px;
    float: right;
    background: url(ic-34.png);
    background-position: center right;
    background-repeat: no-repeat;
    margin-right: 5px;
    margin-left: 5px;
}
.cumic5 {
    width: 50px;
    height: 37px;
    float: right;
    background: url(ic-35.png);
    background-position: center right;
    background-repeat: no-repeat;
    margin-right: 5px;
    margin-left: 5px;
}
.cumic6 {
    width: 50px;
    height: 37px;
    float: right;
    background: url(ic-36.png);
    background-position: center right;
    background-repeat: no-repeat;
    margin-right: 5px;
    margin-left: 5px;
}
.cumic7 {
    width: 50px;
    height: 37px;
    float: right;
    background: url(ic-37.png);
    background-position: center right;
    background-repeat: no-repeat;
    margin-right: 5px;
    margin-left: 5px;
}

.icright1 {
    width: 60px;
    height: 30px;
    float: right;
    background: url(ic-38.png);
    background-position: center right;
    background-repeat: no-repeat;
    margin-left: 10px;
}
.icright2 {
    width: 60px;
    height: 35px;
    float: right;
    background: url(ic-39.png);
    background-position: center right;
    background-repeat: no-repeat;
    margin-left: 10px;
}
.icright3 {
    width: 60px;
    height: 35px;
    float: right;
    background: url(ic-310.png);
    background-position: center right;
    background-repeat: no-repeat;
    margin-left: 10px;
}
.icright4 {
    width: 60px;
    height: 35px;
    float: right;
    background: url(ic-311.png);
    background-position: center right;
    background-repeat: no-repeat;
    margin-left: 10px;
}
.icright5 {
    width: 60px;
    height: 35px;
    float: right;
    background: url(ic-312.png);
    background-position: center right;
    background-repeat: no-repeat;
    margin-left: 10px;
}

#cv-content {
    width: 51.2%;
    text-align: justify;
    float: right;
    position: relative;
    padding: 0;
    margin: 0;
    border-bottom: none;
    border-right: none;
    border: 2px solid #540032;
    padding: 12px 8px 5px 8px;
    border-radius: 10px;
}
#cv-top h1 {
    font-size: 28px;
    font-family: "Roboto";
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 0;
    color: #540032;
    font-weight: bold;
    text-align: right;
}
#cv-top h2 {
    text-transform: uppercase;
    width: 100%;
    font-size: 14px;
    font-family: "Roboto";
    color: #540032;
    text-align: right;
    margin: 0;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 0;
    margin-right: 10px;
}
#cv-content h3 {
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #540032;
}
div#cv-right {
    background-color: #fff;
    padding-bottom: 30px;
    padding: 10px 0px;
    border: 2px solid #540032;
    border-radius: 10px;
}
#cvo-profile-avatar-wraper .wimg {
    width: 155px;
    height: 165px;
    padding: 0px;
    margin: 0px;
    margin-top: 0px;
    border: 5px solid #540032;
}
.bar-exp div {
    float: left;
    height: 10px;
    background: #540032;
    margin-top: 0px;
}
.bar-exp {
    background: #fff;
    height: 10px;
    float: none;
    margin-top: 0;
    margin-bottom: 0px;
    padding: 0px;
    border: 1px solid #540032;
    border-radius: 5px;
}
.icf .fa {
    font-size: 20px;
    color: #540032;
    margin-top: 0;
    float: none;
}
#cv-content .head {
    height: 35px;
    width: 100%;
    line-height: 35px;
    border-bottom: 2px solid #540032;
    margin-bottom: 10px;
}
#cv-content .head #cvo-experience-blocktitle {
    color: #540032;
}
.tt-box1 {
    height: 38px;
    width: 95%;
    line-height: 40px;
    border-bottom: 2px solid #540032;
    margin-left: 10px;
}
div#cv-boxtitle {
    font-size: 19px;
    font-weight: bold;
    text-transform: uppercase;
    color: #540032;
}
.ski {
    height: 38px;
    width: 95%;
    line-height: 40px;
    border-bottom: 2px solid #540032;
    margin-left: 10px;
}
.cum {
    height: 38px;
    width: 95%;
    line-height: 40px;
    border-bottom: 2px solid #540032;
    margin-left: 10px;
}