#form-cv{
	background: #6f6a66;
}
#cv-content{
	background: #6f6a66;
}
#cv-right{
	background: #6f6a66;
}
#cv-content .head span{
	background: #6f6a66;
}

#cv-content .head{
	border-bottom:dotted 2px #6f6a66;
}

#cv-right .h3 span{
	color: #6f6a66;

}

#cvo-profile-avatar-wraper{	
	border-left:solid 3px #6f6a66;
}
#cvo-profile-avatar-wraper #cvo-profile-avatar{

	border: solid 3px #6f6a66;

}
#form-cv{
	background: #6f6a66;
}