#cvo-profile-avatar-wraper{
	background: #06651a
}
#cv-top, .bar-exp div{
	background: #007719;
}
#cv-top h1 span {
    border-left: 10px solid #007719;
    border-right: 10px solid #007719;
    background: #007719; 
}
#cv-right h3, .icf .fa, #cv-content .head, #cv-content .exp-title{
	color:#007719;
}
#cv-content .head{
	border-left: 5px solid #007719
}
#cv-content .exp-date{
	border:1px solid #007719;
}