#cvo-profile-avatar-wraper{
	background: #a71b2e
}
#cv-top, .bar-exp div{
	background: #b81e33;
}
#cv-top h1 span {
    border-left: 10px solid #b81e33;
    border-right: 10px solid #b81e33;
    background: #b81e33; 
}
#cv-right h3, .icf .fa, #cv-content .head, #cv-content .exp-title{
	color:#b81e33;
}
#cv-content .head{
	border-left: 5px solid #b81e33
}
#cv-content .exp-date{
	border:1px solid #b81e33;
}