#cv-top {
    background-image: url(hd2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.all {
    background: url(main2.png)no-repeat;
    background-size: 100% 100%;
}
#cv-right h3 div {
    background: #f97f9f;
    border: solid 2px #3e503c;
}
.bar-exp div {
    background: #3fd3c5;
}

.bar-exp {
    background: #f3ecda;
}  

#cv-content .head div {
    background: #ffcc99;
    color: #fff;
    border: solid 2px #ff6633;
}
#cv-content .head {
    color: #fff;
    text-transform: uppercase;
    background: url(gach1.png)no-repeat;
    background-position: -200px 9px;
}
.box-dm {
    background: url(avata2.png)no-repeat;
    background-size: 100% 100%;
}
.foter_cv{
    background: #f3ecdb;
}

#block01 .exp-date {
    background: #f87f9e;
}