#cv-top {
    background-image: url(../top3.png);
    background-repeat: no-repeat;
}

#form-cv {
    background: url(../right3.png) repeat-y;
    background-position: top right;
    background-color: #fff;
}

.footer {
    background: url(../foot3.png)no-repeat;
    background-size: 100% 100%;
}

.anh {
    background: url(../avt3.png) no-repeat;
    background-position: center bottom;
}

#cv-content .ir .cvo-block {
    background: url(../bl3.png) repeat-y;
}

.ic1 {
    background: url(../sex3.png) no-repeat;
    background-position: 5px 3px;
}

.ic2 {
    background: url(../date3.png) no-repeat;
    background-position: 5px 4px;
}

.ic3 {
    background: url(../phone3.png) no-repeat;
    background-position: 5px 5px;
}

.ic4 {
    background: url(../email3.png) no-repeat;
    background-position: 5px 7px;
}

.ic5 {
    background: url(../add3.png) no-repeat;
    background-position: 5px 5px;
}

div#cv-boxtitle, #cv-content .head {
    color: #ebbb28;
}