
#form-cv {
    border: 30px solid #4ddfdf;
    border-right: none;

}
#cv-top {
    background-image: url(../header-4ddfdf.png);
    background-position: top right; 
}

#cv-right h3 {
    background-image: url(../bg-title-4ddfdf.png);
}
#form-cv .icf {
    background: #4ddfdf;
}

.bar-exp div {
    background: #4ddfdf;
}
#cv-footer {
    background-image: url(../footer-4ddfdf.png);
}