#lt-top::before{
	content: "";
	position: absolute;
	height: 40px;
	top:0;
	left: 0;
	right: 0;
	background: linear-gradient(to right, #651395, #13942D);
}

#form-letter::after{
	content: "";
	position: absolute;
	height: 40px;
	bottom:0;
	left: 0;
	right: 0;
	background: linear-gradient(to right, #651395, #13942D);
}
