#cv-top, #sortable #box01, .bar-exp div{
    background: #232323;
}
#cv-right h3 .wfa, #cv-content .head .wfa{
	border:1px solid #232323;
	color:#232323;
}
#cv-right h3, #cv-content .head{
	color:#232323;
}