#cv-top {
    background-image: url(hd2.png);
    background-size: 100% 100%;
}
.all {
    background: url(main2.png)no-repeat;
    background-size: 100% 100%;
}
.footer {
    background: url(ft2.png)no-repeat;
    background-size: 100% 100%;
}
.exp-fake{
    background: url(ski2.png)no-repeat;
    background-size: 100% 100%;
}
#cv-top h1 {
    color: #b81dcb;
}
.icf .fa {
    color: #b81dcb;
}
.bar-exp div {
    background: #b81dcb;
}