#cv-content .head {
    background-image: url(bdhead.png);
    background-size: 100% auto;
    /* background-repeat: no-repeat; */
    border-bottom: 2px solid #444;
    border-radius: 2px;
}

.fix {
    padding-left: 8px;
    height: 28px;
    width: 300px;
    margin-top: -6px;
    border-top: 3px solid #EE9A00;
    border-radius: 3px;
    padding-top: 3px;
}

#cv-right h3 {
    padding-left: 8px;
    border-radius: 3px;
    border: 2px solid #444;
}

.exp-subtitle {
    font-weight: bold;
}

#form-cv {
    width: 100%;
    float: left;
    /* position: relative; */
    font-size: 14px;
    line-height: 24px;
    color: #434343;
    background: #fff;
    outline: 1px solid #e1e1e1
}

#form-cv p {
    margin-top: 0;
    margin-bottom: 6px
}

#sortable .cvo-block {
    margin-bottom: 20px;
    margin-top: 8px;
    padding: 0 10px;
}

#cvo-profile {
    position: relative;
    /* display: block; */
}

#prof [contentEditable=true] {
    width: 240px;
    display: inherit;
}

#cv-content {
    width: 60%;
    float: left;
    /* position: relative; */
    padding-top: 10px;
}

#cv-content .ir {
    padding: 0 10px;
}

#cv-main {
    padding: 0;
    /* position: relative; */
    float: left;
    width: 39.99%
}

#cv-right .ir {
    padding: 0 10px;
}

p.skill-name input {
    color: #fff !important;
}

#cv-right .ctbx {
    padding: 0;
    margin: 0;
    border: 0;
}

#cv-top {
    background-image: url(header.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
}

#cv-top h1 {
    font-size: 30px;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 0;
    color: red;
    margin-top: 0;
    font-weight: bold
}

#box-hvt {
    float: left;
    width: 69%;
    text-align: center;
    padding-top: 64px
}

#sortable #box01 {
    margin-top: 0;
    padding-top: 14px;
    padding-bottom: 10px
}

#box01 ul {
    list-style: none;
    padding-left: 20px
}

#cv-right .cvo-block .head div {
    color: #fff;
}

#cv-top h2 {
    font-size: 16px;
    /* color: #fff; */
    text-transform: uppercase;
    font-weight: normal;
    margin-top: 7px;
    margin-bottom: 0
}

.box-01 p {
    overflow: hidden;
}

#cv-content p {
    margin-bottom: 5px
}

#cv-content .ir a {
    color: #2ebb2f
}

#cv-right h3,
#cv-content .head {
    font-size: 16px;
    text-transform: uppercase;
    color: #666666;
    /* border-top: 2px solid #434343; */
    font-weight: bold;
    /* text-align: center; */
    margin: 10px auto 10px;
    line-height: 24px;
    padding-top: 5px;
    /* padding-left: 8px; */
}

#cv-content h3 {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 0;
    color: #434343;
}

#cv-content p.h3 {}

#cv-content .cvo-block {}

.ctbx {
    padding-left: 10px;
    padding-right: 10px
}

#cv-content span {
    display: inline-block;
    z-index: 9999;
}

.ctbx {
    margin-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
    /* position: relative; */
}

.ctbx:hover {
    box-shadow: 0 0 1px #999;
}

.ctbx:hover .fieldgroup_controls {
    display: block;
}

[cvo-form-field] {
    cursor: text;
}

#cvo-profile-avatar-wraper {
    margin-left: 23px;
    padding-top: 23px;
    float: left;
    width: 25.99%;
    /* padding: 20px 0 0 */
}

#cvo-profile-avatar-wraper .wimg {
    border-radius: 4px;
    width: 188px;
    border: 4px solid black;
    margin: auto;
}

#cvo-profile-avatar-wraper img {
    width: 188px;
    height: 177px;
    float: none;
    display: inline-block;
}

#line-seperate {
    height: 25px;
}

.bar-exp div {
    border-radius: 3px;
    float: left;
    height: 9px;
    background: #ffc125;
}

.ctbx .skill-name {}

.bar-exp {
    border-radius: 3px;
    background: #444;
    height: 9px;
    margin-top: 0;
    margin-bottom: 12px;
}

.bar-value-exp {
    width: 100%
}

.bar-value-exp input[type="text"] {
    color: #000;
    width: 95%
}

.icoweb label {
    display: block;
}

#sortable .icoweb {
    line-height: 30px;
    float: left;
    padding-left: 5px;
    margin-bottom: 0
}

.ic {
    float: left;
    width: 100%
}

#form-cv .icf {
    background-color: rgb(89, 84, 84);
    float: left;
    border-radius: 20px;
    line-height: 28px;
    margin-bottom: 0;
    width: 28px;
    text-align: center;
}

.ic .icoweb {
    float: left
}

.icf .fa {
    font-size: 14px;
    color: #ffbf26;
    margin-top: 0;
    float: none
}

.watermark {
    float: left;
    width: 100%;
    height: 22px;
    color: #999;
    text-align: right;
    padding-right: 22px;
    font-size: 15px;
    font-family: Courier;
}