#form-letter{
	width: 790px;
	height: 1117px;
	float: left;	
	background: url('../../nendep224.png') #fff left top repeat-y;
	background-size: 100% 100%; 
	background-position: -5px -10px;
	color:#000;
	border:solid 1px #b4ecee;
	position: relative
}