#form-cv {
    font-family: "Roboto", sans-serif;
    width: 100%;
    float: left;
    position: relative;
    font-size: 14px;
    line-height: 19px;
}

#sortable .cvo-block .box-content {
    margin: 0;
    width: 92%;
    border-radius: 10px;
    padding-top: 25px;
    padding-bottom: 20px;
    padding-left: 10px;
}

#cv-right .ski .exp.content-edit.skill {
    margin-top: 10px;
    border-radius: 10px;
    width: 95%;
    margin-right: 10px;
    padding-left: 5px;
}

#cv-right .ir #box04 {
    margin-top: 30px;
}

#cvo-profile {
    display: block;
    clear: both;
    float: left;
    width: 100%;
    /* height: 255px; */
}

#cv-content {
    width: 55.7%;
    text-align: justify;
    float: right;
    position: relative;
    padding: 0;
    margin: 0;
    top: 5px;
    margin-top: -5px;
}

#cv-main {
    text-align: justify;
    margin: 0;
    padding: 0;
    position: relative;
    float: left;
    width: 43.7%;
    border-right: 4px solid #f47847;
}

p.skill-name input {
    color: #fff !important;
}

#cv-right #box03 .ctbx {
    padding: 0;
    margin: 0;
    border: 0;
    margin-bottom: 5px;
    width: 95%;
    margin-left: 8px;
}

#cv-top {
    width: 100%;
    height: 215px;
    background-image: url(hd1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}

#cv-top h1 {
    font-size: 36px;
    font-family: "Roboto";
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 0;
    color: #f47847;
    font-weight: bold;
    text-align: center;
    padding-top: 65px;
}

#cv-top h1 span {
    letter-spacing: 3px;
}

#box-hvt {
    float: right;
    width: 55%;
    padding: 0;
    padding-right: 25px;
    position: relative;
}

.cum,
.ski {
    height: 40px;
    line-height: 31px;
    background: url(name1.png)no-repeat;
    background-size: 100%;
}

#sortable #box01 {
    margin-top: 0;
    margin-bottom: 0px;
    padding: 0;
    padding-bottom: 20px;
}

#sortable #box01 #prof {
    padding: 0;
    margin: 0;
    padding-top: 10px;
    border-radius: 10px;
    padding-left: 5px;
    width: 95%;
}

#box01 ul {
    list-style: none;
    padding-left: 20px
}

#cv-right .cvo-block .head div {
    color: #fff;
}

.innertext {
    margin: 0px;
    padding: 0px;
    width: 29%;
    float: left;
    color: white;
}

#cv-top h2 {
    text-transform: uppercase;
    width: 100%;
    font-size: 16px;
    font-family: "Roboto";
    color: #f47847;
    text-align: center;
    margin: 0;
    padding: 0;
    position: relative;
    margin-bottom: 0;
}

.box-01 p {
    overflow: hidden;
}

#cv-content p {
    margin-bottom: 5px
}

#cv-content .ir a {
    color: #2ebb2f
}

#cv-right h3,
#cv-content .head {
    font-size: 20px;
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    text-align: left;
    line-height: 26px;
    padding-top: 0px;
    margin: 0;
}

#cv-content h3 {
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #f47847;
    padding-top: 5px;
}

.all {
    border: none!important;
    width: 97.5%;
    margin-top: 25px;
    padding-left: 19px;
}

#cv-content #block02 .exp-content {
    margin: 0;
    padding: 0;
}

#cv-content #block03 h3 {
    font-weight: normal;
    color: #000;
}

#cv-content #block04 h3 {
    font-weight: normal;
    color: #000;
}

#cv-content .exp-date {
    float: none;
}

#cv-content #block01 .exp-date {
    display: none;
}

#cv-content #block03 .exp-date {
    display: none;
}

#cv-content #block04 .exp-date {
    display: none;
}

#cv-content #block05 .exp-date {
    display: none;
}

#cv-content p.h3 {
    margin: 0px;
    padding: 0px;
}

#cv-content .cvo-block {
    padding: 0;
    margin: 0;
    padding-left: 10px;
    padding-bottom: 10px;
}

.ctbx {
    padding-left: 10px;
    padding-right: 10px
}

#cv-content span {
    display: inline-block;
    z-index: 9999;
}

#cv-content #block02 h3 {
    font-weight: bold;
}

.ctbx {
    padding-left: 0;
    padding-right: 0;
    position: relative;
}

.ctbx:hover {
    box-shadow: 0 0 1px #999;
}

.ctbx:hover .fieldgroup_controls {
    display: block;
}

[cvo-form-field] {
    cursor: text;
}

#cvo-profile-avatar-wraper {
    height: 175px;
    width: 175px;
    padding: 0;
    margin: 0;
    float: right;
    padding-top: 35px;
    padding-right: 35px;
}

#cvo-profile-avatar-wraper .wimg {
    width: 175px;
    height: 175px;
    padding: 0px;
    margin: 0px;
    margin-top: 0px;
    border: 2px solid #f47847;
    border-radius: 10px;
}

#cvo-profile-avatar-wraper img {
    width: 175px;
    height: 175px;
    float: none;
    border-radius: 10px;
    display: inline-block;
}

#line-seperate {
    height: 25px;
}

.ctbx .skill-name {
    margin: 0px;
    padding: 0px;
    margin-bottom: 10px;
    padding-top: 10px;
}

.bar-exp {
    background: #fff;
    height: 7px;
    float: none;
    margin-top: 0;
    margin-bottom: 0px;
    padding: 0px;
    border: 1px solid #f47847;
    border-radius: 5px;
}

.bar-value-exp {
    width: 100%
}

.bar-value-exp input[type="text"] {
    color: #000;
    width: 95%
}

.icoweb label {
    display: block;
}


/*#sortable .icoweb {
width: 87%;
height: 30px;
line-height: 30px;
float: right;
padding-left: 5px;
margin-bottom: 0;
color:#fff;
}*/

#page-cv #cv-content span {
    width: 100%;
}

#prof [contentEditable=true] {
    width: 100%;
    float: left;
}

#prof .icoweb,
#prof .icoweb span {
    height: auto;
    line-height: 30px;
}

#sortable .ic {
    margin-bottom: 0px;
    padding-top: 5px;
}

.ic {
    width: 100%;
    float: left;
}

#form-cv .icf {
    float: left;
    border-radius: 5px;
    line-height: 30px;
    margin-bottom: 0;
    width: 28px;
    text-align: center;
}

.ic .icoweb {
    width: 85%;
    text-align: left;
    padding-left: 5px;
    float: left;
}

.icf .fa {
    font-size: 20px;
    margin-top: 0;
    float: none;
    color: #f47847;
}

.container {
    width: 100%;
}

.sum {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 30px;
}

#cv-right .ir .block {
    padding: 0;
    margin: 0;
}

#sort_block .cvo-block {
    margin: 0;
    padding: 0;
}

#cv-right .block {
    margin-bottom: 0px;
    position: relative;
    padding: 0;
}

#cv-content .head {
    color: #f47847;
    text-align: left;
    height: 35px;
    line-height: 35px;
    background: url(name1.png)no-repeat;
    background-size: 100% 100%;
    padding-left: 7px;
}

#cvo-experience-blocktitle {
    float: left;
}

#experience-table .ctbx {
    line-height: 25px;
    width: 94%;
    padding-left: 20px;
}

.ifo {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 30px;
}

#cv-right h3 {
    width: 100%;
    height: 30px;
    margin: 0;
    color: #ffffff;
    padding: 0;
    float: left;
    line-height: 30px;
    text-align: center;
    background: #f47847;
}


/* #cv-content .head #cvo-experience-blocktitle {
  color: #0a4b73;
  background: #fff;
  padding-left: 10px;
  width: 100%;
  text-align: center;
} */

#experience-table #exp2 {
    margin-top: 10px;
}

#block02 #experience-table .ctbx {
    padding-top: 0;
}

#block01 #experience-table .ctbx {
    padding-top: 0;
}

#block03 #experience-table .ctbx {
    padding-top: 0;
}

#block04 #experience-table .ctbx {
    padding-top: 0;
}

#block05 #experience-table .ctbx {
    padding-top: 0;
}

#exp1 .exp-content {
    padding-right: 10px;
}

#page-cv #cv-content span {
    z-index: 998;
    padding-right: 10px;
}

#bg {
    background: #f47847;
    text-align: left;
}

#experience-table {
    margin-left: 0;
    padding-right: 5px;
    padding-top: 25px;
    padding-bottom: 25px;
}

#cv-content #sort_block {
    margin: 0;
    padding: 0;
}

div#cv-boxtitle {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: #f47847;
}

.footer {
    width: 100%;
    height: 35px;
    background: #f47847;
    float: left;
}

.bar-exp div {
    float: left;
    height: 7px;
    background: #f47847;
    margin-top: 0px;
}

#icright1 {
    background: url(icon8_a.png)no-repeat;
    float: left;
    height: 40px;
    width: 80px;
}

#icright2 {
    background: url(icon9_a.png)no-repeat;
    float: left;
    height: 40px;
    width: 80px;
}

#icright3 {
    background: url(icon10_a.png)no-repeat;
    float: left;
    height: 45px;
    width: 80px;
}

#icright4 {
    background: url(icon11_a.png)no-repeat;
    float: left;
    height: 40px;
    width: 80px;
}

#icright5 {
    background: url(icon12_a.png)no-repeat;
    float: left;
    height: 40px;
    width: 80px;
}

.cumicc1 {
    background: url(icon1_a.png)no-repeat;
    float: left;
    height: 40px;
    width: 65px;
}

.cumicc2 {
    background: url(icon2_a.png)no-repeat;
    float: left;
    height: 45px;
    width: 65px;
}

.cumicc3 {
    background: url(icon3_a.png)no-repeat;
    float: left;
    height: 45px;
    width: 65px;
}

.cumicc4 {
    background: url(icon4_a.png)no-repeat;
    float: left;
    height: 45px;
    width: 65px;
}

.cumicc5 {
    background: url(icon5_a.png)no-repeat;
    float: left;
    height: 45px;
    width: 65px;
}

.cumicc6 {
    background: url(icon6_a.png)no-repeat;
    float: left;
    height: 45px;
    width: 65px;
}

.cumicc7 {
    background: url(icon7_a.png)no-repeat;
    float: left;
    height: 45px;
    width: 65px;
}

.watermark {
    float: left;
    width: 100%;
    /* height: 22px; */
    color: #fff;
    text-align: right;
    padding-right: 22px;
    font-size: 15px;
    padding-top: 15px;
    font-family: Courier;
}