#cv-top{
	background-image: url(ffc400.png);
    background-repeat: no-repeat;
    background-position: top center
}
#bg-footer {
    background: url(bg_bot1.png) center center no-repeat;
}
#cv-top h1{
	color:#ffc400;
}
.bar-exp div{
	background: #ffc400
}