#form-letter{
	width: 100%;
	height: 1130px;
	float: left;	
	color:#000000;
	position: relative;
	background:url(form1.png)no-repeat;
	background-size: 100% 100%;
}
.icf .fa{
	font-size: 18px;	
	color:#722470;	
	font-weight: normal;
	margin-top: 0;	
	float: left
}
#lt-top h1{	
	width: 65%;
	text-transform: uppercase;
	display: block;
	font-size: 24px;
	line-height: 24px;
	font-weight: bold;
	margin-top: 40px;
	text-align: left;
	color: #722470;
	float: left;
	padding-left: 20px;
}