#form-cv {
    width: 100%;
    float: left;
    position: relative;
    font-size: 14px;
    line-height: 24px;
    color: #000;
    /*background: url(bg.png);*/
    /*background-size: 100% 100%;*/
    /*background-repeat: no-repeat;;*/
}
.watermark {
    float: left;
    width: 100%;
    height: 22px;
    color: #999;
    text-align: right;
    padding-right: 22px;
    font-size: 15px;
    font-family: Courier;
    background: #fff;
}

#form-cv p {
    margin-top: 0;
    margin-bottom: 0px;
}

#cv-top {
    width: 100%;
    height: 380px;
    background-image: url(hd1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-bottom: 20px;
}
.all {
    float: left;
    clear: both;
    width: 100%;
    background: url(main1.png)no-repeat;
    background-size: 100% 100%;
}
#sortable .cvo-block {
    margin: 0;
    padding: 0;
    padding: 0 15px 0px;
    padding-bottom: 15px;
    margin-top: 20px;

}

#cvo-profile {
    display: block;
    padding-top: 60px;
}

#cv-content {
    width: 56.8%;
    text-align: justify;
    margin: 0;
    padding: 0;
    float: right;
    padding-left: 20px;
    position: relative;
}

#cv-content .cvo-block {
  
}

#cv-content .ir {
    padding: 0 0px;
    margin: 0px;
}

#cv-content #block02 #exp1 {
    padding: 0;
    margin: 0;
}

#cv-content #block02 #exp2,
#cv-content #block02 #exp3 {
    padding: 0;
    margin: 0;
}

#cv-content .ir #experience-table {
    padding: 0;
    margin: 0;
    padding-left: 16px;
}
#block02{
    background: url(1.png)no-repeat;
    background-size: 9% 100%;
    background-position: left;
}

#block02 .head{
    padding-left: 35px;
}
#block02 #experience-table{
    padding-left: 20px!important;
}
#block03 .head{
    padding-left: 35px;
}

#cv-main {
       margin: 0;
    padding: 0;
    width: 36.99%;
    text-align: justify;
    float: left;
    position: relative;
    margin-left: 15px;
}

#cv-right {
    float: left;
    width: 100%;
}

#cv-right .ir {
    padding: 0;
}

p.skill-name input {
    color: #fff !important;
}

#box-hvt {
    margin: 0;
    padding: 0;
    float: left;
    width: 29%;
    margin-left: 25px;
    text-align: left;
    padding-top: 20px;
}

#cv-top h1 {
    margin: 0;
    padding: 0;
    font-size: 28px;
    line-height: 35px;
    text-transform: uppercase;
    letter-spacing: 6px;
    color: #000;
    font-weight: bold;
    font-family: 'Roboto';
}

#cvo-profile .box-01 {
    float: left;
    width: 33%;
}

#cvo-profile .box-contact {
    /*padding-top: 45px;*/
    width: 88%;
    float: left;
    color: #000;
    padding-left: 20px;
}

#cv-right #prof {
    width: 100%;
    float: left;
    color: #000;
    padding-bottom: 5px;
    border-bottom: 2px solid #1b1b1b;
}

#sortable #box01 {
    padding: 0;
    margin: 0;
    border: 0;
}

.info {
   width: 34%;
    float: right;
    padding: 0;
    margin-top: 10px;
}

#cv-right .cvo-block .head div {
    color: #1b1b1b;
}

#box01 ul li {
    width: 50%;
    float: left
}

#cv-top h2 {
   padding: 0;
    margin: 0;
    font-size: 20px;
    color: #000;
    line-height: 24px;
    text-transform: uppercase;
    margin-top: 5px;
}

#cv-content p {
    margin-bottom: 5px
}

#cv-content .ir a {
    color: #2ebb2f
}

#cv-right h3,
#cv-content .head {
    font-size: 20px;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    line-height: 24px;
    z-index: 1;
}

#sortable .box-content {
    margin: 0;
    padding: 0;
	color: #000;	
    width: 100%;
}

#cv-content .exp-title {
    width: 100%;    float: right;
    color: #000;
}

#cv-content .exp-date {
    float: left;
    width: 20%;
    padding-right: 10px;
    border-left: 2px solid #28a745;
    font-size: 14px;
    text-align: center;
}

#cv-content .w-exp {
    width: 96%;
    float: left;
    /*padding-bottom: 15px;*/
    padding-left: 15px;
	color: #000;
}

#cv-content h3 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: unset;
    color: #000;
    line-height: 18px;
    display: table;
    width: 100%;
    margin-bottom: 5px;
    margin-top: 10px;
    padding-left: 15px;
}
#cv-right .ir #box04 {
    margin-top: 20px;
}
#box04 .cum {
    width: 100%;
    height: 30px;
    text-align: center;
    padding-top: 34px;
}
#box04{
   background: url(ic1.png)no-repeat;
    background-size: 100% 25%;
    background-position: 3px -3px;

}
#cv-right .ir #box05 {
    margin-top: 20px;
}
#box05 .cum {
    width: 100%;
    height: 30px;
    text-align: center;
    padding-top: 34px;
}
#box05{
   background: url(carot1.png)no-repeat;
    background-size: 100% 30%;
    background-position: 3px -1px;

}
#cv-right .ir #box06 {
    margin-top: 20px;
}
#box06 .cum {
    width: 100%;
    height: 30px;
    text-align: center;
    padding-top: 44px;
}
#box06{
   background: url(icon1.png)no-repeat;
    background-size: 100% 33%;
    background-position: 3px -3px;

}
#cv-right .ir #box07 {
    margin-top: 20px;
}
#box07 .cum {
    width: 100%;
    height: 30px;
    text-align: center;
    padding-top: 63px;
}
#box07{
  background: url(tao1.png)no-repeat;
    background-size: 100% 42%;

}
#cv-content p.h3 {
    /*font-weight: bold;*/
}

#cv-content .cvo-block {
    padding: 0;
    margin-right: 25px;
    margin-top: 20px;

}

.ctbx {
    padding-left: 0;
    padding-right: 0;
    /*margin-bottom: 15px;*/
}

#cv-content span {
    display: inline-block;
    z-index: 9999;
}

.ctbx {
    position: relative;
}

.ctbx:hover {
    box-shadow: 0 0 1px #999;
}

.ctbx:hover .fieldgroup_controls {
    display: block;
}

[cvo-form-field] {
    cursor: text;
}

#cvo-profile-avatar-wraper {
float: left;
    width: 84%;
    padding: 0px;
    margin: 0px;
    border-radius: 10px;
    margin-left: 14px;
}

#cvo-profile-avatar-wraper .wimg {
padding: 0;
    margin: 0;
    float: none;
   width: 229px;
    height: 265px;
  

}
#cvo-profile-avatar{
    width: 230px;
    height: 250px;
}
.box-dm {
   width: 260px;
    height: 287px;
    clear: both;
    z-index: 1;
    padding: 0;
    margin: 0;
    display: table;
    position: absolute;
    float: left;
    background: url(avata1.png)no-repeat;
    background-size: 100% 100%;
    margin-top: -287px;
    margin-left: -14px;
    top: -900px;
}
#box02 h3 {
    /* background: url(anh.png)no-repeat;
    background-size: 15% 101%;
    background-position: 20px 0px;
    position: relative;
    z-index: 1; */
}
#box02 .cum {
    width: 100%;
    height: 30px;
    text-align: center;
   border-radius: 10px;
    background: #ffcc66;
    margin-top: -15px;
    position: relative;
    z-index: 1;
}
#box02{
    border: 2px dashed #000;
}
#cvo-profile-avatar-wraper img {
    width: 205px;
    height: 225px;
    float: none;
    display: inline-block;
      border-radius: 55px 0;
}

#line-seperate {
    height: 25px;
}

.bar-exp div {
    float: left;
    height: 10px;

    background-color: #fc0202;
}

.ctbx .skill-name {
    width: 100%;
    float: left;
}

.bar-exp {
    display: none;
    width: 100%;
    background: #000;
    height: 10px;
    float: right;
    margin-top: 3px;
    /*border-radius: 1px solid #fc0202; */
    margin-bottom: 0px;

}

.skill .ctbx {
    margin: 0;
    padding: 0;
    margin-top: 5px;
}

.bar-value-exp {
    width: 50%
}

.bar-value-exp input[type="text"] {
    color: #000;
    width: 95%
}

.icoweb label {
    display: block;
}

.icoweb {
    line-height: 22px;
    float: left;
    padding-left: 5px;
}

.ic {
    float: left;
    width: 100%;
    margin-bottom: 8px
}

#form-cv .icf {
    display: none;
    float: left;
    line-height: 25px;
    height: 25px;
    margin-bottom: 0;
    font-size: 14px;
    width: 25px;
    text-align: center;
}

#form-cv .ic .icoweb {
    margin-bottom: 0;
    color: #000;
    text-align: center
}

.ic .icoweb {
    float: left;
    text-align: left;
}

.icf .fa {
    color: #fc0202;
    margin-top: 0;
    float: none
}

#prof .ic {
    padding: 0;
    margin: 0;
    margin-top: 3px;
    float: none;
    float: left;
    /* padding: 3px; */
    height: auto;
    width: 100%;
	text-align: center;
}

#form-cv .wfa {
    float: right;
    width: 25px;
    font-size: 14px;
    line-height: 25px;
    background: #000;
    border: 2px solid #446600;
    border-radius: 20px;
    text-align: center;
    color: #446600
}

#cv-content .head {
    width: 100%;
    height: 30px;
    color: #000;
    text-align: left;}

.sumic1 {
    width: 25px;
    height: 25px;
    float: left;
}

.sumic2 {
    width: 25px;
    height: 25px;
    float: left;
}

.sumic3 {
    width: 25px;
    height: 25px;
    float: left;
}

.sumic4 {
    width: 25px;
    height: 25px;
    float: left;
}

.sumic5 {
    width: 25px;
    height: 25px;
    float: left;
}

.cum {
    width: 100%;
    height: 30px;
    text-align: center;
    /*background: #00b05b;*/
}
h3.icon-ic-3 {
    position: relative;
    z-index: 1!important;
}
div#cv-boxtitle {
    position: relative;
    z-index: 1!important;
}
#cv-right h3 {
    width: 100%;
    height: 30px;
    line-height: 30px;
    float: left;
    text-align: center;
    position: relative;
    z-index: 1;
}

.cumic2 {
    width: 25px;
    height: 25px;
    float: left;
}

.cumic4 {
    width: 25px;
    height: 25px;
    float: left;
}

.cumic5 {
    width: 25px;
    height: 25px;
    float: left;
}

.cumic6 {
    width: 25px;
    height: 25px;
    background-size: 100% 100%;
    float: left;
}

.cumic7 {
    width: 25px;
    height: 25px;
    float: left;
}

#box03 .funk {
    width: 45%;
    height: 30px;/* 
    background: #ffcc66; */
    border-radius: 10px;
    text-align: center;
    /* margin-top: -15px; */
    position: relative;
    z-index: 1!important;
}

.funic {
    width: 25px;
    height: 25px;
    float: left;
}

#cv-top h1,
#cv-top h2 {
    text-align: left;
    /*padding-left: 10px;*/
}





#prof {
	margin-left: 50px;
    margin-top: 36px;
}
/* fix width */

#prof .icoweb,
#prof .icoweb span {
    width: 96%;
    height: auto;
    float: left;
    text-align: center!important;
    /*padding-right: 10px;*/

}
#box03 .exp{
    width: 100%;
}

#experience-table .ctbx{
	/*border-bottom-style: 3px dashed #000;*/
	/*margin-left: 20px;*/
	/*padding-right: 25px;*/
	/*margin-right: 25px;*/
	/*border-bottom: #000 solid;*/
	/*background: url(bt.png)no-repeat;*/
	/*background-position: right bottom;*/
	/*background-size: 100% auto;*/
	/*padding-top: 15px;*/
}

#cv-profile-birthday::before{
    color: #000;
}
#cv-profile-sex::before{
    color: #000;
}
#cv-profile-phone::before{
    color: #000;
}
#cv-profile-email::before{
    color: #000;
}
#cv-profile-address::before{
    color: #000;
}

#box03 .skill-name{
    color: #000;
}
#box04 .box-content,#box05 .box-content,#box05 .box-content,#box06 .box-content,#box07 .box-content{
    color: #000;
}
#box02 h3{
    /*border-bottom: 2px solid grey;*/
}

#box04,#box05,#box06,#box07{
	padding-bottom: 15px;
}
#cv-right .ir #box03{
	margin-top: 20px;
    border: 2px dashed #000;
    background: url(nu4.png)no-repeat;
    background-position: right;

}
#block01{
    border: 2px dashed #000;
}
#block01 .head{
    background: #ffcc66;
    border-radius: 10px;
     width: 30%;
    height: 30px;
    margin-top: -17px;
    position: relative;
    z-index: 1;
}

#box04 h3{
    text-align: left;
}

#box05 h3{
    text-align: left;
}
#box06 h3{
    text-align: left;
}
#box07 h3{
    text-align: left;
}

#block03 .block-title{
    /* margin-top: 20px!important; */
}
#block03 {
    border-radius: 10px;
 border:  2px dashed #000;
  

}
#block03{
	  background: url(nu1.png)no-repeat;
    background-position: right;

}

#block04 .head {
    padding-left: 30px;
}
#block04 {
    border-radius: 10px;
   border:  2px dashed #000;
   

}
#block04 {
 background: url(nu2.png)no-repeat;
    background-position: right;
}
#block05 {
    border-radius: 10px;
    border:  2px dashed #000;

}
#block05 .block-title{
    margin-left: 30px;
}
#block05 .sum {
    width: 30%;
    height: 30px;
    text-align: center;
    background: #ffcc66;
    margin-top: -15px;
    z-index: 1;

}
#box02 .box-content{
    padding-bottom: 20px;
}
div#footer {
    background: none;
    border: none;
    padding: unset;
    margin: unset;
}