#form-cv {
    background-image: url(bgtop.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 100%;
    float: left;
    position: relative;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    /* background: #fff; */
    /* padding-bottom: 20px; */
    outline: 2px solid #28a745
}

#form-cv p {
    margin-top: 0;
    margin-bottom: 6px
}

#cv-top {
    /* background: #28a745; */
}

#container {
    width: 41.99%;
    float: left;
    position: relative;
}

#sortable .cvo-block {
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px 10px 20px;
    margin-bottom: 0px;
    /* border-bottom: 2px dashed #ddd; */
}

#cvo-profile {
    display: block;
    padding: 20px 0 15px
}

#cv-content {
    background-image: url(bgleft1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    float: left;
    position: relative;
}

#cv-content .cvo-block {}

#cv-content .ir {
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 45px;
}

#cv-main {
    /* background-image: url(bgright.png);
	background-size: 100% auto;
	background-repeat: no-repeat; */
    margin-top: 0px;
    width: 58%;
    float: right;
    position: relative;
    padding: 0px;
}

#cv-right {
    margin-top: 50px;
    float: left;
    width: 100%;
}

#cv-right .ir {
    padding: 0;
}

p.skill-name input {
    color: #fff !important;
}

#box-hvt {
    height: 74px;
    text-align: center;
    padding-top: 28px;
    float: left;
    width: 100%;
}

#cv-top h1 {
    font-size: 32px;
    padding-left: 25px;
    margin: 0;
    line-height: 32px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .3);
    text-transform: capitalize;
    color: #fff;
    font-weight: bold;
}

#cv-main #prof {
    padding: 0px;
    margin: 0px;
    padding-left: 25px;
    float: left;
    position: relative;
    width: 100%;
    height: auto;
    /* background-color: blue; */
}

#cv-right #prof {
    width: 100%;
    float: left;
    color: #000;
    padding-bottom: 5px;
    border-bottom: 2px solid #1b1b1b;
}


/* #sortable #box01 {
  padding: 0;
  margin: 0;
  border: 0;
} */

#cv-right .cvo-block .head div {
    color: #1b1b1b;
}


/* #box01 ul li {
  width: 50%;
  float: left
} */

#cv-top h2 {
    font-size: 16px;
    color: #fff;
    font-weight: normal;
    font-style: italic;
    line-height: 24px;
    text-transform: uppercase;
    margin-top: 10px;
    padding-left: 25px;
    margin-bottom: 6px;
}

#cv-content p {
    margin-bottom: 5px
}

#cv-content .ir a {
    color: #2ebb2f
}

#cv-right h3,
#cv-content .head {
    font-size: 18px;
    color: #ffc832;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 0 10px 0;
    padding-top: 0;
    line-height: 24px;
}

#sortable .box-content {}

#cv-content .exp-title {
    width: 100%;
    float: right;
}

#cv-right h3 {
    border-bottom: 1px solid black;
}

#cv-content .exp-date {
    float: left;
    width: 20%;
    padding-right: 10px;
    border-left: 2px solid #28a745;
    background: url(ar.png) right center no-repeat;
    font-size: 14px;
    text-align: center;
}

#cv-content .w-exp {
    width: 100%;
    float: right;
}

#cv-content h3 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    /* color: #28a745; */
    line-height: 24px;
    display: table;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 0;
}

#cv-content p.h3 {
    font-weight: bold;
    text-transform: uppercase
}

#cv-content .cvo-block {
    padding: 0;
}

.ctbx {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 20px;
}

#cv-content span {
    display: inline-block;
    z-index: 9999;
}

.ctbx {
    position: relative;
}

.ctbx:hover {
    box-shadow: 0 0 1px #999;
}

.ctbx:hover .fieldgroup_controls {
    display: block;
}

[cvo-form-field] {
    cursor: text;
}

#cvo-profile-avatar-wraper {
    float: left;
    width: 96%;
    height: 333px;
    padding-top: 10px;
}

#cvo-profile-avatar-wraper .wimg {
    border: 3px solid #fff;
    float: left;
    margin-top: 120px;
    margin-left: 34px;
    width: 189px;
    height: 209px;
    /* background-color: red; */
    border-radius: 3px;
}

#cvo-profile-avatar-wraper img {
    width: 189px;
    height: 209px;
    float: none;
    display: inline-block;
}

#cvo-profile-avatar {
    width: 189px;
    height: 209px;
}

#line-seperate {
    height: 25px;
}

.bar-exp div {
    border-radius: 3px;
    float: left;
    height: 8px;
    background: #ffc832;
}

.ctbx .skill-name {
    width: 99.99%;
    float: left;
}

.bar-exp {
    border-radius: 3px;
    width: 100%;
    background: #ffe29d;
    height: 8px;
    float: right;
    margin-top: 8px;
    margin-bottom: 0px;
}

.skill .ctbx {
    margin-bottom: 5px;
}

.bar-value-exp {
    width: 50%
}

.bar-value-exp input[type="text"] {
    color: #000;
    width: 95%
}

.icoweb label {
    display: block;
}

.icoweb {
    line-height: 22px;
    float: left;
    padding-left: 5px;
}

.ic {
    float: left;
    width: 100%;
    margin-bottom: 8px
}

#form-cv .icf {
    float: left;
    line-height: 22px;
    height: 22px;
    margin-bottom: 0;
    font-size: 12px;
    width: 23px;
    border-radius: 20px;
    background: #ffc832;
    text-align: center;
}

#form-cv .ic .icoweb {
    margin-bottom: 0
}

.ic .icoweb {
    float: left
}

#prof [contentEditable=true] {
    width: 175px;
    display: inherit;
}

.icf .fa {
    color: #fff;
    margin-top: 0;
    float: none
}

#prof .ic {
    margin-top: 0px;
    float: none;
    float: left;
    margin-bottom: 5px;
    padding: 2px;
    width: 45%;
    /* background: #71b97c; */
    border-radius: 20px;
}

#form-cv .wfa {
    float: right;
    width: 25px;
    font-size: 14px;
    line-height: 25px;
    background: #fff;
    border: 2px solid #446600;
    border-radius: 20px;
    text-align: center;
    color: #446600
}

#prof #first {
    background-color: #fff;
}

#box-hvt h1 {
    margin-top: 0px;
    margin-bottom: 10px;
    color: #0096a5;
    font-size: 30px;
    font-weight: normal;
    text-transform: uppercase;
}

#box-hvt h2 {
    font-weight: normal;
    font-size: 18px;
}

#cv-main .box-01 {
    margin: 0px;
    padding: 0px;
}

#cv-content #block02 #exp1 h3 {
    padding: 10px;
    width: 90%;
    font-weight: normal;
    background-color: #fff2d0;
}

#cv-content #block02 #exp2 h3 {
    padding: 10px;
    width: 90%;
    font-weight: normal;
    background-color: #fff2d0;
}

.watermark {
    float: left;
    width: 100%;
    height: 22px;
    color: #999;
    text-align: right;
    padding-right: 22px;
    font-size: 15px;
    font-family: Courier;
}