#cv-top .sortable.ui-sortable {
    background: url(bg3.svg) center no-repeat;
    width: 100%;
    background-size: cover;
    margin-bottom: 10px;
}

.icon-container {
    background: url(cumicc_container3.svg) center no-repeat;
    height: 46px;
    width: 46px;
    background-size: 100% 100%;
}

.ski-icon-container {
    background: url(cumicc_container3.svg) center no-repeat;
    height: 46px;
    width: 49px !important;
    background-size: 100% 100%;
}

#form-cv .icf1 {
    background-color: #01adf1;
}

#form-cv .icf2 {
    background-color: #01adf1;
}

#form-cv .icf3 {
    background-color: #01adf1;
}

#form-cv .icf4 {
    background-color: #01adf1;
}

#form-cv .icf5 {
    background-color: #01adf1;
}