/* 2 */

:root {
  --sex: url(sex2.png) no-repeat;
  --phone: url(phone2.png) no-repeat;
  --date: url(date2.png) no-repeat;
  --email: url(mail2.png) no-repeat;
  --add: url(add2.png) no-repeat;
  --hocvan: url(hocvan2.png) no-repeat;
  --kinhnghiem: url(kinhnghiem2.png) no-repeat;
  --hoatdong: url(hoatdong2.png) no-repeat;
  --duan: url(duan2.png) no-repeat;
  --TTthem: url(TTthem2.png) no-repeat;
  --page-m: url(page_t2.png) no-repeat, url(page_b2.png) no-repeat, url(page-f2.png) no-repeat;
  --cum: url(cum2.png) no-repeat;
  --color: #acc8b8;
  --color-t: #7eaa92;
  --color-p: #ecf2ef;
}