/* 3 */

:root {
  --sex: url(sex3.png) no-repeat;
  --phone: url(phone3.png) no-repeat;
  --date: url(date3.png) no-repeat;
  --email: url(mail3.png) no-repeat;
  --add: url(add3.png) no-repeat;
  --hocvan: url(hocvan3.png) no-repeat;
  --kinhnghiem: url(kinhnghiem3.png) no-repeat;
  --hoatdong: url(hoatdong3.png) no-repeat;
  --duan: url(duan3.png) no-repeat;
  --TTthem: url(TTthem3.png) no-repeat;
  --page-m: url(page_t3.png) no-repeat, url(page_b3.png) no-repeat, url(page-f3.png) no-repeat;
  --cum: url(cum3.png) no-repeat;
  --color: #a9c3cf;
  --color-t: #96b6c5;
  --color-p: #f1f6f7;
}