#form-cv {
  width: 100%;
  float: left;
  position: relative;
  font-size: 14px;
  line-height: 24px;
}
.watermark {
  float: left;
  width: 100%;
  height: 22px;
  color: #999;
  text-align: right;
  padding-right: 22px;
  font-size: 15px;
  font-family: Courier;
  background: #fff;
}
#prof .icf {
  line-height: 24px;
  width: 24px;
  margin: 0;
  padding: 0;
  float: right;
  text-align: right;
  font-size: 18px;
}

#form-cv p {
  margin-top: 0;
  margin-bottom: 0px;
}
#prof [contentEditable=true] {
    display: inherit;
    width: 200px;
}

#cv-top {
    width: 100%;
    height: 340px;
    background-image: url(hd1_01.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}
.all {
    float: left;
    clear: both;
    background: url(main1_02.png)no-repeat;
    background-size: 100% 100%;
    width: 100%;
}
#sortable .cvo-block {
  width: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}

#cvo-profile {
  display: block;
  padding: 20px 10px 0;
}

#cv-content {
  width: 47%;
  text-align: justify;
  margin: 0;
  padding: 0;
  padding-right: 20px;
  float: right;
  /* position: relative; */
}

#cv-content .cvo-block {
  margin: 0;
  padding: 0;
}

#cv-content .ir {
  padding: 0;
  margin: 0px;
}

#cv-content #block02 #exp1 {
  padding: 0;
  margin: 0;
}

#cv-content #block02 #exp2 {
  padding: 0;
  margin: 0;
  margin: 20px 0 20px 10px;
}

#cv-content .ir #experience-table {
  padding: 0;
  margin: 0;
  color: #fff;
  padding-left: 30px;
}

/* #cv-content .ir #block02 #experience-table{
	padding: 0px;
} */
#cv-main {
  margin: 0;
    padding: 0;
    width: 44%;
    margin-left: 20px;
    text-align: right;
    float: left;
}

#cv-right {
  float: right;
  width: 100%;
}

#cv-right .ir {
  margin: 0;
  padding: 0;
}

#cv-right .ir #sortable {
  margin: 0;
  padding: 0;
}

p.skill-name input {
  color: #fff !important;
}

#box-hvt {
  margin: 0;
  padding: 0;
  padding-top: 55px;
  float: left;
  width: 51%;
  text-align: left;
}

#cv-top h1 {
  margin: 0;
    padding: 0;
    font-size: 40px;
    line-height: 50px;
    color: #fff;
    text-transform: capitalize;
    font-family: 'Roboto';
    font-weight: bold;
        border-bottom: solid 1px #fff;
}

#cvo-profile .box-01 {
  float: right;
  width: 33.99%;
}

#cvo-profile .box-contact {
  padding-top: 0;
  width: 100%;
  float: right;
  color: #fff;
  margin-right: -20px;
}

#cv-top #prof {
  height: 170px;
  width: 95%;
  margin: 0;
  padding: 0;
  float: left;
  color: #fff;
  padding-right: 5px;
  padding-bottom: 5px;
}

#sortable #box01 {
  padding: 0;
  margin: 0;
}

.info {
  width: 66%;
  height: 195px;
  float: left;
  padding: 0;
  margin: 0;
  /* background-color: #1D1D1D; */
}

#cv-right .cvo-block .head div {
  color: #1b1b1b;
}

#box01 ul li {
  width: 50%;
  float: left
}

#cv-top h2 {
  padding: 0;
    margin: 0;
    font-size: 25px;
    line-height: 24px;
    color: #fff;
    text-transform: uppercase;
    margin-top: 5px;
}

#cv-content p {
  margin-bottom: 5px
}

#cv-content .ir a {
  color: #2ebb2f
}

#cv-right h3, #cv-content .head {
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
  padding-top: 0;
  line-height: 24px;
}

#sortable .box-content {
  margin: 0;
    padding: 0;
    width: 100%;
    padding-top: 10px;
    text-align: left;
    color: #fff;
}

#cv-content .exp-title {
  width: 100%;
  float: right;
}

#cv-content .exp-date {
  width: 100%;
  padding-right: 10px;
  font-size: 14px;
  float: none;
}

#cv-content .w-exp {
  width: 100%;
  float: right;
}

#cv-content h3 {
 font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    line-height: 18px;
    display: table;
    width: 100%;
    margin-bottom: 5px;
    margin-top: 10px;
}

#cv-content p.h3 {
  font-weight: bold;
}

#cv-content .cvo-block {
  margin: 0;
  padding: 0;
}

.ctbx {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 15px;
}

#cv-content span {
  display: inline-block;
  z-index: 9999;
}

.ctbx {
  position: relative;
}

.ctbx:hover {
  box-shadow: 0 0 1px #999;
}

.ctbx:hover .fieldgroup_controls {
  display: block;
}

[cvo-form-field] {
  cursor: text;
}

#cvo-profile-avatar-wraper {
float: right;
    width: 48%;
    margin-top: 51px;
}

#cvo-profile-avatar-wraper .wimg {
  padding: 0;
    margin: 0;
    float: none;
    width: 270px;
    height: 259px;
}

#cvo-profile-avatar-wraper img {
width: 250px;
    height: 250px;
    border-radius: 50%;
    float: none;
    
}

.box-dm {
   width: 276px;
    height: 274px;
    float: left;
    /* display: table; */
    background: url(avata1.png)no-repeat;
    background-size: 100% 100%;
    clear: both;
    z-index: 1;
    margin-top: -271px;
    margin-left: 253px;
    position: absolute;
    top: -800px;

}
#cvo-profile-avatar{
    width: 270px;
    height: 250px;
}
#line-seperate {
  height: 25px;
}

.bar-exp div {
  float: right;
  height: 8px;
  background: #666666;
  border-radius: 10px;
}

.ctbx .skill-name {
 width: 100%;
    float: right;
    text-align: left;
    color: #fff;
}

.bar-exp {
  width: 100%;
  border: solid 2px #fff;
  border-radius: 10px;
  background: #fff;
  height: 8px;
  float: left;
  margin-top: 3px;
  margin-bottom: 0px;
}

.skill .ctbx {
  margin: 0;
  padding: 0;
  margin-top: 10px;
}

.bar-value-exp {
  width: 50%
}

.bar-value-exp input[type="text"] {
  color: #000;
  width: 95%
}

.icoweb label {
  display: block;
}

.icoweb {
  line-height: 22px;
  float: left;
  padding-right: 5px;
}

.ic {
  /* float: left; */
  width: 100%;
  margin-bottom: 8px
}

#prof .ic .icoweb {
  width: 80%;
  line-height: 26px;
  text-align: right;
  float: right;
}

.icf .fa {
  color: #fff;
  margin-top: 0;
  float: none
}

#prof .ic {
  padding: 0;
  margin: 0;
  margin-top: 3px;
  float: none;
  float: left;
  padding: 3px;
  line-height: 25px;
  width: 100%;
}

#form-cv .wfa {
  float: right;
  width: 25px;
  font-size: 14px;
  line-height: 25px;
  background: #fff;
  border: 2px solid #446600;
  border-radius: 20px;
  text-align: center;
  color: #446600
}

.sum {
  padding: 0;
  width: 100%;
  height: 55px;
  margin-left: -28px;
}

#cv-content .head {
  width: 85%;
  height: 55px;
  line-height: 70px;
  text-align: left;
  float: right;
  background: url(right.png)no-repeat;
    background-position: 0px 45px;
}

#block01 h3 {
   font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    line-height: 18px;
    display: table;
    width: 24%;
    float: left;
    margin-bottom: 5px;
    height: 131px;
    background: url(gach.png)no-repeat;
    background-position: right 0px;
    padding-right: 10px;
    margin-top: 10px;
}
#block01 .w-exp {
    width: 71%;
    float: right;
     margin-top: 10px;
}
#block02 .w-exp {
    width: 65%;
    float: right;
     margin-top: 10px;
}
#block02 h3 {
    width: 23%;
    float: left;
    height: 114px;
    background: url(gach.png)no-repeat;
    background-position: right;
    padding-right: 18px;
}
.cum {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 30px;

background: url(left.png)no-repeat;
    background-position: 0px 22px;
}

#cv-right h3 {
  width: 88%;
  height: 25px;
  line-height: 25px;
  text-align: left;
}

.cumic2 {
  display: none;
  padding: 0;
  margin: 0;
  width: 25px;
  height: 25px;
  float: right;
}

.cumic4 {
 display: none;
  width: 25px;
  height: 25px;
  float: right;
}

.cumic5 {
   display: none;
  width: 25px;
  height: 25px;
  float: right;
}

.cumic6 {
   display: none;
  width: 25px;
  height: 25px;
  float: right;
}

.cumic7 {
  width: 25px;
  height: 25px;
   display: none;
  float: right;
}
.funk {
  width: 100%;
  height: 30px;
  background: url(left.png)no-repeat;
    background-position: 0px 22px;
}

#cv-content #block01 {
  margin: 0;
  padding: 0;

}

#cv-content #block02 {
  margin: 0;
  padding: 0;
}

#cv-content #block03 {
  margin: 0;
  padding: 0;
}

#cv-content #block04 {
  margin: 0;
  padding: 0;

}

#cv-content #block05 {
  margin: 0;
  padding: 0;
}

#cv-right .block {
  position: unset;
}

