#cv-top {
  background-image: url(hd2.png);
  background-size: 100% 100%;
}
.footer{background: url(ft2.png) no-repeat;background-size: 100% 100%;}
.ic1, .ic2, .ic3 {
  background: url(ic2.png)no-repeat;
  background-size: 100% 100%;
}
.ic {
  background: url(ic2.png)no-repeat;
  background-size: 100% 100%;
}
#cv-top h1 {
  color: #a58cc2;
}
#cv-content .head #cvo-experience-blocktitle {
  border-bottom: 2px solid #a58cc2;
}
.bar-exp {
  background: url(bar2.png)no-repeat;
  background-size: 100% 100%;
}