#cv-top {
    background-image: url(top2.png);
    background-size: 100% 100%;
}
.all {
    background: url(main2.png);
    background-size: 100% 100%;
}
.icf .fa,#cv-content .head #cvo-experience-blocktitle,.ic .icoweb,#cv-top h1 ,div#cv-boxtitle{
    color: #ba7652
}
.bar-exp div,div#cv-boxtitle,div#box02 {
    background: #E7CCBD;
}
#cv-top h2 {
   color: #8290fc;
}
.bar-exp {
 background:#8290fc ;
}
.fake-img{
    background: url(fake2.png)no-repeat;
    background-size: 100% 100%;
  }