/* 2 */

:root {
    --sex: url(sex.png) no-repeat;
    --phone: url(phone.png) no-repeat;
    --date: url(date.png) no-repeat;
    --email: url(email.png) no-repeat;
    --add: url(add.png) no-repeat;
    --top: url(top2.png) no-repeat;
    --page: url(page2.png) no-repeat;
    --name1: url(name2-1.png) no-repeat;
    --name2: url(name2-2.png) no-repeat;
    --name3: url(name2-3.png) no-repeat;
    --them: url(them2.png) no-repeat;
    --skill: url(skill.png) no-repeat;
    --kn: url(kn2.png) no-repeat;
  }