#form-cv {
	line-height: 26px;
}

#cv-right .ir {
	line-height: 26px;
}

#cv-top h1,
#cv-top h1 span {
	line-height: 48px;
}

#cv-content .cvo-block .head {
	line-height: 42px;
}

.exp-title {
	line-height: 28px;
}