#form-cv {
  font-family: "Roboto", sans-serif;
  width: 100%;
  float: left;
  position: relative;
  font-size: 14px;
  line-height: 24px;
  color: #484848;
  background-image:url(greenform.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;

}
.footer {
  display: block;
  height: 25px;
  background-color: #1af8c6;
  width: 100%;
}
