#form-cv{	
	font-size: 15px
}
#cv-content .cvo-block .head{
	font-size: 21px
}
#cv-content h3 {
	font-size: 15px
}
#cv-right .h3{
	font-size: 19px
}
div#cv-boxtitle {
	font-size: 20px
}
#cv-top h2{
	font-size: 18px
}
#cv-top h1{
	font-size: 33px
}