#form-cv {
  width: 100%;
  float: left;
  position: relative;
  font-size: 14px;
  line-height: 24px;
  color: #484848;
  background: #fff;
}
.watermark {
  float: left;
  width: 100%;
  height: 22px;
  color: #999;
  text-align: right;
  padding-right: 22px;
  font-size: 15px;
  font-family: Courier;
  background: #fff;
}
#form-cv p {
  margin-top: 0;
  margin-bottom: 0px;
}

#cv-top {
  width: 100%;
  height: 430px;
  background: url(hd1.png)no-repeat;
  background-size: 100% 100%;
}
.all {
    float: left;
    clear: both;
    width: 100%;
    background: url(main1.png)no-repeat;
    background-size: 100% 100%;
}
#sortable .cvo-block {
  margin: 0;
	padding: 0;
  padding: 0 10px 5px;
  margin-bottom: 15px;
}

#cvo-profile {
  display: block;
  padding: 20px 10px 0;
}

#cv-content {
  width: 55%;
	text-align: justify;
	margin: 0;
	padding: 0;
  float: left;
  position: relative;
}

#cv-content .cvo-block {}

#cv-content .ir {
  padding: 0 10px;
	margin: 0px;
}
#cv-content #block02 #exp1{
	padding: 0;
	margin: 0;
	padding-left: 25px;	margin-left: 10px;
}
#cv-content #block02 #exp2{
	padding: 0;
	margin: 0;
	padding-left: 25px;
	margin: 20px 0 20px 10px;

}
#cv-content .ir #experience-table{
	padding: 0;
	margin: 0;
	padding-left: 30px;
}
#cv-content .ir #block02 #experience-table{
	padding: 0px;
}
#cv-main {
margin: 0;
padding: 0;
  width: 41%;
	text-align: justify;
  float: right;
  position: relative;}

#cv-right {
  float: left;
  width: 100%;
}

#cv-right .ir {
  padding: 0;
}

p.skill-name input {
  color: #fff !important;
}

#box-hvt {
	margin: 0;
    padding: 0;
    padding-top: 55px;
    float: right;
    width: 20%;
        margin-right: 50px;
}

#cv-top h1 {
	margin: 0;
    padding: 0;
    font-size: 27px;
    text-transform: capitalize;
    color: #ffcc00;
    font-weight: bold;
    line-height: 40px;
    font-family: 'Roboto';
}

#cvo-profile .box-01 {
  float: right;
  width: 33.99%;
}

#cvo-profile .box-contact {
 padding-top: 0;
    width: 100%;
    float: right;
    color: #fff;
    margin-top: 80px;
}

#cv-right #prof {
  width: 100%;
  float: left;
  color: #fff;
  padding-bottom: 5px;
}

#sortable #box01 {
  padding: 0;
  margin: 0;
  border: 0;
}

.info {
  width: 66%;
  height: 170px;
  float: left;
  padding: 0;
  margin: 0;
  margin-top: 7px;
    margin-left: -10px;
}

#cv-right .cvo-block .head div {
  color: #fff;
}

#box01 ul li {
  width: 50%;
  float: left
}

#cv-top h2 {
	padding: 0;
	margin: 0;
  font-size: 20px;
  color: #fff;
  line-height: 24px;
  text-transform: uppercase;
  margin-top: 5px;
}

#cv-content p {
  margin-bottom: 5px
}

#cv-content .ir a {
  color: #2ebb2f
}
/**/
#cv-right h3, #cv-content .head {
 font-size: 25px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    padding-top: 0;
    line-height: 24px;
}

#sortable .box-content {
	margin: 0;
	padding: 0;
	padding-top: 10px;
  color: #fff;
}

#cv-content .exp-title {
  width: 100%;
  float: right;
}

#cv-content .exp-date {
  float: left;
  width: 20%;
  padding-right: 10px;
  border-left: 2px solid #28a745;
  /* background: url(ar.png) right center no-repeat; */
  font-size: 14px;
  text-align: center;
}

#cv-content .w-exp {
  width: 100%;
  float: right;
}

#cv-content h3 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  line-height: 18px;
  display: table;
  width: 100%;
  margin-bottom: 5px;
  margin-top: 10px;
}

#cv-content p.h3 {
  font-weight: bold;

}

#cv-content .cvo-block {
	margin: 0px;
  padding: 0;
}

.ctbx {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 15px;
  color: #fff;
}

#cv-content span {
  display: inline-block;
  z-index: 9999;
}

.ctbx {
  position: relative;
}

.ctbx:hover {
  box-shadow: 0 0 1px #999;
}

.ctbx:hover .fieldgroup_controls {
  display: block;
}

[cvo-form-field] {
  cursor: text;
}

#cvo-profile-avatar-wraper {
  float: left;
  width: 67.99%;
  padding: 0px;
  margin: 0px;
  height: 170px;
}

#cvo-profile-avatar-wraper .wimg {
  padding: 0;
  margin: 0;
  float: none;
  width: 345px;
  height: 385px;
  display: unset!important;
}

#cvo-profile-avatar-wraper img {
   width: 345px;
  height: 385px;
  float: none;}
#cvo-profile-avatar{
   width: 345px;
  height: 385px;
}
#line-seperate {
  height: 25px;
}

.bar-exp div {
  float: left;
  height: 8px;
  background: #ffcc00;
}

.ctbx .skill-name {
  width: 100%;
  float: left;
}

.bar-exp {
  width: 100%;
  background: #fff;
  height: 8px;
  float: right;
  margin-top: 3px;
  margin-bottom: 0px;
}

.skill .ctbx {
margin: 0;
padding: 0;
margin-top: 5px;
}

.bar-value-exp {
  width: 50%
}

.bar-value-exp input[type="text"] {
  color: #000;
  width: 95%
}

.icoweb label {
  display: block;
}

.icoweb {
  line-height: 22px;
  float: left;
  padding-left: 5px;
}

.ic {
  float: left;
  width: 100%;
  margin-bottom: 8px
}

#form-cv .icf {
  float: left;
  line-height: 25px;
  height: 25px;
  margin-bottom: 0;
  font-size: 14px;
  width: 25px;
  text-align: center;
}

#form-cv .ic .icoweb {
  margin-bottom: 0
}

.ic .icoweb {
  float: left;
  font-size: 16px;
}

.icf .fa {
  color: #fff;
  font-size: 20px;
  margin-top: 0;
  float: none
}

#prof .ic {
	padding: 0;
	margin: 0;
	margin-top: 3px;
  float: none;
  float: left;
  padding: 3px;
	line-height: 25px;
  width: 100%;
}
#prof [contentEditable=true] {
    width: 220px;
    display: inherit;
}

#form-cv .wfa {
  float: right;
  width: 25px;
  font-size: 14px;
  line-height: 25px;
  background: #fff;
  border: 2px solid #446600;
  border-radius: 20px;
  text-align: center;
  color: #446600
}
.sum{
	width: 100%;
	height: 30px;
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    background: url(gach.png)no-repeat;
    background-size: 100% 100%;
}
.blog-cv .head, .blog-hd .head {
    background: none;
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
}
 #cv-content .head{
	 width: 85%;
    height: 25px;
    line-height: 25px;
    float: right;
    margin-left: 20px;
 }
.sumic1{
	width: 25px;
	height: 25px;
	/* background-image: url(icon.png); */
	background-size: 100% 100%;
	background-repeat: no-repeat;
	float: left;
}
.sumic2{
	width: 25px;
	height: 25px;
	/* background-image: url(icon.png); */
	background-size: 100% 100%;
	background-repeat: no-repeat;
	float: left;
}
.sumic3{
	width: 25px;
	height: 25px;
	/* background-image: url(icon.png); */
	background-size: 100% 100%;
	background-repeat: no-repeat;
	float: left;
}
.sumic4{
	width: 25px;
	height: 25px;
	/* background-image: url(icon.png); */
	background-size: 100% 100%;
	background-repeat: no-repeat;
	float: left;
}
.sumic5{
	width: 25px;
	height: 25px;
	/* background-image: url(icon.png); */
	background-size: 100% 100%;
	background-repeat: no-repeat;
	float: left;
}
.cum{
	width: 100%;
	height: 30px;
   background: url(gach.png)no-repeat;
  background-size: 100% 100%;
}
#cv-right h3{
	width: 88%;
	height: 25px;
	line-height: 25px;
	float: right;
}
.cumic2{
	width: 25px;
	height: 25px;
	/* background-image: url(icon.png); */
	background-size: 100% 100%;
	background-repeat: no-repeat;
	float: left;
}
.cumic4{
	width: 25px;
	height: 25px;
	/* background-image: url(icon.png); */
	background-size: 100% 100%;
	background-repeat: no-repeat;
	float: left;
}
.cumic5{
	width: 25px;
	height: 25px;
	/* background-image: url(icon.png); */
	background-size: 100% 100%;
	background-repeat: no-repeat;
	float: left;
}
.cumic6{
	width: 25px;
	height: 25px;
	/* background-image: url(icon.png); */
	background-size: 100% 100%;
	background-repeat: no-repeat;
	float: left;
}
.cumic7{
	width: 25px;
	height: 25px;
	/* background-image: url(icon.png); */
	background-size: 100% 100%;
	background-repeat: no-repeat;
	float: left;
}
.funk{
	width: 100%;
	height: 30px;
  background: url(gach.png)no-repeat;
  background-size: 100% 100%;
}
.funic{
	width: 25px;
	height: 25px;
	/* background-image: url(icon.png); */
	background-size: 100% 100%;
	background-repeat: no-repeat;
	float: left;
}
#cv-profile-fullname::before{
  color: #fff;
}