#cvo-profile-avatar-wraper .wimg{
	border:3px solid #00a8ff;
}
#cv-top {
    background: url(00a8ff.png) top left repeat-x;
}
.icf .fa{
	color:#00a8ff;
}
.bar-exp div{
	background: #00a8ff;
}

#cv-top {
background-image: url(headblue.png);
background-size: 100% auto;
background-repeat: no-repeat;
}
#cv-right h3{
	padding-left: 8px;
		border-radius: 3px;
	border: 2px solid #00a8ff;
}

.fix{
	padding-left: 8px;
	height: 28px;
	width: 300px;
	margin-top: -6px;
	border-top: 3px solid #00a8ff;
	border-radius: 3px;
	padding-top: 3px;
}
