#cvo-profile-avatar-wraper .wimg{
	border:3px solid #ec8540;
}
#cv-top {
    background: url(ed1f24.png) top left repeat-x;
}
.icf .fa{
	color:#ec8540;
}
.bar-exp div{
	background: #ec8540;
}

#cv-top {
background-image: url(orange.png);
background-size: 100% auto;
background-repeat: no-repeat;
}
#cv-right h3{
	padding-left: 8px;
		border-radius: 3px;
	border: 2px solid #ec8540;
}

.fix{
	padding-left: 8px;
	height: 28px;
	width: 300px;
	margin-top: -6px;
	border-top: 3px solid #ec8540;
	border-radius: 3px;
	padding-top: 3px;
}
