#form-cv{
	/* padding: 15px; */
	/* width: 100%; */
	position: relative;
	font-size: 14px;
	line-height: 24px;
	color:#434748;
}
#form-cv p{
	margin-top: 0;
	margin-bottom: 6px
}
#sortable .cvo-block{
	margin-bottom: 12px;
	margin-top: 8px;	
	padding:0;
}

#cv-top{
    /* text-align: center; */
    /* padding-top: 10px; */
}

div#cv-top {
    width: 100%;
}

div#cv-top {
    background: url(bgr-avt01.png) no-repeat;
    background-size: 309px 377px;
    top: 13px;
    position: relative;
}
#cvo-profile{	
	display: block;
}

div#cvo-profile {
    width: 100%;
}
#cv-content{
	width: 56%;
	float: right;
}
#cv-main{
	width: 40%;
	float: left;
	position: relative;
	background: #fff;
	padding-right: 5px;
	top: 100px;
}
#cv-right .ir{
	padding: 10px 10px 0px 15px;
}
p.skill-name{
	width: 80%;
}
p.skill-name input{
	color: #fff!important;
}

#cv-right .ctbx {
	padding: 0;
	margin:0;
	border:0;
}
.skill{
	/* margin-top: 15px; */
}
#cv-content h3{
	float: left;
	width: 100%;
	font-size:15px;
	margin-bottom: 5px;
}
#cv-top h1{
	font-size: 26px;
	padding: 15px 5px 5px 5px;
	line-height: normal;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 5px;
	margin-left: -3px;
	color: #006a9e;
	margin-top: -20px;
	font-weight: bold
}


#cv-top h1 span{
	padding: 0px 10px;
}

#cv-top h2{
	font-size: 16px;
	margin-top: 0;
	text-align: center;
	color: #434748;
	margin-left: -10px;
	padding: 0 10px;
	width: 57%;
	text-transform: uppercase;
}
.box-01 p{		
    overflow: hidden;
}

#cv-content p{
	margin-bottom: 5px;
}
#cv-content .ir{
	margin: -295px 10px 0 10px;
	position: relative;
	top: 100px;
}
#cv-content .ir a{
	color: #2ebb2f
}
#cv-right h3, #cv-content .head{
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
	color: #006a9e;
	margin: 0 0 4px;
	margin: 3px 7px 0px 9px;
	border-bottom: 2px solid #cecece;
}

#form-cv #cv-content .cvo-block {
	float: left;
	width: 100%;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0
}
.ctbx{
	padding-left: 10px;
	padding-right: 10px
}

#cv-content span{
	z-index: 9999;
}
.bar-value-exp input[type="text"]{
	color:#252525;
}
.ctbx{
	/* margin-bottom: 20px; */
	position: relative;
}
.ctbx:hover {
	box-shadow: 0 0 1px #999;
}
.ctbx:hover .fieldgroup_controls{
	display: block;
}
[cvo-form-field] {
    cursor: text;
}

#cvo-profile-avatar-wraper{
}

div#cvo-profile-avatar-wraper {
    width: 311px;
    height: 278px;
    margin-left: -15px;
    position: relative;
    left: 15px;
}

div#cvo-profile-avatar-wraper {}
#cvo-profile-avatar-wraper img{
	width: 100%;
	height: 100%;
	float: left;
	object-fit: cover;
	top: 0px;
	left: -2px;
}
#line-seperate {
    height: 25px;    
}
.bar-exp div {
    float: left;
    height: 8px;    
    background: #006a9e;
}
.bar-exp {
  	background: #cecece;
  	height: 8px;
  	float: right;
  	width: 280px;
}      
.icoweb label{
	display: block;
	color:#fff;
}
.box-contact{
	/* font-size: 15px; */
}
#sortable .icoweb{
	padding-left: 24px;
	line-height: 32px;	
	margin-bottom: 0
}
#prof div {
}
.icoweb{
	width: max-content;
	float: left;
}

.ic1 .icf{
	background: url('icon/fa1.1.png') no-repeat;
}
.ic2 .icf{
	background: url('icon/fa1.2.png') no-repeat;
}
.ic3 .icf{

	background: url('icon/fa1.3.png') no-repeat;	
}
.ic4 .icf{
	background: url('icon/fa1.4.png') no-repeat;	
}
.ic5 .icf{
	background: url('icon/fa1.5.png') no-repeat;	
}
.ic1, .ic2, .ic3, .ic4, .ic5{
	width: max-content;
	margin-right: 20px;
	float: left;
	padding-bottom: 5px;
	margin-bottom: 10px;
}
.icf{
	width: 25px;
	height: 25px;
	padding-right: 5px;
	margin-right: 5px;
	float: left;
	background-position: -2px -2px !important;
}
#box02 span, #box032 span, #box04 span, #box05 span, #box06 span, #box07 span {
    width: 260px;
}

.watermark {
    float: right;
    width: 50%;
    height: 22px;
    color: #fff;
    text-align: right;
    padding-right: 22px;
    font-size: 15px;
    font-family: Courier;
    background: #026ba0;
    /* margin-top: -600px; */
    /* top: 576px; */
    /* position: relative; */
}
.fake_img {
    background: url(fake_avt01.png) no-repeat;
    position: absolute;
    width: 297px;
    height: 381px;
    top: 268px;
    margin-top: -297px;
    background-position: 0px 0px;
    margin-left: 5px;
    background-size: 122% 100%;
    top: -9999px;
}

.icoweb .cvi-info{
	display: none;
}
div#box-hvt {
    float: left;
    width: 54%;
    margin-left: 47px;
    padding-top: 20px;
    z-index: 5;
    position: relative;
}

.anh {
    float: left;
    width: 40%;
}

.chu {
	width: 63%;
	margin-left: 6px;
	position: relative;
	top: 84px;
	left: 16px;
	z-index: 0;
	float: left;
}
.ic1 {
    width: 30%;
}
.ic2 {
    width: 20%;
}
.ic3 {
    width: 30%;
}
.ic4, .ic5 {
    width: 100%;
}
.box-01 {
	z-index: 0;
	position: relative;
	height: 381px;
}
div#box01 {
    margin-top: 8px;
}

#cv-boxtitle{
	color: #006a9e;
	font-weight: bold;
	font-size: 20px;
	text-transform: uppercase;
}
.ir #sortable #box01 {
    display: none;
}
.fake-line {
    height: 20px;
    width: 96%;
    background-color: #026ba0;
    float: right;
    margin-bottom: 101px;
    display: none;
}
.chu h1 {
    width: 255px;
}
span#cv-profile-address {
    max-width: 342px;
}

span#cv-profile-email {
    max-width: 342px;
}
div#cvo-experience-blocktitle {
    font-size: 20px;
}
.cum {
    border-bottom: 2px solid #cecece;
}
.icon-dot{
	background: url(dot1.png) no-repeat;
	margin-right: 7px;
	width: 6px;
	height: 27px;
	float: left;
	background-position: 8px 5px;
	padding-left: 18px;
}

.h3 {
    float: left;
    width: 100%;
}

.exp-content {
    float: left;
    width: 100%;
}

.box-content {
    width: 90%;
}

#block01 .exp-content {
    margin-left: 0px;
}
.ski {
    border-bottom: 2px solid #cecece;
}

.all .ctbx, .all .cvo-block {
    text-align: justify;
}

.exp-title {
    float: left;
    width: 100%;
    font-weight: bold;
}

.exp-date {
    float: left;
    width: 100%;
}

.cum, .ski {
    margin-bottom: 15px;
}

.footer {
    float: left;
    width: 100%;
    margin-top: 111px;
}

#block05 h3 {
    display: none;
}

#prof .clr {
    padding-bottom: 175px;
}

#block05 .head {
    margin-bottom: 10px;
}