.fake_img {
    background: url(../fake_avt02.png) no-repeat;
	background-position: 0px 0px;
	background-size: 122% 100%;
}

div#cv-top {
    background: url(../bgr-avt02.png) no-repeat;
    background-size: 309px 377px;
    top: 13px;
    position: relative;
}
#cv-right h3, #cv-content .head {
    color: #df7a1f;
}
#cv-top h1{
	color: #df7a1f;
}
#cv-boxtitle{
	color: #df7a1f;
}
.fake-line {
    background-color: #df7a1f;
}
.bar-exp div {   
    background: #df7a1f;
}
.ic1 .icf{
	background: url('../icon/fa2.1.png') no-repeat;
}
.ic2 .icf{
	background: url('../icon/fa2.2.png') no-repeat;
}
.ic3 .icf{

	background: url('../icon/fa2.3.png') no-repeat;	
}
.ic4 .icf{
	background: url('../icon/fa2.4.png') no-repeat;	
}
.ic5 .icf{
	background: url('../icon/fa2.5.png') no-repeat;	
}

.watermark {
    background: #df7a1f;
}