.fake_img {
    background: url(../fake_avt03.png) no-repeat;
	background-position: 0px 0px;
	background-size: 122% 100%;
}

div#cv-top {
    background: url(../bgr-avt03.png) no-repeat;
    background-size: 309px 377px;
    top: 13px;
    position: relative;
}
#cv-right h3, #cv-content .head {
    color: #e9bb15;
}
#cv-top h1{
	color: #e9bb15;
}
#cv-boxtitle{
	color: #e9bb15;
}
.fake-line {
    background-color: #e9bb15;
}
.bar-exp div {   
    background: #e9bb15;
}
.ic1 .icf{
	background: url('../icon/fa3.1.png') no-repeat;
}
.ic2 .icf{
	background: url('../icon/fa3.2.png') no-repeat;
}
.ic3 .icf{

	background: url('../icon/fa3.3.png') no-repeat;	
}
.ic4 .icf{
	background: url('../icon/fa3.4.png') no-repeat;	
}
.ic5 .icf{
	background: url('../icon/fa3.5.png') no-repeat;	
}

.watermark {
    background: #e9bb15;
}