#cv-top {
    width: 100%;
    height: 360px;
    background-image: url(bg-2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}
#cvo-profile-avatar-wraper img {
    width: 220px;
    height: 220px;
    border: 5px solid #7f152e;
    float: none;
}
.all {
    border: 20px solid #7f152e;
    border-top: none;
    border-right: 22px solid #7f152e;
    border-bottom: 45px solid #7f152e;
}
#cv-content .head {
    background: url(tt3.png);
    height: 40px;
    color: #fff;
    width: 100%;
    line-height: 40px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 20px;
}
.cum {
    background: url(tt3.png);
    height: 40px;
    color: #fff;
    width: 100%;
    line-height: 37px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-top: 20px;
}
.ski {
    background: url(tt3.png);
    height: 40px;
    color: #fff;
    width: 100%;
    line-height: 37px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-top: 20px;
}
.bar-exp div {
    float: left;
    height: 10px;
    background: #7f152e;
    margin-top: 0px;
}
.bar-exp {
    background: #fff;
    height: 10px;
    float: none;
    margin-top: 0;
    margin-bottom: 0px;
    padding: 0px;
    border: 1px solid #7f152e;
    border-radius: 5px;
}
#cv-content h3 {
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #7f152e;
}
.icf .fa {
    font-size: 20px;
    color: #7f152e;
    margin-top: 0;
    float: none;
}