#lt-right .box-02{
	border-top:dashed 1px #6ecdcf;
	border-bottom:dashed 1px #6ecdcf;
}
.box-02 i.fa{
	color: #6ecdcf;
}
div#ffoo{
	background: url('../../bot1.png') center center no-repeat;
	background-size: 100%;

}
#lt-top #bg_head{		
	background: url('../../bh1.png') top center no-repeat;
	background-size: 100%;

}