#cv-top {
    background: url(../top2.png) no-repeat;
    background-position: 0px 15px;
}

.bar-exp {
    background: url(../skill1.png) no-repeat;
}

.bar-exp div {
    background: url(../kn1.png) no-repeat;
}

.chu {
    border-left: solid 8px #f27059;
}

#cv-content .head #cvo-experience-blocktitle {
    color: #f27059;
    border-bottom: solid 2px #f27059;
}

div#box05 {
    background: #f27059;
}

div#box04 {
    background: #f27059;
}

div#box06 {
    background: #f27059;
}

div#box07 {
    background: #f27059;
}

div#box03 {
    background: #f27059;
}

div#box02 {
    background: #fbccaf;
}

#box-hvt #box01 {
    border-top: solid 2px #fbccaf;
    border-bottom: solid 2px #fbccaf;
}