#page-cv{
	width: 1072px;
	float: left;
	text-align: justify;

}
#form-cv{
	width: 900px;
	min-height: 1273px;	
	box-shadow: 0 0 1px rgba(0,0,0,.25);
	float: left;	
	position: relative;
	font-size: 14px;
	line-height: 24px;
	color:#000;
	background: #ffffd7 ;
	border: solid 1px #7f988e;
	/*	background: #fffad2 ;*/
}
#form-cv p{
	margin-top: 0;
	margin-bottom: 12px;
}
#sortable .cvo-block{
	margin-bottom: 30px;
}
h1{
	color:#fff;
}
#cv-main{
	display: table;
}
#cv-top{	
	color: #000;	
	text-align: center;
	position: relative;
	margin:0px 0px 10px;
	background: #517d6b;
}
#cv-content{
	width: 530px;
	height: auto;
	float: left;
	margin-left: 10px;
	position: relative;
}
#cv-right{
	width: 340px;
	float: left;	
	background: #ffffc1;	
	position: relative;
	min-height: 1273px;
}
p.skill-name{
	width: 100px;
	float: left;
}
p.skill-name input{
	font-weight: 500
}
#cv-right .ctbx {
	padding-bottom: 0;
	margin:0;
}
.skill{
	margin-top: 15px;
}

#cv-top h1{
	margin-top: 0px;
	margin-bottom: 0px;
    font-size: 24px;
    font-weight: 800;    
    line-height: 39px;
    display: inline-block;
    text-transform: capitalize;
    color: #ffffff;
    text-align: center;
    padding: 0 10px;
}
#cv-top h2{	
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 600;
    color: #ffffff;
    padding: 0 15px;
    margin-bottom: 15px;
}
.box-01 p{		
    overflow: hidden;

}
.box-01{	
	margin:auto;	
	overflow: hidden;

}
#cv-content .ir{
	
}
#cv-content p{
	margin-bottom: 5px
}
#cv-content .ir a{
	color: #2ebb2f;
}
#cv-right .h3{
    margin: 0 0 15px;
    font-size: 14px;
    line-height: 32px;
    text-transform: uppercase;
    font-weight: 700;
    color: #ffffff;
    background-color: #6aecb7;
    text-align: left;
    border-radius: 15px 15px 15px 15px;
}

#cv-right .h3 span{
	padding: 5px 35px;
    line-height: 22px;
    text-align: left;
    background:#34a294;
    border-radius: 	15px 15px 15px ;
}

 #cv-content .head{
    margin: 0 0 15px;
    font-size: 14px;
    line-height: 32px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: right;
    color: #ffffff;
    background:#6aecb7;
    border-radius: 15px 15px 15px 15px;

}
#cv-content .head span{
	color: #ffffff;
	background: #34a294;
	padding: 5px 35px;
	line-height: 22px;
	 border-radius: 15px 15px 15px ;
}
#cv-content h3{	
	font-weight: 500;
    font-size: 14px; 
    margin-bottom: 0   
}

#cv-content .h3{
	color:#479b9d;
}
#cv-content span{
	display: inline-block;
	color:#000;	
	padding-right: 8px;
	z-index: 9999	;
}

#cv-right .h3:first-child{
	margin-top: 0
}
.ctbx{
	margin-bottom: 10px;
	position: relative;
}
.ctbx .r5 .h3{
	text-transform: uppercase;
}
.ctbx:hover {
	box-shadow: 0 0 1px #999;
}
.ctbx:hover .fieldgroup_controls{
	display: block;
}
[cvo-form-field] {
    cursor: text;
}
#cvo-profile-avatar-wraper{	
	border-radius: 100%;
}
#cvo-profile-avatar-wraper #cvo-profile-avatar{
	border:none;	
	width: 300px;
	height: 300px;		
	border-radius: 35px 35px 35px;
	margin-top: 10px;
}
#line-seperate {
    height: 25px;
    background-color: #e3ecec;
}
.bar-exp span {
    float: left;
    height: 6px;
    background: #0CA4CD;
}
.bar-exp{
	background: #fff;
	width: 145px;
	margin-top: 6px;
	border:2px solid #0CA4CD;
	height: 6px
}
.bar-value-exp{
	width: 145px
}
.icoweb label{
	width: 35%;
	margin-right: 0;
	float: left;
}
#cv-right .icoweb span{
	width: 65%;
	display: inline-block;
	color: #000000;
}
#cv-right .icoweb i.fa{
	width: 19px;
    height: 19px;
    text-align: center;
    line-height: 17px;
    color: #353438;
    vertical-align: top;
    font-size: 14px;
    margin-top: 2px;
    margin-right: 5px;
    margin-left: 35px

}
.box-content{
	padding:0px 15px;
}
#experience-table{
	padding:0px 15px;

}