* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

#page-cv {}

#cv-title {
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
}

#form-cv {
    padding: 20px 24px;
    background-color: #eeefea;
}

.cv_page {
    padding: 0;
    /* display: flex;
    flex-direction: column; */
    border-radius: 16px;
    overflow: hidden;
}

.cv-top-wrapper {
    width: 100%;
    height: 250px;
    border-radius: 16px;
    background-color: #fff;
    margin-bottom: 16px;
}

#cv-top {
    width: 100%;
    height: 238px;
    border-radius: 16px;
    background-color: #4454a3;
}

#cvo-profile {
    width: 100%;
    height: 100%;
    padding: 10px 32px;
}

.box-01 {
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.all {
    position: relative;
    float: left;
    /* display: flex;
    justify-content: space-between;
    gap: 32px; */
    height: 100%;
    background-color: #fff;
    padding: 24px 16px 16px 16px;
    border-radius: 16px;
}

#cv-main {
    float: left;
    width: 42%;
    /* flex: 1; */
}

#cv-right .block {
    padding: 0;
}

#sortable {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#cv-content {
    /* flex: 1; */
    float: right;
    width: 53%;
}

#cvo-profile-avatar-wraper {
    width: 40%;
    height: auto;
    margin-right: 20px;
    z-index: 1;
}

.wimg {
    width: 100%;
    height: 100%;
}

#cvo-profile-avatar {
    background-image: url(/cv365/upload/cv/cv-developer/theshy3.jpeg);
    background-size: 100% 100%;
    background-repeat: no-repeat;

    border-radius: 16px;
}

#box-introduce {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#box01 {
    margin: 0;
}

.tt-box1 {
    display: none;
}

#prof {
    display: flex;
    justify-content: space-between;
}

.box-profile {
    display: flex;
    flex-direction: column;
}

#prof .ic {
    display: flex;
    gap: 8px;
    margin-bottom: 12px;
}

#box-hvt {
    text-align: center;
    border: 1px solid #fff;
    padding: 16px 12px 6px;
}

#cv-profile-fullname {
    font-size: 32px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Roboto";
}

#cv-profile-job {
    font-size: 22px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 400;
    font-family: "Roboto";
}

.cvo-block {
    margin-bottom: 16px;
}

.box-title,
.block-title {
    width: 100%;
    font-size: 18px;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: #4454a3;
    font-weight: 700;
    font-family: "Roboto";
}

.box-title::after,
.block-title::after {
    content: "";
    display: block;
    width: 154px;
    margin: 4px 0;
    border: 2px solid #000;
}

.box-content {
    font-size: 14px;
    color: #1c1b1e;
    font-weight: 400;
    font-family: "Roboto";
}

#cv-content .cvo-block {
    padding: 0;
}

#experience-table {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* .experience {
    padding-bottom: 16px;
} */

#experience-table .exp-title,
#experience-table .h3>.label {
    font-size: 14px;
    color: #1c1b1e;
    font-weight: 600;
    font-family: "Roboto";
}

#cv-content .exp-date {
    float: left;
}

.exp-date-p {
    display: flex;
    line-height: 14px;
    margin-top: 2px;
}

.footer-background {
    width: 100%;
    height: 16px;
    background-color: #4454a3;
}

/* .blockControls {
    display: none;
}

.fieldgroup_controls {
    display: none;
} */