#form-letter{
	width: 900px;
	min-height: 1273px;
	float: left;	
	background: url('../../nendep61.jpg') #fff left top repeat-y;
	background-position: 70% 160%;
	background-size: cover; 
	border-bottom:solid 30px #87d8e3;
	color:#000;
	position: relative;
}