#cv-top {
    text-align: center;
    float: left;
    width: 492px;
    background: url(hd3.png) no-repeat;
    background-size: 100% 100%;
    height: 248px;
    margin-left: -65px;
}

div#sort_block {
    background: url(main3.png) no-repeat;
    background-size: 100% 100%;
}

#cv-top h1 {
    color: #6cb726;
    font-size: 40px;
    line-height: normal;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 0px;
    font-weight: bold;
    padding-right: 73px;
    width: 60%;
    float: right;
}

#box01 h3 span {
    color: #6cb726;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
}

#box02 h3 span {
    color: #6cb726;
}

#box03 h3 span {
    background: #6cb726!important;
    color: #fff!important;
}

#box03 {
    background: #6cb726;
    margin-top: -40px;
    padding-top: 50px;
}

#box04 {
    color: #fff!important;
    background: #6cb726;
    margin-top: -35px;
}

#box04 h3 span {
    background: #6cb726!important;
    z-index: 1;
    color: #fff!important;
}

#box05 {
    color: #fff!important;
    background: #6cb726;
    width: 100%;
    margin-top: -35px;
}

#box05 h3 span {
    background: #6cb726!important;
    z-index: 1;
    color: #fff!important;
}

#box06 {
    color: #fff!important;
    background: #6cb726;
    margin-top: -35px;
}

#box06 h3 span {
    background: #6cb726!important;
    z-index: 1;
    color: #fff!important;
}

#box07 h3 span {
    background: #6cb726!important;
    z-index: 1;
    color: #fff!important;
}

#box07 {
    background: #6cb726;
    color: #fff!important;
    margin-top: -35px;
}

#cv-content .head {
    text-align: left;
    background: #6cb726;
}

#box02 {
    padding-bottom: 50px;
    border-left: 3px solid #6cb726;
    border-right: 3px solid #6cb726;
    border-bottom: 3px solid #6cb726;
}

#cvo-profile-avatar-wraper .wimg {
    width: 187px;
    margin: auto;
    float: none;
    height: 178px;
    border: 3px solid #6cb726;
    border-radius: 50%;
}

.fake {
    float: left;
    width: 100%;
    height: 30px;
    background: url(kynang3.png)no-repeat;
    background-size: 100% 100%;
    z-index: 1;
    /* margin-left: -1px; */
    margin-top: -29px;
}

.box-dm {
    width: 246px;
    height: 240px;
    padding: 0;
    margin: 0;
    float: left;
    display: table;
    background: url(avata3.png)no-repeat;
    background-size: 100% 100%;
    clear: both;
    z-index: 1;
    margin-top: -249px;
    position: absolute;
    margin-left: 42px;
    top: -1200px
}

#box02 h3 {
    background: url(gach3.png) no-repeat;
    background-size: 100% 59%;
    width: 100%;
    height: 35px;
    line-height: normal!important;
}

#box01 h3 {
    background: url(gach3.png) no-repeat;
    background-size: 100% 75%;
    width: 100%;
    height: 35px;
}