#cv-top {
    background-image: url(hd2.png);
    background-size: 100% 100%;
}
.all {
    background: url(main2.png)no-repeat;
    background-size: 100% 100%;
}
.bar-exp div {
    background: url(ski2.png)no-repeat;
    background-position: right;
}
#cv-content .head {
    background-image: linear-gradient(to right, #f2eae7, #f56e58);
}
.ski {
    background: url(head2.png);
    background-size: 100% 100%;
}
.cum {
    background: url(head2.png)no-repeat;
    background-size: 100% 100%;
}
.bar-exp {
    background-image: linear-gradient(to right, #f56e58, #ffa59d);
}
.box-dm {
    background: url(fake2.png)no-repeat;
    background-size: 100% 100%;
}
.icf .fa {
    color: #f56e58;
}
#cv-top h1 {
    color: #000;
}
#cv-top h2 {
    color: #000;
}