#cv-center {background-color: #276588!important;}
#cv-content .xyz{color: #276588!important;}
#form-cv {border-color: #276588!important;}

.bar-exp span {background-color: #013b5d!important;}
.bar-exp span:after{background-color: #002e4a!important;}
