#cv-center {background-color: #3f51b5!important;}
#cv-content .xyz{color: #3f51b5!important;}
#form-cv {border-color: #3f51b5!important;}

.bar-exp span {background-color: #212b5f!important;}
.bar-exp span:after{background-color: #091552!important;}
