#cv-center {background-color: #448827!important;}
#cv-content .xyz{color: #448827!important;}
#form-cv {border-color: #448827!important;}

.bar-exp span {background-color: #204e0d!important;}
.bar-exp span:after{background-color: #153f03!important;}
