#cv-center {background-color: #ff5722!important;}
#cv-content .xyz{color: #ff5722!important;}
#form-cv {border-color: #ff5722!important;}

.bar-exp span {background-color: #692712!important;}
.bar-exp span:after{background-color: #4a1301!important;}