#form-letter{
background: url('../../bot1.png') bottom center no-repeat;
background-size: 100% auto;
}

#lt-top #bg_head{		
	background: url('../../bh1.png') top center no-repeat;
	background-size: 100%;
}
