#cv-top {
    background: url(hd3.png)no-repeat;
    background-position: left;
    background-size: 100% 100%;
}
.all {
    background: url(main3.png)no-repeat;
    /* background-position: left; */
    background-size: 100% 100%;
}
#cv-top h1 {
    color: #33cc66;
}
   .box-dm {
    background: url(avata3.png)no-repeat;
    background-size: 100% 100%;
} 