#form-cv {
    font-family: "Roboto", sans-serif;
    width: 100%;
    float: left;
    position: relative;
    font-size: 14px;
    line-height: 17px;
    color: #484848;
    background-color: #ffffff;
    /* background:#fff; */
}

.watermark {
    float: left;
    width: 100%;
    height: 22px;
    color: #999;
    text-align: right;
    padding-right: 17px;
    font-size: 15px;
    font-family: Courier;
    background: #fff;
}

.all {
    float: left;
    clear: both;
    width: 100%;
    background: url(main1.png)no-repeat;
    background-size: 100% 100%;
}

#sortable .cvo-block {
    /* margin-bottom: 15px; */
    /* margin-top: 8px; */
    padding: 0 10px;
}

#sortable .cvo-block .box-content {
    padding: 0;
    margin: 0;
    /* padding-top: 10px; */
    color: #fff;
    font-size: 16px;
}

#box03 .exp {
    color: #fff;
    font-size: 16px;
}

#cvo-profile {
    display: block;
    /* padding-top: 130px; */
}

#cv-content {
    width: 46%;
    margin-top: 25px;
    text-align: justify;
    float: right;
    margin-right: 25px;
}

#cv-main #cv-right {
    padding: 0;
    margin: 0;
    float: left;
    width: 100%;
}

#cv-content .ir {}

#cv-main {
    text-align: justify;
    margin: 0;
    padding: 0;
    padding-top: 5px;
    position: relative;
    float: left;
    width: 43.99%;
    border-left: 2px dashed black;
}

#cv-right .ir {
    padding: 0 10px 0 20px;
}

p.skill-name input {
    color: #fff !important;
}

#cv-right #box03 .ctbx {
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    /* padding-top: 10px; */
}

#cv-top {
    width: 100%;
    height: 674px;
    background-image: url(hd1.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    position: relative;
}

#cv-top h1 {
    font-size: 59px;
    font-family: "Roboto";
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 0;
    color: #000000;
    margin-top: 30px;
    text-align: center;
}

#box-hvt {
    float: right;
    width: 100%;
    /* margin-top: 65px; */
}

#sortable #box01 {
    margin-top: 0;
    padding-top: 0px;
    margin-bottom: 0px;
}

#sortable #box01 #prof {
    padding: 0;
    margin: 0;
    padding-top: 10px;
    color: #fff;
    font-size: 16px;
}

#box01 ul {
    list-style: none;
    padding-left: 20px
}

#cv-right .cvo-block .head div {
    color: #fff;
}

.innertext {
    margin: 0px;
    padding: 0px;
    width: 29%;
    float: left;
    color: white;
}

#cv-top h2 {
    width: 100%;
    font-size: 20px;
    font-family: "Roboto";
    color: #000000;
    text-align: center;
    font-weight: normal;
    margin: 0;
    padding: 0;
    margin-bottom: 0
}

.box-01 p {
    overflow: hidden;
}

#cv-content p {
    margin-bottom: 5px
}

#cv-content .ir a {
    color: #2ebb2f
}

#cv-right h3,
#cv-content .head {
    font-size: 20px;
    text-transform: uppercase;
    color: #081b0d;
    font-weight: bold;
    text-align: left;
    margin: 0px auto 10px;
    line-height: 20px;
    /* padding-top: 0px; */
}

#cv-content h3 {
    font-size: 16px;
    line-height: 24px;
    font-weight: unset;
    margin: 0px;
    padding: 0px;
    color: #081b0d;
}

#cv-content #block02 .exp-content {
    margin: 0;
    padding: 0;
    padding-left: 10px;
}

#cv-content #block03 h3 {
    font-weight: bold;
}

#cv-content #block04 h3 {
    font-weight: bold;
}

#cv-content .exp-date {
    float: none;
}

#cv-content #block01 .exp-date {
    display: none;
}

#cv-content #block03 .exp-date {
    display: none;
}

#cv-content #block04 .exp-date {
    display: none;
}

#cv-content #block05 .exp-date {
    display: none;
}

#cv-content p.h3 {
    margin: 0px;
    padding: 0px;
}

#cv-content .cvo-block {
    padding: 0px;
}

.ctbx {
    padding-left: 10px;
    padding-right: 10px
}

#cv-content span {
    display: inline-block;
    z-index: 9999;
}

#cv-content #block02 h3 {
    font-weight: bold;
}

.ctbx {
    margin-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
    position: relative;
}

.ctbx:hover {
    box-shadow: 0 0 1px #999;
}

.ctbx:hover .fieldgroup_controls {
    display: block;
}

[cvo-form-field] {
    cursor: text;
}

#cvo-profile-avatar-wraper {
    width: 43%;
    margin-left: 250px;
}

.box-01 {
    padding-top: 145px;
}

#cvo-profile-avatar-wraper .wimg {
    width: 278px;
    height: 310px;
    float: none;
    margin-left: 12px;
}

#cvo-profile-avatar-wraper img {
    width: 278px;
    height: 278px;
    float: none;
    margin-top: -10px;
}

#line-seperate {
    height: 25px;
}

.bar-exp div {
    float: left;
    height: 10px;
    background: #ffff33;
    margin-top: 0px;
}

.ctbx .skill-name {
    margin: 0px;
    padding: 5px;
}

.bar-exp {
    background: #0000;
    height: 10px;
    float: none;
    margin-top: 0;
    margin-bottom: 0px;
    padding: 0px;
    border: 2px solid #fff;
}

.bar-value-exp {
    width: 100%
}

.bar-value-exp input[type="text"] {
    color: #fff;
    width: 95%
}

.icoweb label {
    display: block;
}

#cv-right .block {
    position: relative !important;
}

.ic .icoweb {
    width: 85%;
    text-align: left;
    padding-left: 5px;
    float: left;
}

.ic {
    width: 100%;
    float: left;
}

#prof span {
    width: 280px;
}

#prof [contentEditable=true] {
    width: 280px;
    float: left;
}

#prof .icoweb,
#prof .icoweb span {
    height: auto;
}

#sortable .ic {
    margin-bottom: 0px;
    padding: 3px 0px;
}

#form-cv .icf {
    float: left;
    border-radius: 5px;
    line-height: 30px;
    margin-bottom: 0;
    width: 28px;
}

.icf .fa {
    font-size: 20px;
    color: #fff;
    margin-top: 0;
    float: none
}

.container {
    width: 100%;
}

.sum {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 30px;
    /* padding-top: 5px; */
}

#cv-content .head {
    width: 70%;
    height: 30px;
    margin: 0;
    padding: 0;
    line-height: 30px;
}

#block01 #cvo-experience-blocktitle {
    font-size: 20px;
}

#experience-table .ctbx {
    /* padding-top: 10px; */
    font-size: 16px;
}

.ifo {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 30px;
}

.ski {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 30px;
}

.cum {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 30px;
    /* padding-top: 5px; */
}

#cv-right h3 {
    width: 80%;
    /* height: 30px; */
    font-size: 20px;
    color: #ffff33;
    border-radius: 15px;
    float: left;
    line-height: 30px;
}