/* 2 */

:root {
  --sex: url(sex2.png) no-repeat;
  --phone: url(phone2.png) no-repeat;
  --date: url(date2.png) no-repeat;
  --email: url(mail2.png) no-repeat;
  --add: url(add2.png) no-repeat;
  --page: url(page2.png) no-repeat;
  --kn: url(kn2.png) no-repeat;
  --dot: url(dot2.png) no-repeat;
  --name: url(name2.png) no-repeat;
  --head: url(head2.png) no-repeat;
  --cum: url(cum2.png) no-repeat;
  --color: #374259;
  --color-b: #5c8984;
  --color-tc: #374159;
  --color-m: #46404c;
  --color-tm: #374159;
}