#cv-top {
    width: 100%;
    height: 420px;
    background-image: url(hd2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}
.all{
	float: left;
    clear: both;
  width: 100%;
  background:url(main2.png)no-repeat;
  background-size: 100% 100%;
  font-size: 16px;/*
  font-weight: bold;*/
}
.footer {
  background:url(ft.png)no-repeat;
  background-size: 100% 100%;
  height: 112px; 
    float: left;
    width: 100%;
}
#cv-content #block03 .head {
    margin-bottom: 10px;
    position: relative;
    padding: 0;
    padding-bottom: 20px;
    background: url(ic2.png)no-repeat;
    background-position: 43px 12px;
}
.ski {
    background: url(ic2.png)no-repeat;
    background-position: 61px 12px;
    color: #ff0000;
    margin: 0 auto;
    height: 40px;
    width: 100%;
    line-height: 40px;
}
.bar-exp div {
    float: left;
    height: 8px;
    background: #ff0000;
    margin-top: 0px;
    border-radius: 10px;
}
.bar-exp {
    background: #000;
    height: 8px;
    float: none;
    margin-top: 5px;
    margin-bottom: 0px;
    padding: 0px;
    border: 1px solid #999999;
    border-radius: 10px;
    float: right;
    width: 100%
}
.box-dm{
  width: 280px;
    height: 253px;
    clear: both;
    z-index: 1;
    padding: 0;
    margin: 0;
    display: table;
    position: absolute;
    float: left;
    background: url(avata2.png)no-repeat;
    background-size: 100% 100%;
    margin-top: -256px;
    margin-left: 55px;
    top: -900px;
}
.cum {
    padding: 0;
    margin: 0;
    height: 40px;
    width: 50%;
    line-height: 40px;
    color: #ff0000;
}
#cv-content .head {
    padding: 0;
    margin: 0;
    height: 40px;
    line-height: 40px;
    float: left;
    width: 100%;
    color: #ff0000;
    background: url(ic2.png) no-repeat;
    background-position: 81px 13px;
}
#cv-right #box01 {
    margin-bottom: 10px;
    position: relative;
    padding: 0;
    padding-bottom: 20px;
    background: url(ic2.png)no-repeat;
    background-position: 101px 10px;
}
#cv-right #box02 {
    margin-bottom: 10px;
    position: relative;
    padding: 0;
    padding-bottom: 20px;
    background: url(ic2.png)no-repeat;
    background-position: 101px 10px;
}
#cv-right #box04 {
    margin-bottom: 10px;
    position: relative;
    padding: 0;
    padding-bottom: 20px;
    background: url(ic2.png)no-repeat;
    background-position: 61px 12px;
}
#cv-right #box05 {
    margin-bottom: 10px;
    position: relative;
    padding: 0;
    padding-bottom: 20px;
    background: url(ic2.png)no-repeat;
    background-position: 61px 12px;
}
#cv-right #box06 {
    margin-bottom: 10px;
    position: relative;
    padding: 0;
    padding-bottom: 20px;
    background: url(ic2.png)no-repeat;
    background-position: 61px 12px;
}
#cv-right #box07 {
    margin-bottom: 10px;
    position: relative;
    padding: 0;
    padding-bottom: 20px;
    background: url(ic2.png)no-repeat;
    background-position: 80px 12px;
}