#form-letter{
		
	background: url('../../nendep127.png') #fff left top repeat-y;
	background-size: cover; 
	background-position: 20% 110%;
	color:#000;
	border:solid 1px #7ac8e4;
	position: relative
}