/* MÃ u top */
.bar-exp span,.bg-top {
    background-color:#afafaf!important;
}

.bd-bg-top {
    border-color:#e1e1e1!important;
}

/* MÃ u left */
.bg-left{
    background-color: #004D40!important;
}
.bd-bg-left{
    border-color: #004D40!important;
}
.color {
    color:#004D40!important;
}

/* 
KhÃ´ng thay Ä‘á»•i */
/* mÃ u right */
.bar-exp, .bg-right{
    background-color: #fff!important;
}
.bd-bg-right {
    border-color: #414757!important;
}

#page-cv{
    width: 1072px;
    float: left;
}
#form-cv {
    width: 900px;
    min-height: 1273px;
    float: left;
    position: relative;
    font-size: 15px;
    line-height: 30px;
    color: #fff;
    overflow: hidden;
    border-top: 25px solid;
}

/* Dan trang */
#cv-main{
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 25px solid;
}
#cv-center {
    width: 330px;
    display: flex;
    flex-direction: column;
    background: #137ae8;
    z-index: 999;
}

div#cv-center {}
#cv-content{
    width: calc(100% - 330px);
    padding: 30px 40px;
    margin: 0;
    box-sizing: border-box;
    color: #333;
}
/* Code top */
#cv-top{
    position: relative;
}

.box-01 p{}
.box-01 {
    padding: 0 0 18px;
    flex-direction: column;
    margin: 0;
    position: relative;
    border-bottom:3px solid #ffffff;
    overflow: hidden;
}
#cvo-profile-avatar-wraper {
    padding: 0;
    height: 200px;
    width: 200px;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 100px;
}
#cvo-profile-avatar-wraper #cvo-profile-avatar {
    padding: 0;
    width: 200px;
    height: 200px;
    border: none;
}
#cv-top h1 {
    font-size: 30px;
    font-weight: 500;
    margin: 0;
    line-height: 40px;
    text-transform: capitalize;
    text-align: center;
}

#cv-top h2 {
    font-size: 19px;
    line-height: 30px;
    font-weight: 400;
    text-transform: capitalize;
    text-align: center;
}

/* CV Right */
#cv-right{
    padding: 0;
    margin: 0;
    padding: 5px;
}
#cv-right .block {
    margin: 0;
    padding: 0;
}
#cv-right .ctbx {
    padding-bottom: 0;
    margin:0;
}
#sortable {

}
#cv-right #sortable .cvo-block {margin: 0 0 30px;}

/* Code chung h3 cv-right */
#cv-right .h3 {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 44px;
    margin: 0;
    padding: 0 0 0 50px;
    position: relative;
    min-height: 44px;
}

#cv-right .h3:before {
    font-family: 'FontAwesome';
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 23px;
    text-align: center;
    border: 2px solid;
    border-radius: 50%;
    line-height: 40px;
}
/* ThÃ´ng tin cÃ¡ nhÃ¢n */
#cv-right #box01 .h3:before{
    content: "\f2bb";
}

/* Má»¥c tiÃªu nghá» nghiá»‡p */
#cv-right #box02 .h3:before{
    content: "\f140";
}

/* Ká»¹ nÄƒng */
#cv-right #box03 .h3:before{
    content: "\f085";
}

/* Giáº£i thÆ°á»Ÿng */
#cv-right #box04 .h3:before{
    content: "\f091";
}

/* Chá»©ng chá»‰ */
#cv-right #box05 .h3:before{
    content: "\f044";
}
/* Sá»Ÿ thÃ­ch */
#cv-right #box06 .h3:before{
    content: "\f164";
}

/* NgÆ°á»i tham chiáº¿u */
#cv-right #box07 .h3:before{
    content: "\f1e5";
}

/* Ico web */

#cv-right .hasclass {
    display: flex;
    flex-direction: column;
    padding: 0 0 0 5px;
}
#cv-right .icoweb {
    display: flex;
    margin: 0 0 3px;
    flex-wrap: wrap;
    align-items: center;
}


#cv-right .icoweb span.cv-ico-center {
    /*margin-right: 30px;*/
    display: none!important;
}
#cv-right .icoweb span.cv-hi i {
    width: 33px;
    height: 33px;
    margin: 0;
    text-align: center;
    line-height: 32.3px;
    font-size: 17px;
    color: #FFF;
    border-radius: 4px;
}

#cv-right .icoweb span.cv-hi {
    margin: 0 8px 0 0;
}



/* Content */
#cv-content .cvo-block {
    padding: 0;
    margin-bottom: 20px;
}
#cv-content .ctbx{position: relative;margin: 0 0 10px;}
#cv-content p{
    /*margin-bottom: 5px*/
}
#cv-content .ir a{
    color: #2ebb2f
}

#cv-content .h3{
    margin-bottom: 0;
    font-weight: 500;
}


#experience-table{padding: 0 5px;}

/* content 2*/
#cv-content .head {
    margin: 0 0 10px;
    text-transform: uppercase;
    color: white;
    text-align: center;
    border-radius: 30px;
}
#cv-content .head span {
    margin: 0;
    padding: 2px 0 3px 50px;
    min-height: 45px;
    line-height: 45px;
    font-size: 22px;
    font-weight: 400;
    position: relative;
}
#cv-content .head span:before {
    font-family: 'FontAwesome';
    font-size: 22px;
    line-height: 44px;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 3px;
    left: 0;
    border: 2px solid white;
    border-radius: 50%;
}

/* TrÃ¬nh Ä‘á»™ há»c váº¥n */
#cv-content #block01 .head span:before {
    content:"\f19d";
}
/* Kinh nghiá»‡m */
#cv-content #block02 .head span:before {
    content:"\f00c";
}
/* Hoáº¡t Ä‘á»™ng */
#cv-content #block03 .head span:before {
    content:"\f206";
}
/* Dá»± Ã¡n tham gia */
#cv-content #block04 .head span:before {
    content:"\f0c0";
}
/* ThÃ´ng tin thÃªm */
#cv-content #block05 .head span:before {
    content:"\f067";
}
#cv-content h3 {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 0px;
}


#cv-content span.exp-date {
    display: block;
    float: none;
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    top: 0;
    right: 0;
}

#cv-content .ctbx .exp-title {
    margin: 0 0 5px;
    font-size: 21px;
    font-weight: 400;
    display: block;
    position: relative;
    padding: 0 0 0 23px;
}

#cv-content .ctbx .exp-title:before {
    width: 12px;
    height: 12px;
    position: absolute;
    content: "";
    background: white;
    top: 30%;
    left: 5px;
    border-radius: 10px;
}

#cv-content .exp-subtitle {
    margin: 0;
    display: block;
    font-size: 18px;
    font-weight: 400;
    padding: 0 0 0 23px;
}
#cv-content .exp-content {text-align: left;font-weight: 400;font-size: 15px;padding: 0 0 0 30px;}

/* Module */
.box-content, .skill {
    padding: 0 0 0 10px;
    display: block;
}
/* code Chung */
.bar-exp span {
    float: left;
    height: 10px;
}
.bar-exp {
    margin: 0px 0px 10px;
    height: 10px!important;
}

.bar-value-exp{
    width: 50%
}
.skill-name{
    display: block;
    line-height: 23px;
}
p.skill-name input {
    border-bottom: 0;
    font-size: 15px;
    border: 0;
    color: #FFF!important;
}
#line-seperate {
    height: 25px;
    background-color: #e3ecec;
}

.cv-head{
    width: 100%;
    padding: 0px;
    margin: 0px;
    height: 45px;
}
.box-content{
}

/*css cvh */
[cvo-form-field] {
    cursor: text;
}
.ctbx:hover {
    box-shadow: 0 0 1px #999;
}
.ctbx:hover .fieldgroup_controls{
    display: block;
}
.ctbx .r5 .h3{
    text-transform: uppercase;
}
/* fix vi tri trinh dieu khien css cvh */
#cv-right .fieldgroup_controls {
    top: 34px!important;
    right: 1px;
}

#cv-content .fieldgroup_controls {
    top: 53px!important;
    right: 0;
}
.ctbx:hover {
    box-shadow: 0 0 1px #999;
}
.ctbx:hover .fieldgroup_controls{
    display: block;
}
.ctbx .r5 .h3{
    text-transform: uppercase;
}
/* fix vi tri trinh dieu khien css cvh */
#cv-right .fieldgroup_controls {
    top: 10px!important;
    right: 1px;
}

#cv-content .fieldgroup_controls {
    top: -34px!important;
    right: 0;
}