/* 3 */

:root {
    --sex: url(sex3.png) no-repeat;
    --phone: url(phone3.png) no-repeat;
    --date: url(date3.png) no-repeat;
    --email: url(email3.png) no-repeat;
    --add: url(add3.png) no-repeat;
    --top: url(top3-1.png) no-repeat;
    --bottom: url(bottom3-1.png) no-repeat;
    --center: url(center3-1.png) no-repeat;
    --luoi: url(luoi3.png) repeat-y;
    --avt: url(avt3.png) no-repeat;
    --color-j: #598c79;
    --skill: url(skill3.png) no-repeat;
}