.chu h1 {
    padding: 50px 0;
    text-transform: uppercase;
    font-weight: bold;
    color: #867070;
    margin-bottom: 0;
    font-size: 42px;
    border: 2px solid #867070;
}
.chu h2 {
    padding-bottom: 20px;
    margin-top: -15px;
    font-size: 22px;
    color: #867070;
    position: relative;
    top: -10px;
}
#box-hvt {
    border-top: 2px solid #867070;
    /* border-bottom: 2px solid #867070; */
}
.icf {
    font-style: italic;
    font-weight: bold;
    border: 2px solid #867070;
    color: #867070;
    width: 90px;
    float: left;
    text-align: center;
}
.cum {
    font-size: 20px;
    /* font-weight: bold; */
    background-color: #867070;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    text-transform: uppercase;
}
.ski {
    background-color: #867070;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    padding: 5px;
}
.bar-exp {
    float: left;
    width: 229px;
    height: 10px;
    border-radius: 10px;
    padding: 1px;
    background: url(../bar_exp3.png) no-repeat;
    background-size: 100% 100%;
    height: 11px;
}
.bar-exp div {
    float: left;
    height: 10px;
    background-color: #867070;
    /* margin-top: 2px; */
    border-radius: 10px;
}
#box04 .cum, #box05 .cum, #box07 .cum, #block03 .head, #block05 .head {
    background-color: #f5ebeb;
    color: #000;
}
#cv-content .head {
    font-size: 25px;
    /* font-weight: bold; */
    line-height: 30px;
    padding-left: 15px;
    color: #fff;
    background-color: #867070;
}
#cv-content #experience-table {
    float: right;
    margin: 0px;
    text-align: justify;
    padding: 0 10px;
    margin: 5px 0;
    border-left: 2px solid #867070;
    margin-right: -25px;
    position: relative;
    right: 25px;
}
.all {
    float: left;
    clear: both;
    background-size: 100% 100%;
    width: 100%;
    padding: 10px;
    border-bottom: 2px solid #867070;
    margin-bottom: 10px;
}

.ab {
    border-bottom: 2px solid #867070;
}