/* dam */
#cv-content .head, .bar-exp span, #cv-right .h3 {background-color: #7d3f8d!important;}
#cv-right .h3:after {border-left-color: #7d3f8d!important;}
#cv-right .icoweb span.cv-hi i {color: #7d3f8d!important;}

/* damhon */
.bar-exp span:after {background-color: #46354a!important;}
#cv-right .h3:before {border-left-color: #46354a!important;}

/* nhat */
#cv-center {background-color: #bbb7bc!important;}

/* titleContent */
#cv-content .head {background-color: #7d3f8d!important;}
#cv-content .head span {background-image: -webkit-linear-gradient(-90deg, #f9f9f9 10%, #bbb7bc 90%);}

/* nen */
#form-cv {border-color: #7b6680!important;}

/* XXXXX */
/*#cv-content .xyz{color: #276588!important;}*/


#page-cv{
    width: 1072px;
    float: left;
}
#form-cv {
    width: 900px;
    min-height: 1273px;
    float: left;
    position: relative;
    font-size: 15px;
    line-height: 25px;
    overflow: hidden;
    color: #333;
    box-sizing: border-box;
    border: 1px solid;
}

/* Dan trang */
#cv-main {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
#cv-center {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 300px;
    color: #111;
    position: relative;
    z-index: 10;
}

#cv-content {
    margin: 0 0 0 23px;
    padding: 36px 0 0;
    width: calc(100% - 323px);
    position: relative;
    z-index: 9;
    background-color: #fff;
    box-sizing: content-box;
}
#cv-right {
    padding: 0;
}
/* Code top */
#cv-top {
    position: relative;
    margin: 28px 0;
}
.box-01 {
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
#cvo-profile-avatar-wraper {
    padding: 0;
    width: 184px;
    height: 184px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

#cvo-profile-avatar-wraper #cvo-profile-avatar {
    padding: 0;
    width: 180px;
    height: 180px;
    border: none;
}

#cvo-profile-info {
    margin: 19px 0 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
#cvo-profile-info h1 {
    font-size: 29px;
    font-weight: 400;
    margin: 0;
    line-height: 37px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
    color: #111;
}
#cvo-profile-info h2 {
    font-size: 17px;
    margin: 0;
    padding: 0;
    line-height: 23px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    text-align: center;
    color: #111;
}
/* CV Right */

#cv-right .block {
    margin: 0;
    padding: 0;
}
#cv-right .ctbx {
    padding-bottom: 8px;
    margin:0;
}
#cv-content .cvo-block {
    padding: 0;
}
#cv-right #sortable .cvo-block {
    padding: 0;
    margin: 0;
}

/* Code chung h3 cv-right */

#cv-right .h3 span {
    color: #fff;
}

#cv-right .h3 {
    text-align: center;
    font-size: 21px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 25px;
    margin: 0;
    padding: 2px 5px;
    letter-spacing: -1px;
    color: #222;
    min-height: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
}
#cv-right .h3:after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    top: 0;
    right: -17px;
    border-top: 44px solid transparent;
    border-bottom: 0px solid transparent;
    border-left: 17px solid ;
}
#cv-right .h3:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    bottom: -19px;
    right: -17px;
    border-top: 0px solid transparent;
    border-bottom: 19px solid transparent;
    border-left: 17px solid;
}

#cv-content .head {
    font-size: 22px;
    line-height: 33px;
    text-align: left;
    padding: 1px 0 1px 23px;
    margin: 0 0 5px -23px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #222;
    width: 100%;
}
#cv-content .head span {
    display: block;
    padding: 7px 25px;
    margin-left: -23px;
}
#cv-content h3 {line-height: 25px;}
/* Ico web */
#cv-right .hasclass {
    display: flex;
    flex-direction: column;
}
#cv-right .icoweb {
    padding: 4px;
    display: flex;
    align-items: center;
    line-height: 21px;
    margin: 0;
}

#cv-right .icoweb span.cv-ico-center {
    display: none!important;
}
#cv-right .icoweb span.cv-hi i {
    width: 30px;
    height: 30px;
    margin: 0;
    text-align: center;
    line-height: 29px;
    font-size: 21px;
}

#cv-right .icoweb span.cv-hi {
    margin: 0 8px 0 0;
}



/* Content */
#cv-content .ctbx{position: relative;margin: 0 0 20px;}
#cv-content p{
    /*margin-bottom: 5px*/
}
#cv-content .ir a{
    color: #2ebb2f
}

#cv-content .h3{
    margin-bottom: 0;
    font-weight: 500;
}

#experience-table {
    padding: 10px 15px;
}
#cv-content .xyz {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 500;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
#cv-content span.exp-date,
#cv-content .node,
#cv-content .exp-title {

}

#cv-content span.exp-date {
    float: none;
}
#cv-content .node {
    display: inline-block;
    font-size: 0px!important;
    margin: 0 15px;
    width: 8px;
    height: 8px;
    background: #222;
    border-radius: 4px;
}
#cv-content .exp-title {}



#cv-content .exp-subtitle {
    margin: 0;
    display: block;
    font-size: 15px;
    font-weight: 500;
    padding: 0;
}
#cv-content .exp-content {
    text-align: left;
    font-weight: 400;
    font-size: 15px;
    padding: 0;
}

/* Module */
.box-content, .skill, .hasclass {
    padding: 20px 15px;
    display: block;
}

/* code Chung */
.bar-exp span {
    float: left;
    height: 10px;
    position: relative;
}
.bar-exp span:after {
    content: "";
    position: absolute;
    top: -3px;
    right: -3px;
    width: 16px;
    height: 16px;
    border-radius: 8px;
}
.bar-exp {
    margin: 0px 0px 10px;
    height: 10px!important;
    background-color: #ffffff;
}

.bar-value-exp{
    width: 50%
}
.skill-name{
    display: block;
    line-height: 23px;
}
.skill-name input{
    font-weight: 500;
    color: #fff;
}

#line-seperate {
    height: 25px;
    background-color: #e3ecec;
}

.cv-head{
    width: 100%;
    padding: 0px;
    margin: 0px;
    height: 45px;
}
.box-content{
}
/*css cvh */
[cvo-form-field] {
    cursor: text;
}
.ctbx:hover {
    box-shadow: 0 0 1px #999;
}
.ctbx:hover .fieldgroup_controls{
    display: block;
}
.ctbx .r5 .h3{
    text-transform: uppercase;
}
/* fix vi tri trinh dieu khien css cvh */
.ctbx {
    position: relative;
}
#cv-right .fieldgroup_controls {
    top: -33px!important;
    right: 0px;
}

#cv-content .fieldgroup_controls {
    top: -36px!important;
    right: 0;
}
#cv-content .fieldgroup_controls {
    top: -36px!important;
    right: 0;
}