#page-letter{
	width: 900px;
	float: left;
	font-family: 'Tahoma';
	font-weight:normal;
	background: #ebebeb;
	color:#000;
}
#form-letter{
	font-size: 15px;	
	color:#000;
	line-height: 18px;
	position: relative;
	background-color: #ebebeb;
}
#page1{
	width: 790px;
	height: 1117px;
	background: url('../bg-hoso-1.png') #fff top left no-repeat;
	background-size: 100% 100%;

	margin:25px auto;
}
.page_ctr{
	padding: 70px 60px 65px 95px;
	position: relative;
	height: 969px;
}
.p1-head{
	text-align: center;
	font-weight:bold;
	position: relative;
	margin:0px;
	margin-bottom: 30px;
	padding: 0px;
	float: left;
	width: 100%;
}
.p1-head:after{
	content:"";
	width:230px;
	margin:5px auto;
	display:block;
	height: 1px;
	background: #000
}
.h1{
	color:#000;
	display: block;
	font-size: 20pt;
	font-weight:bold;
	text-align: center;
	text-transform: uppercase;
	line-height: 21px;
	margin: 0px;
	padding: 0px;
	float: left;
	width: 100%;
	margin-bottom: 30px
}
.h1 i{
	font-size: 12pt
}

.tx_nm{
	float: left;
	padding: 0px;
	margin:0px;
}

.hvt{ width: 50px; }
.gioitinh{ width: 52px; }
.ns_ngay{ width: 85px; }
.ns_thang{ width: 27px; }
.cm_thang{ width: 27px; }
.ns_nam{ width: 27px; }
.cm_nam{ width: 27px; }
.cmtnd{width: 100px;}
.noicap{width: 65px;}
.cm_ngay{width: 100px;}
.dt_home{width: 150px;}
.mobile{width: 70px;}
.baotin{ width: 100%; }
.ct_center{ width: 260px; margin: 0px auto;	height: 1px;padding: 0px; }
.sohieu, .kyhieu{ width: 80px; padding-top: 10px}
.hoten_p2{ width: 55px }
.bidanh{width: 54px;}
.tenthuonggoi{width:125px;}
.ns_ngay_p2{ width: 80px; }
.ns_thang_p2{ width: 27px; }
.ns_nam_p2{ width: 27px; }
.tai_p2{ width: 45px; }
.dantoc{ width: 55px; }
.tongiao{ width: 55px; }
.thanhphan_bt{ width: 122px; }
.vanhoa{ width: 45px; }
.ngoaingu{ width: 90px; }
.chuyenmon{ width: 75px; }
.loaihinh_dt{ width: 90px; }
.chuyennganh_dt{ width: 45px; }
.dang_ngay{ width: 170px; }
.dang_thang{ width: 27px; }
.dang_nam{ width: 27px; }
.dang_ketnap{ width: 60px; }
.doan_ngay{ width: 250px; }
.doan_thang{ width: 27px; }
.doan_nam{ width: 27px; }
.doan_ketnap{ width: 60px; }
.suckhoe{ width: 100px; }
.cao{ width: 51px; }
.can_nang{ width: 45px; }
.can_nang2{ width: 30px }
.nghenghiep_chuyenmon{ width: 143px; }
.capbac{ width: 50px; }
.luongchinh{ width: 80px; }
.ngaynhapngu{ width: 172px }
.ngayxuatngu{ width: 75px }
.lydo_p2{ width: 75px; }
.htbo{ width: 75px; }
.tuoibo{ width: 45px; }
.nn_bo{ width: 50px; }

.htme{ width: 80px; }
.tuoime{ width: 47px; }
.nn_me{ width: 55px; }
.hotenvc{ width: 125px; }
.tuoivc{ width: 50px; }
.nn_vc{ width: 50px; }
.noi_nn_vc{ width: 70px; }
.noio_vc{ width: 78px }
.tencon1,.tencon2,.tencon3,.tencon4,.tencon5{ width: 16px; }
.tuoicon1,.tuoicon2,.tuoicon3,.tuoicon4,.tuoicon5{ width: 48px; }
.nn_con1,.nn_con2,.nn_con3,.nn_con4,.nn_con5{ width: 47px; }
.khenthuong{ width: 55px; }
.kyluat{ width: 55px; }
.local_ngay{ width: 105px; }
.local_thang{ width: 27px; }
.local_nam{ width: 27px; }
.bo_1955{ font-size: 14px; }


.p1-d1 #hoten{
	float: left;
	width:385px;
	padding: 0px;
	margin:0px;
}
.p1-d1 #gioitinh{
	float: left;
	width:127px;
	padding: 0px;
	margin:0px;
}

.line{
	padding: 0px;
	margin: 0px;
	float: left;
	background-image: url(../line-dot.png);
    background-position: bottom center;
    background-color: transparent;
    background-repeat: repeat;
    position: relative;
    z-index: 99;
}


.p1-d1{
	margin-bottom: 11px;
	float: left;
	padding: 0px;
	line-height: 18px;
	width: 617px;
	overflow: hidden;
}
.p1-d1 #ns_ngay, .p1-d1 #ns_thang, #cm_thang{
	width:50px;
}
#cm_ngay{
	width:74px;
}
#cm_nam{
	width: 330px;
}
#dt_home{
	width:190px;
}
#mobile{
	width:198px;
}
.p1-d1 #ns_nam{
	width:375px;
}
.dn{
    height: 561px;
    line-height: 27px;
    margin-left: 0;
    overflow: hidden;
    float: left;
    width: 96%;
    background-image: url(../line3.png);
    background-position: bottom center;
    background-color: transparent;
    background-repeat: repeat;
}
.d5{
    height: 130px;
    line-height: 27px;
    margin-left: 0;
    overflow: hidden;
    float: none;
    width: 100%;
}
.d4{
    height: 102px;
    line-height: 27px;
    margin-left: 0;
    overflow: hidden;
    float: left;
    width: 99%;
}
.d3{
    height: 75px;
    line-height: 27px;
    margin-left: 0;
    overflow: hidden;
    width: 99%;
}

.d2{
    height: 50px;
    line-height: 27px;
    margin-left: 0;
    overflow: hidden;
    width: 99%;
}
.d1{
	margin-left: 0;
	overflow: hidden;
	margin-top: 6px;
	float: left;
	width: 99%;
}
#page2 .p-head{
	margin-bottom: 15px;
	float: left;
	width: 100%;
}
#cmtnd{
	width:250px;
	float: left;
	padding: 0px;
	margin: 0px;
}
#noicap{
	width: 195px;
}
.p1-d2{
    font-style: italic;
    margin: auto;
    text-align: center;
    padding: 0px;
    margin: 0px;
    padding-top: 280px;
    float: left;
    width: 100%;
}
.p1-d2 p{
	margin-bottom: 5px
}
.p1-d2 p span{
	width:150px;
	text-align: left;
}
#page2,#page3,#page4{
	width: 790px;
	height: 1099px;
	background: url('../bg-hoso-2.png') #fbfbfb top left no-repeat;
	background-size: 100% 100%;

	margin:20px auto;
}
.p-head{
	text-transform: uppercase;
	font-size: 18px;
	margin:20px 0;
	font-weight:bold;
	float: left;
	width: 100%;
	text-align: center;
}
#sohieu, #kyhieu{ width: 150px;margin-top: 10px}
#hoten_p2{
	width:292px;
}
#bidanh{
	width:210px;
}
#tenthuonggoi{
	width: 486px
}
#ns_ngay_p2{
	width:35px;
}
#ns_thang_p2{
	width:35px
}
#ns_nam_p2{
	width:80px
}
#tai_p2{
	width:283px;
}
#dantoc{
	width:240px;
}
#tongiao{
	width:260px;
}
#thanhphan_bt{
	width: 490px;;
}
#vanhoa{
	width:220px;
}
#ngoaingu{
	width:253px;
}
#chuyenmon{
	width:200px;
}
#loaihinh_dt{
	width:243px;
}
#chuyennganh_dt{
	width:562px;
}

#dang_ngay{ width: 34px; }
#dang_thang{ width: 34px; }
#can_nang{ width: 35px; }


#dang_nam{
	width:313px;
}
#dang_ketnap{
	width:545px;
}
#doan_ngay{ width: 36px; }
#doan_thang{ width: 36px; }

#doan_nam{
	width:230px;
}
#doan_ketnap{
	width:543px;
}
#suckhoe{
	width:220px;
}
#cao{
	width:110px;
}
#cannang{
	width: 105px;
}
#nghenghiep_chuyenmon{
	width: 460px;
}
#capbac{
	width:180px;
}
#luongchinh{
	width:294px;
}
#ngaynhapngu{
	width:190px;
}
#ngayxuatngu{
	width:165px;
}
#lydo_p2{
	width:528px;
}
#htbo{
	width:238px;
}
#tuoibo{
	width:45px;
}
#nn_bo{
	width:153px;
}
#htme{
	width:238px;
}
#tuoime{
	width:45px;
}
#nn_me{
	width:142px;
}
#local{
	width: 55px;
}

#local_ngay{ width: 30px; }
#local_thang{ width: 30px; }
#local_nam{ width: 45px; }
#xacnhan{ text-align: left; }

#page3 .p-head{
	font-size: 15px;
	margin-top: 15px;
	margin-bottom: 5px;
	float: left;
	width: 100%;
}
#page3 .p-head i{
	text-transform: lowercase;
	padding-top: 20px;
	float: left;
	width: 100%;
	font-size: 15px
}
#page4 table{
	width:100%;
	border-collapse: collapse;
}
table thead td{
	text-align: center;
	padding:4px;
}
#page4 table td{
	border:1px solid #000;
}
#page4 table tbody td{
	padding:10px 5px 27px;
	height: 134px;
	line-height: 27px;
	overflow: hidden;
	vertical-align: top;
		background-image: url(../line2.png);
	background-repeat: repeat-x;
}
#page4 .p-head.small{
	font-size: 12pt;
	margin-bottom: 15px
}
#ht_day{
/*	width:106px;*/
}
/*#ht_congtac{
	width:196px;
}
#ht_odau{
	width:148px;
}
#ht_chucvu{
	width:128px;
}*/
#hotenvc{
	width:220px;
}
#tuoivc{
	width:220px;
}
#nn_vc{
	width:566px;
}
#noi_nn_vc{
	width:543px;
}
#noio_vc{
	width:535px;
}
#tencon1,#tencon2,#tencon3,#tencon4,#tencon5{
	width:275px;
}
#tuoicon1, #tuoicon2,#tuoicon3,#tuoicon4,#tuoicon5{
	width:65px;
}
#nn_con1,#nn_con2,#nn_con3,#nn_con4,#nn_con5{
	width:160px;
}
#khenthuong{
	width:555px;
}
#kyluat{
	width:555px;
}
.l{
	width:270px;
	margin-top: 20px;
	float: left;
	text-align: center;
}
.l strong{
	text-align: center;
	float: left;
	width: 100%;
	margin-bottom: 11px;
	font-weight: bold;
	font-size: 14px;
}
.r{
	width:330px;
	float:right;
	text-align: center;
	padding-top: 15px;
	font-style: italic;
}
.r p{
	text-align: center;
	margin-top: 15px;
	font-style: normal;
	float: left;
	width: 100%;
}