.all {
    float: left;
    clear: both;
    width: 100%;
    background-image: url(main3.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}
#cv-top {
    width: 100%;
    float: left;
    background: url(hd3.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-bottom: 30px;
}

#footer {
    width: 100%;
    border: none;
    height: 130px;
    background-color: unset;
    background-image: url(ft3.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
}
#cv-top h1 {
    font-size: 40px;
    padding-top: 20px;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 10px;
    margin-left: 0px;
    color: #33cc66;
    font-weight: bold;
    margin-top: 0;
}
#cv-right h3, #cv-content .head {
    font-size: 25px;
    color: #33cc66;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 auto 10px;
    line-height: 24px;
    clear: both;
}
.bar-exp {
    width: 100%;
    background: #ccffcc;
    height: 10px;
    float: left;
    margin-top: 8px;
}
.bar-exp div {
    float: left;
    height: 10px;
    background: #33cc66;
}
#cvo-profile-avatar-wraper {
   float: left;
    width: 290px;
    padding-top: 50px;
    margin-left: 35px;

}
.box-dm {
   width: 285px;
    height: 280px;
    padding: 0;
    margin: 0;
    /* float: left; */
    display: table;
    background: url(avata3.png)no-repeat;
    background-size: 100% 100%;
    clear: both;
    z-index: 1;
    margin-top: -271px;
    margin-left: -5px;
    top: -800px;
    position: absolute;
}