#cv-content{
	background-color: #cde8f6;
}
.box-contact p{
	margin-bottom: 12px;
	padding: 5px 0px;
	background-color: #cde8f6;
	border-radius: 4px;
}
.bar-exp div {
    float: left;
    height: 8px;
    background: #cde8f6;
    
}
#cv-top{		
    background-image: url('../hd3.png');
    background-size: 100% auto;
    background-position: top center;
    background-repeat: no-repeat;
}