div#cvo-profile {
    background: url(../top3.png) no-repeat, #fff;
}

span#cv-profile-fullname {
    color: #efbd74;
}

.cum, .ski {
    color: #efbd74;
    /* border-bottom: dashed 2px #efbd74; */
    background: url(../title3.png) no-repeat;
    background-size: 100%;
    background-position: left bottom;
}

#cv-content .head {
    color: #efbd74;
    /* border-bottom: dashed 2px #efbd74; */
    background: url(../title3.png) no-repeat;
    background-size: 100%;
    background-position: left bottom;
}

.bar-exp div {
    background: url(../kn3.png) no-repeat;
    background-position: right;
}

.footer {
    background: url(../foot3.png) no-repeat;
    background-size: 100%;
}

.ic1 .icf {
    background: url(../date3.png) no-repeat;
}
.ic2 .icf {
    background: url(../sex3.png) no-repeat;
}
.ic3 .icf {
    background: url(../phone3.png) no-repeat;
}
.ic4 .icf {
    background: url(../email3.png) no-repeat;
}
.ic5 .icf {
    background: url(../add3.png) no-repeat;
}

.fake_img {
    background: url(../fake3.png) no-repeat;
}