div#cvo-profile {
    background: url(../top2.png) no-repeat, #fff;
}

span#cv-profile-fullname {
    color: #f179b7;
}

.cum, .ski {
    color: #f179b7;
    /* border-bottom: dashed 2px #f179b7; */
    background: url(../title2.png) no-repeat;
    background-size: 100%;
    background-position: left bottom;
}

#cv-content .head {
    color: #f179b7;
    /* border-bottom: dashed 2px #f179b7; */
    background: url(../title2.png) no-repeat;
    background-size: 100%;
    background-position: left bottom;
}

.bar-exp div {
    background: url(../kn2.png) no-repeat;
    background-position: right;
}

.footer {
    background: url(../foot2.png) no-repeat;
    background-size: 100%;
}

.ic1 .icf {
    background: url(../date2.png) no-repeat;
}
.ic2 .icf {
    background: url(../sex2.png) no-repeat;
}
.ic3 .icf {
    background: url(../phone2.png) no-repeat;
}
.ic4 .icf {
    background: url(../email2.png) no-repeat;
}
.ic5 .icf {
    background: url(../add2.png) no-repeat;
}

.fake_img {
    background: url(../fake2.png) no-repeat;
}