#cv-content .exp-content, #cv-content .exp-subtitle, #form-cv {font-size: 16px;}
#form-cv h1 {font-size: 42px;}
#form-cv h2 {font-size: 18px;}
#cv-content .head {font-size: 21px;}
#cv-right .h3 {font-size: 18px;}
#cv-content span.exp-date {font-size: 15px;}
#cv-content .exp-title {font-size: 18px;}
