#cv-content .exp-content, #cv-content .exp-subtitle, #form-cv {font-size: 14px;}
#form-cv h1 {font-size: 38px;}
#form-cv h2 {font-size: 16px;}
#cv-content .head {font-size: 19px;}
#cv-right .h3 {font-size: 16px;}
#cv-content span.exp-date {font-size: 13px;}
#cv-content .exp-title {font-size: 16px;}