#cv-top h1{
    color: #2b88ff;
}
div#cv-boxtitle{
    color: #2b88ff;
}
#cvo-experience-blocktitle{
    color: #2b88ff;
}
#cv-right .ir #sortable .block{
    background: #f6f9fb;
}
#cv-content .cvo-block {
    background: #f6f9fb;
}
#cv-top {
    background-image: url(hd_01.png);
    background-size: 100% 100%;
}
.all{
    background: url(main_01.png) no-repeat;
    background-size: 100% 100%;
}
#cvo-profile-avatar-wraper .wimg{
    border: 5px solid #b1dfff;
}