#form-letter{
	width: 100%;
	height: 1130px;
	float: left;	
	color:#000000;
	position: relative;
	background:url(form1.png)no-repeat;
	background-size: 100% 100%;
}
#lt-top h1{	
	width: 36%;
	text-transform: uppercase;
	display: block;
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	margin-top: 25px;
	text-align: left;
	color: #1676bf;
	float: left;
	padding-left: 20px;
}
#cvo-profile-avatar-wraper {
    padding: 0;
    margin: 0;
    float: left;
    width: 160px;
    height: 180px;
    cursor: pointer;
    margin-left: 35px;
    border: 4px solid #1676bf;
    z-index: 99;
}
.icf .fa{
	font-size: 18px;	
	color:#1676bf;	
	font-weight: normal;
	margin-top: 0;	
	float: left
}