.color {
    color: #4c7f8b!important;
}
.bg {
    background-color: #4c7f8b!important;
}
.bd {
    border-color:#4c7f8b!important;
}
.bg-light {
    background-color: #e4f0f3!important;
}
.bar-exp span {
    background-color: #233a40!important;
}
#pag