
.color {
    color: #5c4b0e!important;
}
.bg {
    background-color: #5c4b0e!important;
}
.bd {
    border-color:#5c4b0e!important;
}
.bg-light {
    background-color: #fef9e6!important;
}
.bar-exp span {
    background-color: #312808!important;
}
#pag	