
.color {
    color: #7b3d4e!important;
}
.bg {
    background-color: #7b3d4e!important;
}
.bd {
    border-color:#7b3d4e!important;
}
.bg-light {
    background-color: #f6e8ec!important;
}
.bar-exp span {
    background-color: #3b1d25!important;
}
#pag