#box-hvt {
    float: left;
    width: 100%;
    padding: 0;
    text-align: center;
    margin: 0;
    height: 191px;
    padding-top: 60px;
    background: url(bg1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}
#cv-main {
    text-align: justify;
    margin: 0;
    padding: 0;
    position: relative;
    float: left;
    width: 48.3%;
    background: #e2bda1;
}
#cv-content .head {
    height: 35px;
    width: 100%;
    line-height: 35px;
    margin-bottom: 0;
    background: #e2bda1;
}
.all {
  border-bottom: 30px solid #e2bda1;
}
.bar-exp {
    background: #e2bda1;
    height: 10px;
    float: none;
    margin-top: 0;
    margin-bottom: 0px;
    padding: 0px;
    border:1px solid #000;
    border-radius: 5px;
}