#cv-top {
    	width: 100%;
    	height: 441px;
    	background-image: url(hd_2.png);
    	background-size: 100% 100%;
    	background-repeat: no-repeat;
    	position: relative;
    	overflow: hidden;
    }
    .all{
    	float: left;
    	clear: both;
    	width: 100%;
      background: url(bd_2.png)no-repeat;
      background-size: 100% 100%;
      
  }
  #cv-right .ir #sortable .block {
    padding: 0;
    margin: 0;
    float: left;
    width: 100%;
    background-image: linear-gradient(to right, #a2eed7 , #a9f0ac);
    border-radius: 15px;
    margin-bottom: 35px;
    box-shadow: 5px 1px 5px grey;
}
#cvo-experience-blocktitle {
    color: #fff;
    text-align: left;
    float: left;
    text-transform: uppercase;
    font-weight: bold;
    width: 70%;
    height: 30px;
    font-size: 18px;
    background-image: linear-gradient(to right, #a9f0ac , #a2eed7);
    border-radius: 15px;
    padding-top: 10px;
    padding-left: 10px;
    box-shadow: -12px 10px 15px grey;
}
.bar-exp div {
      float: left;
    height: 12px;
    background-image: linear-gradient(to right, #5dff33 , #74fdeb);
    margin-top: -1px;
    border-radius: 12px;
    }
    .bar-exp {
    background: transparent;
    height: 10px;
    float: left;
    margin-bottom: 0px;
    padding: 0px;
    float: left;
    width: 100%;
    border: 2px solid #5dff33;
    border-radius: 12px;
    }
    #cvo-profile .box-dm{
    width: 330px;
    height: 330px;
    padding: 0;
    margin: 0;
    float: left;
    display: table;
    background: url(13.png)no-repeat;
    background-size: 100% 100%;
    clear: both;
    z-index: 1;
    top: -900px;
    margin-top: -328px;
    margin-left: 11px;
    position: absolute;
    }