#cv-content .cvo-block {
    padding: 0;
    float: left;
    width: 100%;
    background: #d8edea;
    margin-bottom: 13px;
    padding-top: 10px;
}
.bar-exp div {
    float: left;
    height: 7px;
    background: #d8edea;
    margin-top: 0px;
}
.bar-exp {
    background: #005547;
    height: 7px;
    float: none;
    margin-top: 5px;
    margin-bottom: 0px;
    padding: 0px;
    border: 1px solid #d8edea;
    float: right;
    width: 100%;
}
.ski {
    padding: 0;
    margin: 0 auto;
    height: 35px;
    width: 100%;
    line-height: 35px;
    text-align: left;
    border-bottom: 2px solid #d8edea;
    border-top: 2px solid #d8edea;
}
.cum {
    padding: 0;
    margin: 0 auto;
    height: 35px;
    width: 100%;
    line-height: 35px;
    text-align: left;
    border-bottom: 2px solid #d8edea;
    border-top: 2px solid #d8edea;
}
#cv-top {
    width: 100%;
    height: 265px;
    background-image: url(hd1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}
.all{
  float: left;
  clear: both;
  width: 100%;
  background:url(main1.png)no-repeat;
  background-size: 100% 100%;
}
#cv-top h1 {
    padding: 0;
    margin: 0;
    font-size: 28px;
    font-family: "Roboto";
    line-height: 35px;
    text-transform: uppercase;
    margin-bottom: 0;
    color: #005547;
    font-weight: bold;
    text-align: left;
    width: 100%;
    float: left;
}
#cv-top h2 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    width: 100%;
    font-size: 13px;
    color: #005547;
    text-align: left;
    float: left;
}
#cv-content #block02 h3 {
  font-weight: bold;
  color: #005547;
  float: left;
}
.icf .fa {
    font-size: 20px;
    color: #005547;
    margin-top: 0;
    float: left;
}
#block01 .head{
  background: #005547;
  width: 51%;
}
#block02 .head{
  background: #005547;
  width: 61%;
}
#block03 .head{
  background: #005547;
  width: 35%;
}
#block04 .head{
  background: #005547;
  width: 62%;
}
#block05 .head{
  background: #005547;
  width: 60%;
}
.cumicc2 {
    width: 50px;
    height: 35px;
    float: left;
    background: url(icc_02.png);
    background-position:left;
    background-repeat: no-repeat;
}
.cumicc3 {
    width: 50px;
    height: 35px;
    float: left;
    background: url(icc_05.png);
    background-position:left;
    background-repeat: no-repeat;
}
.cumicc4 {
    width: 50px;
    height: 35px;
    float: left;
    background: url(icc_07.png);
    background-position:left;
    background-repeat: no-repeat;
}
.cumicc5 {
    width: 50px;
    height: 35px;
    float: left;
    background: url(icc_09.png);
    background-position:left;
    background-repeat: no-repeat;
}
.cumicc6 {
    width: 50px;
    height: 35px;
    float: left;
    background: url(icc_11.png);
    background-position:left;
    background-repeat: no-repeat;
}
.cumicc7 {
    width: 50px;
    height: 35px;
    float: left;
    background: url(icc_13.png);
    background-position:left;
    background-repeat: no-repeat;
}
.footer {
  background:url(ft1.png)no-repeat;
  background-size: 100% 100%;
  height:30px; 
    float: left;
    width: 100%;
}