#cv-top {
    width: 100%;
    height: 210px;
    background-image: url(bg-2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}
#cv-top h1 {
    font-size: 28px;
    font-family: "Roboto";
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 0;
    color: #eb5e40;
    font-weight: bold;
    text-align: left;
    margin-left: 10px;
}
#cv-top h2 {
    text-transform: uppercase;
    width: 100%;
    font-size: 14px;
    font-family: "Roboto";
    color: #213155;
    text-align: left;
    margin: 0;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 0;
    margin-left: 10px;
}
#sortable #box01 #prof {
    padding: 0;
    margin: 0;
    padding-bottom: 35px;
    background-color: #fbf9d8;
    padding-right: 25px;
    padding-left: 10px;
    padding-top: 10px;
}
#cv-right #box02 {
    margin-bottom: 0px;
    position: relative;
    padding: 0;
    background-color: #fbf9d8;
}
#cv-right #box03 {
    margin-bottom: 0px;
    position: relative;
    padding: 0;
    background-color: #fbf9d8;
}
#cv-right #box04 {
    margin-bottom: 0px;
    position: relative;
    padding: 0;
    background-color: #fbf9d8;
}
#cv-right #box05 {
    margin-bottom: 0px;
    position: relative;
    padding: 0;
    background-color: #fbf9d8;
}
#cv-right #box06 {
    margin-bottom: 0px;
    position: relative;
    padding: 0;
    background-color: #fbf9d8;
}
#cv-right #box07 {
    margin-bottom: 0px;
    position: relative;
    padding: 0;
    background-color: #fbf9d8;
}
.cumic2 {
    width: 50px;
    height: 47px;
    float: right;
    background: url(ic-22.png);
    background-position: center left;
    background-repeat: no-repeat;
    margin-right: 5px;
    margin-left: 5px;
}
.cumicc3 {
    width: 50px;
    height: 47px;
    float: right;
    background: url(ic-23.png);
    background-position: center left;
    background-repeat: no-repeat;
    margin-right: 5px;
    margin-left: 5px;
}
.cumic4 {
    width: 50px;
    height: 47px;
    float: right;
    background: url(ic-24.png);
    background-position: center left;
    background-repeat: no-repeat;
    margin-right: 5px;
    margin-left: 5px;
}
.cumic5 {
    width: 50px;
    height: 47px;
    float: right;
    background: url(ic-25.png);
    background-position: center left;
    background-repeat: no-repeat;
    margin-right: 5px;
    margin-left: 5px;
}
.cumic6 {
    width: 50px;
    height: 47px;
    float: right;
    background: url(ic-26.png);
    background-position: center left;
    background-repeat: no-repeat;
    margin-right: 5px;
    margin-left: 5px;
}
#cvo-profile-avatar-wraper .wimg {
    width: 140px;
    height: 150px;
    padding: 0px;
    margin: 0px;
    margin-top: 0px;
    border: 5px solid #a31c31;
}
.cumic7 {
    width: 50px;
    height: 47px;
    float: right;
    background: url(ic-27.png);
    background-position: center left;
    background-repeat: no-repeat;
    margin-right: 5px;
    margin-left: 5px;
}
.icright1 {
    width: 50px;
    height: 50px;
    float: right;
    background: url(ic-188.png);
    background-position: center right;
    background-repeat: no-repeat;
    margin-left: 5px;
}
.icright2 {
    width: 50px;
    height: 50px;
    float: right;
    background: url(ic-199.png);
    background-position: center right;
    background-repeat: no-repeat;
    margin-left: 5px;
}
.icright3 {
    width: 50px;
    height: 50px;
    float: right;
    background: url(ic-1100.png);
    background-position: center right;
    background-repeat: no-repeat;
    margin-left: 5px;
}
.icright4 {
    width: 50px;
    height: 50px;
    float: right;
    background: url(ic-1111.png);
    background-position: center right;
    background-repeat: no-repeat;
    margin-left: 5px;
}
.icright5 {
    width: 50px;
    height: 50px;
    float: right;
    background: url(ic-1122.png);
    background-position: center right;
    background-repeat: no-repeat;
    margin-left: 5px;
}
#cv-content .head #cvo-experience-blocktitle {
    color: #56111e;
}
#cv-content {
    width: 53.2%;
    text-align: justify;
    float: right;
    position: relative;
    padding: 0;
    margin: 0;
    border-bottom: none;
    border-right: none;
    background: #e3bbc1;
}
.footer {
    float: left;
    width: 100%;
    height: 50px;
    background: url(ft2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: -50px;
    position: relative;
    z-index: 9999;
}
#cv-content h3 {
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #56111e;
}
.bar-exp div {
    float: left;
    height: 10px;
    background: #56111e;
    margin-top: 0px;
}
.bar-exp {
    background: #fff;
    height: 10px;
    float: none;
    margin-top: 0;
    margin-bottom: 0px;
    padding: 0px;
    border: 1px solid #56111e;
    border-radius: 5px;
}
.cum {
    height: 42px;
    width: 90%;
    line-height: 45px;
    border-bottom: 2px solid #56111e;
    margin-left: 5%;
    text-align: center;
}
.ski {
    height: 42px;
    width: 90%;
    line-height: 45px;
    border-bottom: 2px solid #56111e;
    margin-left: 5%;
    text-align: center;
}
div#cv-boxtitle {
    font-size: 19px;
    font-weight: bold;
    text-transform: uppercase;
    color: #56111e;
}