#cv-top {
    float: left;
    width: 100%;
    background: url(../top_new3.png) no-repeat;
    background-size: 100%;
    clear: both;
    padding-bottom: 52px;
  }
  .footer {
    float: left;
    width: 100%;
    background: url(../footer3.png) no-repeat;
    background-size: 100%;
    padding-top: 72px;
    margin-top: -60px;
  }
  span#cv-profile-job {
    
    text-transform: capitalize;
    width: 100%;
}
.icoweb span {
    color: #5dacd4;
    width: 100%;
}
#page-cv #cv-content #cvo-experience-blocktitle, #cv-boxtitle {
    font-family: Roboto;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 20px;
    color: #5dacd4;
    width: 100%;
}
#cv-content .head {
    font-size: 25px;
    font-weight: bold;
    line-height: 30px;
    border-bottom: 2px solid #aee4ff;
    margin-bottom: 10px;
}
.cum, .ski {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 30px;
    border-bottom: 2px solid #aee4ff;
    margin-bottom: 10px;
}
.exp-date {
    float: right !important;
    padding: 3px 3px;
    width: 112px;
    color: #ffffff;
    text-align: center;
    line-height: 19px;
    border-radius: 15px;
    background: #aee4ff;
}
.bar-exp {
    float: left;
    margin: 0;
    margin-top: 8px;
    margin-bottom: 12px;
    width: 258px;
    background: #ceefff;
    height: 10px;
}
.chu h2 {
    border-bottom: 1px solid #aee4ff;
    padding-top: 20px;
    font-size: 18px;
    color: #5dacd4;
}