#form-cv{
	width: 100%;	
	float: left;
	position: relative;
	font-size: 14px;
	line-height: 24px;
	color:#494949;	
	outline: 1px solid #e1e1e1
}
#form-cv p{
	margin-top: 0;
	margin-bottom: 6px
}
#sortable .cvo-block{
	margin-bottom: 20px;
	margin-top: 5px;	
	padding:0 10px;
}
#cv-content h3 .exp-title{
	float: left;
	width: 72%
}
#cv-content h3 .exp-date{
	float: right;
	text-align: right;
	width: 27.99%
}
div#cv-main {
    float: left;
    width: 100%;
}
#cv-top{		
    float: left;
    width: 100%;    
    padding:10px 0;
}
#cvo-profile{
	margin:0 10px;
	padding-bottom: 10px;
    border-bottom: 4px solid #000;
}
#cv-content{
	width: 60%;
	float: left;
	position: relative;		
	background: #fff
}
#sortable .box-contact{
	margin:0;
}
#cv-right{
	width: 39.99%;	
	float: right;	
	position: relative;
}
#cv-right .ir{	
	padding-left: 10px;
}
p.skill-name input{
	color: #070000!important;
}


#cv-top h1{
	color:#494949;
	font-size: 32px;	
    line-height: normal;    
    margin-bottom:10px;    
    margin-top: 0;
    font-weight: bold;
}

#cv-top h2{
	font-size: 16px;
    color: #494949;
    font-weight: normal;    
    margin-bottom: 10px
}

#cv-content p{
	margin-bottom: 5px
}

#cv-content .ir a{
	color: #2ebb2f
}
#cv-right h3, #cv-content .head{
	font-size: 18px;    
    color: #494949;   
    text-transform: uppercase;
    font-weight: bold;    
    padding: 5px 0;
    margin: 0 auto 10px;    
    line-height: 24px;
    border-bottom: solid 2px #434343
}
#cv-content h3{	
    font-size: 14px;    
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 0;
    color:#494949;
}
#cv-content p.h3{	
	color:#479b9d;
}
.bar-value-exp input[type="text"]{
	color:#292929;
}
#cv-content .exp-date{
	font-weight: normal;
}

#cv-content span{
	display: inline-block;	
	z-index: 9999;
}

.ctbx{
	margin-bottom: 10px;
	position: relative;
}
.ctbx:hover {
	box-shadow: 0 0 1px #999;
}
.ctbx:hover .fieldgroup_controls{
	display: block;
}
[cvo-form-field] {
    cursor: text;
}

#cvo-profile-avatar-wraper{
    float: left;
    width: 150px;
}
#box-hvt{    
    float: left;
    width: 42%;
    padding-top: 30px;
    padding-left: 20px;
}
#cvo-profile .box-contact{
	float: right;
	width: 34.99%;
	padding-top: 20px;
}
#cvo-profile-avatar-wraper .wimg img{	
  	width: 150px;
  	height: 150px;
  	display: inline-block;  	  
  	margin:auto;
  	float: none
    
}
#line-seperate {
    height: 25px;
    /*background-color: #e3ecec;*/
}
.bar-exp div {
    float: left;
    height: 8px;
    background: #479b9d;
    
}
.bar-exp {
  	width: 100%;
  	background: #e3ecec;
  	height: 8px;
  	float: right;
  	margin-bottom: 12px;
}      
.icoweb label{
	display: block;
	color:#fff;
}

.icoweb{	
	float: left;
	padding-left: 2px;
	margin-bottom: 0
}
.ic{
	float: left;width: 100%;
	margin-bottom: 5px
}
#form-cv .icf{
	float: left;		
	line-height: 28px;
	margin-bottom: 0;
	font-size:12px;
	
	width: 22px;	
	text-align: center;
}
.ic .icoweb{
	float: left	
}
.icf .fa{
	font-size: 14px;	
	color:#479b9d;	
	margin-top: 0;	
	float: none
}
div#box01 span {
    width: 230px;
}
.box-content {
    width: 290px;
}
.exp-content,.exp-subtitle,span.exp-title {
    width: 100%;
}

.watermark {
    float: left;
    width: 100%;
    /* height: 22px; */
    color: #999;
    text-align: right;
    padding-right: 22px;
    font-size: 15px;
    font-family: Courier;
}