#form-cv {
    font-family: "Roboto", sans-serif;
    width: 100%;
    float: left;
    font-size: 14px;
    line-height: 19x;
    color: #565656;
    padding: 0px;
    margin: 0px;
}


/* #form-cv h3{
	margin-bottom: 0px; */


/* } */

.cv_tt {
    /* float: left; */
    width: 100%;
    /* padding-top: 40px;
    box-sizing: border-box;
    background:#e9e8eb; */
}

#cv-top {
    background-image: url(big.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    float: left;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

#cv-main {
    background-color: #f8f8fa;
    float: left;
    width: 100%;
    margin: 0px;
    padding: 0px;
    /* background-image: url(bgmain.png);
	background-size: 100% auto; */
    /* background-repeat: no-repeat; */
}

#cv-content {
    background-image: url(bgright.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    padding-right: 55px;
    padding-top: 65px;
    width: 40%;
    float: right;
    /* padding: 0px; */
    margin: 0px;
    /* padding-right: 1%;
    padding-left: 4%; */
}

#cv-right {
    /* min-height: 1275px; */
    background-image: url(bgleft.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    text-align: left;
    width: 36%;
    float: left;
    padding-left: 90px;
    /* padding: 0px; */
    margin: 0px;
    /* padding:0px 1.5% 0px 2.5%; */
}


/* #sort_block,
.cv-right .ir,
#sortable{
	float: left;
	padding: 0px;
    margin: 0px;
    width: 100%;
} */

#cv-right #sortable {
    /* padding-right: 5px; */
    /* margin-top: -10px; */
}

#cv-content .cvo-block {
    padding: 0px;
    margin: 0px;
}


/* #cv-content .cvo-block,
#cv-right .block{
	float: left;
	padding: 0px!important;
    /* margin: 0px; */


/* width: 100%;
    margin-top: 0px;
} */

*/
/* #cv-content .head,
#cv-right h3,
#cv-right .cvo-block p{
	float: left;
	padding: 0px;
    margin: 0px;
    width: 100%;
} */

#cv-content #experience-table {
    float: left;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

#cv-content #experience-table .ctbx {
    float: left;
    padding: 0px;
    margin: 0px;
    width: 100%;
    position: relative;
}

#cv-content h3 {
    float: left;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

#cv-content .h3 {
    padding: 0px;
    margin: 0px;
    width: 100%;
}

#cv-content .exp-content {
    float: left;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

div {
    margin: 0px;
    padding: 0px;
}

.ctbx:hover {
    box-shadow: 0 0 1px #999;
}

.ctbx:hover .fieldgroup_controls {
    display: block;
}

.bar-exp {
    height: 8px;
    margin-top: 8px;
    margin-bottom: 0px;
}

.bar-exp {
    height: 8px;
    float: left;
    margin: 8px 0px;
}

.bar-exp div {
    border-radius: 3px;
    float: left;
    height: 8px;
    background: #e7554a;
}

#cv-title {
    padding: 5px 0;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    font-size: 20px
}

.exp .ctbx {
    display: table;
    width: 100%;
}

.edit-content .bar-value-exp {
    display: block;
}

.bar-value-exp {
    display: none;
}

.bar-exp {
    border-radius: 3px;
    width: 100%;
    background: #e9e8eb;
    height: 8px;
    float: left;
    /* margin-bottom: 12px */
}

.bar-value-exp {
    width: 100%;
    float: right;
}

p.skill-name input {
    border-bottom: 0;
    font-size: 14px;
    border: 0
}

.bar-value-exp input[type="text"] {
    width: 100%;
    padding: 5px;
    border-radius: 4px;
    color: #000;
}


/* #cv-right .h3, #cv-content .head{
    background: none;
    text-align: left;
    color: #346155;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
} */

#cv-content .head {
    line-height: 33px;
    font-size: 18px;
    text-align: left;
    font-weight: bold;
}

#cv-content h3 {
    /* margin: 0px;
padding: 0px; */
    font-size: 16px;
    color: #565656
}

#page-cv {
    max-width: 790px
}

#cvo-profile-avatar-wraper {
    /* background-color: black; */
    width: 67%;
    height: 195px;
    float: left;
    padding: 0px;
    margin: 0px;
    padding-top: 61px;
    padding-left: 66px;
}

#cvo-profile-avatar-wraper img {
    border: 3px solid white;
    width: 190px;
    height: 190px;
}

#box-hvt h1 {
    color: #fff;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    margin: 7px 0px;
    float: left;
    width: 100%;
    /* font-weight: bold; */
    padding: 0px;
}

#box-hvt h2 {
    padding-bottom: 32px;
    color: #fff;
    font-family: "Roboto";
    font-size: 18px;
    line-height: 20px;
    float: left;
    width: 100%;
    margin: 0px;
    /* padding: 0px; */
}

#cv-right .block h3 {
    font-family: "Roboto";
    text-align: right;
    /* padding-bottom: 5px; */
    width: 115%;
    float: right;
    font-size: 18px;
    font-weight: bold;
    text-transform: unset;
    color: #f35b30;
    margin-bottom: 0px;
    clear: both;
}

#cv-right .block h3 span {
    margin-top: 7px;
    /* background: red; */
}

#cv-right .block {
    padding: 0px;
    margin: 0px;
    clear: both;
}

#cv-right p {
    /* background: #000; */
    width: 100%;
    clear: both;
}


/* #cv-right .icoweb i.fa{
    margin-top: 6px;
    font-size: 26px;
    margin-right: 10px;
    color: #346155;
    width: 30px;
} */

.box-contact {
    /* color: #d3d2d8; */
    font-size: 14px;
    float: left;
    padding-top: 30px;
    width: 96%;
    padding-left: 10px;
    /* padding: 0px; */
    margin: 0px;
}

.box-contact p {
    padding-left: 15px;
    /* height: 3px;
	clear: both; */
    /* line-height: 35px; */
    float: left;
    width: 88%;
    /* padding: 0px; */
    margin: 2px 0px;
}

.box-contact .quat {
    height: 35px;
    width: 100%;
    margin: 5px 0px;
}

#sortable .box-contact p.icoweb {
    margin-bottom: 7px;
    text-align: left;
}

.box-01 {
    float: left;
    width: 36.999%;
    padding: 0px;
    margin: 0px;
}

#box-hvt {
    float: left;
    width: 100%;
    padding: 0px;
    margin: 0px;
    padding-top: 20px;
}

.ft {
    background-image: url(ft.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: bottom center;
    height: 70px;
    float: left;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

.box-info {
    float: left;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

.box-left {
    padding-left: 10px;
    padding-top: 60px;
    /* background-color: blue; */
    float: right;
    width: 54%;
    margin: 0px;
    /* padding: 0px; */
}

.id {
    padding: 0px;
    margin: 0px;
    margin-top: 7px;
}

#cv-content .icom1 {
    /* background-color: red; */
    float: right;
    width: 90px;
    height: 39px;
    background-image: url(study.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
}

#cv-content .icom2 {
    /* background-color: red; */
    float: right;
    width: 90px;
    height: 39px;
    background-image: url(exp.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
}

#cv-content .icom3 {
    /* background-color: red; */
    float: right;
    width: 90px;
    height: 39px;
    background-image: url(setup.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
}

#cv-content .icom4 {
    /* background-color: red; */
    float: right;
    width: 90px;
    height: 39px;
    background-image: url(bag.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
}

#cv-content .icom5 {
    /* background-color: red; */
    float: right;
    width: 90px;
    height: 39px;
    background-image: url(them.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
}

#cv-content .sum {
    /* padding-top: 15px; */
    padding: 0;
    /* clear: both; */
    float: right;
    width: 100%;
    height: 39px;
}

#cv-content .cmt {
    font-family: "Roboto";
    font-weight: bold;
    font-size: 18px;
    color: #f35b30;
    width: 66%;
    padding-top: 5px;
    float: left;
    height: 27px;
    border-bottom: 1px solid #cc3300;
}

.blog-hd .head {
    margin-bottom: 0px;
}

#dkm {
    padding: 0px;
    /* margin-top: 15px; */
    height: 39px;
    width: 100%;
    float: right;
}

#cc {
    width: 100%;
    /* background: green; */
    float: left;
    padding: 0;
}

#cc p {
    margin: unset;
}

.top {
    border-bottom: 1px solid #cc3300;
    width: 70%;
    height: 34px;
    /* background-color: red; */
    float: right;
}

#dkm .bot4 {
    margin-top: 5px;
    float: left;
    width: 29%;
    height: 33px;
    background-image: url(cup.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
}

#dkm .bot5 {
    margin-top: 5px;
    float: left;
    width: 29%;
    height: 33px;
    background-image: url(paper.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
}

#dkm .bot6 {
    margin-top: 5px;
    float: left;
    width: 29%;
    height: 33px;
    background-image: url(like.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
}

#dkm .bot7 {
    margin-top: 5px;
    float: left;
    width: 29%;
    height: 33px;
    background-image: url(man.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
}

#dkm .bot2 {
    margin-bottom: 0px;
    margin-top: 5px;
    float: left;
    width: 29%;
    height: 33px;
    background-image: url(muctieu.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.kinhnghiem {
    padding-top: 15px;
    width: 100%;
    height: 39px;
    /* background-color: blue; */
}

.nameexxp {
    border-bottom: 1px solid #cc3300;
    float: right;
    width: 70%;
    height: 35px;
}

.iconexp {
    float: left;
    width: 29%;
    height: 33px;
    background-image: url(play.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.taoicon {
    text-align: center;
    float: left;
    height: 28px;
    width: 30px;
    /* background-color: orange; */
    /* background-image: url(bgicon.png);
	background-size: 100% auto;
	background-repeat: no-repeat; */
}

#phone {
    width: 30px;
    height: 28px;
    background-image: url(bgiconphone.png);
    background-repeat: no-repeat;
}

#mail {
    width: 30px;
    height: 28px;
    background-image: url(bgiconmail.png);
    background-repeat: no-repeat;
}

#location {
    width: 30px;
    height: 28px;
    background-image: url(bgiconlocation.png);
    background-repeat: no-repeat;
}

.box-contact span {
    /* margin-left: 15px; */
    line-height: 30px;
    width: 360px;
    line-height: 30px;
    float: right;
}

.box-contact i {
    color: #fff;
}

#block02 #experience-table #exp1 h3 {
    margin: 0px;
    padding: 0px;
    font-weight: bold;
}

#block02 #experience-table #exp2 h3 {
    margin: 0px;
    padding: 0px;
    font-weight: bold;
}

#block02 #experience-table #exp2 .h3 {
    margin: 0px;
    padding: 0px;
    font-weight: bold;
}

#block02 #experience-table #exp1 .h3 {
    margin: 0px;
    padding: 0px;
    font-weight: bold;
}

.watermark {
    float: left;
    width: 100%;
    height: 22px;
    color: #999;
    text-align: right;
    padding-right: 22px;
    font-size: 15px;
    font-family: Courier;
    /* background: #000; */
}