#cv-top {
    background-image: url(hd4.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.all {
    background-image: url(bd4.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.footer {
    background: url(ft4.png)no-repeat;
    background-size: 100% 100%;
}

#block01 .head {
    background: url(bar4.png)no-repeat;
    background-position: 290px;
    /* background-size: 25% 12%; */
}

#block02 .head {
    background: url(bar4.png)no-repeat;
    background-position: 290px;
    /* background-size: 13% 12%; */
}

#block03 .head {
    background: url(bar4.png)no-repeat;
    background-position: 290px;
    /* background-size: 42% 12%; */
}

#block04 .head {
    background: url(bar4.png)no-repeat;
    background-position: 290px;
    /* background-size: 15% 12%; */
}

#block05 .head {
    background: url(bar4.png)no-repeat;
    background-position: 290px;
    /* background-size: 20% 12%; */
}

div#box02 .cum {
    background: url(ic4_06.png)no-repeat;
    background-position: center;
    background-size: 115% 7%;
    text-align: center;
}

div#box04 .cum {
    background: url(ic4_22.png)no-repeat;
    background-position: center;
    background-size: 165% 7%;
}

div#box05 .cum {
    background: url(ic4_22.png)no-repeat;
    background-position: center;
    background-size: 165% 7%;
}

div#box06 .cum {
    background: url(ic4_22.png)no-repeat;
    background-position: center;
    background-size: 165% 7%;
}

div#box07 .cum {
    background: url(ic4_06.png)no-repeat;
    background-position: center;
    background-size: 115% 7%;
}

#form-cv {
    line-height: 24.5px;
}

.icright1 {
    background: url(ic4_03.png);
    background-position: center;
    background-repeat: no-repeat;
}

.icright2 {
    background: url(ic4_11.png);
    background-position: center;
    background-repeat: no-repeat;
}

.icright3 {
    background: url(ic4_19.png);
    background-position: center;
    background-repeat: no-repeat;
}

.icright4 {
    background: url(ic4_24.png);
    background-position: center;
    background-repeat: no-repeat;
}

.icright5 {
    background: url(ic4_26.png);
    background-position: center;
    background-repeat: no-repeat;
}

.ski {
    background: url(ic4_22.png)no-repeat;
    background-position: center;
    background-size: 165% 7%;
}

.tt-box1 {
    background: url(ic4_06.png)no-repeat;
    background-position: center;
    background-size: 115% 7%;
}

.exp-content {
    border-left: 3px solid #006682;
}

#cv-content p.h3 {
    border-left: 3px solid #006682;
}

#block01 .exp-title {
    border-left: 3px solid #006682;
}

#block03 .exp-title {
    border-left: 3px solid #006682;
}

#block04 .exp-title {
    border-left: 3px solid #006682;
}

#block05 .exp-title {
    border-left: 3px solid #006682;
}

.bar-exp div {
    background: #006682;
}

.bar-exp {
    border: 1px solid #006682;
}

.box-dm {
    background: url(ava4.png)no-repeat;
    background-size: 100% 100%;
}

#cv-content #block02 h3 {
    background: url(ic4_15.png)no-repeat;
    background-size: 5% 60%;
    background-position: left;
}

.icf .fa {
    color: #006682;
}