#cv-top {
    background-image: url(hd1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.all {
    background-image: url(bd1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.footer {
    background: url(ft1.png)no-repeat;
    background-size: 100% 100%;
}

#block01 .head {
    background: url(bar1.png)no-repeat;
    background-position: 290px;
    /* background-size: 25% 20%; */
}

#block02 .head {
    background: url(bar1.png)no-repeat;
    background-position: 290px;
    /* background-size: 13% 20%; */
}

#block03 .head {
    background: url(bar1.png)no-repeat;
    background-position: 290px;
    /* background-size: 48% 20%; */
}

#block04 .head {
    background: url(bar1.png)no-repeat;
    background-position: 290px;
    /* background-size: 15% 20%; */
}

#block05 .head {
    background: url(bar1.png)no-repeat;
    background-position: 290px;
    /* background-size: 20% 20%; */
}

div#box02 .cum {
    background: url(bar1_1.png)no-repeat;
    background-position: center;
    background-size: 100% 20%;
}

div#box03 .cum {
    background: url(bar1_2.png)no-repeat;
    background-position: center;
    background-size: 100% 20%;
}

div#box04 .cum {
    background: url(bar1_2.png)no-repeat;
    background-position: center;
    background-size: 155% 20%;
}

div#box05 .cum {
    background: url(bar1_2.png)no-repeat;
    background-position: center;
    background-size: 155% 20%;
}

div#box06 .cum {
    background: url(bar1_2.png)no-repeat;
    background-position: center;
    background-size: 155% 20%;
}

div#box07 .cum {
    background: url(bar1_1.png)no-repeat;
    background-position: center;
    background-size: 100% 20%;
}

#form-cv {
    line-height: 24px;
}

.icright1 {
    background: url(ic1_03.png);
    background-position: center;
    background-repeat: no-repeat;
}

.icright2 {
    background: url(ic1_07.png);
    background-position: center;
    background-repeat: no-repeat;
}

.icright3 {
    background: url(ic1_15.png);
    background-position: center;
    background-repeat: no-repeat;
}

.icright4 {
    background: url(ic1_18.png);
    background-position: center;
    background-repeat: no-repeat;
}

.icright5 {
    background: url(ic1_20.png);
    background-position: center;
    background-repeat: no-repeat;
}

.ski {
    background: url(bar1_2.png)no-repeat;
    background-position: center;
    background-size: 155% 20%;
}

.tt-box1 {
    background: url(bar1_1.png)no-repeat;
    background-position: left;
    background-size: 100% 20%;
}

.exp-content {
    border-left: 3px solid #820000;
}

#cv-content p.h3 {
    border-left: 3px solid #820000;
}

#block01 .exp-title {
    border-left: 3px solid #820000;
}

#block03 .exp-title {
    border-left: 3px solid #820000;
}

#block04 .exp-title {
    border-left: 3px solid #820000;
}

#block05 .exp-title {
    border-left: 3px solid #820000;
}

.bar-exp div {
    background: #820000;
}

.bar-exp {
    border: 1px solid #820000;
}

.box-dm {
    background: url(ava1.png)no-repeat;
    background-size: 100% 100%;
}

#cv-content #block02 h3 {
    background: url(ic1_11.png)no-repeat;
    background-size: 5% 60%;
    background-position: left;
}

.icf .fa {
    color: #820000;
}