  #cv-top {
    background: url(../top2.png) no-repeat;
  }
  
  .bar-exp div {
    background: url(../kn2.png) no-repeat;
  }
  
  .bar-exp {
    background: url(../skill2.png) no-repeat;
  }
  .watermark {
    background: url(../foot2.png) no-repeat;
  }
