#cv-top {
    background: url(../top2-1.png) no-repeat;
    background-size: 100%;
}

.fake_img {
    background: url(../fake2.png) no-repeat;
    background-size: 100% 100%;
}

#cv-top h1 {
    color: #ffd3b6;
}

#cv-top h2 {
    background: url(../job2.png) no-repeat;
    background-size: 100% 100%;
}

.all {
    background: url(../page2.png) repeat-y;
    background-position: 380px 0px;
}

.ic1 {
    background: url(../date2.png) no-repeat;
    background-position: 1px 1px;
  }
  
  .ic2 {
    background: url(../sex2.png) no-repeat;
    background-position: 1px 1px;
  }
  
  .ic3 {
    background: url(../phone2.png) no-repeat;
    background-position: 1px 1px;
  }
  
  .ic4 {
    background: url(../email2.png) no-repeat;
    background-position: 1px 6px;
  }
  
  .ic5 {
    background: url(../add2.png) no-repeat;
    background-position: 1px 2px;
  }

.cum,
.ski {
    background: url(../left2.png) no-repeat;
    background-position: left center;
}

#cv-content .cvo-block .head {
    background: url(../right2.png) no-repeat;
    background-size: 100% 100%;
    background-position: left center;
}

#cv-content .exp-date {
    color: #ffd3b6;
}

.bar-exp {
    background: url(../skill2.png) no-repeat;
}

.bar-exp div {
    background: url(../kn2.png) no-repeat;
}

.footer {
    background: url(../foot2.png) no-repeat;
}