#cv-top {
  background: url(../top3.png) no-repeat;
}

.bar-exp div {
  background: url(../kn3.png) no-repeat;
}

.bar-exp {
  background: url(../skill3.png) no-repeat;
}
.watermark {
  background: url(../foot3.png) no-repeat;
}
