#form-letter{
	width: 100%;
	height: 1130px;
	float: left;	
	color:#000000;
	position: relative;
	background: url(ft1.png)no-repeat bottom center;
	background-size: contain;
}
#cvo-profile-avatar{
	width: 190px;	
	height: 225px;	
	margin:auto;
	float: none;
}
#lt-content{		
	position: relative;
	width: 95%;
	float: right;
	font-size: 14px;
	line-height: 24px;
	text-align: justify;
	padding: 20px;
	padding-top: 0;
}
#lt-top{		
	color: #000000;
	position: relative;
	float: left;
	width: 98%;
	text-align: center;
	padding-top: 5px;
}

#bg{
	float: left;
	background-repeat: no-repeat;
	background-position: bottom center;
	width: 100%;
}

#lt-right{
	position: relative;
	float: left;
	width: 53%;
}
#lto-name{
	background: #0072bc;
	border-radius: 20px;
	padding:10px;
	color: #fff;
}
#lt-top h1{	
    text-transform: uppercase;
    display: block;
    font-size: 24px;
    line-height: 24px;
    font-weight: bold;
	padding-top: 10px;
	margin-top: 10px;
    margin-bottom: 15px;
    text-align: left;
    color: #000000;
    float: right;
    width: 67%;
}
#lt-top h2{
	font-size: 14px;
	line-height: 18px;
	text-transform: capitalize;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	margin-bottom: 10px;
	margin-top: 0
}
.box-01{
	padding-top: 10px;
	font-size: 14px;
	width:100%;
	float: left;
	color: #ffffff
}

#lto-about{
	margin: 5px 20px;
	text-align: justify;
}
#lt-content .ir{
	padding: 30px 15px;
	padding-top: 0;
	
}
#lt-content p{
	margin-bottom: 20px
}
#lt-content .ir a{
	color: #323033
}

#lt-right .info{
	background: #898989
}
#lt-right .box-02{	
	margin-bottom: 0;
	padding-top: 50px;
	margin-left: 55px;
}
#cvo-profile-avatar-wraper {
	padding: 0;
	margin: 0;
    width: 190px;
    height: 225px;
    float: left;
    cursor: pointer;
	margin-top: 15px;
	border:  2px solid #0072bc;
	border-radius: 5px;
}
#lto-day{
	font-weight: bold;
}
.lto-day{
	padding: 10px 5px;	
	padding-top: 20px;
	position: relative;
		clear: both;
		text-align: center;
}

#lto-content{
	padding: 20px;	
	line-height: 24px;
}
.ic{
	float: left;width: 100%;	
	margin-bottom: 8px;
	text-align: left;
}
#form-letter .icf{
	float: left;			
	font-size: 18px;
	margin-bottom: 0;
	width: 26px;	
	text-align: left;
	line-height: 24px;	
}
.ic .icoweb{
	float: left;
	width: 85%;
	line-height: 24px;
}
.icf .fa{
	font-size: 18px;	
	color:#0072bc;
	font-weight: normal;
	margin-top: 0;	
	float: left
}
#form-letter p {
    margin-top: 0;
    margin-bottom: 6px;
}
#title-job{
	text-align: center;
	font-weight: bold;
}
#content{
	padding-right: 20px;
	padding-left: 55px;
	padding-top: 20px;
	background: url(hd1.png)no-repeat;
	background-size: 100% 100%;
}
#cvo-profile-avatar-wraper #cvo-profile-avatar{
	width: 190px;
	height: 225px;
}