#cv-top h1 {
    padding: 0;
    margin: 0;
    font-size: 32px;
    font-family: "Roboto";
    text-transform: uppercase;
    margin-bottom: 0;
    color: #0891b2;
    font-weight: bold;
    width: 288px;
    float: left;
    padding-top: 20px;
    padding-bottom: 15px;
    margin-left: 20px;
    position: relative;
    right: 20px;
    background: url(../bg2.png) repeat-y;
    background-position: right;
}
#cv-top h2 {
  background: url(../bg2.png) repeat-y;
  background-position: right;
}
.anh {
    float: left;
    width: 39%;
    padding-left: 50px;
    padding-top: 20px;
    margin-left: -32px;
    position: relative;
    left: 32px;
    background: url(../bg2.png) repeat-y;
    background-position: right;
}
#cv-main {
    text-align: justify;
    margin: 0;
    padding: 0;
    float: left;
    width: 303px;
    margin-left: 5px;
    padding: 0 10px;
    background: url(../bg2.png) repeat-y;
    background-position: right;
}
.cum, .ski {
    background: url(../bg_title2.1.png) no-repeat;
    background-size: 100% 100%;
    text-align: center;
    background-position: center;
}
.bar-exp div {
    float: left;
    height: 8px;
    background-color: #76cde3;
    border-radius: 5px;
}
#prof .ic1 .icf {
    width: 30px;
    height: 30px;
    background: url(../date2.png) no-repeat;
    background-position: left center;
  }
  #prof .ic2 .icf {
    width: 30px;
    height: 30px;
    background: url(../sex2.png) no-repeat;
    background-position: left center;
  }
  #prof .ic3 .icf {
    width: 30px;
    height: 30px;
    background: url(../phone2.png) no-repeat;
    background-position: left center;
  }
  #prof .ic4 .icf {
    width: 30px;
    height: 30px;
    background: url(../mail2.png) no-repeat;
    background-position: left center;
  }
  #prof .ic5 .icf {
    width: 30px;
    height: 30px;
    background: url(../add2.png) no-repeat;
    background-position: left center;
  }
  #cv-content .cvo-block .head {
    background: url(../bg_title2.2.png) no-repeat;
    background-size: 90% 100%;
    background-position: center;
}
span.exp-date {
    float: left !important;
    width: 100%;
    color: #76cde3;
}