#form-cv{
	width: 100%;
	float: left;
	font-size: 14px;
	line-height: 24px;
	color:#565656;	
	padding: 0px;
	margin: 0px;

}
.cv_tt{
    float: left;
    width: 100%;
    background: #ededef;
}
#cv-main{
	float: left;
	width: 100%;
	margin: 0px;
	padding: 0px;
    background-color: #ededef;
}
.ft{
    float: left;
    width: 100%;
    background-color: #4580bc;
    /* height: 50px; */
}
#cv-content{
    width: 49%;
    float: left;
    padding: 0px;
    margin: 0px;
    padding-left: 2%;
    padding-right: 3%;
}
#cv-right{
	width: 42.999%;
	float: left;	
	padding: 0px;
    margin: 0px;
    padding-left: 3%;
}
#cv-top{
    float: left;
    width: 100%;
    padding-bottom: 10px;
}
.bg_cv{
    height: 1px;
    float: left;
    width: 96%;
    margin: 0 2%;
    margin-bottom: 10px;
    margin-top: 5px;
    border-top: dashed 1px #4580bc;
}

#cv-content h3 .exp-date, #cv-content h3 .exp-title {
    float: left;
    width: 100%;
}
#sort_block,
.cv-right .ir,
#sortable{
	float: left;	
	padding: 0px;
    margin: 0px;
    width: 100%;
}
#cv-content .cvo-block,
#cv-right .block{
	float: left;	
	padding: 0px!important;
    margin: 0px;
    width: 100%;
}
#cv-content .head,
#cv-right h3,
#cv-right .cvo-block p{
	float: left;	
	padding: 0px;
    margin: 0px;
    width: 100%;
}
#cv-content #experience-table{
	float: left;	
	padding: 0px;
    margin: 0px;
    width: 100%;
}
#cv-content #experience-table .ctbx{
	float: left;	
	padding: 0px;
    margin: 0px;
    width: 100%;
    box-sizing: border-box;
    border-top: 0px;
    border-bottom: 0px;
    padding: 8px;
    padding-top: 0px;
}
#cv-content h3{
	float: left;	
	padding: 0px;
    margin: 0px;
    width: 100%;	
    color: #282f27;
}
#cv-content .h3{
	float: left;	
	padding: 0px;
    margin: 0px;
    width: 100%;	
}
#cv-content .exp-content{
	float: left;	
	padding: 0px;
    margin: 0px;
    width: 100%;	
}
#cv-content .exp-date{
    font-size: 15px;
}
div{
	margin: 0px;
	padding: 0px;
}
.ctbx{
    position: relative;
}
.ctbx:hover {
	box-shadow: 0 0 1px #999;
}
.ctbx:hover .fieldgroup_controls{
	display: block;
}
.bar-exp {
    height: 8px;
    margin-top: 8px;
    margin-bottom: 0px;
}
.bar-exp{
    height: 8px;
    float: left;
    margin: 8px 0px;
}
.bar-exp div {
    float: left;
    height: 8px;
    background: #4580bc;
}
#cv-content h3 .exp-title {
    color: #4580bc;
}
#cvo-profile-avatar-wraper img{
    width: 160px;
    height: 160px;
}
#cv-title {
    padding: 5px 0;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    margin-bottom: 8px;
    font-size: 20px
}
.exp .ctbx{
    display: table;
    width:100%;
}
.edit-content .bar-value-exp {
    display: block;
}
.bar-value-exp {
    display: none;
}
.bar-exp{
    width: 100%;
    background: #959595;
    height: 8px;    
    float: left;
    margin-bottom: 12px
}
.bar-value-exp{
    width:100%;
    float: right;
}
p.skill-name input{
    border-bottom: 0;
    font-size: 14px;
    border:0
}
.bar-value-exp input[type="text"]{
    width: 100%;
    padding: 5px;
    border-radius: 4px;
    color: #000;
}
#cv-right .h3, #cv-content .head{
    background: none;
    text-align: left;
    color: #343434;
    width: 85%;
}

#cv-content .head{
    border: 5px;
    height: 36px;
    line-height: 31px;
    font-size: 20px;
    font-weight: bold;
    padding-left: 10px;
    box-sizing: border-box;
}
#cv-content h3{
    font-size: 16px;
}
#page-cv{
    max-width: 790px
}
.ava{
    float: left;
    width: 29.9%;
    padding:0px 6% 0px 4%;
    background-color: #4580bc;
}
#cvo-profile-avatar-wraper{
    float: left;
    width: 160px;
    border-left: solid 4px #ededef;
    border-right: solid 4px #ededef;
}
#box-hvt{
    float: left;
    width: 60%;
    margin: 0px;
    padding: 0px;
    height: 140px;
    padding-top: 20px;
    background-color: #4580bc;
}

#box-hvt h1{
    color: #221f1f;
    font-size: 36px;
    padding: 0px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    margin: 7px 0px 0px 0px;
    float: left;
    width: 100%;
    font-weight: normal;
    letter-spacing: 4px;
    font-weight: bold;
}

#box-hvt h2{
    font-weight: normal;
    color: #221f1f;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    float: left;
    width: 100%;
    padding: 0px;
    margin: 0px;
    letter-spacing: 3px;
}
#cv-right .block{
    margin-top: 0px;
    margin-bottom: 0px;
}
#cv-right .block h3{
    font-size: 20px;
    line-height: 24px;
    margin: 0px;
    font-weight: bold;
    padding: 0px 11px 10px;
    box-sizing: border-box;
    color: #343434;
}

#cv-right .cvo-block p{
    padding: 0px 3% 6px;
    width: 94%;
    margin: 0px;
}
#cv-right .cvo-block p.skill-name{
    border: none;
    padding: 5px;
}
.skill{
}
#cv-right {
    color: #374d59;
}
#cv-right #box02{
    color: #565656;
}

#cv-right p {
    text-align: justify;
}
#cv-right .icoweb i.fa{
    margin-top: 6px;
    font-size: 15px;
    width: 25px;
    color: #fff;
}

.box-contact p{
    padding: 0px;
    margin: 0px;
    text-indent: 10px!important;
    float: left;
    margin-left: 1%;
    color: #fff;
}


.box-contact p.cvi-envelope-square{
        border-right: solid 2px #ffffff;
    padding-right: 7px;
    width: 46%;

}

.box-contact p.cvi-map-marker{
    width: 46%;
}
.box-contact p.cvi-phone{
    border-right: solid 2px #ffffff;
    padding-right: 7px;
    width: 46%
}
.box-contact p.cvi-date{
    padding-right: 7px;
    width: 46%
}

#sortable .box-contact p.icoweb{
    margin-bottom: 7px;
    width: 15%;
}

.box-info .box-contact{
float: left;
    width: 100%;
    margin-top: 5px;
    padding: 7px 0%;
    margin-bottom: 5px;
}
.box-info{
    float: left;
    width: 100%;
    margin: 0px;
    background: #221f1f;
    margin-bottom: 15px;
}
#box-hvt p{
    display: none;
}
#form-cv .cvo-block .icf {
    float: left;
    width: 28px;
    padding: 0px;
    line-height: 28px;
    margin-bottom: 0;
    font-size: 14px;
    border-radius: 5px;
    border: solid 1px #018989;
    color: #018989;
    text-align: center;
}
.ic {
    float: left;
    width: 100%;
    margin-bottom: 8px;
    line-height: 22px;
}
.icoweb .fa{
    color: #4580bc;
}
#cv-profile-email{
    width: 220px;
}
#cv-profile-address{
    width: 280px;
}
span.box-content {
    width: 330px;
}
.exp-content,.exp-subtitle,span.exp-title{
    width: 360px;
}
#cv-profile-fullname::before{
  color: #fff;
}
.watermark {
    float: left;
    width: 100%;
    /* height: 22px; */
    color: #999;
    text-align: right;
    padding-right: 22px;
    font-size: 15px;
    font-family: Courier;
}