#form-letter{
	width: 790px;
	height: 1117px;
	float: left;	
	background: url('../../nendep263.png') #fff top center repeat-y;
	background-size: 100% 100%;
	color:#000;
	position: relative;
	border: solid 1px #9cf2f4;
}