#cv-top h1{
font-size: 35px;
color: #231c1c;
}

#cv-top h2{
font-size: 23px;
color: #231c1c;
}

#cv-content .ir a{
	color: #e4ad00;
}

#cvo-profile-avatar-wraper{	
    background:#53d6f7;
    border: double 5px #ffffff;
}
#cvo-profile-avatar-wraper #cvo-profile-avatar{
	border: solid 1px #7ff1c0;
}
#cv-content .head{
	background: #e2f8f9;
}

#form-cv{
	border: solid 1px #e1e1e1;
	background: #e9fffd;		
}

#sortable .icoweb i.fa{
	color:#02b5e1;
}
.box-01{		
	background: #e9fffd;
}
#cv-content{
	background: #ffffff;
	border: double 10px #53d6f7;
}
