#cv-top h1{
font-size: 35px;
color: #e600ff;
}

#cv-top h2{
font-size: 23px;
color: #e600ff;
}

#cv-right .h3 span{
	color: #e600ff;
}
#cv-content .ir a{
	color: #e4ad00;
}

#cvo-profile-avatar-wraper{	
    background:#aaaaaa;
    border: double 5px #ffffff;
}
#cvo-profile-avatar-wraper #cvo-profile-avatar{
	border: solid 1px #7ff1c0;
}
#cv-content .head{
	background: #e4cadc8c;
}

#form-cv{
	border: solid 1px #e1e1e1;
	background: #ffeaea;		
}

#sortable .icoweb i.fa{
	color:#e600ff;
}
.box-01{		
	background: #ffeaea;
}
#cv-content{
	background: #ffffff;
	border: double 10px #aaaaaa;
}
