#lt-top h1 {
	text-transform: uppercase;
	display: block;
	font-size: 20px;
	line-height: 24px;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 15px;
	text-align: left;
	padding-left: 55px;
	color: #c12a49;
}

#lt-top h2 {
	font-size: 14px;
	line-height: 18px;
	text-transform: capitalize;
	color: #c12a49;
	font-weight: bold;
	text-align: left;
	padding-left: 55px;
	margin-bottom: 10px;
	margin-top: 0
}

.icf .fa {
	font-size: 18px;
	color: #c12a49;
	font-weight: normal;
	margin-top: 0;
	float: left
}

#form-letter {
	width: 100%;
	height: 1130px;
	float: left;
	color: #000000;
	position: relative;
	background: url(bg2.png)no-repeat;
	background-size: 100% 100%;
}

#cvo-profile-avatar-wraper {
	padding: 0;
	margin: 0;
	width: 185px;
	height: 215px;
	float: right;
	cursor: pointer;
	border: 2px solid #c12a49;
	border-radius: 5px;
}

#title-job {
	font-size: 14px;
	line-height: 18px;
	text-transform: capitalize;
	color: #c12a49;
	font-weight: bold;
	text-align: left;
	padding-left: 55px;
	margin-bottom: 10px;
	margin-top: 0
}