 #form-letter{
	width: 100%;
	height: 1130px;
	float: left;	
	color:#000000;
	position: relative;
	background:url(form1.png)no-repeat;
	background-size: 100% 100%;
}
#lt-top h1{	
	width: 35%;
	text-transform: uppercase;
	display: block;
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	margin-top: 25px;
	text-align: left;
	color: #45bf55;
	float: left;
	padding-left: 20px;
}
.icf .fa{
	font-size: 18px;	
	color:#45bf55;	
	font-weight: normal;
	margin-top: 0;	
	float: left
}
#title-job{
	margin: 0;
	padding: 0;
	text-align: left;
	padding-left: 25px;
	font-size: 14px;
	font-weight: bold;
	color: #45bf55;
}