#form-letter {
    width: 790px;
    height: 1130px;
	float: left;	
	background: url(form2.png)no-repeat;
	background-size: 100% 100%;
	color:#000;
	position: relative;
}
#lt-top{		
	color: #6065a8;
	padding-top: 150px;
	text-align: center;
	font-size: 18px;
	line-height: 30px;
	position: relative;
	z-index: 99;
	font-weight: bold;
}
#lt-top h1{	
	text-transform: uppercase;
	font-weight:bold;
	font-size: 18px;
	color:#6065a8;
	margin: 0px
}
.text{
	text-align: center;
	color: #6065a8;
	font-weight: bold;
}