div#cv-boxtitle,
#cvo-experience-blocktitle {
  color: #003530;
}

#cv-top::after {
  border-top: 148px solid #003630;
}

#cv-top::before {
  border-top: 296px solid #35c3b4;
}

div#prof {
  background: linear-gradient(to right, #35c3b4, #23c98f);
}

.all {
  background-image: url(all_background_mau3.png);
}

#block01 .icright1,
#block02 .icright2,
#block03 .icright3,
#block04 .icright4,
#block05 .icright5,
#box03 .cumicc3,
#box04 .cumicc4,
#box05 .cumicc5,
#box06 .cumicc6,
#box07 .cumicc7 {
  border-bottom: 10px solid #35c3b4;
  border-right: 10px solid #35c3b4;
}

.bar-exp {
  border: 2px solid #35c3b4;
}

.bar-exp div {
  background: #35c3b4;
}

.watermark_js {
  background-color: #35c3b4;
}