#form-cv {
    width: 100%;
    float: left;
    position: relative;
    font-size: 14px;
    line-height: 24px;
    color: #333;
}

#form-cv p {
    margin-top: 0;
    margin-bottom: 6px
}

#sortable .cvo-block {
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 0;
    border: 1px solid #ccc;
}

#cv-top {
    text-align: center;
    background-color: #412357;
    height: 280px;
}

#cv-main {
    background: #fff;
    display: table;
    width: 100%
}

#cv-content {
    width: 60%;
    float: left;
    position: relative;
    /* min-height: 800px;	 */
}

#cv-content .exp-title {
    float: left;
    width: 67%;
    font-weight: bold;
    color: #470957;
    font-size: 16px;
}

#cv-right {
    width: 39.5%;
    float: right;
    background: #fff;
    position: relative;
    color: #333;
}

#cv-right .ir {
    padding: 0 10px;
    padding-top: 15px;
}

p.skill-name input {
    color: #070000!important;
}

#cv-right .ctbx {
    padding: 0;
    margin: 0;
    border: 0;
}

#cv-top h1 {
    font-size: 28px;
    line-height: normal;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 20px;
    margin-left: 0px;
    color: #fff;
    margin-top: 0;
    font-weight: bold;
    background: url(bg_bot.png) center center repeat-x;
}

#cv-top h1 span {
    border-left: 10px solid #412357;
    border-right: 10px solid #412357;
    background: #412357;
    display: inline-block;
}

#cv-top h2 {
    font-size: 17px;
    text-align: center;
    color: #fff;
    margin-top: 0;
    font-weight: normal;
    margin-bottom: 10px;
}

#cv-content p {
    margin-bottom: 5px
}

#cv-content .ir a {
    color: #2ebb2f
}

#cv-right h3,
#cv-content .head {
    font-size: 17px;
    color: #470957;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 auto 5px;
    line-height: 24px
}

#cv-content .head {
    padding: 8px 10px;
    margin-top: 0px;
    border-bottom: 1px solid #ddd;
    border-left: 5px solid #470957
}

#cv-right h3 {
    color: #470957;
    line-height: 30px;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

#cv-content h3 {
    font-size: 15px;
    font-weight: normal;
    float: left;
    width: 100%;
    margin-bottom: 8px;
    color: #333;
}

#cv-right .box-content,
#cv-right .content-edit {
    padding: 10px;
}

p.h3 {
    font-weight: bold;
}

#cv-content .cvo-block {
    padding: 5px 0;
}

.ctbx {
    padding-left: 10px;
    padding-right: 10px
}

#cv-content span {
    display: inline-block;
    z-index: 9999;
}

.ctbx {
    margin-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
    position: relative;
}

.ctbx:hover {
    box-shadow: 0 0 1px #999;
}

.ctbx:hover .fieldgroup_controls {
    display: block;
}

[cvo-form-field] {
    cursor: text;
}

.bar-value-exp input[type="text"] {
    color: #252525;
    width: 95%
}

#cvo-profile-avatar-wraper {
    width: 38%;
    height: 230px;
    padding-top: 50px;
    float: right;
    background: #210f2f;
}

#box-hvt {
    float: left;
    width: 61.99%;
    padding-top: 80px;
}

#cv-content .cvo-block {
    position: relative;
    padding: 10px 10px;
}

#cv-right .block {
    padding: 0 10px;
}

#cvo-profile-avatar-wraper .wimg {
    width: 170px;
    margin: auto;
    float: none
}

#cvo-profile-avatar-wraper .wimg img {
    width: 170px;
    height: 170px;
    display: table;
    float: none
}

#line-seperate {
    height: 25px;
}

.bar-exp div {
    float: left;
    height: 8px;
    background: #470957;
}

.bar-exp {
    width: 100%;
    background: #ccc;
    height: 8px;
    float: left;
    margin-bottom: 12px;
}

.icoweb label {
    display: block;
    color: #fff;
}

#cv-right .icoweb span {
    color: #070000;
}

#sortable .icoweb {
    float: left;
    margin-bottom: 0;
    padding-left: 5px
}

#form-cv .ic {
    float: left;
    width: 100%;
    padding: 10px 0;
    border-top: 1px dashed #ccc;
}

#form-cv #prof .ic:first-child {
    border: 0;
}

#form-cv .icf {
    float: left;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
    width: 26px;
    text-align: center;
    margin-left: 10px;
}

.ic .icoweb {
    float: left
}

.icf .fa {
    font-size: 14px;
    color: #470957;
    font-weight: normal;
    margin-top: 0;
    float: none
}

#cv-content .exp-date {
    border: 1px solid #470957;
    padding: 0 4px;
    color: #333;
    float: right;
    text-align: center;
}

div#box01 span {
    width: 200px;
}

.box-content {
    width: 250px;
}

.exp-content,
.exp-subtitle,
span.exp-title {
    width: 450px;
}

.watermark {
    float: left;
    width: 100%;
    height: 22px;
    color: #999;
    text-align: right;
    padding-right: 22px;
    font-size: 15px;
    font-family: Courier;
}