#form-cv {
  width: 100%;
  float: left;
  font-size: 14px;
  line-height: 24px;
  padding: 0px;
  margin: 0px;
}

.cv_tt {
  float: left;
  width: 100%;
}

#cv-main {
  width: 38%;
  float: left;
  padding: 0px;
  margin: 0px;
  position: relative;
  margin-left: 20px;
  margin-top: -125px;
  z-index: 7;
}

#cv-content {
  float: right;
  width: 55%;
  margin: 0px;
  padding: 0px;
  padding-right: 20px;
  position: relative;
  top: 4px;
}

#cv-right {
  width: 100%;
  float: left;
  padding: 0px;
  margin: 0px;
}

#cv-top {
  float: left;
  width: 100%;
  clear: both;
  background: url(form-l1.png) no-repeat, url(form-l1.png) no-repeat;
  background-position: left, right;
  background-size: 15px 100%;
}

div#cvo-profile {
  width: 100%;
  float: left;
}

.all {
  float: left;
  clear: both;
  width: 100%;
  margin: 0;
  padding: 0;
  background: url(form-l1.png) no-repeat, url(form-l1.png) no-repeat;
  background-position: left, right;
  background-size: 15px 100%;
}

.ir {
  float: left;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

#cv-right .box-contact {
  display: none;
}

#sort_block,
.cv-right .ir,
#sortable {
  float: left;
  padding: 0px;
  margin: 0px;
  width: 100%;
}

#cv-content .cvo-block,
#cv-right .block {
  float: left;
  padding: 0px;
  margin: 0px;
  width: 100%;
}

#cv-content .head,
#cv-right h3,
#cv-right .cvo-block p {
  float: left;
  padding: 0px;
  margin: 0px;
  width: 100%;
}

#cv-content .cvo-block {
  width: 100%;
  padding-bottom: 0;
  margin-top: 10px;
}

.all #cv-content #block01 {
    margin-top: 0;
}

#cv-content #experience-table {
  float: left;
  margin: 0px;
  margin-top: 8px;
  text-align: justify;
}

#cv-content #experience-table .ctbx {
  float: left;
  padding: 0px;
  margin: 0px;
  width: 100%;
  margin-bottom: 5px !important;
}

#cv-content h3 {
  padding: 0px;
  margin: 0px;
  width: 100%;
  font-weight: unset;
}

#cv-content .h3 {
  padding: 0px;
  margin: 0px;
  width: 98%;
}

#cv-content .exp-content {
  padding: 0px;
  margin: 0px;
  width: 98%;
}

div {
  margin: 0px;
  padding: 0px;
}

.bg-chu {
    margin-left: 55px;
    width: 86%;
    background-color: #fff;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

.cv_page.height_page {
    padding: 0;
    /* background: url(form-l1.png) no-repeat, url(form-l1.png) no-repeat; */
    /* background-position: left, right; */
    /* background-size: 15px 100%; */
    height: 100%;
    position: unset;
}

.ctbx {
  margin-bottom: 15px !important;
}

.ctbx:hover {
  box-shadow: 0 0 1px #999;
}

.ctbx:hover .fieldgroup_controls {
  display: block;
}


.bar-exp {
  float: left;
  margin: 0;
  margin-top: 6px;
  background: url(skill1.png) no-repeat;
  height: 11px;
}

.bar-exp {}

.bar-exp div {
  float: left;
  height: 11px;
  background: url(kn1-1.png) no-repeat;
  background-position: right;
}

#cv-title {
  padding: 5px 0;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  margin-bottom: 8px;
  font-size: 20px
}

.exp .ctbx {
  display: table;
  width: 100%;
}

.edit-content .bar-value-exp {
  display: block;
}

.bar-value-exp {
  display: none;
}

.bar-value-exp {
  width: 100%;
  float: right;
}

p.skill-name input {
  border-bottom: 0;
  font-size: 14px;
  border: 0
}

.bar-value-exp input[type="text"] {
  width: 94%;
  padding: 5px;
  border-radius: 4px;
}

#cv-right .h3,
#cv-content .head {
  background: none;
  text-align: left;
}

#cv-content .head {
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;
  text-align: left;
  width: 100%;
}

#cv-content h3 .exp-title {
  width: 100%;
  font-size: 15px;
}

#cv-content h3 .exp-date {
  width: 100%;
  font-size: 15px;
}



#page-cv {
  max-width: 790px
}

.ava {
  position: relative;
}

#bg-avata #cvo-profile-avatar-wraper {
  width: 240px;
  height: 240px;
}

#bg-avata #cvo-profile-avatar-wraper #cvo-profile-avatar {
  width: 205px;
  height: 225px;
  display: unset !important;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

.wimg {
  width: 108px;
  padding-top: 20px;
  height: 108px;
}

#cvo-profile-avatar {
  width: 108px;
  height: 108px;
  border-radius: 99em;
}

#box-hvt {
  float: right;
  width: 100%;
  margin: 0px;
  padding: 0px;
  padding-left: 90px;
  position: relative;
  margin-bottom: 20px;
  margin-top: -74px;
  margin-left: 0px;
  background-position: 0px 40px;
}

.box-01 {
  float: right;
  width: 67%;
  position: relative;
  z-index: 1;
  margin-right: 15px;
}

#box-hvt h1 {
  padding: 0px;
  margin: 0px;
  text-align: center;
  margin-top: 10px;
  float: left;
  width: 164px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: normal;
  text-transform: uppercase;
}

#box-hvt h2 {
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  float: left;
  width: 100%;
  padding: 0px;
  margin: 0px;
  font-family: Roboto;
  font-weight: bold;
  text-transform: uppercase;
}

#cv-right .block {
  margin-top: 0px;
  margin-bottom: 25px;
  padding: 0px;
  margin: 0px;
}

#cv-right .block h3 {
  float: left;
  height: 35px;
  font-size: 18px;
  line-height: 35px;
  padding: 0px;
  margin: 0px;
  font-weight: bold;

}

#cv-right .text {
  width: 100%;
  height: 30px;
  float: left;
  text-align: center;
  border-top: 1px solid #fff;
  padding-top: 5px;
}

#cv-right .block h3 span {
  font-family: Roboto;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
  height: 30px;
  line-height: 30px;
  color: #fff;
}

#cv-right .cvo-block p {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

#cv-right .cvo-block p.skill-name {
  float: left;
  border: none;
  margin-left: 3px;
  width: 97%;
}

#cv-right .block {
  margin-bottom: 10px;
  width: 100%;
}

#cv-right p {
  text-align: justify;
}

#cv-right .icoweb i.fa {
  margin-top: 6px;
  font-size: 15px;
  width: 25px;
  color: #fff;
}

.box-contact p .fa {
  color: #fff;
}

.box-contact p.cvi-date {
  background: #919191;
}

#sortable .box-contact p.icoweb {
  margin-bottom: 7px;
}

.box-info .box-contact {
  float: left;
  width: 100%;
}

.box-info {
  float: left;
  width: 30%;
}

#infor-left {
  width: 33%;
  float: left;
}

#infor-right {
  width: 33%;
  float: right;
}

#infor-left .ic {
  width: 100%;
  float: left;
}

#infor-left .icoweb {
  width: 100%;
  float: left;
  z-index: 2;
  text-align: center;
  position: relative;
  height: 25px;
}

#infor-left .icf {
  width: 27px;
  height: 28px;
  text-align: center;
  float: left;
  padding-top: 4px;
  display: none;
}

#infor-right .ic {
  padding-right: 5px;
  float: left;
  width: 100%;
}

.box-contact p {
  padding: 0px;
  margin: 0px;
}

#infor-right .icoweb {
  text-align: center;
  width: 100%;
  float: right;
  height: 25px;
}

#infor-right .icf {
  float: right;
  width: 27px;
  height: 28px;
  text-align: center;
  padding-top: 4px;
  display: none;
}

#bg-avata {
  width: 28%;
  float: left;
}

#cv-content .text {
  text-align: center;
  height: 30px;
}

.image {
  display: none;
}

.image .fa {
  font-size: 18px;
  color: #fff;
  margin-top: 16px
}


.image .bgic-2,
.image .bgic-4,
.image .icon-skikll,
.image .bgic-5,
.image .bgic-6,
.image .bgic-7 {
  height: 24px;
  background-repeat: no-repeat;
  background-size: 70% 90%;
  margin-top: 13px;
  margin-left: 11px
}



.image .bgic-right-1,
.image .bgic-right-2,
.image .bgic-right-3,
.image .bgic-right-4,
.image .bgic-right-5 {
  height: 24px;
  background-repeat: no-repeat;
  background-size: 70% 90%;
  margin-top: 13px;
  margin-left: 11px
}


#cv-right .block #bg-content {
  width: 100%;
  float: left;
}

#cv-right .block .exp {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  width: 93%;
}

#page-cv #cv-content #cvo-experience-blocktitle,
#cv-boxtitle {
  font-family: Roboto;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 20px;
  color: #0f9b0f;
  padding: 4px 15px 4px 40px;
}

#page-cv #cv-main #cvo-experience-blocktitle,
#cv-boxtitle {
  width: max-content;
  max-width: 265px;
}

#page-cv #cv-main #box03 #cv-boxtitle {
    background: url(kinang1.png) no-repeat, #ffff;
    background-position: 0px center;
}

#page-cv #cv-main #box04 #cv-boxtitle {
    background: url(giaithuong1.png) no-repeat, #ffff;
    background-position: 0px center;
}

#page-cv #cv-main #box07 #cv-boxtitle {
    background: url(nguoithamchieu1.png) no-repeat, #ffff;
    background-position: 0px center;
}

#page-cv #cv-main #box06 #cv-boxtitle {
    background: url(sothich1.png) no-repeat, #ffff;
    background-position: 0px center;
}

#page-cv #cv-main #box05 #cv-boxtitle {
    background: url(chungchi1.png) no-repeat, #ffff;
    background-position: 0px center;
}

#experience-table {
  width: 100%;
  height: auto;
  float: right;
  clear: both;
  text-align: justify;
}

#cv-profile-fullname::before {
  color: #fff;
}

.watermark {
  float: left;
  width: 100%;
  color: #fff;
  text-align: right;
  padding-right: 20px;
  margin-top: 18px;
  font-size: 15px;
  font-family: Courier;
}

.chu {
  float: left;
  width: 100%;
  padding-bottom: 102px;
  position: relative;
  line-height: 35px;
  z-index: 4;
  text-align: center;
  background: url(top1.png) no-repeat;
  background-size: 100% 100%;
}

.anh {
  float: left;
  width: 20%;
  z-index: 6;
  position: relative;
  margin-top: -100px;
  height: 148px;
  margin-left: 320px;
  background: url(fake1.png) no-repeat;
}

.cum,
.ski {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 30px;
  margin-bottom: 5px;
  width: 100%;
  background: url(dot-main1.png) no-repeat, url(ngang1.png) no-repeat;
  background-position: right center, 0px center;
}

#box02 .cum {
    display: none;
}

.chu h1 {
  width: 100%;
  float: left;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 35px;
  color: #000;
  margin: 0;
  /* margin-left: 110px; */
  background: url(chu1-1.png) no-repeat, url(chu2-1.png) no-repeat;
  background-position: 17px center, 561px center;
  background-size: 100px 4px;
}

#cv-profile-fullname {
  margin: 0;
  padding: 11px 0px 11px 0px;
  margin-left: 115px;
  width: 63%;
  float: left;
}

.chu h2 {
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  padding-bottom: 10px;
  width: 100%;
}

.ic1 .icf {
  width: 34px;
  height: 30px;
  float: left;
}

.ic2 .icf {
  width: 34px;
  height: 30px;
  float: left;
}

.ic3 .icf {
  width: 34px;
  height: 30px;
  float: left;
}

.ic4 .icf {
  width: 34px;
  height: 30px;
  float: left;
}

.ic5 .icf {
  float: left;
}

.ic2 .icoweb {
  padding-left: 28px;
  background: url(sex1.png) no-repeat;
  background-position: 2px center;
}

.anh img {
  margin-left: 16px;
}

.fake_img {
  width: 108px;
  height: 108px;
  top: 5px;
  background-size: 100% 100%;
}

.exp-date {
  width: 26%;
  color: #000;
  text-align: left;
}


.ic1 {
  background: url(date1.png) no-repeat;
  background-position: 2px center;
  width: 30%;
  padding: 3px 0px 3px 25px;
  margin-right: 18px;
}

.i_ri .ic2 {
  background: linear-gradient(90deg, #0f9b0f, #323532);
  border-radius: 30px;
  color: #fff;
  width: 22%;
  float: left;
  padding: 3px 0px 3px 0px;
}

.ic3 {
  background: url(phone1.png) no-repeat;
  background-position: 2px center;
  width: 36%;
  padding: 3px 0px 3px 25px;
}

.ic4 {
  background: url(mail1.png) no-repeat;
  background-position: 2px center;
  width: 61%;
  padding: 3px 0px 3px 25px;
  margin-left: 149px;
  margin-right: 37px;
  margin-top: -30px;
}

.ic5 {
  background: url(add1.png) no-repeat;
  background-position: 2px center;
  padding: 3px 0px 3px 25px;
  width: 70%;
  margin-left: 51px;
}

.ski {
  font-size: 20px;
  font-weight: bold;
}

.exp-title {
  width: 70%;
  font-weight: bold;
}

#page-cv #cv-content #block01 #cvo-experience-blocktitle {max-width: 311px;background: url(hocvan1.png) no-repeat, #ffff;background-position: 0px center;}

#cv-content #block01 .head {background: url(dot-content1.png) no-repeat, url(ngang2.png) no-repeat;background-position: right center, 0px center;background-size: 8px 8px, 100% 3px;}

#block01 .exp-title {
  float: right;
  width: 70%;
}
#cv-content #block01 .h3 {
  float: left;
  width: 98%;
}

#cv-content #block01 .exp-content {
  width: 98%;
  float: left;
}

#cv-content #block04 .head {background: url(dot-content1.png) no-repeat, url(ngang2.png) no-repeat;background-position: right center, 0px center;background-size: 8px 8px, 100% 3px;}

#block04 .exp-title {
  float: right;
  width: 70%;
}
#page-cv #cv-content #block04 #cvo-experience-blocktitle {background: url(duan1.png) no-repeat, #ffff;background-position: 0px center;max-width: 311px;}

#cv-content #block04 .h3 {
  float: left;
  width: 98%;
}

#cv-content #block04 .exp-content {
  width: 98%;
  float: left;
}

#cv-content #block05 .head {background: url(dot-content1.png) no-repeat, url(ngang2.png) no-repeat;background-position: right center, 0px center;background-size: 8px 8px, 100% 3px;}

#block05 .exp-title {
  float: right;
  width: 98%;
}

#page-cv #cv-content #block05 #cvo-experience-blocktitle {background: url(thongtinthem1.png) no-repeat, #ffff;background-position: 0px center;max-width: 311px;}

#cv-content #block05 .h3 {
  float: right;
  width: 98%;
}

#cv-content #block05 .exp-content {
  width: 98%;
  float: right;
}

#block02 .exp-title {
  text-align: left;
}

#cv-content #block02 .head {background: url(dot-content1.png) no-repeat, url(ngang2.png) no-repeat;background-position: right center, 0px center;background-size: 8px 8px, 100% 3px;}

#page-cv #cv-content #block02 #cvo-experience-blocktitle  {background: url(kinhnghiem1.png) no-repeat, #ffff;background-position: 0px center;max-width: 311px;}

#block03 .exp-title {
  text-align: left;
}

#cv-content #block03 .head {background: url(dot-content1.png) no-repeat, url(ngang2.png) no-repeat;background-position: right center, 0px center;background-size: 8px 8px, 100% 3px;}

#page-cv #cv-content #block03 #cvo-experience-blocktitle  {background: url(hoatdong1.png) no-repeat, #ffff;background-position: 0px center;max-width: 311px;}


.box-content {
  width: 100%;
  margin-top: 5px;
}

.blog-cv .head,
.blog-hd .head {
  color: #000;
}

.footer {
  float: left;
  width: 100%;
  height: 44px;
  /* background: url(foot1-1.png) no-repeat; */
  /* background-size: 100% 45px; */
  background: url(foot1-1.png) no-repeat, url(form-l1.png) no-repeat, url(form-l1.png) no-repeat;
  background-position: left, right;
  background-size: 100% 68px, 15px 100%, 15px 100%;
}

#cv-profile-job {
  text-transform: capitalize;
  width: 45%;
  margin-left: 180px;
  left: -100px;
}

.icoweb span {
  color: #000;
  width: 100%;
  margin-top: 5px;
  padding-left: 1px;
}

#cv-profile-birthday {
  width: 100%;
}

#cv-profile-sex {
  width: 83%;
}

#cv-profile-phone {
  width: 100%;
}

#cv-profile-email {
  width: 100%;
}

#cv-profile-address {
  width: 100%;
}

.exp-subtitle {
  width: 100%;
}

#block03 .exp-title,
#block05 .exp-title {
  width: 70%;
  /* font-weight: unset; */
}

.box-content {
  text-align: justify;
  margin-left: 5px;
  width: 96%;
}

.i_tt {display: none;}

.i_le {
  float: left;
  width: 100%;
}

.i_ri {
  /* float: right; */
  width: 100%;
}

.icf {
  display: none;
}

.ic {
  float: right;
}

#box01 {padding: 10px;}

#cv-content #block03 h3,
#cv-content #block05 h3 {
  margin-bottom: 0px;
}

#cvo-profile-avatar-wraper {
    height: 100%;
}