/* 2 */

:root {
  --muctieu: url(muctieu2.png) no-repeat, url(mt2.png) no-repeat;
  --ngang: url(ngang2.png) no-repeat;
  --page: url(page2.png) no-repeat;
  --top: url(top2.png) no-repeat;
  --tt: url(tt-t2.png) no-repeat, url(tt-b2.png) no-repeat, url(tt-f2.png) no-repeat;
  --bg: url(bg2.png) no-repeat;
  --cum1: url(cum1-2.png) no-repeat;
  --cum2: url(cum2-2.png) no-repeat;
  --head1: url(head1-2.png) no-repeat;
  --head2: url(head2-2.png) no-repeat;
  --skill: url(skill2.png) no-repeat;
  --kn: url(kn2.png) no-repeat;
  --color: #faffef;
  --color-j: #1d1d1a;
}