#cv-top {
    background-image: url(hd3.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.all {
    background: url(../bg-main3.png)no-repeat;
    background-size: 100% 100%;
}
.watermark {
    background: #3e374b;
}
#cvo-profile .box-dm {
    background: url(fake3.png)no-repeat;
    background-size: 100% 100%;
    margin-top: -228px;
}
.tt-box1 {
    background: url(bg3.1.png)no-repeat;
    background-position: left;
    background-size: 100% 100%;
}
#box02 .cum {
    background: url(bg3.2.png)no-repeat;
    background-position: left;
    background-size: 100% 100%;
}
/* Box03 */
.ski {
    background: url(bg3.3.png)no-repeat;
    background-position: left;
    background-size: 100% 100%;
}
#box04 .cum {
    background: url(bg3.4.png)no-repeat;
    background-position: left;
    background-size: 100% 100%;
}
#box05 .cum {
    background: url(bg3.1.png)no-repeat;
    background-position: left;
    background-size: 100% 100%;
}
#box06 .cum {
    background: url(bg3.4.png)no-repeat;
    background-position: left;
    background-size: 100% 100%;
}
/* #block01 .head {
    background: url(ic3.1.png)no-repeat;
    background-position: right;
    background-size: 13% 100%;
}
#block02 .head {
    background: url(ic3.2.png)no-repeat;
    background-position: right;
    background-size: 13% 100%;
}
#block03 .head {
    background: url(ic3.3.png)no-repeat;
    background-position: right;
    background-size: 13% 100%;
}
#block04 .head {
    background: url(ic3.4.png)no-repeat;
    background-position: right;
    background-size: 13% 100%;
}
#block05 .head {
    background: url(ic3.5.png)no-repeat;
    background-position: right;
    background-size: 13% 100%;
} */
div#block01 {
    border-right: 25px solid #f0e84f;
  }
div#block02 {
    border-right: 25px solid #31c44d;
}
div#block03 {
    border-right: 25px solid #a182de;
}
div#block04 {
    border-right: 25px solid #7cea27;
}
div#block05 {
    border-right: 25px solid #f0e84f;
}
#block01 .head{
    background: url(../triangle_yellow3.png)no-repeat;
    background-position: right;
    /* background-size: 13% 100%; */
}
  #block02 .head{
    background: url(../triangle_green3.png)no-repeat;
    background-position: right;
}
  #block03 .head{
    background: url(../triangle_violet.png)no-repeat;
    background-position: right;
}
  #block04 .head{
    background: url(../triangle_green3.2.png)no-repeat;
    background-position: right;
}
  #block05 .head{
    background: url(../triangle_yellow3.png)no-repeat;
    background-position: right;
}
#block01 .block-title {
    background: url(ic3.1.png) no-repeat;
    background-position: right;
    background-size: auto 100%;
    width: 90%;
}
  #block02 .block-title {
    background: url(ic3.2.png) no-repeat;
    background-position: right;
    background-size: auto 100%;
    width: 90%;
}
  #block03 .block-title {
    background: url(ic3.3.png) no-repeat;
    background-position: right;
    background-size: auto 100%;
    width: 90%;
}
  #block04 .block-title {
    background: url(ic3.4.png) no-repeat;
    background-position: right;
    background-size: auto 100%;
    width: 90%;
}
  #block05 .block-title {
    background: url(ic3.5.png) no-repeat;
    background-position: right;
    background-size: auto 100%;
    width: 90%;
}