.cv_page::after {
  background-image: url(footer2.svg);
}

#cv-top {
  background-image: url(header2.png);
}

#cv-top h1::after {
  background-image: url(decor_top2.svg);
}

#cv-content .head {
  background-image: url(block2.png);
}