#cv-top h1 {
    padding: 0;
    margin: 0;
    font-size: 40px;
    font-family: "Roboto";
    line-height: 45px;
    text-transform: uppercase;
    margin-bottom: 0;
    color: #9e7676;
    font-weight: bold;
    text-align: left;
    float: left;
}
#cvo-profile-avatar-wraper img {
  float: none;
  border-radius: 99em;
  border: 1px solid #9e7676;
}
div#sort_block {
    padding: 0;
    margin: 0;
    float: left;
    padding-left: 20px;
    border-left: 3px solid #9e7676;
}
#cv-content .head #cvo-experience-blocktitle, #cv-boxtitle {
    color: #9e7676 !important;
    text-align: left;
    float: left;
}
.bar-exp {
  height: 12px;
  margin-top: 5px;
  margin-bottom: 0px;
  padding: 0px;
  float: left;
  width: 228px;
  background: url(../bar_exp3.png) no-repeat;
  background-size: 100% 100%;
}
.bar-exp div {
    float: left;
    height: 11px;
    margin: 1px;
    border-radius: 10px;
    background-color: #9e7676;
}
.ic1 .icf {
  background: url(../date3.png) no-repeat;
  width: 32px;
  height: 27px;
}
.ic2 .icf {
  background: url(../sex3.png) no-repeat;
  width: 32px;
  height: 33px;
}
.ic3 .icf {
  background: url(../phone3.png) no-repeat;
  width: 32px;
  height: 28px;
}
.ic4 .icf {
  background: url(../mail3.png) no-repeat;
  width: 32px;
  height: 28px;
}
.ic5 .icf {
  background: url(../add3.png) no-repeat;
  width: 32px;
  height: 33px;
}
#cv-main {
    text-align: justify;
    margin: 0;
    padding: 0;
    float: right;
    width: 38%;
    padding: 20px;
    border-left: 3px solid #9e7676;
    padding-left: 25px;
    padding-top: 0;
}
#block01 .head {
    background: url(../edu3.png) no-repeat;
    background-position: left;
    margin: 5px 0;
  }
  #block02 .head {
    background: url(../exp3.png) no-repeat;
    background-position: left;
    margin: 5px 0;
  }
  #block03 .head {
    background: url(../act3.png) no-repeat;
    background-position: left;
    margin: 5px 0;
  }
  #block04 .head {
    background: url(../project3.png) no-repeat;
    background-position: left;
    margin: 5px 0;
  }
  
  #block05 .head {
    background: url(../more_infor3.png) no-repeat;
    background-position: left;
    margin: 5px 0;
  }
  #box02 .cum {
    background: url(../target3.png) no-repeat;
    background-position: left;
  }
  #box03 .ski {
    background: url(../exp3.png) no-repeat;
    background-position: left;
    padding-left: 40px;
    margin-left: -40px;
    position: relative;
    z-index: 99;
  }
  #box04 .cum {
    background: url(../prize3.png) no-repeat;
    background-position: left;
  }
  #box05 .cum {
    background: url(../cer3.png) no-repeat;
    background-position: left;
  }
  #box06 .cum {
    background: url(../hobbies3.png) no-repeat;
    background-position: left;
  }
  #box07 .cum {
    background: url(../rp3.png) no-repeat;
    background-position: left;
  }
  .box-content, .ctbx {
    background: url(../bg_content3.png) no-repeat;
    padding-left: 30px ;
    margin-left: -32px ;
  }

  .fake_img {
    background: url(../fake_img3.png) no-repeat;
}