/* 3 */

:root {
    --sex: url(sex3.png) no-repeat;
    --phone: url(phone3.png) no-repeat;
    --date: url(date3.png) no-repeat;
    --email: url(mail3.png) no-repeat;
    --add: url(add3.png) no-repeat;
    --dot: url(dot3.png) no-repeat;
    --tro: url(main3.png) no-repeat;
    --box02: url(muctieu3.png) no-repeat;
    --kynang: url(kinang3.png) no-repeat;
    --chungchi: url(chungchi3.png) no-repeat;
    --giaithuong: url(giaithuong3.png) no-repeat;
    --sothich: url(sothich3.png) no-repeat;
    --thamchieu: url(nguoithamchieu3.png) no-repeat;
    --hocvan: url(hocvan3.png) no-repeat;
    --kinhnghiem: url(kinhnghiem3.png) no-repeat;
    --duan: url(duan3.png) no-repeat;
    --hoatdong: url(hoatdong3.png) no-repeat;
    --title: #2c3e50;
    --kn: url(kn3.png) no-repeat;
    --skill: url(skill3.png) no-repeat;
    --ic: url(ic-3.png) no-repeat;
    --inf: url(top-inf3.png) no-repeat, url(bottom-inf3.png) no-repeat;
    --h1: url(h1-3.png) no-repeat;
    --doc: url(doc3.png) no-repeat;
    --form: url(form1-3.png) no-repeat, url(form2_3.png) no-repeat;
}