/* 3 */

:root {
  --sex: url(sex3.png) no-repeat;
  --phone: url(phone3.png) no-repeat;
  --date: url(date3.png) no-repeat;
  --email: url(mail3.png) no-repeat;
  --add: url(add3.png) no-repeat;
  --top: url(top-3.png) no-repeat;
  --job: url(job1-3.png) no-repeat, url(job2-3.png) no-repeat; 
  --job-t: url(job-t3.png) no-repeat;
  --title-m: url(title1-3.png) no-repeat, url(title2-3.png) no-repeat;
  --title-t: url(title-t3.png) no-repeat;
  --color-j: #0f878b;
  --color-t: #f8d08e;
}