#box-hvt {
    background: url(../bg_infor2.png) no-repeat;
    background-size: 100%;
}
#form-cv {
    background: url(../main2_.png) no-repeat;
    /* background-position: 32px; */
    background-size: 100% 100%;
}
#cv-content .head {
    background: url(../bg_title2.png) no-repeat;
    background-size: 100% 100%;
}
#cv-top h2 {
    background: url(../bg_job2.png) no-repeat;
    background-size: 100% 100%;
}
.bar-exp div {
    background: url(../skill2.png) no-repeat;
    background-position: right;
}
#cv-content .cvo-block .exp-date {
    background: url(../bg_date2.png) no-repeat;
    background-position: 15px bottom;
}
.footer {
    background: url(../ft2.png) no-repeat;
    background-size: 100%;
}
div#cv-boxtitle {
    color: #d07500;
}
.exp-title {
    color: #d07500;
}
.ic1 .icf {
    background: url(../date2.png) no-repeat;
}
.ic2 .icf {
    background: url(../sex2.png) no-repeat;
}
.ic3 .icf {
    background: url(../phone2.png) no-repeat;
}
.ic4 .icf {
    background: url(../mail2.png) no-repeat;
}
.ic5 .icf {
    background: url(../add2.png) no-repeat;
}