#cv-top {
	width: 100%;
	height:461px;
	background: url(hd3.png)no-repeat;
	background-size: 100% 100%;
}
.all {
	float: left;
	background: url(main3.png) repeat-y;
}
#cv-content #block02 h3 {
	font-weight: bold;
    text-transform: uppercase;
    background: url(icp3.png)no-repeat;
    background-position: left;
    background-size: 5% 76%;
    padding-left: 30px;
}
/* #cv-content #block01 #exp3 h3{
    padding-left: 35px;
    background: url(pp3_07.png)no-repeat;
    background-position: left;
    background-size: 8% 100%;
    z-index: 1;
} */
.bar-exp div {
	float: left;
	height: 9px;
	background: #000482;
	margin-top: 0px;
}
.exp-fake {
    float: left;
    width: 100%;
    height: 10px;
    background: url(anh3.png)no-repeat;
    background-size: 100% 100%;
    margin-top: -10.5px;
    z-index: 1;
}
.bar-exp {
    width: 99.8%;
	background: #e0e8fd;
	height: 10px;
	float: none;
	margin-top: 0;
	margin-bottom: 0px;
	padding: 0px;
}
#cv-content .head {
	height: 30px;
	width: 100%;
	float:left;
	line-height: 30px;
	margin-bottom: 0;
	background: url(tt3.png)no-repeat;
	background-position: left;
	background-size: 100% 100%;
}
/* #block01 #experience-table #exp1 {
	padding-top: 0;
    background: url(pp3_03.png)no-repeat;
    background-position: left;
    background-size: 8% 100%;
    z-index: 1;
}
#block01 #experience-table #exp2 {
    padding-top: 0;
    background: url(pp3_05.png)no-repeat;
    background-position: left;
    background-size: 8% 100%;
    z-index: 1;
} */
#cv-content #block01 h3 {
    padding-left: 35px;
    background: url(../dot-4.png) no-repeat;
    background-position: left;
}
.form{
    	width: 100%;
    	height:10px;
    	/* background: url(bg3.png)no-repeat; */
    	background-position: bottom;
    }
	div#prof {
		width: 100%;
		float: left;
		padding-top: 15px;
		/* background: url(bg3.png)no-repeat; */
		background-position: bottom;
		padding-left: 35px;
	}
.ski {
    	height: 30px;
    	width: 100%;
    	line-height: 30px;
    	background: url(t3.png)no-repeat;
    	background-position: right;
    	background-size: 100% 100%;
    }
    .cum {
    	height: 30px;
    	line-height: 30px;
    	width: 100%;
    	background: url(t3.png)no-repeat;
    	background-position: right;
    	background-size: 100% 100%;
    }
.footer {
    	width: 100%;
    	float: left;
    	height: 57px;
    	background: url(ft3.png)no-repeat;
    	background-size: 100% 100%;
    }