#cv-content #block01 h3 {
    padding-left: 35px;
    background: url(../dot-2.png) no-repeat;
    background-position: left;
}
div#prof {
    width: 100%;
    float: left;
    padding-top: 15px;
    /* background: url(../bg.png)no-repeat; */
    background-position: bottom;
    padding-left: 35px;
}