#cv-top {
	width: 100%;
	height:461px;
	background: url(hd2.png)no-repeat;
	background-size: 100% 100%;
}
.all {
	float: left;
	background: url(main2.png) repeat-y;
}
#cv-content #block02 h3 {
	font-weight: bold;
    text-transform: uppercase;
    background: url(icp2.png)no-repeat;
    background-position: left;
    background-size: 5% 76%;
    padding-left: 30px;
}
#cv-content #block01 #exp3 h3{
    padding-left: 35px;
    background-position: left;
    z-index: 1;
}
.bar-exp div {
	float: left;
	height: 9px;
	background: #a821a6;
	margin-top: 0px;
}
.exp-fake {
    float: left;
    width: 100%;
    height: 10px;
    background: url(anh2.png)no-repeat;
    background-size: 100% 100%;
    margin-top: -10.5px;
    z-index: 1;
}
.bar-exp {
    width: 99.8%;
	background: #f7e6fe;
	height: 10px;
	float: none;
	margin-top: 0;
	margin-bottom: 0px;
	padding: 0px;
}
#cv-content .head {
	height: 27px;
	width: 100%;
	float:left;
	line-height: 30px;
	margin-bottom: 0;
	background: url(tt2.png)no-repeat;
	background-position: left;
}
#block01 #experience-table #exp1 {
	padding-top: 0;
	/* background: url(pp2_03.png)no-repeat; */
	background-position: left;
	background-size: 8% 100%;
	z-index: 1;
}
#block01 #experience-table #exp2 {
    padding-top: 0;
    /* background: url(pp2_05.png)no-repeat; */
    background-position: left;
    background-size: 8% 100%;
    z-index: 1;
}
.form{
    	width: 100%;
    	height:10px;
    	/* background: url(bg2.png)no-repeat; */
    	background-position: bottom;
    	/* margin-left: -23px; */
    }
.ski {
    	height: 30px;
    	width: 100%;
    	line-height: 30px;
    	background: url(t2.png)no-repeat;
    	background-position: right;
    	background-size: 100% 100%;
    }
    .cum {
    	height: 30px;
    	line-height: 30px;
    	width: 100%;
    	background: url(t2.png)no-repeat;
    	background-position: right;
    	background-size: 100% 100%;
    }
.footer {
    	width: 100%;
    	float: left;
    	height: 57px;
    	background: url(ft2.png)no-repeat;
    	background-size: 100% 100%;
    }