.bar-exp span,#cv-content .head, #cv-right .h3 {background-color: #dde934!important;}

.background-top-fix,.bar-exp span:after {background-color: #98a20c!important;}
#cv-content span.exp-date,#cv-right .icoweb span.cv-hi i,#cv-top h1,#cv-top h2 {color: #98a20c!important;}