#form-cv{
	background:#d7f7f5;
}
#cv-main{
	background: #d7f7f5;
}

#cv-top{		  
    background: #d7f7f5;
}
#cv-content{
	border-left: solid 1px #d7f7f5;
	border-bottom: solid 3px #d7f7f5;
}
#cv-right{
	background:#d7f7f5;
}

#cv-right .ir{
	background: #fff294;
}