#cv-top {
    width: 47%;
    /* height: 375px; */
    background: url(hd4.png) no-repeat;
    background-size: 208.7% 100%;
    position: relative;
}

.all {
    float: left;
    clear: both;
    width: 100%;
    background-image: url(main4.png);
    background-size: 98% 100%;
    background-repeat: no-repeat;
    position: relative;
}

.footer {
    background: url(ft4.png)no-repeat;
    background-size: 100% 100%;
    float: left;
    height: 60px;
    width: 100%;
}

#cv-top h2 {
    font-size: 20px;
    height: 46px;
    margin-top: 0;
    font-weight: unset;
    text-align: center;
    color: #000;
    background: url(ngang4.png)no-repeat;
    background-position: 12px 18px;
}

#cv-right h3 {
    color: #000;
    background: url(gach4.png)no-repeat;
    background-position: 0px 16px;
    height: 38px;
}

#cv-content .head {
    background: #7f0081;
    border-radius: 20px;
    color: #eaf2ff;
    width: 70%;
    z-index: 2!important;
    position: relative;
    margin-left: -10px;
    margin-top: -20px;
}

#block01 {
    border-top: solid 2px #7f0081;
    border-right: solid 2px #7f0081;
    border-bottom: solid 2px #7f0081;
    border-radius: 20px 20px 20px 0;
    background: url(ic4_03.jpg)no-repeat;
    background-size: auto;
    background-position: right center;
}

#block02 {
    margin-top: 55px;
    border-top: solid 2px #7f0081;
    border-right: solid 2px #7f0081;
    border-bottom: solid 2px #7f0081;
    border-radius: 20px 20px 20px 0;
    background: url(ic4_06.jpg)no-repeat;
    background-size: auto;
    background-position: right center;
}

#block03 {
    margin-top: 55px;
    border-top: solid 2px #7f0081;
    border-right: solid 2px #7f0081;
    border-bottom: solid 2px #7f0081;
    border-radius: 20px 20px 20px 0;
    background: url(ic4_08.jpg)no-repeat;
    background-size: auto;
    background-position: right center;
}

#block04 {
    margin-top: 40px;
    border-top: solid 2px #7f0081;
    border-right: solid 2px #7f0081;
    border-bottom: solid 2px #7f0081;
    border-radius: 20px 20px 20px 0;
    background: url(ic4_10.jpg)no-repeat;
    background-size: auto;
    background-position: right center;
}

#block05 {
    margin-top: 36px;
    border-top: solid 2px #7f0081;
    border-right: solid 2px #7f0081;
    border-bottom: solid 2px #7f0081;
    border-radius: 20px 20px 20px 0;
    background: url(ic4_12.jpg)no-repeat;
    background-size: auto;
    background-position: right center;
}

#cvo-profile-avatar-wraper img {
    width: 215px;
    height: 215px;
    float: none;
    border: solid 4px #7f0081;
    border-radius: 50%;
    display: inline-block;
}

.box-dm {
    width: 282px;
    height: 282px;
    clear: both;
    z-index: 1;
    padding: 0;
    margin: 0;
    display: table;
    position: absolute;
    float: left;
    background: url(avata4.png)no-repeat;
    background-size: 100% 100%;
    margin-top: -281px;
    margin-left: -1px;
    top: -900px;
}

.exp-fake {
    float: left;
    width: 102%;
    height: 23px;
    background: url(kynang4.png)no-repeat;
    background-size: 100% 100%;
    margin-top: -20px;
    z-index: 1;
    margin-left: -1px;
}

.bar-exp div {
    float: left;
    height: 15px;
    background: #7f0081;
}

#block01 .head, #block02 .head, #block03 .head, #block04 .head, #block05 .head {
    background: #7f0081;
    z-index: 1;
    color: #fff;
    margin-top: -20px;
}

#cv-content .head div {
    border-radius: 20px;
    padding-bottom: 5px;
}