#cv-content .cvo-block{
	border-top: dashed 1px #ffaa52;
}

#cv-main{
	border: solid 1px #ffaa52; 
	border-top: 0px;
}
#cv-top{		
	background-color: #ffaa52;
}

#cvo-profile-avatar-wraper{	    
    background: #70db70;
}
#sortable .cvo-block{
	background: #70db70;
}