#form-cv {
  width: 100%;
  float: left;
  position: relative;
  font-size: 14px;
  line-height: 24px;
  color: #484848;
  background: url(bg1.png)no-repeat;
  background-size: 100% 100%;
}

#form-cv p {
margin-top: 0;
margin-bottom: 0px;
}
#lt-content p{
font-family: "Roboto",serif!important;
}
#cv-top {
display: none;
}

#sortable .cvo-block {
margin: 0;
padding: 0;
padding: 0 0 5px;
}

#cvo-profile {
display: block;
padding: 20px 10px 0;
}

#cv-content {
  width: 52%;
  text-align: justify;
  margin: 0;
  padding: 0;
  float: right;
  position: relative;
  padding-top: 120px;

}
#cv-content  .box-01{
padding: 0;
margin: 0;
padding-left: 10px;
padding-top: 20px;
}

#cv-content .ir {
padding-right: 0 ;
margin: 0px;
}




#cv-content #block02 #exp3{
padding: 0;
margin: 0;
padding-left: 10px;
padding-right: 10px;
/*margin-left: 25px;*/
/*margin: 20px 0 20px 10px;*/
}


#cv-content .ir #block02 #experience-table {
padding: 0px;
/*  background: #00b296;*/
/*margin-left: 25px;*/
}

#cv-main {
  margin: 0;
  padding: 0;
  width: 46%;
  text-align: justify;
  float: left;
  position: relative;
  background: #464646;
}

#cv-right {float: left;width: 100%;position: relative;padding-top: 30px;}

#cv-right .ir {
padding: 0;
}
#cv-right .ir .block{
padding:0;
margin: 0;
margin-bottom: 20px;
}
p.skill-name input {
color: #fff !important;
}

#box-hvt {
margin: 0;
padding: 0;
width: 100%;
text-align: justify;
padding-top: 25px;
padding-bottom: 200px;
}

#box-hvt h1 {
margin: 0;
padding: 0;
font-size: 32px;
line-height: 32px;
text-transform: uppercase;
color: #0597f2;
text-align: center;
font-weight: bold;
}

#cvo-profile .box-contact {
  padding-top: 0;
  width: 100%;
  float: right;
  color: #000;
}

#cv-right #prof {
  width: 100%;
  float: left;
  color: #000;
  padding-bottom: 5px;
  border-bottom: 2px solid #1b1b1b;
}

#sortable #box01 {
  padding: 0;
  margin: 0;
  border: 0;
}

.avt {
width: 100%;
  padding: 0;
  margin: 0;
  background: url(hd1.png)no-repeat;
  background-size: 100% 100%;
  min-height: 485px;
}

#cv-right .cvo-block .head div {
  color: #1b1b1b;
}

#box01 ul li {
  width: 50%;
  float: left
}

#box-hvt h2 {
  padding: 0;
  margin: 0;
  font-size: 16px;
  color: #0597f2;
  line-height: 24px;
  text-transform: uppercase;
  margin-top: 15px;
  text-align: center;
}

#cv-content p {
  margin-bottom: 5px
}

#cv-content .ir a {
  color: #2ebb2f
}

#cv-right h3, #cv-content .head {
  font-size: 18px;
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
  padding-top: 0;
  line-height: 24px;
}

#sortable .box-content {
  margin: 0;
  padding: 0;
  padding-top: 15px;
  width: 90%;
  padding-left: 15px;
  color: #fff;
  padding-bottom: 10px;
}

#cv-content .exp-title {
  width: 100%;
  float: right;
}

#cv-content .exp-date {
  float: left;
  width: 20%;
  padding-right: 10px;
  font-size: 14px;
  text-align: center;
}

#cv-content .w-exp {
width: 95%;
  float: left;
}

#cv-content h3 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  color: #0597f2;
  line-height: 18px;
  display: table;
  width: 95%;
  margin-bottom: 5px;
  padding-top: 10px;
}
#cvo-experience-blocktitle {
  float: left;
  width: 85%;
}
#cv-content p.h3 {
  font-weight: bold;
}

#cv-content .cvo-block {
  margin: 0;
  padding: 0;
  padding-right: 0;
  margin-right: 0;
}

.ctbx {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 15px;
}

/* #cv-content span {
display: inline-block;
z-index: 9999;
} */

.ctbx {
  position: relative;
}

.ctbx:hover {
  box-shadow: 0 0 1px #999;
}

.ctbx:hover .fieldgroup_controls {
  display: block;
}

[cvo-form-field] {
  cursor: text;
}

#cvo-profile-avatar-wraper {
width: 55%;
  padding: 0px;
  margin: 0px;
  height: 177px;
  padding-top: 15px;
  padding-left: 83px;
}

#cvo-profile-avatar-wraper .wimg {
  padding: 0;
  margin: 0;
  float: left;
  width: 170px;
  height: 170px;
  border: #fff solid 4px;
}

#cvo-profile-avatar-wraper img {
  width: 170px;
  height: 170px;
  float: none;
  display: inline-block;
}

/*#inside {
height: 50px;
width: 50%;
border-right: 10px solid #03c0b5;
}*/

#line-seperate {
  height: 25px;
}

.bar-exp div {
  float: left;
  height: 8px;
  background: #fff;
  border-radius: 10px;
}

.ctbx .skill-name {
  width: 100%;
  float: left;
  color: #fff;
}

.bar-exp {
  width: 100%;
  background: #464646;
  height: 8px;
  float: left;
  margin-top: 3px;
  margin-bottom: 0px;
  border: 1px solid #fff;
  border-radius: 5px;
}

.skill .ctbx {
  width: 90%;
  margin: 0;
  padding: 0;
  margin-top: 15px;
  padding-left: 15px;
}

.bar-value-exp {
  width: 50%
}

.bar-value-exp input[type="text"] {
  color: #000;
  width: 95%
}

.icoweb label {
  display: block;
}

.icoweb {
  line-height: 22px;
  float: left;
  padding-left: 5px;
}

.ic {
  float: left;
  width: 100%;
  margin-bottom: 8px
}

#form-cv .icf {
  float: left;
  line-height: 25px;
  height: 25px;
  margin-bottom: 0;
  font-size: 14px;
  width: 25px;
  text-align: center;
}

#form-cv .ic .icoweb {
  margin-bottom: 0;
      width: 78%;
      display: flex;
}

.ic .icoweb {
  float: left
}

.icf .fa {
  color: #0597f2;
  margin-top: 0;
  float: none
}

#prof .ic {
  padding: 0;
  margin: 0;
  margin-top: 3px;
  float: none;
  float: left;
  max-width: 100%;
}

#form-cv .wfa {
  float: right;
  width: 25px;
  font-size: 14px;
  line-height: 25px;
  background: #fff;
  border: 2px solid #446600;
  border-radius: 20px;
  text-align: center;
  color: #446600
}

.sum {
  width: 100%;
  height: 30px;
}
#experience-table {
  margin-top: 15px;
}

#cv-content .head {
  width: 100%;
  height: 40px;
  background-position: left center;
  float: left;
  color: #0597f2;
  line-height: 40px;
  border-bottom: 2px solid #0597f2;
  }

  .cum {
    width: 100%;
    height: 36px;
    text-align: left;
  }

  #cv-right h3 {
  color: #fff;
  width: 94%;
  line-height: 45px;
  float: left;
  text-align: center;
  }

  #experience-table .ctbx{
    padding-right: 10px;
  }
  #box01 #prof{
  padding-top: 10px;
  padding-bottom: 15px;
  width: 94%;
  }



  #cv-content #box01{
       width: 100%;
  margin: 0;
  padding: 0;
  margin-left: 5px;
  background-position: left top;
  float: left;
  }

  #cv-content .head .div-text{
    width: 80%;
    height: 30px;
    float: left;
    padding-left: 15px;
  }
#cv-content .ir .cvo-block {
margin: 0;
padding: 0;
}
#cv-content .ir #block05 #experience-table{
background: none;
padding-right: 15px;
}
#footer{
width: 100%;
/* display: none; */
}
.cum2{
float: left;
width: 100%;
background: url(icon1_a.png)no-repeat;
background-size: 100%;
}
.cum3{
float: left;
width: 100%;
background: url(icon2_a.png)no-repeat;
background-size: 100%;
}
.cum4{
float: left;
width: 100%;
background: url(icon3_a.png)no-repeat;
background-size: 100%;
}
.cum5{
float: left;
width: 100%;
background: url(icon4_a.png)no-repeat;
background-size: 100%;
}
.cum6{
float: left;
width: 100%;
background: url(icon5_a.png)no-repeat;
background-size: 100%;
}
.cum7{
float: left;
width: 100%;
background: url(icon6_a.png)no-repeat;
background-size: 100%;
}
.text1{
  float: left;
  width: 35px;
  height: 35px;
  background: url(icon7_a.png)no-repeat;
  padding-left: 15px;
  background-position: left center;
}
.text2{
  float: left;
  width: 35px;
  height: 35px;
  background: url(icon8_a.png)no-repeat;
  padding-left: 15px;
  background-position: left center;
}
.text3{
  float: left;
  width: 35px;
  height: 35px;
  background: url(icon9_a.png)no-repeat;
  padding-left: 15px;
  background-position: left center;
}
.text4{
  float: left;
  width: 35px;
  height: 35px;
  background: url(icon10_a.png)no-repeat;
  padding-left: 15px;
  background-position: left center;
}
.text5{
  float: left;
  width: 35px;
  height: 35px;
  background: url(icon11_a.png)no-repeat;
  padding-left: 15px;
  background-position: left center;
}
.watermark {
float: left;
width: 100%;
/* height: 22px; */
color: #999;
text-align: right;
padding-right: 22px;
font-size: 15px;
/* padding-top: 40px; */
font-family: Courier;
}