:root {
  --sex: url(sex1.png) no-repeat;
  --phone: url(phone1.png) no-repeat;
  --date: url(date1.png) no-repeat;
  --email: url(email1.png) no-repeat;
  --add: url(add1.png) no-repeat;
  --top: url(top1.png) no-repeat;
  /* --avt: url(avt1.png) no-repeat; */
  --job: url(job1.png) no-repeat;
  --hocvan: url(icon_hocvan.png) no-repeat;
  --kinang: url(icon_kinang.png) no-repeat;
  --chungchi: url(icon_chungchi.png) no-repeat;
  --giaithuong: url(icon_giaithuong.png) no-repeat;
  --sothich: url(icon_sothich.png) no-repeat;
  --nguoithamchieu: url(icon_nguoithamchieu.png) no-repeat;
  --kinhnghiem: url(icon_kinhnghiem.png) no-repeat;
  --hoatdong: url(icon_hoatdong.png) no-repeat;
  --duan: url(icon_duan.png) no-repeat;
  --thongtin: url(icon_thongtin.png) no-repeat;
  --title: #9bc2f7;
  --foot: url(foot1.png) no-repeat;
  --kn: url(kn1.png) no-repeat;
  --skill:url(skill.png) no-repeat;
  --time: #b2e1f8;
  --box_muctieu: #8dd4ff;
  --box_muctieu2:#2a78ff;
  --bd_bottom: #305db4;
}
