:root {
    --sex: url(sex2.png) no-repeat;
    --phone: url(phone2.png) no-repeat;
    --date: url(date2.png) no-repeat;
    --email: url(email2.png) no-repeat;
    --add: url(add2.png) no-repeat;
    --top: url(top2.png) no-repeat;
    /* --avt: url(avt2.png) no-repeat; */
    --job: url(job2.png) no-repeat;
    --hocvan: url(icon_hocvan2.png) no-repeat;
    --kinang: url(icon_kinang2.png) no-repeat;
    --chungchi: url(icon_chungchi2.png) no-repeat;
    --giaithuong: url(icon_giaithuong2.png) no-repeat;
    --sothich: url(icon_sothich2.png) no-repeat;
    --nguoithamchieu: url(icon_nguoithamchieu2.png) no-repeat;
    --kinhnghiem: url(icon_kinhnghiem2.png) no-repeat;
    --hoatdong: url(icon_hoatdong2.png) no-repeat;
    --duan: url(icon_duan2.png) no-repeat;
    --thongtin: url(icon_thongtin2.png) no-repeat;
    --title: #ffe39c;
    --foot: url(foot2.png) no-repeat;
    --kn: url(kn2.png) no-repeat;
    --skill:url(skill2.png) no-repeat;
    --time: #ffe39c;
    --box_muctieu: #ffe39c;
    --box_muctieu2:#ed7d36;
    --bd_bottom: #af3236;
  }

  