#form-letter{
	width: 100%;
	height: 1130px;
	float: left;	
	color:#000000;
	position: relative;
	background: url(form3.png)no-repeat;
	background-size: 100% 100%;
}
#cvo-profile-avatar-wraper {
padding: 0;
margin: 0;
float: left;
width: 180px;
height: 200px;
cursor: pointer;
margin-left: 45px;
border: 4px solid #f24130;
z-index: 99;
border-radius: 10px;
}
.lto-day {
    margin: 0;
    padding: 0px 0px;
    position: relative;
    clear: both;
    text-align: center;
    width: 45%;
    margin-right: 56px;
	float: right;
	padding-top: 15px;
	color: #f24130;
}
.icf .fa{
	font-size: 18px;	
	color:#f24130;
	font-weight: normal;
	margin-top: 0;	
	float: left
}
#title-job {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #f24130;
    float: left;
	width: 100%;
	padding-top: 10px;
	text-transform: uppercase;
}