#form-cv{
	border:4px solid #3fc2d0;
	background: #fff;
}
#form-cv #bg-head, .bar-exp div{
	background: #3fc2d0	
}
#cvo-profile-avatar-wraper .wimg{
	border:4px solid #3fc2d0;
}
#form-cv .icf{
	border:1px solid #3fc2d0;
}
.icf .fa{
	color:#3fc2d0;
}