#cv-content .exp-content, #cv-content .exp-subtitle,#form-cv {font-size: 16px;}
#cvo-profile-info h1 {font-size: 34px;}
#cvo-profile-info h2 {font-size: 18px;}
#cv-content span.exp-date {font-size: 15px;}
#cv-content .ctbx .exp-title {font-size: 17.5px;}