#form-cv {
  width: 100%;
  float: left;
  position: relative;
  font-size: 14px;
  line-height: 24px;
  color: #484848;
  background: #009688;
  border: #009688 10px solid;
}

#form-cv p {
  margin-top: 0;
  margin-bottom: 0px;
}

#cv-top {
  width: 100%;
  height: 215px;
}

#sortable .cvo-block {
  margin: 0;
  padding: 0;
  padding: 0 0 5px;
  margin-bottom: 15px;
}

#cvo-profile {
  display: block;
  padding: 20px 10px 0;
}

#cv-content {
    width: 54.7%;
    text-align: justify;
    margin: 0;
    padding: 0;
    float: left;
    margin-left: 10px;
    margin-right: 0;
    position: relative;
    background: #fff;
}
#cv-content  .box-01{
  padding: 0;
  margin: 0;
  padding-left: 10px;
  padding-top: 20px;
}

#cv-content .ir {
  padding-right: 0 ;
  margin: 0px;
	padding-left: 5px;
}

#cv-content #block02 #exp3{
  padding: 0;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  /*margin-left: 25px;*/
  /*margin: 20px 0 20px 10px;*/
}
div#experience-table{
  clear: both;
  padding: 0 10px 0 10px;
}
#cv-main {
    margin: 0;
    padding: 0;
    width: 44%;
    text-align: justify;
    float: left;
    position: relative;
}

#cv-right {
float: left;
width: 100%;
color: #000;
padding-left: 5px;
position: relative;
}

#cv-right .ir {
  padding: 0;
}

p.skill-name input {
  color: #fff !important;
}

#box-hvt {
margin: 0;
padding: 0;
padding-top: 75px;
margin-bottom: 20px;
width: 100%;
text-align: justify;
}

#box-hvt h1 {
  margin: 0;
  padding: 0;
  font-size: 32px;
  line-height: 32px;
  text-transform: uppercase;
  color: #009688;
  text-align: center;
  font-weight: bold;
}

  #cvo-profile .box-contact {
    padding-top: 0;
    width: 100%;
    float: right;
    color: #000;
  }

  #cv-right #prof {
    width: 100%;
    float: left;
    color: #000;
    padding-bottom: 5px;
    border-bottom: 2px solid #1b1b1b;
  }

  #sortable #box01 {
    padding: 0;
    margin: 0;
    border: 0;
  }

  .avt {
    width: 100%;
    height: 310px;
    padding: 0;
    margin: 0;
  }

  #cv-right .cvo-block .head div {
    color: #1b1b1b;
  }

  #box01 ul li {
    width: 50%;
    float: left
  }

  #box-hvt h2 {
    padding: 0;
    margin: 0;
    font-size: 16px;
    color: #009688;
    line-height: 24px;
    text-transform: uppercase;
    margin-top: 10px;
	  text-align: center;
  }

  #cv-content p {
    margin-bottom: 5px
  }

  #cv-content .ir a {
    color: #2ebb2f
  }

  #cv-right h3, #cv-content .head {
    font-size: 18px;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    padding-top: 0;
    line-height: 24px;
  }

  #sortable .box-content {
    margin: 0;
    padding: 0;
    padding-top: 20px;
    width: 90%;
    padding-left: 10px;
    color: #fff;
  }
.exp.content-edit.skill {
  padding-top: 20px;
}
  #cv-content .exp-title {
    width: 100%;
    float: right;
    color: #009688;
  }
span.exp-subtitle {
  font-weight: normal;
}
  #cv-content .exp-date {
    float: left;
    width: 20%;
    padding-right: 10px;
    font-size: 14px;
    text-align: center;
  }

  #cv-content .w-exp {
    width: 100%;
    float: right;
  }

  #cv-content h3 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    color: #000;
    line-height: 18px;
    display: table;
    width: 100%;
    margin-bottom: 5px;
  }

  #cv-content p.h3 {
    font-weight: bold;
  }

  #cv-content .cvo-block {
    margin: 0;
    padding: 0;
    padding-right: 0;
    margin-right: 0;
  }

  .ctbx {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 15px;
  }

/* #cv-content span {
  display: inline-block;
  z-index: 9999;
  } */

  .ctbx {
    position: relative;
  }

  .ctbx:hover {
    box-shadow: 0 0 1px #999;
  }

  .ctbx:hover .fieldgroup_controls {
    display: block;
  }

  [cvo-form-field] {
    cursor: text;
  }

  #cvo-profile-avatar-wraper {
    width: 84%;
    padding: 0px;
    margin: 0px;
    height: 280px;
    margin-left: 20px ;
  }

  #cvo-profile-avatar-wraper .wimg {
    padding: 0;
    margin: 0;
    float: left;
    width: 290px;
    height: 280px;
    border: #fff solid 4px;
    border-radius: 5px;
  }

  #cvo-profile-avatar-wraper img {
    width: 290px;
    height: 280px;
    float: none;
    display: inline-block;
    border-radius: 5px;
  }

/*#inside {
  height: 50px;
  width: 50%;
  border-right: 10px solid #03c0b5;
  }*/

  #line-seperate {
    height: 25px;
  }

  .bar-exp div {
    float: left;
    height: 8px;
    background: #fff;
}

  .ctbx .skill-name {
    width: 100%;
    float: left;
    color: #fff;
  }

  .bar-exp {
    width: 100%;
    height: 8px;
    float: right;
    margin-top: 3px;
    margin-bottom: 0px;
    border: 1px solid #fff
  }

  .skill .ctbx {
    width: 90%;
    margin: 0;
    padding: 0;
    margin-top: 10px;
    padding-left: 10px;
  }

  .bar-value-exp {
    width: 50%
  }

  .bar-value-exp input[type="text"] {
    color: #000;
    width: 95%
  }

  .icoweb label {
    display: block;
  }

  .icoweb {
    line-height: 22px;
    float: left;
    padding-left: 5px;
  }

  .ic {
    float: left;
    width: 100%;
    margin-bottom: 8px
  }

  #form-cv .icf {
    float: left;
    line-height: 25px;
    height: 25px;
    margin-bottom: 0;
    font-size: 14px;
    width: 25px;
    text-align: center;
  }

  #form-cv .ic .icoweb {
    margin-bottom: 0;
        width: 78%;
        display: flex;
  }

  .ic .icoweb {
    float: left
  }

  .icf .fa {
    color: #009688;
    margin-top: 0;
    float: none
  }

  #prof .ic {
    padding: 0;
    margin: 0;
    margin-top: 3px;
    float: none;
    float: left;
	  max-width: 100%;
  }

  #form-cv .wfa {
    float: right;
    width: 25px;
    font-size: 14px;
    line-height: 25px;
    background: #fff;
    border: 2px solid #446600;
    border-radius: 20px;
    text-align: center;
    color: #446600
  }

  .sum {
    width: 100%;
    height: 30px;
  }

  #cv-content .head {
    width: 98%;
    height: 40px;
    line-height: 40px;
    float: right;
    padding-bottom: 10px;
    color: #009688;
    margin: 0;
    }
    #cv-content .head span{
background: #fff;
padding-right: 25px;
}
    .cum {
width: 100%;
height: 30px;
    }

    #cv-right h3 {
    color: #009688;
    width: 95%;
    height: 40px;
    line-height: 45px;
    float: left;
    text-align: center;
    background: #fff;

    }


    .funk {
      width: 100%;
      height: 30px;

    }
    #experience-table .ctbx{
padding-right: 10px;
clear: both;
padding-left: 10px;
padding-top: 10px;
    }
    #box01 #prof{
    padding-top: 10px;
    padding-bottom: 15px;
    width: 94%;
    /* margin-top: 15px; */
    float: left;
    }



    #cv-content #box01{
         width: 90%;
    margin: 0;
    padding: 0;
    margin-left: 10px;
    background-position: left top;
    float: left;
    }

    #cv-content .head .div-text{
      width: 90%;
      height: 40px;
      float: left;
      text-align: left;
      background: url(bg1.png)repeat-x;
      background-position: center;
    }
#cv-content .ir .cvo-block {
  margin-right: 0;
  padding-right: 0;
}

#cv-content .ir #block05 #experience-table{
	background: none;
	padding-right: 15px;
}
#footer{
display: none;
}
.ico-1,
.ico-2,
.ico-3,
.ico-4,
.ico-5  {
 width: 40px;
 height: 40px; 
 background: url(icon1.png)no-repeat;
 float: left;
 background-position: left center;
}
