#cv-top {
    background: url(hd3.png)no-repeat;
    background-position: left;
    background-size: 100% 100%;
}
.all {
    background: url(main3.png)no-repeat;
    background-size: 100% 100%;
}
.footer {
    background: url(ft3.png)no-repeat;
    background-size: 100% 100%;
}

#cv-top h1 span {
    padding-top: 24px;
    letter-spacing: 3px;
}

#cvo-profile-avatar-wraper {
    width: 300px;
    padding: 0;
    margin: 0;
    float: left;
    display: table;
    padding-top: 60px;
    padding-left: 85px;
    position: relative;
    top: 3px;
}

#cvo-profile .box-dm {
    float: left;
    width: 273px;
    height: 266px;
    padding: 0;
    margin: 0;
    display: table;
    background: url(fake3.png)no-repeat;
    background-size: 100% 100%;
    clear: both;
    z-index: 1;
    margin-top: -254px;
    margin-left: -25px;
    position: absolute;
    top: -999px;
}

#cvo-profile-avatar-wraper .wimg {
    width: 300px;
    height: 223px;
    float: left;
    display: unset !important;
}

.icf .fa {
    color: #375e97;
}
div#cv-boxtitle {
    color: #375e97;
}
#cvo-experience-blocktitle {
    color: #375e97;
}