.icright1 {
    width: 376px;
    height: 33px;
      float: left;
      background: url(tl_02_06.png);
      background-position: center;
      background-repeat: no-repeat;
    }
  .icright2 {
    width: 376px;
    height: 33px;
      float: left;
      background: url(tl_02_08.png);
      background-position: center;
      background-repeat: no-repeat;
  }
  .icright3 {
    width: 376px;
    height: 33px;
      float: left;
      background: url(tl_02_10.png);
      background-position: center;
      background-repeat: no-repeat;
  }
  .icright4 {
    width: 376px;
    height: 33px;
      float: left;
      background: url(tl_02_12.png);
      background-position: center;
      background-repeat: no-repeat;
  }
  .icright5 {
    width: 376px;
    height: 33px;
      float: left;
      background: url(tl_02_14.png);
      background-position: center;
      background-repeat: no-repeat;
  }

  .cumicc2 {
    width: 326px;
    height: 33px;
    float: left;
    background: url(tr_02_03.png);
    background-position: center;
    background-repeat: no-repeat;
}
.cumicc3 {
  width: 326px;
  height: 33px;
    float: left;
    background: url(tr_02_06.png);
    background-position: center;
    background-repeat: no-repeat;
}
.cumicc4 {
  width: 326px;
  height: 33px;
    float: left;
    background: url(tr_02_08.png);
    background-position: center;
    background-repeat: no-repeat;
}
.cumicc5 {
  width: 326px;
  height: 33px;
    float: left;
    background: url(tr_02_10.png);
    background-position: center;
    background-repeat: no-repeat;
}
.cumicc6 {
  width: 326px;
  height: 33px;
    float: left;
    background: url(tr_02_12.png);
    background-position: center;
    background-repeat: no-repeat;
}
.cumicc7 {
  width: 326px;
  height: 33px;
    float: left;
    background: url(tr_02_14.png);
    background-position: center;
    background-repeat: no-repeat;
}
.all{
    float: left;
    clear: both;
    width: 100%;
    background:url(main_02.png)no-repeat;
    background-size: 100% 100%;}
    #cv-top {
        width: 100%;
        height: 269px;
        background-image: url(hd_02.png);
    }

    #cv-main h1 {
        color: #00902e;
    }
    div#cv-boxtitle{
        color: #00902e;
    }
    #cv-content .head #cvo-experience-blocktitle{
        color: #00902e;
    }
    .bar-exp{
        border: 2px solid #00902e;
    }
    .bar-exp div{
        background: #00902e;
    }
    .footer{
        background: url(ft_02.png) no-repeat;
         background-size: 100% 100%;
    }

    .box-dm {
      background: url(a_02.png)no-repeat;
      background-size: 100% 100%;
  }