
#form-cv {
  font-family: "Roboto", sans-serif;
  width: 100%;
  float: left;
  position: relative;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  background-image: url(bluebright.png);
  background-size: auto;
  background-position: top right;
  background-repeat: no-repeat;
  background-color: #ffffff;
}
.footer {
  display: block;
  height: 50px;
  width: 94%;
  margin-left: 24px;
  background-image: url(bluefoot.png);
  background-position: bottom;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
