#cv-top {
      width: 100%;
      height: 452px;
      background-image: url(hd3.png);
      background-size: 100% 100%;
      background-repeat: no-repeat;
      position: relative;
      overflow: hidden;
    }
    #cv-top h2 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    width: 93%;
    font-weight: bold;
    font-size: 18px;
    color: #000;
    text-align: left;
    padding-top: 5px;
    float: left;
    padding-bottom: 5px;
    background-color: #ffaaa5;
}
#cvo-experience-blocktitle {
    font-size: 19px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000;
    text-align: center;
    float: left;
    background-color: #ffaaa5;
    border-radius: 0px 20px 20px 0;
    width: 80%;
    display: block !important;
}
#cv-content h3 {
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0px;
    padding: 0px;
    color: #000;
    float: right;
    padding-left: 68px;
    background: url(tron_3.png)no-repeat;
    background-position: left;
    width: 100%;
}
div#cv-boxtitle {
    font-size: 19px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    float: left;
    background-color: #ffaaa5;
    border-radius: 0px 20px 20px 0;
    width: 80%;
}
#cvo-profile .box-dm {
    width: 295px;
    height: 295px;
    padding: 0;
    margin: 0;
    float: left;
    display: table;
    background: url(3.png)no-repeat;
    background-size: 100% 100%;
    clear: both;
    z-index: 1;
    margin-top: -284px;
    margin-left: 23px;
    position: absolute;
    top: -900px;
}
.bar-exp div {
    float: left;
    height: 10px;
    background: #ffaaa5;
    margin-top: 0px;
    z-index: 2;
    position: relative;
}