#cv-top {
    background-image: url(hd2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.bar-exp div {
    background: #511313;
}
.box-dm{
    background: url(2.png)no-repeat;
    background-size: 100% 100%;
}