#cv-top {
    background: url(hd2-1.png)no-repeat;
    height: 440px;
}

.all {
    background: url(main2.png)no-repeat;
    background-size: 100% 100%;
}

.footer {
    background: url(ft2.png)no-repeat;
    background-size: 100% 100%;
}

.cum {
    background-color: #40745d;
}

.bar-exp div {
    background: #7eabc9;
}

#box03 div#cv-boxtitle,
#box05 div#cv-boxtitle {
    color: #40745d;
}

#cv-content .head #cvo-experience-blocktitle {
    color: #40745d;
}

.skic {
    background: url(icon2.png)no-repeat;
    background-position: center;
}

.cumicc5 {
    background: url(icon2.png)no-repeat;
    background-position: center;
}

.icright1 {
    background: url(icon2.png)no-repeat;
    background-position: right;
}

.icright5 {
    background: url(icon2.png)no-repeat;
    background-position: right;
}

.chu {
    background: url(name2.png);
}

#block01 .head {
    background: url(icon2.png) no-repeat;
    background-position: right;
}

#block05 .head {
    background: url(icon2.png) no-repeat;
    background-position: right;
}

#box03 .ski {
    background: url(icon2.png) no-repeat;
    background-position: left;
}

#box05 .cum {
    background: url(icon2.png) no-repeat;
    background-position: left;
}

#cv-right .ir #sortable #box07 {
    background-color: #40745d;
}