#cv-top {
    background: url(hd3-1.png)no-repeat;
    height: 440px;
}

.all {
    background: url(main3.png)no-repeat;
    background-size: 100% 100%;
}

.footer {
    background: url(ft3.png)no-repeat;
    background-size: 100% 100%;
}

.cum {
    background-color: #753e70;
}

.bar-exp div {
    background: #cb7b82;
}

#box03 div#cv-boxtitle,
#box05 div#cv-boxtitle {
    color: #9a5dbe;
}

#cv-content .head #cvo-experience-blocktitle {
    color: #9a5dbe;
}

.skic {
    background: url(icon3.png)no-repeat;
    background-position: center;
}

.cumicc5 {
    background: url(icon3.png)no-repeat;
    background-position: center;
}

.icright1 {
    background: url(icon3.png)no-repeat;
    background-position: right;
}

.icright5 {
    background: url(icon3.png)no-repeat;
    background-position: right;
}

.chu {
    background: url(name3.png);
}

#block01 .head {
    background: url(icon3.png) no-repeat;
    background-position: right;
}

#block05 .head {
    background: url(icon3.png) no-repeat;
    background-position: right;
}

#box03 .ski {
    background: url(icon3.png) no-repeat;
    background-position: left;
}

#box05 .cum {
    background: url(icon3.png) no-repeat;
    background-position: left;
}

#cv-right .ir #sortable #box07 {
    background-color: #753e70;
}