#form-cv{
	width: 100%;
	float: left;
	position: relative;
	font-size: 14px;
	line-height: 24px;
	color:#40536b;	
	background-color: #fcfcfc;
}
#form-cv p{
	margin-top: 0;
	margin-bottom: 8px
}
#sortable .cvo-block{
	margin-bottom: 10px;
	padding-bottom: 18px;
}

#sortable .icoweb i.fa{
	float: left;
}
#cv-main{
	display: table;
	width: 100%;
	background-color: #f6cf8b;
}
#cvo-profile{	
	display: block;
}
#cv-content{
	width: 49.99%;
	float: right;
	position: relative;	
	padding-top: 20px;	
	color: #3b3939;
	padding-right: 2%;

}
#cv-right{
	width: 46%;
	float: left;	
	position: relative;
	padding-left: 2%;
	color: #000;
}
#cv-right .ir{
	padding: 20px 10px 0px 10px;
}
p.skill-name input{
	color: #070000!important;
}

#cv-right .ctbx {
	padding: 0;
	margin:0;
	border:0;
}

#cv-top h1{
	font-size: 40px;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 0px;    
    margin-left: 0px;
    color: #000;
    font-weight: bold;
    margin-top: 0;
    padding-top: 10px;
    letter-spacing: 4px;
    padding-bottom: 10px;
}

#box-hvt{
	display: inline-block;	

}
#cv-right .box-contact{
	display: none;
}
.box-info{
    float: right;
    width: 60%;
    margin: 0px;
    padding: 10px 22px 30px 0px;
    color: #fff;
}

.box-info p{
	width: 80%;
	margin-right: 2.5%;
	padding: 2px;
	font-weight: bold;
	border-bottom: solid 1px #fff;
}
.box-info .fa{
	padding-right: 7px;
}

.box-info p.cvi-envelope-square,
.box-info p.cvi-map-marker{
	margin-bottom: 3px;
}

.box-info p span{
	width: 345px;
}

#cv-top h1 span{	
}

#cv-top h2{
	font-size: 18px;
    margin-bottom: 0;
    color: #000;
    margin: 0px;
    font-weight: bold;
    letter-spacing: 5px;
    border-bottom: solid 1px #000;
    padding-bottom: 5px;
}

.box-01 p{		
    overflow: hidden;
}

#cv-content .ir{
	margin:0 15px;
	color: #000000;
}
#cv-content p{
	margin-bottom: 5px;
	font-weight: bold;
	float: left;
}
#cv-content .ir a{
	color: #2ebb2f
}
#cv-right h3, #cv-content .head{
	font-size: 18px;    
    margin-top: 0;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #303030;
    line-height: 22px;
    border-top: solid 1px #000;
    border-bottom: solid 1px #000;
    background-image: url(icon.png);
    background-repeat: no-repeat;
    background-position: center left;
    float: right;
    padding-left: 45px;
}

#cv-content .head{
	height: 30px;
	line-height: 30px;
	width: 85%;
}


#cv-right h3{
	padding-top: 5px;
	padding-bottom: 5px;
	width: 85%;
}
#cv-right .h3{
	height: 45px;
	text-align: center;
	width: 100%;
}

#cv-right .h3 span{
	margin: 3px 0px;
	color: #000000;
	line-height: 43px;
}
#cv-content h3{	
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 0px;
	float: left;
	width: 100%;
}
#experience-table{
	float: left;
	width: 95%;
}
#cv-content .cvo-block {    
	padding-top: 0px;
	float: left;
	width: 100%;
	padding-bottom: 10px;
}
.exp-content{
	float: left;
	width: 100%;
}
.ctbx{
	padding-left: 10px;
	padding-right: 10px;
    float: left;
}

#cv-content span{
	display: inline-block;	
	z-index: 9999;
}

#cv-right .h3:first-child{
	margin-top: 0
}
.ctbx{
	margin-bottom: 10px;
	position: relative;
}
.ctbx .r5 .h3{
	text-transform: uppercase;
}
.ctbx:hover {
	box-shadow: 0 0 1px #999;
}
.ctbx:hover .fieldgroup_controls{
	display: block;
}
[cvo-form-field] {
    cursor: text;
}
#box-hvt{
    float: left;
    width: 100%;
    text-align: center;
    padding-top: 20px;
}
#cvo-profile-avatar-wraper{
    float: left;   
    width: 34%;
}
#cvo-profile-avatar-wraper .wimg{
	width:175px;    	
	margin:auto;
    position: relative;
    margin-bottom: -70px;
    z-index: 1;
    border: solid 5px #737373;
    border-radius: 4px;
}
.box-01{
	float: left;
	width: 100%;
	padding-top: 15px;
	    background: url(hd.png) top center no-repeat;
    background-size: 100% auto;
    background-color: #f6cf8b;
}

#cvo-profile-avatar-wraper img{
	width: 175px;  	
  	height: 175px;
  	float:none;  
  	display: inline-block;
}
#line-seperate {
    height: 25px;    
}
.bar-exp div {
    float: left;
    height: 8px;
    background: #5e5e5e;
    
}
.bar-exp {
  	width: 100%;
  	background: #e9b758;
  	height: 8px;
  	float: right;
  	margin-bottom: 12px;
}      
.icoweb label{
	display: block;
	color:#627e88;
}
#cv-right .icoweb span{
	color: #070000;
	width: 270px;
}
.icoweb{	
	float: left;
	padding-left: 2px;
	margin-bottom: 0
}
.ic{
	float: left;width: 100%;
	margin-bottom: 8px;
	line-height: 22px;
}
#form-cv .icf{
	float: left;		
	line-height: 22px;
	margin-bottom: 0;
	font-size:12px;
	border-radius: 5px;
	background: #40536b;
	width: 22px;	
	text-align: center;
}
#form-cv .ic .icoweb{
	float: left;
	margin-bottom: 0;
	padding-left: 5px;
	width: 90%;
}
.icf .fa{
	font-size: 12px;	
	color:#fafafa;	
	margin-top: 0;	
	float: none
}

.bar-value-exp input[type="text"]{
	color: #000;
}

#cv-content h3 .exp-date, #cv-content h3 .exp-title {
    float: left;
    width: 100%;
}

#cv-content .exp-date {
	font-size: 13px;
}