#form-cv{
	width: 100%;	
	float: left;
	position: relative;
	font-size: 14px;
	line-height: 24px;
	color:#000000;	
	background:#fafafa;
}
#sortable .cvo-block{
	margin-bottom: 20px;
	margin-top: 8px;	
}
#form-cv p {
    margin-top: 0;
    margin-bottom: 6px;
}
#cvo-profile{	
	display: block;
}
#cv-content{	
	position: relative;	
	padding:0 40px;
}
#cv-main{
	padding: 30px;
	position: relative;			
}
#cv-right .ir{
	padding: 0px 10px 0px 10px;
}
p.skill-name input{
	color: #fff!important;
}

#cv-right .ctbx {
	padding: 0;
	margin:0;
	border:0;
}

#cv-top h1{
	font-size: 32px;    
    line-height: normal;
    text-transform: capitalize;    
    margin-bottom: 5px;    
    margin-top: 0;
    color: #a7633c;    
    font-weight: bold;
	
}
#box-hvt{
	float: left;
	width: 70%;	
	padding-top: 10px
}

#cv-top h1 span{
	
}
#cv-right #prof{
	width: 100%;
	float: left
}
#box01  ul{
	list-style: none;
	padding-left: 20px
}
#cv-right .cvo-block .head div{
	color:#fff;
}
#box01  ul li{
	width: 50%;
	float: left
}
#cv-top h2{
	font-size: 16px;    
    color: #353434;
    font-weight: normal;
    text-transform: uppercase;
    font-style: italic;
    margin-bottom: 10px;
    margin-top: 0;
}

#cv-content p{
	margin-bottom: 5px
}
#cv-content .ir a{
	color: #2ebb2f
}
#cv-right h3, #cv-content .head{
	font-size: 18px;    
    color: #fff;        
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;        
    margin: 0 auto 15px;    
    line-height: 24px;
    background: url(linea7633c.png) left center repeat-x
}

#cv-right h3 div, #cv-content .head div{
	background: #a7633c;
	padding: 3px 10px;
	width: 225px;
	margin:auto;
	color:#fff;
	border-radius: 10px;
}

#cv-content h3{	
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    color:#a7633c;
    margin-bottom: 5px
}
#cv-content p.h3{
	color:#a7633c;
	text-transform: uppercase
}
#cv-content .cvo-block {    
}
.ctbx{
	padding-left: 10px;
	padding-right: 10px
}

#cv-content span{
	display: inline-block;	
	z-index: 9999;
}
.ctbx{
	margin-bottom: 20px;
	position: relative;
}
.ctbx:hover {
	box-shadow: 0 0 1px #999;
}
.ctbx:hover .fieldgroup_controls{
	display: block;
}
[cvo-form-field] {
    cursor: text;
}
#cvo-profile-avatar-wraper{
	float: left;
	width: 30%;
	padding-top: 10px
}

#cvo-profile-avatar-wraper .wimg{	    
    float: none;
    width:170px;
    margin: auto;
}
#cvo-profile-avatar-wraper img{
	width: 170px;  	
  	height: 170px;
  	float:none;  
  	display: inline-block;
}
#line-seperate {
    height: 25px;    
}
.bar-exp div {
    float: left;
    height: 10px;
    background: #a7633c;    
}
.ctbx .skill-name{
	width: 50%;
	float: left;	
}
.bar-exp {
  	width: 50%;
  	background: #cecece;
  	height: 10px;
  	float: right;
  	margin-top: 8px;
  	margin-bottom: 0px;
}      
.bar-value-exp{
	width: 50%
}
.bar-value-exp input[type="text"]{
	color:#000;
	width: 95%
}
.icoweb label{
	display: block;
}
.ic .icoweb{
	height: 24px;
	line-height: 24px;
	float: left;
	padding-left: 5px;
	margin-bottom: 0
}
.ic{
	float: left;width: 50%;
	padding-bottom: 5px
}
#form-cv .icf{
	float: left;	
	border-radius: 20px;
	line-height: 22px;
	margin-bottom: 0;
	width: 22px;	
	font-size: 12px;
	border:1px solid #a7633c;
	text-align: center;
}
.icf .fa{
	font-size: 12px;	
	color:#a7633c;	
	margin-top: 0;	
	float: none
}