#form-cv{
	width: 97.5%;
	float: left;
	position: relative;
	font-size: 14px;
	line-height: 24px;
	color:#070000;	
	background:#fff;
	padding: 10px;
	border:solid 1px #00cc66;
}

#cv-content .head span,
#cv-right .cvo-block #cv-boxtitle{	
	color: #00cc66	
}

#cv-content .cvo-block {    
	border-top: solid 1px #00cc66;
}

.jobname{
	background: #00cc66;
}

#cvo-profile-avatar-wraper img{
  	box-shadow: -12px -12px #00cc66;
    -moz-box-shadow: -12px -12px #00cc66;
    -webkit-box-shadow: -12px -12px #00cc66;
    -o-box-shadow: -12px -12px #00cc66;
    -ms-box-shadow: -12px -12px #00cc66;    
    
}

.bar-exp div {
    background: #00cc66;  
}