#form-cv{
    outline: 1px solid #660066;
}
#cv-top{
    background: #660066
}
#cv-right .box-title, #cv-content .head{
    color:#660066;
}
#form-cv .wfa{
    color:#660066;
    border:2px solid #660066;
}
#cv-content h3{
    color:#660066;
}
#cv-main, #cv-content{
    background: url(660066.png) 190px top repeat-y;
}