
.icf .fa {
  font-size: 20px;
  color: #00a563;
  margin-top: 0;
  float: none
}
#cv-content h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
  color: #00a563;
}
#cv-top {
  width: 100%;
  height: 350px;
  background-image: url(headerx.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  position: relative;
}
.bar-exp div {
  float: left;
  height: 10px;
  background: #00a563;
  margin-top: 0px;
  border-radius: 5px;
}
.footer {
  display: block;
  height: 133px;
  width: 100%;
  background:url("footerx.png");
  background-repeat: no-repeat;
  background-size: 100% auto
}
#cv-content .head {
  width: 70%;
  height: 30px;
  margin: 0;
  padding: 0;
  background: url("iconx.png");
  background-repeat: no-repeat;
/*  border: 2px solid #d45e77;*/
/*  border-radius: 15px;*/
/*  background: #d45e77;*/
  text-align: center;
/*  float: right;*/
  line-height: 33px;
}
#cv-right h3 {
  width: 80%;
  height: 30px;
  margin: 0;
  padding: 0;
  text-align: center;
  background: url("iconx.png");
  background-repeat: no-repeat;;
  /*background-size: 100% auto;*/
  float: left;
/*  background: #d45e77;*/
  line-height: 33px;
}
