#cv-top{
	background: url("bg_top2.png") left top no-repeat;
}

#bg-footer {
	background: url("bg_bot2.png") right bottom no-repeat;
}
.icf .fa{
	color:#9e0b0f;
}
.bar-exp div{
	background: #9e0b0f;
}