#form-cv {
    width: 100%;
    float: left;
    position: relative;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    outline: 1px solid #e1e1e1;
    background: #fbf8f4;
}

#form-cv p {
    margin-top: 0;
    margin-bottom: 6px
}

#sortable .cvo-block {
    margin-bottom: 20px;
    margin-top: 15px;
    padding: 0 10px;
}

#cvo-profile {
    display: block;
}

#cv-content {
    width: 50%;
    float: right;
    position: relative;
    padding: 25px 0;
    text-align: justify;
}

#cv-content .ir {
    width: 319px;
    margin: auto;
}

#cv-main {
    padding: 0;
    position: relative;
    float: left;
    width: 49.99%;
    padding-top: 22px;
    text-align: justify;
}

#cv-right .ir {
    padding-left: 30px;
}

p.skill-name input {
    color: #fff!important;
}

#cv-right .ctbx {
    padding: 0;
    margin: 0;
    border: 0;
}

#cv-top {
    width: 100%;
    height: 235px;
    float: left;
    padding-top: 25px;
    background-image: url(header.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    clear: both;
}

#cv-top h1 {
    font-size: 30px;
    line-height: normal;
    color: #fff;
    margin-bottom: 10px;
    margin-top: 20px;
    font-weight: bold
}

#box-hvt {
    width: 322px;
    float: right;
    padding: 0 0 0 5px;
    background: #f3e484;
}

#cv-right .cvo-block .head div {
    color: #fff;
}

#cv-top h2 {
    font-size: 16px;
    color: #fff;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0
}

.box-01 p {
    overflow: hidden;
}

#cv-content p {
    margin-bottom: 5px
}

#cv-content .ir a {
    color: #2ebb2f
}

#cv-right h3,
#cv-content .head {
    font-size: 18px;
    color: #6d4712;
    font-weight: bold;
    margin: 0px auto 10px;
    line-height: 36px;
    border: 1px solid #9b731f;
    padding: 0 0 0 6px;
    border-radius: 5px;
}

#cv-content .exp-title {
    float: left;
    width: 70%;
}

#cv-content .exp-date {
    float: right;
    width: 29.99%;
    text-align: right;
}

#cv-content h3 {
    font-size: 14px;
    font-weight: bold;
    color: #000;
    margin-bottom: 10px;
    margin-top: 0;
}

#cv-content p.h3 {}

#cv-content .cvo-block {}

#cv-content span {
    display: inline-block;
    z-index: 9999;
}

.ctbx {
    padding-bottom: 15px;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    padding-top: 10px;
}

.ctbx:hover {
    box-shadow: 0 0 1px #999;
}

.ctbx:hover .fieldgroup_controls {
    display: block;
}

[cvo-form-field] {
    cursor: text;
}

#cvo-profile-avatar-wraper .wimg {
    margin: auto;
    width: 220px;
    border: solid 4px #fff
}

#cvo-profile-avatar-wraper img {
    width: 220px;
    height: 220px;
    float: none;
    display: inline-block;
}

#line-seperate {
    height: 25px;
}

.bar-exp div {
    float: left;
    height: 8px;
    background: #af8725;
}

.ctbx .skill-name {}

.bar-exp {
    border: 1px solid #cea52d;
    border-radius: 3px;
    background: #ffffff;
    height: 8px;
    margin-top: 0;
    padding: 1px;
    width: 99%;
    margin-bottom: 12px;
}

.bar-value-exp {
    width: 100%
}

.bar-value-exp input[type="text"] {
    color: #000;
    width: 95%
}

.icoweb label {
    display: block;
}

#sortable .icoweb {
    border-bottom: 1px solid #b4b4b4;
}

.ic .icoweb {
    width: 85%;
    text-align: left;
    padding-left: 5px;
    float: left;
}

.ic {
    width: 100%;
    float: left;
}

#page-cv #cv-content span {
    width: 100%;
}

#prof [contentEditable=true] {
    width: 100%;
    float: left;
}

#prof .icoweb,
#prof .icoweb span {
    height: auto;
}

#form-cv .icf {
    float: left;
    line-height: 24px;
    font-size: 12px;
    margin-bottom: 0;
    background: #cea52d;
    border-radius: 4px;
    width: 24px;
    margin-top: 6px;
    text-align: center;
}

.icf .fa {
    font-size: 14px;
    color: #fff;
    font-weight: normal;
    margin-top: 0;
    float: none
}

#cv-content .head {
    /* display: table; */
    width: 100%;
    display: flex;
}

#cv-content .head .wfa {
    float: left;
    width: 8%;
    font-size: 20px;
    line-height: 36px;
    background: #263238;
    border-radius: 20px;
    text-align: center;
    color: #fff;
}

#cvo-experience-blocktitle {
    font-family: "Roboto";
    color: rgb(109, 71, 18);
    text-align: left;
}

#cvo-profile-avatar-wraper {
    width: 219px;
    height: 220px;
    float: right;
    padding-right: 16px;
}

#box-hvt h1,
#box-hvt h2 {
    color: #6d4712;
}

#box-hvt h1 {
    font-size: 27px;
    font-family: "Roboto";
    color: rgb(109, 71, 18);
    font-weight: bold;
    text-transform: uppercase;
}

#box-hvt h2 {
    font-size: 16px;
    font-family: "Roboto";
    color: rgb(109, 71, 18);
    display: -webkit-box;
}

#box-hvt h1 span,
#box-hvt h2 span {
    width: 315px;
}

#box-hvt h2 #cv-profile-job {
    font-weight: bold;
}

.icoweb span {
    font-size: 14px;
    font-family: "Roboto";
    color: rgb(90, 90, 90);
    text-align: left
}

.ft {
    width: 100%;
    float: left;
}

.watermark {
    float: left;
    width: 100%;
    height: 22px;
    color: #999;
    text-align: right;
    padding-right: 22px;
    font-size: 15px;
    font-family: Courier;
}