  .avt {
    width: 100%;
    padding: 0;
    margin: 0;
    background: url(hd2.png)no-repeat;
    background-size: 100% 100%;
  }
  
    .cum {
      width: 100%;
      height: 36px;
      text-align: left;
      background: url(tit2.png)no-repeat;
      background-size: 100% 100%;
    }
        .funk {
      width: 100%;
      height: 40px;
      text-align: left;
      background: url(tit2.png)no-repeat;
      background-size: 100% 100%;
    }
        #box01 #prof{
    margin-left: 10px;
    padding-top: 70px;
    padding-bottom: 15px;
    width: 94%;
    float: left;
    background: url(bg2.png)no-repeat;
    background-position: top right;
    }
    #cv-main {
margin: 0;
    padding: 0;
    width: 46%;
    text-align: justify;
    float: left;
    position: relative;
    /* padding-left: 20px; */
    border-right: 10px solid #00a651;
}
#box-hvt h1 {
  margin: 0;
  padding: 0;
  font-size: 32px;
  line-height: 32px;
  text-transform: uppercase;
  color: #00a651;
  text-align: center;
  font-weight: bold;
}
  #box-hvt h2 {
    padding: 0;
    margin: 0;
    font-size: 16px;
    color: #00a651;
    line-height: 24px;
    text-transform: uppercase;
    margin-top: 15px;
    text-align: center;
    padding-right: 6px;
    padding-bottom: 2px;
  }
    #cv-content h3 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    color: #00a651;
    line-height: 18px;
    display: table;
    width: 100%;
    margin-bottom: 5px;
    margin-top: 10px;
  }
    #cvo-profile-avatar-wraper .wimg {
    padding: 0;
    margin: 0;
    float: left;
    width: 165px;
    height: 165px;
    border: #00a651 solid 4px;
  }
    .bar-exp div {
    float: left;
    height: 8px;
    background: #00a651;
}
  .icf .fa {
    color: #00a651;
    margin-top: 0;
    float: none
  }
    #cv-content .head {
    width: 99%;
    height: 35px;
    line-height: 40px;
    background-position: left center;
    float: right;
    color: #00a651;
    margin-bottom: 20px;
    position: relative;
    border-bottom: 4px solid #00a651;
    }

    .cum {
      width: 100%;
      height: 36px;
      text-align: left;
      background: url(tit2.png)no-repeat;
      background-size: 100% 100%;
    }

    #cv-right h3 {
      color: #00a651;
      width: 100%;
      height: 40px;
      line-height: 45px;
      float: left;
      text-align: center;
    }
    .ico-1{
  float: left;
  height: 40px;
  width: 30px;
  background: url(icon1_b.png)no-repeat;
  background-position:left center;
}

.ico-2 {
  float: left;
  height: 40px;
  width: 30px;
  background: url(icon2_b.png)no-repeat;
  background-position:left center;
}
.ico-3 {
  float: left;
  height: 40px;
  width: 30px;
  background: url(icon3_b.png)no-repeat;
  background-position:left center;
}
.ico-4 {
  float: left;
  height: 40px;
  width: 30px;
  background: url(icon4_b.png)no-repeat;
  background-position:left center;
}
.ico-5 {
  float: left;
  height: 40px;
  width: 30px;
  background: url(icon5_b.png)no-repeat;
  background-position:left center;
}