#form-cv h1 {font-size: 38px;}

#cv-content .exp-title,
#form-cv h2 {font-size: 16px;}

#cv-content .head { font-size: 24px;}
#cv-right .h3 { font-size: 22px;}
#cv-content span.exp-date {font-size: 13px;}
#cv-content .exp-title {font-size: 16px;}

#cv-content .exp-subtitle,
#cv-content .exp-content,
#form-cv {font-size: 14px;}