#form-cv{
	width: 100%;	
	float: left;
	position: relative;
	font-size: 14px;
	line-height: 24px;
	color:#000000;	
	background: #fcf8e0	
}
#form-cv p{
	margin-top: 0;
	margin-bottom: 6px
}
#sortable .cvo-block{
	margin-bottom: 20px;
	margin-top: 8px;	
	padding:0 10px;
}
#cvo-profile{	
	display: block;
}
#cv-content{
	width: 60%;	
	float: left;	
	position: relative;	
	padding: 10px 0;
}
#cv-content .ir{
	padding:0 10px	
}
#cv-main{
	padding:0;
	position: relative;			
	float: right;	
	background: #414142;
	color:#fff;
	width: 39.99%
}
#cv-right .ir{
	padding: 0;
}
p.skill-name input{
	color: #fff!important;
}
#sortable .box-contact{
	background: #514f50;
	padding:10px;
	margin:0;
}
#cv-right .ctbx {
	padding: 0;
	margin:0;
	border:0;
}

#cv-top{	
	padding:25px 0;	
}
#box-hvt h1{
	font-size: 30px;    
    line-height: normal;    
    color: #fff;
    text-transform: uppercase;        
    margin-bottom: 8px;
    margin-top: 0px;
    font-weight: bold    
	
}
#box-hvt{	
	text-align: right;
	background: #7c7a79;
	border-bottom: 4px solid #414142;
	padding:20px;
}

#cv-right .cvo-block .head div{
	color:#fff;
}
#form-cv #box-hvt h2{
	font-size: 16px;    
	font-weight: normal;
    color: #fff;            
    margin:0;
}

#cv-content p{
	margin-bottom: 5px
}
#cv-content .ir a{
	color: #2ebb2f
}
#cv-right h3, #cv-content .head{
	font-size: 18px;            
	text-transform: uppercase;
    color:#494949;
    font-weight: bold;        
    margin: 0px auto 10px;        
} 
#cv-content .head{
	background: url('line49.png') left center repeat-x
}
#cv-content .head span{
	background: #fcf8e0;
	border-right: 5px solid #fcf8e0;
}
#cv-content .exp-title{
	float: left;
	width: 70%;
}
#cv-content .exp-date{
	float: right;
	width: 29.99%;
	font-weight: normal;
	text-align: right;
}
#cv-content h3{	
    font-size: 14px;
    font-weight: bold;
    color:#494949;
    margin-bottom: 10px;
    margin-top: 0;    
    display: table;
    width: 100%;
}
#cv-content p.h3{

}
#cv-content .cvo-block {    
}
.ctbx{
	padding-left: 10px;
	padding-right: 10px
}

#cv-content span{
	display: inline-block;	
	z-index: 9999;
}

.ctbx{
	margin-bottom: 20px;
	padding-left: 0;
	padding-right: 0;
	position: relative;
}
.ctbx:hover {
	box-shadow: 0 0 1px #999;
}
.ctbx:hover .fieldgroup_controls{
	display: block;
}
[cvo-form-field] {
    cursor: text;
}

#cvo-profile-avatar-wraper .wimg{    
    margin:auto;
    width: 160px;       
}
#cvo-profile-avatar-wraper img{
	width: 160px;  	
  	height: 160px;
  	float:none;  
  	display: inline-block;
}
#line-seperate {
    height: 25px;    
}
.bar-exp div {
    float: left;
    height: 8px;
    background: #7c7a79;
}
.ctbx .skill-name{
	
}
.bar-exp {  	
  	background: #fff;
  	height: 8px;  	
  	margin-top: 0;  	
  	padding:1px;
  	width: 99%;
  	margin-bottom: 12px;
}      
.bar-value-exp{
	width: 100%
}
.bar-value-exp input[type="text"]{
	color:#fff;
	width: 95%
}
.icoweb label{
	display: block;
}
#sortable .icoweb{
	height: 30px;	
	float: left;
	padding-left: 8px;
	margin-bottom: 0
}
.ic{
	float: left;width: 100%
}
#form-cv .icf{
	float: left;		
	line-height: 22px;
	font-size: 12px;
	margin-bottom: 0;
	background: #7c7a79;
	border-radius:20px;
	width: 22px;	
	text-align: center;	
}
.ic .icoweb{
	float: left	
}
.icf .fa{
	font-size: 12px;	
	color:#fff;	
	font-weight: normal;
	margin-top: 0;	
	float: none
}
#cv-content .head{
	display: table;
	width: 100%
}
#cv-content .head .wfa{
    float: left;
    width: 36px;
    font-size: 20px;
    line-height: 36px;
    background: #263238;
    border-radius: 20px;
    text-align: center;    
    color:#fff;    
}
#cv-right h3{	
	color:#fff;
}