#cv-main {
    text-align: justify;
    margin: 0;
    padding: 0;
    position: relative;
    float: left;
    width: 44.6%;
    padding-top: 10px;
    border-right: 3px solid #42c15f;
}

#cv-top h1 {
    font-size: 28px;
    font-family: "Roboto";
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 0;
    color: #42c15f;
    font-weight: bold;
    text-align: left;
    margin-left: 10px;
}

#cv-top h2 {
    text-transform: uppercase;
    width: 100%;
    font-size: 14px;
    font-family: "Roboto";
    color: #42c15f;
    text-align: left;
    margin: 0;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 0;
    margin-left: 10px;
}

.all {
    margin-left: 10px;
    border: 4px solid #42c15f;
    margin-right: 10px;
}

#cvo-profile-avatar-wraper .wimg {
    width: 165px;
    height: 175px;
    padding: 0px;
    margin: 0px;
    margin-top: 0px;
    border: 5px solid #42c15f;
    border-radius: 10px;
}

.bar-exp div {
    float: left;
    height: 10px;
    background: #42c15f;
    margin-top: 0px;
}

.icf .fa {
    font-size: 20px;
    color: #42c15f;
    margin-top: 0;
    float: none;
}

#cv-content .head {
    height: 35px;
    width: 100%;
    line-height: 35px;
    border-bottom: 3px solid #42c15f;
    border-top: 3px solid #42c15f;
    margin-bottom: 10px;
}

#cv-right h3 {
    width: 100%;
    height: 30px;
    margin: 0;
    color: #42c15f;
    padding: 0;
    float: left;
    line-height: 30px;
    text-align: center;
    background: #b82731;
}

#cv-content .head #cvo-experience-blocktitle {
    color: #42c15f;
    padding-left: 10px;
}

div#cv-boxtitle {
    font-size: 19px;
    font-weight: bold;
    text-transform: uppercase;
    color: #42c15f;
}

.cumicc1 {
    width: 50px;
    height: 50px;
    float: left;
    background: url(icon1_c.png);
    background-position: center left;
    background-repeat: no-repeat;
    margin-right: 5px;
    margin-left: 5px;
}

.cumic2 {
    width: 50px;
    height: 50px;
    float: left;
    background: url(icon2_c.png);
    background-position: center left;
    background-repeat: no-repeat;

}

.cumicc3 {
    width: 50px;
    height: 50px;
    float: left;
    background: url(icon3_c.png);
    background-position: center left;
    background-repeat: no-repeat;
    margin-right: 5px;
    margin-left: 5px;
}

.cumic4 {
    width: 50px;
    height: 50px;
    float: left;
    background: url(icon4_c.png);
    background-position: center left;
    background-repeat: no-repeat;
    margin-right: 5px;
    margin-left: 5px;
}

.cumic5 {
    width: 50px;
    height: 50px;
    float: left;
    background: url(icon5_c.png);
    background-position: center left;
    background-repeat: no-repeat;
    margin-right: 5px;
    margin-left: 5px;
}

.cumic6 {
    width: 50px;
    height: 50px;
    float: left;
    background: url(icon6_c.png);
    background-position: center left;
    background-repeat: no-repeat;
    margin-right: 5px;
    margin-left: 5px;
}

.cumic7 {
    width: 50px;
    height: 50px;
    float: left;
    background: url(icon7_c.png);
    background-position: center left;
    background-repeat: no-repeat;
    margin-right: 5px;
    margin-left: 5px;
}

.icright1 {
    width: 60px;
    height: 30px;
    float: right;
    background: url(icon8_c.png);
    background-position: center right;
    background-repeat: no-repeat;
    margin-right: 10px;
}

.icright2 {
    width: 60px;
    height: 35px;
    float: right;
    background: url(icon9_c.png);
    background-position: center right;
    background-repeat: no-repeat;
    margin-right: 10px;
}

.icright3 {
    width: 60px;
    height: 35px;
    float: right;
    background: url(icon10_c.png);
    background-position: center right;
    background-repeat: no-repeat;
    margin-right: 10px;
}

.icright4 {
    width: 60px;
    height: 35px;
    float: right;
    background: url(icon11_c.png);
    background-position: center right;
    background-repeat: no-repeat;
    margin-right: 10px;
}

.icright5 {
    width: 60px;
    height: 35px;
    float: right;
    background: url(icon12_c.png);
    background-position: center right;
    background-repeat: no-repeat;
    margin-right: 10px;
}

#cv-top {
    width: 100%;
    height: 285px;
    background-image: url(hd3.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}
