#cv-top {
    background-image: url(hd_02.png);
    background-size: 100% 100%;
}
.all{
  background: url(main_02.png)no-repeat;
  background-size: 100% 100%;
  
}
#cvo-profile .box-dm{
    background: url(a_02.png)no-repeat;
    background-size: 100% 100%;
}
.bar-exp div{
    background: #31fad7;
}