#form-cv {
  font-family: "Roboto", sans-serif;
  width: 100%;
  float: left;
  position: relative;
  font-size: 14px;
  line-height: 24px;
  color: #000;
}

.cv_page {
  float: left;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: var(--page);
  background-position: left bottom;
  background-size: 100% 100%;
}

#sortable .cvo-block .box-content {
  float: left;
  margin: 0;
  width: 100%;
  color: #000;
  padding: 0;
  text-align: justify;
  margin-top: 0 !important;
}


#box02 .box-content div {
  background: unset;
  padding-left: 0;
}

.exp.content-edit.skill {
  float: left;
}


#cvo-profile {
  display: block;
}

#cv-content {
  width: 55%;
  text-align: justify;
  float: left;
  position: relative;
  z-index: 2;
  margin: 0;
  padding-top: 6px;
  padding-left: 16px;
  padding-right: 17px;
  padding-bottom: 30px;
  background: var(--content);
  background-position: 7px top;
  background-size: 98% 100%;
}

#blocktitle {
  width: 100%;
  float: left;
  text-align: left;
}

#cv-profile-sex:before {
  color: #fff;
}

#cv-profile-birthday:before {
  color: #fff;
}

#cv-main {
  text-align: justify;
  margin: 0;
  padding: 0;
  float: left;
  width: 43%;
  padding-right: 10px;
  margin-top: -1px;
  background: var(--main);
  background-position: left top;
  background-size: 326px 100%;
}

.ct_box {
  width: 100%;
  float: left;
  padding-bottom: 15px;
}

#box07 .ct_box {
  border-bottom: unset;
}

#box02 .ct_box {
  border-bottom: unset;
  padding-bottom: 0px;
}

.chu {
  float: left;
  width: 100%;
}

.anh {
  float: left;
  width: 42%;
  height: 290px;
  position: relative;
}

#cv-right .ir {
  padding: 0;
  margin: 0;
  width: 100%;
}

#cv-main #cv-right {
  padding: 0;
  margin: 0;
  float: left;
  width: 100%;
}

#cv-main #cv-right .ir #sortable {
  padding: 0;
  margin: 0;
  width: 100%;
}

#cv-right .ir #sortable .block {
  margin-top: 0px !important;
  padding: 0px 13px 0px 9px;
  float: left;
  width: 100%;
  margin-bottom: 5px;
}



#cv-right .ir #sortable #box02 {
  width: 100%;
  padding: 0;
  padding-bottom: 25px;
  margin-bottom: 0;
  background: var(--page);
  background-position: left bottom;
  background-size: 100% 100%;
}

.ct_bo {
  float: left;
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
}

#box02 .ct_bo {
  padding-right: 0;
  padding-left: 0;
  padding: 0px 25px 55px 20px;
  background: var(--muctieu);
  background-position: left bottom, left top;
  background-size: 100% 130px, 100% 100%;
}

p.skill-name input {
  color: #fff !important;
}

#cv-right #box03 .ctbx {
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  float: left;
}

#cv-content #box01 {
  padding: 0;
  margin: 0;
}

#box03 .exp {
  float: left;
  width: 100%;
  padding-bottom: 8px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

#cv-top {
  width: 100%;
  float: left;
  padding-left: 18px;
  background: var(--top), var(--bg);
  background-position: 10px top;
}

.all {
  float: left;
  clear: both;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  padding-top: 0px !important;
  flex-direction: row;
  padding-left: 10px;
}

#cv-top h1 {
  padding: 0;
  margin: 0;
  font-size: 28px;
  font-family: "Roboto";
  text-transform: uppercase;
  margin-bottom: 0;
  color: #000;
  font-weight: bold;
  width: 100%;
  float: left;
  position: relative;
  line-height: 45px;
  padding-left: 15px;
  padding-top: 3px;
  padding-right: 15px;
  border: solid 2px #565354;
  border-radius: 10px;
}

#cv-top h1 div {
  /* ; */
  width: 100%;
  line-height: 45px;
  text-align: center;
}

div#box01 {
  float: left;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 13px;
  padding-top: 15px;
  background: var(--tt);
  background-position: left top, left bottom, left top;
  background-size: 100% 30px, 100% 26px, 100% 100%;
}

#box-hvt {
  float: left;
  width: 58%;
  padding: 0;
  margin: 0;
  padding-left: 2px;
  padding-right: 15px;
}

#cv-right .cvo-block .head div {
  color: #fff;
}

.innertext {
  margin: 0px;
  padding: 0px;
  width: 29%;
  float: left;
  color: white;
}

#cv-profile-fullname::before {
  color: #000;
}

#cv-top h2 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  width: 100%;
  font-size: 17px;
  float: left;
  font-weight: bold;
  position: relative;
  padding: 5px 20px 5px 20px;
  color: var(--color-j);
  background: var(--ngang);
  background-position: left center;
  background-size: 100% 2px;
  display: flex;
  justify-content: center;
}

#cv-profile-job {
  float: left;
  width: max-content;
  max-width: 350px;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  background-color: var(--color);
}

.box-01 p {
  overflow: hidden;
}

#cv-content p {
  margin-bottom: 5px
}

#cv-content .ir a {
  color: #2ebb2f
}

#cv-content h3 {
  float: left;
  width: 100%;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  margin: 0px;
  padding: 0px;
  color: #000;
  display: flex;
  flex-direction: column;
}

#cv-content #block04 h3 {
  display: flex;
  flex-direction: column;
  padding-right: 15px;
}


#cv-content #block02 h3 {
  display: flex;
  flex-direction: row;
}

#cv-content #block03 h3 {
  font-weight: unset;
  float: left;
}

#cv-content p.h3 {
  float: left;
  width: 100%;
  margin: 0px;
}

#cv-content .cvo-block {
  float: left;
  width: 100%;
}

#cv-content .ir .cvo-block {
  margin-top: 0px;
  padding: 0;
  margin-bottom: 5px;
}

#cv-content .ir #block01 {
  padding-bottom: 2px;
  margin-top: 0 !important;
}

.ctbx {
  padding-left: 10px;
  padding-right: 10px
}

#experience-table .ctbx {
  padding-left: 0;
  padding-right: 0;
  position: relative;
}


.ctbx:hover {
  box-shadow: 0 0 1px #999;
}

.ctbx:hover .fieldgroup_controls {
  display: block;
}

[cvo-form-field] {
  cursor: text;
}

#cvo-profile-avatar-wraper {
  width: 100%;
  padding: 0;
  margin: 0;
}

#cvo-profile-avatar-wraper .wimg {
  float: left;
  width: 325px;
  height: 290px;
  padding-left: 51px;
  padding-top: 38px;
}

#cvo-profile-avatar-wraper img {
  width: 201px;
  height: 201px;
  border-radius: 99em;
  float: left;
}

.box-01 {
  float: left;
  width: 100%;
}

#cvo-profile {
  float: left;
  display: block;
}

#line-seperate {
  height: 25px;
}

.bar-exp div {
  float: left;
  height: 16px;
  background: var(--kn);
}

.ctbx .skill-name {
  margin: 0px;
  padding: 0px;
  color: #000;
  float: left;
  width: 100%;
  text-align: left;
}

.bar-exp {
  padding: 0px;
  float: left;
  width: 276px;
  height: 16px;
  margin-top: 5px;
  margin-bottom: 10px;
  background: var(--skill);
}

.bar-value-exp {
  width: 100%
}

.bar-value-exp input[type="text"] {
  color: #fff;
  width: 95%
}

.icoweb label {
  display: block;
}

#cv-right .block {
  position: relative;
  padding: 0;
  margin: 0;
}

.ic .icoweb {
  width: calc(100% - 30px);
  text-align: left;
  padding-left: 5px;
  float: left;
  color: #000;
}

.ic {
  width: 100%;
  float: left;
  color: #000;
  padding-bottom: 10px;
}

#prof [contentEditable=true] {
  width: 100%;
  float: left;
}

#prof .icoweb,
#prof .icoweb span {
  height: auto;
  text-align: left;
  width: 100%;
  float: left;
}

div#prof {
  float: left;
  width: 100%;
}

#form-cv .icf {
  float: left;
  line-height: 20px;
  margin-bottom: 0;
  width: 26px;
  height: 20px;
  text-align: left;
  display: none;
}

.ic02 {
  float: right;
  width: 64%;
}

.ic03 {
  float: left;
  width: 35%;
}

.icf .fa {
  font-size: 20px;
  color: #000;
  margin-top: 0;
  float: left;
}

.container {
  width: 100%;
}

.sum {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 30px;
}

#cv-right .block {
  position: relative;
  padding: 0;
  padding-bottom: 20px;
}

#experience-table .ctbx {
  float: left;
  width: 100%;
  position: relative;
  margin-top: 5px !important;
  padding-bottom: 8px;
}

#cv-right h3 {
  width: 100%;
  height: 30px;
  margin: 0;
  color: #ffffff;
  padding: 0;
  float: left;
  line-height: 30px;
  text-align: center;
  background: #b82731;
}

#cv-content .head #cvo-experience-blocktitle {
  float: left;
  color: #fff;
  position: relative;
  z-index: 990;
  width: 100%;
  text-align: left;
}

#cv-content #block04 .head #cvo-experience-blocktitle {
  color: #fff;
}

#bg {
  background: #F58284;
  text-align: left;
}

div#experience-table {
  float: left;
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
}

#cv-boxtitle {
  float: left;
  width: 100%;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  color: #fff;
}

.ski {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  line-height: 30px;
  text-align: left;
}

.cum {
  margin: 0;
  width: 100%;
  line-height: 30px;
}

div#sort_block {
  padding: 0;
  margin: 0;
  float: left;
  width: 100%;
}

.cvo-block .blockControls {
  margin: 0px;
  padding: 0px;
}

#cv-profile-job::before {
  color: #000;
}

.footer {
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
}

.watermark {
  float: left;
  width: 100%;
  color: #000;
  text-align: right;
  padding-right: 22px;
  padding-top: 2px;
  font-size: 15px;
  font-family: Courier;
}

#prof .ic:nth-child(1),
#prof .ic:nth-child(3) {
  width: 35%;
  float: left;
}

#prof .ic:nth-child(2) {
  width: 30%;
}

#cv-content .cvo-block .head {
  margin: 0;
  width: 100%;
  float: left;
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 30px;
  margin-bottom: 5px;
  padding-left: 10px;
  padding-right: 145px;
  padding-bottom: 2px;
}

#cv-content #block01 .head,
#block03 .head,
#block05 .head {
  background: var(--head1);
  background-position: left top;
  background-size: 100% 100%;
}

#cv-content #block02 .head,
#block04 .head {
  background: var(--head2);
  background-position: left top;
  background-size: 100% 100%;
}

.ic1,
.ic2,
.ic3,
.ic4,
.ic5 {
  width: 100%;
  float: left;
  line-height: 30px;
  margin-bottom: 0px;
  padding-left: 33px;
}

.ic1 {
  width: 32%;
  margin-right: 30px;
  background: var(--date);
  background-position: 5px 3px;
}

.ic2 {
  float: left;
  width: 20%;
  margin-right: 10px;
  background: var(--sex);
  background-position: 5px 5px;
}

.ic3 {
  width: 37%;
  background: var(--phone);
  background-position: 5px 3px;
}

.ic4 {
  width: 100%;
  background: var(--email);
  background-position: 5px 6px;
}

.ic5 {
  width: 100%;
  background: var(--add);
  background-position: 5px 3px;
}

.icoweb {
  float: right;
}

.fake_img {
  float: left;
  width: 192px;
  height: 192px;
  position: absolute;
  top: 12px;
  left: 32px;
  display: none;
}

#sortable #box02 .box-content {
  border: unset;
  color: #fff;
}

.cum,
.ski {
  float: left;
  width: 100%;
  text-align: left;
  font-size: 17px;
  padding-top: 3px;
  padding-bottom: 3px;
}

#box04 .cum,
#box06 .cum {
  background: var(--cum2);
  background-position: left top;
  background-size: 100% 100%;
}

#box03 .ski,
#box05 .cum,
#box07 .cum {
  background: var(--cum1);
  background-position: left top;
  background-size: 100% 100%;
}

#boxtitle {
  width: 100%;
  float: left;
  padding-left: 10px;
  padding-right: 95px;
}

#box02 .cum {
  display: none;
}

#cv-content .exp-date {
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
  display: initial;
  color: #000;
  text-align: left;
  margin-bottom: 5px;
}


#cv-content #block02 .exp-date {
  display: none;
}

.exp-title {
  float: left;
  width: 100%;
  text-transform: uppercase;
}

#bloc02 .exp-title {
  width: 70%;
}

.bar-exp div p {
  color: #F44336;
  display: block;
  position: absolute;
  font-size: 20px;
  z-index: 99999;
}

#block03 h3 {
  display: none;
}

span.exp-subtitle {
  width: 100%;
}

.ifo {
  float: left;
  width: 58%;
  position: relative;
  padding-top: 10px;
  padding-right: 15px;
}

#prof .icoweb {
  float: left;
  width: 100%;
  /* max-width: 100%; */
  padding-right: 8px;
  text-align: left;
}


#prof .ic2 .icoweb {
  width: 100%;
}

#prof .ic1 .icoweb {
  width: 100%;
}

.icright1,
.icright2,
.icright3,
.icright4,
.icright5 {
  display: none;
}

#block05 h3,
#block05 .exp-content {
  display: none;
}

.exp-content {
  float: left;
  width: 100%;
}

#experience-table #exp1 {
  margin: 0;
  margin-top: 0px !important;
}

#block04 #exp1 {
  margin-top: 0 !important;
}

#cv-content #block05 p.h3 {
  padding: 0 0 0 15px;
}

#cv-right .ir #sortable #box01 {
  display: none;
}

:root {
  --sex: url(sex1.png) no-repeat;
  --phone: url(phone1.png) no-repeat;
  --date: url(date1.png) no-repeat;
  --email: url(mail1.png) no-repeat;
  --add: url(add1.png) no-repeat;
  --muctieu: url(muctieu1.png) no-repeat, url(mt1.png) no-repeat;
  --ngang: url(ngang1.png) no-repeat;
  --page: url(page1.png) no-repeat;
  --top: url(top1.png) no-repeat;
  --tt: url(tt-t1.png) no-repeat, url(tt-b1.png) no-repeat, url(tt-f1.png) no-repeat;
  --main: url(main1.png) no-repeat;
  --content: url(content.png) no-repeat;
  --bg: url(bg1.png) no-repeat;
  --cum1: url(cum1-1.png) no-repeat;
  --cum2: url(cum2-1.png) no-repeat;
  --head1: url(head1-1.png) no-repeat;
  --head2: url(head2-1.png) no-repeat;
  --skill: url(skill1.png) no-repeat;
  --kn: url(kn1.png) no-repeat;
  --color: #fff5ff;
  --color-j: #463e6c;
}