#form-cv-ax{	
	font-size: 15px
}
.boxa-01{
	font-size: 15px
}
#cv-content-ax .head-right{
	font-size: 21px
}
#cv-right-ax .h3{
	font-size: 21px
}
#cv-content-ax h3{
	font-size: 15px
}
#cv-top-ax h2{
	font-size: 19px
}
#cv-top-ax h1{
	font-size: 34px
}
#cv-right-ax .head-right{
	font-size: 21px
}