.box-01{
	background: #43926a;
}

#cv-right{
	background:#fffd9900;
}
#cv-right .h3{
    border:2px solid #43926a;
    color: #61cc9b;   
}
#cv-content .head{
	color: white;
   	background:#43926a;
}

.box-contact{

}

#cv-content h3{	
     color: #237a5f;
}
#form-cv{
	background: #fffd9900;
}
.icoweb{
	color: #080808;
}

.bar-exp span {
	background: #fff703;
}
#cvo-profile-avatar-wraper #cvo-profile-avatar{
	border:5px solid #43926a;
}