#cvo-profile-avatar-wraper{
	background: #f3c4e6
}
#cv-content .head{
	color: #f3c4e6
}
#cv-top{
	background-image:url(2a7bb8.png);
	background-color:#0ebbd6;
}
#cv-content{
	background: #2a7bb8
}
.bar-exp div{
	background: #2a7bb8
}