#cvo-profile-avatar-wraper{
	background: #cccccc
}
#cv-content .head{
	color: #414242
}
#cv-top{
	background-image:url(ee494c.png);
	background-color:#414242;
}
#cv-content{
	background: #ee494c
}
.bar-exp div{
	background: #ee494c
}