#cv-top {
    width: 100%;
    height: 325px;
    background-image: url(../bg_top4.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}
.all{
  float: left;
  clear: both;
  width: 100%;
  background: url(main3.png)no-repeat;
  background-size: 100% 100%;
}
#block02 #experience-table #exp1 .exp-title{
  float: left;
  color: #8781bd;
}
#block02 #experience-table #exp2 .exp-title{
  float: left;
  color: #8781bd;
}
#block02 #experience-table #exp3 .exp-title{
  float: left;
  color: #8781bd;
}
.bar-exp {
    background: #8781bd;
    height:8px;
    float: none;
    margin-top: 5px;
    margin-bottom: 0px;
    border-radius: 10px;
    /*border:1px solid #8781bd;*/
    padding: 0px;
    float: right;
    width: 100%;
}
.icf .fa {
    font-size: 20px;
    color: #8781bd;
    margin-top: 0;
    float: left;
}
.icright {
    width: 20px;
    height: 30px;
    float: left;
    background:url(tr3.png)no-repeat;
    background-position: left center;
  }
.footer {
  background:url(ft3.png)no-repeat;
  background-size: 100% 100%;
  height:100px; 
  float: left;
  width: 100%;
}
.ic1 .icf {
  background: url(../sex4.png) no-repeat;
}
.ic2 .icf {
  background: url(../phone4.png) no-repeat;
}
.ic3 .icf {
  background: url(../mail4.png) no-repeat;
}
.ic4 .icf {
  background: url(../date4.png) no-repeat;
}
.ic5 .icf {
  background: url(../add4.png) no-repeat;
  background-position: 3px;
}