#cv-top {
  background-image: url(hd2.png);
  background-size: 100% 100%;
}
#cvo-profile-avatar-wraper {
  padding-top: 17px;
  padding-left: 69px;
}
.all{
  background:url(main2.png)no-repeat;
  background-size: 100% 100%;
  }
.footer{background: url(ft2.png) no-repeat;background-size: 100% 100%;}
.box-dm {
  background: url(fake2.png)no-repeat;
  background-size: 100% 100%;
}
.bar-exp div {
  background: #c53e96;
}
#cv-top h1 {
  color: #5cba47;
}
#cv-top h2 {
  color: #5cba47;
}
