#form-cv{	
	font-size: 17px
}
.box-01{
	font-size: 15px
}
#cv-content .head{
	font-size: 19px
}
#cv-right .h3{
	font-size: 19px
}
#cv-content h3{
	font-size: 15px
}
#cv-top h2{
	font-size: 22px
}
#cv-top h1{
	font-size: 30px
}