#form-cv{
	width: 100%;	
	float: left;
	position: relative;
	font-size: 14px;
	line-height: 24px;
	color:#070000;	
}
#form-cv p{
	margin-top: 0;
	margin-bottom: 6px
}
#sortable .cvo-block{
	margin-bottom: 30px;
	margin-top: 8px;
	padding:0;	
}

#cv-top{		
    text-align: center;
    float: left;
    width: 100%;
    padding-top: 45px    
}

#cv-content{
	width: 59%;
	float: right;
	position: relative;		
	/* min-height: 800px; */
	background: #fff;
}

#cv-right .box-content, #cv-right .skill{	
	width: 290px;
}
#cv-right{
	width: 40%;
	/* min-height: 1100px; */
	float: left;
	background: #2fae77;
	position: relative;		
	color:#fff;
	margin-bottom: 40px;
}
#cv-right .ir{	
	padding-right: 10px;
	padding-left: 10px
}
p.skill-name input{
	color: #fff!important;
}

#cv-right .cvo-block span{
	color: #fff;
}
#cv-right .cvo-block h3 span{
	color:#fff;
}
#cv-right .ctbx {
	padding: 0;
	margin:0;
	border:0;
}
.skill{
	margin-top: 15px
}

#cv-top h1{
	color:#2fae77;
	font-size: 32px;	
    line-height: normal;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0px;    
    margin-top: 20px;
    font-weight: bold;
	
}


#cv-top h1 span{
	padding: 0px 10px;
}

#cv-top h2{
	font-size: 16px;
    text-align: center;        
    color: #2fae77;
    font-weight: bold;
    margin-top: 10px;    
    margin-bottom: 10px
}
.box-01 p{		
    overflow: hidden;
}

#cv-content p{
	margin-bottom: 5px
}

#cv-content .ir a{
	color: #2ebb2f
}
#cv-right h3, #cv-content .head{
	font-size: 18px;    
    color: #f70000;   
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding: 8px 15px;
    margin: 0 auto 10px;    
    line-height: 24px;
}

#cv-content .head{
	background: url("arr.png") center left no-repeat;
	text-align: left;
}
#cv-content .head span{	
	color: #993366
}
#cv-content h3{	
    font-size: 15px;    
    font-weight: bold;
    color:#000;
}

#cv-content .cvo-block {    
}
.ctbx{
	padding-left: 10px;
	padding-right: 10px
}

#cv-content span{
	display: inline-block;	
	z-index: 9999;
}

#cv-right .h3:first-child{
	margin-top: 0
}
.ctbx{
	margin-bottom: 27px;
	position: relative;
}
.ctbx:hover {
	box-shadow: 0 0 1px #999;
}
.ctbx:hover .fieldgroup_controls{
	display: block;
}
[cvo-form-field] {
    cursor: text;
}

#cvo-profile-avatar-wraper{	        
    width:100%;         
    float: left;    
    padding:40px 0 40px;
}
#box-hvt{
    margin: auto;    
    padding: 30px 10px;        
    height: auto;
}
#cvo-profile-avatar-wraper .wimg{	
  	width: 160px;
  	margin:auto;
  	float: none  	   
}
#cvo-profile-avatar-wraper img{
	width: 160px;
	height: 160px;
	float: none;
	display: table;
}
#line-seperate {
    height: 25px;    
}
.bar-exp div {
    float: left;
    height: 10px;
    background: #2fae77;
    
}
.bar-exp {
  	width: 99%;
  	background: #e1e1e1;
  	height: 10px;
  	padding:1px;
  	float: right;
  	margin-bottom: 12px;
}      
.icoweb label{
	display: block;
	color:#fff;
}

.box-contact{
	font-size: 15px;
}
#sortable .icoweb{
	padding-left: 28px;
	line-height: 32px;	
	margin-bottom: 0
}
#sortable .cvi-date{
	background: url('fa-1.png') left center no-repeat;	
}
#sortable .cvi-user{
	background: url('fa-2.png') left center no-repeat;	
}
#sortable .cvi-phone{
	background: url('fa-3.png') left center no-repeat;	
}
#sortable .cvi-envelope-square{
	background: url('fa-4.png') left center no-repeat;	
}
#sortable .cvi-map-marker{
	background: url('fa-5.png') left center no-repeat;	
}
#sortable .cvi-info{
	background: url('fa-6.png') left center no-repeat;	
}
div#box01 span {
    width: 230px;
}
[contenteditable=true]:empty:before {
    content: attr(cvo-placeholder);
    font-weight: 100;
    padding: 3px;
}
#cv-profile-birthday::before{
    color: #fff;
}
#cv-profile-sex::before{
    color: #fff;
}
#cv-profile-phone::before{
    color: #fff;
}
#cv-profile-email::before{
    color: #fff;
}
#cv-profile-address::before{
    color: #fff;
}
#cv-profile-face::before{
    color: #fff;
}
#cv-profile-fullname::before{
  color: #000;
}
#cv-profile-job::before{
  color: #000;
}

.watermark {
    float: left;
    width: 100%;
    height: 22px;
    color: #999;
    text-align: right;
    padding-right: 22px;
    font-size: 15px;
    font-family: Courier;
}