#form-cv {
    font-size: 13px
}

.box-01 {
    font-size: 13px
}

#cv-content .head {
    font-size: 17px
}

#cv-content h3 div {
    font-size: 17px;
}

#cv-right .h3 {
    font-size: 26px
}

#cv-content h3 {
    font-size: 17px
}

#cv-top h2 {
    font-size: 17px
}

.box-content {
    font-size: 16px;
}

#cv-top h1 {
    font-size: 26px;
}

#experience-table .ctbx {
    font-size: 16px;
}