#form-cv {
    font-size: 13px
}

.box-01 {
    font-size: 13px
}

#cv-content .head {
    font-size: 15px
}

#cv-content h3 div {
    font-size: 15px;
}

#cv-right .h3 {
    font-size: 22px
}

.box-content {
    font-size: 14px;
}

#experience-table .ctbx {
    font-size: 14px;
}

#cv-content h3 {
    font-size: 15px
}

#cv-top h2 {
    font-size: 15px
}

#cv-top h1 {
    font-size: 24px;
}