#form-cv {
  width: 100%;
  float: left;
  position: relative;
  font-size: 14px;
  line-height: 24px;
  color: #484848;
background:url(bg1.png)no-repeat;
background-size: 100% 100%;

}

#form-cv p {
  margin-top: 0;
  margin-bottom: 0px;
}

#cv-top {
  width: 100%;
  height: 215px;
}

#sortable .cvo-block {
  margin: 0;
  padding: 0;
  padding: 0 0 5px;
  margin-bottom: 15px;
}

#cvo-profile {
  display: block;
  padding: 20px 10px 0;
}

#cv-content {
  width: 53%;
  text-align: justify;
  margin: 0;
  padding: 0;
  float: right;
  padding-right: 20px;
  position: relative;
}
#cv-content  .box-01{
  padding: 0;
  margin: 0;
  padding-left: 10px;
  padding-top: 20px;
}

#cv-content .ir {
  padding-right: 0 ;
  margin: 0px;
  padding-left: 5px;
  background: #fff;
}

#cv-content #block02 #exp1 {
  padding: 0;
  margin: 0;
  padding-left: 20px;
  padding-right: 10px;

}

#cv-content #block02 #exp3{
  padding: 0;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  /*margin-left: 25px;*/
  /*margin: 20px 0 20px 10px;*/
}


#cv-content .ir #block02 #experience-table {
  padding: 0px;
  /*  background: #00b296;*/
  /*margin-left: 25px;*/
}

#cv-main {
    margin: 0;
    padding: 0;
    width: 43.99%;
    text-align: justify;
    float: left;
    background-size: cover;
    position: relative;

}

#cv-right {
    float: left;
    width: 92%;
    /* background-color: #424242; */
    color: #000;
    padding-top: 35px;
    background: #376f93;
    margin-left: 15px;
}

#cv-right .ir {
  padding: 0;
}

p.skill-name input {
  color: #fff !important;
}

#box-hvt {
    margin: 0;
    padding: 0;
    padding-top: 69px;
    padding-bottom: 20px;
    width: 100%;
    text-align: justify;
    padding-left: 0px;
}

#box-hvt h1 {
  margin: 0;
  padding: 0;
  font-size: 32px;
  line-height: 32px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  text-align: center;
}

  #cvo-profile .box-contact {
    padding-top: 0;
    width: 100%;
    float: right;
    color: #000;
  }

  #cv-right #prof {
    width: 100%;
    float: left;
    color: #000;
    padding-bottom: 5px;
    border-bottom: 2px solid #1b1b1b;
  }

  #sortable #box01 {
    padding: 0;
    margin: 0;
    border: 0;
  }
  #sortable{
    width: 90%;
    padding-left: 15px;
  }

  .info {
    width: 95%;
    height: 295px;
    padding: 0;
    margin: 0;
    /*background-color: #03c0b5;*/
  }

  #cv-right .cvo-block .head div {
    color: #1b1b1b;
  }

  #box01 ul li {
    width: 50%;
    float: left
  }

  #box-hvt h2 {
    padding: 0;
    margin: 0;
    font-size: 16px;
    color: #fff;
    line-height: 24px;
    text-transform: uppercase;
    margin-top: 10px;
    text-align: center;
    font-style: italic; 
  }

  #cv-content p {
    margin-bottom: 5px
  }

  #cv-content .ir a {
    color: #2ebb2f
  }

  #cv-right h3, #cv-content .head {
    font-size: 18px;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    padding-top: 0;
    line-height: 24px;
  }

  #sortable .box-content {
    margin: 0;
    padding: 0;
    color:#fff;
    padding-top: 15px;
    /*padding-right: 10px;*/
  }

  #cv-content .exp-title {
    width: 100%;
    float: right;
  }



  #cv-content .w-exp {
    width: 100%;
    float: right;
  }

  #cv-content h3 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    color: #000;
    line-height: 18px;
    display: table;
    width: 100%;
    margin-bottom: 5px;
    margin-top: 10px;
  }

  #cv-content p.h3 {
    font-weight: bold;
  }

  #cv-content .cvo-block {
    margin: 0;
    padding: 0;
    padding-right: 0;
    margin-right: 0;
  }

  .ctbx {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 15px;
  }

/* #cv-content span {
  display: inline-block;
  z-index: 9999;
  } */

  .ctbx {
    position: relative;
  }

  .ctbx:hover {
    box-shadow: 0 0 1px #999;
  }

  .ctbx:hover .fieldgroup_controls {
    display: block;
  }

  [cvo-form-field] {
    cursor: text;
  }

  #cvo-profile-avatar-wraper {
    width: 207px;
    padding: 0px;
    margin: 0px;
    height: 228px;
    margin: 0 auto 0;
    padding-top: 60px;
  }

  #cvo-profile-avatar-wraper .wimg {
    padding: 0;
    margin: 0;
    float: left;
    border: 3px solid #fff;
    width: 207px;
    height: 221px;
  }

  #cvo-profile-avatar-wraper img {
    width: 207px;
    height: 221px;
    float: none;
    display: inline-block;
  }

/*#inside {
  height: 50px;
  width: 50%;
  border-right: 10px solid #03c0b5;
  }*/

  #line-seperate {
    height: 25px;
  }

  .bar-exp div {
    float: left;
    height: 8px;
    background: #fff;
}

  .ctbx .skill-name {
    width: 100%;
    float: left;
  }

  .bar-exp {
    width: 100%;
    background: #c4c4c4;
    height: 8px;
    float: right;
    border-radius: 8px;
    margin-top: 3px;
    margin-bottom: 0px;
  }

  .skill .ctbx {
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 5px;
	  color: #fff;
  }

  .bar-value-exp {
    width: 50%
  }

  .bar-value-exp input[type="text"] {
    color: #fff;
    width: 95%
  }

  .icoweb label {
    display: block;
  }

  .icoweb {
    line-height: 22px;
    float: left;
    padding-left: 5px;
  }

  .ic {
    float: left;
    width: 100%;
    margin-bottom: 8px
  }

  #form-cv .icf {
    float: left;
    line-height: 25px;
    height: 25px;
    margin-bottom: 0;
    font-size: 14px;
    width: 25px;
    text-align: center;
  }

  #form-cv .ic .icoweb {
    margin-bottom: 0;
    width: 78%;
    display: flex;
  }

  .ic .icoweb {
    float: left
  }

  .icf .fa {
    color: #000;
    margin-top: 0;
    float: none
  }

  #prof .ic {
    padding: 0;
    margin: 0;
    margin-top: 3px;
    float: left;
	  width: 100%;
  }

  #form-cv .wfa {
    float: right;
    width: 25px;
    font-size: 14px;
    line-height: 25px;
    background: #fff;
    border: 2px solid #446600;
    border-radius: 20px;
    text-align: center;
    color: #446600
  }

  .sum {
    width: 100%;
    height: 30px;
  }

  #cv-content .head {
    width: 88%;
    height: 30px;
    line-height: 30px;
    background-position: left center;
    margin-left: 25px;
    float: left;
    margin-bottom: 10px;
    border-bottom: 2px solid #376f93;
    }
    #cv-content .head span{
      color: #376f93;
    }
    .cum {
      width: 100%;
      height: 30px;
      text-align: left;
      border-bottom: 2px solid #fff;
    }

    #cv-right h3 {
      color: #fff;
      width: 87%;
      height: 30px;
      line-height: 30px;
      text-align: left;
      float: left;
    }


    .funk {
      width: 100%;
      height: 30px;
      text-align: left;
      border-bottom: 2px solid #fff;
    }
    #experience-table .ctbx{
      padding-right: 10px;
      padding-left: 20px;
      /*margin-left: 25px;*/
    }
    #box01 #prof{
    margin-left: 15px;
    padding-top: 10px;
    padding-bottom: 15px;
    width: 94%;
    /* margin-top: 15px; */
    float: left;
    }



    #cv-content #box01{
         width: 100%;
    margin: 0;
    padding: 0;
    background-position: left top;
    float: left;
    margin-top: 50px;
    background: #fff;
    }

    #cv-content .head .div-text{
      width: 87%;
      height: 30px;
      float: left;
    }
#cv-content .ir .cvo-block {
  margin-right: 0;
  padding-right: 0;
}


#cv-content .ir #block05 #experience-table{
	background: none;
	padding-right: 15px;
}
#footer{
	width: 100%;
	height: 55px;
	float: left;
	background: 100% 100%;
	border:
	none;
	padding: unset;
	margin: unset;
}
.ico-1{
  width: 30px;
  height: 30px;
  float: right;
  background: url(icon1.png)no-repeat;
  background-position: right center;
}

.ico-2 {
  width: 35px;
  height: 30px;
  float: right;
  background: url(icon2.png)no-repeat;
  background-position: right center;
}
.ico-3 {
  width: 30px;
  height: 30px;
  float: right;
  background: url(icon3.png)no-repeat;
  background-position: right center;
}

.ico-4 {
  width: 30px;
  height: 30px;
  float: right;
  background: url(icon4.png)no-repeat;
  background-position: right center;
}
.ico-5 {
  width: 30px;
  height: 30px;
  float: right;
  background: url(icon5.png)no-repeat;
  background-position: right center;
}
.cumic2{
  width: 30px;
  height: 30px;
  float: right;
  background: url(icon7.png)no-repeat;
  background-position: right center;
}
.funic{
    width: 30px;
    height: 30px;
    float: right;
    background: url(icon8.png)no-repeat;
    background-position: right center;
}
.cumic4{
      width: 30px;
      height: 30px;
      float: right;
      background: url(icon9.png)no-repeat;
      background-position: right center;
}
.cumic5 {
  width: 30px;
  height: 30px;
  float: right;
  background: url(icon10.png)no-repeat;
  background-position: right center;
}
.cumic6 {
  width: 30px;
  height: 30px;
  float: right;
  background: url(icon11.png)no-repeat;
  background-position: right center;
}
.cumic7 {
  width: 30px;
  height: 30px;
  float: right;
  background: url(icon12.png)no-repeat;
  background-position: right center;
}
.watermark {
  float: left;
  width: 100%;
  /* height: 22px; */
  color: #999;
  text-align: right;
  padding-right: 22px;
  font-size: 15px;
  font-family: Courier;
  /* background: #fff; */
  padding-top: 35px;
}