#form-letter{
	width: 100%;
	height: 1130px;
	float: left;	
	color:#000000;
	position: relative;
	background: url(form3.png)no-repeat;
	background-size: 100% 100%;
}
#lt-name{	
    width: 64%;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    display: block;
    font-size: 30px;
    line-height: 30px;
    font-weight: bold;
    text-align: left;
    color: #5b2a8c;
	float: left;
	padding-top: 60px;
	padding-left: 40px;
}
#cvo-profile-avatar-wraper {
padding: 0;
margin: 0;
float: left;
width: 135px;
height: 140px;
cursor: pointer;
margin-left: 45px;
border: 4px solid #5b2a8c;
z-index: 99;
border-radius: 10px;
}
.icf .fa{
	font-size: 18px;	
	color:#5b2a8c;
	font-weight: normal;
	margin-top: 0;	
	float: left
}
#title-job {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #5b2a8c;
    float: left;
	width: 100%;
	padding-top: 10px;
	text-transform: uppercase;
}