/* 3 */

:root {
    --sex: url(sex3.png) no-repeat;
    --phone: url(phone3.png) no-repeat;
    --date: url(date3.png) no-repeat;
    --email: url(email3.png) no-repeat;
    --add: url(add3.png) no-repeat;
    --top: url(top3.png) no-repeat;
    --avt: url(avt3.png) no-repeat;
    --page: url(page3.png) no-repeat;
    --job: url(job.png) no-repeat;
    --top1: url(top3.png) no-repeat;
    --top2: url(top3-1.png) no-repeat;
    --top3: url(top3-2.png) no-repeat;
    --color-j: #6dd5fa;
    --color-tj: #2c3e50;
    --color-t: #2980b9;
    --dot: url(dot3.png) no-repeat;
    --skill: #e2f7fe;
    --kn: url(kn3.png) no-repeat;
}