/* 2 */

:root {
    --sex: url(sex2.png) no-repeat;
    --phone: url(phone2.png) no-repeat;
    --date: url(date2.png) no-repeat;
    --email: url(email2.png) no-repeat;
    --add: url(add2.png) no-repeat;
    --top: url(top2.png) no-repeat;
    --avt: url(avt2.png) no-repeat;
    --page: url(page2.png) no-repeat;
    --job: url(job.png) no-repeat;
    --top1: url(top2.png) no-repeat;
    --top2: url(top2-1.png) no-repeat;
    --top3: url(top2-2.png) no-repeat;
    --color-j: #8f94fb;
    --color-tj: #ffffff;
    --color-t: #4e54c8;
    --dot: url(dot2.png) no-repeat;
    --skill: #272a64;
    --kn: url(kn2.png) no-repeat;
}