.anh {
  background: url(../fake3.png) no-repeat;
}

#cv-top h2 {
  color: #eda35e;
}

#block02 #experience-table .exp-date {
  background: url(../date2-3.png) no-repeat;
  background-position: 0px bottom;
  background-size: 100% 12px;
}

#block01 #experience-table .exp-date {
  background: url(../date1-3.png) no-repeat;
  background-position: 0px bottom;
  background-size: 100% 12px;
}

#cv-content #block03 .exp-date {background: url(../date1-3.png) no-repeat;background-position: 0px bottom;background-size: 100% 12px;}

#cv-content #block04 .exp-date {background: url(../date2-3.png) no-repeat;background-position: 0px bottom;background-size: 100% 12px;}

#cvo-profile {
  background: url(../top3.png) no-repeat;
}

.bar-exp div {
  background: url(../kn3.png) no-repeat;
}

.bar-exp {
  background: url(../skill1.png) no-repeat;
  background-position: 0px center;
}

.footer {
  background: url(../foot3.png) no-repeat;
  background-position: right;
}

.ic1, .ic2 {
  background: url(../date-sex-add3.png) no-repeat;
  background-size: 100% 100%;
}

.ic3 {
    background: url(../phone-mail3.png) no-repeat;
}

.ic5 {
    background: url(../date-sex-add3.png) no-repeat;
    background-size: 100% 100%;
}

.ic4 {
    background: url(../phone-mail3.png) no-repeat;
    background-size: 100% 100%;
}

.fake_img {
  background: url(../fake.png) no-repeat;
}
#block01 .head #cvo-experience-blocktitle {
  background: url(../main1-3.png) no-repeat;
  background-size: 100% 100%;
}

#block02 .head #cvo-experience-blocktitle {
  background: url(../main2-3.png) no-repeat;
  background-size: 100% 100%;
}

#block03 .head #cvo-experience-blocktitle {
  background: url(../main1-3.png) no-repeat;
  background-size: 100% 100%;
}

#block04 .head #cvo-experience-blocktitle {
  background: url(../main2-3.png) no-repeat;
  background-size: 100% 100%;
}

#block05 .head #cvo-experience-blocktitle {
  background: url(../main1-3.png) no-repeat;
  background-size: 100% 100%;
}


#box02 .cum {
  background: url(../content1-3.png) no-repeat;
  background-size: 100% 100%;
}

#box03 .ski {
  background: url(../content2-3.png) no-repeat;
  background-size: 100% 100%;
}

#box04 .cum {
  background: url(../content1-3.png) no-repeat;
  background-size: 100% 100%;
}

#box05 .cum {
  background: url(../content2-3.png) no-repeat;
  background-size: 100% 100%;
}

#box06 .cum {background: url(../content1-3.png) no-repeat;background-size: 100% 100%;}

#box07 .cum {background: url(../content2-3.png) no-repeat;background-size: 100% 100%;}

.ic1 .icf {
  background: url(../date1.png) no-repeat;
}

.ic2 .icf {
  background: url(../sex1.png) no-repeat;
}

.ic3 .icf {
  background: url(../phone1.png) no-repeat;
}

.ic4 .icf {
  background: url(../mail1.png) no-repeat;
}

.ic5 .icf {
  background: url(../add1.png) no-repeat;
}
