#form-cv{
	width: 100%;	
	float: left;
	position: relative;
	font-size: 14px;
	line-height: 24px;
	color:#000000;	
	background:#f4f4f4	
}
#form-cv p{
	margin-top: 0;
	margin-bottom: 6px
}
#sortable .cvo-block{
	margin-bottom: 30px;
	margin-top: 20px;	
	padding:0 10px;
}
#cvo-profile{	
	display: block;
}
#cv-content{
	width: 60%;
	float: right;	
	position: relative;	
	padding-top: 10px;			
}
#cv-content .ir{
	padding:0 10px;
}
#cv-main{
	padding:0;
	position: relative;			
	float: left;	
	background: #0ca4cd;
	color:#fff;
	width: 39.99%
}
#cv-right .ir{
	padding: 0 10px;
}
p.skill-name input{
	color: #fff!important;
}

#cv-right .ctbx {
	padding: 0;
	margin:0;
	border:0;
}

#cv-top{	
	padding: 30px 0;
}
#cv-top h1{
	font-size: 30px;    
    line-height: normal;
    text-transform: uppercase;    
    color: #fff;        
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: bold    
	
}
#box-hvt{	
	text-align: center;
}

#cv-right .cvo-block .head div{
	color:#fff;
}
#cv-top h2{
	font-size: 16px;    
    color: #fff;    
    text-transform: capitalize;    
    font-weight: bold;
    margin-top: 0;       
    margin-bottom: 0
}
.box-01 p{		
    overflow: hidden;
}

#cv-content p{
	margin-bottom: 5px
}
#cv-content .ir a{
	color: #2ebb2f
}
#cv-right h3, #cv-content .head{
	font-size: 18px;        
    text-transform: uppercase;
    color:#0ca4cd;
    font-weight: bold;        
    margin: 0px auto 20px;    
    line-height: 36px;        
} 
#cv-content .exp-title{
	float: left;
	width: 70%;
}
#cv-content .exp-date{
	float: right;
	width: 29.99%;
	text-align: right;
}
#cv-content h3{	
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 0;
    color:#000;
    width: 100%;   
    float: left;
}
#cv-content p.h3{

}
#cv-content .cvo-block {    
}
.ctbx{
	padding-left: 10px;
	padding-right: 10px
}

#cv-content span{
	display: inline-block;	
	z-index: 9999;
}

.ctbx{
	margin-bottom: 20px;
	padding-left: 0;
	padding-right: 0;
	position: relative;
}
.ctbx:hover {
	box-shadow: 0 0 1px #999;
}
.ctbx:hover .fieldgroup_controls{
	display: block;
}
[cvo-form-field] {
    cursor: text;
}

#cvo-profile-avatar-wraper .wimg{    
    margin:auto;
    width: 160px;   
    border: solid 4px #ddd;    
}
#cvo-profile-avatar-wraper img{
	width: 160px;  	
  	height: 160px;
  	float:none;  
  	display: inline-block;
}
#line-seperate {
    height: 25px;    
}
.bar-exp div {
    float: left;
    height: 8px;
    background: #00aacf;
}
.ctbx .skill-name{
	
}
.bar-exp {  	
  	background: #fff;
  	height: 8px;  	
  	margin-top: 0;
  	padding:2px;
  	width: 98%;
  	margin-bottom: 12px;
}      
.bar-value-exp{
	width: 100%
}
.bar-value-exp input[type="text"]{
	color:#232323;
	width: 95%
}
.icoweb label{
	display: block;
}
#sortable .icoweb{
	line-height: 25px;	
	float: left;
	padding-left: 5px;
	margin-bottom: 0
}
.ic{
	float: left;width: 100%
}
#form-cv .icf{
	float: left;		
	line-height: 24px;
	font-size: 12px;
	margin-bottom: 0;
	width: 24px;	
	text-align: center;	
}
.ic .icoweb{
	float: left	
}
.icf .fa{
	font-size: 14px;	
	color:#fff;	
	font-weight: normal;
	margin-top: 0;	
	float: none
}
#cv-right h3, #cv-content .head{
	display: table;
	width: 100%
}
#cv-right h3 .wfa, #cv-content .head .wfa{
    float: left;
    width: 36px;
    font-size: 20px;
    line-height: 36px;
    background: #0ca4cd;
    border-radius: 6px 0;
    text-align: center;    
    color:#fff;    
}
#cv-right h3 .wfa{
	background: #fff;
	color:#0ca4cd;
}
#cv-right h3{
	color:#fff;
}
#cv-right #cv-boxtitle{
	float: right;
	width: 83%
}
#cv-content .block-title{
	float: right;
	width: 89%
}
[contenteditable=true]:empty:before {
    color: #fff;
}
div#box01 span {
    width: 230px;
}
.box-content {
    width: 290px;
}
.exp-content,.exp-subtitle,span.exp-title {
    width: 100%;
}

.watermark {
    float: left;
    width: 100%;
    height: 22px;
    color: #999;
    text-align: right;
    padding-right: 22px;
    font-size: 15px;
    font-family: Courier;
}