#cv-top h1 span {
    ;
    color: #14a800;
}

#cv-top h2 {
    text-transform: uppercase;
    width: 90%;
    font-size: 16px;
    font-family: "Roboto";
    color: #14a800;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-top: 130px;
    margin-bottom: 0;
    padding-left: 45px;
}

#cv-content h3 {
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #14a800;
}

#cvo-profile-avatar-wraper .wimg {
    width: 180px;
    height: 170px;
    padding: 0px;
    margin: 0px;
    margin-top: 0px;
    border: 7px solid #228622;
}

.bar-exp div {
    float: left;
    height: 10px;
    background: #228622;
    margin-top: 0px;
}

.bar-exp {
    background: #ffffff;
    height: 10px;
    float: none;
    margin-top: 0;
    margin-bottom: 0px;
    padding: 0px;
    border: 1px solid #14a800;
}

#cv-content .head {
    height: 40px;
    width: 100%;
    line-height: 40px;
    margin-left: 5%;
    padding-left: 10px;
    margin-bottom: 10px;
    background: url(line2b.png)no-repeat;
    background-position: center;
}

#experience-table .ctbx {}

.block-title {
    background: #14a800;
    border-radius: 15px;
}

.tt-box1 {
    height: 40px;
    width: 87%;
    line-height: 40px;
    margin-top: 10px;
    margin-left: 5%;
    border: 3px solid #14a800;
    padding-left: 10px;
}

div#cv-boxtitle {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    background: #228622;
    color: #fff;
    padding: 0 10px 0 10px;
    border-radius: 15px;
    min-width: 200px;
    width: 73%;
    margin-left: 9%;
    text-align: center;
}

#cv-top {
    width: 100%;
    height: 250px;
    background-image: url(hd3.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    padding-bottom: 20px;
}

#cv-main {
    text-align: justify;
    margin: 0;
    padding: 0;
    position: relative;
    float: left;
    width: 42.3%;
    padding-right: 5px;
    background: #14a800;
    padding-top: 30px;
}