#cv-top h1 {
    color: #341b45;
}

#cv-top h2 {
    color: #341b45;
}

#cvo-profile-avatar-wraper .wimg {
    border: 3px solid #341b45;
}

.bar-exp div {
    background: #341b45;
}

.icf .fa {
    color: #341b45;
}

#cv-content .head {
    color: #341b45;
    border-bottom: 2px solid #341b45;
}

#cv-right h3 {
    color: #341b45;
    border-bottom: 2px solid #341b45;
    padding: 3px;
}

.exp-title {
    font-weight: bold;
    color: #341b45;
    /* padding-bottom: 10px; */
}

#sortable #box01 h3 {
    text-transform: uppercase;
    background: #341b45;
}

#cv-content #block01 .head {
    color: #341b45;
    text-transform: uppercase;
}

.icon1 {
    width: 40px;
    height: 40px;
    background: url(icon1b.png)no-repeat;
    float: right;
}

.icon2 {
    width: 40px;
    height: 40px;
    background: url(icon2b.png)no-repeat;
    float: right;
}

.icon3 {
    width: 40px;
    height: 40px;
    background: url(icon3b.png)no-repeat;
    float: right;
}

.icon4 {
    width: 40px;
    height: 40px;
    background: url(icon4b.png)no-repeat;
    float: right;
}

.icon5 {
    width: 40px;
    height: 40px;
    background: url(icon5b.png)no-repeat;
    float: right;
}

.cumic2 {
    width: 40px;
    /* height: 40px; */
    background: url(icon6b.png)no-repeat;
    float: left;
}

.skic {
    width: 40px;
    height: 40px;
    background: url(icon7b.png)no-repeat;
    float: left;
}

.cumic4 {
    width: 40px;
    height: 40px;
    background: url(icon8b.png)no-repeat;
    float: left;
}

.cumic5 {
    width: 40px;
    height: 40px;
    background: url(icon9b.png)no-repeat;
    float: left;
}

.cumic6 {
    width: 40px;
    height: 40px;
    background: url(icon10b.png)no-repeat;
    float: left;
}

.cumic7 {
    width: 40px;
    height: 40px;
    background: url(icon11b.png)no-repeat;
    float: left;
}

#cv-top {
    width: 100%;
    height: 235px;
    background: url(hd3.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 5px;
}

.footer {
    display: inline-block;
    height: 60px;
    width: 100%;
    background-color: unset;
    background: url(ft3.png);
    background-repeat: no-repeat;
    border: none;
    background-size: 100% 100%;
}