#cv-top h1 {
    color: #00440a;
}

#cv-top h2 {
    color: #00440a;
}

#cvo-profile-avatar-wraper .wimg {
    border: 3px solid #00440a;
}

.bar-exp div {
    background: #00440a;
}

.icf .fa {
    color: #00440a;
}

#cv-content .head {
    color: #00440a;
    border-bottom: 2px solid #00440a;
}

#cv-right h3 {
    color: #00440a;
    border-bottom: 2px solid #00440a;
}

.exp-title {
    font-weight: bold;
    color: #00440a;
    /* padding-bottom: 10px; */
}

#sortable #box01 h3 {
    text-transform: uppercase;
    background: #00440a;
}

#cv-content #block01 .head {
    color: #00440a;
    text-transform: uppercase;
}

.icon1 {
    width: 40px;
    height: 40px;
    background: url(icon1a.png)no-repeat;
    float: right;
}

.icon2 {
    width: 40px;
    height: 40px;
    background: url(icon2a.png)no-repeat;
    float: right;
}

.icon3 {
    width: 40px;
    height: 40px;
    background: url(icon3a.png)no-repeat;
    float: right;
}

.icon4 {
    width: 40px;
    height: 40px;
    background: url(icon4a.png)no-repeat;
    float: right;
}

.icon5 {
    width: 40px;
    height: 40px;
    background: url(icon5a.png)no-repeat;
    float: right;
}

.cumic2 {
    width: 40px;
    height: 40px;
    background: url(icon6a.png)no-repeat;
    float: left;
}

.skic {
    width: 40px;
    height: 40px;
    background: url(icon7a.png)no-repeat;
    float: left;
}

.cumic4 {
    width: 40px;
    height: 40px;
    background: url(icon8a.png)no-repeat;
    float: left;
}

.cumic5 {
    width: 40px;
    height: 40px;
    background: url(icon9a.png)no-repeat;
    float: left;
}

.cumic6 {
    width: 40px;
    height: 40px;
    background: url(icon10a.png)no-repeat;
    float: left;
}

.cumic7 {
    width: 40px;
    height: 40px;
    background: url(icon11a.png)no-repeat;
    float: left;
}

#cv-top {
    width: 100%;
    height: 235px;
    background: url(hd2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 5px;
}

.footer {
    display: inline-block;
    height: 60px;
    width: 100%;
    background-color: unset;
    background: url(ft2.png);
    background-repeat: no-repeat;
    border: none;
    background-size: 100% 100%;
}

#sortable #box01 #prof {
    padding: 0;
    margin: 0;
    /* padding-top: 10px; */
    background: #e8f4e0;
}