#cv-content {
  width: 47%;
  text-align: justify;
  float: left;
  position: relative;
  left: 43px;
  z-index: 2;
  padding: 0;
  margin: 0;
  margin-top: 25px;
  padding-left: 60px;
  background: url(../ke2.png) repeat-y;
}
#cv-top {
  width: 100%;
  background: url(../top2.png) no-repeat;
  background-size: 5% 100%;
  background-position: 100% 0;
  float: left;
  /* height: 339px; */
}
#cvo-profile-avatar-wraper .wimg {
  width: 242px;
  height: 234px;
  /* position: relative; */
  background: url(../border_avt2.png) no-repeat;
  /* z-index: 1; */
}
.bar-exp div {
  float: left;
  height: 17px;
  background: url(../skill2.png) no-repeat;
}

.footer{
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-top: 293px;
  /* position: relative; */
  /* top: 0; */
  margin-top: -300px;
  background: url(../footer2.png) no-repeat;
}

.fake_img {
  width: 300px;
  height: 300px;
  position: absolute;
  background: url(../fake2.png) no-repeat;
  left: 0px;
  top: 9999px;
  margin-top: -277px;
  margin-left: -37px;
  z-index: 99;
  display: none;
}
#cv-content .cvo-block .head {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 30px;
  text-align: center;
  background-color: #f6903e;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
}
.exp-date {
  color: #f6903e;
  background-color: #fae1c7;
}
#cv-top h1 {
  padding: 0;
  margin: 0;
  font-size: 32px;
  font-family: "Roboto";
  text-transform: uppercase;
  margin-bottom: 0;
  color: #f6903e;
  font-weight: bold;
  width: 100%;
  float: left;
  padding-top: 20px;
  padding-bottom: 15px;
  margin-left: 20px;
  position: relative;
  right: 20px;
  line-height: 1;
  text-align: right;
}