.text{
	text-align: center;
	color: #409d63;
}
#lt-top{		
	color: #409d63;
	padding-top: 122px;
	text-align: center;
	font-size: 18px;
	line-height: 30px;
	position: relative;
	z-index: 99;
}
#lt-top h1{	
	text-transform: uppercase;
	font-weight:500;
	font-size: 18px;
	color:#409d63;
	margin: 0px
}
#form-letter {
    width: 790px;
    min-height: 1117px;
	float: left;	
	background: url(form3.png);
	background-size: 100% 100%;
	color:#000;
	position: relative;
}