#cv-top {
    width: 100%;
    height: 280px;
    background-image: url(hd1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}
#cv-content #block02 h3 {
  font-weight: unset;
  color: #47ab7d;
}
#cvo-profile-avatar-wraper .wimg {
    width: 170px;
    height: 170px;
    float: left;
    display: unset !important;
    border: 3px solid #47ab7d;
    border-radius: 10px;
}
.bar-exp div {
    float: left;
    height: 10px;
    background: #47ab7d;
    margin-top: 0px;
}
.bar-exp {
    background: #fff;
    height: 10px;
    float: none;
    margin-top: 0;
    margin-bottom: 0px;
    padding: 0px;
    border: 1px solid #47ab7d;
    border-radius: 5px;
}
.icf .fa {
    font-size: 20px;
    color: #47ab7d;
    margin-top: 0;
    float: none;
}
#cv-content .head {
  padding: 0;
  margin: 0;
    height: 40px;
    line-height: 40px;
    text-align: left;
    width: 98%;
    float: left;
    border-bottom: 2px solid #47ab7d;
}
#cv-content .head #cvo-experience-blocktitle {
    color: #47ab7d;
    /*float: right;
    width: 83%;*/
}
.tt-box1 {
    margin: 0 auto;
    height: 35px;
    width: 80%;
    line-height: 35px;
    background: #47ab7d;
    text-align: center;
    border-radius: 18px;
}
.ski {
    padding: 0;
    margin: 0 auto;
    height: 35px;
    width: 80%;
    line-height: 35px;
    background: #47ab7d;
    text-align: center;
    border-radius: 18px;
}
.cum {
    padding: 0;
    margin: 0 auto;
    height: 35px;
    width: 80%;
    line-height: 35px;
    background: #47ab7d;
    text-align: center;
    border-radius: 18px;
}
.icright1 {
    width: 60px;
    height: 45px;
    float: right;
    background: url(icc_03.png);
    background-position: center right;
    background-repeat: no-repeat;
  }
.icright2 {
    width: 60px;
    height: 45px;
    float: right;
    background: url(icc_07.png);
    background-position: center right;
    background-repeat: no-repeat;
}
.icright3 {
    width: 60px;
    height: 45px;
    float: right;
    background: url(icc_10.png);
    background-position: center right;
    background-repeat: no-repeat;
}
.icright4 {
    width: 60px;
    height: 45px;
    float: right;
    background: url(icc_13.png);
    background-position: center right;
    background-repeat: no-repeat;
}
.icright5 {
    width: 60px;
    height: 45px;
    float: right;
    background: url(icc_16.png);
    background-position: center right;
    background-repeat: no-repeat;
}

.footer {
    background: url(ft1.png)no-repeat;
    background-size: 100% 100%;
    float: left;
    height: 130px;
    width: 100%;
}