#cvo-profile {
    background: url(../top2_new.png) no-repeat;
}
div#prof {
    background: url(../bg_ic2.png) no-repeat;
    background-size: 17% 100%;
}
#prof .ic1 .icf {
    background: url(../date2_new.png) no-repeat;
    background-position: 50% 55%;
}
#prof .ic2 .icf {
    background: url(../sex2_new.png) no-repeat;
    background-position: 50% 55%;
}
#prof .ic3 .icf {
    background: url(../phone2_new.png) no-repeat;
    background-position: 50% 55%;
}
#prof .ic4 .icf {
    background: url(../mail2_new.png) no-repeat;
    background-position: 50% 55%;
}
#prof .ic5 .icf {
    background: url(../add2_new.png) no-repeat;
    background-position: 50% 55%;
}
.fake_img {
    background: url(../fake_avt2.png) no-repeat;
}
#cv-content .head #cvo-experience-blocktitle {
    color: #fbb040;
}
div#cv-boxtitle {
    color: #fbb040;
}
.bar-exp div {
    background: url(../skill2_new.png) no-repeat;
}
.footer {
    background: url(../footer2.png) no-repeat;
    background-position: 0 100%;
}
.ctbx .skill-name {
    background: url(../dot2.png) no-repeat;
    background-position: left;
}