 
  #box07 .box-content.err_cv_content {
      background: #0077b6;
  }

  #cv-top {
    background: url(../top2.png) no-repeat;
    background-position: 95% 0px;
  }

  #box-hvt {
   background: #0077b6;
  }

  #cv-content .exp-date {
    background: url(../time2.png) no-repeat;
    background-size: 100% 100%;
  }

  #cvo-profile-avatar-wraper .wimg {
    border: solid 3px #0077b6;
  }

  #sortable #box07 .box-content {
    background: #0077b6;
}
  #cv-content {
    border-left: solid 5px #0077b6;
   }
  
  .bar-exp div {
    background: url(../kn2.png) no-repeat;
  }

  .bar-exp {
    background: url(../skill2.png) no-repeat;
  }

  #block01 .head {border-bottom: solid 4px #0077b6;}
  #block02 .head {border-bottom: solid 4px #0077b6;}
  #block05 .head {border-bottom: solid 4px #0077b6;}
  #block03 .head {border-bottom: solid 4px #0077b6;}
  #block04 .head {border-bottom: solid 4px #0077b6;}
  
  #box03 .ski #cv-boxtitle {
      background: url(../kinang2.png) no-repeat;
      background-position: 0px center;
  }
  
  #box04 .cum #cv-boxtitle {
      background: url(../giaithuong2.png) no-repeat;
      background-position: 0px center;
  }
  
  #box05 .cum #cv-boxtitle {
      background: url(../chungchi2.png) no-repeat;
      background-position: 0px center;
  }
  
  #box06 .cum #cv-boxtitle {
      background: url(../sothich2.png) no-repeat;
      background-position: 0px center;
  }
  
  #box07 .cum #cv-boxtitle {
      background: url(../nguoithamchieu2.png) no-repeat;
      background-position: 0px center;
  }
  .ski {
    border-bottom: solid 4px #0077b6;
  }
  .cum {border-bottom: solid 4px #0077b6;}
 
  #block01 #cvo-experience-blocktitle{background: url(../hocvan2.png) no-repeat;background-position: right center;}
  #block02 #cvo-experience-blocktitle{
      background: url(../kinhnghiem2.png) no-repeat;
      background-position: right center;
  }
  #block03 #cvo-experience-blocktitle{
      background: url(../hoatdong2.png) no-repeat;
      background-position: right center;
  }
  #block04 #cvo-experience-blocktitle{
      background: url(../duan2.png) no-repeat;
      background-position: right center;
  }
  #block05 #cvo-experience-blocktitle{
      background: url(../thongtinthem2.png) no-repeat;
      background-position: right center;
  }
  .ic1 .icf {
    background: url(../sex2.png) no-repeat;
  }
  .ic2 .icf {
    background: url(../date2.png) no-repeat;
  }
  .ic3 .icf {
    background: url(../phone2.png) no-repeat;
    margin-right: 6px;
  }
  .ic4 .icf {
    background: url(../mail2.png) no-repeat;
    margin-right: 6px;
  }
  .ic5 .icf {
    background: url(../add2.png) no-repeat;
    margin-right: 6px;
  }

  #cv-right .ir #sortable #box02 {
    background: url(../chu2-3.png) no-repeat, url(../chu2-2.png) no-repeat,url(../chu2.png) no-repeat;
    background-size: 100% 27px, 100% 25px, 100% 100%;
    background-position: left top, left bottom, left top;
}