#form-cv {
    border: 25px solid #e47736;
}
#cv-top h1 {
    color: #e47736;
}
#cv-right h3, #cv-content .head {
    color: #e47736;
}
.bar-exp div {
    background: #e47736;

}
.icf .fa {
    color: #e47736;
}
#cv-content h2 {
    color: #e47736;
}

.ifoic {
    background-image: url(ic2_1.png);
}
.cumic2 {
    background-image: url(ic2_7.png);
}
.skic {
    background-image: url(ic2_8.png);
}
.cumic4 {
    background-image: url(ic2_10.png);
}
.cumic5 {
    background-image: url(ic2_9.png);

}
.cumic6 {
    background-image: url(ic2_11.png);

}
.cumic7 {
    background-image: url(ic2_12.png);
}
.sumic1 {
    background-image: url(ic2_2.png);
}
.sumic2 {
    background-image: url(ic2_3.png);
}
.sumic3 {
    background-image: url(ic2_4.png);
}
.sumic4 {
    background-image: url(ic2_5.png);
}
.sumic5 {
    background-image: url(ic2_6.png);
}
