#form-cv {
    font-family: "Roboto", sans-serif;
    width: 100%;
    float: left;
    position: relative;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

.watermark {
    float: left;
    width: 100%;
    height: 22px;
    color: #999;
    text-align: right;
    padding-right: 22px;
    font-size: 15px;
    font-family: Courier;
    background: #fff;
}

#sortable .cvo-block .box-content {
    margin: 0;
    width: 94%;
    padding-top: 15px;
    line-height: 30px;
    color: #000000;
    padding-bottom: 15px;
    padding-left: 18px;
}

.exp.content-edit.skill {
    float: left;
}

#cvo-profile {
    display: block;
}

#cv-content {
    width: 41%;
    text-align: justify;
    float: right;
    position: relative;
    padding: 0;
    margin: 0;
    margin-right: 35px;
}

#cv-profile-phone:before {
    color: #fff;
}

#cv-profile-email:before {
    color: #fff;
}

#cv-profile-address:before {
    color: #fff;
}

#cv-profile-sex:before {
    color: #fff;
}

#cv-profile-birthday:before {
    color: #fff;
}

#cv-main {
    text-align: justify;
    margin: 0;
    padding: 0;
    position: relative;
    float: left;
    width: 43.4%;
    margin-left: 35px;
}

.chuu-right {
    float: right;
    width: 57.5%;
}

.chu {
    float: left;
    width: 100%;
}

.anh {
    float: left;
    width: 39%;
    position: relative;
    z-index: 2;
    padding-top: 20px;
}

#cv-right .ir {
    padding: 0;
    margin: 0;
}

#cv-main #cv-right {
    padding: 0;
    margin: 0;
}

#cv-main #cv-right .ir #sortable {
    padding: 0;
    margin: 0;
}

#cv-right .ir #sortable .block {
    padding: 0;
    margin: 0;
    float: left;
    width: 100%;
}

p.skill-name input {
    color: #fff !important;
}

#cv-right #box03 .ctbx {
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    padding-bottom: 15px;
    float: left;
}

#cv-content #box01 {
    padding: 0;
    margin: 0;
}

#block05 div#experience-table {
    padding-bottom: 0;
}

#box07 #sortable .cvo-block .box-content {
    padding-bottom: 0;
}

#box03 .exp {
    float: left;
    padding-top: 18px;
    width: 94%;
    padding-left: 18px;
    padding-bottom: 20px;
}

#cv-top {
    float: left;
    width: 100%;
    padding-bottom: 22px;
    position: relative;
}

.all {
    float: left;
    padding-bottom: 20px;
    clear: both;
    background: #fff;
    width: 100%;
}

#cv-top h1 {
    padding: 0;
    margin: 0;
    font-size: 30px;
    font-family: "Roboto";
    line-height: 30px;
    text-transform: uppercase;
    color: #214ca3;
    padding-top: 19px;
    padding-bottom: 10px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    float: left;
}

#cv-top h1 span {
    letter-spacing: 1px;
}

div#box01 {
    float: right;
    width: 100%;
    position: relative;
    z-index: 5;
}

#box-hvt {
    float: left;
    width: 174%;
    padding: 0;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 75px;
    margin-top: 20px;
    margin-left: -336px;
    background: url(ifo.png) no-repeat;
    background-size: 100% 102%;
    position: relative;
    z-index: 1;
}

#cv-right .cvo-block .head div {
    color: #fff;
}

.innertext {
    margin: 0px;
    padding: 0px;
    width: 29%;
    float: left;
    color: white;
}

#cv-profile-fullname::before {
    color: #214ca3;
}

#cv-top h2 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    width: 100%;
    font-size: 20px;
    line-height: 20px;
    color: #214ca3;
    float: left;
    text-align: center;
}

.box-01 p {
    overflow: hidden;
}

#cv-content p {
    margin-bottom: 5px
}

#cv-content .ir a {
    color: #2ebb2f
}

#cv-right h3,
#cv-content .head {
    font-size: 20px;
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    text-align: left;
    line-height: 20px;
    padding-top: 0px;
}

#cv-content h3 {
    font-weight: unset;
    font-size: 15px;
    line-height: 24px;
    margin: 0px;
    padding: 0px;
    color: #000000;
}

#cv-content #block02 .exp-content {
    margin: 0;
    padding: 0;
}

#cv-content #block03 h3 {
    font-weight: unset;
}

#cv-content .exp-date {
    float: none;
}

#cv-content #block01 .exp-date {
    display: none;
}

#cv-content #block03 .exp-date {
    display: none;
}

#cv-content #block04 .exp-date {
    display: none;
}

#cv-content #block05 .exp-date {
    display: none;
}

#cv-content p.h3 {
    margin: 0px;
    padding: 0px;
}

#cv-content .cvo-block {
    padding: 0 !important;
    float: left;
    width: 100%;
}

#cv-content .ir .cvo-block {
    padding: 0;
    background: #fff;
}

.ctbx {
    padding-left: 10px;
    padding-right: 10px
}

#cv-content span {
    display: inline-block;
    z-index: 9999;
    padding-top: 10px;
}

#cv-content #block02 h3 {
    font-weight: bold;
    color: #000000;
    float: left;
    width: 100%;
    text-transform: unset;
}

#block02 #experience-table #exp2 {}

.ctbx {
    margin-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
    position: relative;
}

.ctbx:hover {
    box-shadow: 0 0 1px #999;
}

.ctbx:hover .fieldgroup_controls {
    display: block;
}

[cvo-form-field] {
    cursor: text;
}

#cvo-profile-avatar-wraper {
    width: 92%;
    padding: 0;
    margin: 0;
    float: left;
    display: table;
    padding-top: 65px;
    padding-left: 100px;
    padding-bottom: 49px;
    margin-left: 24px;
    background: url(ava.png) no-repeat;
}

#cvo-profile-avatar-wraper .wimg {
    width: 188px;
    height: 188px;
    float: left;
    display: unset !important;
    border: 3px solid #fff;
    border-radius: 10px;
    margin-left: -50px;
    margin-top: -16px;
}

#cvo-profile #cvo-profile-avatar-wraper img {
    width: 188px;
    height: 182px;
    border-radius: 6px !important;
    display: unset !important;
}

.box-01 {
    float: left;
    width: 100%;
}

#cvo-profile {
    display: block;
    float: left;
    width: 100%;
}

#line-seperate {
    height: 25px;
}

.bar-exp div {
    float: left;
    height: 8px;
    background: #214ca3;
    margin-top: 0px;
    border-radius: 10px;
}

.ctbx .skill-name {
    margin: 0px;
    padding: 0px;
    color: #000000;
    float: left;
    width: 100%;
}

.bar-exp {
    background: #fff;
    height: 10px;
    float: none;
    margin-top: 5px;
    margin-bottom: 0px;
    padding: 0px;
    border: 2px solid #214ca3;
    float: right;
    width: 100%;
    border-radius: 10px;
}

.bar-value-exp {
    width: 100%
}

.bar-value-exp input[type="text"] {
    color: #000000;
    width: 95%
}

.icoweb label {
    display: block;
}

#cv-right .block {
    position: relative !important;
    padding: 0;
    margin: 0;
}

.ic .icoweb {
    width: 80%;
    text-align: left;
    padding-left: 5px;
    float: left;
    color: #ffffff;
}

.ic {
    float: left;
    padding-top: 2px;
    color: #ffffff;
    padding-bottom: 5px;
}

.ic1 {
    width: 34%
}

.ic1 .icoweb {
    width: 70%;
}

.ic2 {
    width: 65%
}

.ic2 .icoweb {
    width: 74%
}

.ic3 {
    width: 100%
}

#prof span {}

#prof [contentEditable=true] {
    width: 100%;
    float: left;
}

#prof .icoweb,
#prof .icoweb span {
    height: auto;
}

div#prof {
    float: right;
    width: 59%;
}

#form-cv .icf {
    float: left;
    line-height: 20px;
    margin-bottom: 0;
    width: 26px;
    height: 20px;
    text-align: left;
}

.ic02 {
    float: right;
    width: 64%;
}

.ic03 {
    float: left;
    width: 35%;
}

.icf .fa {
    font-size: 20px;
    color: #ffffff;
    margin-top: 0;
    float: left;
}

.container {
    width: 100%;
}

.sum {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 30px;
}

#cv-right .block {
    position: relative;
    padding: 0;
    padding-bottom: 20px;
    padding-top: 15px;
}

#cv-content .head {
    padding: 0;
    margin: 0;
    /* height: 36px; */
    text-align: right;
    line-height: 36px;
    width: 100%;
    float: left;
}

#experience-table .ctbx {
    padding-bottom: 15px;
    padding-top: 15px;
    margin-bottom: 0;
    line-height: 30px;
}

.ifo {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 30px;
}

#cv-right h3 {
    width: 100%;
    height: 30px;
    margin: 0;
    color: #ffffff;
    padding: 0;
    float: left;
    line-height: 30px;
    text-align: center;
    background: #b82731;
}

#cv-content .head #cvo-experience-blocktitle {
    color: #214ca3;
    float: right;
    padding-right: 55px;
}

#experience-table #exp2 {
    /* margin-top: 10px; */
}

#exp1 .exp-content {
    padding-top: 10px;
}

#bg {
    background: #F58284;
    text-align: left;
}

div#experience-table {
    margin: 0px;
    width: 95%;
    /* padding-top: 15px; */
    /* padding-bottom: 15px; */
    float: left;
    color: #000000;
}

div#cv-boxtitle {
    font-size: 19px;
    font-weight: bold;
    text-transform: uppercase;
    color: #214ca3;
    padding-left: 54px;
}

.ski {
    padding: 0;
    margin: 0;
    /* height: 36px; */
    width: 100%;
    line-height: 36px;
    text-align: left;
}

.cum {
    padding: 0;
    margin: 0;
    /* height: 36px; */
    width: 100%;
    line-height: 36px;
    text-align: left;
}

div#sort_block {
    padding: 0;
    margin: 0;
}

.cvo-block .blockControls {
    margin: 0px;
    padding: 0px;
}

#cv-profile-job::before {
    color: #214ca3;
}

.footer {
    background: url(ft.png)no-repeat;
    background-size: 100% 100%;
    height: 60px;
    float: left;
    width: 100%;
}

#box02 .cum {
    background: url(bg_03.png)no-repeat;
    /* background-size: 100% 100%; */
    background-position: left bottom;
}

#box03 .ski {
    background: url(bg_11.png)no-repeat;
    /* background-size: 100% 100%; */
    background-position: left bottom;
}

#box04 .cum {
    background: url(bg_15.png)no-repeat;
    /* background-size: 100% 100%; */
    background-position: left bottom;
}

#box05 .cum {
    background: url(bg_17.png)no-repeat;
    /* background-size: 100% 100%; */
    background-position: left bottom;
}

#box06 .cum {
    background: url(bg_21.png)no-repeat;
    /* background-size: 100% 100%; */
    background-position: left bottom;
}

#box07 .cum {
    background: url(bg_23.png)no-repeat;
    /* background-size: 100% 100%; */
    background-position: left bottom;
}

#block01 .head {
    background: url(bg_05.png)no-repeat;
    /* background-size: 100% 100%; */
    background-position: left bottom;
}

#block02 .head {
    background: url(bg_09.png)no-repeat;
    /* background-size: 100% 100%; */
    background-position: left bottom;
}

#block03 .head {
    background: url(bg_13.png)no-repeat;
    /* background-size: 100% 100%; */
    background-position: left bottom;
}

#block04 .head {
    background: url(bg_19.png)no-repeat;
    /* background-size: 100% 100%; */
    background-position: left bottom;
}

#block05 .head {
    background: url(bg_24.png)no-repeat;
    /* background-size: 100% 100%; */
    background-position: left bottom;
}

#block01 .exp-title, #block02 .exp-title {
    font-weight: bold;
    text-transform: uppercase;
}