.bar-exp span, #cvo-profile-info,#cv-content .head span {background-color: #3e97b3!important;}
#cvo-profile-avatar-wraper, #cv-right .h3 {border-color: #3e97b3!important;}
#cv-right .h3 {color: #3e97b3!important;}