  
#cv-top h1 {
  color: #e38699;
}
#cv-top h2 {
  color: #e38699;
}
#cv-content h3 {
  color: #e38699;
}
.all {
  border-bottom: 55px solid #e38699;
} 
.bar-exp {
  border: 1px solid #e38699;

}
.icf .fa {
  color: #e38699;
}
#cv-content .head {
  color: #e38699;
}
div#cv-boxtitle {
  color: #e38699;
}
.bar-exp div {
  background: #e38699;
}
#cv-top {
  background-image: url(hd-3.png);
}

.cumicc1{
 background: url(ic1-3.png)no-repeat;
 background-position: 2px 5px;
}
.cumicc2{
 background: url(ic2-3.png)no-repeat;
 background-position: 2px 3px;
}
.cumicc3{
 background: url(ic3-3.png)no-repeat;
 background-position: 5px 6px;
}
.cumicc4{
 background: url(ic5-3.png)no-repeat;
 background-position: 5px 4px;
}
.cumicc5{
 background: url(ic7-3.png)no-repeat;
 background-position: 5px 4px;
}
.cumicc6{
 background: url(ic6-3.png)no-repeat;
 background-position: 5px 4px;
}
.cumicc7{
 background: url(ic7-3.png)no-repeat;
 background-position: 5px 4px;
}
.icright1 {
  background: url(ict1-3.png)no-repeat;
}
.icright2 {
  background: url(ict2-3.png)no-repeat;
}
.icright3 {
  background: url(ict3-3.png)no-repeat;
}
.icright4 {
  background: url(ict4-3.png)no-repeat;
}
.icright5 {
  background: url(ict5-3.png)no-repeat;
}