#box02 .box-content {
    background: #3e717f;
}

div#box02 {
    background: url(../bgr_mt2.2.png) no-repeat;
    background-size: 100% auto;
    background-position: 0px 15px;
}

#cv-top h2 {
    background: url(../line2.png) no-repeat;
    background-position: left;
}

.ic1 .icf {
    background: url(../date2.png) no-repeat;
}

.ic2 .icf {
    background: url(../sex2.png) no-repeat;
}

.ic3 .icf {
    background: url(../phone2.png) no-repeat;
}

.ic4 .icf {
    background: url(../email2.png) no-repeat;
}

.ic5 .icf {
    background: url(../address2.png) no-repeat;
}

#cv-content .head #cvo-experience-blocktitle {
    background-color: #243d39;
    background-size: auto 78%;
}

.fake_img {
    background: url(../fake_img2.png) no-repeat;
    width: 195px;
    height: 195px;
    z-index: 20;
    position: absolute;
    margin-top: -193px;
    margin-left: -1px;
    top: 207px;
}

#cv-top {
    position: relative;
    background-size: 100% 100%;
    z-index: 0;
    border-bottom-right-radius: 15px;
    background: unset;
    background-color: #dce4e9;
}

div#cv-boxtitle {
    font-size: 19px;
    font-weight: bold;
    text-transform: uppercase;
    float: left;
    width: 88%;
    text-align: left;
    background: #3e717f;
    border-radius: 20px;
    padding: 0 14px;
    margin-top: 13px;
    margin-bottom: 15px;
    color: #fff;
}

#cv-right #box03,
#cv-right #box04,
#cv-right #box05,
#cv-right #box06,
#cv-right #box07 {
    background-color: #dce4e9;
}

div#experience-table {
    margin: 0px;
    width: 100%;
    float: left;
    text-align: justify;
    padding-bottom: 15px;
    border-top: 2px solid #243d39;
    padding-top: 30px;
}

.bar-exp div {
    float: left;
    height: 16px;
    background: url(../kn2.png) no-repeat;
    background-position: right;
    margin-top: -4px;
}

#cv-right .ir {
    background: url(../p2.png) no-repeat;
    background-size: 94.5% 59%;
    background-position: right top;
}

.ft-b {
    background: url(../p2-1.png) no-repeat;
    background-position: right bottom;
}