/* l */
#cvo-profile-info {background-color: #0fce58!important;}
#cv-content .head {color: #e37a12!important;}
#cvo-profile-info {border-color: #0fce58!important;}
#cv-top {border-bottom-color: #0fce58!important;}
#cv-content .head:before {border-right-color: #0fce58!important;}
#cv-content .head:after {border-left-color: #0fce58!important;}
#cvo-profile:before {border-top-color: #0fce58!important}

/* r */
.bar-exp span,.bar-exp span:after,#cv-top {background-color: #1a703b!important;}
#cv-top:after {border-right-color: #1a703b!important}
#cv-top:before {border-top-color: #1a703b!important}
#cv-right .icoweb span.cv-hi i {color: #1a703b!important;}

/* b */
#cv-top {border-left-color: #a4e1bb!important;}
#cv-center {background-color: #a4e1bb!important;}
#cvo-profile:after {border-right-color: #a4e1bb!important;}
#cv-content .ir{border-color: #a4e1bb!important;}
