/* l */
#cvo-profile-info {background-color: #e37a12!important;}
#cv-content .head {color: #e37a12!important;}
#cvo-profile-info {border-color:#e37a12!important;}
#cv-top {border-bottom-color:#e37a12!important;}
#cv-content .head:before {border-right-color: #e37a12!important;}
#cv-content .head:after {border-left-color: #e37a12!important;}
#cvo-profile:before {border-top-color: #e37a12!important}

/* r */
.bar-exp span,.bar-exp span:after,#cv-top {background-color: #a34122!important;}
#cv-top:after {border-right-color: #a34122!important}
#cv-top:before {border-top-color: #a34122!important}
#cv-right .icoweb span.cv-hi i {color: #a34122!important;}

/* b */
#cv-top {border-left-color:#e2a86d!important;}
#cv-center {background-color: #e2a86d!important;}
#cvo-profile:after {border-right-color: #e2a86d!important;}
#cv-content .ir{border-color: #e2a86d!important;}
