#lt-top h2{
	color: #6ecdcf;
}

.box-02 i.fa{
	color: #6ecdcf;
}


div#ffoo{
	background-image: url('../../bot1.png');
	background-repeat: no-repeat;
	background-size: 100% auto;
}

#lt-top{		
	position: relative;
	background-image: url('../../bg1.png');
	background-color: #fff;
	background-position: top center;
	background-repeat: no-repeat;
	background-size: 100% auto;
}