/* 2 */

:root {
    --sex: url(sex2.png) no-repeat;
    --phone: url(phone2.png) no-repeat;
    --date: url(date2.png) no-repeat;
    --email: url(email2.png) no-repeat;
    --add: url(add2.png) no-repeat;
    --top: url(top2.png) no-repeat;
    --avt: url(avt2.png) no-repeat;
    --all: url(all2-1.png) no-repeat;
    --all1: url(all2-2.png) no-repeat;
    --color-j: #a7727d;
    --dot: url(dot2.png) no-repeat;
    --ngang: url(ngang2.png) no-repeat;
    --muctieu: url(muctieu.png) no-repeat;
    --kynang: url(kynang.png) no-repeat;
    --chungchi: url(chungchi.png) no-repeat;
    --giaithuong: url(giaithuong.png) no-repeat;
    --sothich: url(sothich.png) no-repeat;
    --thamchieu: url(thamchieu.png) no-repeat;
    --hocvan: url(hocvan.png) no-repeat;
    --kinhnghiem: url(kinhnghiem.png) no-repeat;
    --hoatdong: url(hoatdong.png) no-repeat;
    --duan: url(duan.png) no-repeat;
    --them: url(them.png) no-repeat;
    --skill: url(skill.png) no-repeat;
    --kn: url(kn.png) no-repeat;
}