#form-cv {
	font-size: 15px
}

#cv-content .head {
	font-size: 26px
}

.cum,
.ski {
	font-size: 21px;
}

#cv-content h3 {
	font-size: 15px
}

.chu h2 {
	font-size: 20px
}

.chu h1 {
	font-size: 37px;
}