/* 2 */

:root {
  --sex: url(sex2.png) no-repeat;
  --phone: url(phone2.png) no-repeat;
  --date: url(date2.png) no-repeat;
  --email: url(mail2.png) no-repeat;
  --add: url(add2.png) no-repeat;
  --top: url(top2.png) no-repeat;
  --ngang-c1: url(ngang-c2.png) no-repeat;
  --ngang-c2: url(ngang-c2.png) no-repeat;
  --muctieu: url(muctieu2.png) no-repeat;
  --hocvan: url(hocvan2.png) no-repeat;
  --kinhnghiem: url(kinhnghiem2.png) no-repeat;
  --hoatdong: url(hoatdong2.png) no-repeat;
  --duan: url(duan2.png) no-repeat;
  --TTthem: url(TTthem2.png) no-repeat;
  --fake: url(fake2.png) no-repeat;
  --page: url(page2.png) no-repeat;
  --foot: url(foot2.png) no-repeat;
  --color1: #7eaa92;
  --color2: #eae9d4;
}