#form-cv {
    font-family: "Roboto", sans-serif;
    width: 100%;
    float: left;
    position: relative;
    font-size: 14px;
    line-height: 24px;
    color: #020000;
}


/*#sortable .cvo-block {
    margin-bottom: 15px;
    margin-top: 8px;
    border: 1px solid #24400e;
    padding: 0;
    padding-bottom: 15px;
}*/

#sortable .cvo-block .box-content {
    margin: 0;
    width: 97%;
    margin-top: 15px;
    border-radius: 10px;
    color: #020000;
    padding-bottom: 22px;
    padding-left: 5px;
}

.exp.content-edit.skill {
    border-radius: 10px;
}

#box03 .exp {
    float: left;
    padding: 10px 0;
    width: 96%;
    padding-left: 10px;
    padding-bottom: 20px;
}

#cvo-profile {
    display: block;
}

.chu {
    float: right;
    width: 55%;
}

#cv-content {
    width: 52%;
    text-align: justify;
    float: right;
    position: relative;
    padding: 0;
    margin: 0;
    margin-right: 15px;
    padding-top: 53px;
}

#cv-main {
    text-align: justify;
    margin: 0;
    padding: 0;
    position: relative;
    float: left;
    width: 40.5%;
    margin-left: 15px;
}

#cv-right .ir {
    padding: 0;
    margin: 0;
}

#cv-main #cv-right {
    padding: 0;
    margin: 0;
}

#cv-main #cv-right .ir #sortable {
    padding: 0;
    margin: 0;
}

#cv-right .ir #sortable .block {
    padding: 0;
    margin: 0;
    float: left;
    width: 100%;
}

p.skill-name input {
    color: #fff !important;
}

#cv-right #box03 .ctbx {
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    float: left;
}

#cv-top {
    width: 100%;
    height: 280px;
    background-image: url(hd.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}

.all {
    float: left;
    clear: both;
    width: 100%;
    background: url(main.png)no-repeat;
    background-size: 100% 100%;
}

#cv-top h1 {
    padding: 0;
    margin: 0;
    font-size: 34px;
    font-family: "Roboto";
    line-height: 34px;
    text-transform: uppercase;
    margin-bottom: 0;
    color: #fff;
    font-weight: bold;
    text-align: center;
    width: 100%;
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
}

#cv-top h1 span {
    letter-spacing: 1px;
}

#box-hvt {
    float: left;
    width: 61%;
    padding: 0;
    margin: 0;
    padding-top: 125px;
    margin-left: 30px;
}

#cv-right .cvo-block .head div {
    color: #fff;
}

.innertext {
    margin: 0px;
    padding: 0px;
    width: 29%;
    float: left;
    color: white;
}

#cv-top h2 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    width: 100%;
    font-size: 16px;
    line-height: 16px;
    color: #fff;
    text-align: center;
    font-weight: unset;
    float: left;
    padding-top: 54px;
}

.box-01 p {
    overflow: hidden;
}

#cv-content p {
    margin-bottom: 5px
}

#cv-content .ir a {
    color: #2ebb2f
}

#cv-right h3,
#cv-content .head {
    font-size: 20px;
    text-transform: uppercase;
    color: #020000;
    font-weight: bold;
    text-align: left;
    line-height: 20px;
    padding-top: 0px;
}

#cv-content h3 {
    font-size: 14px;
    line-height: 24px;
    font-weight: unset;
    margin: 0px;
    padding: 0px;
    color: #020000;
}

#cv-content #block02 .exp-content {
    margin: 0;
    padding: 0;
}

#cv-content #block03 h3 {
    font-weight: unset;
}

#cv-content .exp-date {
    float: none;
}

#cv-content #block01 .exp-date {
    display: none;
}

#cv-content #block03 .exp-date {
    display: none;
}

#cv-content #block04 .exp-date {
    display: none;
}

#cv-content #block05 .exp-date {
    display: none;
}

#cv-content p.h3 {
    margin: 0px;
    padding: 0px;
}

#cv-content .cvo-block {
    padding: 0 !important;
    float: left;
    width: 100%;
}

#cv-content .ir .cvo-block {
    padding: 0;
}

.ctbx {
    padding-left: 10px;
    padding-right: 10px
}

#cv-content span {
    display: inline-block;
    z-index: 9999;
}

#block02 #experience-table #exp1 .exp-title {
    float: left;
    color: #3a4c70;
}

#block02 #experience-table #exp2 .exp-title {
    float: left;
    color: #3a4c70;
}

#block02 #experience-table #exp3 .exp-title {
    float: left;
    color: #3a4c70;
}

#cv-content #block02 h3 {
    font-weight: bold;
    color: #3a4c70;
    text-transform: unset;
    float: left;
    width: 100%;
}

.ctbx {
    margin-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
    position: relative;
}

.ctbx:hover {
    box-shadow: 0 0 1px #999;
}

.ctbx:hover .fieldgroup_controls {
    display: block;
}

[cvo-form-field] {
    cursor: text;
}

#cvo-profile-avatar-wraper {
    width: 25%;
    height: auto;
    padding: 0;
    margin: 0;
    float: left;
    display: table;
    padding-top: 55px;
    padding-left: 70px;
}

#cv-profile-fullname::before {
    color: #020000;
}

#cv-profile-sex::before {
    color: #020000;
}

#cv-profile-birthday::before {
    color: #020000;
}

#cv-profile-address::before {
    color: #020000;
}

#cv-profile-email::before {
    color: #020000;
}

#cv-profile-phone::before {
    color: #020000;
}

#cvo-profile-avatar-wraper .wimg {
    width: 185px;
    height: 185px;
    float: left;
    display: unset !important;
    border: 3px solid #cccccc;
}

#cvo-profile-avatar-wraper img {
    width: 185px;
    height: 185px;
    float: none;
}

.box-01 {
    float: left;
    width: 100%;
    height: auto;
}

#cvo-profile {
    display: block;
    float: left;
    width: 100%;
    height: auto;
}

#line-seperate {
    height: 25px;
}

.bar-exp div {
    float: left;
    height: 8px;
    background: #3a4c70;
    margin-top: 0px;
    border-radius: 10px;
}

.ctbx .skill-name {
    margin: 0px;
    padding: 0px;
    color: #020000;
    float: left;
    width: 100%;
}

.bar-exp {
    background: #acacac;
    height: 8px;
    float: none;
    margin-top: 5px;
    margin-bottom: 0px;
    border-radius: 10px;
    /*border:1px solid #3a4c70;*/
    padding: 0px;
    float: right;
    width: 100%;
}

.bar-value-exp {
    width: 100%
}

.bar-value-exp input[type="text"] {
    color: #020000;
    width: 95%
}

.icoweb label {
    display: block;
}


/*#sortable .icoweb {
  width: 87%;
  height: 30px;
  line-height: 30px;
  float: right;
  padding-left: 5px;
  margin-bottom: 0;
  color: #fff;
}*/

#cv-right .block {
    position: relative !important;
    padding: 0;
    margin: 0;
}

.ic .icoweb {
    width: 88%;
    text-align: left;
    padding-left: 15px;
    float: left;
    color: #020000;
    margin: 0;
}

.ic {
    width: 96%;
    float: right;
    color: #020000;
    padding-bottom: 5px;
}

#prof span {}

#prof [contentEditable=true] {
    width: 100%;
    float: left;
}

#prof .icoweb,
#prof .icoweb span {
    height: auto;
}

div#prof {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
}

#form-cv .icf {
    float: left;
    margin-bottom: 0;
    width: 23px;
    text-align: left;
    margin: 0;
    padding: 0;
}

.icf .fa {
    font-size: 20px;
    color: #3a4c70;
    margin-top: 0;
    float: left;
}

.container {
    width: 100%;
}

.sum {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 30px;
}

#cv-right .block {
    margin-bottom: 10px;
    position: relative;
    padding: 0;
    padding-bottom: 20px;
}

#cv-content .head {
    padding: 0;
    margin: 0;
    height: 35px;
    line-height: 35px;
    text-align: left;
    width: 100%;
    float: left;
}

#experience-table .ctbx {}

.ifo {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 30px;
}

#cv-right h3 {
    width: 100%;
    height: 30px;
    margin: 0;
    color: #3a4c70;
    padding: 0;
    float: left;
    line-height: 30px;
    text-align: center;
}

#cv-content .head #cvo-experience-blocktitle {
    color: #fff;
    float: left;
    width: 82%;
    padding-left: 58px;
}

#experience-table #exp2 {
    margin-top: 10px;
}

#exp1 .exp-content {}


/*#icon{
    width: 30px;
    height: 30px;
    background: url(icon1.png)no-repeat;
    float: left;
    border-bottom: 2px solid #fff;
}*/

div#experience-table {
    margin: 0px;
    width: 96%;
    padding-top: 20px;
    padding-bottom: 15px;
    float: left;
    color: #020000;
    padding-left: 15px;
}


/*.tt-box1 {
    height: 35px;
    width: 100%;
    line-height: 35px;
    border-radius: 20px;
}*/

div#cv-boxtitle {
    font-size: 19px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    padding-left: 60px;
}

.ski {
    padding: 0;
    margin: 0;
    height: 53px;
    width: 100%;
    line-height: 35px;
    text-align: left;
}

.cum {
    padding: 0;
    margin: 0;
    height: 53px;
    width: 100%;
    line-height: 35px;
    text-align: left;
}

#box02 .cum {
    background: url(bg_03.png)no-repeat;
    background-size: 100% 100%;
}

#box03 .ski {
    background: url(bg_10.png)no-repeat;
    background-size: 100% 100%;
}

#box04 .cum {
    background: url(bg_16.png)no-repeat;
    background-size: 100% 100%;
}

#box05 .cum {
    background: url(bg_20.png)no-repeat;
    background-size: 100% 100%;
}

#box06 .cum {
    background: url(bg_23.png)no-repeat;
    background-size: 100% 100%;
}

#box07 .cum {
    background: url(bg_25.png)no-repeat;
    background-size: 100% 100%;
}

#block01 .head {
    background: url(bg_07.png)no-repeat;
    background-size: 100% 100%;
}

#block02 .head {
    background: url(bg_12.png)no-repeat;
    background-size: 100% 100%;
}

#block03 .head {
    background: url(bg_15.png)no-repeat;
    background-size: 100% 100%;
}

#block04 .head {
    background: url(bg_21.png)no-repeat;
    background-size: 100% 100%;
}

#block05 .head {
    background: url(bg_27.png)no-repeat;
    background-size: 100% 100%;
}

.footer {
    background: url(ft.png)no-repeat;
    background-size: 100% 100%;
    height: 80px;
    float: left;
    width: 100%;
}

div#sort_block {
    padding: 0;
    margin: 0;
}

.cvo-block .blockControls {
    margin: 0px;
    padding: 0px;
}

.watermark {
    float: left;
    width: 100%;
    height: 22px;
    color: #000;
    text-align: right;
    padding-right: 22px;
    font-size: 15px;
    font-family: Courier;
    padding-top: 55px;
}