#cvo-profile {
    background: url(../fake3.png) no-repeat;
    background-position: top;
}

.fake_img {
    background: url(../fake3.png)no-repeat;
    background-size: 100% 100%;
}

#cv-top h2 {
    color: #e5b552;
}

.bar-exp {
    background: url(../skill.png) no-repeat;
}

.bar-exp div {
    background: url(../kn3.png) no-repeat;
}

#cv-content .head {
    background: url(../tt3.png) no-repeat;
    background-size: 100% 100%;
}

#cv-content .exp-date {
    color: #ffd274;
}

/* #box04 .box-content, #box05 .box-content, #box06 .box-content {
    background: url(../gach3.png) no-repeat;
    background-position: 2px 17px;
} */

.footer {
    background: url(../foot3.png) no-repeat;
}

img#cvo-profile-avatar {
    left: 1px;
}