#cv-right h3 .wfa, #cv-content .head .wfa, .bar-exp div{
	background: #692123
}
#cv-right h3, #cv-content .head{
	border-bottom: solid 2px #692123;
}
#cvo-profile-avatar-wraper .wimg{
	border-top: solid 2px #692123;
}